<div class="hospital-application first-medical-application"
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/hospitalApplication/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData')"
     alert-error
     ng-init="formData.validFlag=false">

   <div class="header-info relative mgb-l">
     <p class="pdb-s pdt-s crumbs pd-c-xxl">管理中心 >
       <a href="#/hospitalApplication/query.html">
          <em class="color-custom-orange">客户管理</em>
       </a>
      <em>>医院资格申请</em>
     </p>
     <div class="pd-c-xxl pdt-l pdb-l">
       <!-- 标题 -->
       <div class="mgb-l">
         <h1 class="color-black pr-font-20">医院资格申请</h1>
       </div>
     </div>
   </div>
  <!-- 主体内容 -->
  <div class="content-wrapper ">
    <!-- 添加流程导航 -->
    <div
    step-flow-arrow-show
    step-flow-arrow-json=
  '[{"arrowText":"基本信息","className":"active"},
    {"arrowText":"申请原因","className":"unactive"},
    {"arrowText":"添加审核资料","className":"unactive"}]'>
    </div>
    <div class="content-wrapper-main mgt">
      <form class="form-horizontal"
            id="hospital-editForm"
            name="hospitalEditForm"
            form-validator
            parameter-body
            action="rest/authen/hospitalApplication/saveBaseInfo"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="submitFormAfter('#/hospitalApplication/edit-step-2.html');watchFormChange('formData')">


        <!-- 单号 -->
        <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
          <span class="flex-item-11">单据编号：<em class="color-6">{{formData.orderNo || '暂无'}}</em></span>
          <span class="flex-item-1 text-right">
            状态：<em class="color-black">{{formData.orderStatus}}</em>
          </span>
        </div>
        <!-- 基本信息 -->
        <div class="panel pr-panel pr-panel-height mgb">
            <h1 class="mgb-m mgt color-black text-bold text-n">基本信息</h1>
            <div class="bt-dashed-line pd-v-m">
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">医院名称：</label>
                <div class="flex-item-11 text-left">
                  <input type="text"
                         class="ipt ipt-new"
                         name="hospitalName"
                         ng-model="formData.hospital.name"
                         required
                         data-content="* 必填字段"
                         invalid-popover="{{!hospitalEditForm.hospitalName.$valid}}">
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">医院系统编号：</label>
                <div class="flex-item-11 text-left">
                  <input type="text"
                         class="ipt ipt-new"
                         name="systemNumber"
                         ng-model="formData.hospital.systemNumber"
                         required
                         data-content="* 必填字段"
                         invalid-popover="{{!hospitalEditForm.systemNumber.$valid}}">
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">经营性质：</label>
                <div class="flex-item-11 text-left">
                  <select class="ipt-new" name="" ng-model="formData.hospital.managementType" chosen select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_HospitalManagementType">

                  </select>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">法人代表：</label>
                <div class="flex-item-11 text-left">
                    <input type="text" class="ipt ipt-new" ng-model="formData.hospital.legalRepresentative">
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">地址：</label>
                <div class="flex-item-11 text-left">
                  <input type="text" class="ipt-new" ng-model="formData.hospital.address">
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">级别：</label>
                <div class="flex-item-11 text-left">
                  <select ng-if="initFlag" class="ipt-new"
                          ng-model="formData.hospital.level"
                          name="level"
                          chosen
                          select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_HospitalLevel"
                          relative-select relative-initload relative-to="#hospitalGrade">
                  </select>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">等级：</label>
                <div class="flex-item-11 text-left">
                  <select ng-if="initFlag" id="hospitalGrade"
                          class="ipt-new"
                          name="grade"
                          ng-model="formData.hospital.grade"
                          relative-select="rest/authen/hospitalApplication/queryHospitalGradeForSelectOption" select-first>
                  </select>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">座机：</label>
                <div class="flex-item-11 text-left">
                <input type="text" class="ipt-new" ng-model="formData.hospital.hospitalTel">
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">邮编：</label>
                <div class="flex-item-11 text-left">
                <input type="text" class="ipt-new" ng-model="formData.hospital.zipCode">
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">执业许可证号：</label>
                <div class="flex-item-11 text-left">
                  <input type="text" class="ipt-new" ng-model="formData.hospital.practiceLicenseNo">
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">有效期至：</label>
                  <div class="date-icon-outside col-sm-3">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt color-6 mgr pr-indent-10"
                           ng-readonly="true"
                           ng-model="formData.hospital.guaranteePeriod"
                           placeholder="有效日期至">
                    <span class="date-icon"></span>
                  </div>
              </div>
            </div>
            <div class="pd-v-m bt-dashed-line">
              <!-- <h3 class="color-black pr-indent-10 pd-v text-bold mgb-m">医院采购员信息：</h3> -->
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">采购员/身份证号：</label>
                <div class="flex-item-11">
                  <input type="text" class="ipt flex-item-1" ng-model="formData.hospital.purchaserName" />
                  <input type="text"
                         name="purchaserIdentityNo"
                         class="ipt flex-item-2 mgl-s"
                         style="width:200px;"
                         ng-model="formData.hospital.purchaserIdentityNo"
                         ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/"
                         data-content="身份证号码格式有误!"
                         invalid-popover="{{!hospitalEditForm.purchaserIdentityNo.$valid}}" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">座机：</label>
                <div class="flex-item-11 text-left">
                <input type="text" class="ipt-new" ng-model="formData.hospital.purchaserTel">
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">E-mail：</label>
                <div class="flex-item-11 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="hospitalEmail"
                         ng-model="formData.hospital.email"
                         ng-pattern="/^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z0-9]+$/"
                         data-content="Email格式有误!"
                         invalid-popover="{{!hospitalEditForm.hospitalEmail.$valid}}" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-1 text-right control-label">手机：</label>
                <div class="flex-item-11 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="purchaserPhone"
                         ng-model="formData.hospital.purchaserPhone"
                         ng-pattern="/^1(3|4|5|7|8)\d{9}$/"
                         data-content="手机号码格式有误!"
                         invalid-popover="{{!hospitalEditForm.purchaserPhone.$valid}}" />
                </div>
              </div>
            </div>
          </div>

        <div class="color-black mgt-l mgb-l">
          <p>
            <p class="pr-font-14">说明：</p>
            <p>1.品种资质必须加供货企业红色原公章；</p>
            <p>2.采购人员按要求向供货商(生产企业／经营企业)所要并和事资质的真实合法性，并如实填写本表；</p>
          </p>
        </div>
        <!-- 功能按钮 -->
        <div class="handle-btn-area">
          <div class="btn-area" style="background:rgba(54,48,44,0.30);">
          <span class="mgl mgt">
            <a   ng-if="changeFlag"  href="javascript:;"
               handle-this-click
               dialog-title="确认返回?"
               dialog-content="该申请单存在未保存数据，是否保存?"
               dialog-template="pr-dialog-return.html"
               nosave-callback="goTo('#/hospitalApplication/query.html')"
               save-callback="submitForm('editForm','exit')">返回申请单列表</a>

            <a ng-if="!changeFlag" href="#/hospitalApplication/query.html">返回申请单列表</a>
          </span>
          <span class="mgl mgt">
            <a ng-if="formData.id && formData.proposerName==mainStatus.name"
               href="javascript:;"
               class="color-red"
               handle-this-click
               dialog-title="确认删除?"
               dialog-content="删除后将无法恢复,确认删除?"
               dialog-template="pr-dialog-submit.html"
               callback="$root.goTo('#/hospitalApplication/query.html')"
               params='{"id":formData.id}'
               request-url="rest/authen/hospitalApplication/delete">删除</a>
          </span>
          <span class="mgl mgt">
            <button class="pr-btn-save-glodbg"
                    ng-disabled="!changeFlag "
                    ng-click="submitForm('hospital-editForm','save')">保存
            </button>
          </span>
          <span class="mgl mgt">
            <button class="pr-btn-save-glodbg"
                    ng-disabled="hospitalEditForm.$invalid"
                    ng-click="submitForm('hospital-editForm','submit')">下一步
            </button>
          </span>
        </div>
      </div>
      </form>
    </div>

  </div>
</div>
