<div class="index-purchase-personal-info flex-column text-center">
  <!-- 左侧 -->
  <div class="flex-item-5">
    <!-- 入库统计分析 -->
    <div class="panel pr-panel pr-panel-height mgr-l pd-n pr-fuzzy-boundary flex-column pr-color">
      <!-- 左侧标题 -->
      <div class="flex-item-3 br-line"
           ajax-url="rest/authen/arrivalNoticeOrder/countByOrderStatus4Index?dateRangeType=year&isOnlyCurrentUser=false&userId={{purchase_userId}}&isOnlyCurrentDepartment=false"
           scope-data="arrivalNoticeOrder_countByOrderStatus">
        <div class="item-left-title-3 pr-line-height bb-dashed-line">
          <a  class="pr-color" href="#/arrivalNoticeOrder/query.html?orderStatus=未提交">
            <p class="relative">
              <span class="pr-icon-bg38 relative">
                <i class="pj-badge text-normal" style="right:-12px;" ng-if='arrivalNoticeOrder_countByOrderStatus["未提交"]'>{{arrivalNoticeOrder_countByOrderStatus["未提交"]}}</i>
              </span>
            </p>
            <p>未提交</p>
          </a>
        </div>
        <div class="item-left-title-3 pr-line-height bb-dashed-line">
          <a  class="pr-color" href="#/arrivalNoticeOrder/query.html?orderStatus=待入库">
            <p class="relative">
              <span class="pr-icon-bg39 relative">
                <i class="pj-badge text-normal" style="right:-12px;" ng-if='arrivalNoticeOrder_countByOrderStatus["待入库"]'>{{arrivalNoticeOrder_countByOrderStatus["待入库"]}}</i>
              </span>
            </p>
            <p>待入库</p>
          </a>
        </div>
        <div class="item-left-title-3 pr-line-height">
          <a  class="pr-color" href="#/arrivalNoticeOrder/query.html?orderStatus=入库中">
            <p class="relative">
              <span class="pr-icon-bg37 relative">
                <i class="pj-badge text-normal" style="right:-12px;" ng-if='arrivalNoticeOrder_countByOrderStatus["入库中"]'>{{arrivalNoticeOrder_countByOrderStatus["入库中"]}}</i>
              </span>
            </p>
            <p>入库中</p>
          </a>
        </div>
      </div>
      <!-- 右侧内容 -->
      <div class="flex-item-9"
           ajax-url="rest/authen/arrivalNoticeOrder/countByOrderStatus4Index.json?dateRangeType=&isOnlyCurrentUser=false&userId={{purchase_userId}}&isOnlyCurrentDepartment=false"
           scope-response="arr_countByOrderStatus4Index_today"
           callback="arr_countByOrderStatus4Index_today_parent=(arr_countByOrderStatus4Index_today.data['已完成']/arr_countByOrderStatus4Index_today.totalCount*100)">
        <h4 class="bb-line pd-v-m pr-panel-title-color">成员入库统计分析</h4>
        <div class="flex-column">
          <div class="flex-item-6 br-line">
            <div class="flex-column pd-v-xl color-6">
              <div class="flex-item-6">
                <p class="text-s">总来货通知单</p>
                <p class="pr-color text-l">
                  <a class="pr-color" href="#/arrivalNoticeOrder/query.html">{{arr_countByOrderStatus4Index_today.totalCount}}</a>
                </p>
              </div>
              <div class="flex-item-6">
                <p class="text-s">已完成</p>
                <p class="pr-color text-l">
                  <a class="pr-color" href="#/salesOrder/query.html?orderStatus=已完成">{{arr_countByOrderStatus4Index_today.data['已完成']}}</a>
                </p>
              </div>
            </div>
            <div class="pr-easypiechart text-center">
             <div easypiechart options="easypiechart_options"  percent="arr_countByOrderStatus4Index_today_parent">
               <span class="color-6">
                 <h1 class="text-center">{{arr_countByOrderStatus4Index_today_parent ||'0'| number:0}}%</h1>
                 <p class="text-s">入库完成率</p>
               </span>
             </div>
            </div>
          </div>
          <div class="flex-item-6 pdt-xl">
            <div chart="{{mainConfig.serverPath}}rest/authen/arrivalNoticeOrder/countByOrderStatus4Echarts?dateType=all&isOnlyCurrentDepartment=false&isOnlyCurrentUser=false&userId={{purchase_userId}}"
                  style="height:189px;">
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 付款统计分析 -->
    <div class="panel pr-panel pr-panel-height mgr-l pd-n pr-fuzzy-boundary flex-column pr-color">
      <!-- 左侧标题 -->
      <div class="flex-item-3 br-line"
           ajax-url="rest/authen/purchasePayOrder/countByOrderStatus.json"
           scope-data="purchasePayOrder_countByOrderStatus">
        <div class="item-left-title-2 pr-line-height bb-dashed-line">
          <a  class="pr-color" href="#/purchasePayOrder/query.html?orderStatus=待批款">
            <p class="relative">
              <span class="pr-icon-bg31 relative">
                <i class="pj-badge text-normal" style="right:-12px;" ng-if='purchasePayOrder_countByOrderStatus["待批款"]'>{{purchasePayOrder_countByOrderStatus["待批款"]}}</i>
              </span>
            </p>
            <p>待批款</p>
          </a>
        </div>
        <div class="item-left-title-2 pr-line-height">
          <a  class="pr-color" href="#/purchasePayOrder/query.html?orderStatus=待付款">
            <p class="relative">
              <span class="pr-icon-bg33 relative">
                <i class="pj-badge text-normal" style="right:-12px;" ng-if='purchasePayOrder_countByOrderStatus["待付款"]'>{{purchasePayOrder_countByOrderStatus["待付款"]}}</i>
              </span>
            </p>
            <p>待付款</p>
          </a>
        </div>
      </div>
      <!-- 右侧内容 -->
      <div class="flex-item-9"
           ajax-url="rest/authen/purchaseOrder/countByOrderStatus"
           scope-response="purchasePay_countByOrderStatus4Index_today"
           callback="purchasePay_countByOrderStatus4Index_today_parent=(purchasePay_countByOrderStatus4Index_today.data['已完成']/purchasePay_countByOrderStatus4Index_today.totalCount*100)">
        <h4 class="bb-line pd-v-m pr-panel-title-color">成员付款统计分析</h4>
        <div class="flex-column">
          <div class="flex-item-6 br-line">
            <div class="flex-column pd-v-xl color-6">
              <div class="flex-item-6">
                <p class="text-s">总采购单</p>
                <p class="pr-color text-l">
                  <a class="pr-color" href="#/purchaseOrder/query.html">{{purchasePay_countByOrderStatus4Index_today.totalCount}}</a>
                </p>
              </div>
              <div class="flex-item-6">
                <p class="text-s">已付款采购单</p>
                <p class="pr-color text-l">
                  <a class="pr-color" href="#/purchaseOrder/query.html?orderStatus=已完成">{{purchasePay_countByOrderStatus4Index_today.data['已完成']}}</a>
                </p>
              </div>
            </div>
            <div class="pr-easypiechart text-center">
             <div easypiechart options="easypiechart_options"  percent="purchasePay_countByOrderStatus4Index_today_parent">
               <span class="color-6">
                 <h1 class="text-center">{{purchasePay_countByOrderStatus4Index_today_parent ||'0'| number:0}}%</h1>
                 <p class="text-s">付款率</p>
               </span>
             </div>
            </div>
          </div>
          <div class="flex-item-6 pdt-xl">
            <div chart="{{mainConfig.serverPath}}rest/authen/purchaseOrder/countByOrderStatus4Echarts?dateType=all&isOnlyCurrentDepartment=false&isOnlyCurrentUser=false&userId={{purchase_userId}}"
                  style="height:189px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 右侧 -->
  <div class="flex-item-7">
    <div class="panel pr-panel pr-panel-height pd-n pr-fuzzy-boundary">
      <!-- top -->
      <div class="flex-column bb-line">
        <!-- 标题 -->
        <div class="flex-item-2 br-line"
             ajax-url="rest/authen/purchaseOrder/countByOrderStatus.json"
             scope-data="purchaseOrder_countByOrderStatus">
          <div class="item-left-title-3 pr-line-height bb-dashed-line">
            <a class="pr-color" href="#/purchaseOrder/query.html?orderStatus=未提交">
              <p class="relative">
                <span class="pr-icon-bg32 relative">
                  <i class="pj-badge text-normal" style="right:-12px;" ng-if='purchaseOrder_countByOrderStatus["未提交"]'>{{purchaseOrder_countByOrderStatus["未提交"]}}</i>
                </span>
              </p>
              <p>未提交</p>
            </a>
          </div>
          <div class="item-left-title-3 pr-line-height bb-dashed-line">
            <a class="pr-color" href="#/purchaseOrder/query.html?orderStatus=待采购">
              <p class="relative">
                <span class="pr-icon-bg18 relative">
                  <i class="pj-badge text-normal" style="right:-12px;" ng-if='purchaseOrder_countByOrderStatus["待采购"]'>{{purchaseOrder_countByOrderStatus["待采购"]}}</i>
                </span>
              </p>
              <p>待采购</p>
            </a>
          </div>
          <div class="item-left-title-3 pr-line-height">
            <a class="pr-color" href="#/purchaseOrder/query.html?orderStatus=待发货">
              <p class="relative">
                <span class="pr-icon-bg34 relative">
                  <i class="pj-badge text-normal" style="right:-12px;" ng-if='purchaseOrder_countByOrderStatus["待发货"]'>{{purchaseOrder_countByOrderStatus["待发货"]}}</i>
                </span>
              </p>
              <p>待发货</p>
            </a>
          </div>
        </div>
        <!-- 今日采购 -->
        <div class="flex-item-3 br-line"
             ajax-url="rest/authen/purchaseOrder/countByOrderStatus4Index?dateRangeType=today&isOnlyCurrentUser=false&userId={{purchase_userId}}&isOnlyCurrentDepartment=false"
             scope-response="purchaseOrder_countByOrderStatus4Index_today"
             callback="purchaseOrderr_countByOrderStatus4Index_today_parent=(purchaseOrder_countByOrderStatus4Index_today.data['已完成']/purchaseOrder_countByOrderStatus4Index_today.totalCount*100)">
          <h4 class="bb-line pd-v-m pr-panel-title-color">成员今日采购统计</h4>
          <div class="color-6">
            <div class="bb-dashed-line index-module-item-2">
              <p class="mgb-s">今日新增采购单</p>
              <p class="pr-font-20 pr-color">
                <a class="pr-color" href="#/purchaseOrder/query.html">{{purchaseOrder_countByOrderStatus4Index_today.totalCount}}</a>
              </p>
            </div>
            <div class="index-module-item-2"
                 ajax-url="rest/authen/purchaseOrder/countPriceByCreateAt4Index?dateRangeType=today&isOnlyCurrentUser=false&userId={{purchase_userId}}&isOnlyCurrentDepartment=false"
                 scope-data="purchaseOrder_countByOrderStatus4Index_today_total">
              <p class="mgb-s">采购总金额</p>
              <p class="pr-font-20 color-red">￥{{purchaseOrder_countByOrderStatus4Index_today_total.totalPrice | number: 2}}</p>
            </div>
          </div>
        </div>
        <!-- 采购单分析 -->
        <div class="flex-item-7">
          <h4 class="bb-line pd-v-m pr-panel-title-color flex-column">
            <span class="flex-item-8">成员采购单分析</span>
            <span class="flex-item-4 relative">

              <select ng-init="purchaseOrder_dateRangeType='today'" ng-model="purchaseOrder_dateRangeType" class="select pr-select pr-select-sm" style="width:80px;position:absolute;top:-5px;right:10px;">
                <option value="today">今天</option>
                <option value="recent7day">最近7天</option>
                <option value="recent30day">最近30天</option>
              </select>

            </span>
          </h4>
          <div class="flex-column">
            <div class="flex-item-6 br-dashed-line index-module-list"
                 ajax-url="rest/authen/purchaseOrder/countDeliveryPlusByCreateAt4Index?dateRangeType={{purchaseOrder_dateRangeType}}&isOnlyCurrentUser=false&userId={{purchase_userId}}&isOnlyCurrentDepartment=false"
                 scope-data="purchaseOrder_countByOrderStatus4Index_week_total">
              <div class="bb-dashed-line index-module-item-2">
                <p class="mgb-s">普通采购单</p>
                <p class="pr-font-20 pr-color">
                  <a class="pr-color" href="#/purchaseOrder/query.html">{{purchaseOrder_countByOrderStatus4Index_week_total['普通']}}</a>
                </p>
              </div>
              <div class="index-module-item-2"
                   >
                <p class="mgb-s">冷链采购单</p>
                <p class="pr-font-20 pr-color">
                  <a class="pr-color" href="#/purchaseOrder/query.html">{{purchaseOrder_countByOrderStatus4Index_week_total['冷链']}}</a>
                </p>
              </div>
            </div>
            <div class="flex-item-6"
                 ajax-url="rest/authen/purchaseOrder/countByOrderStatus4Index?dateRangeType={{purchaseOrder_dateRangeType}}&isOnlyCurrentUser=false&userId={{purchase_userId}}&isOnlyCurrentDepartment=false"
                 scope-response="purchaseOrder_countByOrderStatus4Index_week"
                 callback="purchaseOrderr_countByOrderStatus4Index_week_parent=(purchaseOrder_countByOrderStatus4Index_week.data['已完成']/purchaseOrder_countByOrderStatus4Index_week.totalCount*100)">
              <div class="flex-column pd-v-xl">
                <div class="flex-item-6">
                  <p class="text-s">总采购单</p>
                  <p class="pr-color text-l">
                    <a class="pr-color" href="#/purchaseOrder/query.html">{{purchaseOrder_countByOrderStatus4Index_week.totalCount}}</a>
                  </p>
                </div>
                <div class="flex-item-6">
                  <p class="text-s">已完成采购单</p>
                  <p class="pr-color text-l">
                    <a class="pr-color" href="#/purchaseOrder/query.html?orderStatus=已完成">{{purchaseOrder_countByOrderStatus4Index_week.data['已完成']}}</a>
                  </p>
                </div>
              </div>
              <div class="pr-easypiechart text-center">
               <div easypiechart options="easypiechart_options"  percent="purchaseOrderr_countByOrderStatus4Index_week_parent">
                 <span>
                   <h1 class="text-center">{{purchaseOrderr_countByOrderStatus4Index_week_parent ||'0'| number:0}}%</h1>
                   <p class="text-s">回款率</p>
                 </span>
               </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 线型图 -->
      <div class="">
        <div class="pd-c-l pdt-m flex-column">
          <h4 class="flex-item-4 l-h-25 mgt pr-panel-title-color">采购额同期比较</h4>
          <div class="flex-item-8 text-right">
            <!-- <span class="mgr"><i class="chart-tip-icon pr-icon-bg-green"></i> 今年</span>
            <span><i class="chart-tip-icon pr-icon-bg-grey"></i> 去年</span> -->


            <div class="btn btn-group">
              <select ng-init="purchaseOrder_countPriceGroupByCreateAt4Echarts_dateRangeType='today'"
               ng-model="purchaseOrder_countPriceGroupByCreateAt4Echarts_dateRangeType" class="select pr-select pr-select-sm" style="width:90px;">
                <option value="today">今天</option>
                <option value="recent7day">最近7天</option>
                <option value="recent30day">最近30天</option>
              </select>
              <!-- <button type="button" class="btn pr-btn-transparentbg pr-btn-bg-gold bd-radius-14">日</button>
              <button type="button" class="btn pr-btn-transparentbg pr-btn-bg-white bd-radius-14">月</button>
              <button type="button" class="btn pr-btn-transparentbg pr-btn-bg-white bd-radius-14">季度</button>
              <button type="button" class="btn pr-btn-transparentbg pr-btn-bg-white bd-radius-14">年</button> -->
            </div>
          </div>
        </div>
        <div chart="rest/authen/purchaseOrder/countPriceGroupByCreateAt4Echarts?dateRangeType={{purchaseOrder_countPriceGroupByCreateAt4Echarts_dateRangeType}}&isOnlyCurrentUser=false&userId={{purchase_userId}}" style="height:275px;"></div>
      </div>
    </div>
  </div>
</div>
