<div class="index-order-create">
  <!-- 标题 -->
  <div class="index-order-create-title pr-index-line-title flex-column">
    <span class="flex-item-5"></span>
    <span class="flex-item-2">采购辅助信息</span>
    <span class="flex-item-5"></span>
  </div>
  <!-- 区块1 -->
  <div class="flex-column">
    <div class="flex-item-12">
      <div class="panel pr-panel pr-fuzzy-boundary mgb-m pd-n">
        <div class="pd-c-l pdt-m pdb text-n pr-panel-title-color bb-line flex-column">
          <h4 class="flex-item-6">低库存药械</h4>
          <span class="flex-item-6 text-right"><a href="javascript:;" class="text-s">更多低库存药品...</a></span>
        </div>
        <div class="pd-c-l">
          <table class="table tabel-layout-fixed index-table-th text-s">
            <thead>
              <th class="pr-panel-title-color color-6 pr-label-bold text-center w-120">药械编号</th>
              <th class="pr-panel-title-color color-6 pr-label-bold">药械名</th>
              <th class="pr-panel-title-color color-6 pr-label-bold">厂家名</th>
              <th class="pr-panel-title-color color-6 pr-label-bold text-center w-120">型号规格</th>
              <th class="pr-panel-title-color color-6 pr-label-bold text-center w-160">注册证号/批准文号</th>
              <th class="pr-panel-title-color color-6 pr-label-bold text-center w-100">库存数</th>
              <th class="pr-panel-title-color color-6 pr-label-bold text-center w-80"></th>
            </thead>
            <tbody>
              <tr class="bb-dashed-line">
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap">合生元益生菌冲剂</td>
                <td class="color-6 overhide w-space-nowrap">贵州百灵药业</td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center">20</td>
                <td class="text-center"><a href="#/purchaseOrder/edit.html">发起采购</a></td>
              </tr>
              <tr class="bb-dashed-line">
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap">复方氨酚烷胺胶囊(仁和可立克)</td>
                <td class="color-6 overhide w-space-nowrap">湖南千金湘江药业股份有限公司</td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center">9</td>
                <td class="text-center"><a href="#/purchaseOrder/edit.html">发起采购</a></td>
              </tr>
              <tr class="bb-dashed-line">
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap">沙溪凉茶</td>
                <td class="color-6 overhide w-space-nowrap">武汉建明集团随州药业有限公司成都第四分公司</td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center">8</td>
                <td class="text-center"><a href="#/purchaseOrder/edit.html">发起采购</a></td>
              </tr>
              <tr class="bb-dashed-line">
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap">元帮康乐法宝胶囊</td>
                <td class="color-6 overhide w-space-nowrap">福建哈药制药有限公司</td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center">6</td>
                <td class="text-center"><a href="#/purchaseOrder/edit.html">发起采购</a></td>
              </tr>
              <tr class="bb-dashed-line">
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap">阿莫西林胶囊颗粒</td>
                <td class="color-6 overhide w-space-nowrap">重庆华邦制药有限公司</td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center"></td>
                <td class="color-6 overhide w-space-nowrap text-center">2</td>
                <td class="text-center"><a href="#/purchaseOrder/edit.html">发起采购</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- 区块2 -->
  <!-- <div class="flex-column">
    <div class="flex-item-12">
      <div class="panel pr-panel pr-fuzzy-boundary new-goods-recommend pd-n">
        <div class="pd-l pr-panel-title-color bb-line flex-column">
          <h4 class="flex-item-6 text-n">新品推荐</h4>
          <span class="flex-item-6 text-right"><a href="#" class="text-s">更多新品推荐...</a></span>
        </div>
        <div class="pd-c-l flex-column overhide">
          <div class="flex-item-5 br-dashed-line pdr">
            <div class="flex-column pd-v-m">
              <div class="flex-item-5">
                <img src="images/temp/yaopin-1.jpg" alt="" class="img-thumbnail"></div>
              <div class="flex-item-7 overhide pdl-m color-9">
                <h2 class="mgb l-h-20 color-6">一次性使用注射笔用针头(优锐)超细、超短(32063217)</h2>
                <p class="mgb">美国DB公司</p>
                <p class="l-h-25 text-s overhide">BD是世界上最大的研发、生产和销售医疗设备，医疗系统和试剂的医疗技术公司之一，致力于提高全世界人类的健康水平，BD专注于改进药物传输，提高传染性疾病和癌症诊断的质量和速度，推进新型药物和疫苗的研发与生产。</p>
              </div>
            </div>
          </div>
          <div class="flex-item-7">
            <div class="flex-column l-h-20">
              <div class="flex-item-3 pdl-m mgt-m">
                <div style="width:140px;margin:0 auto;">
                  <img src="images/temp/yaopin-3.jpg" alt="" class="img-thumbnail mgb" style="width:140px;" />
                  <p>甲钴胺片(成强)</p>
                  <p class="text-s">杭州康恩贝制药有限公司</p>
                </div>
              </div>
              <div class="flex-item-3 pdl-m mgt-m">
                <div style="width:140px;margin:0 auto;">
                  <img src="images/temp/yaopin-3.jpg" alt="" class="img-thumbnail mgb" style="width:140px;" />
                  <p>甲钴胺片(成强)</p>
                  <p class="text-s">杭州康恩贝制药有限公司</p>
                </div>
              </div>
              <div class="flex-item-3 pdl-m mgt-m">
                <div style="width:140px;margin:0 auto;">
                  <img src="images/temp/yaopin-3.jpg" alt="" class="img-thumbnail mgb" style="width:140px;" />
                  <p>甲钴胺片(成强)</p>
                  <p class="text-s">杭州康恩贝制药有限公司</p>
                </div>
              </div>
              <div class="flex-item-3 pdl-m mgt-m">
                <div style="width:140px;margin:0 auto;">
                  <img src="images/temp/yaopin-3.jpg" alt="" class="img-thumbnail mgb" style="width:140px;" />
                  <p>甲钴胺片(成强)</p>
                  <p class="text-s">杭州康恩贝制药有限公司</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
