<div class="loss-over-order"
     ng-controller="lossOverOrderEditCtrl"
     ajax-url="rest/authen/lossOverOrder/get.json?id={{mainStatus.pageParams.id}}&orderNo={{mainStatus.pageParams.orderNo}}"
     scope-data="showData"
     callback="initFlag=true;formData={};formData.id=showData.id"
     alert-error>
     <!-- 头部信息 -->
     <div class="header-info relative mgb-l">
       <p class="pdb-s pdt-s crumbs crumbs- pd-c-xl ">库存管理 >
        <a
        tab-nav
        tab-name='报溢单'
        tab-href=" #/overOrder/query.html"><em class="color-custom-orange">报溢单</em></a>
        <em>>报溢申请单详情</em>
       </p>
       <div class="pd-c-xl pdt-l pdb-l">
        <!-- 标题 -->
        <div class="mgt-xl">
          <h1 class="color-black pr-font-20 ">报溢申请单详情</h1>
        </div>
        <div class="mgb-l">
          <h1 class="color-black text-l ">
            <!-- 昆明库 -->
            {{showData.warehouseName}}
        </h1>
        </div>
      </div>

     </div>
     <!-- 主内容区域 -->
    <div class="content-wrapper  pr-fuzzy-boundary text-s">
      <div ng-if="showData.orderStatus=='未通过'"
       class="pr-panel pr-panel-height mgb pr-bg-pink">
      <em class="color-red">原因:</em>
       <p class="inline-block color-red">
      <em ng-model="showData.operationFlowSet.key">{{showData.operationFlowSet.key}}</em>
       <em ng-model="showData.operationFlowSet.message">{{showData.operationFlowSet.message}}</em>
       </p>
      </div>
      <div class=" color-9 pr-bg-white">
        <div class="flex-row color-9 pd-c-l pdt-m pdb-m bt-line bb-dashed-line">
          <div class="flex-item-6">
            <span class="mgr">单据编号：<em class="color-3">{{showData.orderCode || '暂无'}}</em></span>
            <span class="inline-block relative">单据日期：<em class="color-3">{{showData.orderDate | date: 'yyyy-MM-dd'}}</em></span>
            <span class="mgr">审核人：<em class="color-3">暂无</em></span>
          </div>
          <div class="flex-item-6 text-right">
            <span class="mgr">状态：<em class="color-3">{{showData.orderStatus}}</em></span>
          </div>
        </div>
        <div class="pd-c-l pdt-m pdb-m color-9">
          <span class="mgr">业务部门：<em class="color-6">{{showData.departmentName}}</em></span>
          <span class="mgr">业务人员：<em class="color-6">{{showData.saleUser.n}}</em></span>
        </div>

        <!-- 主内容区域 -->
        <div class="content-wrapper-main ">
          <div>
            <table class="table pr-table pr-new-table">
              <thead class="pr-bg-side">
                <tr>
                  <th class="text-center" style="width:60px;"></th>
                  <th class="text-left w-160">商品通用名</th>
                  <th class="text-center">规格/型号</th>
                  <th class="text-center">单位</th>
                  <th class="text-center">数量<em class="color-red">（必填）</em></th>
                  <th class="text-center">批号</th>
                  <th class="text-center">灭菌批号</th>
                  <th class="text-center">仓库<em class="color-red">（必填）</em></th>
                  <th class="text-center">生产日期</th>
                  <th class="text-center">失效日期</th>
                  <th class="text-center">单价</th>
                  <th class="text-center">金额</th>
                </tr>
              </thead>
              <tbody class="pr-bg-white">
                <tr ng-if="showData.orderMedicalNos.length"
                    ng-repeat="tr in showData.orderMedicalNos">
                  <td class="text-center">{{$index+1}}</td>
                  <td class="text-left">
                    <span class="color-orange cur-pot lend-order-goods-info"
                          ng-init="showInfoArea=false"
                          ng-mouseenter="showInfoArea=true"
                          ng-mouseleave="showInfoArea=false">{{tr.approvedName}}
                      <show-info-modal ng-show="showInfoArea"
                                       get-data-type="local"
                                       template-url="tpl/showInfoModalLendOrder"
                                       info-object="{{tr}}"
                                       info-title="商品信息">
                      </show-info-modal>
                    </span>
                  </td><!-- 商品通用名 -->
                  <td class="text-center">{{tr.dosageForms}}</td><!-- 剂型/分类 -->
                  <td class="text-center">{{tr.specificationAndModelType}}</td><!-- 规格/型号 -->
                  <td class="text-center">{{tr.unit}}</td><!-- 单位 -->
                  <td class="text-center">{{tr.quantity}}</td><!-- 数量 -->
                  <td class="text-center">{{tr.productionBatch}}</td><!-- 批号 -->
                  <td class="text-center">{{tr.sterilizationBatchNumber}}</td><!-- 灭菌批号 -->
                  <td class="text-center">{{tr.warehouseName}}</td><!-- 仓库 -->
                  <td class="text-center">{{tr.productionDate | date : 'yyyy-MM-dd'}}</div></td><!-- 生产日期 -->
                  <td class="text-center">{{tr.validTill | date : 'yyyy-MM-dd'}}</div></td><!-- 失效日期 -->
                  <td class="text-center">{{tr.strike_price | currency : '￥'}}</div></td><!-- 单价 -->
                  <td class="text-center">{{tr.totalPrice | currency : '￥'}}</div></td><!-- 金额 -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="bt-line flex-row">
            <p class="flex-item-12 text-right pdb-m pdt-m pd-c-l ">
              <span class="mgr mgl">制单部门：<em class="color-3">{{showData.departmentName || '暂无'}}</em></span>
              <span class="mgr mgl">制单人：<em class="color-3">{{showData.inputUser.n || '暂无'}}</em></span>
              <span class="mgr mgl">制单时间：<em class="color-3">{{showData.createAt || '暂无' | date: 'yyyy-MM-dd HH:mm'}}</em></span>
            </p>
          </div>
        </div>
      </div>
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgt-l">
        <!-- 备注 -->
        <div class="note">
          <p class="pd-v-l">备注：{{showData.note}}</p>
        </div>
      </div>
    </div>


<!-- 流程图 -->
  <business-flow-show business-key="{{showData.id}}" business-type="报溢单"></business-flow-show>

  <div class="handle-btn-area relative">
    <div class="btn-area over-write-wid pdt">
        <span class="mgr-l">
          <a
          tab-nav
          tab-name='报溢单'
          tab-href=" #/overOrder/query.html">返回报溢单列表</a>
        </span>
        <span class="mgr-l" ng-if="showData.didateFilter.buttons.length>0"
         custom-menu-list
         custom-menu-arr="{{showData.didateFilter.buttons}}">
        </span>
    </div>
  </div>
</div>
