<div class="first-medical-application first-modal"
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/firstMedicalApplication/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData');formData.suppliers=[]"
     alert-error>

  <div ng-if="$root.uiTabs.current.name != '品种管理'" class="header-info relative mgb-l">
    <p class="pdb-s pdt-s crumbs crumbs- pd-c-xxl">GSP质量管理 >
      <a tab-nav
      tab-name='首营品种管理'
      tab-href="#/firstMedicalApplication/query.html">
         <em class="color-custom-orange">首营管理</em>
      </a>
     <em>>首营品种申请</em>
    </p>
    <div class="pd-c-xxl pdt-l pdb-l">
      <!-- 标题 -->
      <div class="mgt-xl">
        <h1 ng-if="!formData.enterFlag" class="color-black pr-font-20">新建首营品种</h1>
        <h1 ng-if="formData.enterFlag" class="color-black pr-font-20">录入已审核的首营品种</h1>
      </div>
    </div>
  </div>
  <div ng-if="$root.uiTabs.current.name == '品种管理'" class="header-info relative mgb-l">
    <p class="pdb-s pdt-s crumbs crumbs- pd-c-xxl">基础设置 >
      <a tab-nav
         tab-name='品种管理'
         tab-href="#/medicalStock/query.html">
        <em class="color-custom-orange">品种管理</em>
      </a>
      <em>>首营品种申请</em>
    </p>
    <div class="pd-c-xxl pdt-l pdb-l">
      <!-- 标题 -->
      <div class="mgt-xl">
        <h1 class="color-black pr-font-20">首营品种申请</h1>
      </div>
    </div>
  </div>

  <!-- 主体内容 -->
  <div class="content-wrapper">
    <!-- 添加流程导航 -->
    <div  ng-if="!formData.enterFlag" class="step-flow-arrow" step-flow-arrow-show
         step-flow-arrow-json='[{"arrowText":"基本信息","className":"active"},{"arrowText":"新品引进原因","className":"unactive"},{"arrowText":"添加审核资料","className":"unactive"}]'>
    </div>

    <div  ng-if="formData.enterFlag" class="step-flow-arrow" step-flow-arrow-show
         step-flow-arrow-json='[{"arrowText":"基本信息","className":"active"},{"arrowText":"新品引进原因","className":"unactive"},{"arrowText":"添加审核资料","className":"unactive"},{"arrowText":"首营品种审核人","className":"unactive"}]'>
    </div>

    <div class="content-wrapper-main mgt">
      <form class="form-horizontal"
            id="firstMedicalApplication_editForm1"
            name="firstMedicalApplication_editForm1"
            form-validator
            parameter-body
            action="rest/authen/firstMedicalApplication/saveBaseInfo"
            alert-error
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="validFlag=true;submitFormAfter('#/firstMedicalApplication/edit-step-2.html');watchFormChange('formData');">
        <!-- 单号 -->
        <div class="panel pr-panel pr-panel-height mgb  flex-row" style="line-height:2.4">
          <div class="flex-item-6">
            <span class="mgr-l">单据编号：<em class="color-6">{{formData.orderNo || '暂无'}}</em></span>

          </div>
          <div class="flex-item-6 text-right">
              制单部门：<em class="color-black mgr-l">{{formData.departmentName || '暂无'}}</em>
              制单人：<em class="color-black mgr-l">{{formData.inputUser.n || '暂无'}}</em>
              制单时间：<em class="color-black mgr-l">{{formData.createAt || '暂无' | date : 'yyyy-MM-dd HH:mm'}}</em>
              状态：  <em class="color-black">{{formData.orderStatus}}</em>
          </div>
        </div>


        <!-- 基本信息 -->
        <div class="panel pr-panel pr-panel-height mgb" style="padding:15px 0;">
          <h1 class="mgt color-black text-bold text-n pd-c-l">基本信息</h1>
          <!--性质-->
          <div ng-if="initFlag" class="flex-row mgt-l bb-dashed-line">
            <p  class="flex-item-2 text-right control-label pdr-s">性质：</p>
            <div ng-init="formData.medicalType = formData.medicalType ? formData.medicalType : '医疗器械'" class="flex-item-10 text-left mgb-m">
              <div class="inline-block">
                <div class="inline-block mgr" style="position:relative;top:-5px;">
                  <label>
                    <p  class="radio-inline radio radio-new mgl-s">
                      <input ng-checked="formData.medicalType == '医疗器械'" type="radio" class="default-radio"  name="medicalType" value="医疗器械" ng-model="formData.medicalType" ><i style="top:12px;"></i>
                    </p>
                    <em class="inline-block  mgt-s" style=" color:#666;margin-left:-5px;vertical-align:bottom;">医疗器械</em>
                  </label>
                </div>
                <div class="inline-block " style="position:relative;top:-5px;">
                  <label>
                    <p  class="radio-inline radio radio-new mgl-s">
                      <input ng-checked="formData.medicalType == '药品'" type="radio" class="default-radio"  name="medicalType" value="药品" ng-model="formData.medicalType" ><i style="top:12px;"></i>
                    </p>
                    <em class="inline-block mgt-s" style=" color:#666;margin-left:-5px;vertical-align:bottom;">药品</em>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="">
            <!--通用名-->
            <div class="flex-row mgt-l">
              <p  class="flex-item-2 text-right control-label pdr-s">通用名：</p>
              <div class="flex-item-10 text-left">
                <input type="text"
                       class="ipt-new"
                       name="approvedName"
                       required
                       ng-model="formData.approvedName" />
                       <span ng-if="!formData.approvedName" class="color-red">（必填）</span>
              </div>
            </div>

            <!--商品名称-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">商品名称：</p>
              <div class="flex-item-10 text-left">
                <input type="text"
                       class="ipt-new"
                       name="name"
                       required
                       ng-model="formData.name" />
                <span ng-if="!formData.name" class="color-red">（必填）</span>
              </div>
            </div>

            <!--英文名称-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">英文名称：</p>
              <div class="flex-item-10 text-left">
                <input type="text"
                       class="ipt-new"
                       name="englishName"
                       ng-model="formData.englishName" />
                <!-- <span ng-if="!formData.englishName" class="color-red">（必填）</span> -->
              </div>
            </div>

            <!--国家器械分类-->
            <div ng-if="formData.medicalType == '医疗器械'" class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">国家器械分类：</p>
              <div class="flex-item-10 text-left">
                <select class="ipt pr-short-ipt ipt-new-s" data-placeholder="选择剂型"
                        chosen
                        default-empty="无"
                        width="334px"
                        ng-model="formData.medicalClassId"
                        select-source="rest/authen/medicalClass/queryForSelectOption">
                </select>
              </div>
            </div>

            <!--商品分类-->
            <div class="flex-row mgt pdb-l bb-dashed-line">
              <p  class="flex-item-2   text-right control-label">商品分类：</p>
              <div class="flex-item-10 color-3 text-left ">

                <button type="button"
                z-tree-select="rest/authen/medicalAttribute/query.json?pageSize=999"
                class="btn-select fl-l text-left"
                style="margin-left:0px;"
                width="240px"
                ng-model="formData.medicalAttribute"
                id-key="id"
                p-id-key="parentId">
                <div class="autocut z-tree-div inline-block fl-l" style="margin-right:0px;color:#333;" title="{{formData.medicalAttribute.name}}">{{formData.medicalAttribute.name}}</div>
                  <span style="display:none;">{{formData.attributeId}}</span>
                <em class="mgl vcenter">选择</em>
                </button>
                <em class="color-red mgl relative vcenter" style="top:3px;" ng-if="!formData.medicalAttribute.name">(必选)</em>
              </div>

            </div>

            <!--编号-->
            <div class="flex-row mgt-l">
              <p  class="flex-item-2 text-right control-label pdr-s">编号：</p>
              <div class="flex-item-10 text-left">
                <input type="text"
                       class="ipt-new "
                       style="width:115px; text-align: center;"
                       name="code"
                       ng-disabled="true"
                       ng-model="formData.attributeCode"/>
                       <span class="border-2"></span>
                <input type="text"
                       class="ipt-new"
                       name="code"
                       style="width:80px;"
                       ng-model="formData.serialCode"/>
                       <span ng-if="!formData.serialCode" class="color-red">（必填）</span>
               <p  class="mgl-s control-label pdr-s inline-block" style="margin-top:-8px;">原商品编号：</p>
               <input type="text"
                      class="ipt-new "
                      style="width:80px;"
                      name="code"
                      ng-model="formData.originalCode"/>
              </div>
            </div>

            <!--剂型／分类-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">剂型／分类：</p>
              <div class="flex-item-10 text-left">
                <select class="ipt pr-short-ipt ipt-new-s" data-placeholder="选择剂型"
                        chosen
                        default-empty="无"
                        style="width:150px;"
                        ng-model="formData.dosageForms"
                        select-source="rest/baseData/queryForSelectOptionByType?type=剂型">
                </select>
              </div>
            </div>

            <!--规格／型号-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">规格／型号：</p>
              <div class="flex-item-10 text-left">
                <input type="text"
                       class="ipt-new-s ipt-new"
                       name="specification"
                       ng-model="formData.specificationAndModelType"
                       required />
                <span ng-if="!formData.specificationAndModelType" class="color-red">（必填）</span>
              </div>
            </div>

            <!--装箱规格-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">装箱规格：</p>
              <div class="flex-item-10 text-left">
                <input type="text"
                       class="ipt-new-s ipt-new"
                       name="packingSpecification"
                       ng-model="formData.packingSpecification" />
              </div>
            </div>

            <!--基本单位-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">基本单位：</p>
              <div class="flex-item-10 text-left">
                <input type="text"
                       class="ipt-new-s ipt-new"
                       name="unit"
                       ng-model="formData.unit"
                       ng-change="formData.packingAttribute.name=formData.unit"
                       required />
                <span ng-if="!formData.unit" class="color-red">（必填）</span>
              </div>
            </div>

            <!--有效期-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">有效期：</p>
              <div class="flex-item-10 text-left">
                <input type="number"
                       class="ipt-new-s ipt-new"
                       name="guaranteePeriod"
                       style="width:60px"
                       onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                       onkeyup="if(this.value == 0)this.value=''"
                       ng-model="formData.guaranteePeriod"/>
                <div class="inline-block" ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_DateUnit" scope-data="DateUnit">
                  <div ng-repeat="date in DateUnit" class="inline-block mgr-s" style="position:relative;top:-5px;">
                    <p  class="radio-inline radio radio-new mgl-s">
                      <label>
                        <input type="radio" class="default-radio"  name="type" value="{{date.text}}" ng-model="formData.guaranteePeriodUnit" ><i style="top:12px;"></i>
                      </label>
                    </p>
                    <em class="inline-block mgt-s" style=" color:#666; margin-left:-5px;">{{date.text}}</em>
                  </div>
                </div>
              </div>
            </div>

            <!--预警天数-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">预警天数：</p>
              <div class="flex-item-10 text-left">
                <input type="number"
                       name="guaranteePeriodAlarmDay"
                       class="ipt-new ipt-new-s text-right"
                       ng-model="formData.guaranteePeriodAlarmDay"/>
              </div>
            </div>


            <!--储存条件-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">储存条件：</p>
              <div class="flex-item-10 text-left">
                <select ng-if="initFlag" class="ipt pr-long-ipt color-6"
                        data-placeholder=" "
                        chosen
                        style="width:150px;"
                        ng-model="formData.storageCondition"
                        ng-change="changeStorageCondition(formData.storageCondition);"
                        select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_DeliveryPlus">
                </select>
              </div>
            </div>
            <div class="" ng-if="formData.storageCondition=='冷藏'||formData.storageCondition=='冷冻'">
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">温度上限：</p>
                <div class="flex-item-10 text-left">
                  <input type="number"
                         class="ipt-new-s ipt-new"
                         name="topTemperature"
                         style="width:50px;"
                         required
                         ng-model="formData.topTemperature" /><em class="mgl-s">℃</em><em ng-if="!formData.topTemperature" class="color-red mgl-s">(必填)</em>
                </div>
              </div>
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">温度下限：</p>
                <div class="flex-item-10 text-left">
                  <input type="number"
                         class="ipt-new-s ipt-new"
                         name="lowTemperature"
                         style="width:50px;"
                         required
                         ng-model="formData.lowTemperature" /><em class="mgl-s">℃</em><em ng-if="!formData.lowTemperature" class="color-red mgl-s">(必填)</em>
                </div>
              </div>
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">湿度上限：</p>
                <div class="flex-item-10 text-left">
                  <input type="number"
                         class="ipt-new-s ipt-new"
                         name="topHumidity"
                         style="width:50px;"
                         required
                         ng-model="formData.topHumidity" /><em class="mgl-s">%</em><em ng-if="!formData.topHumidity" class="color-red mgl-s">(必填)</em>
                </div>
              </div>
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">湿度下限：</p>
                <div class="flex-item-10 text-left">
                  <input type="number"
                         class="ipt-new-s ipt-new"
                         name="lowHumidity"
                         style="width:50px;"
                         required
                         ng-model="formData.lowHumidity" /><em class="mgl-s">%</em><em ng-if="!formData.lowHumidity" class="color-red mgl-s">(必填)</em>
                </div>
              </div>
            </div>

            <!--经营范围-->
            <div class="flex-row mgt pdb-l bb-dashed-line">
              <p  class="flex-item-2   text-right control-label">经营范围：</p>
              <div class="flex-item-10 color-3 text-left ">
                <!--<input type="text"-->
                       <!--class="ipt-new ipt-new-s"-->
                       <!--style="float: left; margin-right: 10px;"-->
                       <!--ng-model="formData.businessScope.organizationName"/>-->

                <span style="display: inline-block; float: left;line-height: 26px;min-width: 150px;"><span>

                  {{formData.businessScope.name}}</span></span>

                <div class="flex-item-8  text-left ">
                  <!---->
                  <div class="color-href cur-pot mgl-m inline-block ng-isolate-scope"  style="margin-top:3px;"
                       modal-right="470"
                       modal-scope="this"
                       modal-data='{"id":"{{formData.businessScope.id}}"}'
                       modal-url="views/public/firstRightSide/select-business-scope-radio.html">
                    选择
                  </div>
                </div>


              </div>

            </div>

            <!--质量标准-->
            <div class="flex-row mgt-l">
              <p  class="flex-item-2 text-right control-label pdr-s">质量标准：</p>
              <div class="flex-item-10 text-left">
                <input type="quality"
                       class="ipt-new ipt-new-s"
                       ng-model="formData.quality"/>
              </div>
            </div>

            <!--&lt;!&ndash;条形码-器械自动生成 &ndash;&gt;-->
            <!--<div  ng-if="formData.medicalType == '医疗器械'" class="flex-row mgt">-->
              <!--<p  class="flex-item-2 text-right control-label pdr-s">条形码：</p>-->
              <!--<div class="flex-item-10 text-left">-->

                <!--&lt;!&ndash;<span style="margin-right: 15px;">{{formData.barcode}}</span>&ndash;&gt;-->

                <!--<input type="text" ng-disabled="true"-->
                       <!--class="ipt-new-s ipt-new"-->
                       <!--ng-model="formData.barcode"/>-->
                <!--&lt;!&ndash;&ndash;&gt;-->
                <!--<a ng-if="formData.id"-->
                   <!--ng-click="getBarcode(formData.productEnterprise.code,formData.medicalClassId)"-->
                   <!--class="color-orange"-->
                   <!--style="margin-left: 10px;">重新生成-->
                <!--</a>-->

              <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash;条形码-药品（手动输入）   &ndash;&gt;-->
            <!--<div  ng-if="formData.medicalType == '药品'" class="flex-row mgt">-->
              <!--<p  class="flex-item-2 text-right control-label pdr-s">条形码：</p>-->
              <!--<div class="flex-item-10 text-left">-->
                <!--<input type="text"-->
                       <!--class="ipt-new-s ipt-new"-->
                       <!--ng-model="formData.barcode"/>-->
              <!--</div>-->
            <!--</div>-->

            <!--品牌-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">品牌：</p>
              <div class="flex-item-10 text-left">
                <input type="text"
                       name="brand"
                       class="ipt-new ipt-new-s"
                       ng-model="formData.brand"/>
              </div>
            </div>

            <!--产地-->
            <div class="flex-row mgt">
              <p  class="flex-item-2 text-right control-label pdr-s">产地：</p>
              <div class="flex-item-10">
                <input type="text"
                       name="productionPlace"
                       class="ipt-new ipt-new-s"
                       ng-model="formData.productionPlace"/>
              </div>
            </div>

            <!--U8计量单位-->
            <!--<div class="flex-row mgt">-->
              <!--<p  class="flex-item-2 text-right control-label pdr-s">U8计量单位：</p>-->
              <!--<div class="flex-item-10 text-left">-->
                <!--<select class="ipt pr-short-ipt ipt-new-s" data-placeholder="选择计量单位"-->
                        <!--chosen-->
                        <!--default-empty="无"-->
                        <!--ng-model="formData.u8Unit"-->
                        <!--select-source="rest/baseData/queryForSelectOptionByType?type=U8计量单位">-->
                <!--</select>-->
              <!--</div>-->
            <!--</div>-->


            <!--计价方式-->
            <div class="flex-row mgt mgb-l">
              <p  class="flex-item-2 text-right control-label pdr-s">计价方式：</p>
              <div class="flex-item-10 text-left">
                <select class="ipt pr-short-ipt ipt-new-s" data-placeholder="选择计价方式"
                        chosen
                        default-empty="无"
                        ng-model="formData.u8ChargeType"
                        select-source="rest/baseData/queryForSelectOptionByType?type=U8计价方式">
                </select>
              </div>
            </div>


            <!--生产企业-->
            <div  class="pd-v-m bt-dashed-line">
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">生产企业名称：</p>
                <div class="flex-item-10 text-left" style="width: 245px;">

                  <div ng-if="initFlag" style="position: relative;">
                          <span ng-if="!formData.productEnterprise.name"
                                angucomplete=""
                                placeholder="生产企业名称"
                                title-field="name"
                                description-field="formData.productEnterprise.name"
                                search-fields="{{formData.productEnterprise.name}}"
                                search-str-class="ipt"
                                url="rest/authen/productEnterprise/query"
                                class="inline-block"
                                ng-model="formData.productEnterprise">
                          </span>
                          <input ng-if="formData.productEnterprise.name"
                                placeholder="生产企业名称"
                                class="inline-block ipt"
                                ng-model="formData.productEnterprise.name"
                                >
                          </input>
                    <span ng-if="!formData.productEnterprise.name" class="receive-item-icon" style="top: 4px;left: 215px;"></span>
                    <span ng-if="formData.productEnterprise.name" class="delete-date-icon cur-pot" style="right:10px;" ng-click="formData.productEnterprise={};"></span>
                  </div>

                </div>
              </div>

              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">生产许可证号：</p>
                <div class="flex-item-3 text-left">
                 <span>{{formData.productEnterprise.productLicense}}</span>
                </div>
                <p  class="flex-item-2 text-right control-label pdr-s">许可证有效期至：</p>
                <div class="flex-item-3 text-left">
                  <span>{{formData.productEnterprise.productLicensePeriod | date : 'yyyy-MM-dd'}}</span>
                </div>
              </div>

              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">GMP认证：</p>
                <div class="flex-item-3 text-left">
                  <span>{{formData.productEnterprise.gmpAuthentication}}</span>
                </div>
                <p  class="flex-item-2 text-right control-label pdr-s">GMP有效期至：</p>
                <div class="flex-item-3 text-left">
                  <span>{{formData.productEnterprise.gmpAuthenPeriod | date : 'yyyy-MM-dd'}}</span>
                </div>
              </div>

              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">企业注册地址：</p>
                <div class="flex-item-10 text-left">
                  <span>{{formData.productEnterprise.address}}</span>
                </div>
              </div>

              <div class="flex-row mgt">
                <!---->
                <label modal-right="456"
                        modal-scope="this"
                        modal-data="{}"
                        modal-url="views/firstMedicalApplication/set-product-dialog.html">
                      <p class="flex-item-2 text-right control-label pdr-s color-orange cur-pot" style="font-weight: normal">新增生产企业</p>
                </label>
              </div>

            </div>


            <div ng-if="1==2" class="pd-v-m bt-dashed-line">
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">注册商标：</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="trademark"
                         ng-model="formData.trademark" />
                </div>
              </div>
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">国药统一编码：</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="medicalUniformCode"
                         ng-model="formData.medicalUniformCode" />
                </div>
              </div>
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">质量标准：</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.quality" />
                </div>
              </div>
            </div>

            <!--条码生成-->
            <div class="bt-dashed-line pd-v-l">
                <!--<p  class="flex-item-2 text-right control-label pdr-s">条形码：</p>-->
                <!--<em>290010920170</em>-->
                <!--<div>重新生成</div>-->
                <!--<div>编码规则</div>-->
                <!--条形码-器械自动生成 -->
                <div  ng-if="formData.medicalType == '医疗器械'" class="flex-row">
                  <p  class="flex-item-2 text-right control-label pdr-s">条形码：</p>
                  <div class="control-label text-left">

                    <span style="margin-right: 15px;">{{formData.barcode}}</span>

                    <!--<input type="text" ng-disabled="true"-->
                           <!--class="ipt-new-s ipt-new"-->
                           <!--ng-model="formData.barcode"/>-->
                    <a ng-if="!formData.id"
                       ng-click="getBarcode(formData.productEnterprise.code,formData.medicalClassId)"
                       class="color-orange"
                       >生成编码
                    </a>
                    <a ng-if="formData.barcode"
                       ng-click="getBarcode(formData.productEnterprise.code,formData.medicalClassId)"
                       class="color-orange"
                       ><i></i>重新生成
                    </a>
                    <a ng-if="formData.barcode">编码规则</a>

                </div>

                <!--条形码-药品（手动输入）   -->
                <div  ng-if="formData.medicalType == '药品'" class="flex-row mgt">
                  <p  class="flex-item-2 text-right control-label pdr-s">条形码：</p>
                  <div class="flex-item-10 text-left">
                    <input type="text"
                           class="ipt-new-s ipt-new"
                           ng-model="formData.barcode"/>
                  </div>
                </div>

              </div>

            </div>

            <div class="bt-dashed-line bb-dashed-line">
              <!--是否基药-->
              <div class="flex-row mgt-l">
                <p  class="flex-item-2 text-right control-label pdr-s">是否基药：</p>
                <div class="flex-item-10 text-left">
                  <select class="select pr-select ipt-new-s pr-short-ipt" style="height:32px;" ng-model="formData.isBasicMedicine">
                    <option value="是" ng-selected="formData.isBasicMedicine=='是'">是</option>
                    <option value="否" ng-selected="formData.isBasicMedicine=='否'">否</option>
                  </select>
                </div>
              </div>

              <!--牌价-->
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">牌价：￥</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.quoteprice"
                         ng-disabled="formData.isBasicMedicine=='否'"
                         ng-keyup="chkQuoteAndRetail()"
                         name="quoteprice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.quoteprice.$valid"
                         popover-options='{"content":"牌价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>

              <!--零售价-->
              <div class="flex-row mgt">

                <p  class="flex-item-2 text-right control-label pdr-s">零售价：￥</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.retailPrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="retailPrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.retailPrice.$valid"
                         popover-options='{"content":"零售价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>

              <!--批发价-->
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">批发价：￥</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.tradePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="tradePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.tradePrice.$valid"
                         popover-options='{"content":"批发价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>

              <!--最高售价-->
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">最高售价：￥</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.maxRetailPrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="maxRetailPrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.maxRetailPrice.$valid"
                         popover-options='{"content":"最高售价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>

              <!--最低售价-->
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">最低售价：￥</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.minRetailPrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="minRetailPrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.minRetailPrice.$valid"
                         popover-options='{"content":"最低售价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>

              <!--采购价-->
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">采购价：￥</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.purchasePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="purchasePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.purchasePrice.$valid"
                         popover-options='{"content":"采购价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>

              <!--最高采购价-->
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">最高采购价：￥</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.maxPurchasePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="maxPurchasePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.maxPurchasePrice.$valid"
                         popover-options='{"content":"最高采购价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>

              <!--最低采购价-->
              <div class="flex-row mgt">
                <p  class="flex-item-2 text-right control-label pdr-s">最低采购价：￥</p>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.minPurchasePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="minPurchasePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.minPurchasePrice.$valid"
                         popover-options='{"content":"最低采购价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>

              <!--税率-->
              <div class="flex-row mgt mgb-l">
                <p  class="flex-item-2 text-right control-label pdr-s">税率：</p>
                <div class="flex-item-10 text-left">
                  <select class="select pr-select ipt-new-s pr-short-ipt"
                          ng-model="formData.tax"
                          ng-options="tax for tax in [3,17]">
                  </select><span class="mgl-s">%</span>
                </div>
              </div>
        </div>


          <!--新增商品辅助单位-->
          <div class="mgt-l" ng-if="$root.uiTabs.current.name == '品种管理'">
              <h3 class="mgt-xl crumbs-circle color-black pr-indent-10 pd-v" style="border-radius: 0 ;margin-bottom: 20px;">商品单位信息</h3>
              <div class="pr-bg-white mgb-m">
            <div class="pos-rel-tl order-create-btn inline-block fl-l pdb-m pdt-m mgl-l" style="padding-top:0px;">
              <a href="javascript:;" ng-click="addMedicalUnit();" title="新建商品单位"><i></i><span class="text-s">新增商品单位</span></a>
            </div>
            <table class="table pr-table pr-new-table">
              <thead class="pr-bg-side">
              <tr>
                <th class="text-center">序号</th>
                <th class="text-center">单位类型</th>
                <th class="text-center">
                  单位名称
                  <em class="color-red">(必填)</em>
                  <em ng-if="showUnit" class="color-red">单位重复</em>
                </th>
                <th class="text-center">
                  换算比率
                  <em class="color-red">(必填)</em>
                </th>
                <th class="text-center">条形码</th>
                <th class="text-center">中标价</th>
                <th class="text-center">长(mm)</th>
                <th class="text-center">宽(mm)</th>
                <th class="text-center">高(mm)</th>
                <th class="text-center">重量(kg)</th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td class="text-center">1</td>
                <td class="text-center">基本单位</td>
                <td class="text-center">
                  <input type="text"
                         ng-init="formData.packingAttribute.name"
                         class="ipt pr-ipt-60 text-center"
                         ng-model="formData.packingAttribute.name"
                         ng-change="formData.unit=formData.packingAttribute.name"
                         ng-change="changeUnit(formData.packingAttribute.name,formData.othersPackingAttribute,formData.packingAttribute.name)"/>
                </td>
                <td class="text-center" ng-model="formData.packingAttribute.ratio">
                  1
                </td>
                <td class="text-center">
                  <input type="text"
                         class="ipt ipt-new-s text-center"
                         ng-model="formData.packingAttribute.barcode"/>
                </td>
                <td class="text-center">
                  ￥<input type="number"
                          class="ipt pr-ipt-60 text-right"
                          ng-model="formData.packingAttribute.bidPrice"/>
                </td>
                <td class="text-center">
                  <input type="number"
                         class="ipt pr-ipt-60 text-right"
                         ng-model="formData.packingAttribute.length"/>
                </td>
                <td class="text-center">
                  <input type="number"
                         class="ipt pr-ipt-60 text-right"
                         ng-model="formData.packingAttribute.width"/>
                </td>
                <td class="text-center">
                  <input type="number"
                         class="ipt pr-ipt-60 text-right"
                         ng-model="formData.packingAttribute.height"/>
                </td>
                <td class="text-center">
                  <input type="number"
                         class="ipt ipt-new-s text-right"
                         ng-model="formData.packingAttribute.unitWeightKg"/>
                </td>
              </tr>
              <tr class="relative"
                  ng-repeat="tr in formData.othersPackingAttribute"
                  table-item-handlebtn-component>
                <td class="text-center">
                  {{$index + 2}}
                  <div  class="table-item-handle-btn" style="left:1800px;">
                    <div class="table-item-confirm-del-area bg-white">
                      <p class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                      <p class="pdt-s">
                        <a href="javascript:;" class="cancelHandle" ng-click="cancelDel();">取消</a>
                        <a href="javascript:;" class="confirm-del-this pr-btn-best-small pr-btn-bg-gold mgl delete-btn"
                           ng-click="formData.othersPackingAttribute.splice($index,1);">确认</a>
                      </p>
                    </div>
                  </div>
                </td>
                <td class="text-center">辅助单位</td>
                <td class="text-center">
                  <input type="text"
                         class="ipt pr-ipt-60 text-center"
                         required
                         ng-model="tr.name"
                         ng-change="changeUnit(tr.name,formData.othersPackingAttribute,formData.packingAttribute.name)"/>

                </td>
                <td class="text-center">
                  <input type="number"
                         class="ipt pr-ipt-60 text-center"
                         required
                         ng-model="tr.ratio"
                         onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)));"/>
                </td>
                <td class="text-center">
                  <input type="text"
                         class="ipt ipt-new-s text-center"
                         ng-model="tr.barcode"/>
                </td>
                <td class="text-center">
                  ￥<input type="number"
                          class="ipt pr-ipt-60 text-right"
                          ng-model="tr.bidPrice"/>
                </td>
                <td class="text-center">
                  <input type="number"
                         class="ipt pr-ipt-60 text-right"
                         ng-model="tr.length"/>
                </td>
                <td class="text-center">
                  <input type="number"
                         class="ipt pr-ipt-60 text-right"
                         ng-model="tr.width"/>
                </td>
                <td class="text-center">
                  <input type="number"
                         class="ipt pr-ipt-60 text-right"
                         ng-model="tr.height"/>
                </td>
                <td class="text-center">
                  <input type="number"
                         class="ipt ipt-new-s text-right"
                         ng-model="tr.unitWeightKg"/>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>

        <!--供应商-->
        <div class="pr-bg-white mgt-l mgb-m">
          <div class="pos-rel-tl order-create-btn inline-block fl-l pdb-m pdt-m mgl-l" style="padding-top:0px;">
            <a href="javascript:;" ng-click="addSupplier();" title="添加供应商"><i></i><span class="text-s">添加供应商</span></a>
          </div>
          <table class="table pr-table pr-new-table">
            <thead class="pr-bg-side">
              <tr>
              <th class="text-center">序号</th>
              <th style="text-align: left;width: 270px;">供应商名称</th>
              <th style="text-align: left">法定代表人</th>
              <th style="text-align: left">分类</th>
              <th style="text-align: left">编号</th>
              <th style="text-align: left">分管部门</th>
              <th style="text-align: left">业务人员</th>
            </tr>
            </thead>
            <tbody>
              <tr  ng-repeat="supplier in formData.suppliers track by $index" table-item-handlebtn-component>
                <td class="text-center">{{$index+1}}
                  <div  class="table-item-handle-btn" style="left:1800px;">
                    <div class="table-item-confirm-del-area bg-white">
                      <p class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                      <p class="pdt-s">
                        <a href="javascript:;" class="cancelHandle" ng-click="cancelDel();">取消</a>
                        <a href="javascript:;" class="confirm-del-this pr-btn-best-small pr-btn-bg-gold mgl delete-btn"
                           ng-click="formData.suppliers.splice($index,1);">确认</a>
                      </p>
                    </div>
                  </div>
                </td>
                <td class="text-left">
                  <div style="position: relative;" ng-init="suppliertmp=supplier">
                    <span class="temporary" angucomplete=""
                          placeholder="供应商名称"
                          title-field="name"
                          description-field="suppliertmp.name"
                          search-fields="{{supplier.name}}"
                          search-str-class="ipt"
                          url="rest/authen/supplier/query"
                          class="inline-block"
                          ng-model-data="formData.suppliers[$index]"
                          calbak-method ='checkBusinessScope(1)'
                          ng-model="suppliertmp"
                    >
                    </span>
                    <span class="receive-item-icon" style="top: 6px;right: 15px;"></span>
                  </div>
                  <p class="color-red">{{supplier.scopeNote}}</p>
                </td>
                <td class="text-left">
                  {{supplier.legalUser.n}}
                </td>
                <td class="text-left">{{supplier.supplierAttribute.showName}}</td>
                <td class="text-left">{{supplier.code}}</td>
                <td class="text-left">{{supplier.branchDepartmentName}}</td>
                <td class="text-left">{{supplier.branchUser.n}}</td>
              </tr>

            </tbody>
          </table>
          <div ng-if="!formData.suppliers.length" class="pr-bg-white ng-scope">
            <div class="empty-table clearfix">
              <div>&nbsp;</div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
            </div>
          </div>
        </div>

          <!--说明-->
        <div class="color-black mgt-l mgb-l" style="margin-left: 15px;">
          <p>
            <p class="pr-font-14 mgb-s">说明：</p>
            <p class="mgb-s">1.品种资质必须加供货企业红色原公章；</p>
            <p>2.采购人员按要求向供货商(生产企业／经营企业)索要并核实资质的真实合法性，并如实填写本表；</p>
          </p>
        </div>
          </div>

        </div>

      <!-- 功能按钮 -->
      <div class="handle-btn-area relative">
        <div class="mgb text-right btn-area">
          <span class="mgl">

            <a ng-if="changeFlag"  href="javascript:;"
               handle-this-click
               dialog-title="确认返回?"
               dialog-content="该申请单存在未保存数据，是否保存?"
               dialog-template="pr-dialog-return.html"
               nosave-callback="goTo('#/firstMedicalApplication/query.html')"
               save-callback="submitSaveCallBack('firstMedicalApplication')">返回申请单列表
            </a>

            <a ng-if="!changeFlag" tab-nav
            tab-name='首营品种管理'
            tab-href="#/firstMedicalApplication/query.html">返回申请单列表</a>
            </span>
            <span class="mgl">
              <a ng-if="formData.id && formData.proposerName==mainStatus.name"
                 href="javascript:;"
                 class="color-red mgt"
                 handle-this-click
                 dialog-title="确认删除?"
                 dialog-content="删除后将无法恢复,确认删除?"
                 dialog-template="pr-dialog-submit.html"
                 callback="$root.goTo({'tabHref':'#/firstMedicalApplication/query.html','tabName':'首营品种管理'})"
                 params='{"id":formData.id}'
                 request-url="rest/authen/firstMedicalApplication/delete">删除</a>
            </span>
            <span class="mgl">
              <button class="pr-btn-save-glodbg mgt"
                      ng-disabled="!changeFlag "
                      ng-click="submitForm('firstMedicalApplication_editForm1','save')">保存</button>
            </span>
            <span class="mgl" style="">

              <div ng-if="!canNextStep2(formData)" class="btn-tips">
                单据存在不符合交易要求的因素，不能提交。

                <div class="triangle-down"></div>
              </div>

              <button class="pr-btn-save-glodbg mgt"
                      ng-disabled="!firstMedicalApplication_editForm1.$valid ||!formData.medicalAttribute.name || !canNextStep2(formData)"
                      ng-click="submitForm('firstMedicalApplication_editForm1','submit')">下一步
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
