
  <div class="modal-content pr-modal-content" ng-controller="editCtrl"
   ajax-url="rest/authen/hospital/getOfEdit.json?id={{tr.id}}"  scope-data="formData"  alert-error
   callback="initFlag=true"
         >

          <form class="add-medical-form form-horizontal"
                action="rest/authen/hospital/save"
                alert-error parameter-body
                form-validator>
            <div class="modal-header">
                <!-- <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button> -->
                <h4 class="modal-title">{{formData&&formData.id?"编辑":"添加"}}医疗机构</h4>
            </div>
            <div class="modal-body">

                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">医疗机构名称</label>
                  <div class="col-lg-8 col-sm-8">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.name" />
                  </div>
                  <span ng-if="!formData.name" class="col-lg-2 col-sm-2  color-red">（必填）</span>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">医疗机构编码</label>
                  <div class="col-lg-8 col-sm-8">
                    <input ng-disabled="formData.id" type="text" class="form-control" placeholder="" ng-model="formData.code" />
                  </div>
                  <span ng-if="!formData.code" class="col-lg-2 col-sm-2  color-red">（必填）</span>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">医疗机构类型</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlag"
                     class="select select-w"
                     data-placeholder="选择类型"
                     chosen ng-model="formData.HospitalType.type"
                     select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_HospitalType">
                   </select>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">联系人</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.contact.name" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">联系电话</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.contact.tel" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">地址</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.address" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">传真</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.fax" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">邮编</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.zipCode" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">备注</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.note" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">录入人</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.inputUser.n" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">录入时间</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text"
                           datepicker
                           class="ipt pr-short-ipt color-3"
                           style="width:90px;"
                           placeholder=""
                           ng-readonly="true"
                           ng-model="formData.createAt" />

                  </div>
                </div>
                <!-- <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">修改人</label>
                  <div class="col-lg-10 col-sm-10">
                    <input ng-disabled="true" type="text" class="form-control" placeholder="" ng-model="formData.modify.user.n" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">修改时间</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text"
                           datepicker
                           ng-disabled="true"
                           class="ipt pr-short-ipt color-3"
                           style="width:90px;"
                           placeholder=""
                           ng-readonly="true"
                           ng-model="formData.modify.updateDate" />
                  </div>
                </div> -->

                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label"></label>
                  <div class="col-lg-10 col-sm-10">
                    <input class="pr-btn-save-glodbg" type="submit" ng-disabled="!formData.name || !formData.code"  value="提交">
                  </div>
                </div>

            </div>

            </form>
        </div>
