<table-list list-data="rest/authen/medicalStock/query.json"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">
<div class="first-medical-application"
    ng-controller="medicalStockCtrl">

    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs crumbs- pd-c-xxl">基础设置 >
        <a tab-nav tab-name="首营品种管理" tab-href="#/firstMedicalApplication/query.html">
           <em class="color-custom-orange">首营管理</em>
        </a>
       <em>>品种管理详情</em>
      </p>
      <div class="pd-c-xxl pdt-l pdb-l">
        <!-- 标题 -->
        <div class="mgb-l mgt-xxl">
          <h1 class="color-black pr-font-20">品种管理-详情</h1>
        </div>
      </div>
    </div>
  <!-- 主体内容 -->
  <div class="content-wrapper "
  ajax-url="rest/authen/medicalStock/get.json?id={{mainStatus.pageParams.id}}"
  scope-data="showData"
  callback="initFlag=true;bottomButtonList= $root.bottomButtonList.get_medicalStock(showData);"
  >
    <div class="content-wrapper-main mgt">
      <!-- 状态 -->
      <div ng-if="showData.operationFlowSet.message"
      class="pr-panel pr-panel-height mgb"
      ng-class="{'pr-bg-freeze color-freeze':showData.businessApplication.businessStatus =='已冻结',
      'pr-bg-pass color-pass':showData.businessApplication.businessStatus =='正常'}">
      <em>原因:</em>
       <p class="inline-block-important">
      <em ng-model="showData.operationFlowSet.key">{{showData.operationFlowSet.key}}</em>
       <em ng-model="showData.operationFlowSet.message">{{showData.operationFlowSet.message}}</em>
       </p>
      </div>
      <div class="panel pr-panel pr-panel-height mgb color-9 flex-row">
        <span class="text-left flex-item-2">
          单据编号：<em class="color-black">{{showData.relOrderNo || '暂无'}}</em>
        </span>
        <span class="text-right flex-item-10">
          制单部门：<em class="color-black mgr-s">{{showData.departmentName || '暂无'}}</em>
          制单人：<em class="color-black mgr-s">{{showData.inputUser.n || '暂无'}}</em>
          制单时间：<em class="color-black mgr-s">{{showData.createAt || '暂无' | date : 'yyyy-MM-dd HH:mm'}}</em>
          状态：
          <em ng-class="{'color-blue-freeze':showData.businessApplication.businessStatus =='已冻结', 'color-black':showData.businessApplication.businessStatus =='正常',
          'color-red':showData.businessApplication.businessStatus =='已终止'}">
          <em >{{showData.businessApplication.businessStatus ||'暂无'}}</em>

        </em>
      </span>

      </div>
        <!-- 基本信息 -->
        <div class="panel pr-panel pr-panel-height mgb">
          <h1 class="mgb-m mgt color-black text-bold text-n">基本信息</h1>
            <div>
              <div class="bb-dashed-line pd-v-m">
              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">性质：</span>
                <span class="flex-item-10 text-left">{{showData.medicalType}}</span>
              </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">通用名：</span>
                  <span class="flex-item-10 text-left">{{showData.approvedName}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">商品名称：</span>
                  <span class="flex-item-10 text-left">{{showData.name}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">英文名称：</span>
                  <span class="flex-item-10 text-left">{{showData.englishName}}</span>
                </div>

                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">商品分类：</span>
                  <span class="flex-item-10 text-left">{{showData.medicalAttribute.name}}</span>
                </div>

                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">编号：</span>
                  <span class="flex-item-10 text-left">{{showData.code}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">剂型／分类：</span>
                  <span class="flex-item-10 text-left">{{showData.dosageForms}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">规格／型号：</span>
                  <span class="flex-item-10 text-left">{{showData.specificationAndModelType}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">装箱规格：</span>
                  <span class="flex-item-10 text-left">{{showData.packingSpecification}}</span>
                </div>

                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">有效期：</span>
                  <span class="flex-item-10 text-left">{{showData.guaranteePeriod}}{{showData.guaranteePeriodUnit}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">预警天数：</span>
                  <span class="flex-item-10 text-left">{{showData.guaranteePeriodAlarmDay}}</span>
                </div>

                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">储存条件：</span>
                  <span class="flex-item-10 text-left">{{showData.storageCondition}}</span>
                </div>
                <div class="" ng-if="showData.storageCondition=='冷藏'||showData.storageCondition=='冷冻'">
                  <div class="flex-row mgt">
                    <span class="flex-item-2 text-right">温度上限：</span>
                    <span class="flex-item-10 text-left">{{showData.topTemperature}}</span>
                  </div>
                  <div class="flex-row mgt">
                    <span class="flex-item-2 text-right">温度下限：</span>
                    <span class="flex-item-10 text-left">{{showData.lowTemperature}}</span>
                  </div>
                  <div class="flex-row mgt">
                    <span class="flex-item-2 text-right">湿度上限：</span>
                    <span class="flex-item-10 text-left">{{showData.topHumidity}}</span>
                  </div>
                  <div class="flex-row mgt">
                    <span class="flex-item-2 text-right">湿度下限：</span>
                    <span class="flex-item-10 text-left">{{showData.lowHumidity}}</span>
                  </div>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">经营范围：</span>
                  <span class="flex-item-10 text-left">{{showData.businessScope.name}}</span>
                </div>
              </div>
              <div class="bb-dashed-line pd-v-m">
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">质量标准：</span>
                  <span class="flex-item-10 text-left">{{showData.quality}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">条形码：</span>
                  <span class="flex-item-10 text-left">{{showData.barcode}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">品牌：</span>
                  <span class="flex-item-10 text-left">{{showData.brand}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">产地：</span>
                  <span class="flex-item-10 text-left">{{showData.productionPlace}}</span>
                </div>
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">国家器械分类：</span>
                  <span class="flex-item-10 text-left">{{showData.medicalClassName}}</span>
                </div>
                <!--<div class="flex-row mgt">-->
                  <!--<span class="flex-item-2 text-right">U8计量单位名称：</span>-->
                  <!--<span class="flex-item-10 text-left">{{showData.u8UnitName}}</span>-->
                <!--</div>-->
                <div class="flex-row mgt">
                  <span class="flex-item-2 text-right">计价方式名称：</span>
                  <span class="flex-item-10 text-left">{{showData.u8ChargeTypeName}}</span>
                </div>
              </div>
              <div class="bb-dashed-line pd-v-m">
                <div  class="pd-v-m ">
                  <div class="flex-row mgt">
                    <span class="flex-item-2 text-right">生产企业名称：</span>
                    <span class="flex-item-10 text-left">{{showData.productEnterprise.name}}</span>
                  </div>

                  <div class="flex-row mgt">
                    <label class="flex-item-2 text-right control-label pdr-s">生产许可证号：</label>
                    <div class="flex-item-3 text-left">
                     <span>{{showData.productEnterprise.productLicense}}</span>
                    </div>
                    <label class="flex-item-2 text-right control-label pdr-s">许可证有效期至：</label>
                    <div class="flex-item-3 text-left">
                      <span>{{showData.productEnterprise.productLicensePeriod | date : 'yyyy-MM-dd'}}</span>
                    </div>
                  </div>

                  <div class="flex-row mgt">
                    <label class="flex-item-2 text-right control-label pdr-s">GMP认证：</label>
                    <div class="flex-item-3 text-left">
                      <span>{{showData.productEnterprise.gmpAuthentication}}</span>
                    </div>
                    <label class="flex-item-2 text-right control-label pdr-s">GMP有效期至：</label>
                    <div class="flex-item-3 text-left">
                      <span>{{showData.productEnterprise.gmpAuthenPeriod | date : 'yyyy-MM-dd'}}</span>
                    </div>
                  </div>

                  <div class="flex-row mgt">
                    <label class="flex-item-2 text-right control-label pdr-s">企业注册地址：</label>
                    <div class="flex-item-10 text-left">
                      <span>{{showData.productEnterprise.address}}</span>
                    </div>
                  </div>

                </div>

              </div>

              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">是否基药：</span>
                <span class="flex-item-10 text-left">{{showData.isBasicMedicine}}</span>
              </div>

              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">牌价：</span>
                <span class="flex-item-10 text-left">{{showData.quoteprice | currency:'￥'}}</span>
              </div>
              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">零售价：</span>
                <span class="flex-item-10 text-left">{{showData.retailPrice | currency:'￥'}}</span>
              </div>
              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">批发价：</span>
                <span class="flex-item-10 text-left">{{showData.tradePrice | currency:'￥'}}</span>
              </div>
              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">最高售价：</span>
                <span class="flex-item-10 text-left">{{showData.maxRetailPrice | currency:'￥'}}</span>
              </div>
              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">最低售价：</span>
                <span class="flex-item-10 text-left">{{showData.minRetailPrice | currency:'￥'}}</span>
              </div>

              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">采购价：</span>
                <span class="flex-item-10 text-left">{{showData.purchasePrice | currency:'￥'}}</span>
              </div>
              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">最高采购价：</span>
                <span class="flex-item-10 text-left">{{showData.maxPurchasePrice | currency:'￥'}}</span>
              </div>
              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">最低采购价：</span>
                <span class="flex-item-10 text-left">{{showData.minPurchasePrice | currency:'￥'}}</span>
              </div>
              <div class="flex-row mgt">
                <span class="flex-item-2 text-right">税率：</span>
                <span class="flex-item-10 text-left">{{showData.tax}}%</span>
              </div>
              <!-- <div class="flex-row mgt">
                <span class="flex-item-2 text-right">采购员：</span>
                <span class="flex-item-10 text-left">
                  <div class="inline-block relative">
                    <span class=" purchaseorder-buyer-info-outside">
                      <strong run-popovers
                              class="color-custom-orange cur-pot text-normal pr-color"
                              style="height:25px;">{{showData.buyer.n}}
                      </strong>
                      <span class="purchaseorder-buyer-info" style="top:22px;right:-70px;">
                        <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{showData.buyer.p}}</em></i>
                        <i class="block pdb-s text-normal">
                          <em class="fa fa-comment-o mgl"></em>
                          <em class="inline-block pdl pdr pdt">
                            <a href="javascript:;"
                               modal-center="490"
                               modal-data='{"toUser":{"n":"{{showData.buyer.n}}"},"userIds":["{{showData.buyer.id}}}"]}'
                               modal-url="views/notice/sendToUser.html">发送消息
                            </a>
                          </em>
                        </i>
                      </span>
                    </span>
                  </div>
                </span>
              </div> -->

              <!-- <div class="flex-row mgt">
                <span class="flex-item-2 text-right">效期预警天数：</span>
                <span class="flex-item-10 text-left">{{showData.guaranteePeriodAlarmDay}}</span>
              </div> -->
          </div>
        </div>

        <div class="pr-bg-white mgb-m" style="margin-top:-20px;">
          <div class="fl-l pdb-m pdt-m mgt mgl text-bold color-3" style="padding-top:0px;">
          单位信息
          </div>
          <table class="table pr-table pr-new-table mgt-m">
            <thead class="pr-bg-side">
              <tr>
                <th class="text-center">序号</th>
                <th class="text-center">单位类型</th>
                <th class="text-center">单位名称</th>
                <th class="text-center">换算比率</th>
                <th class="text-center">条形码</th>
                <th class="text-center">中标价</th>
                <th class="text-center">长(mm)</th>
                <th class="text-center">宽(mm)</th>
                <th class="text-center">高(mm)</th>
                <th class="text-center">重量(kg)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">1</td>
                <td class="text-center">基本单位</td>
                <td class="text-center">
                  {{showData.packingAttribute.name}}
                </td>
                <td class="text-center">
                    1
                </td>
                <td class="text-center">
                    {{showData.packingAttribute.barcode}}
                </td>
                <td class="text-right">
                  ￥{{showData.packingAttribute.bidPrice || '0.00' | number:2}}
                </td>
                <td class="text-right">
                  {{showData.packingAttribute.length}}
                </td>
                <td class="text-right">
                  {{showData.packingAttribute.width}}
                </td>
                <td class="text-right">
                  {{showData.packingAttribute.height}}
                </td>
                <td class="text-right">
                  {{showData.packingAttribute.unitWeightKg}}
                </td>
              </tr>
              <tr class="relative"
                  ng-repeat="tr in showData.othersPackingAttribute">
                <td class="text-center">{{$index+2}}</td>
                <td class="text-center">辅助单位</td>
                <td class="text-center">
                  {{tr.name}}
                </td>
                <td class="text-center">
                    {{tr.ratio}}
                </td>
                <td class="text-center">
                    {{tr.barcode}}
                </td>
                <td class="text-right">
                  ￥{{tr.bidPrice || '0.00' | number:2}}
                </td>
                <td class="text-right">
                  {{tr.length}}
                </td>
                <td class="text-right">
                  {{tr.width}}
                </td>
                <td class="text-right">
                  {{tr.height}}
                </td>
                <td class="text-right">
                  {{tr.unitWeightKg}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pr-bg-white mgb-m">
              <div class="fl-l pdb-m pdt-m mgt text-bold mgl color-3" style="padding-top:0px;">
              供应商信息
              </div>
              <table class="table pr-table pr-new-table">
                <thead class="pr-bg-side">
                <tr>
                  <th class="text-center">序号</th>
                  <th style="text-align: left;width: 270px;">供应商名称</th>
                  <th style="text-align: left">法定代表人</th>
                  <th style="text-align: left">分类</th>
                  <th style="text-align: left">编号</th>
                  <th style="text-align: left">分管部门</th>
                  <th style="text-align: left">业务人员</th>
                </tr>
                </thead>
                <tbody>
                  <tr  ng-repeat="supplier in showData.suppliers track by $index" >
                    <td class="text-center">{{$index+1}}
                    </td>
                    <td class="text-left">
                      {{supplier.name}}
                    </td>
                    <td class="text-left">
                      {{supplier.legalUser.n}}
                    </td>
                    <td class="text-left">{{supplier.supplierAttribute.showName}}</td>
                    <td class="text-left">{{supplier.code}}</td>
                    <td class="text-left">{{supplier.branchDepartmentName}}</td>
                    <td class="text-left">{{supplier.branchUser.n}}</td>
                  </tr>

                </tbody>
              </table>

              <div ng-if="!showData.suppliers.length" class="pr-bg-white ng-scope">
                <div class="empty-table clearfix">
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>
                  <div>&nbsp;</div>
                </div>
              </div>
            </div>
          </div>

        <div class="panel pr-panel pr-panel-height mgb">
          <h1 class="pr-font-18 mgb">申请原因</h1>
          <span>{{showData.applyReason}}</span>
        </div>

        <div  ng-init='attachmentsExtend={"title":"资质证照"}'
        attachments-show ng-model="showData.attachments" attachments-extend="attachmentsExtend">
        </div>

        <div ng-init='eAttachmentsExtend={"title":"电子档案"}'
        e-attachments-show ng-model="showData.eAttachments" e-attachments-extend="eAttachmentsExtend">
        </div>
        <!-- 审核人 -->
        <div ng-if="showData.enterFlag" ng-init='auditContactsExtend={"title":"审核人"}'
        audit-contacts--show ng-model="showData.auditContacts" audit-contacts--extend="auditContactsExtend">
        </div>

  <div class="handle-btn-area">
    <div class="btn-area" >
      <div ng-if="(!showData.didateFilter.buttons.length>0)&&showData.businessApplication.businessStatus" class="inline-block">
              <span class="mgr-l">
                <a ng-if="changeFlag"  href="javascript:;"
                   handle-this-click
                   dialog-title="确认返回?"
                   dialog-content="该申请单存在未保存数据，是否保存?"
                   dialog-template="pr-dialog-return.html"
                   nosave-callback="goTo({tabHref:'#/medicalStock/query.html'tabName:'品种管理'})"
                   save-callback="submitForm('medicalStock_editForm1','exit');
                   $root.goTo({tabHref:'#/medicalStock/query.html',tabName:'品种管理'})">返回品种管理列表</a>
                <a ng-if="!changeFlag" tab-nav tab-name="品种管理" tab-href="#/medicalStock/query.html">返回品种管理列表</a>
              </span>
              <!-- <span bottom-button-list="bottomButtonList">  </span> -->
              <span class="mgr-l" ng-if="$root.hasAuthor('品种管理删除')">
                <a ng-if="showData.id"
                   href="javascript:;"
                   class="color-red"
                   handle-this-click
                   dialog-title="确认删除?"
                   dialog-content="删除后将无法恢复,确认删除?"
                   dialog-template="pr-dialog-submit.html"
                   callback="$root.goTo({tabHref:'#/medicalStock/query.html',tabName:'品种管理'})"
                   params='{"id":showData.id}'
                   request-url="rest/authen/medicalStock/delete">删除</a>
              </span>
              <span>
                <span ng-if="showData.businessApplication.businessStatus!='已冻结'&&showData.businessApplication.businessStatus!='已终止'">
                  <button class="btn-freeze mgr pr-bg-orange"
                          style="margin-left:0;height:32px;line-height:32px;"
                          type="button"
                          ng-if="$root.hasAuthor('品种管理冻结')"
                          modal-center="340"
                          modal-scope="this"
                          modal-data='{"title":"确认",
                                       "content":"冻结后，将无法对该客户销售。确认冻结？",
                                       "btnConfirm":"确定",
                                       "btnCancel":"取消",
                                       "url":"rest/authen/medicalStock/updateStatus",
                                       "goUrl":"",
                                       "id":"{{showData.id}}",
                                       "status":"已冻结"
                                      }'
                          tpl-url="tpl/pr-dialog-submit-message.html">冻结
                  </button>
                </span>
                <span ng-if="showData.businessApplication.businessStatus=='已冻结'">
                  <button class="btn btn-primary pr-btn-bg-gold pr-btn-save-glodbg mgr"
                          type="button"
                          ng-if="$root.hasAuthor('品种管理解冻')"
                          modal-center="340"
                          modal-scope="this"
                          modal-data='{"title":"确认解冻?",
                                       "content":"解冻后，此品种将恢复销售。确认解冻？",
                                       "btnConfirm":"确定",
                                       "btnCancel":"取消",
                                       "url":"rest/authen/medicalStock/updateStatus",
                                       "goUrl":"",
                                       "id":"{{showData.id}}",
                                       "status":"正常"
                                      }'
                          tpl-url="tpl/pr-dialog-submit-message.html">解冻
                  </button>
                </span>
                <span class="line-hei-36" ng-if="showData.businessApplication.businessStatus!='已终止'">
                  <button class="btn-reject mgr color-white text-center"
                          style="vertical-align:inherit;"
                          type="button"
                          ng-if="$root.hasAuthor('品种管理终止')"
                          handle-this-click
                          dialog-title="确认终止?"
                          dialog-content="终止后，该信息将被取消，确定终止?"
                          dialog-template="pr-dialog-submit.html"
                          request-url="rest/authen/medicalStock/updateStatus"
                          params='{"id":showData.id,"status":"已终止"}'
                          alert-error
                          callback="$root.utils.refreshHref()"
                          >终止
                  </button>
                </span>
          </span>
          <a ng-if="!showData.businessApplication.businessStatus" tab-nav tab-name="品种管理" tab-href="#/medicalStock/query.html">返回品种管理列表</a>
          <span >
            <button type="button" name="button"  class="pr-btn-save-glodbg mgr" ng-if="$root.hasAuthor('品种管理修改')">
              <a class="color-white" tab-nav tab-name="品种管理" tab-href="#/medicalStock/edit.html?id={{showData.id}}">编辑</a>
            </button>
          </span>
      </div>

    </div>
  </div>
  </div>

</div>
</table-list>
