<div class="content-wrapper color-9 pd-v-xl"
    ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_BatchRequirementStatus"
    scope-data="batchRequirementStatus"
    alert-error>
  <!-- 凭证头部信息 -->
  <div class="panel pr-panel pr-panel-height mgb flex-column">
    <span class="flex-item-6">对应采购单号：<em class="color-6">C000123456</em></span>
    <span class="flex-item-6 text-right">状态：<em class="color-6">未发送</em></span>
  </div>
  <!-- 凭证主内容 -->
  <div class="panel pr-panel pr-panel-height mgb">
    <h1 class="text-center pr-font-20 pd-v-l">采购凭证</h1>
    <div class="flex-column">
      <div class="flex-item-8">
        <p class="mgb">供应商：<em class="color-6">哈药集团</em></p>
        <p class="mgb">订货单位：<em class="color-6">国药集团云南医疗器械有限公司</em></p>
        <p class="mgb">联系人：<em class="color-6">朱晓明</em></p>
        <p>到货地址：<em class="color-6">云南省昆明市高新技术开发区 产业基地A1-4地块新城基地标准工业厂房2号</em></p>
      </div>
      <div class="flex-item-4">
        <p class="mgb">凭证号：<em class="color-6">PZ16102323258010</em></p>
        <p class="mgb">日期：<em class="color-6">2016-10-10</em></p>
        <p>电话：<em class="color-6">13800138000</em></p>
      </div>
    </div>
    <div class="order-details">
      <table class="mgt-l pr-table" style="width:100%;table-layout:auto;">
        <thead>
          <th class="">药品名称/生产厂家/规格</th>
          <th class="text-center">型号规格</th>
          <th class="text-center">单位</th>
          <th class="text-center">数量</th>
          <th class="text-center">单价</th>
          <th class="text-center">金额</th>
          <th class="text-center">注册证号</th>
        </thead>
        <tbody>
          <tr class="tr-interval"><td colspan="9"></td></tr>
          <tr>
            <td class="goods-name has-border text-v-t pd-m">电热干燥箱</td>
            <td class="has-border text-center text-v-t pd-m">930MBE</td>
            <td class="has-border text-center text-v-t pd-m">台</td>
            <td class="has-border text-center text-v-t pd-m">50</td>
            <td class="has-border text-center text-v-t pd-m">￥1482.00</td>
            <td class="has-border text-center text-v-t pd-m">￥417800.00</td>
            <td class="has-border text-center text-v-t pd-m">国食药监械(准)字2008第2210492</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="text-right pd-v-l bb-line">
      <span class="mgr-l">合计：￥74250.00</span>
      <span>人民币大写：柒万肆仟贰佰伍拾元整</span>
    </div>
    <div class="pd-v-l bb-line">
      备注：无
    </div>
    <div class="pd-v">
      采购员：张三
    </div>
  </div>
  <!-- 凭证功能按钮 -->
  <div class="flex-column">
    <div class="flex-item-2">
      <a href="#">下载PDF文件</a>
    </div>
    <div class="flex-item-10 text-right">
      <span class="mgr">
        <a href="javascript:;"
           class="btn pr-btn-respoinsive pr-btn-respoinsiv-m"
           handle-this-click
           dialog-title="输入接收方Email"
           dialog-content=""
           dialog-template="pr-dialog-sendEmail.html">发送至厂家</a>
      </span>
      <span><a href="#/purchaseVoucher/query.html">返回采购凭证中心</a></span>
    </div>
  </div>
</div>
