<div class="create-new-order"
      ng-controller="purchaseOrderEditCtrl"
      ajax-url="rest/authen/purchaseVoucher/get.json?id={{mainStatus.pageParams.id}}&relId={{mainStatus.pageParams.relId}}"
      scope-data="scopeData"
      callback="initFlag=true;watchFormChange('formData');formData=scopeData;"
      alert-error>

  <form id="editForm"
        name="editForm"
        form-validator
        parameter-body
        action="rest/authen/purchaseVoucher/update"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter();watchFormChange('formData')">
    <!-- 头部信息 -->
    <div class="content-wrapper-heading mgb-l relative clearfix">
      <p class="pdb-s pdt-s crumbs pd-c-xxl ">采购中心 >
        <a href="#/purchaseVoucher/query.html">
           <em class="color-custom-orange">采购凭证</em>
        </a>
       <em>> 采购凭证详情</em>
      </p>
      <!-- 标题 -->
      <div class="pd-c-xxl pdt-l pdb-l clearfix">
        <div class="pos-rel-tl inline-block fl-l">
          <h1 class="pr-font-20 color-black">采购凭证详情</h1>
        </div>
      </div>
    </div>
    <!-- 药械列表 -->
    <div class="content-wrapper">

      <div ng-if="scopeData.orderStatus=='已作废'" class="pr-panel pr-panel-height mgb-m pr-bg-pink">
        <em class="color-red">原因:</em>
        <p class="inline-block color-red">
          <em ng-model="scopeData.operationFlowSet.key">{{scopeData.operationFlowSet.key}}</em>
          <em ng-model="scopeData.operationFlowSet.message">{{scopeData.operationFlowSet.message}}</em>
        </p>
      </div>

      <!-- 单据信息 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height flex-column color-9 pd-c-l pdt-m pdb-m" ng-class="{'pr-bg-grey3':scopeData.orderStatus=='已作废'}">
        <div class="flex-item-6">
          <span class="mgr">单据编号：<em class="color-3">{{scopeData.orderNo}}</em></span>
          <span class="mgr">参照采购单：
            <em class="color-6">
              <a href="#/purchaseOrder/get.html?id={{scopeData.relId}}">{{scopeData.relOrderNo}}</a>
            </em>
          </span>
          <span class="mgr">制单人：<em class="color-custom-orange">{{scopeData.approverUser.n}}</em></span>
        </div>
        <div class="flex-item-6 text-right">
          <span class="mgr">录单日期：<em class="color-3">{{scopeData.createAt | date:'yyyy-MM-dd'}}</em></span>
          <a modal-center="1000px"
             modal-data='{"businessKey":"{{scopeData.id}}"}'
             modal-scope="this"
             modal-url="views/workflowTask/getOfDialog.html">
             <span class="mgr">状态：<em class="color-3">{{scopeData.orderStatus}}</em></span>
          </a>
        </div>
      </div>
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l pd-n" ng-class="{'pr-bg-grey3':scopeData.orderStatus=='已作废'}">
        <div class=""><h1 class="text-center pr-font-18 pdt-m pdb-m color-6">采购凭证</h1></div>
        <!-- 供应商信息 -->
        <div class=" pd-c-l pdt-m pdb-m bb-dashed-line">
          <span class="mgr-l">供应商：<em class="color-3">{{scopeData.supplier.name}}</em></span>
          <span class="mgr-l">联系人：<em class="color-3">{{scopeData.supplier.contact.name}}</em></span>
          <span class="mgr-l">手机：<em class="color-3">{{scopeData.supplier.contact.tel}}</em></span>
          <span class="mgr-l">座机：<em class="color-3">{{scopeData.supplier.contact.telephone}}</em></span>
        </div>
        <div class=" pd-c-l pdt-m pdb-m">
          <span class="mgr-l">订货单位：<em class="color-3">{{$root.curUser.additional.HabbitOrganizationName}}</em></span>
          <span class="mgr-l">采购员：<em class="color-3">{{scopeData.inputUser.n}}</em></span>
          <span class="mgr-l">到货地址：<em class="color-3">{{scopeData.customerContacts.prov}} {{scopeData.customerContacts.city}} {{scopeData.customerContacts.area}} {{scopeData.customerContacts.address}}</em></span>
        </div>
        <!-- 商品列表 -->
        <div class="">
          <table class="table pr-table pr-new-table mgb-n">
              <thead>
              <tr>
               <th  class="text-left w-110">商品全名</th>
               <th  class="text-center w-110">生产厂家</th>
               <th class="text-center">规格/型号</th>
               <th class="text-center">单位</th>
               <th class="text-center">数量</th>
               <th class="text-center">含税单价</th>
               <th class="text-center w-110">含税金额</th>
               <th class="text-center">注册证号</th>
             </tr>
              </thead>
              <tbody>
                <tr
                ng-repeat="tr in scopeData.orderMedicalNos"
                salesorder-edit-show-delbtn
                ng-init="orderMedicalNoIds.push(tr.relId)"
                ng-controller="purchaseOrderEditCtrl">
                  <td class="text-left">
                    <div class="autocut-l" title="{{tr.name}}">
                        {{tr.name}}
                    </div>
                  </td>
                  <td class="text-center">
                    {{tr.manufacturer}}
                  </td>
                  <td class="text-center">
                    {{tr.specificationAndModelType}}
                  </td>
                  <td class="text-center">
                    {{tr.unit}}
                  </td>
                  <td class="text-right">
                    {{tr.quantity}}
                  </td>

                  <td class="text-right">
                    ￥{{tr.price| number:2}}
                  </td>

                  <td class="text-right">
                    ￥{{$root.purchaseOrderUtils.getWuSuiJinE(tr) || '0' | number:2}}
                  </td>

                  <td class="text-center">
                  {{tr.drugAdministrationCode}}
                  </td>
                </tr>
              </tbody>
            </table>
          <div class="text-right pd-c-v-l bb-line">
            <span class="mgr-l pr-font-18 color-6">合计：<span class="color-black">￥{{scopeData.totalPrice | number:2}}</span></span>
            <span class="pr-font-18 color-6">人民币大写: <span class="color-black">{{scopeData.totalPrice | upDigit}}</span></span>
          </div>
        </div>
      </div>
      <!-- 备注 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb" ng-class="{'pr-bg-grey3':scopeData.orderStatus=='已作废'}">
        <h1 class="text-bold color-3 mgb-m">备注</h1>
        <textarea ng-if="scopeData.orderStatus!='已作废'" class="pr-textarea" ng-model="scopeData.note"></textarea>
        <p class="mgt" ng-if="scopeData.orderStatus=='已作废'">{{scopeData.note}}</p>
      </div>
    </div>
    <!-- 流程图 -->

    <business-flow-show business-key="{{scopeData.id}}" business-type="采购单"></business-flow-show>


    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-left-area">
        <span class="uploader-PDF-icon"></span>
        <a href="{{scopeData.voucherUrl}}">下载PDF文件</a>
      </div>
      <div class="btn-area mgb-s" style="background:rgba(54,48,44,0.30);">
        <span class="mgt-l"><a href="#/purchaseVoucher/query.html">返回采购凭证列表</a></span>
        <span class="mgl mgt">
          <a href="javascript:;"
             ng-if="scopeData.orderStatus=='已发送'"
             modal-right="350"
             modal-scope="this"
             modal-data='{}'
             modal-url="angular/tpl/pr-dialog-show-message.html">查看发送记录
          </a>
        </span>
        <span class="mgl mgt">
          <a ng-if="scopeData.orderStatus!='已作废'"
             class="color-red"
             modal-center="350"
             modal-scope="this"
             modal-data='{"title":"确认",
                          "content":"作废后，该采购凭证将作废，确认作废?",
                          "btnConfirm":"确定",
                          "btnCancel":"取消",
                          "url":"rest/authen/purchaseVoucher/updateStatus",
                          "goUrl":"",
                          "id":"{{mainStatus.pageParams.id}}",
                          "status":"已作废"
                         }'
             modal-url="angular/tpl/pr-dialog-submit-message.html">作废
          </a>
        </span>

        <!-- <span ng-if="scopeData.didateFilter.buttons.length>0"
              custom-menu-list
              custom-menu-arr="{{scopeData.didateFilter.buttons}}">
        </span> -->

        <button class="pr-btn-save-glodbg mgr">
          <a class="color-white" ng-href="indexOfPrint.html#/print/purchaseVoucherPrint.html?id={{scopeData.id}}" target="_blank">打印预览</a>
        </button>
        <span class="mgr mgl mgt" ng-if="scopeData.orderStatus!='已作废'">
          <button class="pr-btn-save-glodbg mgt"
                  ng-disabled="!changeFlag || firstEnterpriseEditForm.$invalid"
                  ng-click="submitForm('first-enterprise-editForm','save')">保存
          </button>
        </span>
        <span ng-if="$root.hasAuthor('采购凭证编辑') && scopeData.orderStatus!='已作废'" class="mgl">
          <button type="button"
                  class="pr-btn-respoinsive pr-btn-respoinsiv-l pr-btn-respoinsiv-bigrds color-white mgt"
                  modal-center="490"
                  modal-scope="this"
                  modal-data='{"refreshPage":"true","id":"{{scopeData.id}}"}'
                  modal-url="views/purchaseVoucher/sendEmail.html">{{scopeData.orderStatus=='待发送'?'立即发送至厂家':'再次发送'}}
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
