<div ng-if="dialogData.refreshPage=='true'" ng-init="formData={id:dialogData.id}" class="pr-page-dialog-wrap">
  <form action="rest/authen/email/sendPurchaseVoucher"
        auto-close-dialog
        form-validator
        alert-ok
        callback="$root.goTo('#/purchaseVoucher/get.html?id='+formData.id)">
    <div class="pr-page-dialog-title bb-line pdl-l">
      <span>发送采购凭证</span>
    </div>
    <div class="pr-page-dialog-content bb-line" ng-init="tipsShow=false;">
      <span class="color-red cur-pot relative" style="top:-8px;" ng-mouseenter="tipsShow=true" ng-mouseleave="tipsShow=false">*<em ng-if="tipsShow" class="pr-tips">必填字段</em></span>
      <input type="text"
             ng-model="formData.toEmail"
             class="ipt"
             style="width:299px;height:36px;"
             ng-pattern="/^[0-9a-zA-Z][_.0-9a-z-A-Z]{0,31}@([0-9a-zA-Z][0-9a-z-A-Z]{0,30}[0-9a-zA-Z]\.){1,4}[a-zA-Z]{2,4}$/">
    </div>
    <div class="pr-page-dialog-footer text-center mg-m">
      <a href="" class="mgr-l" ng-click="closeThisDialog('cancelBtn')">取消</a>
      <button type="submit"
              class="pr-btn-save-glodbg"
              ng-click="confirm()"
              ng-disabled="!formData.toEmail">发送</button>

    </div>
  </form>
</div>

<div ng-if="dialogData.refreshPage!='true'" ng-init="formData={id:dialogData.id}" class="pr-page-dialog-wrap">
  <form action="rest/authen/email/sendPurchaseVoucher"
        auto-close-dialog
        form-validator
        alert-ok
        broadcast="reloadList">
    <div class="pr-page-dialog-title bb-line pdl-l">
      <span>发送采购凭证</span>
    </div>
    <div class="pr-page-dialog-content bb-line" style="min-height:101px;">
        <input type="text"
               ng-model="formData.toEmail"
               class="ipt"
               placeholder="输入接收方E-mail"
               style="width:299px;height:36px;margin-left: 5px;"
               ng-pattern="/^[0-9a-zA-Z][_.0-9a-z-A-Z]{0,31}@([0-9a-zA-Z][0-9a-z-A-Z]{0,30}[0-9a-zA-Z]\.){1,4}[a-zA-Z]{2,4}$/">
    </div>
    <div class="pr-page-dialog-footer text-center mg-m">
      <button type="submit"
              class="pr-btn-save-glodbg"
              ng-click="confirm()"
              style="width:160px;height32px;"
              ng-disabled="!formData.toEmail">发送</button>
    </div>
  </form>
</div>
