
<div class="modal-content pr-modal-content right-side-new pr-bg-black4 more-stock"
     ng-controller="salesChangeOrderDialogCtrl"
     ajax-url=""
     scope-data="stockBatchList"
     ng-init="listParams={};"
     style="position: relative"
     callback="initFlag=true;$root.reloadTime=$root.utils.getNowTime();getChoisedBatchsId(dialogData.choisedBatchList);"
>

    <style>

        .tab a {
            display: block;
            width: 150px;
            float: left;
            height: 100%;
            margin: 0;
            padding: 0;
            border-bottom: #C7A77B solid 1px;
            border-right: #C7A77B solid 1px;
            margin-top: -1px;
        }

        .tab a .cur {
            color: white;
            background: #443F3A;
            border-bottom: #443F3A solid 1px;
        }

        .goods-info {
            margin: 15px 20px;
        }

        .goods-info .color-6 {
            font-size: 12px;
            color: #999999;
            line-height: 16px;
            width: 40%;
            display: inline-block;

        }

        .goods-info .color-6 i {
            color: white;
            font-style: normal;

        }

        .line-dotted {
            height: 2px;
            margin: 10px 0;
            width: auto;
            border-bottom: dashed rgba(255, 255, 255, 0.26) 1px;
        }

        .order-list {
            width: 100%;
            margin: 15px;
            height: 570px;
            overflow: auto;
            padding-bottom: 50px;
        }

        .order-list ul.li-min-h li {
            width: 33%;
            float: left;
            cursor: pointer;
            padding-top: 5px;
        }

        .order-list li .mgb-xxl:hover,.order-list li .mgb-xxl.on {
            -webkit-box-shadow: 0 0 10px #ff8c00;
            -moz-box-shadow: 0 0 10px #ff8c00;
            box-shadow: 0 0 10px #ff8c00;
        }

        .order-list li .pr-bg-grey2 {
            background: #ddd;
        }


        .choiced {
            width: 25px;
            height: 25px;
            /*line-height: 25px;*/
            /*background: #C7A77B;*/
            /*color: #fff;*/
            /*border-radius: 50%;*/
            /*text-align: center;*/
            /*font-size: 20px;*/
            position: absolute;
            left: 10px;
        }


        /* 重写样式- 药械闪加*/
        p.mgb{
            display: none;
        }
       input.pr-w-100{
            width: 390px!important;
        }
        .angucomplete-dropdown{
            width: 390px!important;
        }
        .angucomplete-holder .ipt{
            width: 100%;
        }

    </style>

    <!-- 标题 -->
    <div class="bb-line-gold pr-bg-black2 min-h-l">
        <h1 ng-init="type='按商品查找'" class="pr-indent-20 pdb-m text-n" style="line-height:50px;max-height:35px;">
            参照发货单
        </h1>
    </div>


    <div
         ajax-url="rest/authen/invoicesOrder/get?id={{selectedData.id||dialogData.relId}}"
         scope-data="scopeData"
         callback="isChoiseAll=false;checkRelId(dialogData.relId,scopeData.id);">

        <!-- 按单号查找  ng-show="!dialogData.relId"-->
        <div class="pdt-s pdb-s pd-c-xl"  ng-show="!dialogData.relId">
            <div class="inline-block relative" style="margin: 12px 0 15px -10px;">

                <span angucomplete placeholder="发货单号"
                      style="width: 240px"
                      title-field="orderCode"
                      search-fields=""
                      search-str-class="ipt"
                      url="rest/authen/invoicesOrder/query?orderStatus=已发货,已收货&orderBusinessType=普通销售"
                      class="inline-block"
                      ng-model="selectedData">
                </span>
                <!-- <span class="receive-item-icon" style="top: 6px;right: 15px;"></span> -->
            </div>
        </div>


        <!--客戶和物流信息-->
        <div ng-if="scopeData" class="purchaseOrder-edit">
            <div class="inline-block"  style="width: 214px; margin: 0 20px; margin-top:20px;">
                <div class="inline-block mgr-l">
                    <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="
                    background: rgba(54,48,44,0.3);
                    box-shadow: none;
                    padding:15px;min-height:88px; min-width: 214px; max-width:412px; ">
                        <div class="inline-block customer-name "></div>
                        <div class="inline-block">
                            <p class="mgb-s" style="margin-left: 10px; color: #999999;">客户名</p>
                            <p class="mgb-s" style="margin-left: 10px;font-size: 14px;color: #FFFFFF;">{{scopeData.logisticsCenterName || "暂无"}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="inline-block purchaseOrder-edit" style="width: 214px;">
                <div class="inline-block mgr-l" style="">
                    <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="
                       background: rgba(54,48,44,0.3);
                       margin-top:20px;
                       box-shadow: none;
                     padding:15px;min-height:88px;  min-width: 214px; max-width:412px;">
                        <div class="inline-block logistics-center"></div>
                        <div class="inline-block">
                            <p class="mgb-s" style="margin-left: 10px; color: #B5B5B5;">物流中心</p>
                            <p class="mgb-s" style="margin-left: 10px;font-size: 14px;color: #FFFFFF;">{{scopeData.logisticsCenterName || "暂无"}}</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div ng-if="!scopeData" class="empty-panel-new clearfix ng-scope empty-panel" style="background:rgba(54,48,44,0.3);">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>

            <div ng-if="scopeData" class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n"

                 style="padding: 0; background: rgba(54,48,44,0.3);">
                <!-- 单据信息 -->
                <div class="flex-row color-9 pd-c-l pdt-m pdb-m" style="border: 1px dashed rgba(0,0,0,0.10);">
                    <div class="flex-item-6">
                        <span class="mgr">单据编号：<em class="color-white">{{scopeData.orderCode}}</em></span>
                        <span class="mgr">单据日期：<em class="color-white">{{scopeData.orderDate || '暂无' | date:'yyyy-MM-dd'}}</em></span>
                    </div>
                    <div class="flex-item-6 text-right">
                       <span class="mgr">状态：<em class="color-white">{{scopeData.orderStatus}}</em></span>
                    </div>
                </div>

                <!-- 类别选择 -->
                <div class="pd-c-l pdt-m pdb-m color-9">
                    <span class="mgr-l">业务部门：<em class="color-white">{{scopeData.salesDepartmentName}}</em></span>
                    <span class="mgr-l">业务人员：<em class="color-orange">{{scopeData.saleUser.n}}</em></span>
                    <span class="mgr-l">销售类型：<em class="color-white">{{scopeData.salesType}}</em></span>
                    <span class="mgr-l">预发货日期：<em class="color-white">{{scopeData.expectDate | date:'yyyy-MM-dd'}}</em></span>
                </div>

            </div>

            <!-- 商品列表 -->
            <div class="pr-panel pd-n pr-panel-height ng-scope">
                <table class="table pr-table pr-new-table mgb-n">
                    <thead>
                    <tr>
                        <th class="w-60 text-center mycheck">
                            <input type="checkbox" class="selectAll cur-pot" id='salasChangeOrderDialog_1'

                                   ng-model="isChoiseAll2"
                                   ng-click="handleChoiseAllEvent(isChoiseAll2,scopeData.orderMedicalNos);"
                            >
                            <label for="salasChangeOrderDialog_1" style="top: 10px;"></label>
                        </th>
                        <th class="text-center">商品编号</th>
                        <th>商品通用名</th>
                        <th class="text-center">剂型/分类</th>
                        <th class="text-center">规格/型号</th>
                        <th class="text-center">单位</th>
                        <th class="text-center">计划数量</th>
                        <th class="text-center">实发数量</th>
                        <th class="text-center">生产批号</th>
                        <th class="text-center">灭菌批号</th>
                        <th class="text-center">仓库</th>
                        <th class="text-center">含税单价</th>
                        <th class="text-center">价税合计</th>
                        <th class="text-center">失效日期</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in scopeData.orderMedicalNos">

                        <td class="select-td text-center mycheck">

                            <!--ng-disabled="!compareOrderId(dialogData.relId,scopeData.id) || item.disabled"-->

                            <input type="checkbox"
                                   ng-init="item.handleFlag= compareOrderId(dialogData.relId,scopeData.id) && itemInArray(item.lineNumber,formData.orderMedicalNos,'lineNumber')&& itemInArray(item.lineNumber,formData.orderMedicalNos,'lineNumber');
                                       item.disabled =  (itemInArray(item.lineNumber,formData.orderMedicalNos,'lineNumber')   || item.outgoingQuantity<1);"
                                   ng-disabled="!compareOrderId(dialogData.relId,scopeData.id) || item.disabled"
                                   class="selectOne cur-pot" id='salasChangeOrderDialog_{{$index+2}}'
                                   ng-model="item.handleFlag"
                                   ng-click="handleItemClickEvent(item,scopeData.orderMedicalNos,'lineNumber');">
                            <label for="salasChangeOrderDialog_{{$index+2}}"></label>
                        </td>

                        <td class="text-center">{{item.code}}</td>
                        <td>
                                    <span
                                            class="color-orange cur-pot lend-order-goods-info"
                                            ng-init="showInfoArea=false"
                                            ng-mouseenter="showInfoArea=true"
                                            ng-mouseleave="showInfoArea=false">{{item.approvedName}}
                                      <show-info-modal ng-show="showInfoArea"
                                                       get-data-type="local"
                                                       template-url="tpl/showInfoModalLendOrder"
                                                       info-object="{{item}}"
                                                       info-title="商品信息">
                                      </show-info-modal>
                                    </span>
                        </td>
                        <td class="text-left">{{item.dosageForms}}</td><!-- 剂型分类 -->
                        <td class="text-center">{{item.specificationAndModelType}}</td>
                        <td class="text-center">{{item.unit}}</td>
                        <td class="text-center">{{item.quantity}}</td>
                        <td class="text-center">{{item.outgoingQuantity}}</td>
                        <!-- <td class="text-center">{{item.differenceQuantity}}</td> -->
                        <!-- 批号要求 -->
                        <td class="text-center">{{item.productionBatch}}</td>
                        <td class="text-center">{{item.sterilizationBatchNumber}}</td>
                        <td class="text-center">{{item.warehouseName}}</td>
                        <td class="text-right">￥{{item.strike_price | number:2}}</td>
                        <td class="text-right">￥{{item.strike_price*item.quantity || item.totalPrice | number:2}}</td>
                        <td class="text-center">{{item.validTill | date : 'yyyy-MM-dd'}}</td>
                    </tr>
                    </tbody>
                </table>

            </div>
            <div ng-if="!scopeData" class="empty-table empty-table-new clearfix" style="background:rgba(54,48,44,0.3);">
              <div>&nbsp;</div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
            </div>
            <div ng-if="scopeData" class="bt-line flex-row" style="background: rgba(54,48,44,0.3);" >
                <p class="flex-item-12 text-right pdb-m pdt-m pd-c-l ">
                  <span class="mgr-l color-9">制单部门：
                    <em class="color-white">{{scopeData.departmentName || '暂无'}}</em>
                  </span>

                    <span class="mgr-l color-9">制单人：<em class="color-orange">{{scopeData.inputUser.n || '暂无'}}</em></span>

                    <span class="color-9 mar-r10">制单时间：<em class="color-white">{{scopeData.createAt || '暂无' | date: 'yyyy-MM-dd HH:mm'}}</em></span>
                </p>
            </div>

            <div class="footer-button-area" style="position:fixed;bottom:0px;">
                <button type="submit" style="width:160px;margin-left:500px;" ng-disabled="selectedBatchs2.length<1"
                        class="pr-btn-create-glodbg new-left-side-button"
                        ng-click="addOrderDataToList(dialogData.relId,scopeData);modal.close()">确定</button>
            </div>
        </div>

    </div>
