<!--ng-controller="collarApplicationOrderController"-->

  <div class="create-new-order allocate-order collarApplicationOrder-edit purchase-plan-order"

      ajax-url="rest/authen/salesChangeOrder/get?id={{mainStatus.pageParams.id}}&businessKey={{mainStatus.pageParams.businessKey}}&orderNo={{mainStatus.pageParams.orderNo}}"
      scope-data="scopeData"
      callback="initFlag=true;handleMessageShow(scopeData);rejectButton=$root.utils.getcustomMenuByKeyOfArr(showData.customMenu,'驳回');passButton=$root.utils.getcustomMenuByKeyOfArr(showData.customMenu,'通过');"
      alert-error>
  <!-- 头部信息 -->
  <page-main-header-component list-params="listParams"
                              crumbs-nav='[{"name":"销售中心","link":"","style":""},{"name":"销售换货单","link":"","style":"color-custom-orange"},{"name":"销售换货单详情","link":"","style":""}]'
                              component-title="销售换货单详情">
  </page-main-header-component>



  <!-- 药械列表 -->
  <div ng-if="scopeData.operationFlowSet.key||scopeData.operationFlowSet.message"
  ng-class="{'pr-bg-pink1':(scopeData.orderStatus=='已作废'||scopeData.orderStatus=='未通过')}"
  class="pr-panel pr-panel-height mgb pr-bg-pass color-pass"
  style="margin-left:30px;margin-right:30px;">
    <em ng-class="{'color-red':(scopeData.orderStatus=='已作废'||scopeData.orderStatus=='未通过')}">原因:</em>
    <p class="inline-block " ng-class="{'color-red':(scopeData.orderStatus=='已作废'||scopeData.orderStatus=='未通过')}">
      <em >{{scopeData.operationFlowSet.key}}</em>
      <em >{{scopeData.operationFlowSet.message}}</em>
    </p>
  </div>

  <div class="content-wrapper">

    <div class="inline-block" ng-if="initFlag">
      <div class="inline-block mgr-l">
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
          <div class="inline-block customer-name "></div>
          <div class="inline-block">
            <p class="mgb-s" style="margin-left: 70px;">客户名</p>
            <p class="mgb-s" style="margin-left: 70px;font-size: 14px;color: #333333;">{{scopeData.customerName || "暂无"}}</p>
          </div>
        </div>
      </div>

    </div>
    <div class="inline-block purchaseOrder-edit" ng-if="initFlag">
      <div class="inline-block mgr-l">
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
          <div class="inline-block logistics-center"></div>
          <div class="inline-block">
            <p class="mgb-s" style="margin-left: 20px;">退回预入物流中心</p>
            <p class="mgb-s" style="margin-left: 20px;font-size: 14px;color: #333333;">{{scopeData.logisticsCenterName || "暂无"}}</p>
          </div>
        </div>
      </div>

    </div>


    <div class="inline-block purchaseOrder-edit" ng-if="initFlag">
      <div class="inline-block mgr-l">
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
          <div class="inline-block logistics-center "></div>
          <div class="inline-block">
            <p class="mgb-s" style="margin-left: 20px;">出货物流中心</p>
            <p class="mgb-s" style="margin-left: 20px;font-size: 14px;color: #333333;">{{scopeData.logisticsCenterName || "暂无"}}</p>
          </div>
        </div>
      </div>

    </div>

    <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l pd-n">


      <!-- 单据信息 -->
      <div class="flex-column color-9 pd-c-l pdt-m pdb-m bb-dashed-line">
        <div class="flex-item-6">
          <span class="mgr">单据编号：<em class="color-3">{{scopeData.orderCode ||  '暂无'}}</em></span>
          <span class="mgr">单据日期：<em class="color-3">{{scopeData.expectDate || '暂无' | date:'yyyy-MM-dd'}}</em></span>


          <span style="display: none;" class="mgr">审核人：<em class="color-3">{{scopeData.approver.approverUser.n || '暂无'}}</em></span>
          <span style="display: none;" class="mgr relative">制单人：
            <span class="purchaseorder-buyer-info-outside">
              <strong run-popovers class="color-custom-orange cur-pot text-normal pr-color"
              style="position:relative;height:25px;">{{scopeData.inputUser.n}}</strong>
              <span class="purchaseorder-buyer-info" style="right:-73px">
                <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{scopeData.inputUser.p}}</em></i>
                <i class="block pdb-s text-normal">
                  <em class="fa fa-comment-o mgl"></em>
                  <em class="inline-block pdl pdr pdt">
                    <a href="javascript:;"
                       modal-center="340"
                       modal-data='{"toUser":{"n":"{{scopeData.inputUser.n}}"},"userIds":["{{scopeData.inputUser.id}}}"]}'
                       modal-url="views/notice/sendToUser.html">发送消息
                    </a>
                  </em>
                </i>
              </span>
            </span>
          </span>

          <span class="mgr">发货单编号：
             <a ng-if="scopeData.relOrderNo" tab-nav tab-name="发货单" tab-href="#/invoicesOrder/get.html?id={{scopeData.relId}}" target="_blank" class="color-orange">{{scopeData.relOrderCode}}</a>
             <span ng-if="!scopeData.relOrderNo">暂无</span>
           </span>
          <!--<span class="mgr">审核日期：<em class="color-3">{{scopeData.approver.approverDate|| '暂无' | date:'yyyy-MM-dd'}}</em></span>-->
        </div>

        <div class="flex-item-6 text-right">
          <!--<span style="display: none;" class="mgr">系统编号：<em class="color-3">{{scopeData.orderNo}}</em></span>-->
          <span class="mgr">状态：<em class="color-3">{{scopeData.orderStatus}}</em></span>
        </div>
      </div>

      <!-- 单据信息 -->
      <div class="pd-c-l pdt-m pdb-m color-9">

        <span class="mgr-l">业务部门：<em class="color-3">{{scopeData.salesDepartmentName || '暂无'}}</em></span>

        <span class="mgr-l">业务人员：<em class="color-3">{{scopeData.saleUser.n || '暂无'}}</em></span>

        <span class="mgr-l">要求到货日期：<em class="color-3">{{scopeData.expectDate || '暂无' | date:'yyyy-MM-dd'}}</em></span>

      </div>



      <!--退回-->
      <div class="pd-c-l pdt-m pdb-m color-9" style="margin-bottom: 15px; border-top: 1px solid rgba(0,0,0,0.10);">
        <span class="color-3" style="font-weight: bold; float: left">退回</span>
        <span class="mgr" style="float: right;"><a href="indexOfPrint.html#/print/salesChangeOrder/退回-其他入库单打印模板.html?id={{mainStatus.pageParams.id}}" target="_blank" class="color-orange">打印</a></span>
      </div>

      <!-- 退回-商品列表 -->
      <div class="">
          <table class="table pr-table pr-new-table mgb-n">
            <thead>
            <tr>
              <th class="text-center">序号</th>
              <th class="text-center">商品编号</th>
              <th class="text-left">商品通用名</th>
              <th class="text-center">类型/分类</th>
              <th class="text-center">规格／型号</th>
              <th class="text-center">单位</th>
              <th class="text-center">可换数量</th>
              <th class="text-center">换货数量</th>
              <th class="text-center">实际收货数量</th>
              <th class="text-center">预入库房</th>
              <th class="text-center">批号</th>
              <th class="text-center">灭菌批号</th>
              <th class="text-center">失效日期</th>
              <th class="text-center">含税单价</th>
              <th class="text-center">价税合计</th>

           </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tr in scopeData.receiveOrderMedicalNos">
                <td class="text-center" style="line-height:2.4">{{$index+1}}</td><!-- 序号 -->
                <td class="text-center" style="line-height:2.4">{{tr.code}}</td><!-- 商品编码 -->
                <td class="text-left"   style="line-height:2.4">
                  <span class="lend-order-goods-info"
                        ng-init="showInfoArea=false"
                        style="position: relative"
                        ng-mouseenter="showInfoArea=true"
                        ng-mouseleave="showInfoArea=false">
                    <div class=" color-orange cur-pot " title="{{tr.approvedName}}"> {{tr.approvedName}}</div>
                    <!--<div class="autocut color-orange cur-pot " title="{{tr.name}}"> {{tr.name}}</div>-->
                    <show-info-modal ng-show="showInfoArea"
                       get-data-type="local"
                       template-url="tpl/showInfoModalLendOrder"
                       info-object="{{tr}}"
                       info-title="商品信息">
                    </show-info-modal>
                  </span>
                </td><!-- 商品全名 -->

                <td class="text-center" style="line-height:2.4">{{tr.dosageForms}}</td><!-- 类型/分类 -->
                <td class="text-center" style="line-height:2.4">{{tr.specificationAndModelType}}</td><!-- 规格／型号 -->
                <td class="text-center" style="line-height:2.4">{{tr.unit}}</td><!-- 单位 -->

                <td class="text-center" style="line-height:2.4">{{tr.planReturnCount}}</td><!-- 可换数量 -->
                <td class="text-center" style="line-height:2.4">{{tr.stayCount}}</td><!-- 换货数量 -->
                <td class="text-center" style="line-height:2.4">{{tr.finishQuantity}}</td><!-- 实际收货数量 -->
                <td class="text-center" style="line-height:2.4">{{tr.warehouseName}}</td>  <!--预入库房-->

                <td class="text-center" style="line-height:2.4">{{tr.productionBatch}}</td><!-- 批号 -->
                <td class="text-center" style="line-height:2.4">{{tr.sterilizationBatchNumber}}</td><!-- 灭菌批号 -->
                <td class="text-center" style="line-height:2.4">{{tr.validTill || '暂无' | date:'yyyy-MM-dd'}}</td><!-- 失效日期 -->
                <td class="text-center" style="line-height:2.4">{{tr.strike_price | currency:"￥"}}</td><!-- 含税单价 -->
                <td class="text-center" style="line-height:2.4">{{ tr.totalPrice || tr.strike_price*tr.quantity | currency:"￥"}}</td><!-- 价税合计 -->
              </tr>
            </tbody>
          </table>
        </div>



      <!--重新发货-->
      <div class="pd-c-l pdt-m pdb-m color-9" style="margin-top: 25px; margin-bottom: 15px; border-top: 1px solid rgba(0,0,0,0.10);">
        <span class="color-3" style="font-weight: bold; float: left">重新发货</span>
        <span class="mgr" style="float: right;"><a href="indexOfPrint.html#/print/salesChangeOrder/重新发货-其他出库单打印模板.html?id={{mainStatus.pageParams.id}}" target="_blank" class="color-orange">打印</a></span>
      </div>

      <!--重新发货-商品列表 -->
      <div class="">
        <table class="table pr-table pr-new-table mgb-n">
          <thead>
          <tr>
            <th class="text-center">序号</th>
            <th class="text-center">商品编号</th>
            <th class="text-left">商品通用名</th>
            <th class="text-center">类型/分类</th>
            <th class="text-center">规格／型号</th>
            <th class="text-center">单位</th>

            <th class="text-center">换货数量</th>
            <th class="text-center">生产批号</th>
            <th class="text-center">计划数量</th>
            <th class="text-center">实际发货数量</th>

            <th class="text-center">含税单价</th>
            <th class="text-center">价税合计</th>
            <th class="text-center">灭菌批号</th>
            <th class="text-center">仓库</th>
            <th class="text-center">失效日期</th>


          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="tr in scopeData.orderMedicalNos">
            <td class="text-center" style="line-height:2.4">{{$index+1}}</td><!-- 序号 -->
            <td class="text-center" style="line-height:2.4">{{tr.code}}</td><!-- 商品编码 -->
            <td class="text-left"   style="line-height:2.4">
                  <span class="lend-order-goods-info"
                        ng-init="showInfoArea=false"
                        style="position: relative"
                        ng-mouseenter="showInfoArea=true"
                        ng-mouseleave="showInfoArea=false">
                    <div class=" color-orange cur-pot " title="{{tr.approvedName}}"> {{tr.approvedName}}</div>
                    <!--<div class="autocut color-orange cur-pot " title="{{tr.name}}"> {{tr.name}}</div>-->
                    <show-info-modal ng-show="showInfoArea"
                                     get-data-type="local"
                                     template-url="tpl/showInfoModalLendOrder"
                                     info-object="{{tr}}"
                                     info-title="商品信息">
                    </show-info-modal>
                  </span>
            </td><!-- 商品全名 -->

            <td class="text-center" style="line-height:2.4">{{tr.dosageForms}}</td><!-- 类型/分类 -->
            <td class="text-center" style="line-height:2.4">{{tr.specificationAndModelType}}</td><!-- 规格／型号 -->
            <td class="text-center" style="line-height:2.4">{{tr.unit}}</td><!-- 单位 -->

            <td class="text-center" style="line-height:2.4">{{tr.stayCount}}</td><!-- 换货数量 -->
            <td class="text-center" style="line-height:2.4">{{tr.productionBatch}}</td><!-- 生产批号 -->
            <td class="text-center" style="line-height:2.4">{{tr.planQuantity}}</td><!-- 计划数量 -->
            <td class="text-center" style="line-height:2.4">{{tr.finishQuantity}}</td><!-- 实际发货数量 -->

            <td class="text-center" style="line-height:2.4">{{tr.strike_price | currency:"￥"}}</td><!-- 含税单价 -->
            <td class="text-center" style="line-height:2.4">{{ tr.totalPrice || tr.strike_price*tr.quantity | currency:"￥"}}</td><!-- 价税合计 -->
            <td class="text-center" style="line-height:2.4">{{tr.sterilizationBatchNumber}}</td><!-- 灭菌批号 -->
            <td class="text-center" style="line-height:2.4">{{tr.warehouseName}}</td>  <!--仓库-->
            <td class="text-center" style="line-height:2.4">{{tr.validTill || '暂无' | date:'yyyy-MM-dd'}}</td><!-- 失效日期 -->
          </tr>
          </tbody>
        </table>
      </div>


      <!-- 制单人信息 -->
      <div class="flex-column color-9 pd-c-l pdt-m pdb-m"  style="border-top: 1px solid rgba(209,143,0,0.20);">
        <div class="flex-item-6 text-right"></div>
        <div class="flex-item-6 text-right">
          <span class="mgr">制单部门：<em class="color-3">{{scopeData.departmentName || '暂无'}}</em></span>
          <span class="mgr">制单人：<em class="color-3">{{scopeData.inputUser.n || '暂无'}}</em></span>
          <span class="mgr">制单时间：<em class="color-3">{{scopeData.createAt || '暂无' | date:'yyyy-MM-dd HH:mm'}}</em></span>
        </div>
      </div>
    </div>




    <div class="relative">

      <!-- 运输／仓储 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <h1 class="text-bold color-3 inline-block font-size-14" style="border-right: 1px solid rgba(0,0,0,0.15); padding-right: 20px; margin-right: 20px;">运输／仓储</h1>
        <span class="mgr">运输方式：{{scopeData.payAndDelivery.transportType || "暂无"}}</span>
        <span class="mgr" style="margin-left: 30px;">承运公司：{{scopeData.payAndDelivery.kuaidiType || "暂无"}}</span>
      </div>

      <!-- 收货方信息 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <header class="text-n color-3 text-bold">收货方信息（供应商）
          <span class="tools pull-right">
              <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
            </span>
        </header>
        <div class="panel-body" style="display:none;padding:15px 0 0 0;">
          <p class="">
            {{scopeData.customerContacts.name}}&nbsp;&nbsp;{{scopeData.customerContacts.tel}}&nbsp;&nbsp;{{scopeData.customerContacts.prov}}&nbsp;&nbsp;{{scopeData.customerContacts.city}}&nbsp;&nbsp;{{scopeData.customerContacts.area}}&nbsp;&nbsp;{{scopeData.customerContacts.address}}
          </p>
        </div>
      </div>
      <!-- 发货方信息 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <header class="text-n color-3 text-bold">发货方信息（客户）
          <span class="tools pull-right">
              <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
            </span>
        </header>
        <div class="panel-body" style="display:none;padding:15px 0 0 0;">
          <h1 class="mgb">
            <p class="">
              {{scopeData.invoicesContacts.name}}&nbsp;&nbsp;{{scopeData.invoicesContacts.tel}}&nbsp;&nbsp;{{scopeData.invoicesContacts.prov}}&nbsp;&nbsp;{{scopeData.invoicesContacts.city}}&nbsp;&nbsp;{{scopeData.invoicesContacts.area}}&nbsp;&nbsp;{{scopeData.invoicesContacts.address}}
            </p>
        </div>
      </div>

      <!-- 备注 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <h1 class="text-bold color-3 font-size-14">备注</h1>
        <p>{{scopeData.note}}</p>
      </div>
    </div>
  </div>
  <!-- 流程图 -->
   <business-flow-show business-key="{{scopeData.id}}" business-type="销售换货单"></business-flow-show>

  <!-- 功能按钮 -->
  <div class="handle-btn-area">
    <div class="btn-area" style="background:rgba(54,48,44,0.30);">
      <a ng-if="changeFlag" href="javascript:;" class="mgr"
         handle-this-click
         dialog-title="确认返回?"
         dialog-content="该销售换货单存在未保存数据，是否保存?"
         dialog-template="pr-dialog-return.html"
         nosave-callback="goTo({tabName:'销售换货单',tabHref:'#/salesChangeOrder/query.html'})"
         save-callback="submitForm('salesChangeOrder_editForm1','exit')">返回销售换货单列表
      </a>

      <a class="mgr-l" ng-if="!changeFlag" tab-nav tab-name="销售换货单" tab-href="#/salesChangeOrder/query.html?id={{scopeData.relId}}" >返回销售换货单列表</a>

      <!--<button type="button" ng-show="scopeData.orderStatus!='已作废'" class="pr-btn-save-glodbg mgr">-->
        <!--<a class="color-white" ng-href="indexOfPrint.html#/print/index.html?key=returnOrderPrint&id={{scopeData.id}}" target="_blank">打印预览</a>-->
      <!--</button>-->


      <span ng-if="scopeData.didateFilter.buttons.length>0"
            custom-menu-list
            custom-menu-arr="{{scopeData.didateFilter.buttons}}">
      </span>

      <!--
         已完成 && 待归还 显示
      -->


    </div>
  </div>
</div>
