<div class="medical-stock supplier-management child-project-management"
     ng-init="listParams.orderStatus=mainStatus.pageParams.orderStatus;listParams.orderStatus=mainStatus.pageParams.orderStatus||'待拣选';">
     <table-list list-data="rest/authen/pickStockOutMedical/query?orderStatus={{listParams.orderStatus}}"
                 list-params="listParams"
                 search-mode="noCaseSensitive"
                 search-param="q">
  <div class="medical-stock child-project-management receive-item" ng-controller="pickStockOutMedicalController">
    <!-- 主内容头部 -->
    <page-main-header-component list-params="listParams"
                                style="min-height:130px;"
                                crumbs-nav='[{"name":"采购中心","link":"","style":""},{"name":"拣选任务","link":"","style":"color-custom-orange"}]'
                                component-title="拣选任务"
                                get-business-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType">
    </page-main-header-component>
    <!-- 主内容区域 -->
    <div class="mgl-xl status-num-list-new"
          style="top:-56px;"
         ajax-url="rest/authen/pickStockOutMedical/countByStatus"
         scope-data="statusNumList">
      <span status-style-toggle-new
      class="rect-status mgl-s"
      ng-class="{'rect-status-active-new':(listParams.orderStatus!='已拣选')}"
       ng-click="listParams.orderStatus='待拣选';$root.goTo('#/pickStockOutMedical/query.html?orderStatus=待拣选')">拣选列表
          <span ng-if="(statusNumList['待拣选'])!=0" >
            (<em class="color-white">{{statusNumList['待拣选']}}</em>)
          </span>
      </span>
      <span status-style-toggle-new class="rect-status"
      ng-class="{'rect-status-active-new':(listParams.orderStatus=='已拣选')}"
       ng-click="listParams.orderStatus='已拣选';$root.goTo('#/pickStockOutMedical/query.html?orderStatus=已拣选')">拣选记录
      </span>
    </div>
    <div class="content-wrapper" style="margin:0px 45px;">
      <div class="content-wrapper-main pr-fuzzy-boundary">
        <div class="flex-column color-9 pd-c-l pdt-m pdb-m bg-white ">
          <div class="flex-item-8">
            <div class="inline-block mgr-s relative">
              <p class="mgb-s">来源单据编号</p>
              <input type="text"
                class="pr-ipt-160 hei-28 inline-block"
                style="border: 1px solid rgba(0,0,0,.2);border-radius:4px;"
                placeholder=""
                ng-model="listParams.orderCode"
                auto-complete="rest/index/autoComplete?tableName=SPD.Stock.PickStockOutMedical&property=orderCode"/>
              <i class="pick-item-icon"></i>
            </div>
            <div class="inline-block mgr-s">
              <p class="mgb-s">来源单据类型</p>
              <select class="inline ipt-new-s pdt"
                      chosen
                      style="width:120px;"
                      data-placeholder=" "
                      default-empty="全部"
                      ng-model="listParams.source"
                      select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_PickSource">
              </select>
            </div>

          </div>
          <div class="flex-item-4 text-right mgt-xl">
              <div class="order-list-search inline-block text-left code pos-rel-tr pdl-l relative">
                <input type="text" class="ipt pdr-xxl" placeholder="商品名称/商品编码" ng-model="listParams.q">
                <i class=""></i>
              </div>
              <div class="inline-block mgl-m" ng-click="listParams.q=''">
                <i class="fa fa-refresh mgr-s color-light-brown"></i>
                <a href="" class="color-light-brown" >重置搜索条件</a>
              </div>
          </div>
        </div>
        <!-- 批量拣选按钮 -->
        <div ng-if="listParams.orderStatus!='已拣选'" class="flex-column color-9 pd-c-l bg-white pdt-m pdb-m bt-dashed-line">
          <a ng-if="!choisedMedicalList.length"
             href="javascript:void(0)"
             class="batch-receive-btn"
             ng-disabled="!choisedMedicalList.length">批量拣选
            <em class="bulk-receipt-btn-disabled-icon"></em>
          </a>
          <a ng-if="choisedMedicalList.length"
             href="javascript:void(0)"
             class="batch-receive-btn"
             handle-this-click
             dialog-title="确认提示?"
             dialog-content="确认批量拣选?"
             dialog-content-color="#FF3939"
             dialog-template="pr-dialog-confirm.html"
             callback="handleBatchReceive()">批量拣选
            <em class="bulk-receipt-btn-icon"></em>
          </a>
        </div>
        <div class="outside-table-d pr-bg-white pr-fuzzy-boundary">
          <table class="table pr-table pr-new-table pr-table-content table-wid-l">
            <thead class="pr-bg-side">
              <tr>
                <th class="w-60 text-center mycheck" ng-if="listParams.orderStatus!='已拣选'" >
                  <input type="checkbox" class="selectAll cur-pot" id='1' ng-init="isChoiseAll=false" ng-model="isChoiseAll" ng-click="handleChoiseAllEvent(isChoiseAll);">
                  <label for="1"></label>
                </th>
                <th class="w-80">状态</th>
                <th class="w-80">状态</th>
                <th class="w-80">序号</th>
                <th class="w-80">来源单据</th>
                <th class="w-80">来源单据编号</th>
                <th class="w-80">商品编号</th>
                <th class="w-220">商品名称</th>
                <th>规格</th>
                <th>基本单位</th>
                <th>生产批号</th>
                <th>申请数量</th>
                <th>库房名称</th>
                <th>区域名称</th>
                <th>货位编码</th>
                <th>货位名称</th>
                <th>计划拣选数量</th>
                <th>可拣选数量</th>
                <th>实拣数量</th>
                <th>生产厂商</th>
                <th>产地</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="tbodyList.length"
                  ng-repeat="tr in tbodyList track by $index"
                  class="relative"
                  table-item-multiple-btn>
                <td class="select-td text-center mycheck" ng-if="listParams.orderStatus!='已拣选'" >
                  <input type="checkbox" class="selectOne cur-pot" id='{{$index+2}}' ng-model="tr.handleFlag" ng-click="handleItemClickEvent(tr);">
                  <label for="{{$index+2}}"></label>
                </td>
                <!-- <td class="text-center" show-status show-order-status="{{tr.orderStatus}}" show-order-style="right:16px;top:-13px;">
                </td> -->
                <td class="relative">
                  <span class="circle-status"
                        ng-class="{'pr-bg-grey4':tr.orderStatus=='待拣选','bg-pass-green':tr.orderStatus =='已拣选'}">
                    <span class="purchaseorder-buyer-info" style="right:16px;top:-10px;">
                      <i class="block pd-c-s text-normal" style="line-height:1.8">
                        <em class="inline-block">{{tr.orderStatus}}</em>
                      </i>
                    </span>
                  </span>
                  <div class="table-item-multiple-btn">
                    <div class="inline-block btn-receiveItem pr-bg-edit color-white"
                         ng-if="tr.orderStatus!='已拣选'"
                         modal-right="543"
                         modal-scope="this"
                         modal-data='{"id":"{{tr.id}}"}'
                         modal-url="views/pickStockOutMedical/edit.html">开始拣选...
                    </div>
                  </div>
                </td><!-- 状态 -->
                <td class="text-center">{{(status.currentPage-1)*status.pageSize+($index+1)}}</td><!-- 序号 -->
                <td ng-class="{'color-red':(tr.isQualified=='否')}" class="text-center" >{{tr.pickSource}}</td><!-- 来源 -->
                <td>{{tr.orderCode}}</td><!-- 来源编号 -->
                <td>{{tr.code}}</td><!-- 商品编号 -->
                <td class="text-left"><div class="autocut" title="{{tr.name}}">{{tr.name}}</div></td><!-- 商品名称 -->
                <td>{{tr.specification}}</td><!-- 规格 -->
                <td>{{tr.unit}}</td><!-- 单位 -->
                <td>
                  {{tr.productionBatch}}
                </td><!-- 生产批号 -->
                <td >
                  {{tr.applicationCount}}
                </td><!-- 申请数量 -->
                <td >
                    {{tr.storeRoomName}}
                </td><!-- 库房名称 -->
                <td >
                    {{tr.regionName}}
                </td><!-- 区域名称 -->

                <td >
                    {{tr.goodsLocationCode}}
                </td><!-- 货位编号 -->

                <td >
                    {{tr.goodsLocationName}}
                </td><!-- 货位名称-->
                <td >
                    {{tr.applicationCount}}
                </td><!-- 计划拣选数量 -->
                <td >
                    {{tr.quantity}}
                </td><!-- 可拣选数量 -->
                <td >
                    {{tr.pickNo}}
                </td><!-- 实际拣选数量-->
                <td>{{tr.manufacturer}}</td><!-- 生产厂商 -->
                <td>{{tr.productionPlace}}</td><!-- 产地 -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pr-bg-white" ng-if="!tbodyList.length">
          <div class="empty-table clearfix">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </div>
        </div>
        <div class="flex-column bg-white">
          <div class="flex-item-6">
            <!-- 批量拣选按钮 -->
            <div ng-if="listParams.orderStatus!='已拣选'"  class="flex-column color-9 pd-c-l pdt-m pdb-m">
              <a ng-if="!choisedMedicalList.length"
                 href="javascript:void(0)"
                 class="batch-receive-btn"
                 ng-disabled="!choisedMedicalList.length">批量拣选
                <em class="bulk-receipt-btn-disabled-icon"></em>
              </a>
              <a ng-if="choisedMedicalList.length"
                 href="javascript:void(0)"
                 class="batch-receive-btn"
                 handle-this-click
                 dialog-title="确认提示?"
                 dialog-content="批量拣选的条目实收数量都为配送数量。确认批量拣选?"
                 dialog-content-color="#FF3939"
                 dialog-template="pr-dialog-confirm.html"
                 callback="handleBatchReceive()">批量拣选
                <em class="bulk-receipt-btn-icon"></em>
              </a>
            </div>
          </div>
          <div class="flex-item-6">
            <!-- 导航 -->
            <div class="clearfix pd-c-xl" ng-if="tbodyList.length">
                <div class="fr">
                    <pagination status="status"></pagination>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</table-list>
