
        <div class="modal-content pr-modal-content color-yellow1 right-side-new pr-bg-black4" ng-controller="editCtrl"
         ajax-url="rest/authen/op/purchasePlanOrder/get.json?id={{tr.id}}"  scope-data="formData"  alert-error
         callback="initFlag=true">

          <div class="add-medical-form form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">采购订单管理详情</h4>
            </div>
            <div class="modal-body modal-body-new outside-div">

              <table class="table" style="border-bottom:1px solid rgba(199,167,123,0.60); ">
                  <thead>
                      <tr>
                          <th>商品名称</th>
                          <th>商品编号</th>
                          <th>单价</th>
                          <th>数量</th>
                          <th>总价</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr ng-repeat="tr in formData.orderMedicalNos">
                          <td>{{tr.hospitalMedicalName}}</td>
                          <td>{{tr.hospitalMedicalCode}}</td>
                          <td>{{tr.strike_price}}</td>
                          <td>
                            {{tr.quantity}}
                          </td>
                          <td>
                            {{tr.totalPrice}}
                          </td>
                      </tr>
                  </tbody>
              </table>
              <div class="mgt">
                <p class="pr-indent-35 text-n">基本信息：</p>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-6 text-right pd">
                    医院订单编号：
                  </div>
                  <div class="flex-item-6 text-left pd color-white">
                    {{formData.hospitaOrderCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-6 text-right pd">
                    医院编号：
                  </div>
                  <div class="flex-item-6 text-left pd color-white">
                    {{formData.hospitalCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-6 text-right pd">
                    医院名称：
                  </div>
                  <div class="flex-item-6 text-left pd color-white">
                    {{formData.hospitalName}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-6 text-right pd">
                    经销商编号：
                  </div>
                  <div class="flex-item-6 text-left pd color-white">
                    {{formData.distributorCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-6 text-right pd">
                    经销商名称：
                  </div>
                  <div class="flex-item-6 text-left pd color-white">
                    {{formData.distributorName}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-6 text-right pd">
                    总价：
                  </div>
                  <div class="flex-item-6 text-left pd color-white">
                    ￥{{formData.totalPrice}}
                  </div>
                </div>

              </div>

            </div>
            </div>
        </div>
