<div class="create-new-order purchaseOrder-edit purchase-plan-order"
     ng-controller="purchaseOrderEditCtrl"
     ajax-url="rest/authen/purchasecontentmedical/query?distributorId={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData')"
     alert-error>
  <form id="purchaseForm"
         name="purchaseForm"
         form-validator
         parameter-body
         action="rest/authen/purchaseOrder/save.json"
         alert-error
         alert-ok
         scope-error-msg="errorMsg"
         scope-data="formData"
         callback="submitFormAfter();watchFormChange('formData')"
         onkeydown="if(window.event.keyCode==13) return false;"
         novalidate="novalidate">

     <page-main-header-component list-params="listParams"
                                 crumbs-nav='[{"name":"管理中心","link":"","style":""},{"name":"采购目录","link":"","style":"color-custom-orange"},{"name":"编辑采购品种","link":"","style":""}]'
                                 component-title="采购品种-编辑">
     </page-main-header-component>

     <div class="content-wrapper">
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height">
         <div class="inline-block supplier-icon"></div>
         <div class="inline-block">
           <p class="mgb-s">供应商</p>
           <p class="text-n color-3">{{scopeData.distributorName || '测试供应商名称'}}</p>
         </div>
       </div>
       <!-- 药械列表 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n">
         <!-- 信息 -->
         <div flash-add-medical
              ng-model="data1"
              class="pd-c-l pdt-m bb-line"
              ajax-url="rest/authen/medicalStock/query"
              add-data-callback-fn="flashAddDataCallbackFn(data1)"
              hide-quantity
              hide-import>
         </div>
         <div class="flex-column pd-v-l">
           <div class="flex-item-6">

           </div>
           <div class="flex-item-6 text-right pdr-l">
             <span class="mgr-l">制单人：<em class="color-6">刘丽</em></span>
             <span>录单日期：<em class="color-6">暂无</em></span>
           </div>
         </div>
         <!-- 列表 -->
         <div class="bt-line">
           <div class="outside-table-d">
             <table class="table pr-table pr-new-table table-ss-wid" >
               <table class="table pr-table pr-new-table mgb-n table-wid-l">
                 <thead>
                   <tr>
                    <th class="text-center">序号</th>
                    <th class="text-center">商品编码</th>
                    <th class="text-left">商品名称</th>
                    <th class="text-left">供应商商品名称</th>
                    <th class="text-center">规格型号</th>
                    <th class="text-center">供应商规格型号</th>
                    <th class="text-center">基本单位</th>
                    <th class="text-center">供应商基本单位</th>
                    <th class="text-center">包装大小</th>
                    <th class="text-center">供应商包装大小</th>
                    <th class="text-center">商品名称拼音</th>
                    <th class="text-center">商品通用名</th>
                    <th class="text-center">商品通用名拼音</th>
                    <th class="text-center">商品化学名</th>
                    <th class="text-center">商品英文名</th>
                    <th class="text-center">储存条件</th>
                    <th class="text-center">条形码</th>
                    <th class="text-center">生产厂商</th>
                    <th class="text-center">产地</th>
                    <th class="text-center">批准文号</th>
                    <th class="text-center">批准文号认证日期</th>
                    <th class="text-center">批准文号有效期至</th>
                    <th class="text-center">注册证号</th>
                    <th class="text-center">注册证号认证日期</th>
                    <th class="text-center">注册证号有效期至</th>
                    <th class="text-center">有效期</th>
                    <th class="text-center">有效期单位</th>
                    <th class="text-center">效期预警天数</th>
                    <th class="text-center">平台商品编码</th>
                    <th class="text-center">备注</th>
                  </tr>
                 </thead>
                 <tbody>
                   <tr ng-repeat="tr in scopeData.orderMedicalNos">
                     <td class="text-center" style="line-height:2.4">{{$index+1}}</td><!-- 序号 -->
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                     <td class="text-center" style="line-height:2.4"></td>
                   </tr>
                 </tbody>
               </table>
             </table>
           </div>
           <div class="pr-bg-white" ng-if="!formData.orderMedicalNos.length">
             <div class="empty-table clearfix">
               <div>&nbsp;</div>
               <div>&nbsp;</div>
               <div>&nbsp;</div>
             </div>
           </div>
         </div>
       </div>
     </div>
    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <span class="mgl">
          <a href="#/purchaseOrder/query.html">返回采购目录列表</a>
        </span>
        <span class="mgl">
          <a href="javascript:;">查看操作记录</a>
        </span>
        <span class="mgl">
          <button class="pr-btn-create-glodbg mgt"
                  type="button"
                  handle-this-click
                  dialog-title="确认提交?"
                  dialog-content="提交后，将无法修改。确认提交?"
                  dialog-template="pr-dialog-submit.html"
                  callback="submitForm('purchaseForm','submit')"
                  ng-disabled="purchaseForm.$invalid || !formData.orderMedicalNos.length ||
                               !formData.expectDate ||
                               !formData.supplier.id ||
                               !formData.orderCode ||
                               isDisabledNextStep" >完成
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
