<div class="create-new-order purchaseOrder-edit purchase-plan-order"
      ng-controller="purchaseOrderEditCtrl"
      ajax-url="rest/authen/purchasecontent/get.json?id={{mainStatus.pageParams.id}}&relId={{mainStatus.pageParams.relId}}"
      scope-data="scopeData"
      callback="initFlag=true"
      alert-error>
  <!-- 头部信息 -->
  <page-main-header-component list-params="listParams"
                              crumbs-nav='[{"name":"管理中心","link":"","style":""},{"name":"采购目录详情","link":"","style":"color-custom-orange"},{"name":"采购计划详情","link":"","style":""}]'
                              component-title="采购目录详情">
  </page-main-header-component>
  <!-- 药械列表 -->
  <div class="content-wrapper">
    <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height">
      <div class="inline-block supplier-icon"></div>
      <div class="inline-block">
        <p class="mgb-s">供应商</p>
        <p>{{scopeData.distributorName}}</p>
      </div>
    </div>
    <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l pd-n">
      <!-- 商品列表 -->
      <div class="outside-table-d">
        <table class="table pr-table pr-new-table mgb-n table-wid-l">
          <thead>
            <tr>
             <th class="text-center">序号</th>
             <th class="text-center">商品编码</th>
             <th class="text-left">商品名称</th>
             <th class="text-left">供应商商品名称</th>
             <th class="text-center">规格型号</th>
             <th class="text-center">供应商规格型号</th>
             <th class="text-center">基本单位</th>
             <th class="text-center">供应商基本单位</th>
             <th class="text-center">包装大小</th>
             <th class="text-center">供应商包装大小</th>
             <th class="text-center">商品名称拼音</th>
             <th class="text-center">商品通用名</th>
             <th class="text-center">商品通用名拼音</th>
             <th class="text-center">商品化学名</th>
             <th class="text-center">商品英文名</th>
             <th class="text-center">储存条件</th>
             <th class="text-center">条形码</th>
             <th class="text-center">生产厂商</th>
             <th class="text-center">产地</th>
             <th class="text-center">批准文号</th>
             <th class="text-center">批准文号认证日期</th>
             <th class="text-center">批准文号有效期至</th>
             <th class="text-center">注册证号</th>
             <th class="text-center">注册证号认证日期</th>
             <th class="text-center">注册证号有效期至</th>
             <th class="text-center">有效期</th>
             <th class="text-center">有效期单位</th>
             <th class="text-center">效期预警天数</th>
             <th class="text-center">平台商品编码</th>
             <th class="text-center">备注</th>
           </tr>
          </thead>
          <tbody>
            <tr ng-repeat="tr in scopeData.orderMedicalNos">
              <td class="text-center" style="line-height:2.4">{{$index+1}}</td><!-- 序号 -->
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
              <td class="text-center" style="line-height:2.4"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!-- 功能按钮 -->
  <div class="handle-btn-area">
    <div class="btn-area" style="background:rgba(54,48,44,0.30);">
      <a class="mgr-l" ng-href="#/purchasecontent/query.html" >返回采购目录列表</a>
      <a class="mgr-l" ng-href="#/purchasecontent/query.html" >查看操作记录</a>
      <span class="mgl">
        <button class="pr-btn-save-glodbg mgt" ng-click="$root.goTo('#/purchasecontent/edit.html?id='+scopeData.id)">编辑</button>
      </span>
    </div>
  </div>
</div>
