<table-list list-data="rest/authen/purchasecontentmedical/query?supplierId={{mainStatus.pageParams.supplierId}}"
            list-params="listParams"
            search-mode="noCaseSensitive"
            search-param="q">
  <div class="create-new-order purchaseOrder-edit purchase-plan-order"
       ng-controller="purchaseContentController"
       ajax-url="rest/authen/purchasecontent/get.json?id={{mainStatus.pageParams.id}}"
       scope-data="scopeData">
    <!-- 头部信息 -->
    <page-main-header-component list-params="listParams"
                                crumbs-nav='[{"name":"管理中心","link":"","style":""},{"name":"采购目录详情","link":"","style":"color-custom-orange"},{"name":"采购计划详情","link":"","style":""}]'
                                component-title="采购目录详情">
    </page-main-header-component>
    <!-- 药械列表 -->
    <div class="content-wrapper">
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height">
        <div class="inline-block supplier-icon"></div>
        <div class="inline-block">
          <p class="mgb-s">供应商</p>
          <p class="text-n color-3"
             ajax-url="rest/authen/distributor/get.json?id={{mainStatus.pageParams.distributorId}}"
             scope-data="distributorName">{{distributorName.name}}
          </p>
        </div>
      </div>
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l pd-n">
        <div class="flex-column">
          <div class="flex-item-4">
            <!-- 状态筛选 -->
            <div class="pd-v-m pdl-l bb-line">
              <span>状态筛选：</span>
              <select class="ipt pr-short-ipt color-6">
                <option value="">全部</option>
              </select>
            </div>
          </div>
          <div class="flex-item-8 text-right pd-v-m pdr-l">
            <div class="order-list-search inline-block text-left code pos-rel-tr pdl-l relative">
              <input type="text" class="ipt pdr-xxl" placeholder="医院系统编号 / 医院名称" ng-model="listParams.q">
              <i class=""></i>
            </div>
            <div class="inline-block mgl-m">
              <i class="fa fa-refresh mgr-s color-light-brown"></i>
              <a href="" class="color-light-brown" ng-click="listParams.q=''">重置搜索条件</a>
            </div>
          </div>
        </div>
        <!-- 商品列表 -->
        <div class="outside-table-d">
          <table class="table pr-table pr-new-table mgb-n table-wid-l">
            <thead>
              <tr>
               <th class="text-center">序号</th>
               <th class="text-center">状态</th>
               <th class="text-center">商品编码</th>
               <th class="text-center">供应商商品编码</th>
               <th class="text-left">商品名称</th>
               <th class="text-left">供应商商品名称</th>
               <th class="text-center">商品规格</th>
               <th class="text-center">供应商商品规格</th>
               <th class="text-center">基本单位</th>
               <th class="text-center">供应商基本单位</th>
               <th class="text-center">包装大小</th>
               <th class="text-center">供应商包装大小</th>
               <th class="text-center">商品名称拼音</th>
               <th class="text-center">商品通用名</th>
               <th class="text-center">商品通用名拼音</th>
               <th class="text-center">商品化学名</th>
               <th class="text-center">商品英文名</th>
               <th class="text-center">储存条件</th>
               <th class="text-center">条形码</th>
               <th class="text-center">生产厂商</th>
               <th class="text-center">产地</th>
               <th class="text-center">批准文号</th>
               <th class="text-center">批准文号认证日期</th>
               <th class="text-center">批准文号有效期至</th>
               <th class="text-center">注册证号</th>
               <th class="text-center">注册证号认证日期</th>
               <th class="text-center">注册证号有效期至</th>
               <th class="text-center">有效期</th>
               <th class="text-center">有效期单位</th>
               <th class="text-center">效期预警天数</th>
               <th class="text-center">平台商品编码</th>
               <th class="text-center">备注</th>
             </tr>
            </thead>
            <tbody>
              <tr ng-repeat="tr in tbodyList">
                <td class="text-center" style="line-height:2.4">{{(status.currentPage-1)*status.pageSize+($index+1)}}</td><!-- 序号 -->
                <td class="text-center relative" style="line-height:2.4">
                  <span class="circle-status relative"
                        ng-class="{'bg-pass-green':tr.distributorMedicalCode,
                                   'bg-end-red':!tr.distributorMedicalCode}">

                    <span class="purchase-content-status-show" style="right:-18px;top:-25px;width:50px;">
                      <i class="block pd-c-s text-normal" style="line-height:1.8">
                        <em class="inline-block">{{tr.distributorMedicalCode?'已匹配':'未匹配'}}</em>
                      </i>
                    </span>
                  </span>
                </td><!-- 状态 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.code}}</td><!-- 商品编码 -->
                <td class="text-center" style="line-height:2.4">{{tr.distributorMedicalCode}}</td><!-- 供应商商品编码 -->
                <td class="text-left" style="line-height:2.4">{{tr.medical.name}}</td><!-- 商品名称 -->
                <td class="text-left" style="line-height:2.4">{{tr.medical.approvedName}}</td><!-- 供应商商品名称 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.specificationAndModelType}}</td><!-- 规格型号 -->
                <td class="text-center" style="line-height:2.4"></td><!-- 供应商规格型号 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.unit}}</td><!-- 基本单位 -->
                <td class="text-center" style="line-height:2.4"></td><!-- 供应商基本单位 -->
                <td class="text-center" style="line-height:2.4"></td><!-- 包装大小 -->
                <td class="text-center" style="line-height:2.4"></td><!-- 供应商包装大小 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.name_py}}</td><!-- 商品名称拼音 -->
                <td class="text-center" style="line-height:2.4"></td><!-- 商品通用名 -->
                <td class="text-center" style="line-height:2.4"></td><!-- 商品通用名拼音 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.varietyName}}</td><!-- 商品化学名 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.englishName}}</td><!-- 商品英文名 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.deliveryPlus}}</td><!-- 储存条件 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.barcode}}</td><!-- 条形码 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.manufacturer}}</td><!-- 生产厂商 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.productionPlace}}</td><!-- 产地 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.approvalNo}}</td><!-- 批准文号 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.approvalNoCreateAt | date:'yyyy-MM-dd'}}</td><!-- 批准文号认证日期 -->
                <td class="text-center" style="line-height:2.4"></td><!-- 批准文号有效期至 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.drugAdministrationCode}}</td><!-- 注册证号 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.drugAdministrationCode_createAt | date:'yyyy-MM-dd'}}</td><!-- 注册证号认证日期 -->
                <td class="text-center" style="line-height:2.4"></td><!-- 注册证号有效期至 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.guaranteePeriod}}</td><!-- 有效期 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.guaranteePeriod_unit}}</td><!-- 有效期单位 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.guaranteePeriodAlarmDay}}</td><!-- 效期预警天数 -->
                <td class="text-center" style="line-height:2.4"></td><!-- 平台商品编码 -->
                <td class="text-center" style="line-height:2.4">{{tr.medical.note}}</td><!-- 备注 -->
              </tr>
            </tbody>
          </table>
        </div>
        <!-- 占位符 -->
        <div class="pr-bg-white" ng-if="!tbodyList.length">
          <div class="empty-table clearfix">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </div>
        </div>
        <!-- 导航 -->
        <div class="clearfix" ng-if="tbodyList.length">
            <div class="fr">
                <pagination status="status"></pagination>
            </div>
        </div>
      </div>
      <!-- 备注 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
        <h1 class="text-bold color-3 mgb">备注</h1>
        <p>{{scopeData.note}}</p>
      </div>
    </div>
    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <a class="mgr-l" ng-href="#/purchasecontent/query.html" >返回采购目录列表</a>
        <a class="mgr-l" ng-href="#/purchasecontent/query.html" >查看操作记录</a>
        <span class="mgl">
          <button class="pr-btn-save-glodbg mgt" ng-click="$root.goTo('#/purchasecontent/edit.html?id='+mainStatus.pageParams.id+'&distributorId='+mainStatus.pageParams.distributorId)">编辑</button>
        </span>
      </div>
    </div>
  </div>
</table-list>
