<div class="purchase-return-order sale-return-order"
     ng-controller="purchaseReturnController"
     ajax-url="rest/authen/purchaseReturn/getOfEdit.json?id={{mainStatus.pageParams.id}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="formData"
     callback='initFlag=true;watchFormChange("formData");calculaTotalPrice(formData.orderMedicalNos)'
     alert-error>
  <form id="saleReturnEditForm"
        name="saleReturnEditForm"
        form-validator
        parameter-body
        action="rest/authen/purchaseReturn/save"
        alert-error
        scope-response="scopeResponse"
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter(scopeResponse);$root.watchFormChange('formData',this)"
        novalidate="novalidate">
    <!-- 头部信息 -->
    <page-main-header-component list-params="listParams"
                                crumbs-nav='[{"name":"采购中心","link":"","style":""},{"name":"采购退货申请","link":"","style":"color-custom-orange"},{"name":"新建采购退货申请","link":"","style":""}]'
                                component-title="采购退货申请－新建">
    </page-main-header-component>
    <!-- 单据基本信息 -->
    <div class="content-wrapper">
      <div ng-if="formData.orderMedicalNos.length"  class="">
        <div class="inline-block mgr-l">
          <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
            <div class="inline-block supplier-icon"></div>
            <div class="inline-block">
              <p class="mgb-s">供应商</p>
              <p class="text-m color-3">{{formData.supplierName || '暂无'}}</p>
            </div>
          </div>
        </div>
        <div class="inline-block">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
             <div class="inline-block hospital-icon"></div>
             <div class="inline-block">
               <p class="mgb-s">医院</p>
               <p class="text-m color-3">{{formData.organizationName || '暂无'}}</p>
             </div>
           </div>
        </div>
      </div>
      <div class="pos-rel-tl order-create-btn z-index-l mgb-m">
        <a ng-if="initFlag"
           modal-right="1000"
           modal-open-auto="{{!formData.orderMedicalNos.length}}"
           modal-scope="this"
           modal-data='{"pageParamsId":"{{mainStatus.pageParams.id}}"}'
           modal-url="views/purchaseReturn/edit-right-side.html">
          <i></i>
          <span ng-if="!formData.orderMedicalNos.length">增加退货条目</span>
          <span ng-if="formData.orderMedicalNos.length">修改退货条目</span>
        </a>
      </div>
      <div class="panel pr-panel pd-n pr-fuzzy-boundary pr-panel-height mgb">
        <div class="empty-panel" ng-if="!formData.orderMedicalNos.length">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div ng-if="formData.orderMedicalNos.length">
          <div class="flex-column pdt-m pdb-m pd-c-l bb-dashed-line-new color-9">
            <div class="flex-item-6">
              <span class="mgr-l">采购退货编码：<em class="color-3">{{formData.orderNo || '暂无'}}</em></span>
              <span class="mgr-l">审核人：<em class="color-3">{{'暂无'}}</em></span>
              <span class="mgr-l">审核时间：<em class="color-3">{{'暂无'}}</em></span>
            </div>
            <div class="flex-item-6 text-right">
              <span>制单人：<em class="color-custom-orange">{{formData.saleUser.n || '暂无'}}</em></span>
              <span class="mgl-l">创建日期：<em class="color-3">{{formData.createAt || '暂无' | date : 'yyyy-MM-dd' }}</em></span>
              <span class="mgl-l">状态：<em class="color-3">{{formData.orderStatus || '暂无'}}</span>
            </div>
          </div>
          <div class="flex-column pdt pdb pd-c-l color-9">
            <div class="mgr-s relative">预计退货时间：
              <div class="date-icon-outside">
                <input type="text"
                       style="top:0px;"
                       datepicker
                       class="ipt-date ipt color-3"
                       ng-readonly="true"
                       placeholder=""
                       ng-model="formData.expectDate">
                      <span class="date-icon"></span>
              </div>
            </div>
            <em ng-if="!formData.expectDate" class="color-red">(必填)</em>
          </div>
        </div>
        <div class="empty-panel clearfix" ng-if="!formData.orderMedicalNos.length">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
        <div class="outside-table-d">
          <table class="table pr-table pr-new-table table-wid" style="min-width:2200px;">
            <thead>
              <tr>
                <th class="text-center w-220">商品编码</th>
                <th class="text-left w-220">商品名称</th>
                <th class="text-center w-160">商品规格</th>
                <th class="text-center w-160">基本单位</th>
                <th class="text-center w-120">可退数量</th>
                <th class="text-center w-220">生产批号/数量<em class="color-red">(必选)</em></th>
                <th class="text-center w-220">仓库</th>
                <th class="text-center w-220">区域</th>
                <th class="text-center w-160">货位</th>
                <th class="text-center w-120">采购单价</th>
                <th class="text-center w-120">计划退货金额</th>
                <th class="text-center w-120">实际退货金额</th>
                <th class="text-center w-220">生产厂商</th>
                <th class="text-center w-220">产地</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr ng-repeat="item in formData.orderMedicalNos"
                  table-item-handlebtn-component
                  ng-init="item.stockBatchs=item.stockBatchs?item.stockBatchs:[]">
                <td class="text-center">{{item.code}}
                  <div class="table-item-handle-btn">
                    <div class="table-item-confirm-del-area bg-white">
                      <p class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                      <p class="pdt">
                        <a href="javascript:;" class="cancelHandle" ng-click="cancelHandle()">取消</a>
                        <a href="javascript:;" class="confirm-del-this btn btn-primary pr-btn-best-small pr-btn-bg-gold mgl" ng-click="formData.orderMedicalNos.splice($index,1);">确认</a>
                      </p>
                    </div>
                  </div>
                </td><!-- 商品编码 -->
                <td class="text-left">{{item.name}}</td><!-- 商品名称 -->
                <td class="text-center">{{item.specificationAndModelType}}</td><!-- 商品规格-->
                <td class="text-center">{{item.packingAttribute.name}}</td><!-- 基本单位 -->
                <td class="text-center">{{item.goodsCount}}</td><!-- 可退数量 -->
                <td class="text-center"
                    invalid-popover
                    popover-show="batchsNumOverloadFlag"
                    popover-options='{"content":"批次数量不能大于可退货数量", "placement":"top", "trigger":"manual"}'>
                  <!-- 已选批号列表 -->
                  <div ng-repeat="batch in item.stockBatchs" ng-init="showDelIcon=false"
                       ng-if="batch.batchNumber"
                       class="ipt-div relative mgb"
                       ng-mouseenter="showDelIcon=true" ng-mouseleave="showDelIcon=false">
                    <div class="inline-block text-ellips-s"
                         style="width:118px;height:100%;"
                         ng-class="{'pr-bg-green2 br-line':(batch.batchNumber)}">{{batch.productionBatch}}
                    </div>
                    <input type="number"
                           class="in_ipt"
                           name="batchNum{{$index}}"
                           ng-model="batch.quantity"
                           onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                           ng-change="batchsNumOverload(formData.orderMedicalNos)">
                    <input type="hidden" required ng-model="batch.id">
                    <span ng-if="showDelIcon" class="circle-s" ng-click="item.stockBatchs.splice($index,1)"><i class="fa fa-times-circle"></i></span>
                  </div>
                  <!-- 批号选择 -->
                  <div ng-if="calculaBatchsTotal(item,item.goodsCount)<item.goodsCount"  class="ipt-div relative" style="width:100%;">
                    <i class="addImg"
                       style="left:85%"
                       modal-right="50%"
                       modal-scope="this"
                       modal-data='{
                                    "medicalName":"{{item.name}}",
                                    "id":"{{item.id}}",
                                    "logisticsCenterId":"{{formData.logisticsCenterId}}",
                                    "goodsCount":{{item.goodsCount}},
                                    "choisedBatchList":{{item.stockBatchs}},
                                    "strike_price":{{item.strike_price}}
                                  }'
                       modal-url="views/versionFlow/choice-stockbatch-dialog.html">
                    </i>
                  </div>
                  <!-- 待选择数 -->
                  <!-- <p ng-if="getAllBatchTotal(item.stockBatchs)<item.planQuantity" class="text-right color-red pdr relative">待选择：{{item.planQuantity-getAllBatchTotal(item.stockBatchs)}}</p> -->
                </td><!-- 生产批号 -->
                <td class="text-center">{{item.storeRoomName}}</td><!-- 仓库 -->
                <td class="text-center">{{item.regionName}}</td><!-- 区域 -->
                <td class="text-center">{{item.goodsLocationName}}</td><!-- 货位 -->
                <td class="text-center">{{item.strike_price | currency:'￥'}}</td><!-- 采购单价 -->
                <td class="text-center">{{calculaCurrentMedicalPrice(item) | currency:'￥'}}</td><!-- 计划退货金额 -->
                <td class="text-center">{{item.actualReturnPrice}}</td><!-- 实际退货金额 -->
                <td class="text-center">{{item.manufacturer}}</td><!-- 生产厂商 -->
                <td class="text-center">{{item.productionPlace}}</td><!-- 产地 -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="empty-table clearfix" ng-if="!formData.orderMedicalNos.length">
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
      </div>
      <!-- 其他信息 -->
      <div class="relative panel pr-panel pr-fuzzy-boundary pr-panel-height mgb pd-c-l" style="margin-bottom:60px;">
        <div class='mgb'>
            <h1>备注</h1>
            <textarea class="pr-textarea mgb-l mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note"></textarea>
          </div>
      </div>
      <!-- 流程图 -->
      <!-- <business-flow-show business-key="{{formData.id}}" business-type="采购单"></business-flow-show> -->
    </div>

    <!-- 功能按钮 -->
    <div class="handle-btn-area relative">
      <div class="btn-area">
          <a ng-if="changeFlag"
             href="javascript:;"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="有修改数据还未保存，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo('#/purchaseReturn/query.html')"
             save-callback="submitForm('saleReturnEditForm','save');$root.goTo('#/purchaseReturn/query.html')">返回采购退货单列表
          </a>

          <a class="" ng-if="!changeFlag" href="#/purchaseReturn/query.html" >返回采购退货单列表</a>
          <a ng-if="formData.orderNo && formData.inputUserId==mainStatus.id"
             href="javascript:;"
             class="pr-color-red mgr-l"
             handle-this-click
             dialog-title="确认删除?"
             dialog-content="您确认删除这条采购退货单吗?"
             dialog-template="dialog-confirm.html"
             request-url="rest/authen/purchaseReturn/delete?id={{formData.id}}"
             callback="$root.goTo('#/purchaseReturn/query.html')">删除
          </a>
          <button type="submit"
                  class="pr-btn-save-glodbg mgl-m"
                  ng-click="submitForm('saleReturnEditForm','save');formData.validFlag=false;"
                  ng-disabled="!changeFlag">保存
          </button>
          <button class="mgl-s pr-btn-save-glodbg"
                  type="button"
                  handle-this-click
                  dialog-title="确认提交退货单"
                  dialog-content="是否确认提交?"
                  dialog-template="pr-dialog-submit.html"
                  confirm-btn-txt="确定"
                  callback="submitForm_type='submit';formData.validFlag=true;submitForm1();"
                  ng-disabled="!saleReturnEditForm.$invalid ||
                               !formData.orderMedicalNos.length ||
                               !formData.expectDate ||
                               batchsNumOverloadFlag">提交
          </button>

      </div>
      <div class="price-area relative fl-r mgr-l"
           style="height:100%;line-height:3.3;font-size:18px;color:#c7a77b;">总计：
        <em class="color-white">￥{{calculaTotalPrice(formData.orderMedicalNos) || '0.00' | number:2}}</em>
      </div>
    </div>
  </form>
</div>
