<div class=" purchase-return-order sale-return-order"
     ng-controller="purchaseReturnController"
     ajax-url="rest/authen/purchaseReturn/get.json?id={{mainStatus.pageParams.id}}&orderNo={{mainStatus.pageParams.orderNo}}"
     scope-data="showData"
     alert-error>
    <!-- 头部信息 -->
    <!-- 头部信息 -->
    <page-main-header-component list-params="listParams"
                                crumbs-nav='[{"name":"我要采购","link":"","style":""},{"name":"采购退货申请","link":"","style":"color-custom-orange"},{"name":"新建采购退货详情","link":"","style":""}]'
                                component-title="采购退货申请－详情">
    </page-main-header-component>
    <!-- 单据基本信息 -->
    <div class="pd-loss-l">
      <div class="inline-block mgr-l">
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
          <div class="inline-block supplier-icon"></div>
          <div class="inline-block">
            <p class="mgb-s">供应商</p>
            <p class="text-m color-3">{{showData.supplierName || '暂无'}}</p>
          </div>
        </div>
      </div>
      <div class="inline-block ">
         <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
           <div class="inline-block hospital-icon"></div>
           <div class="inline-block">
             <p class="mgb-s">医院</p>
             <p class="text-m color-3">{{showData.organizationName || '暂无'}}</p>
           </div>
         </div>
      </div>

      <div class="panel pr-panel pd-n pr-fuzzy-boundary pr-panel-height mgb">
        <div>
          <div class="flex-column pdt-m pdb-m pd-c-l bb-dashed-line color-9">
            <div class="flex-item-6">
              <span class="mgr-l">单据编号：<em class="color-3">{{showData.orderCode || '暂无'}}</em></span>
              <span class="mgr-l">审核人：<em class="color-3">{{showData.approver.approverUser.n || '暂无'}}</em></span>
              <span class="mgr-l">审核时间：<em class="color-3">{{showData.approver.approverDate | date:'yyyy-MM-dd'}}</em></span>
            </div>
            <div class="flex-item-6 text-right">
              <span class="mgl-l">制单人：<em class="color-custom-orange">{{showData.saleUser.n }}</em></span>
              <span class="mgl-l">录单日期：<em class="color-3">{{showData.createAt | date:'yyyy-MM-dd' }}</em></span>
              <span class="mgl-l">状态：<em class="color-3">{{showData.orderStatus }}</em></span>
            </div>
          </div>

          <div class="flex-column pdt-m pdb-m pd-c-l">
            <div class="mgr-l relative">预计退货时间：{{showData.expectDate | date:'yyyy-MM-dd'}}</div>
          </div>
        </div>
        <div class="outside-table-d">
          <table class="table pr-table pr-new-table table-wid" >
              <thead>
                <tr>
                  <th class="text-center w-220">商品编码</th>
                  <th class="text-left w-220">商品名称</th>
                  <th class="text-center w-160">商品规格</th>
                  <th class="text-center w-160">基本单位</th>
                  <!-- <th ng-if="showData.orderStatus=='待审核'" class="text-center w-120">可退数量</th> -->
                  <th class="text-center w-120">计划退货数量</th>
                  <th class="text-center w-120">实退数量</th>
                  <th class="text-center w-220">生产批号</th>
                  <th class="text-center w-220">库房</th>
                  <th class="text-center w-220">区域</th>
                  <th class="text-center w-160">货位</th>
                  <th class="text-center w-120">采购单价</th>
                  <th class="text-center w-120">计划退货金额</th>
                  <th class="text-center w-120">实际退货金额</th>
                  <th class="text-center w-220">生产厂商</th>
                  <th class="text-center w-220">产地</th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <tr ng-repeat="item in showData.orderMedicalNos | orderBy :'relId'">
                  <td class="text-center">{{item.code}}</td><!-- 商品编码 -->
                  <td class="text-left">{{item.name}}</td><!-- 商品名称 -->
                  <td class="text-center">{{item.specificationAndModelType}}</td><!-- 商品规格-->
                  <td class="text-center">{{item.packingAttribute.name}}</td><!-- 基本单位 -->
                  <!-- <td ng-if="showData.orderStatus=='待审核'" class="text-center">{{item.goodsCount}}</td> -->
                  <!-- 可退数量 -->
                  <td class="text-center">{{item.planReturnCount}}</td><!-- 计划数量 -->
                  <td class="text-center">{{item.actualReturnCount}}</td><!-- 实退数量 -->

                  <td class="text-center">
                    <!-- <div ng-repeat="pro in item.stockBatchs" ng-class="{'bt-line-yellow':(stor.storeRoomName)}" style="padding:8px 0px;">{{pro.productionBatch}}</div> -->
                    {{item.productionBatch}}
                  </td><!-- 生产批号 -->
                  <td class="text-center">
                    <!-- <div ng-repeat="stor in item.stockBatchs" ng-class="{'bt-line-yellow':(stor.storeRoomName)}" style="padding:8px 0px;">{{stor.storeRoomName}}</div> -->
                    {{item.storeRoomName}}
                  </td><!-- 库房 -->
                  <td class="text-center">
                    <!-- <div ng-repeat="reg in item.stockBatchs" ng-class="{'bt-line-yellow':(reg.regionName)}" style="padding:8px 0px;">{{reg.regionName}}</div> -->
                    {{item.regionName}}
                  </td><!-- 区域 -->
                  <td class="text-center">
                    <!-- <div ng-repeat="good in item.stockBatchs" ng-class="{'bt-line-yellow':(good.goodsLocationName)}" style="padding:8px 0px;">{{good.goodsLocationName}}</div> -->
                    {{item.goodsLocationName}}
                  </td><!-- 货位 -->

                  <td class="text-center">{{item.strike_price | currency:'￥'}}</td><!-- 采购单价 -->
                  <td class="text-center">{{item.planReturnPrice | currency:'￥'}}</td><!-- 计划退货金额 -->
                  <td class="text-center">{{item.actualReturnPrice}}</td><!-- 实际退货金额 -->
                  <td class="text-center">{{item.manufacturer}}</td><!-- 生产厂商 -->
                  <td class="text-center">{{item.productionPlace}}</td><!-- 产地 -->
                </tr>
              </tbody>
            </table>
        </div>
      </div>
      <!-- 其他信息 -->
      <div class="relative panel pr-panel pr-fuzzy-boundary pr-panel-height mgb pd-c-l" style="margin-bottom:60px;">
          <!-- 备注 -->
          <div class='mgb'>
            <h1>备注</h1>
            <p class="mgt-m">{{showData.note}}</p>
          </div>
      </div>

        <!-- 流程图 -->
      <!-- <business-flow-show business-key="{{showData.id}}" business-type="采购单"></business-flow-show> -->

    </div>
    <!-- 功能按钮 -->
    <div class="handle-btn-area relative">
      <div class="btn-area">
        <a class="mgr-l" ng-if="!changeFlag" href="#/purchaseReturn/query.html" >返回采购退货单列表</a>

        <span ng-if="showData.didateFilter.buttons.length>0"
              custom-menu-list
              custom-menu-arr="{{showData.didateFilter.buttons}}">
        </span>

      </div>

      <div class="price-area relative fl-r mgr-l" style="height:100%;line-height:3.3;font-size:18px;color:#c7a77b;">总计：
        <em class="color-white">￥{{showData.totalPrice || '0.00' | number:2 }}</em>
      </div>
    </div>
</div>
