<div class="first-medical-application"
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/firstMedicalApplication/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData');"
     alert-error>
  <div class="header-info relative mgb-l">
    <p class="pdb-s pdt-s crumbs pd-c-xxl">GSP质量管理 >
      <a tab-nav
      tab-name='首营品种管理'
      tab-href="#/firstMedicalApplication/query.html">
         <em class="color-custom-orange">首营管理</em>
      </a>
     <em>>首营品种申请</em>
    </p>
    <div class="pd-c-xxl pdt-l pdb-l">
      <!-- 标题 -->
      <div class="mgb-l">
        <h1 class="color-black pr-font-20">首营品种申请</h1>
      </div>
    </div>
  </div>

  <!-- 主体内容 -->
  <div class="content-wrapper">
    <!-- 添加流程导航 -->
    <div step-flow-arrow-show
         step-flow-arrow-json='[{"arrowText":"基本信息","className":"active"},{"arrowText":"申请原因","className":"unactive"},{"arrowText":"添加资质证书","className":"unactive"}]'>
    </div>
    <div class="content-wrapper-main mgt">
      <form class="form-horizontal"
            id="firstMedicalApplication_editForm1"
            name="firstMedicalApplication_editForm1"
            form-validator
            parameter-body
            action="rest/authen/firstMedicalApplication/saveBaseInfo"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="validFlag=true;submitFormAfter('#/firstMedicalApplication/edit-step-2.html','首营品种管理');watchFormChange('formData');">
        <!-- 单号 -->
        <div class="panel pr-panel pr-panel-height mgb color-9 flex-column" style="line-height:2.4">
          <div class="flex-item-6">
            <span class="mgr-l">单据编号：<em class="color-6">{{formData.orderNo || '暂无'}}</em></span>

          </div>
          <div class="flex-item-6 text-right">
            <span class="mgr-l">录单日期：<em class="color-black mgr-s">{{formData.createAt | date : 'yyyy-MM-dd'}}</em></span>
            <span>状态：<em class="color-black">{{formData.orderStatus}}</em></span>
          </div>
        </div>
        <!-- 基本信息 -->
        <div class="panel pr-panel pr-panel-height mgb" style="padding:15px 0;">
            <h1 class="mgt color-black text-bold text-n pd-c-l">基本信息</h1>
            <div class="flex-column mgt pdb-l bb-dashed-line">
              <label class="flex-item-2   text-right control-label">分类：</label>
              <div class="flex-item-10 color-3 text-left ">
                <div class="autocut z-tree-div inline-block fl-l" title="{{formData.medicalAttribute.name}}">{{formData.medicalAttribute.name}}</div>
                <span style="display:none;">{{formData.attributeId}}</span>
                <button type="button"
                        z-tree-select="rest/authen/medicalAttribute/query.json?pageSize=999"
                        class="btn-select fl-l"
                        ng-model="formData.medicalAttribute"
                        id-key="id"
                        p-id-key="parentId">选择
                </button>
                <em class="color-red mgl relative" style="top:3px;" ng-if="!formData.medicalAttribute.name">(必选)</em>
              </div>

            </div>
            <div class=" pd-v-m">
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">通用名称：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         required
                         ng-model="formData.approvedName" />
                         <span ng-if="!formData.approvedName" class="color-red">（必填）</span>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">商品名称：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="name"
                         required
                         ng-model="formData.name" />
                         <span ng-if="!formData.name" class="color-red">（必填）</span>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">商品编号：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new "
                         style="width:115px; text-align: center;"
                         name="code"
                         ng-disabled="true"
                         ng-model="formData.attributeCode"/>
                         <span class="border-2"></span>
                  <input type="text"
                         class="ipt-new"
                         name="code"
                         style="width:80px;"
                         ng-model="formData.serialCode"/>
                         <span ng-if="!formData.serialCode" class="color-red">（必填）</span>
                 <label class="mgl-s control-label pdr-s">原商品编号：</label>
                 <input type="text"
                        class="ipt-new "
                        style="width:80px;"
                        name="code"
                        ng-model="formData.originalCode"/>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">条形码：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new-s ipt-new"
                         ng-model="formData.barcode"/>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">规格型号：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new-s ipt-new"
                         name="specification"
                         ng-model="formData.specificationAndModelType"
                         required />
                  <span ng-if="!formData.specificationAndModelType" class="color-red">（必填）</span>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">装箱规格：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new-s ipt-new"
                         name="specification"
                         ng-model="formData.packingSpecification" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">剂型/管理类别：</label>
                <div class="flex-item-10 text-left">
                  <select class="ipt pr-short-ipt ipt-new-s" data-placeholder="选择剂型"
                  chosen
                  default-empty="无"
                  ng-model="formData.dosageForms"
                  select-source="rest/baseData/queryForSelectOptionByType?type=剂型">
                  </select>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">基本单位：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new-s ipt-new"
                         name="unit"
                         ng-model="formData.unit"
                         required />
                  <span ng-if="!formData.unit" class="color-red">（必填）</span>
                </div>
              </div>
              <!-- <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">包装情况：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="packingCondition"
                         ng-model="formData.packingCondition" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">中包装数量：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="numberOfPackages"
                         ng-model="formData.numberOfPackages"
                         ng-pattern="/^\d+$/"
                         invalid-popover
                         popover-show="!firstMedicalEditForm.numberOfPackages.$valid"
                         popover-options='{"content":"中包装数量格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">件装量：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="pieceLoading"
                         ng-model="formData.pieceLoading"
                         ng-pattern="/^\d+$/"
                         invalid-popover
                         popover-show="!firstMedicalEditForm.pieceLoading.$valid"
                         popover-options='{"content":"件装量格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div> -->
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">有效期：</label>
                <div class="flex-item-10 text-left">
                  <input type="number"
                         class="ipt-new-s ipt-new"
                         name="unit"
                         style="width:60px"
                         ng-model="formData.guaranteePeriod" />
                   <div class="inline-block" ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_DateUnit" scope-data="DateUnit">
                     <div ng-repeat="date in DateUnit" class="inline-block " style="position:relative;top:-5px;">
                         <label class="radio-inline radio radio-new mgl-s">
                           <input type="radio" class="default-radio"  name="type" value="{{date.text}}" ng-model="formData.guaranteePeriodUnit" ><i style="top:12px;"></i>
                           <em class="inline-block" style=" color:#666;margin-left:-10px;">{{date.text}}</em>
                         </label>
                     </div>
                   </div>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">储存条件：</label>
                <div class="flex-item-10 text-left">
                  <select ng-if="initFlag" class="ipt pr-long-ipt color-6"
                          data-placeholder=" "
                          chosen
                          style="width:150px;"
                          ng-model="formData.storageCondition"
                          ng-change="changeStorageCondition(formData.storageCondition);"
                          select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_DeliveryPlus">
                  </select>
                </div>
              </div>
              <div class="" ng-if="formData.storageCondition=='冷藏'||formData.storageCondition=='冷冻'">
                <div class="flex-column mgt">
                  <label class="flex-item-2 text-right control-label pdr-s">温度上限：</label>
                  <div class="flex-item-10 text-left">
                    <input type="number"
                           class="ipt-new-s ipt-new"
                           name="topTemperature"
                           style="width:50px;"
                           required
                           ng-model="formData.topTemperature" /><em class="mgl-s">℃</em><em ng-if="!formData.topTemperature" class="color-red mgl-s">(必填)</em>
                  </div>
                </div>
                <div class="flex-column mgt">
                  <label class="flex-item-2 text-right control-label pdr-s">温度下限：</label>
                  <div class="flex-item-10 text-left">
                    <input type="number"
                           class="ipt-new-s ipt-new"
                           name="lowTemperature"
                           style="width:50px;"
                           required
                           ng-model="formData.lowTemperature" /><em class="mgl-s">℃</em><em ng-if="!formData.lowTemperature" class="color-red mgl-s">(必填)</em>
                  </div>
                </div>
                <div class="flex-column mgt">
                  <label class="flex-item-2 text-right control-label pdr-s">湿度上限：</label>
                  <div class="flex-item-10 text-left">
                    <input type="number"
                           class="ipt-new-s ipt-new"
                           name="topHumidity"
                           style="width:50px;"
                           required
                           ng-model="formData.topHumidity" /><em class="mgl-s">%</em><em ng-if="!formData.topHumidity" class="color-red mgl-s">(必填)</em>
                  </div>
                </div>
                <div class="flex-column mgt">
                  <label class="flex-item-2 text-right control-label pdr-s">湿度下限：</label>
                  <div class="flex-item-10 text-left">
                    <input type="number"
                           class="ipt-new-s ipt-new"
                           name="lowHumidity"
                           style="width:50px;"
                           required
                           ng-model="formData.lowHumidity" /><em class="mgl-s">%</em><em ng-if="!formData.lowHumidity" class="color-red mgl-s">(必填)</em>
                  </div>
                </div>
              </div>
            </div>
            <div class="pd-v-m bt-dashed-line">
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">生产企业：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="produceEnterprise"
                         ng-model="formData.manufacturer" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">厂址：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.factoryAddress" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">产地：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="factoryAddress"
                         ng-model="formData.productionPlace" />
                </div>
              </div>
              <!-- <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">供应单位：</label>
                <div class="flex-item-10 text-left">
                  <select class="select-new"
                          ng-model="formData.supplierId"
                          chosen
                          select-source="rest/authen/supplier/queryForSelectOption">
                  </select>
                </div>
              </div> -->
            </div>
            <div class="pd-v-m bt-dashed-line">
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">注册商标：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="trademark"
                         ng-model="formData.trademark" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">国药统一编码：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="medicalUniformCode"
                         ng-model="formData.medicalUniformCode" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">质量标准：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.quality" />
                </div>
              </div>
            </div>
            <div class="pd-v-m bt-dashed-line">
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">是否基药：</label>
                <div class="flex-item-10 text-left">
                  <select class="select pr-select ipt-new-s pr-short-ipt" style="height:32px;" ng-model="formData.isBasicMedicine">
                    <option value="是" ng-selected="formData.isBasicMedicine=='是'">是</option>
                    <option value="否" ng-selected="formData.isBasicMedicine=='否'">否</option>
                  </select>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">牌价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.quoteprice"
                         ng-disabled="formData.isBasicMedicine=='否'"
                         ng-keyup="chkQuoteAndRetail()"
                         name="quoteprice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.quoteprice.$valid"
                         popover-options='{"content":"牌价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">零售价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.retailPrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="retailPrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.retailPrice.$valid"
                         popover-options='{"content":"零售价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">批发价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.tradePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="tradePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.tradePrice.$valid"
                         popover-options='{"content":"批发价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">最高售价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.maxRetailPrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="maxRetailPrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.maxRetailPrice.$valid"
                         popover-options='{"content":"最高售价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">最低售价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.minRetailPrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="minRetailPrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.minRetailPrice.$valid"
                         popover-options='{"content":"最低售价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">采购价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.purchasePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="purchasePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.purchasePrice.$valid"
                         popover-options='{"content":"采购价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">最高采购价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.maxPurchasePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="maxPurchasePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.maxPurchasePrice.$valid"
                         popover-options='{"content":"最高采购价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">最低采购价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.minPurchasePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="minPurchasePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalApplication_editForm1.minPurchasePrice.$valid"
                         popover-options='{"content":"最低采购价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>

              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">税率：</label>
                <div class="flex-item-10 text-left">
                  <select class="select pr-select ipt-new-s pr-short-ipt"
                          ng-model="formData.tax"
                          ng-options="tax for tax in [3,17]">
                  </select>%
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">采购员：</label>
                <div class="flex-item-10 text-left">
                    <select class="select pr-select"
                            data-placeholder=" "
                            chosen
                            width="150px"
                            default-empty=""
                            ng-model="formData.buyerId"
                            select-source="rest/authen/user/queryForSelectOption">
                    </select>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">效期预警天数：</label>
                <div class="flex-item-10 text-left">
                  <input type="number"
                         class="ipt-new ipt-new-s text-right"
                         ng-model="formData.guaranteePeriodAlarmDay"/>
                </div>
              </div>
            </div>
          </div>

      <div class="color-black mgt-l mgb-l">
        <p>
          <p class="pr-font-14 mgb-s">说明：</p>
          <p class="mgb-s">1.品种资质必须加供货企业红色原公章；</p>
          <p>2.采购人员按要求向供货商(生产企业／经营企业)索要并核实资质的真实合法性，并如实填写本表；</p>
        </p>
      </div>

      <!-- 功能按钮 -->
      <div class="handle-btn-area relative">
        <div class="mgb text-right btn-area">
          <span class="mgl">
  
            <a ng-if="changeFlag"  href="javascript:;"
               handle-this-click
               dialog-title="确认返回?"
               dialog-content="该申请单存在未保存数据，是否保存?"
               dialog-template="pr-dialog-return.html"
               nosave-callback="goTo('#/firstMedicalApplication/query.html')"
               save-callback="submitForm('firstMedicalApplication_editForm1','save');$root.goTo('#/firstMedicalApplication/query.html');">返回申请单列表
            </a>

            <a ng-if="!changeFlag" tab-nav
            tab-name='首营品种管理'
            tab-href="#/firstMedicalApplication/query.html">返回申请单列表</a>
            </span>
            <span class="mgl">
              <a ng-if="formData.id && formData.proposerName==mainStatus.name"
                 href="javascript:;"
                 class="color-red mgt"
                 handle-this-click
                 dialog-title="确认删除?"
                 dialog-content="删除后将无法恢复,确认删除?"
                 dialog-template="pr-dialog-submit.html"
                 callback="$root.goTo({'tabHref':'#/firstMedicalApplication/query.html','tabName':'首营品种管理'})"
                 params='{"id":formData.id}'
                 request-url="rest/authen/firstMedicalApplication/delete">删除</a>
            </span>
            <span class="mgl">
              <button class="pr-btn-save-glodbg mgt"
                      ng-disabled="!changeFlag "
                      ng-click="submitForm('firstMedicalApplication_editForm1','save')">保存</button>
            </span>
            <span class="mgl">
              <button class="pr-btn-save-glodbg mgt"
                      ng-disabled="!firstMedicalApplication_editForm1.$valid ||!formData.medicalAttribute.name"
                      ng-click="submitForm('firstMedicalApplication_editForm1','submit')">下一步
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>

  </div>
</div>
