<div class="first-medical-application hospital-application "
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/firstMedicalApplication/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData')"
     alert-error>

    <div class="header-info relative mgb-l">
        <p class="pdb-s pdt-s crumbs pd-c-xxl">GSP质量管理 >
            <a tab-nav
            tab-name='首营品种管理'
            tab-href="#/firstMedicalApplication/query.html"><em class="color-custom-orange">首营管理</em></a>
            <em>>首营品种申请</em>
        </p>
        <div class="pd-c-xxl pdt-l pdb-l">
            <!-- 标题 -->
            <div class="mgb-l">
              <h1 ng-if="!formData.enterFlag" class="color-black pr-font-20">新建首营品种</h1>
              <h1 ng-if="formData.enterFlag" class="color-black pr-font-20">录入已审核的首营品种</h1>
            </div>
        </div>
    </div>
    <!-- 主体内容 -->
    <div class="content-wrapper ">
        <!-- 添加流程导航 -->
        <div ng-if="!formData.enterFlag"
        class="step-flow-arrow" step-flow-arrow-show
        step-flow-arrow-json=
      '[{"arrowText":"基本信息","className":"visited"},
        {"arrowText":"申请原因","className":"active"},
        {"arrowText":"添加审核资料","className":"unactive"}]'>
        </div>

        <div ng-if="formData.enterFlag"
        class="step-flow-arrow" step-flow-arrow-show
        step-flow-arrow-json=
      '[{"arrowText":"基本信息","className":"visited"},
        {"arrowText":"申请原因","className":"active"},
        {"arrowText":"添加审核资料","className":"unactive"},
        {"arrowText":"录入已审核的首营品种","className":"unactive"}]'>
        </div>
        <div class="content-wrapper-main mgt">
            <form class="form-horizontal"
                  id="firstMedicalApplication_editForm_step"
                  name="firstMedicalApplication_editForm_step"
                  form-validator
                  parameter-body
                  action="rest/authen/firstMedicalApplication/saveBaseInfo?validFlag=true"
                  alert-error
                  alert-ok
                  scope-error-msg="errorMsg"
                  scope-data="formData"
                  novalidate="true"
                  callback="submitFormAfter('#/firstMedicalApplication/edit-step-3.html');watchFormChange('formData')">
                <!-- 单号 -->
                <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
                    <div class="flex-item-6">
                        <span class="mgr-l">单据编号：<em class="color-6">{{formData.orderNo || '暂无'}}</em></span>
                    </div>
                    <div class="flex-item-6 text-right">
                        制单部门：<em class="color-black mgr-s">{{formData.departmentName || '暂无'}}</em>
                        制单人：<em class="color-black mgr-s">{{formData.inputUser.n || '暂无'}}</em>
                        制单时间：<em class="color-black mgr-s">{{formData.createAt || '暂无' | date : 'yyyy-MM-dd HH:mm'}}</em>
                        状态：  <em class="color-black">{{formData.orderStatus}}</em>
                    </div>
                </div>
                <!-- 基本信息 -->
                <div class="panel pr-panel pr-panel-height mgb">
                    <h1 class="pr-font-18 mgb">申请原因</h1>
                    <div class="">
                        <textarea class="pr-textarea" name="applyReason" rows="8" cols="40" ng-model="formData.applyReason"></textarea>
                    </div>
                </div>
                <div class="color-black mgt-l">
                    <p>
                        <p class="pr-font-14">说明：</p>
                        <p>1.品种资质必须加供货企业红色原公章；</p>
                        <p>2.采购人员按要求向供货商(生产企业／经营企业)索要并核实资质的真实合法性，并如实填写本表；</p>
                    </p>
                </div>
                <!-- 功能按钮 -->
          <div class="handle-btn-area relative">
              <div class="mgb text-right btn-area">
                  <span class="mgl">
                      <a ng-if="changeFlag"  href="javascript:;"
                         handle-this-click
                         dialog-title="确认返回?"
                         dialog-content="该申请单存在未保存数据，是否保存?"
                         dialog-template="pr-dialog-return.html"
                         nosave-callback="goTo('#/firstMedicalApplication/query.html')"
                         save-callback="submitForm('firstMedicalApplication_editForm_step','save');$root.goTo('#/firstMedicalApplication/query.html');">返回申请单列表
                      </a>
                      <a ng-if="!changeFlag" tab-nav
                      tab-name='首营品种管理'
                      tab-href="#/firstMedicalApplication/query.html">返回申请单列表</a>
              </span>
          <span class="mgl">
            <a ng-if="formData.id && formData.proposerName==mainStatus.name"
               href="javascript:;"
               class="color-red mgt"
               handle-this-click
               dialog-title="确认删除?"
               dialog-content="删除后将无法恢复,确认删除?"
               dialog-template="pr-dialog-submit.html"
               callback="$root.goTo({'tabHref':'#/firstMedicalApplication/query.html','tabName':'首营品种管理'})"
               params='{"id":formData.id}'
               request-url="rest/authen/firstMedicalApplication/delete">删除</a>
          </span>
          <span class="mgl">
            <button class="pr-btn-save-glodbg mgt"
                    ng-disabled="!changeFlag || !formData.applyReason || firstMedicalApplication_editForm_step.applyReason.$pristine"
                    ng-click="submitForm('firstMedicalApplication_editForm_step','save')">保存
            </button>
          </span>
          <span class="mgl">
            <button style="margin-top: 10px;" class="pr-btn-save-glodbg" ng-click="$root.goTo({'tabHref':'#/firstMedicalApplication/edit1.html?id='+formData.id,'tabName':'首营品种管理'})">上一步</button>
          </span>
          <span class="mgl">
            <button class="pr-btn-save-glodbg mgt"
                    ng-disabled="!formData.applyReason"
                    ng-click="submitForm('firstMedicalApplication_editForm_step','submit')">下一步
            </button>
          </span>
                    </div>
                </div>
                </form>
        </div>

    </div>
    </div>
