<div class="create-new-order purchaseOrder-edit"
     ng-controller="purchaseOrderEditCtrl"
    
     ajax-url="rest/authen/purchaseOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}&relMedicalStockIdSet={{mainStatus.pageParams.relMedicalStockIdSet}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="formData"
     callback="tmp_supplier=formData.supplier;initFlag=true;choisedMedicals=false;diffPurchaseNumber(formData.orderMedicalNos);getCodeGenerationStrategy('采购单');checkData();$root.watchFormChange('formData',this);"
     alert-error>

<form id="purchaseForm_editForm"
      name="purchaseForm_editForm"
      form-validator
      parameter-body
      action="rest/authen/purchaseOrder/save.json"
      alert-error
      alert-ok
      scope-error-msg="errorMsg"
      scope-data="formData"
      callback="submitFormAfter();$root.watchFormChange('formData',this)"
      novalidate="true">

     <div class="header-info relative mgb-l">
       <p class="pdb-s pdt-s crumbs pd-c-xxl crumbs-">采购中心 >
         <a tab-nav tab-name="采购单" tab-href="#/purchaseOrder/query.html">
            <em class="color-custom-orange">采购单</em>
         </a>
        <em>>新建采购单</em>
       </p>
       <div class="pd-c-xxl pdt-l pdb-l">
         <!-- 标题 -->
         <div class="mgt-l">
           <h1 class="color-black pr-font-20">{{!formData.id?'新建':'编辑'}}采购单</h1>
         </div>
       </div>
     </div>

     <div class="">
       <div class="content-wrapper">
         <div ng-if="formData.operationFlowSet.key||formData.operationFlowSet.message" class="pr-panel pr-panel-height mgb pr-bg-pink1 pad-tb11">
           <em class="color-red">原因:</em>
           <p class="inline-block color-red">
             <em ng-model="formData.operationFlowSet.key">{{formData.operationFlowSet.key}}</em>
             <em ng-model="formData.operationFlowSet.message">{{formData.operationFlowSet.message}}</em>
           </p>
         </div>
       <div class="">
         <div class="inline-block mgr">
           <div ng-if="!formData.relId" class="inline-block">
              <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:89px;">
                <div class="inline-block logistics-center type-icon"></div>
                <div class="inline-block">
                  <p class="mgb-s">业务类型</p>
                  <p class="text-m color-3">
                    <select ng-if="initFlag" class="ipt pr-short-ipt color-3" style="width:90px;"
                            data-placeholder=" "
                            chosen
                            ng-model="formData.orderBusinessType"
                            select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_PurchaseOrderBusinessType"
                            ng-disabled="true"
                            ng-change="chgorderBusinessType(formData.orderBusinessType)">
                    </select>
                  </p>
                </div>
              </div>
           </div>
           <div ng-if="formData.relId" class="inline-block">
              <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:89px;">
                <div class="inline-block logistics-center type-icon"></div>
                <div class="inline-block">
                  <p class="mgb-s">业务类型</p>
                  <p class="text-m color-3 autocut-default" title="直发采购">{{formData.orderBusinessType}}</p>
                </div>
              </div>
           </div>
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height inline-block mgl" style="height: 90px;">
             <div class="inline-block  supplier-name "></div>
             <div class="inline-block">
               <p class="mgb-s">供应商</p>
               <div class="inline-block"
                    ajax-if-eval="tmp_supplier.id"
                    ajax-url="rest/authen/supplier/get.json?id={{tmp_supplier.id}}"
                    scope-data="supplier"
                    callback="setformData_supplier(supplier,formData);chkSupplierInfo(supplier);"
                    alert-error>
                 <div>

                   <span
                        ng-if="initFlag"
                         angucomplete-supplier
                         placeholder="供应商"
                         title-field="name"
                         search-fields="{{formData.supplier.name}}"
                         url="rest/authen/supplier/query.json?isFilterDefault=true"
                         ng-model="$parent.tmp_supplier"
                         class="inline-block" style="height:28px;">
                   </span>
                   <em ng-if="formData.supplier.businessApplication.businessStatus=='已冻结'"  class="color-4">
                     {{formData.supplier.businessApplication.businessStatus}}
                   </em>


                   <em  ng-if="customerInfo.msg"  style="display:block" class="mgb-s color-red">
                     <i class="warning-icon"></i>
                     {{customerInfo.msg}}
                     <span ng-if="formData.supplier.id" style="margin-left: 15px;">
                     <a tab-nav tab-name="供应商管理" tab-href="#/supplier/get.html?id={{formData.supplier.id}}" class="color-orange">查看详情</a></span>
                   </em>

                 </div>
               </div>
             </div>
           </div>
         </div>

         <!-- <div ng-if="formData.orderBusinessType=='直发采购'" class="inline-block mgr-l">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
             <div class="inline-block customer-name"></div>
             <div class="inline-block">
               <p class="mgb-s">客户名</p>
               <p class="text-m color-3 autocut-default" title="{{formData.customerName}}" style="width:300px;">{{formData.customerName || '暂无'}}</p>
             </div>
           </div>
         </div> -->
         <div class="inline-block">
            <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;">
              <div class="inline-block logistics-center"></div>
              <div class="inline-block">
                <p class="mgb-s">预入物流中心</p>
                <p class="text-m color-3">
                  <select ng-if="initFlag" class="ipt ipt-new-select color-6"
                          data-placeholder=" "
                          chosen
                          ng-model="formData.logisticsCenterId"
                          is-disabled-this="{{formData.customerId}}"
                          select-source="rest/authen/logisticsCenter/queryForSelectOption.json">
                  </select>
                </p>
              </div>
            </div>
         </div>
         <div class="inline-block mgl" ng-if="formData.orderBusinessType!='直发采购'">
            <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;">
              <div class="inline-block logistics-center target-icon"></div>
              <div class="inline-block">
                <p class="mgb-s">目标客户</p>
                <p class="text-m color-3">
                  <input type="text"
                        class="inline ipt text-center"
                        ng-model="formData.intentionalCustomer"
                        >
                </p>
              </div>
            </div>
         </div>
         <div ng-if="formData.orderBusinessType=='直发采购'" class="inline-block mgl">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;">
             <div class="inline-block logistics-center target-icon"></div>
             <div class="inline-block">
               <p class="mgb-s">目标客户</p>
               <p class="text-m color-3 autocut-default" title="{{formData.intentionalCustomer}}">{{formData.intentionalCustomer ||'暂无'}}</p>
             </div>
           </div>
         </div>
       </div>
       <!-- 药械列表 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n">
         <!-- 信息 -->
         <div ng-if="formData.orderBusinessType!='直发采购'"
              flash-add-medical
              ng-model="data1"
              class="pd-c-l pdt-m"
              ajax-url="rest/authen/medicalStock/query?flag=true"
              add-data-callback-fn="flashAddDataCallbackFn(data1)"
              is-disabled-this="{{formData.supplier.id}}"
              frozen-goods-disabled=true>
         </div>

           <!-- 列表 -->
           <div class="bt-line">
             <div class="flex-row color-9 pd-c-l pdt-m pdb-m bb-dashed-line">
               <div class="flex-item-6">
                 <span ng-if="numberingPolicy!='auto'" class="mgr">单据编号：
                   <input type="text" name="orderCode" class="ipt pr-new-short-ipt text-right" ng-model="formData.orderCode" />
                   <em ng-if="!formData.orderCode" class="color-red">(必填)</em>
                 </span>
                 <span ng-if="numberingPolicy=='auto'" class="mgr">单据编号：<em class="color-3">{{formData.orderCode || '暂无'}}</em></span>
                 <span class="inline-block relative">
                   <span>单据日期：</span>
                   <span class="date-icon-outside">
                     <input ng-if="initFlag" type="text"
                            datepicker
                            class="ipt-date ipt color-3"
                            ng-readonly="true"
                            placeholder=""
                            ng-model="formData.orderDate" />
                     <span class="date-icon"></span>
                   </span>
                 </span>
                 <!-- <span class="mgr">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span> -->
                 <span class="mgr">审核人：<em class="color-3">暂无</em></span>
               </div>
               <div class="flex-item-6 text-right">
                 <!-- <span class="mgr">系统编号：<em class="color-3">{{formData.orderNo || '暂无'}}</em></span>
                 <span class="mgr">录单日期：<em class="color-3">{{formData.createAt || '暂无' | date:'yyyy-MM-dd'}}</em></span> -->
                 <span class="mgr">状态：<em class="color-3">{{formData.orderStatus}}</em></span>
               </div>
             </div>
             <div class="pd-c-l pdt-m pdb-m color-9">
               <span class="mgr">业务部门：
                 <select class="ipt pr-short-ipt color-3" style="width:100px;"
                         data-placeholder=" "
                         chosen
                         no-first-select-source="true"
                         ng-model="formData.salesDepartmentId"
                         select-source="rest/authen/department/queryForSelectOption">
                 </select>
               </span>
               <span class="mgr">业务人员：
                 <select ng-if="initFlag" class="ipt pr-short-ipt color-3" style="width:90px;"
                         data-placeholder=" "
                         chosen
                         no-first-select-source="true"
                         ng-model="formData.saleUserId"
                         select-source="rest/authen/organizationAndUser/queryForSelectOption?departmentId={{formData.salesDepartmentId}}&isReturnNullOfNoCondition=true">
                 </select>
               </span>
               <span class="mgr">采购类型：
                 <select ng-if="initFlag" class="ipt pr-short-ipt color-3" style="width:90px;"
                         data-placeholder=" "
                         chosen
                         ng-model="formData.purchaseCode"
                         select-source="rest/baseData/queryForSelectOptionByType?type=采购类型">
                 </select>
               </span>

               <span class="mgr">计划到货日期：
                 <span class="date-icon-outside">
                   <input type="text"
                          datepicker
                          class="ipt-date ipt color-3"
                          placeholder=""
                          ng-readonly="true"
                          ng-model="formData.expectDate" />
                          <span class="date-icon"></span>
                   </span>
                 <span class="color-red">(必填)</span>
                </span>
               <span class="mgr">合同号：
                 <input type="text"
                      class="inline ipt pr-ipt-60 text-center"
                      style="width:100px;"
                      ng-model="formData.contractNo"
                      >
               </span>
               <span class="mgr">预入仓库：
                 <!-- <select ng-if="formData.orderBusinessType!='直发采购'" class="ipt pr-short-ipt color-3" style="width:90px;"
                         data-placeholder=" "
                         default-empty="无"
                         chosen
                         ng-model="formData.warehouseId"
                         ng-change="changeWarehouse(formData.warehouseId,formData.orderMedicalNos)"
                         select-source="rest/authen/warehouse/queryForSelectOption?logisticsCenterId={{formData.logisticsCenterId}}&type=正常库">
                 </select> -->
                 <select class="pr-select pd-s" ng-if="formData.orderBusinessType!='直发采购'"
                         style="width:115px;"
                         ng-model="formData.warehouseId"
                         ng-change="changeWarehouse(formData.warehouseId,formData.orderMedicalNos)"
                         ajax-url="rest/authen/warehouse/queryForSelectOption?logisticsCenterId={{formData.logisticsCenterId}}&type=正常库"
                         scope-data="warehouseList">
                   <option ng-repeat="option in warehouseList" value="{{option.value}}">{{option.text}}</option>
                 </select>
                 <select class="pr-select pd-s" ng-if="formData.orderBusinessType=='直发采购'"
                         style="width:115px;"
                         ng-model="formData.warehouseId"
                         ng-change="changeWarehouse(formData.warehouseId,formData.orderMedicalNos)"
                         ajax-url="rest/authen/warehouse/queryForSelectOption?logisticsCenterId={{formData.logisticsCenterId}}&type=虚拟库"
                         scope-data="warehouseList">
                   <option ng-init="formData.warehouseId=warehouseList[0].value" ng-repeat="option in warehouseList" value="{{option.value}}">{{option.text}}</option>
                 </select>
                 <!-- <select ng-if="formData.orderBusinessType=='直发采购'" class="ipt pr-short-ipt color-3" style="width:90px;"
                         data-placeholder=" "
                         chosen
                         ng-model="formData.warehouseId"
                         ng-change="changeWarehouse(formData.warehouseId,formData.orderMedicalNos)"
                         select-source="rest/authen/warehouse/queryForSelectOption?logisticsCenterId={{formData.logisticsCenterId}}&type=虚拟库">
                 </select> -->
               </span>
             </div>
             <div class="">
               <table class="table pr-table pr-new-table " >
                 <thead>
                  <tr>
                    <th class="text-center">商品编号</th>
                    <th class="w-160 text-left">商品通用名</th>
                    <th class="text-center">剂型/分类</th>
                    <th class="text-center">规格/型号</th>
                    <th class="text-center">单位</th>
                    <!-- <th class="text-center" ng-if="formData.relId">请购数量</th> -->
                    <th class="text-center w-106">计划数量</th>
                    <!-- <th class="text-center" ng-if="formData.relId">实际采购数量</th> -->
                    <th class="text-center w-130" >预入仓库</th>
                    <th class="text-center">含税单价</th>
                    <th class="text-center">价税合计</th>
                 </tr>
                 </thead>
                 <tbody class="bg-white">
                   <tr ng-repeat="tr in formData.orderMedicalNos"
                       table-item-handlebtn-component
                       ng-init="orderMedicalNoIds.push(tr.relId);tr.handleFlag=true;"
                       class="relative">
                     <td   class="text-center" style="line-height:2.4">{{tr.code}}
                       <div  class="table-item-handle-btn" ng-class="{'table-item-handle-remove-btn':(formData.relId)}" title="删除">
                         <div class="table-item-confirm-del-area bg-white">
                           <p ng-show="!formData.relId" class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                           <p ng-show="formData.relId" class="bb-line color-red pd-v-s">确认移除本条数据?</p>
                           <p class="pdt">
                             <a href="javascript:;" class="cancelHandle" ng-click="cancelHandle()">取消</a>
                             <a href="javascript:;" class="confirm-del-this btn btn-primary pr-btn-best-small pr-btn-bg-gold mgl" ng-click="formData.orderMedicalNos.splice($index,1);">确认</a>
                           </p>
                         </div>
                       </div>

                     <!-- 商品编号 -->
                     <td class="text-left" style="width: 300px;" >
                       <span
                            class="color-orange cur-pot lend-order-goods-info"
                            ng-init="showInfoArea=false"
                            ng-mouseenter="showInfoArea=true"
                            ng-mouseleave="showInfoArea=false">{{tr.approvedName}}
                         <show-info-modal ng-show="showInfoArea"
                                          get-data-type="local"
                                          template-url="tpl/showInfoModalLendOrder"
                                          info-object="{{tr}}"
                                          info-title="商品信息">
                         </show-info-modal>
                       </span>
                       <p ng-if="identityForMedicalStocksMap[tr.relId].msg" class="mgb-s color-red" style="line-height: 26px; height:26px;">
                         <i class="warning-icon"></i>
                         {{identityForMedicalStocksMap[tr.relId].msg}}
                         <span style="margin-left: 15px;">
                          <a tab-nav tab-name="品种管理" tab-href="#/medicalStock/get.html?id={{tr.relId}}" class="color-orange">查看详情</a>
                        </span>
                       </p>
                     </td><!-- 商品全名 -->
                     <td class="text-center">{{tr.dosageForms}}</td><!-- 规格/型号 -->
                     <td class="text-center">{{tr.specificationAndModelType}}</td><!-- 规格/型号 -->
                     <td class="text-center">{{tr.unit}}</td><!-- 单位 -->
                     <!-- <td class="text-center" ng-if="formData.relId" style="line-height:2.4">{{tr.planQuantity}}</td> -->
                     <!-- 请购数量 -->
                     <td class="text-center relative" ng-if="formData.relId" style="white-space: nowrap;">
                       <div class="order-goods-num">
                         <button type="button" class="inline-block left" ng-click="tr.quantity=$root.utils.transformToNumber(tr.quantity)-1;purchaseOrderCalculaTotal(formData.orderMedicalNos);diffPurchaseNumber(formData.orderMedicalNos)"
                                 ng-class="{'disabled':(!tr.quantity)}" ng-disabled="!tr.quantity">-</button>
                         <span class="inline-block">
                           <input type="text"
                                  min="1"
                                  class="inline ipt pr-ipt-60 text-center item-quantity"
                                  style="width:60px;"
                                  name="quantity{{$index}}"
                                  ng-model="tr.quantity"
                                  ng-change="diffPurchaseNumber(formData.orderMedicalNos);purchaseOrderCalculaTotal(formData.orderMedicalNos);"
                                  ng-class="{'pr-bg-pink': medicalStockMap[tr.relId].quantity<tr.quantity}"
                                  required
                                  ng-pattern="/^[1-9]{1}[0-9]{0,10}?$/"
                                  invalid-popover="{{!purchaseForm_editForm['quantity'+$index].$valid || tr.quantity>tr.planQuantity}}"
                                  popover-show
                                  is-focus="true"
                                  popover-options='{"content":"不能大于计划数量或数量不正确", "placement":"right", "trigger":"manual"}'>
                         </span>
                         <button type="button" class="inline-block right" ng-click="tr.quantity=$root.utils.transformToNumber(tr.quantity)+1;purchaseOrderCalculaTotal(formData.orderMedicalNos);diffPurchaseNumber(formData.orderMedicalNos)">+</button>
                       </div>
                       <p class="text-right color-red pdr-s mgt-s" ng-if="tr.planQuantity>tr.quantity&&formData.relId" >
                         待采购数量：{{tr.planQuantity-tr.quantity}}
                       </p>
                     </td><!-- 数量 -->
                     <td class="text-center relative" ng-if="!formData.relId" style="white-space: nowrap;">
                       <div class="order-goods-num">
                         <button type="button" class="inline-block left" ng-click="tr.quantity=$root.utils.transformToNumber(tr.quantity)-1;purchaseOrderCalculaTotal(formData.orderMedicalNos)" ng-class="{'disabled':(!tr.quantity)}" ng-disabled="!tr.quantity">-</button>
                         <span class="inline-block">
                           <input type="number"
                                  min="1"
                                  class="inline ipt pr-ipt-60 text-center item-quantity"
                                  style="width:60px;"
                                  name="quantity{{$index}}"
                                  ng-model="tr.quantity"
                                  ng-change="diffPurchaseNumber(formData.orderMedicalNos);purchaseOrderCalculaTotal(formData.orderMedicalNos)"
                                  ng-class="{'pr-bg-pink': medicalStockMap[tr.relId].quantity<tr.quantity}"
                                  required
                                  ng-pattern="/^[0-9]{1,10}?$/"
                                  invalid-popover
                                  valid-value="{{!purchaseForm_editForm['quantity'+$index].$valid}}"
                                  popover-show
                                  popover-options='{"content":"数量不正确", "placement":"right", "trigger":"manual"}'>
                         </span>
                         <button type="button" class="inline-block right" ng-click="tr.quantity=$root.utils.transformToNumber(tr.quantity)+1;purchaseOrderCalculaTotal(formData.orderMedicalNos)">+</button>
                       </div>
                       <p class="text-right color-red pdr-s mgt-s p-request-purchase" ng-if="tr.planQuantity>tr.quantity&&formData.relId" >
                         待采购数量：{{tr.planQuantity-tr.quantity}}
                       </p>
                     </td><!-- 数量 -->
                     <td class="text-center" ng-if="formData.orderBusinessType!='直发采购'">
                       <select ng-if="initFlag" class="pr-select pd-s"
                               style="width:115px;"
                               ng-model="tr.warehouseId"
                               ajax-url="rest/authen/warehouse/queryForSelectOption?logisticsCenterId={{formData.logisticsCenterId}}&type=正常库"
                               scope-data="warehouseList">
                         <option ng-repeat="option in warehouseList" value="{{option.value}}">{{option.text}}</option>
                       </select>
                     </td>
                     <td class="text-center" ng-if="formData.orderBusinessType=='直发采购'">
                       <select ng-if="initFlag" class="pr-select pd-s"
                               style="width:115px;"
                               ng-model="tr.warehouseId"
                               ajax-url="rest/authen/warehouse/queryForSelectOption?logisticsCenterId={{formData.logisticsCenterId}}&type=虚拟库"
                               scope-data="warehouseList">
                         <option ng-init="tr.warehouseId=warehouseList[0].value" ng-repeat="option in warehouseList" value="{{option.value}}">{{option.text}}</option>
                       </select>
                     </td>
                     <!-- 预入仓库 -->
                     <td class="text-center relative" style="white-space:nowrap;line-height:2.4">￥
                       <input type="text"
                              class="ipt pr-ipt-60 text-right"
                              name="strike_price{{$index}}"
                              ng-model="tr.strike_price"
                              ng-change="purchaseOrderCalculaTotal(formData.orderMedicalNos)"
                              required
                              ng-pattern="/^[0-9]{1,10}(\.[0-9]{1,3})?$/"
                              invalid-popover
                              valid-value="{{!purchaseForm_editForm['strike_price'+$index].$valid}}"
                              popover-show
                              popover-options='{"content":"单价不能小于0且不能过大或格式不正确", "placement":"right", "trigger":"manual"}' />
                       <p class="color-orange pr-indent-35">
                         <a modal-right="577"
                            modal-scope="this"
                            modal-data='{"medicalName":"{{tr.name}}","id":"{{tr.relId}}","type":"采购","supplierId":"{{formData.supplier.id}}"}'
                            modal-url="views/versionFlow/history-price.html">参考价格
                         </a>
                       </p>
                     </td>

                     <!-- ajax-if-eval="formData.supplier.id"
                     ajax-url="rest/authen/historicalPrice/getAllPriceByRelId?id={{tr.id}}&type=采购&supplierId={{formData.supplier.id}}"
                     scope-data="priceData"
                     callback="tr.strike_price=priceData[0].value" -->

                    <td class="text-right">￥{{tr.strike_price*tr.quantity || tr.totalPrice | number:2}}</td><!-- 价税合计 -->
                   </tr>
                 </tbody>
               </table>
             </div>
             <p ng-if="isShowPurchaseInfo" class="pd-m color-red">选中商品中，存在少于请购数量品种。该部分将被退回并保留在请购单
               <a class="color-light-brown" tab-nav tab-name="请购单" tab-href="#/requestPurchaseOrder/edit.html?id={{formData.relId}}">{{formData.relOrderNo}}</a>
             </p>
             <div class="pr-bg-white" ng-if="!formData.orderMedicalNos.length">
               <div class="empty-table clearfix">
                 <div>&nbsp;</div>
                 <div>&nbsp;</div>
                 <div>&nbsp;</div>
               </div>
             </div>
             <div class="bt-line flex-row">
               <p class="flex-item-12 text-right pdb-m pdt-m pd-c-l ">
                 <span class="mgr mgl">制单部门：
                   <em class="color-3">{{formData.departmentName || '暂无'}}</em>
                 </span>

                 <span class="mgr mgl">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span>

                 <span class="mgr mgl">制单时间：<em class="color-3">{{formData.createAt || '暂无' | date: 'yyyy-MM-dd HH:mm'}}</em></span>
               </p>
             </div>
           </div>
         </div>
       <!-- 其他信息 -->
       <div class="relative">
        <!-- 付款 -->
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l" >
          <h1 class="text-bold color-3 font-size-14">付款</h1>
          <div class="mgt-l">
            <span class="mgr">付款条件：
              <select class="ipt pr-short-ipt color-3" style="width:90px;"
                      data-placeholder=" "
                      chosen
                      ng-model="formData.paymentType"
                      select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_PaymentType">
              </select>
            </span>
            <span class="mgr">币种：
              <select class="ipt pr-short-ipt color-3" style="width:90px;"
                      data-placeholder=" "
                      chosen
                      ng-model="formData.currencyType"
                      select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_CurrencyType">
              </select>
            </span>
            <span class="mgr">汇率：<em class="color-6">1.00</em>
            </span>
          </div>
        </div>

        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
          <h1 class="text-bold color-3 font-size-14">运输/仓储</h1>
          <div class="mgt-l">
            <span class="mgr">运输方式：
              <select
              ng-if="initFlag" class="select pr-select pr-short-ipt mgr-l"
              ng-model="formData.payAndDelivery.transportType"  chosen
              select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_TransportType">
            </select>
            </span>
            <span class="mgr">承运公司：
              <select
              ng-if="initFlag" class="select pr-select pr-short-ipt mgr-l"
              ng-model="formData.payAndDelivery.kuaidiType"  chosen
              select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_KuaidiType"
              >
            </select>
            </span>
            <!-- <span class="mgr">预入仓库：
              <select class="pr-select select-wd mgr-xl"
               chosen
                ng-model="formData.warehouseCode"
                default-empty="全部"
                select-source="rest/authen/warehouse/queryForSelectOption">
              </select>
            </span> -->
          </div>
        </div>
       <!-- 发货方信息 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
         <header class="text-n color-3 text-bold">发货方信息
           <span class="tools pull-right">
             <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
           </span>
         </header>
         <div class="panel-body" style="display:none;padding:15px 0;">
           <p class="" >
           <em >{{formData.supplier.contact.name}}&nbsp;&nbsp;{{formData.supplier.contact.tel}}&nbsp;&nbsp;{{formData.supplier.contact.prov}}&nbsp;&nbsp;{{formData.supplier.contact.city}}&nbsp;&nbsp;{{formData.supplier.contact.area}}&nbsp;&nbsp;{{formData.supplier.contact.address}}</em>
           </p>
         </div>
       </div>
       <address-manage-component ng-if="formData.orderBusinessType=='直发采购'"
                                 compnent-title="收货方信息"
                                 request-url="rest/authen/customerAddress/get.json"
                                 request-data-id="{{formData.customerId}}"
                                 scope-data-prefix="customer"
                                 form-data="formData"
                                 modify-modal-url="views/customerAddress/contact/edit.html"
                                 modify-modal-title="编辑收货方信息"
                                 create-modal-url="views/customerAddress/contact/edit.html"
                                 create-modal-title="添加收货方信息"
                                 create-address-type="销售"
                                 set-default-address-requesturl="rest/authen/customerAddress/contact/setDefaultContactId"
                                 del-this-address-requesturl="rest/authen/customerAddress/contact/delete">
       </address-manage-component>

        <!-- 收货方信息 -->
        <address-manage-component compnent-title="收货方信息"
                                  ng-if="formData.orderBusinessType!='直发采购'"
                                  request-url="rest/authen/invoicesAddress/get.json"
                                  scope-data-prefix="customer"
                                  form-data="formData"
                                  modify-modal-url="views/invoicesAddress/contact/edit.html"
                                  modify-modal-title="编辑收货方信息"
                                  create-modal-url="views/invoicesAddress/contact/edit.html"
                                  create-modal-title="添加收货方信息"
                                  create-address-type="采购"
                                  logistics-center-id="{{formData.logisticsCenterId}}"
                                  set-default-address-requesturl="rest/authen/invoicesAddress/contact/setDefaultContactId"
                                  del-this-address-requesturl="rest/authen/invoicesAddress/contact/delete">
        </address-manage-component>

         <!-- 备注 -->
         <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
           <h1 class="text-bold color-3 font-size-14">备注</h1>
           <textarea class="pr-textarea mgt"  maxlength="240"   style="height:92px;" placeholder="备注信息" ng-model="formData.note" cols="5" wrap="hard"></textarea>

         </div>



       </div>
     </div>
     <!-- 流程图 -->
     <business-flow-show business-key="{{formData.id}}" business-type="采购单"></business-flow-show>
    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <a
           ng-if="changeFlag"
           class="mgr-l"
           href="javascript:;"
           handle-this-click
           dialog-title="确认返回?"
           dialog-content="有修改数据还未保存，是否保存?"
           dialog-template="pr-dialog-return.html"
           nosave-callback="goTo({tabHref:'#/purchaseOrder/query.html',tabName:'采购单'})"
           save-callback="submitForm('purchaseForm_editForm','exit')">返回采购单列表
        </a>

        <a ng-if="!changeFlag" class="mgr-l" tab-nav tab-name="采购单"  tab-href="#/purchaseOrder/query.html" >返回采购单列表</a>
        <span ng-if="$root.hasAuthor('采购单删除')">
            <a ng-if="formData.orderStatus=='未提交'&&formData.id"
               href="javascript:;"
               handle-this-click
               class="pr-color-red mgr"
               dialog-title="确认删除 ?"
               dialog-content="您确认删除这条采购单吗?"
               dialog-template="pr-dialog-confirm.html"
               request-url="rest/authen/purchaseOrder/delete?id={{formData.id}}"
               callback="goTo({tabHref:'#/purchaseOrder/query.html',tabName:'采购单'})">删除
        </a>
        </span>


        <!--<button ng-if="formData.orderNo"-->
                <!--type="button"-->
                <!--class="pr-btn-save-glodbg mgr"-->
                <!--modal-center="340"-->
                <!--modal-data='{"id":"{{formData.id}}"}'-->
                <!--modal-scope="this"-->
                <!--modal-url="views/purchaseOrder/dialog-export-word.html">导出采购合同-->
        <!--</button>-->

        <button type="button"
                class="pr-btn-save-glodbg mgr"
                ng-click="submitForm('purchaseForm_editForm','print')">打印预览
        </button>

        <button class="pr-btn-save-glodbg mgr-s"
                  type="button"
                  ng-click="submitForm('purchaseForm_editForm','save')"
                  ng-disabled="!changeFlag">保存
        </button>

        <button ng-if="!formData.relId && numberingPolicy!='auto'" class="pr-btn-create-glodbg"
                type="button"
                handle-this-click
                dialog-title="确认提示"
                dialog-content="确认提交?"
                dialog-template="pr-dialog-submit.html"
                callback="submitForm('purchaseForm_editForm','submit')"
                ng-disabled="purchaseForm_editForm.$invalid ||
                             !formData.orderMedicalNos.length ||
                             !formData.expectDate ||
                             !formData.supplier.id ||
                             !formData.orderCode || !canNextStep(formData) || !formData.supplier.contact.id">提交
        </button>

        <button ng-if="!formData.relId && numberingPolicy=='auto'" class="pr-btn-create-glodbg"
                type="button"
                handle-this-click
                dialog-title="确认提示"
                dialog-content="确认提交?"
                dialog-template="pr-dialog-submit.html"
                callback="submitForm('purchaseForm_editForm','submit')"
                ng-disabled="purchaseForm_editForm.$invalid ||
                             !formData.orderMedicalNos.length ||
                             !formData.expectDate ||
                             !formData.supplier.id || !canNextStep(formData)  || !formData.supplier.contact.id">提交
        </button>

        <button ng-if="formData.relId && numberingPolicy!='auto'" class="pr-btn-create-glodbg"
                type="button"
                handle-this-click
                dialog-title="确认提示"
                dialog-content="确认提交?"
                dialog-template="pr-dialog-submit.html"
                callback="submitForm('purchaseForm_editForm','submit')"
                ng-disabled="purchaseForm_editForm.$invalid ||
                             !formData.orderMedicalNos.length ||
                             !formData.expectDate ||
                             !formData.supplier.id ||
                             !formData.orderCode || !canNextStep(formData)  || !formData.supplier.contact.id">提交
        </button>
        <div ng-if="!canNextStep(formData)" class="btn-tips">
          单据存在不符合交易要求的因素，不能提交。
          <div class="triangle-down"></div>
        </div>
        <button ng-if="formData.relId && numberingPolicy=='auto'" class="pr-btn-create-glodbg"
                type="button"
                handle-this-click
                dialog-title="确认提示"
                dialog-content="确认提交?"
                dialog-template="pr-dialog-submit.html"
                callback="submitForm('purchaseForm_editForm','submit')"
                ng-disabled="purchaseForm_editForm.$invalid ||
                             !formData.orderMedicalNos.length ||
                             !formData.expectDate ||
                             !formData.supplier.id || !canNextStep(formData)  || !formData.supplier.contact.id">提交
        </button>
      </div>
      <div class="price-area relative fl-r mgr-l color-light-brown" style="font-size: 18px;">总计：
        <em class="color-white">
          ￥{{purchaseOrderCalculaTotal(formData.orderMedicalNos) || '0.00' | number:2}}
        </em>
      </div>
    </div>
    </div>
</form>
</div>
