.idea
.DS_Store

# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist

# My configurations:
db.ini
deploy_key_rsa

# 忽略组建下载目录，若需要可使用package.json自行npm
src/build
node_modules/
/node_modules
/pgyl-project/node_modules/
/pgyl-project/node_modules
/ui-template/node_modules/
/ui-template/node_modules
/src/build/css/*.css
/src/build/js/*.js
