<div class="loss-over-order"
     ng-controller="lossOverOrderEditCtrl"
     ajax-url="rest/authen/lossOverOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}"
     scope-data="formData"
     callback='initFlag=true;watchFormChange("formData");formData.type="报损";getCodeGenerationStrategy("报损报溢单")'
     alert-error>

  <form id="lossOverOrder_editForm1"
        name="lossOverOrder_editForm1"
        form-validator
        parameter-body
        action="rest/authen/lossOverOrder/save.json"
        alert-error
        alert-ok
        scope-extend="scopeExtend"
        scope-error-msg="errorMsg"
        scope-data="formData"
        onkeydown="if(window.event.keyCode==13) return false;"
        callback='updateStatus={"type":"submit","url":"rest/authen/lossOverOrder/startProcessInstance",
        "param":{"businessKey":formData.id}};
        goToUrlMap={"submit":"#/lossOverOrder/get-reimburse.html?id="+formData.id};
        submitFormAfter1(submitForm_type,goToUrlMap,updateStatus);watchFormChange("formData")'
        novalidate="novalidate"
        ng-init="formData.type='报损'">
        <!-- callback='updateStatus={"type":"submit","url":"rest/authen/lossOverOrder/updateStatus",
        "param":{"id":formData.id,orderStatus:"待审批"}};
        goToUrlMap={"submit":"#/lossOverOrder/get-reimburse.html?id="+formData.id};
        submitFormAfter1(submitForm_type,goToUrlMap,updateStatus);watchFormChange("formData")' -->
        <!-- <div style="padding:25px;width:80%;background-color:#ccc;overflow:scroll;">{{formData}}</div> -->
    <!-- 头部信息 -->

    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs pd-c-xl">库存管理 >
       <a
       tab-nav
       tab-name='报损单'
       tab-href="#/lossOverOrder/query-reimburse.html"><em class="color-custom-orange">报损单</em></a>
       <em>>新建报损申请单</em>
      </p>
      <div class="pd-c-xl pdt-l pdb-l">
       <!-- 标题 -->
       <div class="">
         <h1 class="color-black pr-font-20">报损申请单</h1>
         <div class="mgt-l">
             <select class="pr-select select-wd-new"
              chosen
               ng-model="formData.warehouseCode"
               default-empty="仓库名"
               select-source="rest/authen/warehouse/queryForSelectOption">
             </select>
         </div>
       </div>
     </div>
    </div>
    <!-- 药械列表 -->
    <div class="pd-loss-l">
      <div class="panel pr-panel pd-n pr-fuzzy-boundary pr-panel-height mgb">
        <!-- 信息 -->
        <div class="view-medical pd-c-l pdt-m" flash-add-medical
             ng-model="data1"
             ajax-url="rest/authen/medicalStock/query.json?warehouseStocksCode={{formData.warehouseCode}}"
             add-data-callback-fn="flashAddDataCallbackFn(data1)">
        </div>
        <!-- 列表 -->
        <div>
          <div class="flex-column color-9 pd-c-l pdt-m pdb-m bt-line bb-dashed-line">
            <div class="flex-item-6">
              <span ng-if="numberingPolicy!='auto'" class="mgr">单据编号：
                <input type="text" name="orderNo" class="ipt pr-new-short-ipt text-right" ng-model="formData.orderCode" />
                <em class="color-red" ng-if="!formData.orderCode">（必填）</em>
              </span>
              <span ng-if="numberingPolicy=='auto'" class="mgr">单据编号：<em class="color-3">{{formData.orderCode || '暂无'}}</em></span>
              <span class="inline-block relative">
                <span>单据日期：</span>
                <input ng-if="initFlag" type="text"
                       datepicker
                       class="ipt color-3"
                       style="width:120px;"
                       ng-readonly="true"
                       placeholder=""
                       ng-model="formData.orderDate" />
                      <span class="date-icon"></span>
              </span>
              <span class="mgr">审核人：<em class="color-3">暂无</em></span>
            </div>
            <div class="flex-item-6 text-right">
              <span class="mgr">状态：<em class="color-3">{{formData.orderStatus}}</em></span>
            </div>
          </div>
          <div class="pd-c-l pdt-m pdb-m color-9">
            <span class="mgr">业务部门：
              <select ng-if="initFlag" class="ipt pr-short-ipt color-3"
                      data-placeholder=" "
                      chosen
                      width="150px"
                      ng-model="formData.salesDepartmentId"
                      select-source="rest/authen/department/queryForSelectOption">
              </select>
            </span>
            <span class="mgr">业务人员：
              <select ng-if="initFlag"
                      class="ipt pr-short-ipt color-3" style="width:90px;"
                      data-placeholder=" "
                      chosen
                      ng-model="formData.saleUserId"
                      select-source="rest/authen/organizationAndUser/queryForSelectOption?departmentId={{formData.salesDepartmentId}}&isReturnNullOfNoCondition=true">
              </select>
            </span>
            <span class="mgr">销售类型：
                <select class="ipt pr-short-ipt color-3" style="width:90px;"
                        data-placeholder=" "
                        chosen
                        ng-model="formData.salesType"
                        select-source="rest/baseData/queryForSelectOptionByType?type=销售类型">
                </select>
            </span>
            <span class="mgr">付款条件：
              <select class="ipt pr-short-ipt color-3" style="width:90px;"
                      data-placeholder=" "
                      chosen
                      ng-model="formData.paymentType"
                      select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_PaymentType">
              </select>
            </span>
            <span class="mgr">币种：
              <select class="ipt pr-short-ipt color-3" style="width:90px;"
                      data-placeholder=" "
                      chosen
                      ng-model="formData.currencyType"
                      select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_CurrencyType">
              </select>
            </span>
            <span class="mgr">汇率：<em class="color-6">1.00</em>
            </span>
            <span class="mgr">预发货日期：
              <input type="text"
                     datepicker
                     class="ipt pr-short-ipt color-3"
                     style="width:90px;"
                     placeholder=""
                     ng-readonly="true"
                     ng-model="formData.expectDate" />
            </span>
          </div>
          <div>
            <table class="table pr-table pr-new-table" >
              <thead>
                <tr>
                  <th class="text-center ">商品编号</th>
                  <th class="text-left w-160">商品通用名</th>
                  <th class="text-center">剂型/分类</th>
                  <th class="text-center">规格/型号</th>
                  <th class="text-center">单位</th>
                  <th class="text-center">数量</th>
                  <th class="text-center">批号</th>
                  <th class="text-center">灭菌批号</th>
                  <th class="text-center">失效日期</th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <tr ng-if="formData.orderMedicalNos.length"
                    ng-repeat="tr in formData.orderMedicalNos"
                    salesorder-edit-show-delbtn
                    ng-init="orderMedicalNoIds.push(tr.relId)"
                    ng-controller="SalesOrderDetailsController">
                  <td class="text-center">{{tr.code}}</td><!-- 商品编号 -->
                  <td class="text-left">
                    <span
                         class="color-orange cur-pot lend-order-goods-info"
                         ng-init="showInfoArea=false"
                         ng-mouseenter="showInfoArea=true"
                         ng-mouseleave="showInfoArea=false">{{tr.name}}
                      <show-info-modal ng-show="showInfoArea"
                                       get-data-type="local"
                                       template-url="tpl/showInfoModalLendOrder"
                                       info-object="{{tr}}"
                                       info-title="商品信息">
                      </show-info-modal>
                    </span>
                  </td><!-- 商品通用名 -->
                  <td class="text-center">{{tr.dosageForms}}</td><!-- 剂型/分类 -->
                  <td class="text-center">{{tr.specificationAndModelType}}</td><!-- 规格/型号 -->
                  <td class="text-center">{{tr.unit}}</td><!-- 单位 -->
                  <td class="text-center" style="white-space: nowrap;">
                    <div class="order-goods-num">
                      <button type="button" class="inline-block left" ng-click="tr.quantity=$root.utils.transformToNumber(tr.quantity)-1;confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType)" ng-disabled="item.quantity==1">-</button>
                      <span class="inline-block">
                        <input type="number"
                               name="quantity{{$index}}"
                               class="inline ipt pr-ipt-60 text-center tr-planQuantity"
                               style="width:60px;"
                               ng-model="tr.quantity"
                               ng-class="{'pr-bg-pink': medicalStockMap[tr.relId].quantity<tr.quantity}"
                               ng-pattern="/^\+?[1-9][0-9]{0,5}$/"
                               invalid-popover
                               valid-value="{{!lossOverOrder_editForm1['quantity'+$index].$valid}}"
                               popover-show
                               popover-options='{"content":"数量不正确或数额过大", "placement":"top", "trigger":"manual"}'
                               onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                               ng-change="confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType)">
                      </span>
                      <button type="button" class="inline-block right" ng-click="tr.quantity=$root.utils.transformToNumber(tr.quantity)+1;confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType)">+</button>
                    </div>
                  </td><!-- 数量 -->
                  <td class="text-center relative">
                    <!-- 已选批号列表 -->
                    <div ng-repeat="batch in tr.stockBatchs" ng-init="showDelIcon=false"
                         ng-if="batch.batchNumber!='' || batch.batchNumber!=null"
                         class="ipt-div relative"
                         style="width:180px;margin-top:10px;margin-left:10px;"
                         ng-mouseenter="showDelIcon=true" ng-mouseleave="showDelIcon=false">
                      <div class="inline-block text-ellips-s"
                           style="width:118px;height:100%;"
                           ng-class="{'pr-bg-green2 br-line':(batch.batchNumber)}">{{batch.productionBatch}}
                      </div>
                      <input type="number"
                             class="in_ipt"
                             name="batchNum{{$index}}"
                             ng-model="batch.quantity"
                             onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                             ng-change="confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType)">
                      <input type="hidden" ng-model="batch.id">
                      <span ng-if="showDelIcon" class="circle-s" ng-click="tr.stockBatchs.splice($index,1)"><i class="fa fa-times-circle"></i></span>
                    </div>
                    <!-- 批号选择 -->
                    <div ng-if="getAllBatchTotal(tr.stockBatchs)<tr.quantity" class="ipt-div relative" style="width:180px;margin-top:10px;margin-left:10px;">
                      <i class="addImg"
                         modal-right="50%"
                         modal-scope="this"
                         modal-data='{
                                      "medicalName":"{{tr.name}}",
                                      "id":"{{tr.relId}}",
                                      "logisticsCenterId":"{{formData.logisticsCenterId}}",
                                      "quantity":{{tr.quantity}},
                                      "choisedBatchList":{{tr.stockBatchs}}
                                    }'
                         modal-url="views/versionFlow/choice-stockbatch-dialog.html">
                      </i>
                    </div>
                    <!-- 待选择数 -->
                    <p ng-if="getAllBatchTotal(tr.stockBatchs)<tr.quantity" class="text-right color-red pdr relative">待选择：{{tr.quantity-getAllBatchTotal(tr.stockBatchs)}}</p>
                  </td><!-- 批号 -->
                  <td class="text-center pd-n">
                    <div ng-repeat="ster in tr.stockBatchs" style="margin-top:12px;margin-bottom:12px;">{{tr.sterilizationBatchNumber}}</div>
                  </td><!-- 灭菌批号 -->
                  <td class="text-center pd-n" >
                    <div  ng-repeat="vill in tr.stockBatchs" style="margin-top:12px;margin-bottom:12px;">{{tr.validTill | date : 'yyyy-MM-dd'}}</div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="pr-bg-white" ng-if="!formData.orderMedicalNos.length">
          <div class="empty-table clearfix">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </div>
        </div>
        <div class="bt-line flex-column">
          <p class="flex-item-12 text-right pdb-m pdt-m pd-c-l ">
            <span class="mgr mgl">制单部门：<em class="color-3">{{formData.departmentName || '暂无'}}</em></span>
            <span class="mgr mgl">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span>
            <span class="mgr mgl">制单时间：<em class="color-3">{{formData.createAt || '暂无' | date: 'yyyy-MM-dd HH:mm'}}</em></span>
          </p>
        </div>
    </div>
    <!-- 其他信息 -->
    <div class="relative panel pr-panel pr-fuzzy-boundary pr-panel-height mgb pd-c-l" style="margin-bottom:60px;">
        <div class='mgb'>
          <h1>备注</h1>
          <textarea class="pr-textarea mgb-l mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note"></textarea>
        </div>
    </div>


    <!-- 功能按钮 -->
    <div class="handle-btn-area relative">
      <div class="btn-area">
          <a ng-if="changeFlag" href="javascript:;" class="mgr-l"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="该申请单存在未保存数据，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo({'tabHref':'#/lossOverOrder/query-reimburse.html','tabName':'报损单'})"
             save-callback="submitForm('lossOverOrder_editForm1','exit');
             $root.goTo({'tabHref':'#/lossOverOrder/query-reimburse.html','tabName':'报损单'})"
             >返回报损单列表
          </a>

          <a class="mgr-l" ng-if="!changeFlag"
          tab-nav
          tab-name='报损单'
          tab-href="#/lossOverOrder/query-reimburse.html" >返回报损单列表</a>
        <span ng-if="$root.hasAuthor('报损报溢删除')">
          <a ng-if="formData.orderNo && formData.inputUserId==mainStatus.id"
             href="javascript:;"
             class="pr-color-red mgr-l"
             handle-this-click
             dialog-title="确认删除?"
             dialog-content="您确认删除这条报损单吗?"
             dialog-template="pr-dialog-confirm.html"
             request-url="rest/authen/lossOverOrder/delete?id={{formData.id}}"
             callback="$root.goTo({'tabHref':'#/lossOverOrder/query-reimburse.html','tabName':'报损单'})">删除
          </a>
        </span>
          <button type="submit" class="pr-btn-save-glodbg"
                   ng-click="submitForm_type='save';formData.validFlag=false;submitForm1();">保存
          </button>
          <button ng-disabled="!lossOverOrder_editForm1.quantity.$valid"
                  class=" mgl pr-btn-create-glodbg"
                  type="button"
                  handle-this-click
                  dialog-title="确认通过?"
                  dialog-content="审核后,将提交审批，确认审核?"
                  dialog-template="pr-dialog-submit.html"
                  confirm-btn-txt="通过"
                  callback="submitForm_type='submit';formData.validFlag=true;submitForm1();"
                  ng-disabled="!formData.orderMedicalNos.length">审核
          </button>
      </div>
    </div>
  </form>
</div>
