<div class="pr-page-dialog-wrap">
    <form class="confirmOrder-reject-form"
          ng-init="formData=dialogData.params"
          action="{{dialogData.requestUrl}}"
          callback="$root.utils.goOrRefreshHref(dialogData.callBackUrl)"
          auto-close-dialog
          parameter-body="{{dialogData.requestParam=='JSON'}}"
          alert-error
          alert-ok
          form-validator
        >
  <div class="pr-page-dialog-title bb-line">
  <span class="mgl-l color-black">审核</span>

  </div>
  <div class="pr-page-dialog-content bb-line" ng-init="_checkStatus='通过';formData.conditionType='通过'"
  ajax-url="rest/baseData/queryForSelectOptionByType.json"
  params='{"type":"审核不通过处理方式"}'
  scope-data="selectOptions"
  style="padding-top:0px;"
  >
    <div class="">
      <label class="radio radio-new" >
        <input type="radio" class="default-radio" name="type" value="通过" ng-click="formData.conditionType='通过'" ng-model="_checkStatus"><i style="top:4px;"></i>
        <em class="inline-block color-3" style="margin-left:-5px;">通过</em>
      </label>
      <label  class="radio radio-new" >
        <input type="radio" class="default-radio" name="type" value="不通过" ng-click="formData.conditionType='不通过'" ng-model="_checkStatus"><i  style="top:4px;"></i>
        <em class="inline-block color-3" style="margin-left:-5px;">不通过</em>
      </label>
    </div>

      <div class="content-textaere" >
        <textarea ng-class="{'mgt':(_checkStatus=='驳回')}" limit-word-show maxlength="120" class="pr-textarea"  ng-model="formData.key" placeholder="补充说明"></textarea>
      </div>
  </div>
  <div class="pr-page-dialog-footer text-center mg-m">
    <button type="submit"  class="pr-btn-confirm-glodbg">确定</button>

  </div>
  </form>
</div>
