<div class="header-section" toggle-left-menu>
  <!--通知菜单 start -->
  <div class="menu-right">
    <ul class="notification-menu">
        <li>
          <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
              <i class="header-message"></i>
              <span class="badge">8</span>
          </a>
          <div class="dropdown-menu dropdown-menu-head pull-right">
              <ul class="dropdown-list user-list">
                  <li class="new" style="border-left:none;"><a href="#">你录入的订单已经开始拆分请及时处理</a></li>
                  <li class="new"><a href="#">你录入的订单已经开始拆分请及时处理</a></li>
                  <li><a href="#">你录入的订单已经开始拆分请及时处理</a></li>
                  <li><a href="#">你录入的订单已经开始拆分请及时处理</a></li>
              </ul>
          </div>
        </li>
        <li>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="header-user-face"></span> {{curUser.name}}
          </a>
          <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
            <li style="border-left:none;"><a href="#">客服主管</a></li>
            <li><a href="#">销售主管</a></li>
            <li><a href="#">采购主管</a></li>
            <li><a href="#">验收主管</a></li>
            <li><a href="#">库存主管</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:;" class="btn btn-default dropdown-toggle info-number" ng-click="logout()">退出</a>
        </li>
    </ul>
  </div>
  <p class="fr pd">今天是：{{currentDate}}</p>
  <!--通知菜单 end -->
</div>
