<div class="header-section" toggle-left-menu  ng-controller="noticeCtrl">
  <!--通知菜单 start -->
  <div class="menu-right"
       ajax-url="rest/authen/notice/getUnRead.json?t={{$root.noticeRefreshTime}}"
       noshow-loading="true"
       scope-response="scopeResponse">

    <ul class="notification-menu">
        <li>
          <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
              <i class="header-message mgt-s"></i>
              <span ng-if="scopeResponse.data && scopeResponse.data.length > 0" class="badge">{{scopeResponse.data.length}}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-head pull-right" style="max-height:300px;overflow:auto;right:-19px;">
            <ul class="dropdown-list user-list">
                <li ng-repeat="tr in scopeResponse.data"
                    class="new"
                    style="border-left:none;"
                    ng-if="!tr.readFlag">
                    <a href="javascript:;" class="text-s" ng-click="noticeClick(tr)" style="white-space:inherit;">[{{tr.type}}]{{tr.subject}}({{tr.createAt | date : 'yyyy-MM-dd HH:mm'}})</a>
                </li>
            </ul>
            <div style="border-left:none;">
              <a href="#/notice/query.html" class="pd-v" style="display:block;text-align:center;border:1px solid #e2e2e2;border-top:none;">查看所有消息</a>
            </div>
          <!--
              <ul class="dropdown-list user-list">
                  <li class="new" style="border-left:none;"><a href="#">你录入的订单已经开始拆分请及时处理</a></li>
                  <li class="new"><a href="#">你录入的订单已经开始拆分请及时处理</a></li>
                  <li><a href="#">你录入的订单已经开始拆分请及时处理</a></li>
                  <li><a href="#">你录入的订单已经开始拆分请及时处理</a></li>
              </ul> -->
          </div>
        </li>
        <li>
          <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
              <span class="header-user-face"></span> {{curUser.name}}{{habbit.mainRole?"("+habbit.mainRole+")":""}}
          </a>
          <ul class="dropdown-menu dropdown-menu-usermenu pull-right" style="padding:0;border:1px solid #e2e2e2;min-width:1px;">
            <li ng-if="$root.hasAuthor('订单中心')" style="border-left:none;"><a ng-click="goToMainRole('客服')" href="javascript:;" style="text-indent:0;width:102px;text-align:center;">客服</a></li>
            <li ng-if="$root.hasAuthor('订单中心')" ><a ng-click="goToMainRole('销售')" href="javascript:;" style="text-indent:0;width:102px;text-align:center;">销售</a></li>
            <li ng-if="$root.hasAuthor('采购中心')"><a ng-click="goToMainRole('采购')" href="javascript:;" style="text-indent:0;width:102px;text-align:center;">采购</a></li>
            <li ng-if="$root.hasAuthor('出入库单中心')"><a ng-click="goToMainRole('库管')" href="javascript:;" style="text-indent:0;width:102px;text-align:center;">库管</a></li>
            <li ng-if="$root.hasAuthor('验单中心')"><a ng-click="goToMainRole('验收')" href="javascript:;" style="text-indent:0;width:102px;text-align:center;">验收</a></li>
            <li ng-if="$root.hasAuthor('总经理')"><a ng-click="goToMainRole('总经理')" href="javascript:;" style="text-indent:0;width:102px;text-align:center;">总经理</a></li>
          </ul>
        </li>
        <li>
          <a href="javascript:;" class="btn btn-default dropdown-toggle info-number color-orange" ng-click="logout()">退出</a>
        </li>
    </ul>
  </div>
  <p class="fr color-light-brown pdr-m pr-date">今天是：{{currentDate}}</p>
  <!--通知菜单 end -->
</div>
