
        <div class="modal-content" ng-controller="editWorkFlowProcessCtrl" ng-init="scopeExtend={}"
        ajax-url="rest/authen/workflowProcess/getOfEdit.json?id={{mainStatus.pageParams.id}}"
         scope-data="formData" alert-error callback="initFlag=true;"
         >

          <form class="add-medical-form form-horizontal"
                action="rest/authen/workflowProcess/save"
                 scope-data="formData" alert-error
                 callback="canvasWorkflow.reload(formData)"
                  parameter-body
                form-validator>
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 class="modal-title">{{formData.id?"编辑":"添加"}}工作流
                </h4>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">所属机构</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlag"  class="ipt pr-short-ipt" data-placeholder="选择机构" chosen default-empty="无" ng-model="formData.organizationId" select-source="rest/index/distributor/queryForSelectOption">
                  </select>
                </div>
              </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">名称</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.name" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">类型</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlag"  class="select pr-select" ng-model="formData.businessType"  chosen
                     select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Workflow_BusinessType">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <button  type="button" class="btn btn-default" modal-right="400"
                    modal-scope="this"
                   modal-url="views/workflowProcess/editEvent.html">
                      添加节点
                  </button>
                </div>

                <canvas  ng-if="initFlag"  id="canvas" canvas-workflow update-workflow-flag="updateWorkflowFlag" scope-extend="scopeExtend" scope-extend-attr="workflow"  ng-model="formData" height="300px"
                modal-url="views/workflowProcess/editEvent.html" width="1200px"

                style="background:gray"></canvas>

                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label"></label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="submit" class="btn btn-success" value="提交">
                  </div>
                </div>

            </div>

            </form>
        </div>
