<div class="inoutstockDetail clearfix del-bgc" ng-controller="inoutstockDetailQueryCtrl">
  <!-- 主内容头部 -->
  <div class="content-wrapper-heading pdb-xxl mgb-l relative clearfix head-style">
    <p class="pdb-s pdt-s mgb-l crumbs crumbs- pd-c-xxxl">库存报表 > <em class="">出入库明细</em></p>
    <div class="pd-c-xxxl mgt-xxxl ">
      <div class="pos-rel-tl inline-block fl-l">
        <h1 class="pr-font-20 color-black">出入库明细</h1>
      </div>
    </div>
  </div>

  <table-list list-data="rest/authen/inoutstockDetail/query.json"
      class="table pr-table pr-new-table"
      list-params="listParams"
      list-object="listObject2"
      >
      <div class="pd-c-xxxl mgb-l">
          <select class="pr-select select-wd"
            chosen
             ng-model="listParams.warehouseId"
             default-empty="选择仓库"
             select-source="rest/authen/warehouse/queryForSelectOption">
           </select>
      </div>

      <div class="panel pr-fuzzy-boundary clearfix">

        <div class="text-left relative order-list-i pdt-m pdb-m pd-c-xxxl" ng-init="queryDatePeriod='最近7天'">
          <select class="pr-select select-wd mgr-l" ng-model="queryDatePeriod"
           date-period-select start-time="listParams.createAtBeg" end-time="listParams.createAtEnd">
            <option value="最近7天" >最近7天</option>
            <option  value="最近10天">最近10天</option>
            <option  value="最近一个月">最近一个月</option>
          </select>

          <div class="date-icon-outside" ng-if="!listParams.createAtBeg">
              <input type="text"
                     datepicker
                     class="ipt-date  color-6 mgr pr-indent-10"
                     width="120px"
                     ng-readonly="true"
                     ng-model="listParams.createAtBeg">
              <span class="date-icon"></span>
          </div>
          <div class="date-icon-outside" ng-if="listParams.createAtBeg">
              <input type="text"
                     datepicker
                     class="ipt-date color-6 mgr pr-indent-10"
                      width="120px"
                     ng-readonly="true"
                     ng-model="listParams.createAtBeg">
              <span class="delete-date-icon" style="z-index:10;" ng-click="listParams.createAtBeg='';"></span>
          </div>
          <span class="mgl mgr">至</span>
          <div class="date-icon-outside" ng-if="!listParams.createAtEnd">
              <input type="text"
                     datepicker
                     class="ipt-date  color-6 mgr pr-indent-10"
                     ng-readonly="true"
                     width="120px"
                     ng-model="listParams.createAtEnd"
                     invalid-popover
                     popover-show="listParams.createAtEnd<listParams.createAtBeg"
                     popover-options='{"content":"结束日期不应小于开始日期", "placement":"top", "trigger":"manual"}' />
              <span class="date-icon"></span>
          </div>
          <div class="date-icon-outside" ng-if="listParams.createAtEnd">
              <input type="text"
                     datepicker
                     class="ipt-date  color-6 mgr pr-indent-10"
                     ng-readonly="true"
                     width="120px"
                     ng-model="listParams.createAtEnd"/>
              <span class="delete-date-icon" style="z-index:10;" ng-click="listParams.createAtEnd='';"></span>
          </div>

          <div class="inline-block mgl-xl">
            <select class="pr-select select-wd mgr-l"
                    chosen
                    default-empty="所有单据"
                    ng-model="listParams.type"
                    select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_InoutstockDetailType">
            </select>
          </div>

          <div class="order-list-search text-left  pos-rel-tr inline-block pdl-l" style="margin-top: -3px;">
            <input type="text" class="ipt pdr-xxl" placeholder="商品名称/单据编号" ng-model="listParams.q">
            <i class=""></i>
          </div>
          <!-- {{listParams}} -->
        </div>

      <div>
          <div class="loader" ng-if="status.isLoading">
              <div class="loader-inner pacman">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
          </div>
           <!-- ng-controller="inoutstockDetailQueryCtrl" -->
          <div ng-if="!status.isLoading">
            <div custom-table="com.pangu.mss.domain.mongo.warehouse.InoutstockDetail"
                 custom-key="warehouse-InoutstockDetail"
                 custom-table-url="rest/authen/inoutstockDetail/query.json"
                 custom-list-params={{listParams}}
                 custom-tr-menus="1"
                 style="width:100%;">
            </div>
          </div>
      </div>
  </table-list>
</div>
