<table-list list-data="rest/authen/customerAddress/query.json"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">
      <div class="first-medical-application"
          ng-controller="customerAddressCtrl">
        <div class="header-info relative mgb-l">
          <p class="pdb-s pdt-s crumbs pd-c-xxl">客户中心 >
            <a href="#/customerAddress/query.html">
               <em class="color-custom-orange">批发/零售商管理</em>
            </a>
           <em>>批发/零售商管理-详情</em>
          </p>
          <div class="pd-c-xxl pdt-l pdb-l">
            <!-- 标题 -->
            <div class="mgb-l">
              <h1 class="color-black pr-font-20">批发/零售商管理-详情</h1>
            </div>
          </div>
        </div>
        <!-- 主体内容 -->
        <div class="content-wrapper "
        ajax-url="rest/authen/customerAddress/get.json?id={{mainStatus.pageParams.id}}"
        scope-data="showData"
        callback="initFlag=true;bottomButtonList= $root.bottomButtonList.get_medicalStock(showData);"
        >
          <div class="content-wrapper-main mgt">
            <!-- 状态 -->
            <div class="pr-panel pr-panel-height mgb"
            ng-if="showData.operationFlowSet.message"
            ng-class="{'pr-bg-freeze color-freeze':showData.businessApplication.businessStatus =='已冻结',
            'pr-bg-pass color-pass':showData.businessApplication.businessStatus =='已通过'}">
            <em>原因:</em>
             <p class="inline-block">
            <em ng-model="showData.operationFlowSet.key">{{showData.operationFlowSet.key}}</em>
             <em ng-model="showData.operationFlowSet.message">{{showData.operationFlowSet.message}}</em>
             </p>
            </div>
            <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
              <span class="text-left flex-item-2">
                单据编号：<em class="color-black">{{showData.orderNo || '暂无'}}</em>
              </span>
              <span class="text-right flex-item-10">
                申请日期：<em class="color-black mgr-s">{{showData.createAt | date : 'yyyy-MM-dd'}}</em>
                状态：
                <em ng-class="{'color-blue-freeze':showData.businessApplication.businessStatus =='已冻结', 'color-black':showData.businessApplication.businessStatus=='已通过',
                'color-red':showData.businessApplication.businessStatus =='已终止'}">
                <em ng-if="showData.businessApplication.businessStatus!='已通过'">{{showData.businessApplication.businessStatus ||'暂无'}}</em>
                <em ng-if="showData.businessApplication.businessStatus =='已通过'">正常</em>
              </em>
              </span>
            </div>
              <!-- 基本信息 -->
              <div class="panel pr-panel pr-panel-height mgb">
                <h1 class="mgb-m mgt color-black text-bold text-n">基本信息</h1>
                  <div class="">
                    <div class="bb-dashed-line">
                      <div class="flex-column mgb">
                        <label class="radio-inline radio radio-new">
                          <input type="radio" class="default-radio" name="type" value="批发商" ng-model="showData.object.type" ng-disabled="showData.object.type"> <i style="top:5px;"></i>
                          <em class="inline-block" style="margin-left:-5px; color:#666;">批发商</em>
                        </label>
                        <label class="radio-inline radio radio-new" style="top:10px;">
                          <input type="radio" class="default-radio" name="type" value="零售商" ng-model="showData.object.type" ng-disabled="showData.object.type"> <i style="top:5px;"></i>
                           <em class="inline-block" style="margin-left:-5px; color:#666;">零售商</em>
                        </label>
                      </div>
                    </div>

                    <div class="bb-dashed-line pd-v-m">
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">客户全称：</span>
                        <span class="flex-item-10 text-left">{{showData.object.fullName}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">企业地址：</span>
                        <span class="flex-item-10 text-left">{{showData.object.address}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">企业简称：</span>
                        <span class="flex-item-10 text-left">{{showData.object.shortName}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">法人代表/身份证号：</span>
                        <span class="flex-item-10 text-left">{{showData.object.legalRepresentative}}&nbsp;&nbsp;{{showData.object.legalRepresentativeIdentityNo}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">GMP/GSP证书号：</span>
                        <span class="flex-item-10 text-left">{{showData.object.gspCertificateNo}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">经营许可证号：</span>
                        <span class="flex-item-10 text-left">{{showData.object.productionLicenseNo}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">注册资金：</span>
                        <span class="flex-item-10 text-left">{{showData.object.registeredCapital}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">税号：</span>
                        <span class="flex-item-10 text-left">{{showData.object.taxNo}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">营业执照号：</span>
                        <span class="flex-item-10 text-left">{{showData.object.businessLicenseNo}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">营业期限：</span>
                        <span class="flex-item-10 text-left">{{showData.object.busnissAllotedTime | date : 'yyyy-MM-dd'}}</span>
                      </div>
                    </div>
                    <div class="bb-dashed-line pd-v-m">
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">开户银行：</span>
                        <span class="flex-item-10 text-left">{{showData.object.accountBank}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">开户账号：</span>
                        <span class="flex-item-10 text-left">{{showData.object.accountNumber}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">开户名称：</span>
                        <span class="flex-item-10 text-left">{{showData.object.accountName}}</span>
                      </div>
                      <div class="flex-column mgt">
                        <span class="flex-item-2 text-right">付款方式：</span>
                        <span class="flex-item-10 text-left">{{showData.object.payType}}</span>
                      </div>
                    </div>
                  <div class="bb-dashed-line pd-v-m">
                    <div class="flex-column mgt">
                      <span class="flex-item-2 text-right">收货员/身份证号：</span>
                      <span class="flex-item-10 text-left">{{showData.object.consignee}}&nbsp;&nbsp;{{showData.object.consigneeIdentityNo}}</span>
                    </div>
                    <div class="flex-column mgt">
                      <span class="flex-item-2 text-right">联系电话：</span>
                      <span class="flex-item-10 text-left">{{showData.object.consigneePhone}}</span>
                    </div>
                    <div class="flex-column mgt">
                      <span class="flex-item-2 text-right">Email：</span>
                      <span class="flex-item-10 text-left">{{showData.object.consigneeEmail}}</span>
                    </div>
                  </div>
                  <div class=" pd-v-m">
                    <div class="flex-column mgt">
                      <span class="flex-item-2 text-right">采购员/身份证号：</span>
                      <span class="flex-item-10 text-left">{{showData.object.purchaser}}&nbsp;&nbsp;{{showData.object.purchaserIdentityNo}}</span>
                    </div>
                    <div class="flex-column mgt">
                      <span class="flex-item-2 text-right">联系电话：</span>
                      <span class="flex-item-10 text-left">{{showData.object.purchaserPhone}}</span>
                    </div>
                    <div class="flex-column mgt">
                      <span class="flex-item-2 text-right">Email：</span>
                      <span class="flex-item-10 text-left">{{showData.object.purchaserEmail}}</span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="panel pr-panel pr-panel-height mgb">
              <h1 class="pr-font-18 mgb">申请原因</h1>
              <span>{{showData.applyReason}}</span>
            </div>
           <div ng-init='attachmentsExtend={"title":"资质文件"}'  attachments-show ng-model="showData.attachments" attachments-extend="attachmentsExtend" ></div>
        </div>
        <div class="handle-btn-area">
          <div class="btn-area" >
            <div ng-if="(!showData.didateFilter.buttons.length>0)&&showData.businessApplication.businessStatus" class="inline-block">
                    <span class="mgl">
                      <a ng-if="changeFlag"  href="javascript:;"
                         handle-this-click
                         dialog-title="确认返回?"
                         dialog-content="该申请单存在未保存数据，是否保存?"
                         dialog-template="pr-dialog-return.html"
                         nosave-callback="goTo('#/otherCustomerManagement/query.html')"
                         save-callback="submitForm('editForm','exit');
                         $root.goTo('#/otherCustomerManagement/query.html')">返回申请单列表</a>
                      <a ng-if="!changeFlag" href="#/otherCustomerManagement/query.html">返回申请单列表</a>
                    </span>
                    <span bottom-button-list="bottomButtonList">  </span>
                    <span class="mgl">
                      <a ng-if="showData.id"
                         href="javascript:;"
                         class="color-red mgt"
                         handle-this-click
                         dialog-title="确认删除?"
                         dialog-content="删除后将无法恢复,确认删除?"
                         dialog-template="pr-dialog-submit.html"
                         callback="$root.goTo('#/otherCustomerManagement/query.html')"
                         params='{"id":showData.id}'
                         request-url="rest/authen/customerAddress/delete">删除</a>
                    </span>
                    <span>
                      <span ng-if="showData.businessApplication.businessStatus!='已冻结'&&showData.businessApplication.businessStatus!='已终止'">
                        <button class="btn-freeze mgl-l pr-bg-orange"
                                type="button"
                                modal-center="340"
                                modal-scope="this"
                                modal-data='{"title":"确认",
                                             "content":"冻结后，将无法对该客户销售。确认冻结？",
                                             "btnConfirm":"确定",
                                             "btnCancel":"取消",
                                             "url":"rest/authen/customerAddress/updateStatus",
                                             "goUrl":"",
                                             "id":"{{showData.id}}",
                                             "status":"已冻结"
                                            }'
                                modal-url="angular/tpl/pr-dialog-submit-message.html">冻结
                        </button>
                      </span>
                      <span ng-if="showData.businessApplication.businessStatus=='已冻结'">
                        <button class="btn btn-primary pr-btn-bg-gold pr-btn-save-glodbg mgl-l"
                                type="button"
                                modal-center="340"
                                modal-scope="this"
                                modal-data='{"title":"确认解冻?",
                                             "content":"解冻后，该信息将恢复，确认解冻?",
                                             "btnConfirm":"确定",
                                             "btnCancel":"取消",
                                             "url":"rest/authen/customerAddress/updateStatus",
                                             "goUrl":"",
                                             "id":"{{showData.id}}",
                                             "status":"已通过"
                                            }'
                                modal-url="angular/tpl/pr-dialog-submit-message.html">解冻
                        </button>
                      </span>
                      <span class="line-hei-36" ng-if="showData.businessApplication.businessStatus!='已终止'">
                        <button class="btn-reject mgl mgt color-white text-center"
                                type="button"
                                handle-this-click
                                dialog-title="确认终止?"
                                dialog-content="终止后，该品种信息将被取消，确定终止?"
                                dialog-template="pr-dialog-submit.html"
                                request-url="rest/authen/customerAddress/updateStatus"
                                params='{"id":showData.id,"status":"已终止"}'
                                alert-error
                                callback="$root.utils.refreshHref()"
                                >终止
                        </button>
                      </span>
                </span>
            </div>
            <a ng-if="!showData.businessApplication.businessStatus" href="#/otherCustomerManagement/query.html">返回申请单列表</a>
            <span>
              <button type="button" name="button"  class="pr-btn-save-glodbg mgl">
                <a class="color-white" href="#/otherCustomerManagement/edit.html?id={{showData.id}}">编辑</a>
              </button>
            </span>
          </div>
        </div>
        </div>

      </div>
</table-list>
