<div class="panel pr-panel mgr">
  <div class="pd-l text-n pr-panel-title-color bb-line flex-column">
    <h4 class="flex-item-6">订单预测</h4>
    <span class="flex-item-6 text-right"><a href="#" class="text-s">更多预测结果...</a></span>
  </div>
  <div class="pd-c-l">
    <table class="table tabel-layout-fixed index-table-th text-s">
      <thead>
        <th class="pr-panel-title-color color-6 pr-label pr-percent-w-45">客户名</th>
        <th class="pr-panel-title-color color-6 pr-label">上次采购时间</th>
        <th class="pr-panel-title-color color-6 pr-label">采购周期</th>
        <th class="pr-panel-title-color color-6 pr-label">采购可能性</th>
      </thead>
      <tbody>
        <tr>
          <td class="color-custom-orange overhide w-space-nowrap">四川省人民医院高新区第二人民医院住院部</td>
          <td>2016-07-31</td>
          <td>2个月</td>
          <td>
            <div class="progress pr-progress">
              <div class="progress-bar pr-progress-bar" role="progressbar"
                   aria-valuenow="90" aria-valuemin="0"
                   aria-valuemax="100" style="width: 90%;">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="color-custom-orange overhide w-space-nowrap">四川大学华西医院</td>
          <td>2016-07-31</td>
          <td>2个月</td>
          <td>
            <div class="progress pr-progress">
              <div class="progress-bar pr-progress-bar" role="progressbar"
                   aria-valuenow="81" aria-valuemin="0"
                   aria-valuemax="100" style="width: 81%;">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="color-custom-orange overhide w-space-nowrap">四川大学华西医院</td>
          <td>2016-07-31</td>
          <td>2个月</td>
          <td>
            <div class="progress pr-progress">
              <div class="progress-bar pr-progress-bar" role="progressbar"
                   aria-valuenow="49" aria-valuemin="0"
                   aria-valuemax="100" style="width: 49%;">
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="color-custom-orange overhide w-space-nowrap">四川大学华西医院</td>
          <td>2016-07-31</td>
          <td>2个月</td>
          <td>
            <div class="progress pr-progress">
              <div class="progress-bar pr-progress-bar" role="progressbar"
                   aria-valuenow="13" aria-valuemin="0"
                   aria-valuemax="100" style="width: 13%;">
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
