<div ng-if="leftSideisShow" id="page-side" class="left-side sticky-left-side" nice-scroll >
  <!--logo start-->
  <div class="logo">
    <div>
      <a href="index.html"><i></i></a>
    </div>
  </div>
  <!--logo end-->
  <div ng-if="$root.curUser.name"  class="left-side-inner">
    <ul class="nav nav-pills nav-stacked custom-nav" >
      <li class="menu-list">
        <a left-menu-toggle href="#/main.html" class="nav-home"><span class="nav-ico nav-home"></span><span> 首页</span></a>
      </li>
      <li class="menu-list"   ng-if="$root.hasAuthor('代理管理经销商')">
        <a left-menu-toggle href="" class="nav-order menu-ellips-s"><span class="nav-ico nav-order" ></span><span>经销商代理管理员</span><span class="pr-arrow-down"></span></a>
        <ul class="sub-menu-list">


           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/distributor/query.html" title="经销商管理（代理管理员）" >经销商管理（代理管理员）</a>  </li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/supplyDemand/query.html" title="供求关系管理（代理管理员）" >供求关系管理（代理管理员）</a>  </li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/manageDepartment/query.html" title="部门管理（代理管理员）"  >部门管理（代理管理员）</a>  </li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/manageUser/query.html" title="用户管理（代理管理员">用户管理（代理管理员） </a>  </li>
           <li><a class="menu-ellips-s" left-menu-second-toggle  href="#/manageRole/query.html" title="角色管理（代理管理员）" > 角色管理（代理管理员）</a>  </li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/manageWorkflowProcess/query.html" title="工作流管理（代理管理员）" > 工作流管理（代理管理员）</a>  </li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/systemSetting/query.html" title="系统策略（代理管理员）">系统策略（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/uiCustomTable/query.html" title="列定义（代理管理员）">列定义（代理管理员）</a></li>
          <li><a class="menu-ellips-s" left-menu-second-toggle href="#/uICustomMenu/query.html" title= "菜单定义（代理管理员）">菜单定义（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/ower/query.html" title="仓库货主管理（代理管理员）">仓库货主管理（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/uiCustomHtml/query.html" title="html模版管理（代理管理员）">html模版管理（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/infrastructure/query.html" title="Wms实例管理（代理管理员）">Wms实例管理（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/manageLogisticsCenter/query.html" title="物流中心管理（代理管理员）">物流中心管理（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/manageWarehouseGroup/query.html" title="仓库分组管理（代理管理员）">仓库分组管理（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/manageWarehouse/query.html" title="仓库管理（代理管理员）">仓库管理（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/medicalAttribute/query.html" title="仓库管理（代理管理员）">品种属性管理（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/medicalStock/query.html" title="药械管理（代理管理员）">药械管理（代理管理员）</a></li>
           <li><a class="menu-ellips-s" left-menu-second-toggle href="#/manageExcelImport/query.html" title="导入EXCEL基础数据管理（代理管理员）">导入EXCEL基础数据管理（代理管理员）</a></li>

           <li ><a class="menu-ellips-s" left-menu-second-toggle href="#/scheduleTask/query.html" title="定时任务管理">定时任务管理</a></li>
           <li ><a class="menu-ellips-s" left-menu-second-toggle href="#/messageTask/query.html" title="消息任务管理">消息任务管理</a></li>
           <li ><a class="menu-ellips-s" left-menu-second-toggle href="#/baseData/query.html" title="基础数据管理">基础数据管理</a></li>
           <li ><a class="menu-ellips-s" left-menu-second-toggle href="#/logInterceptorRecord/query.html" title="日志操作拦截记录">日志操作拦截记录</a></li>

        </ul>
      </li>

      <li class="menu-list" >
        <a left-menu-toggle href="" class="nav-home nav-manage-center"><span class="nav-ico nav-manage-center"></span><span> 管理中心</span><span class="pr-arrow-down"></span></a>
        <ul class="sub-menu-list">
          <li><a left-menu-second-toggle href="#/role/query.html">角色管理</a></li>
            <li><a left-menu-second-toggle href="#/department/query.html">部门管理</a></li>
          <!-- <li><a left-menu-second-toggle href="#/department/query.html">部门管理</a></li>
          <li><a left-menu-second-toggle href="#/supplier/query.html">供货商管理</a></li>
          <li><a left-menu-second-toggle href="#/purchaserAddress/query.html">采购方管理</a></li>
          <li><a left-menu-second-toggle href="#/customerAddress/query.html">客户管理</a></li>
          <li><a left-menu-second-toggle href="#/medicalStock/query.html">药械管理</a></li> -->
          <li><a left-menu-second-toggle href="#/user/query.html">员工管理</a></li>
          <li><a left-menu-second-toggle href="#/distributor/queryUserApplyOrganization.html">账号审核</a></li>
          <!-- <li><a left-menu-second-toggle href="#/systemSetting/query.html">系统策略</a></li> -->


        </ul>
      </li>


      <li class="menu-list"  ng-if="$root.hasAuthor('APP发布管理')">
        <a left-menu-toggle href="" class="nav-home nav-manage-center"><span class="nav-ico nav-manage-center"></span><span> 发布中心</span><span class="pr-arrow-down"></span></a>
        <ul class="sub-menu-list">
          <li><a left-menu-second-toggle href="#/appVersion/query.html">移动下载包管理</a></li>
        </ul>
      </li>
      <li class="menu-list"  ng-if="$root.hasAuthor('考勤管理')">
        <a left-menu-toggle href="" class="nav-home nav-manage-center"><span class="nav-ico nav-manage-center"></span><span> 考勤中心</span><span class="pr-arrow-down"></span></a>
        <ul class="sub-menu-list">
    <li><a left-menu-second-toggle href="#/attendanceTimeSet/edit.html">考勤设置</a></li>
            <li><a left-menu-second-toggle href="#/attendanceRecord/query.html">考勤明细</a></li>
          <li><a left-menu-second-toggle href="#/attendanceStaffDay/queryStaticByMonth.html">月考勤</a></li>
        </ul>
      </li>
    </ul>

  </div>
</div>
