<div id="page-side" class="left-side sticky-left-side" nice-scroll >
    <!--logo start-->
    <div class="logo">
      <div>
        <a href="index.html"><i></i></a>
      </div>
    </div>
    <!--logo end-->
    <div class="left-side-inner">
        <ul class="nav nav-pills nav-stacked custom-nav">
          <li>
            <a href="#/main.html" class="text-center" left-menu-change>首页</a>
          </li>
          <li >
            <a href="#/distributor/query.html" class="text-center" left-menu-change>经销商管理</a>
          </li>
          <li>
            <a href="#/medical/query.html" class="text-center pr-bg-side">
              药械基本数据
            </a>
          </li>
          <li>
            <a href="#/department/query.html" class="text-center pr-bg-side">
              部门管理
            </a>
          </li>
          <li>
            <a href="#/manageDepartment/query.html" class="text-center pr-bg-side">
              部门管理（代理管理员）
            </a>
          </li>
          <li>
            <a href="#/user/query.html" class="text-center pr-bg-side">
            用户管理
            </a>
          </li>
          <li>
            <a href="#/manageUser/query.html" class="text-center pr-bg-side">
            用户管理（代理管理员）
            </a>
          </li>
          <li>
            <a href="#/role/query.html" class="text-center pr-bg-side">
            角色管理
            </a>
          </li>
          <li>
            <a href="#/manageRole/query.html" class="text-center pr-bg-side">
            角色管理（代理管理员）
            </a>
          </li>
          <li>
            <a href="#/baseData/query.html" class="text-center pr-bg-side">
            基础数据管理
            </a>
          </li>
          <li>
            <a href="#/workflowProcess/query.html" class="text-center pr-bg-side">
              工作流管理
            </a>
          </li>
          <li >
            <a href="#/distributor/queryUserApplyOrganization.html" class="text-center" left-menu-change>管理平台帐号审核</a>
          </li>
        </ul>
        <!--侧边栏导航 end-->
    </div>
</div>
