<div class="allocate-order salesOrder-edit confirm-edit"
     ng-controller="inventoryTaskOrderEditCtrl"
     ajax-url="rest/authen/inventoryOrder/get?id={{mainStatus.pageParams.id}}"
     scope-data="formData"
     callback="initFlag=true;"
     alert-error>
  <form id="editForm"
        name="editForm"
        form-validator
        parameter-body
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter();$root.watchFormChange('formData',this)"
        novalidate="true">
    <!-- 头部信息 -->
    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs pd-c-xxl">库房工作 >
        <a href="#/inventoryOrder/query.html"><em class="color-custom-orange">盘点任务</em></a>
        <em> > 新建盘点任务</em>
      </p>
      <div class="pd-c-xxl pdt-l pdb-l">
        <!-- 标题 -->
        <div class="mgb">
          <h1 class="pr-font-20 color-black">新建盘点任务</h1>
        </div>
      </div>
    </div>
    <!-- 主内容区域 -->
    <div class="content-wrapper">

      <!-- <div ng-if="formData.operationFlowSet.key||formData.operationFlowSet.message" class="pr-panel pr-panel-height mgb pr-bg-pink1">
        <em class="color-red">原因:</em>
        <p class="inline-block color-red">
          <em ng-model="formData.operationFlowSet.key">{{formData.operationFlowSet.key}}</em>
          <em ng-model="formData.operationFlowSet.message">{{formData.operationFlowSet.message}}</em>
        </p>
      </div> -->
      <div ng-if="formData.operationFlowSet.key||formData.operationFlowSet.message"  class="pr-panel pr-panel-height mgb pr-bg-pass color-pass"
        ng-class="{'pr-bg-pink1':(formData.orderStatus=='未通过'||formData.orderStatus=='已作废'),'pr-bg-pass':(formData.orderStatus=='已完成')}">
        <em ng-class="{'color-red':(formData.orderStatus=='未通过'||formData.orderStatus=='已作废'),'color-pass':(formData.orderStatus=='已完成')}">原因:</em>
        <p class="inline-block " ng-class="{'color-red':(formData.orderStatus=='未通过'||formData.orderStatus=='已作废'),'color-pass':(formData.orderStatus=='已完成')}">
        <em>{{formData.operationFlowSet.key}}</em>
        <em>{{formData.operationFlowSet.message}}</em>
       </p>
     </div>
      <!-- 药械列表 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n">
        <!-- 列表 -->
        <div class="">
          <div class="flex-column color-9 pd-c-l pdt-m pdb-m bt-line bb-dashed-line">
            <div class="flex-item-6">
              <span class="mgr">单据编号：
                <!-- ng-disabled="formData.id" -->
                <span class="mgl color-black">{{formData.orderCode}}</span>
                <span class="mgl">审核人：<em class="color-3">{{formData.approver.approverUser.n||'暂无'}}</em></span>
                <span class="mgl">审核日期：<em class="color-3">{{formData.approver.approverDate ||'暂无'| date:'yyyy-MM-dd'}}</em></span>
              </span>
            </div>
            <div class="flex-item-6 text-right">
              <span class="mgr">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span>
              <span class="mgr">制单日期：<em class="color-3">{{formData.createAt | date:'yyyy-MM-dd'}}</em></span>
              <span class="mgr">状态：<em class="color-3">{{formData.orderStatus}}</em></span>
            </div>
          </div>
          <!-- 系统生成的 -->
          <div class="outside-table-d">
          <table-list list-data="rest/authen/inventoryMedicalNo/query.json?inventoryOrderId={{mainStatus.pageParams.id}}&businessKey={{mainStatus.pageParams.businessKey}}"
                      list-params="listParams"
                      list-object="listObject"
                      search-mode="noCaseSensitive"
                      search-param="q">

            <table class="table pr-table pr-new-table mgb-n">
              <thead>
                <tr>
                  <th class="text-center">盈亏</th>
                  <th class="text-center">序号</th>
                  <th class="text-center">区域名称</th>
                  <th class="text-center">货位名城</th>
                  <th class="text-center">商品编号</th>
                  <th class="text-left">商品名称</th>
                  <th class="text-center">规格型号</th>
                  <th class="text-center">批号</th>
                  <th class="text-center">基本单位</th>
                  <th class="text-center">账面数量</th>
                  <th class="text-center">实盘数量</th>
                  <th class="text-center">盘点说明</th>
                  <th class="text-center">盈亏数量</th>
                  <th class="text-center">盘点人</th>
                  <th class="text-center">盘点时间</th>
                </tr>
              </thead>
              <tbody class="relative">
                <tr ng-repeat="item in tbodyList">
                  <td class="text-center">
                    <span class="circle-status relative"
                          ng-class="{'bg-pass-green':tr.distributorMedicalCode,
                                     'bg-end-red':!tr.distributorMedicalCode}">

                      <span class="purchase-content-status-show" style="right:-18px;top:-25px;width:50px;">
                        <i class="block pd-c-s text-normal" style="line-height:1.8">
                          <em class="inline-block">{{item.gainLossStatus}}</em>
                        </i>
                      </span>
                    </span>
                  </td><!-- 商品编号 -->

                  <td class="text-center">
                    {{(status.currentPage-1)*status.pageSize+($index+1)}}
                  </td>
                  <!-- 序号 -->
                  <td class="text-left">{{item.regionName}}</td><!-- 区域名称 -->
                  <td class="text-left">{{item.goodsLocationName}}</td><!-- 货位名称-->
                  <td class="text-left">{{item.code}}</td><!-- 商品编码-->
                  <td class="text-left"><div style="width:120px;" class="autocut" title="{{item.name}}">{{item.name}}</div></td><!-- 商品全名 -->
                  <td class="text-center">{{item.specificationAndModelType}}</td><!-- 规格/型号 -->
                  <td class="text-center">{{item.productionBatch}}</td><!-- 批号 -->
                  <td class="text-center">{{item.packingAttribute.name}}</td><!-- 单位 -->
                  <td  class="text-right">{{item.systemQuantity}}</td><!--  账面数量 -->
                  <td  class="text-right">{{item.actualQuantity}}</td><!--  实盘数量 -->
                  <td  class="text-right">{{item.note}}</td><!--  盘点说明 -->
                  <td  class="text-right">{{item.gainLossQuantity}}</td><!--  盈亏数量 -->
                  <td  class="text-right">{{item.inventoryer.n}}</td><!--  盘点人 -->
                  <td  class="text-right">{{item.inventoryDate | date : 'yyyy-MM-dd'}}</td><!--  盘点时间 -->
                </tr>
              </tbody>
            </table>
            <div class="pr-bg-white" ng-if="!tbodyList.length">
              <div class="empty-table clearfix">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
              </div>
            </div>
            <div class="clearfix" ng-if="tbodyList.length">
              <div class="fr">
                 <pagination status="status"></pagination>
              </div>
            </div>
          </table-list >
        </div>
        </div>
      </div>
      <!-- 其他信息 -->
    </div>

    <!-- 业务流程图-->
    <div class="">
        <business-flow-show business-key="{{formData.id}}" business-type="SPD盘点单"></business-flow-show>
    </div>

    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">

        <a ng-if="changeFlag" href="javascript:;" class="mgr"
           handle-this-click
           dialog-title="确认返回?"
           dialog-content="该盘点任务存在未保存数据，是否保存?"
           dialog-template="pr-dialog-return.html"
           nosave-callback="goTo('#/inventoryOrder/query.html')"
           save-callback="submitForm('editForm','exit')">返回盘点任务列表
        </a>

        <a class="mgr-l" ng-if="!changeFlag" ng-href="#/inventoryOrder/query.html?id={{formData.relId}}" >返回盘点任务列表</a>

        <button type="button" ng-show="formData.orderStatus!='已作废'" class="pr-btn-save-glodbg mgr">
          <a class="color-white" ng-href="indexOfPrint.html#/print/index.html?key=inventoryOrder&id={{formData.id}}" target="_blank">打印盘点</a>
        </button>

        <span ng-if="formData.didateFilter.buttons.length>0"
              custom-menu-list
              custom-menu-arr="{{formData.didateFilter.buttons}}">
        </span>
      </div>
    </div>
    </form>
 </div>
