<div class="create-new-order"
      ng-controller="purchaseOrderEditCtrl"
       ajax-url="rest/authen/purchaseOrder/get.json?id={{mainStatus.pageParams.id}}&relId={{mainStatus.pageParams.relId}}"
       scope-data="scopeData"
      callback="initFlag=true;rejectButton=$root.utils.getcustomMenuByKeyOfArr(showData.customMenu,'驳回');passButton=$root.utils.getcustomMenuByKeyOfArr(showData.customMenu,'通过');"
      alert-error>

  <form id="editForm"
        name="editForm"
        form-validator
        parameter-body
        action="rest/authen/purchaseOrder/save.json"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter();watchFormChange('formData')">
    <!-- 头部信息 -->
    <div class="content-wrapper-heading pdb-m mgb-l relative clearfix">
      <p class="pdb-s pdt-s crumbs pd-c-xl pr-indent-20">采购中心 >
        <a href="#/purchaseOrder/query.html">
           <em class="color-custom-orange">采购单</em>
        </a>
       <em>>采购单详情</em>
      </p>
      <!-- 标题 -->
      <div class="pd-c-v-l">
        <div class="pos-rel-tl inline-block fl-l mgl-l">
          <h1 class="pr-font-20 color-black">采购单</h1>
          <p class="mgt-l text-n color-3 text-bold">{{scopeData.customerName}}</p>
        </div>
      </div>
    </div>
    <!-- 药械列表 -->
    <div class="content-wrapper">
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l pd-n">
        <!-- 单据信息 -->
        <div class="flex-column color-9 pd-c-l pdt-m pdb-m bb-dashed-line">
          <div class="flex-item-6">
            <span class="mgr">单据编号：<em class="color-3">{{scopeData.orderNo}}</em></span>
            <span class="mgr">制单人：<em class="color-3">{{scopeData.inputUser.n}}</em></span>
            <span class="mgr">审核人：<em class="color-3">{{scopeData.approverUser.n}}</em></span>
          </div>
          <div class="flex-item-6 text-right">
            <span class="mgr">录单日期：<em class="color-3">{{scopeData.createAt | date:'yyyy-MM-dd'}}</em></span>
            <span class="mgr">状态：<em class="color-3">{{scopeData.orderStatus}}</em></span>
          </div>
        </div>
        <!-- 类别选择 -->
        <div class="pd-c-l pdt-m pdb-m color-9">
          <span class="mgr-l">部门：<em class="color-3">{{scopeData.salesDepartmentName}}</em></span>
          <span class="mgr-l">业务人员：<em class="color-3">{{scopeData.saleUser.n}}</em></span>
          <span class="mgr-l">业务类型：<em class="color-3">{{scopeData.orderBusinessType}}</em></span>
          <span class="mgr-l">采购类型：<em class="color-3">{{scopeData.purchaseType}}</em></span>
          <span class="mgr-l">计划到货时间：<em class="color-3">{{scopeData.expectDate | date:'yyyy-MM-dd'}}</em></span>
        </div>
        <!-- 商品列表 -->
        <div class="">
          <div class="outside-table-d">
            <table class="table pr-table pr-new-table mgb-n table-s-wid">
              <thead>
              <tr>
               <th class="text-center">商品编号</th>
               <th>商品全名</th>
               <th class="text-center">规格/型号</th>
               <th class="text-center">单位</th>
               <th class="text-center">数量</th>
               <th class="text-center">实际完成数量</th>
               <th class="text-center w-110">批号要求</th>
               <th class="text-center">原币含税单价</th>
               <th class="text-center">税率</th>
               <th class="text-center">原币单价</th>
               <th class="text-center">原币金额</th>
               <th class="text-center">原币价税合计</th>
               <th class="text-center">保存温度</th>
               <th class="text-center">产地品牌</th>
               <th class="text-center">产品注册证号</th>
               <th class="text-center">产品注册证有效期</th>
               <th class="text-center">合同号</th>
             </tr>
              </thead>
              <tbody>
                <tr
                ng-repeat="tr in scopeData.orderMedicalNos"
                salesorder-edit-show-delbtn
                ng-init="orderMedicalNoIds.push(tr.relId)"
                ng-controller="purchaseOrderEditCtrl">
                  <td class="text-center">{{tr.code}}</td>
                  <td class="text-center">
                    <div class="autocut-l" title="{{tr.name}}">
                        {{tr.name}}
                    </div>
                  </td>
                  <td class="text-center">
                    {{tr.modelType}}
                  </td>
                  <td class="text-center">
                    {{tr.unit}}
                  </td>
                  <td class="text-center">
                    {{tr.quantity || '0'}}
                  </td>
                  <td class="text-center"
                  ng-class="{'pr-bg-orange3':tr.quantity!=tr.storageQuantity}"
                  >
                    {{tr.storageQuantity || '0'}}
                  </td>
                  <td>
                    {{tr.batchRequirement}}
                  </td>
                  <td class="text-center">
                    ￥{{tr.price}}
                  </td>
                  <td class="text-center" ng-init="tr.taxRate=17">
                    {{tr.taxRate}}%
                  </td>
                  <td class="text-right">
                    ￥{{$root.purchaseOrderUtils.getWuSuiDanJian(tr) || '0' | number:2 }}
                  </td>
                  <td class="text-right">
                    ￥{{$root.purchaseOrderUtils.getWuSuiJinE(tr) || '0' | number:2}}
                  </td>
                  <td class="text-right">
                    ￥{{$root.purchaseOrderUtils.getJiaSuiHeJi(tr) || '0' | number:2}}
                  </td>

                  <td class="text-center">
                    {{tr.storedTemperature}}
                    <!-- 保存温度 -->
                  </td>
                  <td class="text-center">
                    {{tr.brand}}
                  </td>

                  <td class="text-center">
                  {{tr.drugAdministrationCode}}
                  </td>

                  <td class="text-center relative">
                    {{tr.drugAdministrationCodeGuaranteePeriod}}

                  </td>
                  <td>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    <!-- 其他信息 -->
    <div class="relative">
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
        <h1 class="text-bold color-3">付款</h1>
        <div class="mgt-l">
          <span class="mgr-l">付款条件：<em class="color-3">{{scopeData.paymentType}}</em></span>
          <span class="mgr-l">币种：<em class="color-3">{{scopeData.currencyType}}</em></span>
          <span class="mgr-l">汇率：<em class="color-3">1.00</em></span>
          <span class="mgr-l">付款状态：<em class="color-3">{{scopeData.purchasePayOrderStatus}}</em></span>
        </div>
      </div>

      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
        <h1 class="text-bold color-3">运输/仓储</h1>
        <div class="mgt-l">
          <span class="mgr">运输方式：
            <em class="color-3">{{scopeData.payAndDelivery.transportType}}</em>
          </span>
          <span class="mgr">承运公司：
              <em class="color-3">{{scopeData.payAndDelivery.kuaidiType}}</em>
          </span>
          <!-- <span class="mgr">预入仓库：
            <em class="color-3">{{scopeData.warehouseName}}</em>
          </span> -->
        </div>
      </div>
      <!-- 发货方信息 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <header class="text-n color-3 text-bold">发货方信息
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
          </span>
        </header>
        <div class="panel-body" style="display:none;padding:15px 0;">
          <h1 class="mgb">发货方：</h1>
          <p class="">发货人信息：
            {{scopeData.supplier.prov}}&nbsp;&nbsp;{{scopeData.supplier.city}}&nbsp;&nbsp;{{scopeData.supplier.area}}&nbsp;&nbsp;{{scopeData.supplier.address}}&nbsp;&nbsp;{{scopeData.supplier.name}}&nbsp;&nbsp;{{scopeData.supplier.tel}}
          </p>
          <!-- <div class="consignee-info"
               ajax-url="rest/authen/invoicesAddress/get.json"
               scope-data="invoicesAddress"
               callback="customerAddressGetCallBack(formData,invoicesAddress)"
               ng-class="{'static': invoicesAddress.contacts}">
            <ul style="min-height:136px;">
              <li class="mgr-m mgb-m" style="min-height:136px;"  ng-repeat="item in invoicesAddress.contacts" ng-click="formData.contactsId=item.id">
                <p class="pdb">{{item.name}} </p>
                <p class="text-n color-6 mgb-s">{{item.prov}} {{item.city}} {{item.area}} {{item.address}} {{item.tel}}</p>
                <p><a href="javacript:;"  modal-right="600" modal-data='{"customerAddressId":"{{formData.customerId}}","contact":{{item}}}' modal-scope="this" modal-url="views/purchaserAddress/contact/edit.html">修改</a></p>
                <i class="consignee-default-label"  ng-if="invoicesAddress.defaultContactId==item.id">默认</i>
                <i class="consignee-choise-label"   ng-if="formData.contactsId==item.id"><em class="fa fa-check color-white"></em></i>
              </li>
              <span>
                <button class="pr-add-item-whitebg" style="min-height:136px;"
                        modal-right="700"
                        modal-data='{"customerAddressId":"{{formData.customerId}}","contact":{}}'
                        modal-scope="this"
                        modal-url="views/salesOrder/contact/edit.html"
                        ng-class="{'static':!invoicesAddress.contacts}">
                  <i class="fa fa-plus"></i>
                </button>
              </span>
            </ul>
          </div> -->
        </div>
      </div>
      <!-- 收货方信息 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <header class="text-n color-3 text-bold">收货方信息
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
          </span>
        </header>
        <div class="panel-body" style="display:none;padding:15px 0;">
          <h1 class="mgb">收货方：{{scopeData.customerName}}</h1>
          <p class="">收货人信息：
            {{scopeData.customerContacts.prov}}&nbsp;&nbsp;{{scopeData.customerContacts.city}}&nbsp;&nbsp;{{scopeData.customerContacts.area}}&nbsp;&nbsp;{{scopeData.customerContacts.address}}&nbsp;&nbsp;{{scopeData.customerContacts.name}}&nbsp;&nbsp;{{scopeData.customerContacts.tel}}
          </p>
        </div>
      </div>

      <!-- 备注 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <h1 class="text-bold color-3">备注</h1>
        <p>{{scopeData.note}}</p>
      </div>

      </div>
    </div>

    <!-- 流程图 -->
    <div ng-if="scopeData.id" class="modal-content pr-modal-content pr-modal-process pd-c-xxxl mgb-xxxl"
           ajax-url="rest/authen/businessFlow/getByBusinessKey.json?businessKey={{scopeData.id}}"
           scope-data="businessFlowData"
           callback="businessFlowDataInitFlag=true;"
           error-callback="businessFlowDataInitFlag=true;">
       <canvas ng-if="businessFlowDataInitFlag"  id="canvas" canvas-business-flow ng-model="businessFlowData"   cur-rel-id="{{scopeData.id}}"
               width="{{$root.utils.getMainBodyWidth()}}"
               base-image-url="images/canvasBusinessFlow/"
               spacing-height="80" spacing-width="40">
       </canvas>
     </div>

    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <a ng-if="changeFlag" href="javascript:;" class="mgr"
           handle-this-click
           dialog-title="确认返回?"
           dialog-content="该采购单存在未保存数据，是否保存?"
           dialog-template="pr-dialog-return.html"
           nosave-callback="goTo('#/purchaseOrder/query.html')"
           save-callback="submitForm('editForm','exit')">返回采购单列表
        </a>
        <a class="mgr-l" ng-if="!changeFlag" ng-href="#/purchaseOrder/query.html?id={{scopeData.relId}}" >返回采购单列表</a>
        <button ng-if="scopeData.orderStatus=='待审核'" type="button" class="pr-btn-save-glodbg mgr">
          <a class="color-white" target="_blank">导出采购合同</a>
        </button>
        </span>

        <button ng-if="scopeData.orderStatus=='待采购'"
                        class="pr-btn-save-glodbg mgr mgl"
                        type="button"
                        ajax-url-submit="rest/authen/purchaseVoucher/save?purchaseOrderId={{scopeData.id}}"
                        alert-error
                        callback="$root.goTo('#/purchaseVoucher/get.html?relId={{scopeData.id}}')">生成采购凭证
                </button>
        <span ng-if="scopeData.didateFilter.buttons.length>0"
              custom-menu-list
              custom-menu-arr="{{scopeData.didateFilter.buttons}}">
        </span>
      </div>
      <div class="price-area relative fl-r mgr-l" style="height:100%;line-height:3.3;font-size:18px;color:#c7a77b;">总计：
        <em class="color-white">￥{{scopeData.totalPrice | number:2}}</em>
      </div>
    </div>
  </form>
</div>
