<div class="create-new-order"
      ng-controller="purchaseOrderEditCtrl"
      ajax-url="rest/authen/purchaseOrder/get.json?id={{mainStatus.pageParams.id}}&relId={{mainStatus.pageParams.relId}}"
      scope-data="scopeData"
      callback="initFlag=true;handleMessageShow(scopeData);rejectButton=$root.utils.getcustomMenuByKeyOfArr(showData.customMenu,'驳回');passButton=$root.utils.getcustomMenuByKeyOfArr(showData.customMenu,'通过');"
      alert-error>

  <form id="editForm"
        name="editForm"
        form-validator
        parameter-body
        action="rest/authen/purchaseOrder/save.json"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter();watchFormChange('formData')">
    <!-- 头部信息 -->
    <div class="content-wrapper-heading mgb-l relative clearfix">
      <p class="pdb-s pdt-s crumbs pd-c-xxl">采购中心 >
        <a href="#/purchaseOrder/query.html">
           <em class="color-custom-orange">采购单</em>
        </a>
       <em>>采购单详情</em>
      </p>
      <!-- 标题 -->
      <div class="pd-c-xxl pdt-l pdb-l clearfix">
        <div class="pos-rel-tl inline-block fl-l">
          <h1 class="pr-font-20 color-black">采购单详情</h1>
        </div>
      </div>
    </div>
    <!-- 药械列表 -->
    <div class="content-wrapper">
      <p class="mgb-l text-n color-3 text-bold">{{scopeData.supplier.name}}</p>
      <div ng-if="scopeData.orderStatus=='已作废'" class="pr-panel pr-panel-height mgb pr-bg-pink">
        <em class="color-red">原因:</em>
        <p class="inline-block color-red">
          <em ng-model="scopeData.operationFlowSet.key">{{scopeData.operationFlowSet.key}}</em>
          <em ng-model="scopeData.operationFlowSet.message">{{scopeData.operationFlowSet.message}}</em>
        </p>
      </div>
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l pd-n">
        <!-- 单据信息 -->
        <div class="flex-column color-9 pd-c-l pdt-m pdb-m bb-dashed-line">
          <div class="flex-item-6">
            <span class="mgr">单据编号：<em class="color-3">{{scopeData.orderNo}}</em></span>
            <span class="mgr">审核人：<em class="color-3">{{scopeData.approverUser.n}}</em></span>
          </div>
          <div class="flex-item-6 text-right">
            <span class="mgr">制单人：<em class="color-3">{{scopeData.inputUser.n}}</em></span>
            <span class="mgr">录单日期：<em class="color-3">{{scopeData.createAt | date:'yyyy-MM-dd'}}</em></span>
              <a ng-if="initFlag"
                 modal-center="1000px"
                 modal-data='{"businessKey":"{{scopeData.id}}"}'
                 modal-scope="this"
                 modal-url="views/workflowTask/getOfDialog.html">
            <span class="mgr">状态：<em class="color-3">{{scopeData.orderStatus}}</em></span>
              </a>
          </div>
        </div>
        <!-- 类别选择 -->
        <div class="pd-c-l pdt-m pdb-m color-9">
          <span class="mgr-l">部门：<em class="color-3">{{scopeData.salesDepartmentName}}</em></span>
          <span class="mgr-l">业务人员：<em class="color-3">{{scopeData.saleUser.n}}</em></span>
          <span class="mgr-l">业务类型：<em class="color-3">{{scopeData.orderBusinessTypeStr}}</em></span>
          <span class="mgr-l">采购类型：<em class="color-3">{{scopeData.purchaseType}}</em></span>
          <span class="mgr-l">计划到货时间：<em class="color-3">{{scopeData.expectDate | date:'yyyy-MM-dd'}}</em></span>
          <span class="mgr-l">合同号：<em class="color-3">{{scopeData.contractNo || '暂无'}}</em></span>
        </div>
        <!-- 商品列表 -->
        <div class="">
          <div class="outside-table-d">
            <table class="table pr-table pr-new-table mgb-n table-s-wid">
              <thead>
              <tr>
               <th class="text-center">商品编号</th>
               <th class="text-left">商品全名</th>
               <th class="text-center">规格/型号</th>
               <th class="text-center">单位</th>
               <th ng-if="scopeData.orderStatus!='已完成'" class="text-center">数量</th>
               <th ng-if="scopeData.orderStatus=='已完成'" class="text-center">计划数量</th>
               <th ng-if="scopeData.orderStatus=='已完成'"  class="text-center">正常数量</th>
               <th ng-if="scopeData.orderStatus=='已完成'"  class="text-center">其他数量</th>
               <th ng-if="scopeData.orderStatus=='已完成'"  class="text-center">拒收数量</th>
               <th class="text-center w-110">批号要求</th>
               <th class="text-center">原币含税单价</th>
               <th class="text-center">原币单价</th>
               <th class="text-center">原币金额</th>
               <th class="text-center">原币税额</th>
               <th class="text-center">原币价税合计</th>
               <th class="text-center">税率</th>
               <th class="text-center">保存温度</th>
               <th class="text-center">产地品牌</th>
               <th class="text-center">产品注册证号</th>
               <th class="text-center">产品注册证有效期</th>
             </tr>
              </thead>
              <tbody>
                <tr ng-repeat="tr in scopeData.orderMedicalNos"
                    salesorder-edit-show-delbtn
                    ng-init="orderMedicalNoIds.push(tr.relId)"
                    ng-controller="purchaseOrderEditCtrl">
                  <td class="text-center">{{tr.code}}</td><!-- 商品编号 -->
                  <td class="text-left">
                    <div class="autocut" title="{{tr.name}}">
                      {{tr.name}}
                    </div>
                  </td><!-- 商品全名 -->
                  <td class="text-center">{{tr.specificationAndModelType}}</td><!-- 规格/型号 -->
                  <td class="text-center">{{tr.unit}}</td><!-- 单位 -->
                  <td  class="text-right">{{tr.quantity || '0'}}</td><!-- 数量 -->
                  <td ng-if="scopeData.orderStatus=='已完成'" class="text-right">{{tr.storageQuantity || '0'}}</td><!-- 计划数量 -->
                  <td ng-if="scopeData.orderStatus=='已完成'" class="text-right">{{tr.otherQuantity || '0'}}</td><!-- 正常数量 -->
                  <td ng-if="scopeData.orderStatus=='已完成'" class="text-right">{{tr.refuseQuantity || '0'}}</td><!-- 其他数量 -->
                  <td class="text-center">{{tr.batchRequirement}}</td><!-- 批号要求 -->
                  <td class="text-right">￥{{tr.strike_price || '0'  | number:2}}</td><!-- 原币含税单价 -->
                  <td class="text-right">￥{{$root.purchaseOrderUtils.getWuSuiDanJian(tr) || '0' | number:2 }}</td><!-- 原币单价 -->
                  <td class="text-right">￥{{$root.purchaseOrderUtils.getWuSuiJinE(tr) || '0' | number:2}}</td><!-- 原币金额 -->
                  <td class="text-right">￥{{$root.purchaseOrderUtils.getJiaSuiHeJi(tr)*tr.tax/100 | number:2}}</td><!-- 原币税额 -->
                  <td class="text-right">￥{{$root.purchaseOrderUtils.getJiaSuiHeJi(tr) || '0' | number:2}}</td><!-- 原币价税合计 -->
                  <td class="text-right" >{{tr.tax}}%</td><!-- 税率 -->
                  <td class="text-center">{{tr.storedTemperature}}</td><!-- 保存温度 -->
                  <td class="text-center">{{tr.brand}}</td><!-- 产地品牌 -->
                  <td class="text-center">{{tr.drugAdministrationCode}}</td><!-- 产品注册证号 -->
                  <td class="text-center relative">{{tr.drugAdministrationCodeGuaranteePeriod}}</td><!-- 产品注册证有效期 -->
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    <!-- 其他信息 -->
    <div class="relative">
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
        <h1 class="text-bold color-3">付款</h1>
        <div class="mgt-l">
          <span class="mgr-l">付款条件：<em class="color-3">{{scopeData.paymentType}}</em></span>
          <span class="mgr-l">币种：<em class="color-3">{{scopeData.currencyType}}</em></span>
          <span class="mgr-l">汇率：<em class="color-3">1.00</em></span>
          <span class="mgr-l">付款状态：<em class="color-3">{{scopeData.purchasePayOrderStatus}}</em></span>
        </div>
      </div>

      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
        <h1 class="text-bold color-3">运输/仓储</h1>
        <div class="mgt-l">
          <span class="mgr">运输方式：
            <em class="color-3">{{scopeData.payAndDelivery.transportType}}</em>
          </span>
          <span class="mgr">承运公司：
              <em class="color-3">{{scopeData.payAndDelivery.kuaidiType}}</em>
          </span>
          <!-- <span class="mgr">预入仓库：
            <em class="color-3">{{scopeData.warehouseName}}</em>
          </span> -->
        </div>
      </div>
      <!-- 发货方信息 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <header class="text-n color-3 text-bold">发货方信息
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
          </span>
        </header>
        <div class="panel-body" style="display:none;padding:15px 0;">
          <p class="">
          {{scopeData.supplier.contact.name}}&nbsp;&nbsp;{{scopeData.supplier.contact.tel}}&nbsp;&nbsp;{{scopeData.supplier.contact.prov}}&nbsp;&nbsp;{{scopeData.supplier.contact.city}}&nbsp;&nbsp;{{scopeData.supplier.contact.area}}&nbsp;&nbsp;{{scopeData.supplier.contact.address}}
          </p>
        </div>
      </div>
      <!-- 收货方信息 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <header class="text-n color-3 text-bold">收货方信息
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
          </span>
        </header>
        <div class="panel-body" style="display:none;padding:15px 0;">
          <p class="">
          {{scopeData.customerContacts.name}}&nbsp;&nbsp;{{scopeData.customerContacts.tel}}&nbsp;&nbsp;{{scopeData.customerContacts.prov}}&nbsp;&nbsp;{{scopeData.customerContacts.city}}&nbsp;&nbsp;{{scopeData.customerContacts.area}}&nbsp;&nbsp;{{scopeData.customerContacts.address}}
          </p>
        </div>
      </div>

      <!-- 备注 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <h1 class="text-bold color-3 mgb">备注</h1>
        <p>{{scopeData.note}}</p>
      </div>

      </div>
    </div>

    <!-- 流程图 -->
    <business-flow-show business-key="{{scopeData.id}}" business-type="采购单"></business-flow-show>


    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <a ng-if="changeFlag" href="javascript:;" class="mgr"
           handle-this-click
           dialog-title="确认返回?"
           dialog-content="该采购单存在未保存数据，是否保存?"
           dialog-template="pr-dialog-return.html"
           nosave-callback="goTo('#/purchaseOrder/query.html')"
           save-callback="submitForm('editForm','exit')">返回采购单列表
        </a>

        <a class="mgr-l" ng-if="!changeFlag" ng-href="#/purchaseOrder/query.html?id={{scopeData.relId}}" >返回采购单列表</a>

        <button type="button"  class="pr-btn-save-glodbg mgr">
          <a class="color-white" ng-href="indexOfPrint.html#/print/index.html?key=purchaseOrderPrint&id={{scopeData.id}}" target="_blank">打印预览</a>
        </button>

        <button ng-if="initFlag"
                type="button"
                class="pr-btn-save-glodbg mgr"
                modal-center="400"
                modal-data='{"id":"{{scopeData.id}}"}'
                modal-scope="this"
                modal-url="views/purchaseOrder/dialog-export-word.html">导出采购合同
        </button>

        <button ng-if="!scopeData.purchaseVoucherId" class="pr-btn-save-glodbg mgr mgl"
                type="button"
                ng-click="createPurVoBtnClick(scopeData.id)">生成采购凭证
        </button>

        <!-- <button ng-if="!scopeData.purchaseVoucherId" class="pr-btn-save-glodbg mgr mgl"
                type="button"
                ajax-url-submit="rest/authen/purchaseVoucher/save?purchaseOrderId={{scopeData.id}}"
                alert-error>生成采购凭证
        </button> -->

<!-- callback="$root.goTo('#/purchaseVoucher/get.html?relId={{scopeData.id}}')" -->

        <button ng-if="scopeData.purchaseVoucherId" class="pr-btn-save-glodbg mgr mgl"
                type="button"
                disabled="disabled">已生成采购凭证
        </button>

        <span ng-if="scopeData.didateFilter.buttons.length>0"
              custom-menu-list
              custom-menu-arr="{{scopeData.didateFilter.buttons}}">
        </span>
      </div>
      <div class="price-area relative fl-r mgr-l" style="height:100%;line-height:3.3;font-size:18px;color:#c7a77b;">总计：
        <em class="color-white">￥{{scopeData.totalPrice | number:2}}</em>
      </div>
    </div>
  </form>
</div>
