<div class="purchase-return-order sale-return-order right-side pr-bg-black3"
   ng-controller="returnOrderAddController"
     ajax-If-eval="selectedData.id||formData.relId"
     ajax-url="rest/authen/arrivalNoticeOrder/get?id={{selectedData.id||formData.relId}}"
     scope-data="addDataObj"
     callback="choisedMedicalList=initChoisedMedicalList(addDataObj.orderMedicalNos,dialogData.medicalList);"
     alert-error>

    <!-- 头部信息 -->
    <div class="relative">
      <div class="pd-m">
        <!-- 标题 -->
        <div class="mgb-m">
          <div class="mgb">
            <span class="pdb-m">参照来货通知单</span>
          </div>
          <div class="mgb" ng-show="!dialogData.pageParamsId">
            <span angucomplete placeholder="来货通知单号"
                  title-field="orderNo"
                  description-field="supplier.name"
                  search-fields=""
                  search-str-class="ipt"
                  url="rest/authen/arrivalNoticeOrder/query?orderStatus=已完成&orderBusinessType=普通采购"
                  class="inline-block"
                  ng-model="selectedData">
            </span>
          </div>
          <h1 class="pr-font-22 color-black pdt-m">{{addDataObj.customerName}}</h1>
        </div>
      </div>
    </div>
    <!-- 药械列表 -->
    <div class=" pr-bg-black4">
      <div class="panel pr-panel pd-n pr-fuzzy-boundary pr-panel-height mgb">
        <div class="empty-panel empty-panel-new clearfix pr-bg-black4" ng-if="!addDataObj.orderMedicalNos.length">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
        <div class="pr-bg-black4" ng-if="addDataObj.orderMedicalNos.length">
          <div class="pr-panel pr-panel-height pd-n pr-bg-white-black mgb  ">
            <!-- 客户搜索 -->
            <div class="inline-block br-line supplier-name relative" style="width:500px;">
              <p class="mgb-s mgl-xl">供应商</p>
              <p class="text-n color-black mgl-xl autocut-default" title="{{addDataObj.supplier.name}}" style="width:300px;">
                {{addDataObj.supplier.name || '暂无'}}
              </p>
            </div>
            <!-- 物流中心搜索 -->
            <div class="inline-block logistics-center relative">
              <p class="mgb-s mgl-xl">物流中心</p>
              <p class="text-n mgl-xl color-black autocut-default" title="{{addDataObj.logisticsCenterName}}" style="padding-right:182px;width:300px;">
                <!-- 昆明物流中心 -->
                {{addDataObj.logisticsCenterName || '暂无'}}
              </p>
            </div>
          </div>

          <p class="flex-column pd pr-bg-white-black bb-dashed-line-new">
            <span class="flex-item-4 color-9">
              系统编号：<em class="color-white">{{addDataObj.orderNo || '暂无'}}</em>
            </span>
            <span class="flex-item-8 text-right">
              <em class="color-9" >制单人：</em><em class="color-orange mgr-l">{{addDataObj.inputUser.n || '暂无'}}</em>
              <em class="color-9"></em>录单日期：<em class="mgr-l color-white">{{addDataObj.createAt | date : 'yyyy-MM-dd' }}</em>
              <em class="color-9">状态：</em>
              <em class="color-white mgr-l" ng-class="{'color-green':addDataObj.orderStatus=='已通过'}">{{addDataObj.orderStatus}}</em>
            </span>
          </p>
          <p class="flex-column pd pr-bg-white-black">
            <span class="flex-item-12">
              <em class="color-9"></em>部门：<em class="color-white">{{addDataObj.salesDepartmentName || '暂无'}}</em>
              <em  class="mgl color-9">业务人员：</em><em class="color-orange">{{addDataObj.saleUser.n || '暂无'}}</em>
              <em  class="mgl color-9">业务类型：</em><em class="color-white">{{addDataObj.orderBusinessType || '暂无'}}</em>
              <em  class="mgl color-9">采购类型：</em><em class="color-white">{{addDataObj.purchaseType || '暂无'}}</em>
            </span>
          </p>
        </div>
        <div class="outside-table-d">
          <table class="table pr-table pr-new-table table-wid" >
              <thead>
                <tr>
                  <th class="mycheck">
                    <input type="checkbox" id='1' class="selectAll" ng-init="isChoiseAll=false" ng-model="isChoiseAll" ng-click="handleChoiseAllEvent()">
                    <label for="1"></label>
                  </th>
                  <th class="text-center">商品编号</th>
                  <th class="text-left">商品全名</th>
                  <th class="text-center">规格/型号</th>
                  <th class="text-center">单位</th>
                  <th class="text-center">计划数量／入库总数／拒收数量</th>
                  <th class="text-center">仓库</th>
                  <th class="text-center">数量</th>
                  <th class="text-center">原币含税单价</th>
                  <th class="text-center">税率</th>
                  <th class="text-center">原币无税单价</th>
                  <th class="text-center">原币无税金额</th>
                  <th class="text-center">原币税额</th>
                  <th class="text-center">原币价税合计</th>
                  <th class="text-center">产地</th>
                  <th class="text-center">退补标志</th>
                  <th class="text-center">保存温度</th>
                  <th class="text-center">品牌</th>
                  <th class="text-center">产地注册证号</th>
                  <th class="text-center">注册证有效期</th>
                  <th class="text-center">医保编码</th>
                  <th class="text-center">院内编码</th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <tr ng-repeat="item in addDataObj.orderMedicalNos" >
                  <td class="select-td mycheck">
                    <input type="checkbox" id="{{$index+2}}" class="selectOne" ng-model="item.itemSelected" ng-click="handleItemClickEvent(item);">
                    <label for="{{$index + 2}}"></label>
                  </td>
                  <td class="text-center">{{item.code}}</td>
                  <td class="text-left">{{item.name}}</td>
                  <td class="text-center">{{item.specificationAndModelType}}</td>
                  <td class="text-center">{{item.measurement}}</td>
                  <!-- <td class="text-center">{{item.quantity}}</td> -->
                  <td class="text-right">
                    {{item.quantity || '0'}}&nbsp;/&nbsp;{{item.storageQuantity + tr.otherQuantity || '0'}}&nbsp;/&nbsp;{{item.refuseQuantity || '0'}}
                  </td>
                  <td class="text-center" style="padding:0px;">
                    <div class="full-width hei-50" style="line-height:50px;">
                      {{item.warehouseName}}
                    </div>
                    <div ng-if="item.otherQuantity" class="full-width hei-50 bb-line-yellow" style="line-height:50px;">
                      待处理库
                    </div>
                  </td>
                  <td class="text-right" style="padding:0px;">
                    <div class="full-width hei-50" style="line-height:50px;padding-right:10px;">
                        {{item.storageQuantity}}
                    </div>
                  <div  ng-if="item.otherQuantity" class="full-width hei-50 bb-line-yellow" style="line-height:50px;padding-right:10px;">
                        {{item.otherQuantity}}
                  </div>
                  </td>
                  <td class="text-right">{{item.strike_price | currency:'￥'}}</td>
                  <td class="text-right">{{item.taxRate}}%</td>
                  <td class="text-right">￥{{item.duty_free_price | number:2}}</td>
                  <td class="text-right">￥{{item.total_duty_free_price | number:2}}</td>
                  <td class="text-right">￥{{item.totalTaxPrice | number:2}}</td>
                  <td class="text-right">￥{{item.totalPrice | number:2}}</td>
                  <td class="text-center">{{item.productionPlace}}</td>
                  <td class="text-center">{{item.withdrawalSign}}</td>
                  <td class="text-center">{{item.storedTemperature}}</td>
                  <td class="text-center">{{item.brand}}</td>
                  <td class="text-center">{{item.drugAdministrationCode}}</td>
                  <td class="text-center">{{item.drugAdministrationCodeGuaranteePeriod}}</td>
                  <td class="text-center">{{item.medicalInsuranceCode}}</td>
                  <td class="text-center">{{item.hospitalCode}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="empty-table empty-table-new clearfix pr-bg-black4" ng-if="!addDataObj.orderMedicalNos.length">
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
      </div>
      <!-- 功能按钮 -->
      <div class="handle-btn-area-2nd relative">
        <div class="btn-area full-width text-center">
            <!-- <a class="mgr-l" ng-click="modal.closeAll();">取消</a> -->
            <button ng-disabled="!choisedMedicalList.length>0"
                    ng-click="handleAddData(addDataObj.id, addDataObj.orderNo, choisedMedicalList,addDataObj)"
                    type="button"
                    class="pr-btn-save-glodbg mgr-l">确定
            </button>
        </div>
      </div>
    </div>

</div>
