<div class=" purchase-return-order sale-return-order"
     ng-init="formData={}"
     ng-controller="purchasereturnOrderEditCtrl"
     ajax-url="rest/authen/purchaseReturnOrder/get.json?id={{mainStatus.pageParams.id}}&orderNo={{mainStatus.pageParams.orderNo}}"
     scope-data="formData"
     callback="initFlag=true;"
     alert-error>
    <!-- 头部信息 -->
    <div class="relative">
      <div class="pd-l">
        <!-- 标题 -->
        <div class="mgb-m">
          <p class="mgb-m crumbs pr-indent-20">采购中心 >
            <a tab-nav tab-name="采购退货单" tab-href="#/purchaseReturnOrder/query.html"><em class="color-custom-orange">采购退货单</em></a> > 采购退货单详情
          </p>
          <h1 class="pr-font-22 color-black">采购退货单详情</h1>
        </div>
      </div>
    </div>
    <!-- 单据基本信息 -->
    <div class="pd-loss-l">
      <div  ng-if="formData.operationFlowSet.key" class="pr-panel pr-panel-height mgb"
        ng-class="{'pr-bg-pink1':(formData.orderStatus=='未通过'||formData.orderStatus=='已作废'),'pr-bg-pass':(formData.orderStatus=='已处理')}">
      <em ng-class="{'color-red':(formData.orderStatus=='未通过'||formData.orderStatus=='已作废'),'color-pass':(formData.orderStatus=='已处理')}">原因:</em>
       <p class="inline-block " ng-class="{'color-red':(formData.orderStatus=='未通过'||formData.orderStatus=='已作废'),'color-pass':(formData.orderStatus=='已处理')}">
      <em ng-model="formData.operationFlowSet.key">{{formData.operationFlowSet.key}}</em>
       </p>
      </div>
      <!-- <div class="pr-panel pr-panel-height mgb pd-n">
        <div class="inline-block br-line supplier-name relative">
          <p class="mgb-s">供应商</p>
          <p class="text-n color-black" style="padding-right:182px;">
            {{formData.supplier.name || '暂无'}}
          </p>
        </div>
        <div class="inline-block logistics-center relative">
          <p class="mgb-s">物流中心</p>
          <p class="text-n color-black autocut-default" title="{{formData.logisticsCenterName}}" style="padding-right:182px;width:1200px;">
            {{formData.logisticsCenterName ||'暂无'}}
          </p>
        </div>
      </div> -->
      <div class="">

        <div class="inline-block mgr-l">
          <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:90px;">
            <div class="inline-block logistics-center"></div>
            <div class="inline-block">
              <p class="mgb-s">业务类型</p>
              <p class="text-m color-3 autocut-default" title="{{formData.supplier.name}}" style="width:90px;">{{formData.orderBusinessType || '暂无'}}</p>
            </div>
          </div>
        </div>
        <div class="inline-block mgr-l">
          <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
            <div class="inline-block supplier-name"></div>
            <div class="inline-block">
              <p class="mgb-s">供应商</p>
              <p class="text-m color-3 autocut-default" title="{{formData.supplier.name}}" style="width:300px;">{{formData.supplier.name || '暂无'}}</p>
            </div>
          </div>
        </div>
        <div class="inline-block">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
             <div class="inline-block logistics-center "></div>
             <div class="inline-block">
               <p class="mgb-s">物流中心</p>
               <p class="text-m color-3 autocut-default" title="{{formData.logisticsCenterName}}" style="width:300px;">{{formData.logisticsCenterName ||'暂无'}}</p>
             </div>
           </div>
        </div>
      </div>
      <div class="panel pr-panel pd-n pr-fuzzy-boundary pr-panel-height mgb">
        <div>
          <div class="flex-column pdt-m pdb-m pd-c-l bb-dashed-line color-9">
            <div class="flex-item-6">
              <span class="mgr-l">单据编号：<em class="color-3">{{formData.orderCode || '暂无'}}</em></span>
              <span class="mgr-l">单据日期：<em class="color-3">{{formData.orderDate || '暂无' | date : 'yyyy-MM-dd' }}</em></span>
              <!-- <span class="mgr-l">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span> -->
              <span class="mgr">审核人：<em class="color-3">{{formData.approver.approverUser.n||'暂无'}}</em></span>
            </div>
            <div class="flex-item-6 text-right">
              <!-- <span class="mgl-l">录单日期：<em class="color-3">{{formData.createAt || '暂无' | date : 'yyyy-MM-dd' }}</em></span> -->
               <span class="mgr">系统编号：<em class="color-3">{{formData.orderNo}}</em></span>
              <a
              modal-center="1000px"
              modal-data='{"businessKey":"{{formData.id}}"}'
              modal-scope="this"
              modal-url="views/workflowTask/getOfDialog.html"
              >
            <span class="mgr">状态：<em class="color-3">{{formData.orderStatus}}</em></span>
              </a>
            </div>
          </div>

          <div class="flex-column pdt-m pdb-m pd-c-l">
            <span class="mgr-l">业务部门：<em class="color-3">{{formData.salesDepartmentName || '暂无'}}</em></span>
            <span class="mgr-l">业务人员：<em class="color-3">{{formData.saleUser.n || '暂无'}}</em></span>
            <!-- <span class="mgr-l">业务类型：<em class="color-3">{{formData.orderBusinessType || '暂无'}}</em></span> -->
            <span class="mgr-l">采购类型：<em class="color-3">{{formData.purchaseType || '暂无'}}</em></span>
          </div>
        </div>
        <div class="">
          <table class="table pr-table pr-new-table" >
              <thead>
                <tr>
                  <th  class="text-center">退货状态</th>
                  <th class="text-center">商品编号</th>
                  <th class="text-left">商品通用名</th>
                  <th class="text-center">剂型/分类</th>
                  <th class="text-center">规格/型号</th>
                  <th class="text-center">单位</th>
                  <th class="text-center">计划退货数量</th>
                  <th class="text-center">实退数量</th>
                  <th class="text-center w-110">批号</th>
                  <th class="text-center w-110">灭菌批号</th>
                  <th class="text-center w-110">退货仓库</th>
                  <th class="text-center">含税单价</th>
                  <th class="text-center">价税合计</th>
                  <th class="text-center">失效日期</th>
                </tr>
              </thead>
              <tbody class="bg-white">
                <tr ng-repeat="item in formData.orderMedicalNos | orderBy :'relId'">
                  <td class="text-center relative">
                    <span class="circle-status"
                          ng-class="{'bg-pass-green':item.finishStatus,'bg-ing-orang':!item.finishStatus}">
                      <span class="purchaseorder-buyer-info" style="right:34px;top:-10px;">
                        <i class="block pd-c-s text-normal" style="line-height:1.8">
                          <em ng-if="item.finishStatus" class="inline-block">已退货</em>
                          <em ng-if="!item.finishStatus" class="inline-block">退货中</em>
                        </i>
                      </span>
                    </span>
                  </td>
                  <td class="text-center">{{item.code}}</td>
                  <td class="text-left" >
                      <span
                           class="color-orange cur-pot lend-order-goods-info"
                           ng-init="showInfoArea=false"
                           ng-mouseenter="showInfoArea=true"
                           ng-mouseleave="showInfoArea=false">{{item.approvedName}}
                        <show-info-modal ng-show="showInfoArea"
                                         get-data-type="local"
                                         template-url="tpl/showInfoModalLendOrder"
                                         info-object="{{item}}"
                                         info-title="商品信息">
                        </show-info-modal>
                      </span>
                  </td><!-- 商品全名 -->
                  <td class="text-center">{{item.dosageForms}}</td><!-- 规格/型号 -->
                  <td class="text-center">{{item.specificationAndModelType}}</td><!-- 规格/型号 -->
                  <td class="text-center">{{item.unit}}</td><!-- 单位 -->
                  <td class="text-center">{{item.quantity}}</td>
                  <td class="text-center">{{item.outgoingQuantity}}</td>
                  <td class="text-center">{{item.productionBatch}}</td>
                  <td class="text-center">{{item.sterilizationBatchNumber}}</td>
                  <td class="text-center">{{item.warehouseName}}</td>
                  <td class="text-center">{{item.strike_price | currency:'￥'}}</td>
                  <td class="text-right">￥{{item.totalPrice | number:2}}</td>
                  <td class="text-center">{{item.validTill | date : 'yyyy-MM-dd'}}</td>
                </tr>
              </tbody>
            </table>
            <div class="bt-line flex-column" ng-if="formData.orderMedicalNos.length">
              <p class="flex-item-12 text-right pdb-m pdt-m pd-c-l ">
                <span class="mgr mgl">制单部门：
                  <em class="color-3">{{formData.departmentName || '暂无'}}</em>
                </span>

                <span class="mgr mgl">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span>

                <span class="mgr mgl">制单时间：<em class="color-3">{{formData.createAt || '暂无' | date: 'yyyy-MM-dd HH:mm'}}</em></span>
              </p>
            </div>
        </div>
      </div>
      <!-- 其他信息 -->
      <div class="relative panel pr-panel pr-fuzzy-boundary pr-panel-height mgb pd-c-l" style="margin-bottom:60px;">
          <!-- 备注 -->
          <div class='mgb'>
            <h1>备注</h1>
            <p class="mgt-m">{{formData.note}}</p>
          </div>
      </div>

        <!-- 流程图 -->
      <business-flow-show business-key="{{formData.id}}" business-type="采购单"></business-flow-show>

    </div>
    <!-- 功能按钮 -->
    <div class="handle-btn-area relative">
      <div class="btn-area">

          <a class="mgr-l" ng-if="!changeFlag" tab-nav tab-name="采购退货单" tab-href="#/purchaseReturnOrder/query.html" >返回采购退货单列表</a>
          <span ng-if="formData.didateFilter.buttons.length>0"
                custom-menu-list
                custom-menu-arr="{{formData.didateFilter.buttons}}">
          </span>

          <!-- <button ng-if="formData.orderStatus=='待入库'"
                  class="mgl pr-btn-create-glodbg"
                  type="button"
                  handle-this-click
                  dialog-title="确认生成入库单?"
                  dialog-content="生成入库单(红字)后,将完成采购退货入库"
                  dialog-template="pr-dialog-submit.html"
                  callback="$root.utils.goTo('#/purchaseReturnOrder/get.html?id={{formData.id}}')"
                  params='{"id":formData.id, "status":"已入库"}'
                  request-url="rest/authen/purchaseReturnOrder/updateStatus">生成入库单
          </button> -->

      </div>
    </div>
</div>
