<div class="pr-page-dialog-wrap"      ng-controller="auditUserApplyOrganizationCtrl"
ng-init="checkUserArr=getCheckUserApplyArr(tbodyList,listSelected);"
>
  <div class="pr-page-dialog-title bb-line">
    <i></i><span>审核确认</span>
  </div>
  <div class="pr-page-dialog-content bb-line">
      <div class="mgb-l">拒绝通过以下帐号的审核申请？</div>
      <div class="flex-column">
          <span ng-repeat="tr in checkUserArr">{{$index + 1}}. {{tr.applyUser.name}}</span>&nbsp;
      </div>

      <div class="flex-column">
        <div class="flex-item-2">
          拒绝理由：
        </div>
        <div class="flex-item-10">
          <p class="mgb"
          ajax-url="rest/baseData/queryForSelectOptionByType"
              params='{"type":"审核帐号驳回理由"}'
          scope-data="selectOptions"
          callback="formData.key=selectOptions[0].value"
          >
            <select ng-if="selectOptions" class="select" ng-model="formData.key" ng-options="item.value as item.text   for item in selectOptions">
            </select>
          </p>
          <p>
            <textarea class="pr-textarea" ng-model="formData.message"></textarea>
          </p>
        </div>
      </div>
  </div>

  <div class="pr-page-dialog-footer text-center mg-m">
    <button type="button"  ng-click="batchAuditUserApplyOrganization(checkUserArr,listSelected,'认证驳回',formData.key,formData.message)" class="pr-btn-save-glodbg">驳回</button>
    <button type="button" class="pr-btn-a" ng-click="closeThisDialog('cancelBtn')">取消</button>
  </div>

</div>
