<div class="modal-content right-side-new pr-bg-black4"
     ajax-url="rest/authen/shelvesUp/getOfEdit.json?id={{dialogData.id}}"
     scope-data="formData"
     callback="initFlag=true;"
     alert-error>
  <form class="add-customerAddress-form form-horizontal"
        id="editForm"
        name="editForm"
        form-validator
        parameter-body
        action="rest/authen/shelvesUp/confirm.json"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        onkeydown="if(window.event.keyCode==13) return false;"
        callback="$root.watchFormChange('formData',this)"
        novalidate="true">
    <div class="bb-line-gold pr-bg-black2 min-h-l">
      <h1 class="pr-indent-20 pdb-m" style="line-height:50px;max-height:35px;">{{formData.name}} - 上架</h1>
    </div>
    <div class="bb-dashed-gold pd-c-v-l color-white text-n">
      计划上架数量：{{formData.planShelvesUpQuantity}}({{formData.packingAttribute.name}})
      <span ng-repeat="item in formData.othersPackingAttribute_shelvesUp">
          = {{item.quantity}}({{item.name}})
      </span>
    </div>
    <div class="bb-dashed-gold ">
      <table class="full-width another-table " style="background-color:rgba(77,68,59,1);">
        <thead>
          <tr class="bb-line-gold">
            <th class="text-center pd-v">生产批号</th>
            <th class="text-center pd-v">区域名称</th>
            <th class="text-center pd-v">货位名称</th>
            <th class="text-center pd-v">实际上架数量（{{formData.unit}}）</th>
          </tr>
        </thead>
        <tbody class="bg-white">
          <tr style="background-color:rgba(77,68,59,1);">
            <td class="text-center color-white pd">{{formData.productionBatch}}</td><!-- 生产批号 -->
            <td class="text-center color-white pd">
              <select ng-if="formData.isQualified=='是'"
                      class="inline ipt-new-s"
                      chosen
                      style="width:110px;"
                      data-placeholder=" "
                      ng-model="formData.regionId"
                      select-source="rest/authen/region/queryForSelectOption?type=正常&storeRoomId={{formData.storeRoomId}}">
              </select>
              <select ng-if="formData.isQualified=='否'"
                      class="inline ipt-new-s"
                      chosen
                      style="width:110px;"
                      data-placeholder=" "
                      ng-model="formData.regionId"
                      select-source="rest/authen/region/queryForSelectOption?type=待处理&storeRoomId={{formData.storeRoomId}}">
              </select>
            </td>
            <td  class="text-center color-white pd">
              <!-- <select class="inline ipt-new-s"
                      chosen
                      style="width:120px;"
                      data-placeholder=" "
                      ng-model="formData.goodsLocationId"
                      select-source="rest/authen/goodsLocation/queryForSelectOption?regionId={{formData.regionId}}">
              </select> -->
              <select ajax-url="rest/authen/goodsLocation/queryForSelectOption?regionId={{formData.regionId}}"
                      scope-data="selectOptions"
                      class="inline ipt-new-s"
                      style="width:110px;height:26px;border-radius:2px;"
                      ng-model="formData.goodsLocationId">
                <option ng-repeat="item in selectOptions" value="{{item.value}}">{{item.text}}</option>
              </select>
            </td>

          <td class="text-center color-white pd">
            <input type="number"
                   class="inline ipt pr-ipt-60 text-center"
                   style="width:110px;"
                   onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                   ng-model="formData.shelvesUpQuantity" />
          </td><!-- 本次收货数量 -->
          </tr>
        </tbody>
      </table>
    </div>
    <div class="pd-c-v-l color-9">
      <span>上架人：</span>
      <select ng-if="initFlag" class="inline ipt-new-s"
              chosen
              style="width:120px;"
              data-placeholder=" "
              ng-model="formData.shelfer.id"
              select-source="rest/authen/user/queryForSelectOption">
      </select>
      <span class="mgl-xxl">上架日期：</span>
      <div class="date-icon-outside mgt" >
        <input type="text"
               datepicker
               class="ipt-date ipt color-3"
               ng-readonly="true"
               placeholder=""
               ng-model="formData.shelvesUpDate">
              <span class="date-icon"></span>
      </div>
    </div>
    <div class="outside-div">
        <p class="text-n pd-c-v-s bb-line-gold">商品详细信息：</p>
        <div class="">
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">是否合格品：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.isQualified}}</div>
          </div>
          <div class="inline-block flex-column  pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">库房名称：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.storeRoomName}}</div>
          </div>
          <div class="inline-block flex-column  pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">推荐区域名称：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.regionName}}</div>
          </div>
          <div class="inline-block flex-column  pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">推荐货位编号：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.goodsLocationCode}}</div>
          </div>
          <div class="inline-block flex-column  pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">推荐货位名称：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.goodsLocationName}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">商品编号：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.code}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">商品名称：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.name}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">规格：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.specification}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">基本单位：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.packingAttribute.name}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">配送总数/实收总数：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.deliveryQuantity}}/{{formData.hasReceiveQuantity}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">生产批号：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.productionBatch}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">生产日期：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.productionDate | date : 'yyyy-MM-dd'}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">有效期至：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.validTill | date : 'yyyy-MM-dd'}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">生产厂商：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.manufacturer}}</div>
          </div>
          <div class="inline-block flex-column pd-c-v-s">
            <div class="inline-block flex-item-3 text-right">产地：</div>
            <div class="inline-block flex-item-9 text-left color-white">{{formData.productionPlace}}</div>
          </div>
        </div>
      </div>
    <div class="footer-button-area" style="position:fixed;bottom:0px;">
      <button type="submit" style="margin-left:300px;" class="pr-btn-create-glodbg new-left-side-button" ng-click="modal.closeAll()">确定</button>
    </div>
  </form>
</div>
