<div class="medical-stock supplier-management child-project-management"
     ng-controller="deliveryItemcontroller"
     ng-init="listParams.orderStatus=mainStatus.pageParams.orderStatus;listParams.importExcelType = '配送数据'">
     <table-list list-data="rest/authen/deliveryItem/query.json"
                 list-params="listParams"
                 search-mode="noCaseSensitive"
                 search-param="q">

    <!-- 主内容头部 -->
    <page-main-header-component list-params="listParams"
                                crumbs-nav='[{"name":"销售中心","link":"","style":""},{"name":"配送数据管理","link":"","style":"color-custom-orange"}]'
                                component-title="配送数据管理"
                                get-business-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType">
    </page-main-header-component>
    <!-- 导入按钮 -->
    <div class="text-left inline-block fl">
      <button type="button"
              class="pr-btn-save-glodbg relative pr-indent-20"
              style="height:30px;margin-left:30px;width:100px;"
              ng-init="upFile={}"
              response-list="responseList"
              uploader-one="rest/authen/excelImport/upload"
              params="listParams"
              callback="formData.fileName=upFile.data.originalFileName;$root.utils.refreshHref()"
              usege="Excel导入"
              up-file="upFile"
              ng-model="formData.loadUrl">
              <i class="add-i-icon"></i>
              Excel导入{{upFile.progress<100?"("+upFile.progress+"%)":""}}
      </button>

    </div>
      <!-- 主内容区域 -->
      <div class="content-wrapper" style="margin-top:70px;">
        <div class="content-wrapper-main ">
          <div class="flex-column color-9 pd-c-l pdt-m pdb-m bg-white">
            <div class="flex-item-8">
              <span class="mgr color-999 fl-l">订单创建日期：</span>
              <div class="date-icon-outside fl-l">
                <input type="text"
                       datepicker
                       class="ipt-date pr-short-ipt color-6 mgr pr-indent-10"
                       ng-readonly="true"
                       ng-model="listParams.orderCreateAtBeg"
                       placeholder="">
                <span class="date-icon"></span>
              </div>
               <span class="mg-s-x color-999 fl-l">至</span>
            <div class="date-icon-outside fl-l">
               <input type="text"
                     datepicker
                     class="ipt-date pr-short-ipt color-6 mgr-l pr-indent-10"
                     ng-readonly="true"
                     ng-model="listParams.orderCreateAtEnd"
                     placeholder="">
              <span class="date-icon"></span>
            </div>
            <span class="mgl-l color-999 fl-l">配送日期：</span>
            <div class="date-icon-outside fl-l">
              <input type="text"
                     datepicker
                     class="ipt-date pr-short-ipt color-6 mgr pr-indent-10"
                     ng-readonly="true"
                     ng-model="listParams.deliveryDateBeg"
                     placeholder="">
              <span class="date-icon"></span>
            </div>
             <span class="mg-s-x color-999 fl-l">至</span>
          <div class="date-icon-outside fl-l">
             <input type="text"
                   datepicker
                   class="ipt-date pr-short-ipt color-6 mgr-l pr-indent-10"
                   ng-readonly="true"
                   ng-model="listParams.deliveryDateEnd"
                   placeholder="">
            <span class="date-icon"></span>
          </div>
            </div>
            <div class="flex-item-4 text-right">
              <!-- 搜索 -->
              <div class="order-list-search inline-block text-left code pos-rel-tr pdl-l relative">
                <input type="text" class="ipt pdr-xxl" placeholder="输入商品名相关信息/证号关键字段进行搜索" ng-model="listParams.q">
                <i class=""></i>
              </div>
              <div class="inline-block mgl-m" ng-click="listParams.q=''">
                <i class="fa fa-refresh mgr-s color-light-brown"></i>
                <a href="" class="color-light-brown" >重置搜索条件</a>
              </div>
            </div>
          </div>
          <div custom-table="com.pangu.mss.domain.mongo.DeliveryItem" custom-tr-menus="spd_deliveryItem_query" style="width:100%;">   </div>
        </div>
    </div>
  </table-list>
</div>
