<div class="modal-content right-side-new pr-bg-black4"
     ng-init="formData=dialogData.data">
  <form class="add-customerAddress-form form-horizontal"
        id="validityStrategy_editForm_set"
        name="validityStrategy_editForm_set"
        form-validator
        parameter-body
        action="rest/authen/validityStrategy/save.json"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="$root.watchFormChange('formData',this)"
        novalidate="true">
    <div class="bb-line-gold pr-bg-black2 min-h-l">
      <h1 class="pr-indent-20 pdb-m text-n text-bold" style="line-height:50px;max-height:35px;">设置效期预警天数</h1>
    </div>
    <div class="pd-c-v-l text-n mgt-l" style="padding-top:5px;">
      <span>效期预警天数：</span>
      <input type="text" class="ipt pr-short-ipt pr-bg-black6 color-white" ng-model="formData.guaranteePeriodAlarmDay">
    </div>
    <div class="pd-c-v-l text-n" style="padding-top:0;">
      <span class="block mgb-m">备注：</span>
      <textarea class="pr-textarea pr-bg-black6 color-white border-none text-s" maxlength="240" placeholder="" ng-model="formData.note"></textarea>
    </div>
    <div class="footer-button-area" style="position:fixed;bottom:0px;">
      <button type="submit"
              style="margin-left:340px;"
              class="pr-btn-create-glodbg new-left-side-button"
              ng-click="modal.closeAll()"
              ng-disabled="!formData.guaranteePeriodAlarmDay">确定
      </button>
    </div>
  </form>
</div>
