<page-main-header-component list-params="listParams"
                            crumbs-nav='[{"name":"采购中心","link":"","style":""},{"name":"领用申请单","link":"","style":"color-custom-orange"}]'
                            component-title="领用申请单"
                            get-status-num-url="rest/authen/collarApplicationOrder/countByOrderStatus.json"
                            is-show-create-btn="新建领用申请单"
                            create-new-url="#/collarApplicationOrder/edit.html"
                            status-group-data='[["未提交","待审核","待领取","已完成"],["未通过","已作废"]]'
                            is-show-key-filter=true
                            is-show-date-filter=true
                            search-placeholder-info="单据编号"
                            is-show-business-btn-group=true
                            is-show-department-filter=true
                            get-department-list-url="rest/authen/department/queryForSelectOption"
                            is-show-apply-user-filter=true
                            get-apply-user-list-url="rest/authen/user/queryForSelectOption"
                            get-business-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType">
</page-main-header-component>

<div class="content-wrapper order-center">
  <table-list list-data="rest/authen/collarApplicationOrder/query"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">

    <!-- 主内容区域 -->
    <div class="content-wrapper-main">
      <div ng-if="!status.isLoading">
        <div ng-if="tbodyList.length==0">
          <p class="empty-data text-center"><span class="empty-data-icon"></span></p>
          <p class="text-center">嘿，这里暂时什么内容都没有哦...</p>
        </div>
        <ul ng-if="tbodyList.length" class="li-min-h">
          <li class="pdr-m pdl-m relative confirm-order-list" ng-repeat="tr in tbodyList">
            <div class="mgb-xxl pr-bg-white pr-fuzzy-boundary relative" ng-class="{'pr-bg-grey2':(tr.orderStatus=='已作废')}">
              <div class="relative">
                <div class="flex-column">
                  <span ng-if="tr.orderStatus!='未通过'" class="flex-item-6 title-states text-bold color-3 pd-m">
                    <em>
                        {{tr.orderStatus}}
                    </em>
                  </span>
                  <span ng-if="tr.orderStatus=='未通过'" class="flex-item-6 title-states text-bold color-red pd-m">
                    <em >
                        {{tr.orderStatus}}
                    </em>
                  </span>
                  <span class="flex-item-6 text-right">
                    <span ng-if="tr.orderStatus=='未提交'||tr.orderStatus=='未通过'" >
                      <a href="#/collarApplicationOrder/edit.html?id={{tr.id}}" class="btn-link pd-m rect-s " title="编辑">
                      <span class="edit-link-icon">&nbsp;</span></a>
                      <a ng-if="tr.orderStatus=='未提交' ||tr.orderStatus=='未通过' "
                         href="javascript:;"
                         class="btn-link pd-m rect-s"
                         title="删除"
                         handle-this-click
                         dialog-title="确认删除 ?"
                         dialog-content="您确认删除这条领用申请单吗?"
                         dialog-template="pr-dialog-confirm.html"
                         request-url="rest/authen/collarApplicationOrder/delete?id={{tr.id}}"
                         emitted="reloadList">
                      <span class="delete-link-icon">&nbsp;</span>
                      </a>
                    </span>
                    <span ng-if="tr.orderStatus!='未提交'" class=" text-right">

                      <a ng-if="tr.orderStatus!='待审核'&&tr.orderStatus!='未通过'" href="#/collarApplicationOrder/get.html?id={{tr.id}}" class="btn-link pd-m rect-s " title="查看详情">
                      <span class="watch-detail-icon">&nbsp;</span>
                      </a>
                      <a ng-if="tr.orderStatus=='待领取'&&tr.reviewFlag"
                         href="javascript:;"
                         class="btn-link pd-m rect-s"
                         title="领取"
                         handle-this-click
                         dialog-title="确认领取 ?"
                         dialog-content="您确认领取这条领用申请单吗?"
                         dialog-template="pr-dialog-confirm.html"
                         request-url="rest/authen/collarApplicationOrder/updateStatus?id={{tr.id}}&&orderStatus=已完成"
                         emitted="reloadList">
                      <span class="outStork-icon">&nbsp;</span>
                      </a>
                      <a ng-if="tr.orderStatus=='待领取'&&!tr.reviewFlag"
                         ng-disabled="true"
                         href="javascript:;"
                         class="btn-link pd-m rect-s"
                         title="待该申请单复核完成后才可领取">
                      <span class="outStork-icon">&nbsp;</span>
                      </a>
                      <a ng-if="tr.orderStatus=='待审核'"
                         ng-href="#/collarApplicationOrder/get.html?id={{tr.id}}"
                         title="立即审核"
                         class="btn-link pd-m rect-s "
                         >
                        <span class="examine-approve">&nbsp;</span>
                       </a>
                      <!--工作流控制菜单 -->
                        <button ng-if="$root.utils.getcustomMenuByKeyOfArr(tr.didateFilter.buttons,'列表显示')"
                        workflow-pass-button custom-menu="{{$root.utils.getcustomMenuByKeyOfArr(tr.didateFilter.buttons,'列表显示')}}" >
                      </button>
                  </span>

                </div>

                <div class="card-new">
                    <div class="bt-line">
                      <h1 class="text-center text-m color-3 text-ellips-s">{{tr.departmentName || '暂无'}}</h1>
                    </div>
                    <div class="flex-column qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6">单据编号</span>
                      <span class="flex-item-6 text-right pr-indent-10 autocut-default" title="{{tr.orderCode}}">
                        <strong class="color-black text-normal">{{tr.orderCode}}</strong>
                      </span>
                    </div>
                    <div class="flex-column qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6 text-left">申请日期</span>
                      <span class="flex-item-6 text-right">
                          <strong class="color-black text-normal">{{tr.createAt | date : 'yyyy-MM-dd'}}</strong>
                      </span>
                    </div>
                    <div class="flex-column qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6 text-left">申请人</span>
                      <!-- <span class="flex-item-6 text-right"> -->
                        <span class="flex-item-6 text-right purchaseorder-buyer-info-outside">
                          <strong run-popovers class="color-custom-orange cur-pot text-normal pr-color"
                          style="position:relative;height:25px;">{{tr.applicant.n}}</strong>
                          <span class="purchaseorder-buyer-info" style="top:242px;right:-62px">
                            <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{tr.applicant.p}}</em></i>
                            <i class="block pdb-s text-normal">
                              <em class="fa fa-comment-o mgl"></em>
                              <em class="inline-block pdl pdr pdt">
                                <a href="javascript:;"
                                   modal-center="340"
                                   modal-data='{"toUser":{"n":"{{tr.applicant.n}}"},"userIds":["{{tr.applicant.id}}}"]}'
                                   modal-url="views/notice/sendToUser.html">发送消息
                                </a>
                              </em>
                            </i>
                          </span>
                        </span>
                          <!-- <strong class="color-black text-normal">{{tr.applicant.n || '暂无'}}</strong>
                      </span> -->
                    </div>
                    <div class="flex-column qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6 text-left">条目数</span>
                      <span class="flex-item-6 text-right">
                          <strong class="color-black text-normal">{{tr.fineCount || '暂无'}}</strong>
                      </span>
                    </div>
                    <div ng-if="tr.orderStatus!='未通过'&&tr.orderStatus!='已作废'" class="flex-column qurey text-s color-9 bt-line">
                      <p title="{{tr.note}}" class="text-ellips-s"><span >备注：</span><span class="color-6">{{tr.note}}</span></p>
                    </div>
                    <div ng-if="tr.orderStatus=='未通过'||tr.orderStatus=='已作废'" class="flex-column qurey text-s color-9 bt-line"
                    ng-controller="collarApplicationOrderController"
                    ng-init="initFlag=true;"
                      >
                      <p
                      title="{{tr.operationFlowSet.key}}{{tr.operationFlowSet.message}}"
                      class="text-ellips-s">
                        <span class="color-red">原因：</span>
                        <span class="color-6">
                          <em ng-model="tr.operationFlowSet.key">{{tr.operationFlowSet.key}}</em>
                          <em ng-model="tr.operationFlowSet.message">{{tr.operationFlowSet.message}}</em>
                        </span>
                      </p>
                    </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    <!-- 导航 -->
    <div class="clearfix" ng-if="tbodyList.length">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>
  </table-list>
</div>
</div>
