<div   ng-controller="pageCtrl" class="pd-c-xxxl left-se-side-par "><!-- pageCtrl-->
<div class="page-main-content left-se-side-par">
  <!--body wrapper start-->

    <div class="pd-c-xxl">
         <div class="page-header-info ">

           <p class="mgb bb-line"><a href="#/medicalStock/query.html"><span>返回</span></a>
             库存报表 / <em >库存查询</em> / <em class="color-custom-orange">库存变动明细</em></p>
           <p>
             <em>仓库：</em><em>昆明库-01</em>
           </p>
             <h1 class="color-black text-l ">一次性使用无菌手术刀</h1>

         </div>

         <!-- 主体内容 start-->
         <div class="content-wrapper-main">
           <!-- 搜索框 start-->
           <div class="text-left order-list-search relative">
               <select class="pr-select select-wd mgr-l">
                 <option>最近7天</option>
                 <option>最近10天</option>
                 <option>最近一个月</option>
               </select>
                 <input type="text"
                        datepicker
                        class="ipt pr-short-ipt color-6 mgr"
                        ng-readonly="true"
                        placeholder="日期"
                        ng-model="item.guaranteePeriod">
                  <span class="mgr">至</span>
                  <input type="text"
                        datepicker
                        class="ipt pr-short-ipt color-6 mgr-l"
                        ng-readonly="true"
                        placeholder="日期"
                        ng-model="item.guaranteePeriod">
             <input type="text" class="ipt pdr-xxl mgr" placeholder="单据编号/经手人" ng-model="listParams.q">
             <i class="ipt-i"></i>
           </div>
            <!-- 搜索框 end-->

            <!-- 表格 start -->
                    <div class="pd-c">
                      <table class="table table-striped table-mr table-bordered table-content">
                        <thead class="pr-bg-side">
                          <tr>
                            <th>序号</th>
                            <th>单据日期</th>
                            <th>单据类型</th>
                            <th>单据编号</th>
                            <th>仓库</th>
                            <th>单位</th>
                            <th>经手人</th>
                            <th>入库数量</th>
                            <th>出库数量</th>
                            <th>库存余量</th>
                            <th>成本价</th>
                            <th>成本金额</th>
                          </tr>
                        </thead>
                        <tbody class="pr-bg-white">
                          <tr >
                          <td>1</td>
                          <td>2</td>
                          <td>3</td>
                          <td>4</td>
                          <td>5</td>
                          <td>6</td>
                          <td>7</td>
                          <td>8</td>
                          <td>9</td>
                          <td>10</td>
                          <td>11</td>
                          </tr>
                          <tr class="bgco-orange color-white">
                            <td colspan="7" class="text-right">合计：</td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
            <!-- 表格 end -->

           <!-- 主体内容 end -->
         </div>

    </div>
  <!--body wrapper end-->
</div>
</div>
