<div ng-if="leftSideisShow" id="page-side" class="left-se-side left-side sticky-left-side" nice-scroll >
<!-- serch start -->

<!-- serch end -->

  <div ng-if="$root.curUser.name"  class="left-side-inner left-se-side-w pos-abs">

<div>
    <select class="pr-select pdt" chosen
    ng-model="listParams.warehouseStocksCode" default-empty="无"
    select-source="rest/authen/warehouse/queryForSelectOption">
    </select>
</div>


    <h1 class="med-list"> 商品类别</h1>



  <div  tree-list2="rest/authen/medicalAttribute/query?pageSize=9999" pid-key="parentId"
   alert-error>

   <!--递归模版 -->
   <script id="recursion" type="text/ng-template">
       <li ng-repeat="item in treeList_recursion" ng-init="hildrenDivId='parent_'+item.id;foldClassId='foldClassId_'+item.id"
        class='pd-s li-active'>
         <a  href="" class="nav-order color-or" ng-click="extendTree2($event,hildrenDivId,foldClassId,'pr-arrow-se-up')">
           <span> {{item.name}}</span>
           <span id="{{foldClassId}}" class="pos-abs posr"
             ng-class="{'pr-arrow-se-down': item.nodes.length>0}"


           ></span>
         </a>
           <ul id="{{hildrenDivId}}"  ng-if="item.nodes.length" ng-include="'recursion'"  ng-init="treeList_recursion=item.nodes;tree_index=tree_index+1">

           </ul>
       </li>
   </script>


  <ul ng-if="treeList.length"  ng-include="'recursion'"  ng-init="treeList_recursion=treeList;tree_index=1">

     </ul>


  </div><!--tree-list2-->

  </div>
</div>
</div>
