<div ng-controller="pageCtrl" class="medical-stock pd-c-xxxl left-se-side-par ">
  <div class="page-main-content left-se-side-par">

    <ng-include src="'views/medicalStock/left-second-side.html'" class="pos-abs left-se-side-par"></ng-include>

    <div class="pd-c-xxl pr-pos">
       <div class="page-header-info ">
         <p class="mgb-l crumbs pr-indent-20">库存报表 / <em class="color-custom-orange">库存查询</em></p>
         <div ng-if="listParams.medicalAttributeId"
              ajax-url="rest/authen/medicalAttribute/get?id={{listParams.medicalAttributeId}}"
              scope-data="showData1"
              alert-error>
           <h1 class="color-black text-l">
             {{showData1.name}}
         </h1>
        </div>
       </div>
       <!-- 主体内容 start-->
       <div class="content-wrapper-main mgt clearfix">
          <!-- 表格 start -->
          <div class="pd-c"
               scope-data="showData"
               alert-error>
           <table-list list-data="rest/authen/medicalStock/query.json"
                       list-params="listParams"
                       search-mode="noCaseSensitive"
                       search-param="q">

            <div class="text-left order-list-search relative">
              <input type="text" class="ipt pdr-xxl" placeholder="商品编号/商品代码/商品全名/注册证号" ng-model="listParams.q">
              <i class="serch-i"></i>
            </div>

             <!-- 主内容头部 -->
            <!-- <div class="content-wrapper-heading h-l mgb-m mgt-m pdb-s mgr relative"></div> -->

            <!-- 主内容区域 -->
            <div class="outside-table-d pr-bg-white pr-fuzzy-boundary mgt" ><!-- outside-table-d -->
              <table class="table pr-table pr-new-table pr-table-content  table-wid ">    <!-- table-wid -->
                <thead class="pr-bg-side">
                  <tr>
                    <th>商品编号</th>
                    <th>商品代码</th>
                    <th class="w-220">商品名称</th>
                    <th>规格/型号</th>
                    <th>商品分类编码</th>
                    <th>商品分类名称</th>
                    <th>单位</th>
                    <th>注册证号</th>
                    <th>可用数量</th>
                    <th>现存数量</th>
                    <th>其中冻结数量</th>
                    <th>其中锁定数量</th>
                    <th>其中待处理数量</th>
                    <th>到货/在检数量</th>
                    <th>采购在途数量</th>
                    <th>已请购数量</th>
                    <th>预计入库数量</th>
                    <th>销售订单数量</th>
                    <th>待发货数量</th>
                    <th>预计出库数量</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-if="tbodyList.length"
                      ng-repeat="tr in tbodyList track by $index"
                      ng-init=''
                      medical-stock-mouse-over
                      mouse-over-buttons-json=
                    '[{"title":"库存明细","url":"#/medicalStock/getByCodeAndOrganization.html?relMedicalStockId="+tr.id+"&warehouseCode="+listParams.warehouseStocksCode,
                      "className":"circle-icon2 pos-abs pr-icon-arrow-left"},
                      {"title":"变动明细","url":"#/medicalStock/queryInoutstockDetailChange.html?code="+tr.code+"&warehouseCode="+listParams.warehouseStocksCode+"&name="+tr.name,
                    "className":"circle-icon pos-abs pr-icon-bg11"}]'>
                    <td>{{tr.code}}</td>
                    <td>{{tr.goodsCode}}</td>
                    <td class="text-left ">
                      <div class="autocut" title="{{tr.name}}">
                        {{tr.name}}
                      </div>
                    </td>
                    <td>{{tr.specificationAndModelType}}</td>
                    <td>{{tr.medicalAttribute.code}}</td>
                    <td>{{tr.medicalAttribute.name}}</td>
                    <td>{{tr.unit}}</td>
                    <td>{{tr.drugAdministrationCode}}</td>
                    <td class="text-right">{{tr.stockModel.salesQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.quantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.freezeQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.lockingQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.handleQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.beingCheckedQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.purchaseInWayQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.purchaseRequisitionQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.inStockQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.confirmOrderQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.shippedQuantity || '0'}}</td>
                    <td class="text-right">{{tr.stockModel.outStockQuantity || '0'}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pr-bg-white" ng-if="!tbodyList.length">
              <div class="empty-table clearfix">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
              </div>
            </div>


            <!-- 分页 -->
            <div class="clearfix body-bg">
              <div class="fr body-bg">
                <pagination status="status"></pagination>
              </div>
            </div>
           </table-list>
          <!-- 表格 end -->
               <!-- 主体内容 end -->
          </div>
        </div>
    </div>
  </div>
</div>
