<!--<table-list list-data="rest/authen/nearEffectPeriod/query.json"-->
            <!--list-params="listParams"-->
            <!--list-object="listObject"-->
            <!--search-mode="noCaseSensitive"-->
            <!--search-param="q">-->
<div class="sale-return-order right-side pr-bg-black3">
    <div class="sale-bg">
        <!-- 头部信息 -->
        <div class="relative ">
            <div class="mgb-l pd-c-l pdt pdb pr-font-14 color-light-brown entry-detailed-btm">操作记录</div>

           <div class="mgb-l pd-c-l pdt pdb pr-font-14 color-light-brown entry-detailed-btm">
               <table class="table pr-table pr-new-table pr-table-content">
                   <thead class="pr-bg-side">
                   <tr>
                       <th>操作人</th>
                       <th>操作日期</th>
                       <th>操作内容</th>
                       <th>原因</th>
                   </tr>
                   </thead>
                   <tbody>
                   <tr ng-if="tbodyList.length"
                       ng-repeat="tr in tbodyList track by $index"
                       class="relative"
                       table-item-multiple-btn>
                       <td>1</td>
                       <td>2</td>
                       <td>3</td>
                       <td>4</td>
                   </tr>
                   </tbody>
               </table>
           </div>
            <!-- 功能按钮 -->
            <div class="sales-btn-area-2nd relative">
                <div class="btn-area full-width text-center">

                    <button type="button"
                            ng-click="handleTypeChange()"
                            class="pr-btn-save-glodbg mgr-l"
                            ng-disabled="groupFlag || yearMonthGroupFlag"
                            style="width:160px;">确定
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--</table-list>-->
