<!--仓库主管报表-->
<div class="index-order-personal-info flex-row text-center">


    <div class="index-order-create-title pr-index-line-title flex-row">
        <span class="flex-item-5"></span>
        <span class="flex-item-2">仓库主管-报表统计</span>
        <span class="flex-item-5"></span>
    </div>

    <!-- 左侧内容 -->
    <div class="flex-item-5">

        <!--品种类别当前库存金额 -->
        <div class="panel pr-panel pr-panel-height mgr-m mgb-m pr-fuzzy-boundary pd-n flex-row salesOrder-module">

            <div class="flex-item-12 salesOrder-module-analysis"
                style="height: 380px;"
            >

                <h4 class="bb-line pd-v-m pr-panel-title-color">品种类别当前库存金额(万元)</h4>

                <div class="flex-row">
                    <div chart="data/demoData/warehouseSupervisor/inventoryAmount.json" style="height: 300px; width: 100%"></div>
                </div>
            </div>
        </div>

    </div>

    <!-- 出入库订单月报 -->
    <div class="flex-item-7">
        <div class="panel pr-panel pr-panel-height pr-fuzzy-boundary pd-n confirmOrder-module" style=" height: 380px">

            <!-- 销售额比较 -->
            <div>
                <div class="flex-row pd-c-s pdt">
                    <h4 class=" flex-item-12 bb-line pd-v-m pr-panel-title-color" style="    padding: 10px 0;">出入库订单月报</h4>
                    <!--<h4 class="flex-item-4 mgt text-left pr-indent-15 pr-panel-title-color">订单录入统计月报-按天统计 </h4>-->
                    <!--<div class="flex-item-8 text-right">-->
                        <!--&lt;!&ndash; <span class="mgr"><i class="chart-tip-icon pr-icon-bg-green"></i> 今年</span>-->
                        <!--<span><i class="chart-tip-icon pr-icon-bg-grey"></i> 去年</span> &ndash;&gt;-->
                        <!--<div class="btn btn-group" style="display: none">-->
                            <!--<select ng-init="countPriceGroupByCreateAt4Echarts_dateRangeType='recent30day'" ng-model="countPriceGroupByCreateAt4Echarts_dateRangeType" class="select pr-select pr-select-sm" style="width:90px;">-->
                                <!--&lt;!&ndash; <option value="today">今天</option> &ndash;&gt;-->
                                <!--&lt;!&ndash;<option value="recent7day">最近7天</option>&ndash;&gt;-->
                                <!--<option value="recent30day">最近30天</option>-->
                                <!--&lt;!&ndash;<option value="year">今年</option>&ndash;&gt;-->
                            <!--</select>-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
                <div chart="data/demoData/warehouseSupervisor/inventoryAdjustmentOrder.json" style="height: 345px;"></div>
            </div>
        </div>
    </div>

</div>
