/*关于报损报溢模块*/
.loss-over-order .ipt-date,
.loss-over-order .select,
.sale-return-order .ipt-date,
.sale-return-order .select,
.freeze-thaw-order  .ipt-date,
.freeze-thaw-order  .select,
.woutstock-order .ipt-date,
.woutstock-order  .select
{
  width: 120px;
  height: 28px;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 2px;
}
.loss-over-order select+div,
.sale-return-order select+div,
.freeze-thaw-order select+div,
.woutstock-order select+div
{
  margin-right: 20px;
}
.loss-over-order .ipt,
.sale-return-order.ipt,
.freeze-thaw-order .ipt,
.woutstock-order .ipt
{
  width: 286px;
  height: 30px;
  border:1px solid rgba(199,167,123,1);
}
.loss-over-order .order-list-search > i,
.sale-return-order .order-list-search > i,
.woutstock-order .order-list-search > i
{
  left: 840px;
}
.freeze-thaw-order .order-list-search > i,
.woutstock-order .order-list-search > i
{
  left: 820px;
}
.loss-over-order .pr-btn-create-glodbg[disabled],
.sale-return-order .pr-btn-create-glodbg[disabled],
.freeze-thaw-order .pr-btn-create-glodbg[disabled],
.woutstock-order .pr-btn-create-glodbg[disabled]
{
    color: #fff !important;
    background-color: #e5e5e5 !important;
}
.card-new>div
{
  min-height: 50px;
  padding: 15px 10px 10px 10px;
}
.circle-ss>span{
  display: inline-block;
  width: 4px;
  height:4px;
  background-color: rgba(199,167,123,0.55);
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(199,167,123,0.55);
}
.loss-over-order .purchaseorder-buyer-info,
.freeze-thaw-order .purchaseorder-buyer-info
{
    top: 35px;
    left:84%;
}
.loss-over-order .purchaseorder-buyer-info:before,
.freeze-thaw-order .purchaseorder-buyer-info:before
{
    top:-5px;
    left:78%;
}
.loss-over-order .select-wd,
.sale-return-order .select-wd
{
  width: 120px;
  height: 28px;
}
.btn-reject
{
  display: inline-block;
  width: 88px;
  height: 36px;
  line-height: 24px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
  background: rgba(255,56,56,0.80);
  border-radius: 100px;

}
.btn-pass{
  display: inline-block;
  width: 160px;
  height: 36px;
  line-height: 24px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
  background: #C7A77B;
  border-radius: 100px;

}
.btn-reject a,
.btn-pass a{
  display: inline-block;
  text-align: center;
  line-height: 36px;
  width: 100%;
  height: 100%;
  color: #fff;
}
/*特殊处理*/
.handle-btn-area > .btn-area-new {
  display: inline-block;
  float: right;
  padding: 0 20px;
  background: rgba(54,48,44,.3);
  min-height: 56px;
  padding-top: 10px
}
.handle-btn-area > .btn-area-new > a {
  float: right;
  display: inline-block;
  height: 100%;
  line-height: 56px;
}
.loss-over-order .t--12,
.sale-return-order .t--12,
.freeze-thaw-order .t--12,
.woutstock-order .t--12
{
  top: -12px;
}
.loss-over-order .left-40,
.sale-return-order .left-40,
.freeze-thaw-order .left-40,
.woutstock-order .left-40
{
  left: 40px;
}
.loss-over-order .left--40,
.sale-return-order .left--40,
.freeze-thaw-order .left--40,
.woutstock-order .left--40
{
  left: -40px;
}
.loss-over-order .t-100,
.sale-return-order .t-100,
.freeze-thaw-order .t-100,
.woutstock-order .t-100
{
  top: 100px;
}
.loss-over-order .z-index-l,
.sale-return-order .z-index-l,
.freeze-thaw-order .z-index-l,
.woutstock-order .z-index-l
{
  z-index: 9999;
}
.loss-over-order .serch-i,
.sale-return-order .serch-i,
.freeze-thaw-order .serch-i,
.woutstock-order .serch-i
{
    position: absolute;
    right: 10px;
    top: 3px;
    color: #999;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../images/pr-sprites.png);
    background-repeat: no-repeat;
    background-position: -252px -3px;
}
.top-s{
  top: 5px!important;
}
/*销售退货模块*/

/*query页面卡片上的删除编辑查看详情等图标的小边框*/
.min-h-m{
  min-height: 30px;
}
.rect-s{
  display: inline-block;
  width: 46px;
  height: 46px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

/*删除按钮*/
.sale-return-order span.delete-link-icon {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -115px -425px;
}
/*编辑按钮*/
.sale-return-order span.edit-link-icon {
  display: inline-block;
  width: 46px;
  height: 46px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -114px -363px;
}
/*生成出库按钮*/
.sale-return-order span.nav-ico{
  display: inline-block;;
  width: 46px;
  height: 46px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -113px -1043px;
}
.sale-return-order span.outStork-icon{
  display: inline-block;
  width: 46px;
  height: 46px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -235px -175px;
}

/*查看详情按钮*/

.sale-return-order span.watch-detail-icon{
  display: inline-block;
  width: 46px;
  height: 46px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -235px -112px;

}

/*移入样式改变*/
/*特殊处理*/
.mr--4{
    margin-right: -4px;
}
.rect-s:hover{
    background: rgba(199,167,123,0.80);
}
.sale-return-order .watch-detail-icon:hover{
  background-position: -300px -112px;
}
.sale-return-order .outStork-icon:hover{
  background-position: -300px -175px;
}
.sale-return-order .edit-link-icon:hover{
  background-position: -176px -363px;
}
.sale-return-order .delete-link-icon:hover{
  background-position: -176px -425px;
}

.sale-return-order .add-return-order{
  cursor: pointer;
}
.sale-return-order .ngdialog-close:before{
  top: 20px!important;
}
