/*关于报损报溢模块*/
.loss-over-order .ipt-date,
.loss-over-order .select,
.freeze-thaw-order  .ipt-date,
.freeze-thaw-order  .select
{
  width: 120px;
  height: 28px;
  background: #FFFFFF;
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 2px;
}
.loss-over-order select+div,
.freeze-thaw-order select+div
{
  margin-right: 20px;
}
.loss-over-order .ipt,
.freeze-thaw-order .ipt
{
  width: 286px;
  height: 30px;
  border:1px solid rgba(199,167,123,1);
}
.loss-over-order .order-list-search > i
{
  left: 840px;
}
.freeze-thaw-order .order-list-search > i
{
  left: 820px;
}
.loss-over-order .pr-btn-create-glodbg[disabled],
.freeze-thaw-order .pr-btn-create-glodbg[disabled]
{
    color: #fff !important;
    background-color: #e5e5e5 !important;
}
.card-new>div
{
  min-height: 50px;
  padding: 15px 10px 10px 10px;
}
.circle-ss>span{
  display: inline-block;
  width: 4px;
  height:4px;
  background-color: rgba(199,167,123,0.55);
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(199,167,123,0.55);
}
.loss-over-order .purchaseorder-buyer-info,
.freeze-thaw-order .purchaseorder-buyer-info{
    top: 35px;
    left:84%;
}
.loss-over-order .purchaseorder-buyer-info:before,
.freeze-thaw-order .purchaseorder-buyer-info:before
{
    top:-5px;
    left:78%;
}
.loss-over-order.select-wd{
  width: 302px;
  height: 28px;
}
.btn-reject
{
  display: inline-block;
  width: 88px;
  height: 36px;
  line-height: 24px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
  background: rgba(255,56,56,0.80);
  border-radius: 100px;

}
.btn-pass{
  display: inline-block;
  width: 160px;
  height: 36px;
  line-height: 24px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
  background: #C7A77B;
  border-radius: 100px;

}
.btn-reject a,
.btn-pass a{
  display: inline-block;
  text-align: center;
  line-height: 36px;
  width: 100%;
  height: 100%;
  color: #fff;
}
/*特殊处理*/
.handle-btn-area > .btn-area-new {
  display: inline-block;
  float: right;
  padding: 0 20px;
  background: rgba(54,48,44,.3);
  min-height: 56px;
  padding-top: 10px
}
.handle-btn-area > .btn-area-new > a {
  float: right;
  display: inline-block;
  height: 100%;
  line-height: 56px;
}
.loss-over-order .t--12,
.freeze-thaw-order .t--12
{
  top: -12px;
}
.loss-over-order .left-40,
.freeze-thaw-order .left-40
{
  left: 40px;
}
.loss-over-order .left--40,
.freeze-thaw-order .left--40
{
  left: -40px;
}
.loss-over-order .t-100,
.freeze-thaw-order .t-100
{
  top: 100px;
}
.loss-over-order .z-index-l,
.freeze-thaw-order .z-index-l
{
  z-index: 9999;
}
.loss-over-order .serch-i{
    position: absolute;
    right: 10px;
    top: 3px;
    color: #999;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../images/pr-sprites.png);
    background-repeat: no-repeat;
    background-position: -252px -3px;
}
.top-s{
  top: 5px!important;
}
