/* 150px的输入框 表格中输入框 */
.pr-short-ipt {
  width: 160px;
	height: 30px;
}
.first-medical-application .popover-content{
	padding: 4px 14px!important;
}
.first-medical-application .form-horizontal .control-label{
padding-top: 3px;
}
.first-medical-application .ipt-new,
.first-medical-application .select-new{
	height: 28px;
	width: 334px;
	box-sizing: border-box;
	padding: 5px 10px;
	border-radius: 4px;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,0.2);
	outline: 0;
}
.first-medical-application .ipt-new-s{
	width: 150px;
}
.first-medical-application  .date-icon-outside{
  display: inline-block;
  position: relative;
  width: 150px;
  height: 26px;
  background-color: rgba(255, 255, 255, .8);
  border: 1px solid rgba(0,0,0,0.2);
  border-radius: 4px
}
.pr-ipt-60 {
  width: 60px;
}
.pr-short-ipt.in-table {
  height: 21px;
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #b2b2b2;
}
.chosen-container-single .chosen-single {
  height: 28px !important;
  line-height: 28px !important;
}
.chosen-container-single .chosen-single div b {
  background: url('../../images/chosen-sprite.png') no-repeat 0px 4px !important;
}

/* 消息气泡 */
.pj-badge{
  display: inline-block;
  min-width: 18px;
  height: 18px;
  background-color: #ff4917;
  opacity: .8;
  text-align: center;
  line-height: 16px;
  color: #fff;
  border-radius: 9px;
  font-size: 10px;
  position: absolute;
  z-index: 2;
  top: -8px;
  right: 0px;
  box-shadow: 0 0 6px rgba(255, 0, 0, .75);
  padding: 0 5px;
}

/* 登陆与注册按钮 */
.pr-btn-login {
  border-radius: 21px;
  background-color: #c7a77b;
  color: #fff;
  font-size: 14px;
  outline: none;
}
.pr-btn-login:hover, .pr-btn:active, .pr-btn:focus {
  color: #fff;
  outline: none;
}
.pr-btn-login.disabled,
.pr-btn-login[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
  background-color: #e5e5e5;
}
/* 首页新品推荐模块 */
.new-goods-recommend > div {
  /*height: 15.5em;*/
  line-height: 0.8em;
}
/* 销售主管页面样式 */
.sale-manager .sale-item-info,
.repertory-manager .sale-item-info {
  height: 94px;
  padding-top: 24px;
}
/* 首页面商品货运状态样式 */
.sale-manager .transport-status > div:first-child > i,
.repertory-manager .transport-status > div:first-child > i {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -165px -540px;
}
.sale-manager .transport-status > div:nth-child(2) > i,
.repertory-manager .transport-status > div:nth-child(2) > i {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -165px -631px;
}
.sale-manager .transport-status > div:last-child > i,
.repertory-manager .transport-status > div:last-child > i {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -165px -830px;
}
/* 验收主页面 */
.check-manager .check-item-info {
  height: 141px;
  padding-top: 45px;
}
.check-manager .transport-status > div:first-child > i {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -165px -757px;
}
.check-manager .transport-status > div:last-child > i {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -165px -626px;
}
/* 总经理首页 */
.general-manager .general-peichart {
  position: relative;
  top: 30px;
}
/* 改版首页模块样式 */

/* 采购单模块 */
.purchase-order .content-wrapper-main ul li div p.purchase-order-details-note,
.arrivalNotaice-order .content-wrapper-main ul li div p.arrivalNotaice-order-details-note,
.loss-over-order .content-wrapper-main ul li div p.loss-over-order-details-note,
.sale-return-order .content-wrapper-main ul li div p.sale-return-order-details-note,
.woutstock-order .content-wrapper-main ul li div p.loss-over-order-details-note
{
  display: inline-block;
  width: 100%;
  height: 15px;
  overflow: hidden;
  line-height: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* 采购单query页采购员信息弹出层样式 */
span.popovers:hover, span.popovers > .purchaseorder-buyer-info:hover {
  display: inline-block;
}

.popover{
	z-index: 11!important;
}
.arrivalNotaice-order .purchaseorder-buyer-info:before,
.sale-return-order .purchaseorder-buyer-info:before
{
	top: 17px;
	left: 46%;
	border-top: none;
	border-right: none;
	border-bottom:1px solid #ccc;
	border-left:1px solid #ccc;
}

/* 首营品种新建流程图 */
.first-medical-application .first-medical-nav > span {
  margin-left: 10px;
  font-size: 14px;
}
.first-medical-application .first-medical-nav > span:nth-child(1):before {
  content: '1';
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  border: 1px solid #666;
  display: inline-block;
  margin-right: 5px;
}
.first-medical-application .first-medical-nav > span:nth-child(2):before {
  content: '2';
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  border: 1px solid #666;
  display: inline-block;
  margin-right: 5px;
}
.first-medical-application .first-medical-nav > span:nth-child(3):before {
  content: '3';
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  border: 1px solid #666;
  display: inline-block;
  margin-right: 5px;
}
.first-medical-application .first-medical-nav > span.active:before {
  color: #fff;
  background-color: #c7a77b;
  border-color: #c7a77b;
}
.first-medical-application span.current-status {
  position: relative;
}
.first-medical-application span.current-status strong {
  position: absolute;
  top: -15px;
  right: -15px;
  font-weight: normal;
  background-color: #f5f0d3;
  padding: 15px 14px 15px 15px;
}
.first-medical-application .w-335 {
  width: 335px!important;
}
.first-medical-application .w-203 {
  width: 203px!important;
}
/* 首营添加资料按钮 */
.pr-add-circle > span:before {
  color: #c7a77b;
  font-size: 30px;
}
/*首营品种详情页面审核意见流程*/
.first-medical-nav-new{
	display: inline-block;
	width: 100%;
}
.first-medical-nav-new>div:first-child{
	width: 12%!important;
}
.first-medical-nav-new>div:not(:last-child){
	position: relative;
	display: inline-block;
	float: left;
	padding: 11px 0px;
	width: 11%;
	height: auto;
	background-color: #fff;
	float: left;
}
.first-medical-nav-new>div:nth-child(2){
	width: 16%;
}
.first-medical-nav-new>div:first-child>div:first-child{
	display: none;
}
.first-medical-nav-new>div:last-child{
	/*position: relative;
	display: inline-block;
	float: left;*/
	background-color:  rgba(255,255,255,0.00);
	box-shadow: 4px 0px 4px 0px rgba(0,0,0,0.11);
	height: 102px;
	/*width: 28%;*/
}
.first-medical-nav-new>div:not(:last-child){
	margin-right: 40px;
}
.first-medical-nav-new>div>span{
	display: inline-block;
	width: 100%;
	text-align: center;
	padding: 2px 0px;
}
.first-medical-nav-new>div:not(:last-child)>div:last-child{
	position: absolute;
	right: -25px;
	top: 0px;
	width: 0;
	height: 0;
	border-top: 52px solid transparent;
	border-left: 25px solid white;
	border-bottom: 52px solid transparent;
}
.first-medical-nav-new>div:not(:first-child)>div:first-child
{
	position: absolute;
  left: -25px;
  top: 0px;
  width: 0;
  height: 0;
  border-top: 52px solid white;
  border-left: 25px solid transparent;
  border-bottom: 51px solid white;
}


/* 医院资格申请 */
/*医院采购目录添加药械隐藏添加数量输入框*/
.hospital-application label {
	font-weight: normal;
}
.hospital-application .medical-num,
.allocate-order .import-medical-list,
.allocate-order .medical-num
{
	display: none;
}
.hospital-application a.edit-link-icon,
.medical-stock a.edit-link-icon
{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -128px -376px;
}
.hospital-application a.watch-link-icon,
.medical-stock  a.watch-link-icon
{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
	background-position: -251px -3165px;
}
.hospital-application a.examine-approve-link-icon,
.medical-stock  a.examine-approve-link-icon
{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
	background-position: -128px -869px;
}
.hospital-application a.delete-link-icon,
.medical-stock  a.delete-link-icon
{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -128px -438px;
}
/*.hospital-application .chosen-container-single .chosen-single,
.first-medical-application .chosen-container-single .chosen-single{
  height: 36px !important;
  line-height: 36px !important;
}*/
.hospital-application a.batch-delete-btn {
	position: relative;
	border: 1px solid rgba(0,0,0,0.10);
	color: #fff;
	padding: 3px 15px;
	text-align: center;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	text-indent: 20px;
	background-color: #c7a77b;
}
.hospital-application a.batch-delete-btn[disabled] {
	color: #999;
	background-color: #fff;
	cursor: not-allowed;
}
.hospital-application a.batch-delete-btn em.fa-trash-o {
	position: absolute;
  top: 6px;
  left: -5px;
  font-size: 16px;
}


.hospital-application .chosen-container-single .chosen-single div b,
.first-medical-application .chosen-container-single .chosen-single div b {
  background: url('../../images/chosen-sprite.png') no-repeat 0px 5px !important
}
/*
.first-medical-application .pr-short-ipt{
  height: 36px!important;
}*/

/*上传附件按钮样式定义*/
.upload-btn{
		color: rgba(255,140,0,1);
    background-color: transparent;
    border: none;
}

/*工作流表格展示*/
.pr-modal-process .modal-body{
width: 1090px;
padding-left: 0;
padding-right: 0;
}

.pr-modal-process canvas+div{
  padding-top: 3%;
  /*background: rgba(199,167,123,0.10);*/
}
.pr-modal-process table{
  font-family: PingFangSC-Regular;
  margin-left: 10%;
  margin-top: 20px;
  width: 80%;

}
.pr-modal-process lable
,.pr-modal-process .modal-title
{
  color:#666;
  font-family: PingFangSC-Medium;
  font-size: 14px;
}
.pr-modal-process lable{
  padding-left: 100px;
}
.pr-modal-process table th{
  font-size: 12px;
  color: #999;
}

.pr-modal-process table td{
  font-size: 12px;
  color: #666;
}
.pr-modal-process .modal-header{
  background-color: #fff;
}
.pr-modal-process .table-parent,.pr-modal-process table tr:hover{
  background: rgba(199,167,123,0.10);
  height: 100%;
}
.pr-modal-process .table-parent{
  padding-top: 20px;
}
/*库存*/
.pr-pos{
  position: absolute;
  left: 270px;
  width: 85%;
}
.table-mr{
  margin-left: -10px;
}
.ipt-bor-r{
  border-radius: 0px;
}

.medical-w{
  width: 80%;
}
.select-wd{
  height: 28px;
  width: 160px;
  box-sizing: border-box;
  padding: 5px 10px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #d2d2d5;
  outline: 0;
}
.ipt-i{
  left:703px!important;
}
.mgl-stock-l{
  margin-left: 200px;
}
/*库存模块按钮定义*/
 a.me-stock-link-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -128px -376px;
}
.ipt-r{
  position: absolute;
  right: 0px;
}

.ipt-r > i{
right: 10px!important;
}
.ipt-r-i{
  position: absolute;
  right: 15px;
}

.out-ipt-div{
  position: relative;;
  width: 150px;
	float: right;
	margin-top: 1px;
}
.out-ipt-div>i{
  position: absolute;
  right: 20px;
}
.chosen-container {
	top: -2px;
}
/*库存下拉框样式*/
.left-se-side .chosen-container{
  padding-top: 15px;
  margin-left: 15px;
  width: 80%!important;
}
.left-se-side .chosen-container .chosen-single,
.left-se-side .chosen-drop,
.left-se-side .chosen-search
.left-se-side .chosen-results
{
  background-color: white!important;
  z-index: 10;

}
.med-list{
  border-bottom: 1px solid #c7a77b;
  padding: 15px 8px;
  font-size: 14px;
  color: #c7a77b;
}
.bg-c{
  background-color: #efd993!important;
}
.bg-grey11{
	background: rgba(215,215,215,0.25);
}
.td-bordered td{
border: 1px solid #ddd;
}
.tr-hover tr:hover{
  background-color: #f7f4e9!important;
}
.body-bg{
  background-color: #f3f1ec;
}

.salesOrder-edit table.pr-table > tbody input.item-quantity,
.view-medical table.pr-table > tbody input.item-quantity
 {
  background-color: transparent;
}
.salesOrder-edit table.pr-table > thead,
.view-medical table.pr-table > thead
 {
  background: rgba(239,165,0,0.25);
}
.salesOrder-edit table.pr-table > tbody > tr:hover,
.view-medical table.pr-table > tbody > tr:hover
 {
  background: rgba(255,241,192,0.78);
}

.salesOrder-edit table.pr-table > tbody > tr > td,
.view-medical table.pr-table > tbody > tr > td
 {
  line-height: 30px;
}
.salesOrder-edit .sales-order-item-delbtn,
.view-medical .sales-order-item-delbtn,
.loss-over-order .sales-order-item-delbtn,
.freeze-thaw-order .sales-order-item-delbtn,
.create-new-order .sales-order-item-delbtn
{
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 32px;
  height: 32px;
  background: rgba(255,56,56,0.95);
  box-shadow: 0 1px 4px 0 #F54440;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -184px -432px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
.salesOrder-edit .sales-order-item-delbtn > div.sales-order-confirm-del-area,
.view-medical .sales-order-item-delbtn > div.sales-order-confirm-del-area,
.loss-over-order .sales-order-item-delbtn > div.sales-order-confirm-del-area,
.freeze-thaw-order .sales-order-item-delbtn > div.sales-order-confirm-del-area,
.create-new-order .sales-order-item-delbtn > div.sales-order-confirm-del-area
 {

  margin-top: 10px;
  border: 1px solid #c7a77b;
  width: 150px;
  height: 85px;
  position: absolute;
  top: 28px;
  left: -108px;
  z-index: 110;
  display: none;
}
.salesOrder-edit .sales-order-item-delbtn > div:last-child,
.view-medical .sales-order-item-delbtn > div:last-child,
.loss-over-order .sales-order-item-delbtn > div:last-child,
.freeze-thaw-order .sales-order-item-delbtn > div:last-child,
.create-new-order .sales-order-item-delbtn > div:last-child
 {
  margin-top: 10px;
  border: 1px solid #c7a77b;
  display: none;
}

.salesOrder-edit .sales-order-item-delbtn > div.sales-order-confirm-del-area:before,
.view-medical .sales-order-item-delbtn > div.sales-order-confirm-del-area:before,
.loss-over-order .sales-order-item-delbtn > div.sales-order-confirm-del-area:before,
.freeze-thaw-order .sales-order-item-delbtn > div.sales-order-confirm-del-area:before,
.create-new-order .sales-order-item-delbtn > div.sales-order-confirm-del-area:before
 {
  content: ' ';
  position: absolute;
  top: -6px;
  right: 20px;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #fff;
  transform: rotate(-45deg);
  border-color: #c7a77b;
  border-top: 1px solid #c7a77b;
  border-right: 1px solid #c7a77b;
}
/* 新版销售单样式 */
.confirm-order-edit span.show-total {
  display: inline-block;
  height: 100%;
  position: absolute;
  left: -200px;
  line-height: 30px;
}
.confirm-order-edit div.total {
  background: rgba(209,143,0,0.05);
}
.ipt-w{
  width: 100px;
}

.pd-loss-l{
  padding:0 20px 20px 20px;
}

/* 新版面包屑样式 */
.crumbs {
  border-bottom: 1px solid rgba(226,222,202,.9);
  background: rgba(234, 230, 219, 0.8);
}
/*圆角面包屑*/
.crumbs-circle {
	border-radius: 20px;
  border-bottom: 1px solid rgba(199,167,123,0.2);
  background: rgba(199,167,123,0.2);
}


/* 操作结果提示 */
.toast-top-center {
	top: 45px !important;
	text-align: center;
}
#toast-container>div {
	padding: 8px 15px 8px 50px !important;
}
#toast-container.toast-top-center>div {
	display: inline-block;
	width: auto !important;
	min-width: 118px;
}
.toast-success {
	background-color: rgba(90, 195, 0, .8) !important;
	-moz-box-shadow: 0 0 12px rgba(90, 195, 0, .8) !important;
	-webkit-box-shadow: 0 0 12px rgba(90, 195, 0, .8) !important;
	box-shadow: 0 0 12px rgba(90, 195, 0, .8) !important;
}
.toast-warning {
	background-color: rgba(255, 140, 0, .8) !important;
	-moz-box-shadow: 0 0 12px rgba(255, 140, 0, .8) !important;
	-webkit-box-shadow: 0 0 12px rgba(255, 140, 0, .8) !important;
	box-shadow: 0 0 12px rgba(255, 140, 0, .8) !important;
}
/*上传附件删除附件出现的遮罩层及删除按钮等*/
.span-mask{
	display: inline-block;
	text-align: center;

	background-color:rgba(229, 229, 229, .8);
	z-index: -1;
}
.span-mask .circle-s,
.p-mask-text .circle-s
{
	background-color: white;
}
.p-mask-text{
	display: inline-block;
	width: auto;
	min-height: 50px;
	background-color: inherit;
}
.a-mask-text{
	display: block;
	width: 100px;
	height: 90px;
	color: #ff8c00;
	word-break: break-word;
	white-space: normal;
	line-height: 15px;
}
.p-mask-text:hover {
	background-color:rgba(229, 229, 229, .8);

}

.p-mask-text span{
	z-index: -1;
}

.p-mask-text:hover span{
	z-index: 100;
}
.show-mask:hover span
{
	z-index: 100;
}
.show-big-img{
	position: absolute;
	top: 20px;
	left: 15px;
}
.reupload{
	position: absolute;
	top: 40px;
	left: 15px;
	cursor: pointer;
}
.reupload-text{
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
}
.del-btn{
	color:rgba(245,68,64,1);
	font-size: 18px;
	position: absolute;
	top: -8px;
	right: -8px
}
.del-btn>i{
	top: 0;
	left: 0;
}


/*关于报损报溢模块*/
/*表格自动换行*/
.loss-over-order .pr-new-table td,
.freeze-thaw-order .pr-new-table td
{
word-break: break-all;/*必须*/
}
.loss-over-order .pr-new-table th,
.freeze-thaw-order .pr-new-table th
{
word-break: keep-all;/*必须*/
}

.loss-over-order select+div,
.sale-return-order select+div,
.freeze-thaw-order select+div,
.woutstock-order select+div
{
  margin-right: 20px;
}
.loss-over-order .ipt,
.freeze-thaw-order .ipt,
.woutstock-order .ipt
{
  width: 286px;
  height: 28px;
  border:1px solid rgba(199,167,123,1);
}
.loss-over-order .pr-btn-create-glodbg[disabled],
.sale-return-order .pr-btn-create-glodbg[disabled],
.freeze-thaw-order .pr-btn-create-glodbg[disabled],
.woutstock-order .pr-btn-create-glodbg[disabled]
{
    color: #fff !important;
    background-color: #e5e5e5 !important;
}
.card-new > div {
  padding: 15px;
}
.card-new h1 {
  width: auto;
	line-height: 22px;
}
.circle-ss>span{
  display: inline-block;
  width: 4px;
  height:4px;
  background-color: rgba(199,167,123,0.55);
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(199,167,123,0.55);
}
.loss-over-order .purchaseorder-buyer-info,
.freeze-thaw-order .purchaseorder-buyer-info
{
    top: 35px;
    right:2%;
}
.loss-over-order .purchaseorder-buyer-info:before,
.freeze-thaw-order .purchaseorder-buyer-info:before
{
    top:-5px;
    left:78%;
}
.loss-over-order .select-wd,
.sale-return-order .select-wd,
.freeze-thaw-order .select-wd
{
  width: 120px;
  height: 28px;
}
.loss-over-order .select-wd-new,
.freeze-thaw-order .select-wd-new{
	width: 302px;
}
.btn-reject
{
  display: inline-block;
  width: 88px;
  height: 36px;
  line-height: 36px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
	color: white;
	margin-left: 15px;
  background: rgba(255,56,56,0.80);
  border-radius: 100px;

}
/*冻结按钮*/
.btn-freeze
{
  display: inline-block;
  width: 88px;
  height: 36px;
  line-height: 36px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
	color: white;
	margin-left: 15px;
  /*background: rgba(49,213,235,0.8);*/
  border-radius: 100px;

}
.btn-pass{
  display: inline-block;
  width: 160px;
  height: 36px;
  line-height: 24px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
  background: #C7A77B;
  border-radius: 100px;

}
.btn-reject a,
.btn-pass a{
  display: inline-block;
  text-align: center;
  line-height: 36px;
  width: 100%;
  height: 100%;
  color: #fff;
}
/*特殊处理*/
.handle-btn-area > .btn-area-new {
  display: inline-block;
  float: right;
  padding: 0 20px;
  background: rgba(54,48,44,.3);
  min-height: 56px;
  padding-top: 10px
}
.handle-btn-area > .btn-area-new > a {
  float: right;
  display: inline-block;
  height: 100%;
  line-height: 56px;
}
.z-index-l
{
  z-index: 9999;
}
a.btn-link {
  display: inline-block;
  float: right;
}

/*销售退货模块*/

/*query页面卡片上的删除编辑查看详情等图标的小边框*/
.min-h-m{
  min-height: 30px;
}
.min-h-l{
  min-height: 50px;
}
.rect-s,
.btn-link:active,
.btn-link:focus {
  display: inline-block;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.add-return-order{
  cursor: pointer;
}
.ngdialog-close:before{
  /*top: 20px!important;*/
}
.pr-new-short-ipt{
  width: 115px;
}

/*收发货方地址样式*/
.color-href{
  color:rgba(255,140,0,1);
}
.address-div{
  padding:10px 20px;
}
.address-div >span{
/*font-family: PingFangSC-Medium;*/
font-size: 12px;
color: #333333;
line-height: 2.4;
padding-right: 10px;
}
.address-div:hover{
  /*cursor: pointer;*/
  background: rgba(255,241,192,0.80);
}
.set-defualt-text{
  margin-left: 10px;
  color:rgba(255,140,0,1)!important;
  display: none;
}
.address-div:hover .set-defualt-text{
  display: inline-block;
}

.address-div i.consignee-default-label{
  display: inline-block;
  width: 36px;
  height: 20px;
  color: #fff;
  background: rgba(209,143,0,0.50);
  border-radius: 3px;
  text-align: center;
  line-height: 20px;
}
.address-span{
  display: inline-block;
}

/*修改首映企业查询列表页面样式*/
.first-enterprise-application .circle-ss-outspan{
  width: 50px;
  height: 50px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
}

.first-enterprise-application .circle-ss{
  position: relative;
  right: 15px;
  top: 13px;
}
.first-enterprise-application .purchaseorder-buyer-info{
  top: 33px;
  right:-33px;
}
.first-enterprise-application .purchaseorder-buyer-info-outside .purchaseorder-buyer-info{
  top: 235px;
  right: -60px;
}
.first-medical-application .purchaseorder-buyer-info-outside .purchaseorder-buyer-info,
.hospital-application .purchaseorder-buyer-info-outside .purchaseorder-buyer-info{
	top: 289px;
	right: -65px;
}
.right-side-new{
  background-color: #36302C;
  color: #c2a278;
  height:100%;
  margin: 0px;
}
.right-side-new .footer-button-area {
	width: 100%;
	height: 56px;
	background-color: #322d2a;
  box-shadow: 0px 2px 4px 0px;
	position: absolute;
	bottom: 0;
}
.right-side-new .right-side-container ul li {
	width: 100%;
	height: 58px;
	line-height: 58px;
}
.right-side-new .right-side-container ul li:hover {
	background-color: #5C5049;
}
.right-side-new .footer-button-area button.new-left-side-button {
	margin-left: 50%;
	margin-top: 12px;
	transform: translate(-50%);
}


.pr-bg-black4{
	background-color: #494340;

}
.right-side{
  color: #c2a278;
  height:100%;
  margin: 0px;
}
.first-enterprise-application .ngdialog-content{
  background-color: #494340!important;
}
.first-enterprise-application .another-table th,tr{
  min-height: 30px;
  line-height: 30px;
}

/* 物流信息详情dialog样式 */
.express-dialog-info-details {
  font-size: 14px;
}
.express-dialog-info-details .page-content .tab-heading {
  /*padding-top: 15px;*/
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(113,113,113,0.57);
	width: auto;
}
.express-dialog-info-details .page-content .outside-heading {
	position: relative;
	padding-top: 10px;
	border: 1px solid rgba(199,167,123,0.60);
	width: 600px;
	height: 43px;
	overflow: hidden;
}
.express-dialog-info-details .page-content .tab-heading ul{
	margin-top: -4px;
	height: 43px;
	/*overflow-x: hidden;*/
	white-space:nowrap;
}
.express-dialog-info-details .page-content .tab-heading ul li {
	/*border-left: 1px solid rgba(199,167,123,0.60);*/
  display: inline-block;
  padding-left: 21px;
  padding-right: 21px;
  position: relative;
}
.express-dialog-info-details .page-content .tab-heading ul li:first-child {
  margin-left: 30px;
}
.express-dialog-info-details .page-content .tab-heading ul li a {
  display: block;
  color: #fff;
  width: 100%;
  position: relative;
}
.express-dialog-info-details .page-content .tab-heading ul li a.active {
  color: #C7A77B;
}
.express-dialog-info-details .page-content .tab-heading ul li a.active:hover {
  color: #C7A77B;
}
.express-dialog-info-details .page-content .tab-heading ul li a.active:after {
  content: ' ';
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #c7a77b;
  position: absolute;
  bottom: -15px;
  left: 0;
}
.express-dialog-info-details .page-content .tab-heading ul li a:hover {
  color: #FF8C00;
}
.express-dialog-info-details .page-content .tab-heading ul li:after {
  content: '|';
  color: rgba(0,0,0,0.10);
  position: absolute;
  top: 0;
  right: -3px;
}
.express-dialog-info-details .page-content .tab-heading ul li:last-child:after {
  color: #f4f1e9;
}
.express-dialog-info-details .page-content .tab-content {
  padding: 20px;
}
.express-dialog-info-details .page-content .tab-content ul li {
  height: 35px;
  line-height: 35px;
  text-indent: 15px;
}
.express-dialog-info-details .page-content .tab-content ul li > span {
  width: 9px;
  height: 9px;
  display: inline-block;
  border-radius: 50%;
  background-color: #b5b5b5;
  position: relative;
  top: -2px;
  left: -15px;
}
.express-dialog-info-details .page-content .tab-content ul li > span:before {
  content: ' ';
  display: block;
  width: 1px;
  height: 12px;
  border: none;
  background-color: rgba(255,255,255,0.10);
  position: absolute;
  top: -12px;
  left: 4px;
}
.express-dialog-info-details .page-content .tab-content ul li > span:after {
  content: ' ';
  display: block;
  width: 1px;
  height: 14px;
  border: none;
  background-color: rgba(255,255,255,0.10);
  position: absolute;
  top: 9px;
  left: 4px;
}
.express-dialog-info-details .page-content .tab-content ul li > span.first-info:after {
  background-color: #f4f1e9;
}
.express-dialog-info-details .page-content .tab-content ul li > span.last-info:before {
  background-color: #f4f1e9;
}
.express-dialog-info-details .page-content .tab-content .exp-bill-info {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid rgba(0,0,0,0.10);
  border-bottom: 1px solid rgba(0,0,0,0.10);
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
}
/*移入显示左右按钮*/
.button-left
{
	display: none;
	position: absolute;
	top: 0px;
	z-index: 100;
	/*display: inline-block;*/
	width: 26px;
	height: 41px;
	background: rgba(199,167,123,0.30);
	box-shadow: -2px 0px 4px 0px rgba(0,0,0,0.14);
}
.button-left:hover,
.button-right:hover
{
	cursor: pointer;
}
.triggle-left{
	display: inline-block;

}
.button-left:before{
		border-radius: 3px;
    color:rgba(199,167,123,1);
    content: '\25C0';
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    line-height: 26px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 5px;
    width: 30px;

	}
.button-right:before{
		border-radius: 3px;
    color:rgba(199,167,123,1);
    content: '\25B6';
    font-size: 15px;
    font-weight: 400;
    height: 50px;
    line-height: 26px;
    position: absolute;
    right: -2px;
    text-align: center;
    top: 5px;
    width: 30px;
	}
.button-right
{
	display: none;
	position: absolute;
	top: 0px;
	right: 0px;
	z-index: 100;
	/*display: inline-block;*/
	width: 26px;
	height: 41px;
	background: rgba(199,167,123,0.30);
	box-shadow: -2px 0px 4px 0px rgba(0,0,0,0.14);
}
/* 表格行功能按钮样式新版 */
.table-item-handle-btn {
	display: inline-block;
  position: absolute;
	top: 0;
	left: 0;
  width: 30px;
  height: 30px;
  background: rgba(255,56,56,0.8);
  box-shadow: 0 0 6px 0 rgba(255, 56, 56, 1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -308px -433px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
	z-index: 1;
	display: none;
}
.table-item-handle-btn > div.table-item-confirm-del-area {
	margin-top: 10px;
  width: 150px;
  height: 85px;
  position: absolute;
  top: 28px;
  left: -108px;
  z-index: 110;
	text-align: center;
  display: none;
	background: rgba(255, 255, 255, .8);
	box-shadow: 0 0 10px rgba(199, 167, 123, .7);
}
.table-item-handle-btn > div:last-child {
	margin-top: 6px;
	/*display: none;*/
}
.table-item-handle-btn > div.table-item-confirm-del-area:before {
	content: ' ';
	position: absolute;
	top: -6px;
	right: 20px;
	width: 10px;
	height: 10px;
	display: inline-block;
	background-color: #fff;
	transform: rotate(-45deg);
	border-color: #c7a77b;
	border-top: 1px solid #c7a77b;
	border-right: 1px solid #c7a77b;
}

/* 地址选择组件中选中地址信息的背景颜色 */
.addressComponent-active-bg {
	background-color: rgba(255,241,192,0.80);
}

/* 重定义底部fixed按钮组中a标签模拟button样式 */
.alink-likeBtn > a {
	background-color: rgba(255,56,56,0.80);
  color: #fff;
  min-width: 95px;
  min-height: 35px;
	font-size: 12px;
	line-height: 20px;
}
.alink-likeBtn > a:hover,
.alink-likeBtn > a:active {
	background-color: rgba(255,56,56,0.80);
	color: #fff;
}

/*品种管理页面*/
.medical-stock .purchaseorder-buyer-info{
	position:absolute;
	right: 1px;
	top: -20px;
	display: none;
	background-color: white;
	z-index: 1;
	-webkit-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
	box-shadow: 0px 0px 2px 0px rgba(199,167,123,0.50);
}

.medical-stock .purchaseorder-buyer-info:before{
	top: 18px;
	left: 50%;
	border-bottom: 1px solid rgba(199,167,123,0.50);
	border-left: 1px solid rgba(199,167,123,0.50);
	border-top: none;
	border-right: none;
}
/*品种管理状态显示圆图形*/
.circle-status{
display: inline-block;
width: 12px;
height: 12px;
border-radius: 50%;
}
.circle-status{
	cursor: pointer;
}
.circle-status:hover .purchaseorder-buyer-info{
	display: block;
}
.bg-pass-green{
	background-color: rgba(90,195,0,1);
}
.bg-freeze-blue{
	background-color: rgba(19,182,254,1);
}
.bg-freeze-orange{
	background-color: rgba(255,186,0,100);
}
.bg-end-red{
	background-color: rgba(255,18,18,1);
}
.bg-ing-orang{
	background-color: rgba(254,119,0,1);
}
.bg-unend-grey{
	background-color: rgba(216,216,216,1);
}
/*删除按钮*/
.circle-icon-del{
  border-radius: 50%;
	background: rgba(255,56,56,0.95);
	box-shadow: 0px 1px 4px 0px #F54440;
}
.del-btn-red{
  width: 32px;
  height: 32px;
	margin-left: -50px;
  background: rgba(255,56,56,0.8);
  box-shadow: 0 0 6px 0 rgba(255, 56, 56, 1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -307px -434px;
}
/*编辑按钮*/
.circle-icon-edit{
  border-radius: 50%;
	background: rgba(54,48,44,0.70);
  box-shadow: 0px 1px 4px 0px #000000;
}
.edit-btn{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: -35px;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
  background-position:-308px -369px;
}
.more-btn{
	display: inline-block;
	width: 32px;
	height: 32px;
	margin-left: -20px;
	background-image: url(../../images/more.png);
	background-repeat: no-repeat;
  background-position: 8px 15px;
}
/*重置搜索条件小icon*/
.serch-reset>i{
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../../images/reset.png);
	background-repeat: no-repeat;
	background-position: 8px 20px;
}
.serch-reset:hover{
	cursor: pointer;
}
/* 采购凭证详情中下载PDF图标样式 */
.uploader-PDF-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
  background-position: -370px -495px;
	position: relative;
  top: 16px;
}
/* 提示小tips */
.pr-tips {
	position: absolute;
  top: 23px;
  left: -30px;
  padding: 3px 8px;
  border: 1px solid #ccc;
  color: #333;
  width: 66px;
  background-color: #fff;
  border-radius: 3px;
}
.disabled{
	cursor: not-allowed;
	color:#e5e5e5;
}

/* 医院信息管理、批发零售商管理表格按钮样式 */
.child-project-management .table-item-multiple-btn {
  display: none;
  position: absolute;
  width: 120px;
  height: 32px;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;
}
.child-project-management .table-item-multiple-btn div.handle-btn {
	width: 33px;
	height: 33px;
	display: inline-block;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	text-align: center;
	cursor: pointer;
}
.child-project-management .table-item-multiple-btn div.handle-btn:nth-child(1) {
	background-color: rgba(255,56,56,0.95);
	box-shadow: 0px 1px 4px 0px #F54440;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
  background-position: -183px -432px;
}
.child-project-management .table-item-multiple-btn div.handle-btn:nth-child(2) {
	background-color: rgba(54,48,44,0.70);
	box-shadow: 0px 1px 4px 0px #000000;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
  background-position: -183px -369px;
}
.child-project-management .table-item-multiple-btn div.handle-btn:nth-child(3) {
	background-color: rgba(54,48,44,0.70);
	box-shadow: 0px 1px 4px 0px #000000;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
  background-position: -369px -616px;
}
.child-project-management .table-item-multiple-btn div.del-confirm-area {
	position: absolute;
  top: 40px;
  left: -48px;
  width: 140px;
	background-color: rgba(255,255,255,0.90);
	box-shadow: 0px 0px 6px 0px rgba(199,167,123,0.55);
	border-radius: 4px 0px 0px 0px 4px 4px 4px;
	display: none;
}
.child-project-management .table-item-multiple-btn div.del-confirm-area:before {
	content: ' ';
	position: absolute;
	top: -5px;
  left: 44%;
  width: 8px;
  height: 8px;
	display: inline-block;
	background-color: #fff;
	transform: rotate(-45deg);
	border-color: rgba(199,167,123,0.55);
	border-top: 1px solid rgba(199,167,123,0.55);
	border-right: 1px solid rgba(199,167,123,0.55);
}
.child-project-management .table-item-multiple-btn div.handle-area {
	position: absolute;
	top: 40px;
  left: -20px;
  width: 75px;
	background-color: rgba(255,255,255,0.90);
	box-shadow: 0px 0px 6px 0px rgba(199,167,123,0.55);
	border-radius: 4px 0px 0px 0px 4px 4px 4px;
	display: none;
}
.child-project-management .table-item-multiple-btn div.handle-area > a {
	display: block;
	width: 100%;
	color: #c7a77b;
	padding: 5px 0;
}
.child-project-management .table-item-multiple-btn div.handle-area > a:not(:last-child) {
	border-bottom: 1px dashed #c7a77b;
}
.child-project-management .table-item-multiple-btn div.handle-area:before {
	content: ' ';
	position: absolute;
	top: -5px;
  left: 44%;
  width: 8px;
  height: 8px;
	display: inline-block;
	background-color: #fff;
	transform: rotate(-45deg);
	border-color: rgba(199,167,123,0.55);
	border-top: 1px solid rgba(199,167,123,0.55);
	border-right: 1px solid rgba(199,167,123,0.55);
}

.btn-new-wid-hei{
	width: 160px;
	height: 32px;
}
/*銷售單有關多倉庫的樣式定義*/
.addImg{
	display: inline-block;
  position: absolute;
  top: 3px;
  left: 150px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -125px -1px;
  width: 24px;
  height: 24px;
  margin: 0 auto;
}
.addImg:hover{
	cursor: pointer;
}
/*销售单有关多仓库的功能div模拟input框，样式*/
.ipt-div{
	background-color: white;
	border:1px solid #e2e2e2;
	width: 180px;
	height: 32px;
	border-radius: 2px;

}

.in_ipt{
	width:60px;
	height:30px;
	float:right;
	border:none;
	text-align:center;
}
.out-content{
	position: relative;
	width: 100%;
	height: auto;
	text-align: center;
}
.pr-bt-line{
	border-bottom: 1px solid rgba(209,143,0,0.20);
}
/* 新版销售单样式 */
.confirm-edit div.customer-name,
.invoices-order div.customer-name,
.sale-return-order div.customer-name,
.purchase-return-order div.supplier-name,
.arrivalNotaice-order div.supplier-name,
.confirm-order-edit div.customer-name,
.purchaseOrder-edit div.supplier-name,
.salesOrder-edit div.customer-name,
.confirm-edit div.logistics-center,
.sale-return-order div.logistics-center,
.arrivalNotaice-order div.logistics-center,
.confirm-order-edit div.logistics-center,
.allocate-order div.logistics-center-out,
.allocate-order div.logistics-center-in,
.purchaseOrder-edit div.logistics-center,
.salesOrder-edit div.logistics-center,
.invoices-order div.logistics-center
{
	padding: 15px 10px 18px 82px;
}
.confirm-edit div.customer-name:before,
.sale-return-order div.customer-name:before,
.salesOrder-edit div.customer-name:before,
.confirm-order-edit div.customer-name:before,
.allocate-order div.customer-name:before,
.invoices-order div.customer-name:before
 {
	content: ' ';
	position: absolute;
	top: 18px;
	left: 20px;
	width: 48px;
	height: 48px;
	display: inline-block;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
  background-position: -363px -796px;
}
.purchase-return-order div.supplier-name:before,
.purchaseOrder-edit div.supplier-name:before,
.arrivalNotaice-order div.supplier-name:before
{
	content: ' ';
	position: absolute;
	top: 18px;
	left: 20px;
	width: 48px;
	height: 48px;
	display: inline-block;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
	background-position: -363px -857px;
}



.confirm-edit div.logistics-center:before,
.sale-return-order div.logistics-center:before,
.arrivalNotaice-order div.logistics-center:before,
.confirm-order-edit div.logistics-center:before,
.allocate-order div.logistics-center-out:before,
.allocate-order div.logistics-center-in:before,
.invoices-order div.logistics-center:before,
.purchaseOrder-edit div.logistics-center:before
{
	content: ' ';
	position: absolute;
	top: 18px;
	left: 20px;
	width: 48px;
	height: 48px;
	display: inline-block;
	background-image: url(../../images/pr-sprites.png);
	background-repeat: no-repeat;
  background-position: -363px -733px;
}
.allocate-order div.arrow-y:before{
	content: ' ';
	position: absolute;
	top: 21%;
  left: 43%;
  width: 28px;
  height: 28px;
	transform: rotate(90deg);
	display: inline-block;
	background-image: url(../../images/arrow-y.png);
	background-repeat: no-repeat;
}
.invoices-order div.logistics-center:before,
.arrivalNotaice-order div.logistics-center:before,
.confirm-order-edit div.logistics-center:before,
.confirm-edit div.logistics-center:before,
.sale-return-order div.logistics-center:before,
.purchaseOrder-edit div.logistics-center:before {
	background-position: -363px -671px;
}
.allocate-order div.logistics-center-out:before{
		background-position: -363px -917px;
}
.allocate-order div.logistics-center-in:before{
		background-position: -363px -976px;
}
.circle-xs{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 50%;
}
.modal-body>div{
	margin-top: 10px;
}
