/*关于报损报溢模块*/
.ipt-date,
.loss-over-order .select,
.sale-return-order .select,
.freeze-thaw-order  .select,
.woutstock-order  .select
{
  position: relative;;
  z-index: 9999;
  width: 125px;
  height: 28px;
  opacity: 0.1;
  border: 1px solid rgba(0,0,0,0.10);
  border-radius: 2px;
}
.loss-over-order select+div,
.sale-return-order select+div,
.freeze-thaw-order select+div,
.woutstock-order select+div
{
  margin-right: 20px;
}
.loss-over-order .ipt,
.sale-return-order.ipt,
.freeze-thaw-order .ipt,
.woutstock-order .ipt
{
  width: 286px;
  height: 30px;
  border:1px solid rgba(199,167,123,1);
}
.loss-over-order .order-list-search > i,
.sale-return-order .order-list-search > i,
.woutstock-order .order-list-search > i
{
  left: 840px;
}
.freeze-thaw-order .order-list-search > i,
.woutstock-order .order-list-search > i
{
  left: 820px;
}
.loss-over-order .pr-btn-create-glodbg[disabled],
.sale-return-order .pr-btn-create-glodbg[disabled],
.freeze-thaw-order .pr-btn-create-glodbg[disabled],
.woutstock-order .pr-btn-create-glodbg[disabled]
{
    color: #fff !important;
    background-color: #e5e5e5 !important;
}
.card-new > div {
  padding: 15px;
}
.card-new h1 {
  width: auto;
}
.circle-ss>span{
  display: inline-block;
  width: 4px;
  height:4px;
  background-color: rgba(199,167,123,0.55);
  border-radius: 50%;
  box-shadow: 0 1px 1px 0 rgba(199,167,123,0.55);
}
.loss-over-order .purchaseorder-buyer-info,
.freeze-thaw-order .purchaseorder-buyer-info
{
    top: 35px;
    right:2%;
}
.loss-over-order .purchaseorder-buyer-info:before,
.freeze-thaw-order .purchaseorder-buyer-info:before
{
    top:-5px;
    left:78%;
}
.loss-over-order .select-wd,
.sale-return-order .select-wd
{
  width: 120px;
  height: 28px;
}
.btn-reject
{
  display: inline-block;
  width: 88px;
  height: 36px;
  line-height: 36px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
  background: rgba(255,56,56,0.80);
  border-radius: 100px;

}
.btn-pass{
  display: inline-block;
  width: 160px;
  height: 36px;
  line-height: 24px;
  -webkit-border-radius: 18px;
  border-radius: 18px;
  border: none;
  outline: none;
  background: #C7A77B;
  border-radius: 100px;

}
.btn-reject a,
.btn-pass a{
  display: inline-block;
  text-align: center;
  line-height: 36px;
  width: 100%;
  height: 100%;
  color: #fff;
}
/*特殊处理*/
.handle-btn-area > .btn-area-new {
  display: inline-block;
  float: right;
  padding: 0 20px;
  background: rgba(54,48,44,.3);
  min-height: 56px;
  padding-top: 10px
}
.handle-btn-area > .btn-area-new > a {
  float: right;
  display: inline-block;
  height: 100%;
  line-height: 56px;
}
.t--12
{
  top: -12px;
}
.left-40
{
  left: 40px;
}
.left--40
{
  left: -40px;
}
.t-100
{
  top: 100px;
}
.z-index-l
{
  z-index: 9999;
}
.serch-i
{
    position: absolute;
    right: 5px;
    top: 3px;
    color: #999;
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../../images/pr-sprites.png);
    background-repeat: no-repeat;
    background-position: -252px -808px;
}
.top-s{
  top: 5px!important;
}
a.btn-link {
  display: inline-block;
}

/*销售退货模块*/

/*query页面卡片上的删除编辑查看详情等图标的小边框*/
.min-h-m{
  min-height: 30px;
}
.min-h-l{
  min-height: 50px;
}
.rect-s{
  display: inline-block;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
/*.rect-m{
  display: inline-block;
  width: 46px;
  height: 46px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}*/
/*删除按钮*/
 span.delete-link-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -251px -437px;
}
 span.create-arrive-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -128px -2234px!important;
}
/*编辑按钮*/
 span.edit-link-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -252px -375px;
}
/*生成出库按钮*/
 span.nav-ico{
  display: inline-block;;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -113px -1043px;
}
 span.outStork-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -128px -2048px;
}

/*查看详情按钮*/

 span.watch-detail-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -251px -3165px;
}
/*审批按钮*/
span.examine-approve{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -128px -869px;
}

/*查看物流按钮*/

 span.View-Logistics-icon{
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -126px -313px;

}

/*立即按钮*/

span.send-icon{
   display: inline-block;
   width: 20px;
   height: 20px;
   background-image: url(../../images/pr-sprites.png);
   background-repeat: no-repeat;
   background-position: -251px -3412px;
}


/*移入样式改变*/
/*特殊处理*/
.mr--4{
    margin-right: -4px;
}
.mr--14{
    margin-right: -14px;
}
.rect-s:hover{
    background: rgba(199,167,123,0.80);
}
.rect-s:hover .watch-detail-icon{
  background-position: -201px -3165px;
}
.rect-s:hover .send-icon{
  background-position: -313px -3412px;
}
.rect-s:hover .outStork-icon{
  background-position: -190px -2048px;
}
.rect-s:hover .edit-link-icon{
  background-position: -189px -375px;
}
.rect-s:hover .View-Logistics-icon{
  background-position: -188px -313px;
}
.rect-s:hover .delete-link-icon{
  background-position: -190px -438px;
}
.rect-s:hover .create-arrive-icon{
  background-position: -189px -2234px!important;
}
.rect-s:hover .examine-approve{
  background-position: -189px -869px;
}

.add-return-order{
  cursor: pointer;
}
.ngdialog-close:before{
  top: 20px!important;
}


/*表格上部分空白样式*/
.empty-panel{
  width: 100%;
  height: auto;
  padding: 20px 15px;
}
.empty-panel>span{
    display: inline-block;
    padding-top: 12px;
    background: rgba(199,167,123,0.10);
}
.empty-panel>span:first-child{
  width: 50%;
  margin-bottom: 10px;
}
.empty-panel>span:nth-child(2){
  width: 75%;
  margin-bottom: 10px;
}
.empty-panel>span:nth-child(3){
  width: 100%;
}

/*表格内容空白样式*/
.empty-table{
  width: 100%;
  height: auto;
  padding:0 15px 5px 15px;
  background: rgba(255,231,163,0.10);
}
.empty-table>span{
  display: inline-block;
  padding-top: 6px;
  background: rgba(243,241,236,1);
}
.empty-table>span:first-child{
  width: 100%;
}
.empty-table>span:nth-child(2){
  width: 75%;
}
.empty-table>span:nth-child(3){
  width: 50%;
}


/*日期插件上放小图标*/
.date-icon-outside{
  display: inline-block;
  position: relative;
  width: 125px;
  background-color: white;
}
.date-icon-outside span.date-icon{
  position: absolute;
  z-index: 1000;
  display: inline-block;
  width: 20px;
  height: 20px;
  top: 2px;
  right: 10px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -128px -1118px;
}
.pr-new-short-ipt{
  width: 115px;
}

/*收发货方地址样式*/
.color-href{
  color:rgba(255,140,0,1);
}
.address-div{
  padding:10px 20px;
}
.address-div >span{
/*font-family: PingFangSC-Medium;*/
font-size: 12px;
color: #333333;
line-height: 2.4;
padding-right: 10px;
}
.address-div:hover{
  /*cursor: pointer;*/
  background: rgba(255,241,192,0.80);
}
.set-defualt-text{
  margin-left: 10px;
  color:rgba(255,140,0,1)!important;
  display: none;
}
.address-div:hover .set-defualt-text{
  display: inline-block;
}

.address-div i.consignee-default-label{
  display: inline-block;
  width: 36px;
  height: 20px;
  color: #fff;
  background: rgba(209,143,0,0.50);
  border-radius: 3px;
  text-align: center;
  line-height: 20px;
}
.address-span{
  display: inline-block;
}

.radio{
    position: relative;
    display: inline-block;
    font-weight: 900;
    /*border: 1px solid rgba(199,167,123,1);*/
    color: #fff;
    padding-left: 25px;
    cursor: pointer;
}
 .radio input{
    position: absolute;
    left: -9999px;
}
 .radio i{
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    width: 15px;
    height: 15px;
    outline: 0;
    border: 1px solid #979797;
    background: #fff;
    border-radius: 50%;
    transition: border-color .3s
    -webkit-transition: border-color .3s;
}
 .radio input:checked+i{
    border-color: #fff;
    border: 1px solid rgba(199,167,123,1);
}
.radio input+i:after{
    position: absolute;
    content: '';
    top: 2px;
    left: 2px;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: rgba(199,167,123,1);
    opacity: 0;
    transition: opacity .1s;
    -webkit-transition: opacity .1s;
}
.radio input:checked+i:after{
    opacity: 1;
}

/*修改首映企业查询列表页面样式*/
.first-enterprise-application .circle-ss-outspan{
  width: 46px;
  height: 46px;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  display: inline-block;
  top: -30px;
}

.first-enterprise-application .circle-ss{
  position: relative;
  right: 12px;
  top: 10px;
}
.first-enterprise-application .purchaseorder-buyer-info{
  top: 33px;
  right:-33px;
}
.first-enterprise-application .purchaseorder-buyer-info-outside .purchaseorder-buyer-info{
  top: 222px;
  right: -60px;
}
.right-side-new{
  background-color: #494340;
  color: #c2a278;
  height:100%;
  margin: 0px;
  /*padding-top: 20px;*/
}
.right-side{
  color: #c2a278;
  height:100%;
  margin: 0px;
}
.first-enterprise-application .ngdialog-content{
  background-color: #494340!important;
}
.first-enterprise-application .another-table th,tr{
  min-height: 30px;
  line-height: 30px;
}

/* 销售出库单详情页下面的快递部分样式 */
.woutstock-order .woutstock-order-express ul {
  padding: 0 0 15px 0;
}
.woutstock-order .woutstock-order-express ul > li.express-list {
  display: inline-block;
  width: 130px;
  height: 130px;
  background-color: #fff;
  text-indent: 0;
  border-right: 1px dashed #e2e2e2;
}
.woutstock-order .woutstock-order-express ul > li.add-btn {
  background-color: #ECECEC;
  color: #fff;
  position: relative;
  top: -54px;
  left: -4px;
}
.woutstock-order .woutstock-order-express ul > li.add-btn a {
  display: block;
  width: 100%;
  height: 100%;
}
.woutstock-order .woutstock-order-express ul > li.add-btn span.fa-plus {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 50px;
  transform: translateX(-50%) translateY(-35%);
  color: #fff;
}
.woutstock-order .woutstock-order-express ul > li a {
  height: 100%;
  margin-right: 5px;
}
.woutstock-order .woutstock-order-express ul > li a em.circle {
  position: relative;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff8c00;
}
.woutstock-order .woutstock-order-express ul > li.express-info {
  background-color: #fff;
  position: relative;
  top: -3px;
  left: -4px;
  padding: 5px;
  border-left: 1px solid #ececec;
  text-align: center;
}
.woutstock-order .woutstock-order-express ul > li.express-info input {
  width: 100%
}
.woutstock-order .woutstock-order-express ul > li div.edit-del-btn {
  position: absolute;
  top: 18px;
  width: 60px;
  height: auto;
  background-color: #f5f5f5;
  text-align: center;
}
.woutstock-order .woutstock-order-express ul > li div.edit-del-btn:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  background-color: #f5f5f5;
  position: absolute;
  right: 10px;
  top: -2px;
}
