.ipt {
    height: 36px;
    width: 280px;
    box-sizing: border-box;
    padding: 5px 10px;
    margin-bottom: 2px;
    border-radius: 3px;
    background-color: #FFF;
    border: 1px solid #AAA;
    outline: 0;
}

.select {
    padding: 6px 12px;
    height: 36px;
    box-sizing: border-box;
    background: #FFF;
    border: 1px solid #AAA;
    outline: 0;
}

.select-w {
    width: 280px;
}

.select-block {
    width: 100%;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.fm {
    overflow: hidden;
    *zoom: 1;
}

.vcenter {
    vertical-align: middle;
}

.middle {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-pack: center;
    -webkit-box-align: center;
    /*display: box;*/
    box-orient: horizontal;
    box-pack: center;
    box-align: center;
}

.mg-s {
    margin: 5px 0;
}

.mg {
    margin: 10px 0;
}

.mg-m {
    margin: 15px 0;
}

.mg-l {
    margin: 20px 0;
}

.mgt-s {
    margin-top: 5px;
}

.mgt {
    margin-top: 10px;
}

.mgt-m {
    margin-top: 15px;
}

.mgt-l {
    margin-top: 20px;
}

.mgt-xl {
    margin-top: 30px;
}

.mgt-xxl {
    margin-top: 40px;
}

.mgt-xxxl {
    margin-top: 50px;
}

.mgb-s {
    margin-bottom: 5px;
}

.mgb {
    margin-bottom: 10px;
}

.mgb-m {
    margin-bottom: 15px;
}

.mgb-l {
    margin-bottom: 20px;
}

.mgr-s {
    margin-right: 5px;
}

.mgr {
    margin-right: 10px;
}

.mgr-m {
    margin-right: 15px;
}

.mgr-l {
    margin-right: 20px;
}

.mgl-s {
    margin-left: 5px;
}

.mgl {
    margin-left: 10px;
}

.mgl-m {
    margin-left: 15px;
}

.mgl-l {
    margin-left: 20px;
}

.mg-0 {
    margin: 0 !important;
}

.mg-center {
    margin-left: auto;
    margin-right: auto;
}

.pd-l {
    padding: 20px;
}

.pd-m {
    padding: 15px;
}

.pd {
    padding: 10px;
}

.pd-s {
    padding: 5px;
}

.pd-v-l {
    padding: 20px 0;
}

.pd-v-m {
    padding: 15px 0;
}

.pd-v {
    padding: 10px 0;
}

.pd-v-s {
    padding: 5px 0;
}

.pdl-l {
    padding-left: 20px;
}

.pdl-m {
    padding-left: 15px;
}

.pdl {
    padding-left: 10px;
}

.pdl-s {
    padding-left: 5px;
}

.pdt-l {
    padding-top: 20px;
}

.pdt-m {
    padding-top: 15px;
}

.pdt {
    padding-top: 10px;
}

.pdt-s {
    padding-top: 5px;
}

.pdr-l {
    padding-right: 20px;
}

.pdr-m {
    padding-right: 15px;
}

.pdr {
    padding-right: 10px;
}

.pdr-s {
    padding-right: 5px;
}

.pdb-l {
    padding-bottom: 20px;
}

.pdb-m {
    padding-bottom: 15px;
}

.pdb {
    padding-bottom: 10px;
}

.pdb-s {
    padding-bottom: 5px;
}

.block {
    display: block;
}

.inline-block {
    display: inline-block;
}

.underline {
    text-decoration: underline;
}

.relative {
    position: relative;
}

.pos-lt {
    position: absolute;
    top: 0;
    left: 0;
}

.pos-tr {
    position: absolute;
    top: 0;
    right: 0;
}

.pos-r {
    position: absolute;
    top: 50%;
    right: 10px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.fieldset {
    border-radius: 3px;
    border: 1px solid #CCC;
    padding: 10px;
}

.fieldset legend {
    padding: 0 10px;
}


/**/

.color-gray {
    color: #787878;
}

.color-orange {
    color: #FF6000;
}

.color-red {
    color: #F00;
}

.color-blue {
    color: #15BBF8;
}

.color-green {
    color: #0AD27A;
}

.color-green2 {
    color: green;
}

.color-custom-orange {
  color: #ff8500;
}


/**/

.text-muted {
    opacity: .7;
}

.text-tips {
    color: #9EA0A2;
}

.text-default {
    color: inherit;
}

.text-italic {
    font-style: italic;
}

.text-bold {
    font-weight: bold;
}

.text-s {
    font-size: 12px;
}

.text-n {
    font-size: 14px;
}

.text-m {
    font-size: 16px;
}

.text-l {
    font-size: 18px;
}

.text-xl {
    font-size: 20px;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.text-nowrap {
    white-space: nowrap;
}

.text-em {
    border-left: 2px solid #787878;
    padding-left: 10px;
    line-height: 1;
}

.animation {
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}

.overhide {
    overflow: hidden;
    text-overflow: ellipsis;
}


/* 列表导航 */

.pagination2 {
    display: inline-block;
    margin: 5px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagination2 li {
    display: inline-block;
}

.pagination2 li a {
    color: #787878;
}

.pagination2 li .on {
    color: #B4B4B4;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 10px 0;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagination>li {
    display: inline;
}

.pagination>li>a, .pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #777;
    text-decoration: none;
    background-color: #FFF;
    border: 1px solid #DDD;
}

.pagination>li:first-child>a, .pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>li:last-child>a, .pagination>li:last-child>span {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
    color: #777;
    background-color: #EEE;
    border-color: #DDD;
}

.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
    z-index: 2;
    color: #FFF;
    cursor: default;
    background-color: #337AB7;
    border-color: #337AB7;
}

.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
    color: #CCC;
    cursor: not-allowed;
    background-color: #FFF;
    border-color: #DDD;
}

.pagination-lg>li>a, .pagination-lg>li>span {
    padding: 10px 16px;
    font-size: 18px;
}

.pagination-lg>li:first-child>a, .pagination-lg>li:first-child>span {
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.pagination-lg>li:last-child>a, .pagination-lg>li:last-child>span {
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.pagination-sm>li>a, .pagination-sm>li>span {
    padding: 5px 10px;
    font-size: 12px;
}

.pagination-sm>li:first-child>a, .pagination-sm>li:first-child>span {
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.pagination-sm>li:last-child>a, .pagination-sm>li:last-child>span {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
/*筛选列表*/
.filter-wrap {
  margin-top: 10px;
}
.filter-wrap .dl {
  border-bottom: 1px solid #CCC;
}
.filter-wrap .dt {
  float: left;
  width: 80px;
  line-height: 36px;
  padding: 10px 0;
}
.filter-wrap .dd {
  overflow: hidden;
  padding: 10px 0;
  line-height: 36px;
  min-height: 56px;
}
.filter-wrap .dd span {
  display: inline-block;
  min-width: 100px;
  cursor: pointer;
}
.filter-wrap .dd span:hover {
  color: #2B68A6;
}

/*自定义数据表格样式，非bootstrap*/
table-list {
  display: block;
  margin: 0;
  padding: 0;
}
.table-list-wrap {
  overflow: auto;
}
.table-list {
  width: 100%;
  cursor: default;
}
.table-list th,
.table-list td {
  padding: 10px 10px;
  line-height: 1.2;
}
.table-list th {
  background: #CCC;
  text-align: left;
  font-weight: normal;
  color: #787878;
}
.table-list tbody tr,
.table-list tfoot tr {
  border-top: 1px solid #FFF;
}
.table-list tbody tr.on td {
  background-color: #D1D6DA;
}
.table-list tr td {
  background: #E5EAEE;
}
.table-list tr:nth-child(even) td {
  background: #F2F6FA;
}
.table-list input[type=checkbox] {
  width: 16px;
  height: 16px;
  vertical-align: middle;
}
.table-list .select-td {
  width: 16px;
  white-space: nowrap;
}
.table-list .th-s,
.table-list .td-s {
  padding-left: 0;
  padding-right: 0;
}
.table-list-top td {
  vertical-align: top;
}
.table-list-2 {
  border-spacing: 1px;
  border-collapse: separate;
  text-align: center;
}
.table-list-2 tbody tr {
  border: none;
}
.table-list-2 th,
.table-list-2 td {
  text-align: center;
  padding: 12px;
}
/* 自定义模态框样式 */
@-webkit-keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes ngdialog-fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes ngdialog-fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.ngdialog {
  box-sizing: border-box;
}
.ngdialog {
  position: fixed;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.ngdialog .ngdialog-disabled-animation,
.ngdialog .ngdialog-disabled-animation .ngdialog-overlay,
.ngdialog .ngdialog-disabled-animation .ngdialog-content {
  -webkit-animation: none !important;
  animation: none !important;
}
.ngdialog-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.4);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.2s;
  animation: ngdialog-fadein 0.2s;
}
.ngdialog-no-overlay {
  pointer-events: none;
}
.ngdialog.ngdialog-closing .ngdialog-overlay {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.2s;
  animation: ngdialog-fadeout 0.2s;
}
.ngdialog-content {
  background: white;
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadein 0.2s;
  animation: ngdialog-fadein 0.2s;
  pointer-events: all;
}
.ngdialog.ngdialog-closing .ngdialog-content {
  -webkit-backface-visibility: hidden;
  -webkit-animation: ngdialog-fadeout 0.2s;
  animation: ngdialog-fadeout 0.2s;
}
.ngdialog-close:before {
  font-family: 'Helvetica', Arial, sans-serif;
  content: '\00D7';
  cursor: pointer;
}
html.ngdialog-open,
body.ngdialog-open {
  overflow: hidden;
}
@-webkit-keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes ngdialog-flyin {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
@keyframes ngdialog-flyout {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
  }
}
.ngdialog.ngdialog-theme-default.ngdialog-closing .ngdialog-content {
  -webkit-animation: dialogFadeOut .2s;
          animation: dialogFadeOut .2s;
}
.ngdialog.ngdialog-theme-default .ngdialog-content {
  -webkit-animation: dialogFadeIn .2s;
          animation: dialogFadeIn .2s;
  border-radius: 5px;
  color: #444;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.ngdialog.ngdialog-theme-default .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.ngdialog.ngdialog-theme-default .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #BBB;
  content: '\00D7';
  font-size: 26px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 3px;
  text-align: center;
  top: 3px;
  width: 30px;
}
.ngdialog .ngdialog-theme-default .ngdialog-close:hover:before,
.ngdialog .ngdialog-theme-default .ngdialog-close:active:before {
  color: #777;
}
.ngdialog.ngdialog-theme-default .ngdialog-message {
  margin-bottom: .5em;
}
/**/
.ngdialog.ngdialog-theme-right.ngdialog-closing .ngdialog-content {
  -webkit-animation: rightOut .5s;
  animation: rightOut .5s;
}
.ngdialog.ngdialog-theme-right .ngdialog-content {
  -webkit-animation: rightIn .5s;
  animation: rightIn .5s;
  background: #FFF;
  right: 0;
  top: 70px;
  bottom: 0;
  position: fixed;
  width: 900px;
  box-shadow: 0 3px 15px rgba(9, 2, 4, 0.2);
}
.ngdialog.ngdialog-theme-right .ngdialog-close {
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 0;
}
.ngdialog.ngdialog-theme-right .ngdialog-close:before {
  background: transparent;
  border-radius: 3px;
  color: #BBB;
  content: '\00D7';
  font-size: 32px;
  font-weight: 400;
  height: 30px;
  line-height: 26px;
  position: absolute;
  right: 10px;
  text-align: center;
  top: 10px;
  width: 30px;
}
.ngdialog.ngdialog-theme-right .ngdialog-close:hover:before,
.ngdialog.ngdialog-theme-right .ngdialog-close:active:before {
  color: #777;
}
.ngdialog.ngdialog-theme-right .ngdialog-message {
  margin-bottom: .5em;
}
@-webkit-keyframes rightIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@keyframes rightIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}
@-webkit-keyframes rightOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
@keyframes rightOut {
  0% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
}
.page-dialog-wrap {
  height: 100%;
  overflow: hidden;
  padding: 50px 0 0 0;
  position: relative;
  box-sizing: border-box;
}
.page-dialog-title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 18px;
  font-style: italic;
  color: #787878;
}
.page-dialog-content {
  height: 100%;
  overflow: auto;
  overflow-x: auto;
  padding: 0 20px 20px 20px;
  box-sizing: border-box;
}

/* 项目自定义组件样式 */
/* 按钮 */
.pr-btn {
  border-radius: 0;
  background-color: #c7a77b;
  color: #fff;
  font-size: 14px;
  outline: none;
}
.pr-btn:hover, .pr-btn:active, .pr-btn:focus {
  color: #fff;
  outline: none;
}
.pr-btn.disabled,
.pr-btn[disabled] {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
  background-color: #e5e5e5;
}
