footer {
    background-color: #f3f1ec;
    padding: 15px;
    color: #7A7676;
    font-size: 12px;
    position: static;
    bottom: 0;
    width: 100%;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
}

footer.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 99;
}

.container footer {
    width: 79.5%;
    position: absolute;
    bottom: 0;
}
