body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td {
  margin: 0;
  padding: 0;
}

/* 标题字体大小 */
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
}

h1 {

}

h2 {

}

h3 {

}

h4 {
    font-size: 14px;
    font-weight: bold;
}

address, cite, dfn, em, var {
  font-style: normal;
}

code, kbd, pre, samp {
  font-family: courier new, courier, monospace;
}

small {
  font-size: 12px;
}
ul, ol {
  list-style: none;
}

body {
    background-color: #f3f1ec;
    font-family: 'Microsoft YaHei', '新宋体';
    color: #7a7676;
    line-height: 20px;
    overflow-x: hidden;
    font-size: 12px;
}

input, select, textarea, button {
    font-family: 'Microsoft YaHei', '新宋体';
    color: #767676;
    outline: none;
    background-color: #fff;
}

a {
    cursor: pointer;
    white-space: nowrap;
    color: #ff8c00;
}

a:focus, a:active, a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    text-decoration: none;
    /*color: #ff8c00;*/
}

h1, h2, h3, h4, h5 {
    font-family: 'Microsoft YaHei', '新宋体';
}

hr {
    border-color: #ddd;
}

.checkbox input[type=checkbox], .radio input[type=radio], input[type=checkbox], input[type=radio] {
    outline: none;
}

.checkbox label, .radio label {
    padding-left: 0;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #b5b5b5!important;
}
input:-moz-placeholder, textarea:-moz-placeholder {
  color: #b5b5b5!important;
}
input::-moz-placeholder, textarea::-moz-placeholder {
  color: #b5b5b5!important;
}
input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #b5b5b5!important;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: rgb(255, 255, 255);
    background-image: none;
    color: rgb(0, 0, 0);
}
.min-w {
  min-width: 1100px;
}
/* 移除number类型input下右边的上下箭头 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none!important;  /* chrome */
  margin: 0;
}

input[type="number"] {
  -moz-appearance:textfield;    /* Firefox */
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
	width: 12px;
  height: 8px;
  background: rgba(0,0,0,0.05);
}
/* 滚动槽 */
::-webkit-scrollbar-track {
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
	border-radius: 10px;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
	border-radius: 10px;
	background: rgba(0,0,0,0.1);
	/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);*/
}
