.goods-detail-info{
	margin-top: 15px;
}


.goods-detail-info .goods-attr{

  clear: both;
  height:auto;
  overflow: hidden;
  margin-bottom: 15px;

}

.goods-detail-info .goods-key{
	font-size: 14px;
	color: #C7A77B;
	line-height: 18px;
	width: 110px;
	text-indent: 40px;
	display: inline-block;
	margin-right: 5px;
	float: left;
}

.goods-detail-info .goods-val{
	font-size: 14px;
	color: #ffffff;
	line-height: 18px;
	width: auto;
	margin-left: 115px;
	margin-right: 10px;
	display: block;
}