.header-section {
    background-color: rgba(243, 241, 236, .9);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.header-section::after {
    clear: both;
    display: block;
    content: '';
}

.toggle-btn {
    width: 52px;
    height: 50px;
    font-size: 20px;
    padding: 15px;
    cursor: pointer;
    float: left;
    color: #212121;
    border-right: 1px solid #e7e7e7;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.toggle-btn:hover {
    background: #65CEA7;
    color: #fff;
    border-right-color: #65CEA7;
}

.searchform input {
    box-shadow: none;
    float: left;
    font-size: 14px;
    height: 35px;
    margin: 7px 0 0 10px;
    padding: 10px;
    width: 220px;
}

.searchform input:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #ddd;
}

.menu-right {
    float: right;
    margin-right: 15px;
}

.notification-menu {
    list-style: none;
}

.notification-menu>li {
    display: inline-block;
    float: left;
    position: relative;
    padding: 0;
    border-right: 1px solid rgba(0,0,0,.1);
}

.notification-menu>li:nth-child(2) a {
  text-indent: 42px;
  color: #7f4f21;
}

.notification-menu>li>a>i.header-message {
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -127px -556px;
  display: inline-block;
  width: 20px;
  height: 32px;
}

.notification-menu .dropdown-toggle {
    padding: 10px 10px 9px;
    background-color: transparent;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    border: none;
}

.notification-menu .dropdown-toggle:hover, .notification-menu .dropdown-toggle:focus, .notification-menu .dropdown-toggle:active, .notification-menu .dropdown-toggle.active, .notification-menu .open .dropdown-toggle.dropdown-toggle {
    /*background: #424f63;
    color: #65cea7;*/
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.notification-menu .dropdown-toggle img {
    vertical-align: middle;
    margin-right: 5px;
    width: 26px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

.notification-menu .dropdown-toggle .caret {
    margin-left: 5px;
}

.notification-menu .dropdown-menu {
    border: 0;
    margin-top: 2px;
    -moz-border-radius: 2px 0 2px 2px;
    -webkit-border-radius: 2px 0 2px 2px;
    border-radius: 2px 0 2px 2px;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px;
}

.notification-menu .dropdown-menu:after {
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    content: "";
    display: inline-block;
    right: 17px;
    position: absolute;
    top: -6px;
}

.notification-menu .dropdown-menu li {
    display: block;
    margin: 0;
    float: none;
    background: none;
    padding: 15pxï¼›
}

.notification-menu .dropdown-menu-usermenu li {
    padding: 0;
}

.notification-menu .dropdown-menu li a {
    color: #666;
    font-size: 12px;
    padding: 7px 10px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}

.notification-menu .dropdown-menu li a:hover {
    background: #7f4f21;
    color: #fff;
}

.notification-menu .dropdown-menu li i {
    font-size: 11px;
    margin-right: 5px;
}

.notification-menu .dropdown-menu-head {
    padding: 0;
    min-width: 300px;
}

.notification-menu .info-number {
    padding: 5px 15px;
    height: 39px;
    line-height: 28px;
    font-size: 14px;
    background-color: transparent;
    color: #7f4f21;
    border-color: #fff;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.notification-menu li:first-child {
  border-left: 1px solid rgba(0,0,0,.1);
}

.notification-menu .dropdown-menu-usermenu {
    background: #fff;
    /*min-width: 200px;*/
}

.notification-menu .dropdown-menu-head ul {
    border: 1px solid #ddd;
    border-top: 0;
    padding: 0;
}

.notification-menu .dropdown-menu-head li a {
    color: #333;
    padding: 0;
    opacity: 1;
}

.notification-menu .dropdown-menu-head li a:hover {
    background: none;
    color: #65cea7 !important;
    text-decoration: none;
}

.notification-menu .btn-group {
    margin-bottom: 0;
}

.notification-menu span.header-user-face {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -607px -295px;
  position: absolute;
  top: 3px;
  left: 15px;
  border-radius: 50%;
}

.dropdown-list li {
    padding: 10px;
    overflow: hidden;
    /*border-bottom: 1px solid #eee;*/
}

.dropdown-list li:last-child {
    border-bottom: 0;
}

.dropdown-list .thumb {
    width: 36px;
    float: left;
}

.dropdown-list .thumb img {
    width: 100%;
    display: block;
    vertical-align: middle;
}

.dropdown-list .desc {
    margin-left: 45px;
    display: block;
}

.dropdown-list .desc h5 {
    font-size: 13px;
    margin-top: 7px;
}

.dropdown-list li:last-child {
    padding: 10px 15px;
}

.dropdown-list li .badge {
    float: right;
    position: relative;
    top: 10px;
}

.user-list {
    width: 300px;
}

.user-list .progress {
    margin-bottom: 0;
}

.normal-list li a .label i {
    margin-right: 0;
}

.normal-list li a span.label {
    float: left;
    margin-right: 10px;
    padding: 5px;
    width: 20px;
}

.normal-list li a:hover {
    color: #65CEA7 !important;
    text-decoration: none;
}

.normal-list li .name {
    font-size: 13px;
    font-family: 'Arial' Helvetica, sans-serif;
    line-height: 21px;
}

.normal-list li .msg {
    font-size: 12px;
    line-height: normal;
    color: #999;
    display: block;
}

.info-number .badge {
    min-width: 18px;
    height: 18px;
    padding: 0 5px;
    background-color: rgba(255,73,23,.85);
    -webkit-border-radius: 9px;
    border-radius: 9px;
    font-size: 12px;
    font-weight: normal;
    line-height: 16px;
    position: absolute;
    right: 9px;
    top: 5px;
    box-shadow: 1px 1px 5px #ccc;
}
.notification-menu .dropdown-menu .dropdown-list > li > a:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #f30;
  margin-right: 10px;
}
