.invoice-list{
    width: auto;
    height: auto;
    overflow: hidden;
    background: #F7F7F7;
    border: 1px dashed rgba(0,0,0,0.10);
    font-family: PingFangSC-Regular;
    margin: 0 auto;
    margin-bottom: 6px;
}

.sales-invoice{
    width: 49%;
    height:auto;
    overflow: hidden;
    border-right: 1px dashed rgba(0,0,0,0.10);
    float: left;
    margin-top: 15px;
}

.invoice-item{
    cursor:pointer;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
    width:155px;
    height: 100px;
    text-align: center;
    margin: 20px;
    float: left;
    position: relative;
}
.invoice-item-title{
    font-size: 12px;
    color: #999999;
    height: 38px;
    line-height: 38px;
    border-bottom: 1px solid rgba(0,0,0,0.10);
}

.supplier-name{
    font-size: 12px;
    color: #333333;
    line-height: 30px;
    height: 30px;
    width: 100%;
    overflow: hidden;
    padding: 0 5px;
    white-space:nowrap;
    text-overflow:ellipsis;
}

.invoice-num{

    font-size: 12px;
    color: #FF8C00;
    line-height: 16px;
}

.add-invoice{
    cursor:pointer;
    background: #FFFFFF;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
    width:155px;
    height: 100px;
    text-align: center;
    margin: 20px;
    float: left;
    border: 1px solid #E8E8E8;
}

.add-invoice-border{
    width: auto;
    height:88px;
    border: 1px dashed #E8E8E8;
    margin: 5px;
}

.add-invoice-icon {
    border: 2px solid #C7A77B;
    width: 40px;
    height: 40px;
    line-height: 30px;
    margin: 26px auto;
    color:#C7A77B ;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50%;
}

.del-invoice-icon{
    height: 25px;
    width: 25px;
    position: absolute;
    right: -10px;
    top:-10px;
    background-image: url(../../images/invoice_del_icon.png);
    background-size: 100%;
    cursor: pointer;
}