.left-side {
    width: 130px;
    position: absolute;
    top: 0;
    left: 0;
}

.sticky-left-side {
    position: fixed;
    height: 100%;
    overflow-y: auto;
    z-index: 100;
    background-color: #36302c;
}

.sticky-left-side .custom-nav {
  margin-top: 40px;
}

.left-side-collapsed .sticky-left-side {
    overflow-y: visible;
}

.logo a {
    display: block;
}

.logo a>i {
  display: block;
  height: 2.5em;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  background-position: -423px 5px;
}

.sticky-header .logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 130px;
    height: 40px;
    z-index: 100;
    padding: 2px 0;
    border-bottom: 1px solid #715f50;
    background: #000;
}

.sticky-header .header-section {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    padding-left: 120px;
}

.sticky-header .main-content {
    padding-top: 45px;
}

.sticky-header .menu-right {
    margin-right: 0;
}

.sticky-header.left-side-collapsed .header-section {
    left: 52px;
}

.sticky-header.left-side-collapsed .menu-right {
    margin-right: 67px;
}

.logo-icon {
    display: none;
}

.left-side-collapsed .logo-icon {
    height: 45px;
    margin-top: -48px;
    display: block !important;
}

.left-side-inner {
    padding: 0px;
    width: 130px;
}

.left-side .searchform {
    display: none;
}

.left-side .searchform::after {
    content: '';
    display: block;
    clear: both;
}

.left-side .searchform input {
    padding: 10px;
    width: 90%;
    margin: 0 0 20px 12px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: none;
}

.left-side .logged-user {
    padding: 0 0 15px 12px;
    margin: 0 0 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    display: none;
}

.left-side .logged-user .media-object {
    width: 45px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    float: left;
}

.left-side .logged-user .media-body {
    margin-left: 60px;
    color: #d7d7d7;
}

.left-side .logged-user .media-body h4 {
    font-size: 15px;
    margin: 5px 0 0 0;
}

.left-side .logged-user .media-body h4 a {
    color: #fff;
}

.left-side .logged-user .media-body span {
    font-style: italic;
    font-size: 11px;
    opacity: 0.5;
}

.custom-nav {
    margin-bottom: 10px;
}

.nav-stacked>li {
    width: 100%;
    height: 100%;
    line-height: 40px;
    margin-bottom: -1px;
    overflow: hidden;
    border-bottom: 1px solid rgba(199, 167, 123, .2);
}
.nav-stacked>li>a {
  /*width: 120px!important;*/
}
.nav-stacked>li>a>span.nav-ico {
  display: inline-block;;
  width: 24px;
  height: 24px;
  margin: 0 auto;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  overflow: hidden;
  position: relative;
  top: 6px;
}
.nav-stacked>li>a.active {
  background-color: #2d2825;
  color: #fff;
}

.nav-stacked>li>a.nav-home>span.nav-ico {
  background-position: -125px -993px;
}
.nav-stacked>li.active>a>span.nav-home {
  background-position: -187px -993px;
}

.nav-stacked>li>a.nav-requests>span.nav-ico {
  background-position: -125px -1179px;
}
.nav-stacked>li.active>a>span.nav-requests {
  background-position: -187px -1179px;
}

.nav-stacked>li>a.nav-order>span.nav-ico {
  background-position: -125px -1489px;
}
.nav-stacked>li.active>a>span.nav-order {
  background-position: -187px -1489px;
}

.nav-stacked>li>a.nav-account-check>span.nav-ico {
  background-position: -125px -869px;
}
.nav-stacked>li.active>a>span.nav-account-check {
  background-position: -187px -869px;
}

.nav-stacked>li>a.nav-purchase>span.nav-ico {
  background-position: -125px -1055px;
}
.nav-stacked>li.active>a>span.nav-purchase {
  background-position: -187px -1055px;
}

.nav-stacked>li>a.nav-storage-in>span.nav-ico {
  background-position: -125px -1241px;
}
.nav-stacked>li.active>a>span.nav-storage-in {
  background-position: -187px -1241px;
}

.nav-stacked>li>a.nav-storage-out>span.nav-ico {
  background-position: -125px -1303px;
}
.nav-stacked>li.active>a>span.nav-storage-out {
  background-position: -187px -1303px;
}

.nav-stacked>li>a.nav-deliever>span.nav-ico {
  background-position: -125px -1365px;
}
.nav-stacked>li.active>a>span.nav-deliever {
  background-position: -187px -1365px;
}

.nav-stacked>li>a.nav-certificate>span.nav-ico {
  background-position: -125px -1427px;
}
.nav-stacked>li.active>a>span.nav-certificate {
  background-position: -187px -1427px;
}

.nav-stacked>li>a.nav-acceptance>span.nav-ico {
  background-position: -125px -63px;
}
.nav-stacked>li.active>a>span.nav-acceptance {
  background-position: -187px -63px;
}

.nav-stacked>li>a.nav-manage-center>span.nav-ico {
  background-position: -125px -1550px;
}
.nav-stacked>li.active>a>span.nav-manage-center {
  background-position: -187px -1550px;
}

.custom-nav>li>a {
    display: inline-block;;
    width: 100%;
    height: 40px;
    color: #c7a77b;
    font-size: 12px;
    border-radius: 0;
    -webkit-border-radius: 0;
    background-color: #36302c;
    padding-left: 6px;
}

.custom-nav>li>a:hover, .custom-nav>li>a:active, .custom-nav>li>a:visited {
    background-color: #36302c;
    border-radius: 0;
    -webkit-border-radius: 0;
}

/*.custom-nav>li.menu-list>a {
    background: transparent url(../images/plus-white.png) no-repeat 93% center;
}*/

/*.custom-nav>li.menu-list>a:hover {
    background-color: #353f4f;
    background-image: url(../images/plus.png);
}*/

/*.custom-nav>li.nav-active>a {
    background-color: #7f4f21;
    background-image: url(../images/minus.png);
    color: #65cea7;
}*/
.custom-nav>li>ul {
    display: none;
}
.custom-nav>li.nav-active>ul {
    display: block;
}

/*.custom-nav>li.nav-active>a:hover {
    background-image: url(../images/minus.png);
}*/

.custom-nav>li.active>a, .custom-nav>li.active>a:hover, .custom-nav>li.active>a:focus {
  background-color: #1f1b19;
  color: #fff;
}

/*.custom-nav>li.menu-list.active>a {
    background-image: url(../images/plus.png);
}*/

/*.custom-nav>li.nav-active.active>a {
    background-image: url(../images/minus.png);
}*/

/*.custom-nav>li.nav-active.active>a:hover {
    background-image: url(../images/minus.png);
}*/

/*.custom-nav li .fa {
    font-size: 16px;
    vertical-align: middle;
    margin-right: 10px;
    width: 16px;
    text-align: center;
}*/

.custom-nav .sub-menu-list {
  list-style: none;
  display: none;
  margin: 0;
  padding: 0;
}

.custom-nav .sub-menu-list>li>a {
    color: #c7a77b;
    font-size: 12px;
    display: block;
    text-indent: 20px;
    /*padding: 10px 5px 10px 50px;*/
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    overflow: hidden;
}
.custom-nav .sub-menu-list>li>a:before {
  content: ' ';
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-right: 10px;
  transform: rotate(-45deg);
  border-right: 1px solid #c7a77b;
  border-bottom: 1px solid #c7a77b;
  position: relative;
  top: -2px;
}

.custom-nav .sub-menu-list>li>a:hover, .custom-nav .sub-menu-list>li>a:active, .custom-nav .sub-menu-list>li>a:focus {
    text-decoration: none;
    background: #2a323f;
}

.custom-nav .sub-menu-list>li .fa {
    font-size: 12px;
    opacity: 0.5;
    margin-right: 5px;
    text-align: left;
    width: auto;
    vertical-align: baseline;
}

.custom-nav .sub-menu-list>li.active>a {
    color: #65CEA7;
    background-color: #2A323F;
}

.custom-nav .sub-menu-list ul {
    margin-left: 12px;
    border: 0;
}
.custom-nav ul.sub-menu-list > li {
  border-bottom: 1px dashed rgba(113, 95, 80, .3);
}

.custom-nav .menu-list.active ul {
    display: block;
    background: #2d2825;
}

.left-side-collapsed .logo {
    display: none;
}

.left-side-collapsed .header-section {
    margin-left: 0px;
}

.left-side-collapsed .left-side {
    width: 52px;
    top: 52px;
}

.left-side-collapsed .left-side-inner {
    padding: 0;
}

h5.left-nav-title {
    margin-left: 10px;
    color: #fff;
}

.left-side-collapsed .custom-nav {
    margin: 2px 0 20px 0;
}

.left-side-collapsed .custom-nav li a {
    text-align: center;
    padding: 10px;
    position: relative;
}

.left-side-collapsed .custom-nav>li.menu-list>a {
    background-image: none;
}

.left-side-collapsed .custom-nav li a span {
    position: absolute;
    background: #65CEA7;
    padding: 10px;
    left: 52px;
    top: 0;
    min-width: 173px;
    text-align: left;
    z-index: 100;
    display: none;
}

.left-side-collapsed .custom-nav li a span:after {
    right: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-right-color: #65CEA7;
    border-width: 6px;
    margin-top: -6px;
}

.left-side-collapsed .custom-nav li.active a span {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.left-side-collapsed .custom-nav ul, .left-side-collapsed .custom-nav .menu-list.nav-active ul {
    display: none;
}

.left-side-collapsed .custom-nav .menu-list.nav-hover ul {
    display: block;
}

.left-side-collapsed .custom-nav>li.nav-hover>a, .left-side-collapsed .custom-nav>li.nav-hover.active>a {
    background: #fff;
    color: #424F63;
}

.left-side-collapsed .custom-nav li.nav-hover a span {
    display: block;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover.active a span {
    background: #65CEA7;
    color: #fff;
}

.left-side-collapsed .custom-nav li.nav-hover ul {
    display: block;
    position: absolute;
    top: 40px;
    left: 53px;
    margin: 0;
    min-width: 172px;
    background: #353F4F;
    z-index: 100;
    -moz-border-radius: 0 0 2px 0;
    -webkit-border-radius: 0 0 2px 0;
    border-radius: 0 0 2px 0;
}

.left-side-collapsed .custom-nav ul a {
    text-align: left;
    padding: 6px 10px;
    padding-left: 10px;
}

.left-side-collapsed .custom-nav ul a:hover {
    background: #2A323F;
}

.left-side-collapsed .custom-nav li a i {
    margin-right: 0;
}

.left-side-collapsed .main-content {
    margin-left: 52px;
}

.left-side-collapsed .left-side {
    overflow: visible !important;
}

/* 侧边栏项目点击后效果 */
.left-side-active-style {
  background-color: #2d2825!important;
  color: #fff!important;
}
/* 左侧边栏二级子菜单项目点击效果 */
.left-side-second-item {
  color: #fff!important;
}
.left-side-second-item:before {
  color: #fff!important;
  border-color: #fff!important;
}
/* 向下的箭头 */
.pr-arrow-down {
  display: inline-block;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  border-bottom: 1px solid #c7a77b;
  border-left: 1px solid #c7a77b;
  margin-left: 6px;
  position: absolute;
  top: 17px;
  right: 10px;
}
