.login-body .container .login-wrap {

}
.login-body .container .login-wrap form {
  width: 422px;
  height: 131px;
  border: 1px solid #000;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 27px auto 0 auto;
}
.login-body .container .login-wrap form div {
  width: 380px;
  height: 64px;
  margin: 0 auto;
}
.login-body .container .login-wrap form div:nth-child(3) {
  width: 422px;
  height: 53px;
  line-height: 52px;
}
.login-body .container .login-wrap form div:nth-child(3) span label {
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  color: #c7a77b;
}
.login-body .container .login-wrap form div:first-child {
  border-bottom: 1px solid #000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.login-body .container .login-wrap form div input {
  position: relative;
  top: 18px;
  font-size: 18px;
  color: #666;
  border: none;
  background-color: #f3f1ec;
}
.login-body .container .login-wrap form div span input[type="checkbox"] {
  position: relative;
  top: 1px;
  outline: none;
}
.login-body .container .login-wrap form div span a {
  color: #ff8500;
  font-size: 14px;
}
.login-body .container .login-wrap form div button.btn-login {
  border-radius: 0;
  background-color: #e5e5e5;
  color: #fff;
  height: 64px;
}
.login-body .container .login-wrap form div.registration {
  text-align: center;
  line-height: 60px;
  margin-top: 25px;
}
.login-body .container .login-wrap form div.registration a {
  font-size: 18px;
  color: #ff8500;
}
.login-body .container .login-wrap form div.fast-login-choise {
  text-align: center;
  margin-top: 10px;
  font-size: 14px;
  color: #999;
  width: 100%;
}
.login-body .container .fast-login-choise span:first-child,
.login-body .container .fast-login-choise span:last-child {
  display: inline-block;
  width: 160px;
  height: 1px;
  border-top: 1px solid #000;
  opacity: .1;
  position: relative;
  top: -3px;
}
.login-body .container .fast-login-btn span {
  display: inline-block;
  width: 45%;
}
.login-body .container .fast-login-btn span a {
  display: inline-block;
  width: 34px;
  height: 34px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #b2b2b2;
}
.login-body .container .fast-login-btn span:first-child a {
  background-image: url(../images/pj-spring.png);
  background-repeat: no-repeat;
  background-position: 6px 6px;
  float: right;
}
.login-body .container .fast-login-btn span:last-child a {
  background-image: url(../images/pj-spring.png);
  background-repeat: no-repeat;
  background-position: -28px 9px;
  margin-left: 28px;
}
