.login-body .container .login-info-prompt,
.login-body .container .reg-success-prompt,
.reg-info-prompt {
  margin-top: 26px;
}
.login-body .container .login-info-prompt > div,
.reg-info-prompt div {
  width: 422px;
  height: 46px;
  background-color: #f3dbd6;
  margin: 0 auto;
  line-height: 46px;
  text-indent: 10px;
}
.login-body .container .reg-success-prompt > div {
  width: 422px;
  height: 46px;
  background-color: #5cb85c;
  margin: 0 auto;
  line-height: 46px;
  text-indent: 10px;
}
.login-body .container .reg-success-prompt > div > i:before {
  color: #fff;
}
.login-body .container .login-info-prompt > div > span,
.reg-info-prompt > div > span {
  color: #e92626;
  font-size: 12px;
}

.login-body .container .login-info-prompt > div > i:before,
.reg-info-prompt > div > i:before {
  color: #e92626;
}
.login-body .container .login-wrap {

}
.login-body .container .login-wrap form,
.login-body .container .reg-wrap form {
  width: 422px;
  height: 109px;
  border: 1px solid #000;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 27px auto 0 auto;
  background-color: #fff;
}
.login-body .container .login-wrap form > div {
  width: 380px;
  height: 54px;
  margin: 0 auto;
}
.login-body .container .reg-wrap form div.pr-form-control {
  width: 380px;
  height: 54px;
  margin-left: 20px;
}
.login-body .container .login-wrap form > div:nth-child(3) {
  width: 422px;
  height: 53px;
  line-height: 52px;
}
.login-body .container .login-wrap form > div:nth-child(3) > div {
  padding-left: 0;
  padding-right: 0;
}
.login-body .container .login-wrap form > div:nth-child(3) > div a:hover {
  color: #ff8500;
}
.login-body .container .login-wrap form > div:nth-child(3) span label {
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
  color: #c7a77b;
}
.login-body .container .login-wrap form div:nth-child(4) {
  width: 422px;
  height: 46px;
}
.login-body .container .login-wrap form > div:first-child,
.login-body .container .reg-wrap form div:first-child {
  border-bottom: 1px solid #000;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.login-body .container .login-wrap form div input,
.login-body .container .reg-wrap form div input {
  position: relative;
  top: 12px;
  font-size: 16px;
  color: #666;
  border: none;
}
.login-body .container .login-wrap form div span input[type="checkbox"] {
  position: relative;
  top: 1px;
  outline: none;
}
.login-body .container .login-wrap form div span a {
  color: #ff8500;
  font-size: 14px;
}
.login-body .container .login-wrap form div button.btn-login,
.login-body .container .reg-wrap form div button.btn-reg {
  height: 46px;
  outline: none;
  color: #fff;
}
.login-body .container .login-wrap form div.registration {
  text-align: center;
  line-height: 60px;
}
.login-body .container .login-wrap form div.registration a {
  font-size: 16px;
  color: #ff8500;
}
.login-body .container .login-wrap form div.fast-login-choise {
  text-align: center;
  margin: 10px 0 20px;
  font-size: 14px;
  color: #999;
  width: 100%;
  height: 20px;
}
.login-body .container .fast-login-choise span:first-child,
.login-body .container .fast-login-choise span:last-child {
  display: inline-block;
  width: 160px;
  height: 1px;
  border-top: 1px solid #000;
  opacity: .1;
  position: relative;
  top: -3px;
}
.login-body .container .fast-login-btn span {
  display: inline-block;
  width: 45%;
}
.login-body .container .fast-login-btn span a {
  display: inline-block;
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #b2b2b2;
}
.login-body .container .fast-login-btn span:first-child a {
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -367px 5px;
  float: right;
}
.login-body .container .fast-login-btn span:last-child a {
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -367px -57px;;
  margin-left: 28px;
}
/* 重写iCheck样式，只适用于登陆界面 */
.icheckbox_square {
  display: inline-block!important;
}
.login-body .container .login-wrap form > div:nth-child(3)  div.square > div.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}
.login-body .container .login-wrap form > div:nth-child(3)  div.square > div.checkbox > div.icheckbox_square {
  display: inline-block;
  top: 3px;
  width: 16px;
  height: 16px;
  margin-right: 1px;
  background-image: url(../../images/square-gold.png);
  background-repeat: no-repeat;
}
/* 忘记密码模态框 */
.forgot-pwd {
  color: rgb(127, 79, 33);
}
.forgot-pwd .modal-header {
  background-color: rgba(239, 235, 227, .9);
}
.forgot-pwd .modal-header h4 {
  color: rgb(127, 79, 33);
}
