.index-order-personal-info {

}
.index-order-personal-info div.salesOrder-module,
.index-order-personal-info div.logistics-module {
  min-height: 298px;
}
.index-order-personal-info div.salesOrder-module > div,
.index-order-personal-info div.logistics-module > div {
  min-height: inherit;
}
.index-order-personal-info div.salesOrder-module div.left-title,
.index-order-personal-info div.logistics-module div.left-title {
  height: 150px;
  padding-top: 50px;
}
.index-order-personal-info div.salesOrder-module-analysis > div > div,
.index-order-personal-info div.logistics-module-analysis > div > div {
  height: 254px;
}
.index-order-personal-info div.confirmOrder-module div.confirmOrder-module-analysis {
  height: 262px;
}
.index-order-personal-info div.confirmOrder-module div.left-title {
  height: 87px;
  padding-top: 20px;
}
.index-order-personal-info div.confirmOrder-module div.flex-item-4 {
  height: 217px;
}
.index-order-personal-info div.confirmOrder-module-analysis-num > div {
  height: 108px;
  padding-top: 35px;
}
.index-order-department-info  .department-confirmOrder {
  height: 266px;
}
.index-order-department-info .department-data {
  height: 220px;
}
.index-order-department-info .department-data-left > div {
  height: 110px;
  padding-top: 40px;
}
