.index-order-personal-info {

}
.index-order-personal-info div.salesOrder-module,
.index-order-personal-info div.logistics-module {
  min-height: 298px;
}
.index-order-personal-info div.salesOrder-module > div,
.index-order-personal-info div.logistics-module > div {
  min-height: inherit;
}
.index-order-personal-info div.salesOrder-module div.left-title,
.index-order-personal-info div.logistics-module div.left-title {
  height: 150px;
  padding-top: 50px;
}
.index-order-personal-info div.salesOrder-module-analysis > div > div,
.index-order-personal-info div.logistics-module-analysis > div > div {
  height: 254px;
}
.index-order-personal-info div.confirmOrder-module div.confirmOrder-module-analysis {
  height: 262px;
}
.index-order-personal-info div.confirmOrder-module div.left-title {
  height: 87px;
  padding-top: 20px;
}
.index-order-personal-info div.confirmOrder-module div.flex-item-4 {
  height: 217px;
}
.index-order-personal-info div.confirmOrder-module-analysis-num > div {
  height: 108px;
  padding-top: 35px;
}
.index-order-department-info  .department-confirmOrder {
  height: 266px;
}
.index-order-department-info .department-data {
  height: 220px;
}
.index-order-department-info .department-data-left > div {
  height: 110px;
  padding-top: 30px;
}
.index-purchase-personal-info .storage-module > div > div.left-title,
.item-left-title-3 {
  height: 103px;
  padding-top: 32px;
}
.index-purchase-personal-info .pay-module > div > div.left-title,
.item-left-title-2 {
  height: 155px;
  padding-top: 60px;
}
.index-purchase-personal-info .purchase-module-analysis {
  height: 309px;
}
.index-purchase-personal-info .purchase-module-analysis > div > div.left-title {
  height: 103px;
  padding-top: 32px;
}
.index-purchase-personal-info .purchase-module-analysis .purchase-module-item > div,
.index-module-list {
  height: 263px;
}
.index-purchase-personal-info .purchase-module-analysis .purchase-module-item > div > div,
.index-purchase-personal-info .purchase-module-analysis .purchase-module-item2 .purchase-module-item2-data,
.index-module-item-2 {
  height: 131px;
  padding-top: 40px;
}
.index-purchase-personal-info .purchase-module-analysis .purchase-module-item2 > div > div {
  height: 263px;
}
.easypiechart-container {
  height: 140px;
}
