.personal-center {
  width: 998px;
  margin: 0 auto;
}
.personal-center .content-wrapper-main {

}
.personal-center .content-wrapper-heading {
  padding-left: 150px;
  margin-bottom: 25px;
}
.personal-center .content-wrapper-main .left-menu-list {
  width: 150px;
}
.personal-center .content-wrapper-main .left-menu-list > ul > li > a.active {
  color: #6c3912;
  padding: 5px 20px;
  border: 1px solid #e5dcce;
  border-radius: 1px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  background-color: #ede8e0;
}
.personal-center .content-wrapper-main .content-area {
  width: 848px;
}
.personal-center .content-wrapper-main .content-area span.user-face {
  width: 120px;
  height: 120px;
  display: inline-block;
  border-color: #efe6dc;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: #ccc;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -561px -150px;
  position: relative;
  top: 60px;
}
.personal-center .content-wrapper-main .content-area span.user-phone {
  font-size: 16px;
  position: relative;
  top: 100px;
}
.personal-center .content-wrapper-main .content-area > div:nth-child(2) {
  min-height: 285px;
  padding: 25px;
}
.personal-center .content-wrapper-main .content-area > div:nth-child(2) > div:first-child {
  height: 285px;
}
