.pg-ztree {
  border: 1px solid #617775;
  background: #f0f6e4;
  margin-top:5px;
  width:100%;
  height: 400px;
  overflow-x: auto;
  overflow-y: scroll
}

/*把button样式改成A标签的样子*/
.btn-a{
	background:none;
	border: none;
	outline: none;
	color: rgba(255,140,0,1);
}
.z-tree-div{
	width: 240px!important;
	height: 26px;
	opacity: 0.97;
	background: #FFFFFF;
	border: 1px solid #C7A77B;
	box-shadow: 0 0 4px 0 rgba(199,167,123,0.61);
	border-radius: 2px;
}
.pg-ztree-select{
	width: 240px;
	height: 296px;
	opacity: 0.97;
	background: #FFFFFF;
	border: 1px solid #C7A77B;
	box-shadow: 0 0 4px 0 rgba(199,167,123,0.61);
	border-radius: 2px;
	overflow-x: auto;
	overflow-y: scroll;
}
.ztree li a:hover{
  background-color: rgba(199,167,123,1)!important;
  text-decoration: none!important;
  color: white;
}
