/* 项目自定义响应式 */

@media screen and (max-width: 1440px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list {
    width: 33.33333333333%;
  }
}

@media screen and (min-width: 1840px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list {
    width: 25%;
  }
}
