/* 项目自定义响应式 */

@media screen and (max-width: 1440px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list,
  .arrivalNotaice-order .content-wrapper-main ul li.confirm-order-list {
    width: 50%;
  }
}

@media screen and (min-width: 1440px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list,
  .arrivalNotaice-order .content-wrapper-main ul li.confirm-order-list {
    width: 33.33333333333%;
  }
}

@media screen and (min-width: 1840px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list,
  .arrivalNotaice-order .content-wrapper-main ul li.confirm-order-list {
    width: 25%;
  }
}

/* 解决在笔记本电脑下表格过长引起的页面混乱 */
@media screen and (max-width: 1480px) {
  div.data-table {
    overflow-x: auto;
  }
  div.data-table > table.pr-table {
    width: 1300px;
  }
}
