/* 项目自定义响应式 */

@media screen and (max-width: 1024px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .sales-order .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list,
  .arrivalNotaice-order .content-wrapper-main ul li.confirm-order-list,
  .queryUserApplyCurDepartment .content-wrapper-main ul li.confirm-order-list,
  .first-medical-application .content-wrapper-main ul li.confirm-order-list {
    width: 50%;
  }
  .content-wrapper {
    margin: 0 20px;
  }
}

@media screen and (min-width: 1024px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .sales-order .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list,
  .arrivalNotaice-order .content-wrapper-main ul li.confirm-order-list,
  .queryUserApplyCurDepartment .content-wrapper-main ul li.confirm-order-list,
  .first-medical-application .content-wrapper-main ul li.confirm-order-list {
    width: 50%;
  }
  .content-wrapper {
    margin: 0 20px;
  }
}

@media screen and (min-width: 1366px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .sales-order .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list,
  .arrivalNotaice-order .content-wrapper-main ul li.confirm-order-list,
  .queryUserApplyCurDepartment .content-wrapper-main ul li.confirm-order-list,
  .first-medical-application .content-wrapper-main ul li.confirm-order-list {
    width: 33.33333333333%;
  }
  .content-wrapper {
    margin: 0 20px;
  }
}

@media screen and (min-width: 1440px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .sales-order .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list,
  .arrivalNotaice-order .content-wrapper-main ul li.confirm-order-list,
  .queryUserApplyCurDepartment .content-wrapper-main ul li.confirm-order-list,
  .first-medical-application .content-wrapper-main ul li.confirm-order-list {
    width: 33.33333333333%;
  }
  .content-wrapper {
    margin: 0 20px;
  }
}

@media screen and (min-width: 1840px) {
  .invoices-order .content-wrapper-main ul li,
  .order-center .content-wrapper-main ul li.confirm-order-list,
  .sales-order .content-wrapper-main ul li.confirm-order-list,
  .purchase-order .content-wrapper-main ul li.confirm-order-list,
  .arrivalNotaice-order .content-wrapper-main ul li.confirm-order-list,
  .queryUserApplyCurDepartment .content-wrapper-main ul li.confirm-order-list,
  .first-medical-application .content-wrapper-main ul li.confirm-order-list {
    width: 25%;
  }
}
