.login-body .container .reg-wrap form div:nth-child(4) {
  line-height: 80px;
  font-size: 14px;
}
.login-body .container .reg-wrap form div:nth-child(2) span {
  width: 50%;
  /*display: inline-block;*/
}
.login-body .container .reg-wrap form div:nth-child(2) span input {
  width: 50%;
  display: inline-block;
}
.login-body .container .reg-wrap form div:nth-child(2) span button {
  position: relative;
  top: 8px;
  left: 28%;
  font-size: 12px;
  color: #7f4f21;
  background-color: #eae4d1;
  border: none;
  text-align: center;
  line-height: 24px;
  outline: none;
}
.login-body .container .reg-wrap form div:nth-child(2) span button[disabled] {
  color: #fff;
  background-color: #e5e5e5;
  cursor: not-allowed;
}
.login-body .container .reg-wrap .user-face span {
  width: 80px;
  height: 80px;
  background-image: url(../../images/pr-sprites.png);
  background-position: 207px -138px;
  display: block;
  margin: 20px auto 10px auto;
  border-radius: 40px;
}
.login-body .container .reg-wrap .user-phone {
  text-align: center;
  font-size: 18px;
  color: #666;
}
.login-body .container .reg-wrap form.enter-info-form {
  height: 218px;
}
.login-body .container .reg-wrap form.enter-info-form div:not(.last-div) {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.login-body .container .reg-wrap form.enter-info-form div:nth-child(4) {
  line-height: 60px;
  margin-left: 30px;
}
.login-body .container .reg-wrap form.enter-info-form div:nth-child(4) label {
  font-weight: normal;
  cursor: pointer;
  width: 55px;
}
.login-body .container .reg-wrap form.enter-info-form div:nth-child(4) input {
  top: 0;
  outline: none;
}
.login-body .container .reg-wrap form.enter-info-form div:nth-child(5) {
  width: 422px;
}
.login-body .container .reg-wrap form.enter-info-form div:last-child,
.login-body .container .bind-wrap form > div:last-child {
  width: 422px;
  line-height: 50px;
  font-size: 14px;
}
.login-body .container .reg-wrap form.enter-info-form div.cancel {
  border: 0;
  width: 422px;
  font-size: 14px;
  line-height: 30px;
}
.login-body .container .reg-wrap form div.cancel {
  
}
.login-body .container .reg-wrap form.enter-info-form div.cancel > a,
.login-body .container .reg-wrap form div.cancel > a {
  line-height: 20px;
}
.login-body .container .reg-wrap form.enter-info-form div.button-wrap {
  width: 422px;
  border: 0;
}
.login-body .container .reg-wrap form div.button-wrap {
  width: 422px;
  border: 0;
  margin-left: 0;
}
.login-body .container .bind-wrap div.bind-notice {
  margin-top: 10px;
  margin-bottom: 25px;
}
.login-body .container .bind-wrap div:first-child span {
  font-size: 14px;
  color: #666;
}
.login-body .container .bind-wrap form {
  width: 422px;
  height: 110px;
  border: 1px solid #000;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.1);
  margin: 27px auto 0 auto;
  background-color: #fff;
}
.login-body .container .bind-wrap form div:first-child {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(0, 0, 0, 0.1);;

}
.login-body .container .bind-wrap form select {
  width: 100%;
  height: 55px;
  border: none;
}
.login-body .container .bind-wrap form select option {
  font-size: 14px;
  color: #999;
}
.login-body .container .bind-wrap form div:nth-child(4) {
    width: 422px;
    line-height: 80px;
    font-size: 18px;
}
