/**
 * 新版购需单样式
 */

/* 新版购需单模块编辑页面样式 */
.salesOrder-edit {
  position: relative;
  top: -5px;
}
.salesOrder-edit .add-medical-list {
  display: inline-block;
  position: relative;
  top: 12px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #c7a77b;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -57px 5px;
}
.salesOrder-edit .import-medical-list::after {
  content: ' ';
  display: inline-block;
  position: relative;
  top: 4px;
  width: 18px;
  height: 18px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -377px -400px;
  margin-left: 5px;
}
.salesOrder-edit .medical-search {
  width: 550px;
}
