/**
 * 新版购需单样式
 */

/* 新版购需单模块编辑页面样式 */
.salesOrder-edit {
  position: relative;
  top: -5px;
}
.salesOrder-edit .add-medical-list {
  display: inline-block;
  position: relative;
  top: 12px;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  background-color: #c7a77b;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -57px 5px;
}
.salesOrder-edit .import-medical-list::after {
  content: ' ';
  display: inline-block;
  position: relative;
  top: 4px;
  width: 18px;
  height: 18px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -377px -400px;
  margin-left: 5px;
}
.salesOrder-edit .medical-search {
  width: 550px;
}
.salesOrder-edit table.pr-table > tbody input.item-quantity {
  background-color: transparent;
}
.salesOrder-edit table.pr-table > thead {
  background: rgba(240,230,195,0.52);
}
.salesOrder-edit table.pr-table > tbody > tr:hover {
  background: rgba(255,241,192,0.78);
}

.salesOrder-edit table.pr-table > tbody > tr > td {
  line-height: 30px;
}
.salesOrder-edit .sales-order-item-delbtn {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 135px;
  height: 115px;
  background-color: transparent;
  z-index: 100;
}
.salesOrder-edit .sales-order-item-delbtn > div:first-child {
  width: 32px;
  height: 32px;
  background: rgba(255,56,56,0.95);
  box-shadow: 0 1px 4px 0 #F54440;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -184px -432px;
  margin-top: 10px;
  margin-left: auto;
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
.salesOrder-edit .sales-order-item-delbtn > div:last-child {
  margin-top: 10px;
  border: 1px solid #c7a77b;
  display: none;
}
.salesOrder-edit .sales-order-item-delbtn > div:last-child:before {
  content: ' ';
  position: absolute;
  top: 47px;
  right: 20px;
  width: 10px;
  height: 10px;
  display: inline-block;
  background-color: #fff;
  transform: rotate(-45deg);
  border-color: #c7a77b;
  border-top: 1px solid #c7a77b;
  border-right: 1px solid #c7a77b;
}



/*.salesOrder-edit table.pr-table > tbody > tr:after {
  content: ' ';
  display: inline-block;
  width: 32px;
  height: 32px;
  background: rgba(255,56,56,0.95);
  box-shadow: 0 1px 4px 0 #F54440;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  position: absolute;
  right: 20px;
  background-image: url(../../images/pr-sprites.png);
  background-repeat: no-repeat;
  background-position: -184px -432px;
}*/
