
/*上传附件复选框的样式*/
.mycheck {
    width: 25px;
    position: relative;
}

.mycheck input[type=checkbox] {
    visibility: hidden;
}
.mycheck label {
    cursor: pointer;
    position: absolute;
		width: 14px;
	  height: 14px;
    top: 18px;
    left:25px;
    background: #fff;
    border:1px solid #ccc;
}
.mycheck label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
		top: 2px;
    left: 2px;
    border: 1px solid #C7A77B;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mycheck input[type=checkbox]:checked + label:after {
    opacity: 1;
}
.mycheck input[type=checkbox]:disabled {
  background-color: #FBFBFB;
  border-color: ##F1F1F1;
  cursor: not-allowed;
}
/*正常复选框-样式*/
.mycheck-new {
		display: inline-block;
		/*width: 25%;*/
		padding: 0px 5px;
    position: relative;
}
.mycheck-new input[type=checkbox] {
    visibility: hidden;
}
.mycheck-new label {
    cursor: pointer;
    position: absolute;
		width: 14px;
	  height: 14px;
    top: 10px;
    left: 0px;
    background: #fff;
    border:1px solid #ccc;
}
.mycheck-new label:after {
    opacity: 0;
    content: '';
    position: absolute;
    width: 9px;
    height: 5px;
    background: transparent;
		top: 2px;
    left: 2px;
    border: 1px solid #C7A77B;
    border-top: none;
    border-right: none;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mycheck-new em{
	float: left;
	padding: 7px 5px;
}
.mycheck-new input{
	float:left;
}
.mycheck-new input[type=checkbox]:checked + label:after {
    opacity: 1;
}
