/*流程步骤显示样式start*/
.first-medical-nav>div{
	position: relative;
	padding: 7px 0px;
	display: inline-block;
	font-size: 14px;
	width: 31%;
	background-color: rgba(229,229,229,1);
}
.first-medical-nav>div>span{
	display: inline-block;
	width: 100%;
	text-align: center;
}
/*进行中的样式设计*/
.first-medical-nav > div.active{
	background-color: rgba(90,195,0,1);
	color: white;
}

/*正在进行的步骤箭头样式*/
.first-medical-nav>div.active>div:first-child
{
		position: absolute;
		left: -25px;
		top: 0px;
    width: 0;
    height: 0;
    border-top: 25px solid rgba(90,195,0,1);
    border-left: 25px solid transparent;
    border-bottom: 24px solid rgba(90,195,0,1);
}

.first-medical-nav>div.active>div:last-child{
		position: absolute;
		right: -25px;
		top: 0px;
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 25px solid rgba(90,195,0,1);
    border-bottom: 24px solid transparent;
}
/*已完成的样式设计*/
.first-medical-nav > div.visited{
	background-color: transparent;
	border-left:1px solid rgba(90,195,0,1);
	border-top: 1px solid  rgba(90,195,0,1);
	border-bottom: 1px solid  rgba(90,195,0,1);
	color: rgba(90,195,0,1);
}

/*已完成的步骤左部分箭头样式*/
.first-medical-nav>div.visited>div:first-of-type{
		position: absolute;
		z-index: 100;
		right: -23px;
		top: 0px;
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
		border-left: 24px solid #f3f1ec;
    border-bottom: 26px solid transparent;
}
.first-medical-nav>div.visited>div:nth-of-type(2){
		position: absolute;
		z-index: 1;
		right: -25px;
		top: 0px;
    width: 0;
    height: 0;
    border-top: 25px solid transparent;
    border-left: 25px solid rgba(90,195,0,1);
    border-bottom: 25px solid transparent;
}
/*未进行的样式设计*/
.first-medical-nav>div.unactive>span:before{
	border: 1px solid #666;
}
/*未进行的左部分箭头样式*/
.first-medical-nav>div.unactive>div:first-of-type
{
		position: absolute;
		left: -25px;
		top: 0px;
    width: 0;
    height: 0;
    border-top: 25px solid rgba(229,229,229,1);
    border-left: 25px solid transparent;
    border-bottom: 24px solid rgba(229,229,229,1);
}
.first-medical-nav>div.unactive>div:last-child{
		position: absolute;
		right: -25px;
		top: 0px;
    width: 0;
    height: 0;
    border-top: 24px solid transparent;
    border-left: 25px solid rgba(229,229,229,1);
    border-bottom: 24px solid transparent;
}
/*箭头内部内容*/
.first-medical-nav>div>span::before{
	/*content: attr(data-attr);*/
	width: 35px;
	height: 35px;
	text-align: center;
	line-height: 32px;
	border-radius: 50%;
	display: inline-block;
	margin-right: 5px;
}

/*步骤数字显示*/
.first-medical-nav>div:first-of-type>span:before{
	content: '1';
}
.first-medical-nav>div:nth-of-type(2)>span:before{
	content: '2';
}
.first-medical-nav>div:nth-of-type(3)>span:before{
	content: '3';
}
.first-medical-nav>div:nth-of-type(3)>span:after{
	content: ' ';
  width: 10%;
  top: 0px;
  height: 49px;
  position: absolute;
  right: -10%;
  display: inline-block;
  margin-right: 5px;
  background-color: rgba(229,229,229,1);
}
.first-medical-nav>div:nth-of-type(3).active>span:after{
		background-color: rgba(90,195,0,1);
}
.first-medical-nav>div:not(:first-child){
		margin-left: 30px;
}

.first-medical-nav>div.active>span:before{
	background-color: transparent;
	border:1px solid #fff;
}
.first-medical-nav>div.visited>span:before{
	border: 1px solid rgba(90,195,0,1);
	background-color: transparent;
}

/*编辑第三部，特殊处理*/
.triangle1{
	position: absolute;
	left: -25px;
	top: -1px;
	width: 0;
	height: 0;
	border-top: 24px solid rgba(90,195,0,1);
	border-left: 25px solid transparent;
	border-bottom: 27px solid rgba(90,195,0,1);
}
.triangle2{
	position: absolute;
	left: -24px;
	top: 0px;
	width: 0;
	height: 0;
	border-top: 22px solid #f3f1ec;
	border-left: 25px solid transparent;
	border-bottom: 27px solid #f3f1ec;
}
/*步骤流程样式end*/
