/* 项目入口文件样式 */
.sys-enter, .login-body {
  background-color: #f3f1ec;
  color: #7a7676;
  line-height: 20px;
  overflow-x: hidden;
  font-size: 14px;
}
.sys-enter .container,
.login-body .container {
  margin-top: 200px;
}
.sys-enter .container .sys-enter-logo,
.login-body .container .sys-login-logo {
  width: 100%;
  height: 122px;
  background-image: url(../images/sys_enter_logo.png);
  background-repeat: no-repeat;
  background-size: 516px 122px;
  background-position: top center;
}
.sys-enter .container p.sys-enter-title,
.login-body .container p.sys-login-title {
  font-size: 24px;
  color: rgb(127, 79, 33);
  text-align: center;
  margin-top: 10px;
}
.sys-enter .container .sys-enter-choise {
  text-align: center;
  margin-top: 60px;
  font-size: 14px;
  color: #999;
}
.sys-enter .container .sys-enter-choise span:first-child,
.sys-enter .container .sys-enter-choise span:last-child {
  display: inline-block;
  width: 160px;
  height: 1px;
  border-top: 1px solid #000;
  opacity: .1;
  position: relative;
  top: -3px;
}
.sys-enter .container .sys-enter-btn {
  margin-top: 40px;
}
.sys-enter .container .sys-enter-btn div a {
  display: inline-block;
  width: 190px;
  height: 64px;
  line-height: 64px;
  background-color: rgb(199, 167, 123);
  color: #fff;
  font-size: 24px;
  text-align: center;
}
.sys-enter .container .sys-enter-btn div a:hover {
  text-decoration: none;
}
.sys-enter .container .sys-enter-btn div:first-child a {
  float: right;
  margin-right: 14px
}
