
.tree-org ul {
    padding-left: 40px
}

.tree-org li {
    margin: 0 0;
    list-style-type: none;
    position: relative;
    padding: 10px 5px 0 5px
}

.tree-org li:before {
    content: '';
    position: absolute;
    top: 0;
    width: 1px;
    height: 100%;
    right: auto;
    left: -20px;
    border-left: 1px solid #CCC;
    bottom: 50px
}

.tree-org li:after {
    content: '';
    position: absolute;
    top: 25px;
    width: 25px;
    height: 20px;
    right: auto;
    left: -20px;
    border-top: 1px solid #CCC
}

.tree-org li .name {
    display: inline-block;
    border: 1px solid #CCC;
    padding: 5px 10px;
    min-width: 80px;
    text-align: center;
    text-decoration: none;
    color: #666;
    font-size: 12px;
    border-radius: 5px;
    cursor: pointer;
    position: relative
}

.tree-org li .name .operate {
    display: none;
    background: #EEE;
    position: absolute;
    right: 0;
    bottom: 100%;
    white-space: nowrap;
    z-index: 2;
    font-size: 16px;
    padding: 2px 10px;
    border-radius: 3px 3px 0 0
}

.tree-org li .name:hover .operate {
    display: block
}

.tree-org li .extend {
    position: absolute;
    top: 50%;
    right: -20px;
    -webkit-transform: translate(0,-50%);
    transform: translate(0,-50%);
    color: #AAA;
    cursor: pointer
}

.tree-org li .extend:before {
    content: "\e602"
}

.tree-org li .extend.on:before {
    content: "\e61a"
}

.tree-org li .fold>.name>.extend:before {
    content: "\e61a"
}

.tree-org>ul>li::after,.tree-org>ul>li::before {
    border: 0
}

.tree-org li:last-child::before {
    height: 25px
}

.tree-org li .name:hover,.tree-org li .name:hover+ul li .name {
    background: #C8E4F8;
    color: #000;
    border: 1px solid #94A0B4
}

.tree-org li .name:hover+ul li:after,.tree-org li .name:hover+ul li:before,.tree-org li .name:hover+ul ul:before,.tree-org li .name:hover+ul:before {
    border-color: #94A0B4
}














.tree-list-border {
    border: 1px solid #E1E1E1
}

.tree-list .iconfont {
    font-size: 1.2em;
    color: #B4B4B4
}

.tree-list>ul>li {
    border-bottom: 1px solid #E1E1E1
}

.tree-list li>ul {
    display: none
}

.tree-list li {
    position: relative
}

.tree-list li>em {
    display: block;
    height: 44px;
    line-height: 44px;
    padding: 0 20px;
    color: #B4B4B4;
    cursor: pointer
}

.tree-list li>em>.fold-p:before {
    content: "\e602"
}

.tree-list li>em:hover {
    background: #E8ECF1
}

.tree-list li.fold {
    background: #F2F6FA
}

.tree-list li.fold>ul {
    display: block
}

.tree-list li.fold em {
    color: #1E1E1E
}

.tree-list li.fold>em>.fold-p:before {
    content: "\e61a"
}

.tree-list li.on>em {
    background: #E8ECF1
}

.tree-list li.on:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 44px;
    border-left: 3px solid #15BBF8;
    box-shadow: 2px 0 10px #15BBF8
}

.tree-list li li>em {
    padding-left: 40px
}

.tree-list li li li>em {
    padding-left: 60px
}

.tree-list .empty-wrap {
    min-height: 400px
}
