<div class="hospital-application"
     ng-controller="QualificationApplyCtrl"
     ng-init="listParams.orderStatus=mainStatus.pageParams.orderStatus">
     <table-list list-data="rest/authen/customerAddress/query.json"
                 list-params="listParams"
                 search-mode="noCaseSensitive"
                 search-param="q">
    <!-- 主内容头部 -->
    <div class="content-wrapper-heading pdb-m mgb-l relative">
        <p class="pdb-s pdt-s mgb-l crumbs pdl-xxxxxxl">管理中心 > <em class="">医院采购目录</em></p>
            <div class="pd-c-xxxxxxl">
              <div class="full-width mgb-m">
                <div  class="order-status-btn text-right"
                     ajax-url="rest/authen/customerAddress/countByPurchaseContents.json"
                     scope-data="countByOrderStatus"
                     alert-error>
                    <div class=""></div>
                    <div class="btn btn-group">
                      <button query-order-status-button  ng-model="listParams.purchaseContentsStatus" key="" show-name="全部"  count-map="countByOrderStatus"></button>
                      <button query-order-status-button  ng-model="listParams.purchaseContentsStatus" key="待添加"  count-map="countByOrderStatus">  </button>
                      <button query-order-status-button  ng-model="listParams.purchaseContentsStatus" key="已添加"  count-map="countByOrderStatus">  </button>
                    </div>
                </div>
              </div>
              <div class="text-right  relative full-width">
                <div class="order-list-search text-left pos-rel-tr inline-block pdl-l">
                  <input type="text" class="ipt pdr-xxl" placeholder="医院名称/编号" ng-model="listParams.q">
                  <i class=""></i>
                </div>
              </div>
          </div>
      </div>

    <!-- 主内容区域 -->
    <div class="content-wrapper">
      <div ng-if="!status.isLoading">
        <div ng-if="tbodyList.length==0">
          <p class="empty-data text-center"><span class="empty-data-icon"></span></p>
          <p class="text-center">什么也没有</p>
        </div>

        <div class="pd-c">
          <table ng-if="tbodyList.length" class="table table-hover table-striped">
            <thead class="pr-bg-side">
              <tr>
                <th>系统编号</th>
                <th>医院名称</th>
                <th>最后修改时间</th>
                <th>采购目录有效期至</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody class="pr-bg-white">
              <tr ng-repeat="tr in tbodyList track by $index">
                <td>{{tr.hospitalSystemNumber}}</td>
                <td class="color-custom-orange"><a href="#/hospitalPurchaseContents/get.html?id={{tr.id}}">{{tr.name}}</a></td>
                <td>{{tr.updateAt | date : 'yyyy-MM-dd HH:mm'}}</td>
                <td>{{tr.guaranteePeriod | date: 'yyyy-MM-dd'}}</td>
                <td>
                  <a href="#/hospitalPurchaseContents/edit.html?id={{tr.id}}" class="edit-link-icon mgr-m" title="编辑"></a>
                  <a href="#/hospitalPurchaseContents/get.html?id={{tr.id}}" class="watch-link-icon mgr-m" title="查看详情"></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- 导航 -->
    <div class="clearfix pd-c-m" ng-if="tbodyList.length">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>
  </table-list>
</div>
