<div
    ajax-url="rest/authen/nearEffectPeriod/query?nearValiditType={{listParams.nearValiditType}}"
    scope-data="tabs"
    alert-error
    ng-init="listObject={};listParams.nearValiditType='近效期'"
    callback="initFlag=true;"
>
    <div class="dt-right-side-content-tab-title"
    ajax-url="rest/authen/nearEffectPeriod/countByNearValiditType"
    scope-data="countData"
    >

        <div  class="dt-right-side-content-tab-title-item" ng-class="{'on':(listParams.nearValiditType=='近效期')}">
            <span ng-click="listParams.nearValiditType='近效期'">近效期预警(<i class="color-custom-orange">{{countData['近效期'].count || 0}}</i>)</span>
            <div class="vertical-line"></div>
            <div class="level-line"></div>
        </div>
        <div  class="dt-right-side-content-tab-title-item" ng-class="{'on':(listParams.nearValiditType=='已过期')}">
            <span ng-click="listParams.nearValiditType='已过期'">已过期预警(<i class="color-custom-orange">{{countData['已过期'].count || 0}}</i>)</span>
            <div class="vertical-line"></div>
            <div class="level-line"></div>
        </div>
        <div  class="dt-right-side-content-tab-title-item" ng-if='listParams.nearValiditType=="近效期"'>
            <a tab-nav tab-name="近效期/已过期" tab-href="#/nearEffectPeriod/query-effectPeriod.html" >查看详情</a>
        </div>
        <div  class="dt-right-side-content-tab-title-item" ng-if='listParams.nearValiditType=="已过期"'>
            <a tab-nav tab-name="近效期/已过期" tab-href="#/nearEffectPeriod/query-beOverdue.html" >查看详情</a>
        </div>
    </div>

    <table-list
            ng-if="initFlag"
            list-object="obj"
            list-data="rest/authen/nearEffectPeriod/query?nearValiditType={{listParams.nearValiditType}}" list-params="listParams" search-mode="noCaseSensitive" search-param="q"
    >

    <div ng-if="tbodyList.length==0">
        <p class="empty-data text-center"><span class="empty-data-icon"></span></p>
        <p class="text-center">嘿，这里暂时什么内容都没有哦...</p>
    </div>

    <div  class="dt-right-side-content-tab-content">
        <ul  ng-if="tbodyList.length">
            <li  ng-repeat="tr in tbodyList">

                <span>
                    <a style="color: inherit" >
                        <p><span class="color-custom-orange " style="display: inline-block;width: 24px;">{{$index+1}}.</span><em class="text-m">{{tr.medical.approvedName}}</em></p>
                        <p style="text-indent: 24px;" class="flex-row">
                            <span class="flex-item-4 text-left">剩余有效期天数：<em class="color-red" >{{tr.remainValidityDays}}</em></span>
                            <span class="flex-item-4 text-left">数量：<em class="color-red" >{{tr.stockModel.quantity}}</em></span>
                            <span class="flex-item-4 text-left">批号：{{tr.productionBatch}}</span>
                        </p>
                    </a>
                </span>
            </li>

        </ul>
    </div>

    <!-- 导航 -->
    <div class="clearfix pd-c-m" ng-if="tbodyList.length">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>
    </table-list>
</div>
