<div class="modal-content pr-modal-content right-side-new pr-bg-black4 more-stock"
     ng-controller="goodsOwnerCtrl"
     ajax-url="rest/authen/goodsOwner/getOfEdit?id={{dialogData.id}}"
     scope-data="formData"
     callback="initFlag=true;"
     alert-error>

    <!--formData:{{formData}}-->

    <!-- 标题 -->
    <div class="bb-line-gold pr-bg-black2 min-h-l">
        <h1 class="pr-indent-20 pdb-m text-n" style="line-height:50px;max-height:35px;">{{dialogData.id ? '修改': '新增'  }}货主</h1>
    </div>

    <form id="editForm"
          name="editForm"
          form-validator
          parameter-body
          action="rest/authen/goodsOwner/save"
          alert-error
          alert-ok
          scope-data="formData"
          scope-error-msg="errorMsg"
          onkeydown="if(window.event.keyCode==13) return false;"
          callback="submitFormAfter();$root.watchFormChange('formData',this)"
          novalidate
        >


        <div class="pd-v-m">
            <div class="flex-column mgt">
                <div class="inline-block flex-item-3 text-right">货主编号：</div>
                <div class="flex-item-9">
                    <input type="text" name="goodsOwnerCode" class="ipt-new ipt-opacity" ng-model="formData.goodsOwnerCode" required ng-maxlength="16">
                    <i class="color-red" style="font-style: normal; font-size: 16px;">*</i>
                    <span ng-show="editForm.goodsOwnerCode.$invalid && !editForm.goodsOwnerCode.$pristine"  class="color-red">货主编号仅能16个字符内</span>
                </div>
            </div>

            <div class="flex-column mgt">
                <div class="inline-block flex-item-3 text-right">货主名称：</div>
                <div class="flex-item-9  text-left">
                    <input type="text" class="ipt-new ipt-opacity" name="goodsOwnerName" style="width: 257px;" ng-model="formData.goodsOwnerName" required ng-maxlength="30">
                    <i class="color-red"  style="font-style: normal; font-size: 16px;">*</i>
                    <span ng-show="editForm.goodsOwnerName.$invalid && !editForm.goodsOwnerName.$pristine"  class="color-red">货主名称仅能30个字符内</span>
                </div>
            </div>

            <div class="flex-column mgt">
                <div class="inline-block flex-item-3 text-right">等级：</div>
                <div class="inline-block flex-item-9  text-left">
                    <select class=" ipt-opacity"
                            chosen="" style="width: 160px;"
                            data-placeholder=" "
                            name="goodsOwnerRank"
                            ng-model="formData.goodsOwnerRank"
                            default-empty="全部"
                            required
                            select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_WLS_GoodsOwnerRank">
                    </select>
                    <i class="color-red"  style="font-style: normal; font-size: 16px;">*</i>
                </div>
            </div>

            <div class="flex-column mgt">

                <div class="inline-block flex-item-3 text-right">联系电话：</div>
                <div class="flex-item-9">
                    <input type="text" class="ipt-new ipt-opacity" name="phone" ng-model="formData.phone" required ng-pattern="/^(((13[0-9]{1})|(15[0-9]{1})|(17[0-9]{1})|(18[0-9]{1}))+\d{8})$/">
                    <i class="color-red"  style="font-style: normal; font-size: 16px;">*</i>
                    <span ng-show="editForm.phone.$invalid && !editForm.phone.$pristine"  class="color-red">联系电话不正确</span>
                </div>
            </div>

            <div class="flex-column mgt">
                <div class="inline-block flex-item-3 text-right">联系人：</div>
                <div class="flex-item-9  text-left">
                    <input type="text" class="ipt-new ipt-opacity" name="contactName" ng-model="formData.contactName" required ng-maxlength="6">
                    <i class="color-red"  style="font-style: normal; font-size: 16px;">*</i>
                    <span ng-show="editForm.contactName.$invalid && !editForm.contactName.$pristine"  class="color-red">联系人仅能6个字符内</span>
                </div>
            </div>


            <div class="flex-column mgt">
                <div class="inline-block flex-item-3 text-right">传真：</div>
                <div class="flex-item-9  text-left">
                    <input type="text" class="ipt-new ipt-opacity" name="fax" ng-model="formData.fax">
                </div>
            </div>

            <div class="flex-column mgt">
                <div class="inline-block flex-item-3 text-right">邮编：</div>
                <div class="flex-item-9  text-left">
                    <input type="text" class="ipt-new ipt-opacity" name="postCode" ng-model="formData.postCode" ng-pattern="/^[1-9][0-9]{5}$/">
                    <span ng-show="editForm.postCode.$invalid && !editForm.postCode.$pristine"  class="color-red">邮编格式不正确</span>
                </div>
            </div>

            <div class="flex-column mgt">
                <div class="inline-block flex-item-3 text-right">地址：</div>
                <div class="flex-item-9  text-left">
                    <input type="text" style="width: 257px" class="ipt-new ipt-opacity" name="address" ng-model="formData.address" ng-maxlength="30">
                    <span ng-show="editForm.address.$invalid && !editForm.address.$pristine"  class="color-red">地址仅能30个字符内</span>
                </div>
            </div>


            <div class="flex-column mgt">
                <div class="inline-block flex-item-3 text-right">备注：</div>
                <div class="flex-item-9  text-left">
                    <textarea type="text" class="ipt-new ipt-opacity" style="width: 257px ; height: 64px; padding: 5px;" name="note" ng-model="formData.note" ng-maxlength="50"></textarea>
                    <span ng-show="editForm.note.$invalid && !editForm.note.$pristine"  class="color-red">备注仅能50个字符内</span>
                </div>
            </div>

        </div>

        <div class="footer-button-area" style="position:fixed;bottom:0px;">
            <button
                    ng-disabled="editForm.$invalid"
                    type="submit" style="margin-left:300px;"
                    class="pr-btn-create-glodbg new-left-side-button"
                    ng-click="submitForm('editForm');modal.closeAll()" >
                确定
            </button>
        </div>

    </form>

</div>
