<div class="content-wrapper">
  <!-- 基本信息 -->
  <div class="index-base-info">
    <div class="mg-m flex-column">
      <p class="flex-item-2">今天是：2016-09-30</p>
    </div>
    <div class="flex-column">
      <!-- 订单录入统计 -->
      <div class="flex-item-5">
        <div class="panel pr-panel mgr">
          <h1 class="pd-m pr-panel-title-color text-center bb-line">我的订单录入统计</h1>
          <div class="flex-column">
            <div class="flex-item-4 br-dotted-line index-chart-fix-height">
              <div class="mg-l">
                <p class="text-center mgb-xxl">
                  <em class="block text-s mgb-l">今日新订单</em>
                  <span class="block text-xxxl pr-color text-large">11</span>
                </p>
                <p class="text-center">
                  <em class="block text-s mgb-l">订单总数</em>
                  <span class="block text-xxxl pr-color text-large">686</span>
                </p>
              </div>
            </div>
            <div class="flex-item-4 br-dotted-line index-chart-fix-height pdt-l">
              <div class="flex-column text-center mgb-xl">
                <div class="flex-item-6">
                  <p class="text-s">昨日新订单</p>
                  <p class="pr-color">8</p>
                </div>
                <div class="flex-item-6">
                  <p class="text-s">今日新订单</p>
                  <p class="pr-color">8</p>
                </div>
              </div>
              <div easypeichart class="pr-easypiechart text-center">
                <div class="chart" data-percent="73" data-bar-color="#ff6d29" data-size="120">
                  <span>
                    <h1 class="text-center">73%</h1>
                    <p class="text-s">昨日订单处理率</p>
                  </span>
                </div>
              </div>
            </div>
            <div class="flex-item-4 index-chart-fix-height pdt-l">
              <div class="flex-column text-center mgb-xl">
                <div class="flex-item-6">
                  <p class="text-s">本月新订单</p>
                  <p class="pr-color">8</p>
                </div>
                <div class="flex-item-6">
                  <p class="text-s">已处理订单</p>
                  <p class="pr-color">8</p>
                </div>
              </div>
              <div easypeichart class="pr-easypiechart text-center">
                <div class="chart" data-percent="85" data-bar-color="#ff6d29" data-size="120">
                  <span>
                    <h1 class="text-center">85%</h1>
                    <p class="text-s">本月订单处理率</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item-4">
        <div class="panel pr-panel mgr">
          <h1 class="pd-m pr-panel-title-color text-center bb-line">我的昨日订单状态</h1>
          <div class="flex-column">
            <div class="flex-item-6 pdt-l pdb br-dotted-line">
              <div class="text-s text-center mgb-xl">
                <span class="mgr-s"><i class="chart-tip-icon pr-icon-bg-red"></i>未处理</span>
                <span class="mgr-s"><i class="chart-tip-icon pr-icon-bg-orange"></i>未拆分</span>
                <span class="mgr-s"><i class="chart-tip-icon pr-icon-bg-gold"></i>未提交</span>
              </div>
              <div morris
                   id="morris-order-status1"
                   class="revenue-graph"
                   datavalue="10,65,25"
                   datalabel="未处理,未拆分,未提交"
                   dataformatted="未处理:10,未拆分:65,未提交:25">
              </div>
            </div>
            <div class="flex-item-6 pdt-l pdb">
              <div class="text-s text-center mgb-xl flex-column">
                <span class="flex-item-6 text-center"><i class="chart-tip-icon pr-icon-bg-red"></i>库存不足</span>
                <span class="flex-item-6 text-center"><i class="chart-tip-icon pr-icon-bg-orange"></i>批号要求</span>
              </div>
              <div morris
                   id="morris-order-status2"
                   class="revenue-graph"
                   datavalue="40,60"
                   datalabel="库存不足,批号要求"
                   dataformatted="库存不足:4,批号要求:6">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item-3 fix-width">
        <div class="panel pr-panel">
          <h1 class="pd-m pr-panel-title-color text-center bb-line">库存统计</h1>
          <div class="bb-line">
            <div class="flex-column pd-v-s">
              <div class="flex-item-4 text-center">
                <span class="block text-s mgb-s">药品类型</span>
                <span class="block text-xl pr-color">256</span>
              </div>
              <div class="flex-item-4 text-center">
                <span class="block text-s mgb-s">新增药品</span>
                <span class="block text-xl pr-color">8</span>
              </div>
              <div class="flex-item-4 text-center">
                <span class="block text-s mgb-s">库存过低</span>
                <span class="block text-xl pr-color">4</span>
              </div>
            </div>
          </div>
          <div class="pd-c-l">
            <table class="table tabel-layout-fixed">
              <tr>
                <td class="overhide w-space-nowrap">甲钴胺片</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="10" aria-valuemin="0"
                         aria-valuemax="100" style="width: 10%;">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="overhide w-space-nowrap">尤卓尔(丁酸氢化松乳膏)</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="25" aria-valuemin="0"
                         aria-valuemax="100" style="width: 25%;">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="overhide w-space-nowrap">胶体果胶秘胶囊</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="95" aria-valuemin="0"
                         aria-valuemax="100" style="width: 95%;">
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="overhide w-space-nowrap">一次性使用注射笔</td>
                <td>
                  <div class="progress">
                    <div class="progress-bar" role="progressbar"
                         aria-valuenow="60" aria-valuemin="0"
                         aria-valuemax="100" style="width: 60%;">
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-column">
      <div class="flex-item-8">
        <ng-include src="'views/index-template/index-sale-line-chart.html'"></ng-include>
      </div>
      <div class="flex-item-4">
        <ng-include src="'views/index-template/index-calendar.html'"></ng-include>
      </div>
    </div>
  </div>
  <!-- 订单录入辅助信息 -->
  <div class="index-order-create">
    <div class="index-order-create-title pr-line-title">
      <span class="">订单录入辅助信息</span>
    </div>
    <div class="flex-column mgb-l">
      <div class="flex-item-7">
        <ng-include src="'views/index-template/index-order-forecast.html'"></ng-include>
      </div>
      <div class="flex-item-5">
        <ng-include src="'views/index-template/index-order-abnormal.html'"></ng-include>
      </div>
    </div>
    <div class="flex-column">
      <div class="flex-item-12">
        <ng-include src="'views/index-template/index-new-goods-recommand.html'"></ng-include>
      </div>
    </div>
  </div>
  <!-- 主管辅助分析数据 -->
  <div class="index-data-analysis">
    <div class="index-order-create-title pr-line-title">
      <span class="">主管辅助分析数据</span>
    </div>
    <div class="flex-column">
      <div class="flex-item-8">
        <div class="panel pr-panel mgr">
          <h1 class="pd-m text-n pr-panel-title-color text-center bb-line">小组订单录入统计</h1>
          <div class="flex-column">
            <div class="flex-item-3 br-dotted-line index-chart-fix-height">
              <div class="mg-l">
                <p class="text-center mgb-l">
                  <em class="block text-s mgb-xxl">今日新订单</em>
                  <span class="block text-xxxl pr-color text-large">11</span>
                </p>
                <p class="text-center">
                  <em class="block text-s mgb-xxl">采购单总数</em>
                  <span class="block text-xxxl pr-color text-large">686</span>
                </p>
              </div>
            </div>
            <div class="flex-item-3 br-dotted-line index-chart-fix-height pdt-l">
              <div class="flex-column text-center mgb-xl">
                <div class="flex-item-6">
                  <p class="text-s">昨日新订单</p>
                  <p class="pr-color">8</p>
                </div>
                <div class="flex-item-6">
                  <p class="text-s">已处理数</p>
                  <p class="pr-color">8</p>
                </div>
              </div>
              <div easypeichart class="pr-easypiechart text-center">
                <div class="chart" data-percent="73" data-bar-color="#ff6d29" data-size="120">
                  <span>
                    <h1 class="text-center">73%</h1>
                    <p class="text-s">昨日订单处理率</p>
                  </span>
                </div>
              </div>
            </div>
            <div class="flex-item-3 br-dotted-line index-chart-fix-height pdt-l">
              <div class="flex-column text-center mgb-xl">
                <div class="flex-item-6">
                  <p class="text-s">上周新订单</p>
                  <p class="pr-color">8</p>
                </div>
                <div class="flex-item-6">
                  <p class="text-s">已处理数</p>
                  <p class="pr-color">8</p>
                </div>
              </div>
              <div easypeichart class="pr-easypiechart text-center">
                <div class="chart" data-percent="100" data-bar-color="#ff6d29" data-size="120">
                  <span>
                    <h1 class="text-center">100%</h1>
                    <p class="text-s">上周订单处理率</p>
                  </span>
                </div>
              </div>
            </div>
            <div class="flex-item-3 index-chart-fix-height pdt-l">
              <div class="flex-column text-center mgb-xl">
                <div class="flex-item-6">
                  <p class="text-s">本月新订单</p>
                  <p class="pr-color">8</p>
                </div>
                <div class="flex-item-6">
                  <p class="text-s">已处理数</p>
                  <p class="pr-color">8</p>
                </div>
              </div>
              <div easypeichart class="pr-easypiechart text-center">
                <div class="chart" data-percent="85" data-bar-color="#ff6d29" data-size="120">
                  <span>
                    <h1 class="text-center">85%</h1>
                    <p class="text-s">本月订单处理率</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item-4">
        <div class="panel pr-panel mgr">
          <h1 class="pd-m text-n pr-panel-title-color text-center bb-line">小组订单状态统计</h1>
          <div class="flex-column">
            <div class="flex-item-6 pdt-l pdb br-dotted-line">
              <div class="text-s text-center mgb-xl">
                <span class="mgr-s"><i class="chart-tip-icon pr-icon-bg-red"></i>未处理</span>
                <span class="mgr-s"><i class="chart-tip-icon pr-icon-bg-orange"></i>未拆分</span>
                <span class="mgr-s"><i class="chart-tip-icon pr-icon-bg-gold"></i>未提交</span>
              </div>
              <div morris
                   id="morris-order-status3"
                   class="revenue-graph"
                   datavalue="10,65,25"
                   datalabel="未处理,未拆分,未提交"
                   dataformatted="未处理:10,未拆分:65,未提交:25">
              </div>
            </div>
            <div class="flex-item-6 pdt-l pdb">
              <div class="text-s text-center mgb-xl flex-column">
                <span class="flex-item-6 text-center"><i class="chart-tip-icon pr-icon-bg-red"></i>库存不足</span>
                <span class="flex-item-6 text-center"><i class="chart-tip-icon pr-icon-bg-orange"></i>批号要求</span>
              </div>
              <div morris
                   id="morris-order-status4"
                   class="revenue-graph"
                   datavalue="40,60"
                   datalabel="库存不足,批号要求"
                   dataformatted="库存不足:4,批号要求:6">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-column">
      <div class="flex-item-12">
        <div class="panel pr-panel mgr">
          <h1 class="pd-v-m pr-indent-35">小组组员订单录入处理分析</h1>
          <div chart="http://120.76.232.188:8080/dt/data/bar-chart.json" style="height: 300px;"></div>
        </div>
      </div>
    </div>
  </div>
</div>
