<!-- 主内容头部-->

<!--
is-show-type-filter=false

-->

<page-main-header-component list-params="listParams"
                            crumbs-nav='[{"name":"销售中心","link":"","style":""},{"name":"借出单","link":"","style":""}]'
                            component-title="借出单"
                            is-show-create-btn="新建借出单"
                            create-btn-author="借出单新增"
                            create-new-url="#/lendOrder/edit.html"
                            get-status-num-url="rest/authen/lendOrder/countByOrderStatus.json"
                            status-group-data='[["未提交-true","待审核-true","出库中-true","已完成-false"], ["未通过-true"], ["已作废-true"]]'

                            is-show-date-filter=true
                            is-show-key-filter=true
                            is-show-business-btn-group=false
                            get-business-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType"
>

    <span ng-if="listParams.orderStatus == '已完成'">
        <span class="color-9">归还状态：</span>
        <select class="ipt pr-short-ipt color-3" style="width:90px; margin-right: 10px;"
                data-placeholder=""
                default-empty="全部"
                chosen
                ng-model="listParams.returnType"
                select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_LendOrderReturnType">
        </select>
    </span>
</page-main-header-component>

<div class="content-wrapper order-center"
     ng-init="listParams.orderStatus=mainStatus.pageParams.orderStatus">
  <table-list list-data="{{mainStatus.requestPath}}rest/authen/lendOrder/query"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">
    <!-- 主内容区域 -->
    <div class="content-wrapper-main">
      <div ng-if="!status.isLoading">
        <div ng-if="tbodyList.length==0">
          <p class="empty-data text-center"><span class="empty-data-icon"></span></p>
          <p class="text-center">嘿，这里暂时什么都没有哦~</p>
        </div>
        <ul ng-if="tbodyList.length" class="li-min-h">
          <li class="pdr-m pdl-m relative confirm-order-list" ng-repeat="tr in tbodyList">
            <div class="mgb-xxl pr-bg-white pr-fuzzy-boundary relative"
                 ng-init="bottomButtonList= $root.queryItemCardButtonList.getQuery_hospitalLendContents(tr); " ng-class="{'pr-bg-grey2':(tr.orderStatus=='已作废')}">
              <!-- ng-class="{'pr-bg-grey2':(tr.orderStatus=='未通过')}" -->
              <div class="relative">
                <div class="flex-row">
                    <span ng-if="tr.orderStatus!='未通过' &&tr.orderStatus!='已完成'" class="flex-item-6 title-states text-bold color-3 pd-v pd-c-m" >{{tr.orderStatus}}</span>
                    <span ng-if="tr.orderStatus=='已完成'" class="flex-item-6 title-states text-bold color-green2 pd-v pd-c-m" >{{tr.orderStatus}}</span>
                  <span ng-if="tr.orderStatus=='未通过'" class="flex-item-6 title-states text-bold color-red pd-v pd-c-m" >{{tr.orderStatus}}</span>
                  <span class="flex-item-6 text-right">

                     <a class="btn-link pd rect-s" title="查看详情" ng-if="tr.orderStatus!='未提交' && tr.orderStatus!='未通过'&& tr.orderStatus!='待审核'"
                        tab-nav tab-name="借出单"  tab-href="#/lendOrder/get.html?id={{tr.id}}">
                      <span class="watch-detail-icon">&nbsp;</span>
                    </a>
                    <a class="btn-link pd rect-s" title="查看详情" ng-if="tr.orderStatus=='待审核'"
                        tab-nav tab-name="借出单"  tab-href="#/lendOrder/get.html?id={{tr.id}}">
                      <span class="examine-approve">&nbsp;</span>
                    </a>

                      <span  ng-if="tr.orderStatus=='未提交'||tr.orderStatus=='未通过' && $root.hasAuthor('借出单修改')">
                        <a tab-nav tab-name="借出单"  tab-href="#/lendOrder/edit.html?id={{tr.id}}" class="btn-link pd rect-s " title="编辑">
                      <span class="edit-link-icon">&nbsp;</span></a>



                    <span ng-if="$root.hasAuthor('借出单删除')">
                      <a ng-if="tr.orderStatus=='未提交'||tr.orderStatus=='未通过' && tr.inputUserId==mainStatus.id "
                         href="javascript:;"
                         class="btn-link pd rect-s"
                         title="删除"
                         handle-this-click
                         dialog-title="确认删除 ?"
                         dialog-content="删除后将无法恢复,确认删除?"
                         dialog-template="pr-dialog-confirm.html"
                         request-url="rest/authen/lendOrder/delete?id={{tr.id}}"
                         callback="$root.utils.refreshHref()"
                         emitted="reloadList">
                      <span class="delete-link-icon">&nbsp;</span>
                      </a>
                    </span>
                    </span>

                  </span>

                    <!--<span>-->
                      <!--<a ng-if="tr.orderStatus=='未提交'||tr.orderStatus=='未通过'"-->
                         <!--class="btn-link pd-m rect-s "-->
                         <!--title="编辑"-->
                         <!--ng-href="#/lendOrder/edit.html?id={{tr.id}}" >-->
                        <!--<span class="edit-link-icon">&nbsp;</span>-->
                       <!--</a>-->
                    <!--</span>-->
                  <!--<span>-->
                    <!--<a ng-if="tr.orderStatus=='未提交'||tr.orderStatus=='未通过'"-->
                       <!--href="javascript:;"-->
                       <!--class="mr&#45;&#45;4 btn-link pd-m rect-s "-->
                       <!--title="删除"-->
                       <!--handle-this-click-->
                       <!--dialog-title="确认删除?"-->
                       <!--dialog-content="删除后将无法恢复,确认删除?"-->
                       <!--dialog-template="pr-dialog-submit.html"-->
                       <!--callback="$root.goTo('#/lendOrder/query.html')"-->
                       <!--params='{"id":tr.id}'-->
                       <!--request-url="rest/authen/lendOrder/delete">-->
                       <!--<span class="delete-link-icon">&nbsp;</span>-->
                     <!--</a>-->
                <!--</span>-->

                    <!--<span query-item-card-button-list="bottomButtonList"></span>-->
                    <!--<a ng-if="$root.utils.getcustomMenuByKeyOfArr(tr.didateFilter.buttons,'列表显示')"-->
                       <!--workflow-button-query-card-->
                       <!--custom-menu="{{$root.utils.getcustomMenuByKeyOfArr(tr.didateFilter.buttons,'列表显示')}}">-->
                    <!--</a>-->
                  </span>
                </div>


                <div class="card-new">
                    <div class="bt-line">
                      <h1 class="text-center text-m color-3 text-ellips-s" title="{{tr.customerName}}">{{tr.customerName || '暂无'}}</h1>
                    </div>

                    <div class="flex-row qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6">单据编号</span>
                      <span class="flex-item-6 text-right pr-indent-10">
                        <strong class="color-black text-normal autocut-default" title="{{tr.orderCode}}">
                          {{tr.orderCode}}
                        </strong>
                        </span>
                    </div>

                    <div class="flex-row qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6 text-left">单据日期</span>
                      <span class="flex-item-6 text-right">
                          <strong class="color-black text-normal">{{tr.orderDate || "暂无" | date : "yyyy-MM-dd"}}</strong>
                      </span>
                    </div>

                    <div class="flex-row qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6 text-left">物流中心</span>
                      <span class="flex-item-6 text-right">
                          <strong class="color-black text-normal autocut-default" title="{{tr.logisticsCenterName}}">
                            {{tr.logisticsCenterName || "暂无"}}
                          </strong>
                      </span>
                    </div>

                    <div class="flex-row qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6 text-left">归还状态：</span>
                      <span class="flex-item-6 text-right">
                          <strong class="color-black text-normal">{{tr.returnType || "暂无"}}</strong>
                      </span>
                    </div>

                    <div class="flex-row qurey text-s color-9 bt-dashed-line">
                        <span class="flex-item-6 text-left">要求到货日期：</span>
                        <span class="flex-item-6 text-right">
                          <strong class="color-black text-normal">{{tr.expectDate || '暂无' |date : 'yyyy-MM-dd' }}</strong>
                      </span>
                    </div>


                    <div ng-if="tr.orderStatus!='未通过'&&tr.orderStatus!='已作废'" class="flex-row qurey text-s color-9 bt-line"
                      >
                      <p
                      title="{{tr.note}}"
                      class="text-ellips-s">
                        <span >备注：</span><span class="color-6">{{tr.note}}</span>
                      </p>
                    </div>
                    <div ng-if="tr.orderStatus=='未通过'||tr.orderStatus=='已作废'" class="flex-row qurey text-s color-9 bt-line"
                    ng-controller="purchaseOrderEditCtrl"
                    ng-init="initFlag=true;"
                      >
                      <p
                      title="{{tr.operationFlowSet.key}}{{tr.operationFlowSet.message}}"
                      class="text-ellips-s">
                        <span class="color-red">原因：</span>
                        <span class="color-6">
                          <em ng-model="tr.operationFlowSet.key">{{tr.operationFlowSet.key}}</em>
                          <em ng-model="tr.operationFlowSet.message">{{tr.operationFlowSet.message}}</em>
                        </span>
                      </p>
                    </div>

                </div>
              </div>
            </div>
          </li>
        </ul>

      </div>
    <!-- 导航 -->
    <div class="clearfix" ng-if="tbodyList.length">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>

  </table-list>

</div>
