<div class="medical-stock supplier-management child-project-management">
  <table-list list-data="rest/authen/validityStrategy/query.json"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">

    <div class="medical-stock child-project-management receive-item" ng-controller="validityStrategyController">
      <page-main-header-component list-params="listParams"
                                  style="min-height:130px;"
                                  crumbs-nav='[{"name":"库存报表","link":"","style":""},{"name":"效期分布","link":"","style":"color-custom-orange"}]'
                                  component-title="效期分布">
      </page-main-header-component>
    </div>
  </table-list>
</div>
