<div class="medical-stock supplier-management child-project-management">
  <table-list list-data="rest/authen/validityDistribution/query.json"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q"><!-- http://localhost:3000/src/dt/rest/validityDistribution/query.json rest/authen/validityDistribution/query.json -->

    <div class="medical-stock child-project-management receive-item" ng-controller="validityStrategyController">
      <page-main-header-component list-params="listParams"
                                  style="min-height:130px;"
                                  crumbs-nav='[{"name":"库存报表","link":"","style":""},{"name":"效期分布","link":"","style":"color-custom-orange"}]'
                                  component-title="效期分布">
      </page-main-header-component>
    </div>

    <div class="content-wrapper-main pd-c-xxxxxl">
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n">
        <div chart="rest/authen/validityDistribution/countByValidity4Echarts" style="width:100%;height:500px;padding:20px;"></div>
      </div>
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n"
      ajax-url="rest/authen/validityDistribution/countByNearValiditType?nearValiditType="
      scope-data="numData"
      >

        <h1 class="text-m pd-l">总计数量：
            <span class="pr-color"></span>
        </h1>
        <table class="table pr-table pr-new-table mgb-n">
          <thead>
            <tr>
             <th class="text-center">序号</th>
             <th class="text-center">商品编号</th>
             <th class="text-center">商品通用名</th>
             <th class="text-center">剂型／分类</th>
             <th class="text-center">规格／型号</th>
             <th class="text-center">批号</th>
             <th class="text-center">灭菌批号</th>
             <th class="text-center">基本单位</th>
             <th class="text-center">剩余有效期天数</th>
             <th class="text-center">数量</th>
             <th class="text-center">仓库</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="tr in tbodyList track by $index">
              <td>{{(status.currentPage-1)*status.pageSize+($index+1)}}</td>
              <td>{{tr.medical.code}}</td>
              <td class="text-left-important">
                <div class="relative inline-block">{{tr.medical.name}}
                  <span show-info-modalbox
                        get-data-type="local"
                        template-url="tpl/showMedicalInfoModal"
                        info-object="{{tr}}"
                        info-title="商品信息">
                  </span>
                </div>
              </td>
              <td>{{tr.medical.medicalAttribute.name}}</td>
              <td>{{tr.medical.specification}}</td>
              <td>{{tr.productionBatch}}</td>
              <td>{{tr.sterilizationBatchNumber}}</td>
              <td>{{tr.medical.unit}}</td>
              <td>
                <div class="relative inline-block">{{tr.remainValidityDays}}
                  <span show-info-modalbox
                        get-data-type="local"
                        template-url="tpl/showInfoGuaranteePeriodAlarmDay"
                        info-object="{{tr}}"
                        info-title="剩余有效期天数">
                  </span>
                </div>
              </td>
              <td>
                <!-- <span class="color-orange cur-pot lend-order-goods-info"
                      ng-init="showInfoArea3=false"
                      ng-mouseenter="showInfoArea3=true"
                      ng-mouseleave="showInfoArea3=false">{{tr.stockModel.quantity}}
                  <show-info-modal ng-show="showInfoArea3"
                                   get-data-type="local"
                                   template-url="tpl/showInfoModalLendOrder"
                                   info-object="{{tr}}"
                                   info-title="商品信息">
                  </show-info-modal>
                </span> -->
                <div class="relative inline-block">{{tr.stockModel.quantity}}
                  <span show-info-modalbox
                        get-data-type="local"
                        template-url="tpl/showInfoQuantity"
                        info-object="{{tr}}"
                        info-title="数量">
                  </span>
                </div>
              </td>
              <td>{{tr.warehouseName}}</td>
            </tr>
          </tbody>
        </table>
        <div class="clearfix pd-c-m" ng-if="tbodyList.length">
            <div class="fr">
                <pagination status="status"></pagination>
            </div>
        </div>
      </div>
    </div>

  </table-list>
</div>
