  <div class="modal-content"
        ng-init='isUpdate=currentEvent && currentEvent.name==dialogData.name;formData1=dialogData||{};initFlagEvent=true;'
        >

          <form class="add-medical-form form-horizontal">
            <div class="modal-header">

                <h4 class="modal-title">{{isUpdate?"编辑":"添加"}}节点</h4>
            </div>
            <div class="modal-body">

              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">名字</label>
                <div class="col-lg-10 col-sm-10">
                  <input type="text" class="form-control" placeholder="" ng-model="formData1.name" />
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">eventType</label>
                <div class="col-lg-10 col-sm-10">

                  <select ng-if="initFlagEvent"  class="select pr-select" ng-model="formData1.eventType"
                   chosen select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Workflow_EventType">
                  </select>

                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">类型</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" data-placeholder="选择规格" ng-model="formData1.type">
                        <option value="Event">Event</option>
                        <option value="StartEvent">StartEvent</option>
                          <option value="EndEvent">EndEvent</option>
                            <option value="BranchEvent">BranchEvent</option>
                             <option value="MultiBranchEvent">MultiBranchEvent</option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">状态</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" data-placeholder="选择规格" ng-model="formData1.status"
                     chosen select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Workflow_EventStatus">
                  >

                  </select>

                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">conditionType</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlagEvent"  default-empty  class="ipt pr-short-ipt" data-placeholder="conditionType" ng-model="formData1.conditionType"
                  chosen select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Workflow_ConditionType"
                  >
                          <!-- <option value="通过">通过</option>
                      <option value="驳回">驳回</option> -->

                  </select>
                  <!-- <select ng-if="initFlagEvent"  class="select pr-select" ng-model="formData1.status" style="max-width:180px;" chosen
                   select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Basic_OrderType">
                  </select> -->
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">action</label>
                <div class="col-lg-10 col-sm-10">




                  <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" data-placeholder="选择执行动作" ng-model="formData1.action"
                  chosen default-empty  multiple
                  params='{"businessType":"{{scopeExtend.formData.businessType}}"}'
                  select-source="rest/authen/workflowProcess/queryEventActionForSelectOption.json"

                   select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Workflow_EventActionEnum"
                  >
                          <!-- <option value="通过">通过</option>
                      <option value="驳回">驳回</option> -->

                  </select>
                  <!-- <select ng-if="initFlagEvent"  class="select pr-select" ng-model="formData1.status" style="max-width:180px;" chosen
                   select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Basic_OrderType">
                  </select> -->
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">sourceRef</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" ng-model="formData1.sourceRef"  ng-options="event.name as event.name for event in formData.events">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">targetRef</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" ng-model="formData1.targetRef"  ng-options="event.name  as event.name for event in formData.events">
                    <option value=""></option>
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">权限角色运算符</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlagEvent"  class="select select-w" data-placeholder="选择一个..." chosen ng-model="formData1.didateFilter.operator" select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Workflow_AndOrOperatorsEnmus">

                  </select>

                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">指定权限</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlagEvent"  class="select select-w" data-placeholder="选择一个..." chosen default-empty multiple ng-model="formData1.didateFilter.authoritys" select-source="rest/index/queryAuthoritys.json">

                  </select>

                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">指定角色</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlagEvent"  default-empty multiple  class="ipt pr-short-ipt" data-placeholder="选择规格" ng-model="formData1.didateFilter.roleIds"
                     chosen select-source="rest/authen/manageRole/queryForSelectOption?organizationId={{formData.organizationId}}">
                  >
                  </select>

                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">指定部门</label>
                <div class="col-lg-10 col-sm-10">



                  <select ng-if="initFlagEvent"     default-empty  multiple  ajax-if-eval="formData.organizationId"  class="ipt pr-short-ipt" data-placeholder="选择规格" ng-model="formData1.didateFilter.departmentIds"
                     chosen   params='{"DistributorId":"{{formData.organizationId}}"}'
                       select-source="rest/index/department/queryForSelectOption.json">
                  </select>

                </div>
              </div>

              <div class="form-group">
                <label class="col-lg-2 col-sm-2 control-label">指定用户</label>
                <div class="col-lg-10 col-sm-10">
                  <select ng-if="initFlagEvent"  class="select select-w" data-placeholder="选择一个..." chosen default-empty multiple ng-model="formData1.didateFilter.userIds" select-source="rest/authen/manageUser/queryForSelectOption.json?organizationId={{formData.organizationId}}">

                  </select>


                </div>
              </div>
              <label class="col-lg-12 col-sm-12 control-label">自定义菜单</label>
              <div  ng-repeat="tr in formData1.didateFilter.buttons">
                <div class="form-group" >
                  <label class="col-lg-2 col-sm-2 control-label">菜单类型</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" data-placeholder="选择菜单类型" ng-model="tr.type"
                    chosen select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Workflow_ButtonType"
                    >
                  </select>
                  </div>
                </div>
                <div class="form-group" >
                  <label class="col-lg-2 col-sm-2 control-label">按钮名</label>
                  <div class="col-lg-10 col-sm-10">
                        <input type="text" class="form-control" placeholder="" ng-model="tr.buttonName" />

                  </div>
                </div>
                <div class="form-group" >
                  <label class="col-lg-2 col-sm-2 control-label">请求方式</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" data-placeholder="选择请求方式" ng-model="tr.requestMethod"
                    chosen select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Http_HttpRequestEnmus"
                    >
                  </select>
                    <p>（默认POST）</p>
                  </div>

                </div>
                <div class="form-group" >
                  <label class="col-lg-2 col-sm-2 control-label">请求路径</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" data-placeholder="选择请求路径" ng-model="tr.requestUrl"

                    params='{"type":"工作流请求路径"}'
                    chosen select-source="rest/baseData/queryForSelectOptionByType.json"
                    >  </select>
                  </div>
                </div>
                <div class="form-group" >
                  <label class="col-lg-2 col-sm-2 control-label">参数方式</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" data-placeholder="选择参数方式" ng-model="tr.requestParam"
                    chosen select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Http_HttpRequestParamTypeEnmus"

                    >  </select>
                  </div>
                </div>

                <div class="form-group" >
                  <label class="col-lg-2 col-sm-2 control-label">移动端是否显示</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" data-placeholder="选择是否显示" ng-model="tr.isShowOfMobile" chosen>
                      <option value="是">是</option>
                      <option value="否">否</option>
                    </select>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">菜单类型</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  default-empty  class="ipt pr-short-ipt" data-placeholder="conditionType" ng-model="tr.conditionType"
                    chosen select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Workflow_ConditionType"
                    >
                            <!-- <option value="通过">通过</option>
                        <option value="驳回">驳回</option> -->

                    </select>
                  </div>
                </div>

                <div class="form-group" >
                  <label class="col-lg-2 col-sm-2 control-label">弹出窗口标题</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" default-empty   data-placeholder="选择菜单类型" ng-model="tr.alertTitle"
                    params='{"type":"工作流弹出窗口标题"}'
                    chosen select-source="rest/baseData/queryForSelectOptionByType.json"
                      >   </select> <p>（为空则不弹出窗口）</p>
                  </div>

                </div>
                <div class="form-group" >
                  <label class="col-lg-2 col-sm-2 control-label">弹出窗口内容</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" default-empty   data-placeholder="选择菜单类型" ng-model="tr.alertMsg"
                    params='{"type":"工作流弹出窗口内容"}'
                    chosen select-source="rest/baseData/queryForSelectOptionByType.json"
                      >  </select>
                  </div>
                </div>
                <div class="form-group" ng-if="tr.conditionType=='驳回'">
                  <label class="col-lg-2 col-sm-2 control-label">驳回下拉选择理由</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  class="ipt pr-short-ipt" default-empty   data-placeholder="选择菜单类型" ng-model="tr.alertSelect"
                    chosen select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Basic_BaseDataType"
                      >  </select>    <p>驳回下拉选择理由</p>
                  </div>

                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">指定角色</label>
                  <div class="col-lg-10 col-sm-10">
                    <select ng-if="initFlagEvent"  default-empty multiple class="ipt pr-short-ipt" data-placeholder="选择规格" ng-model="tr.roleIds"
                       chosen select-source="rest/authen/manageRole/queryForSelectOption?organizationId={{formData.organizationId}}">
                    >
                    </select>

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">回调callback-url</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="tr.callBackUrl" />

                  </div>
                </div>

                <button   ng-click="formData1.didateFilter.buttons.splice($index,1);"  type="button" class="btn btn-default" > 删除  </button>
                <button ng-if="$index>0"   ng-click="switchButtons(formData1.didateFilter.buttons,$index,$index-1)"  type="button" class="btn btn-default" > 上移  </button>
                <button  ng-if="$index+1<formData1.didateFilter.buttons.length"   ng-click="switchButtons(formData1.didateFilter.buttons,$index,$index+1)" type="button" class="btn btn-default" > 下移  </button>

              </div><!-- end buttons-->
              <a   href="javascript:;" class="pr-add-circle"
                ng-click="addEventButtons(formData1)"
              ><span class="fa fa-plus-circle"></span></a>

                <div class="form-group">

                  <label class="col-lg-2 col-sm-2 control-label"></label>
                  <div class="col-lg-10 col-sm-10">

                <button  ng-click="saveEvent(formData1)" type="button" class="btn btn-default" > 保存  </button>

                <button  ng-if="formData1.id"  ng-click="deleteEvent(formData1.id);" type="button" class="btn btn-default" > 删除  </button>
                <button   ng-click="scopeExtend.workflow.reload(); $root.modal.closeAll()" type="button" class="btn btn-default" > 刷新  </button>

                      </div>
                </div>

            </div>

            </form>
        </div>
