*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 20px;
    width: 100%;
    height: 100%;

}

ul{
    list-style: none;
}

body{
    width: auto;
    height: auto;
    overflow: auto;
    background: #F3F1EC;
}

.bg{
    height: 20rem;
    background:#423B37;
}

.clear{
    clear: both;
}

.title{
    height:2rem;
    line-height: 2rem;
    /*font-weight: bold;*/
    text-indent: .5rem;
    font-size: 1.1rem;
}

.border-none{
    border: none;
}

.goods-info{
    height: auto;
    overflow: hidden;
    width: auto;
    margin: 1rem;
    padding: 1rem;
    border-radius: 0.5rem;
    background: #FFFFFF;
    box-shadow: 0 2px 22px 0 rgba(143,115,76,0.20);
}

.goods-title{
    text-align: center;
    width: 100%;
    height: auto;
    overflow: hidden;
    font-size: 1.2rem;
    line-height: 2rem;
    /*font-weight: bold;*/
    margin-bottom: 1.5rem;
    margin-top: -60%;
}

.goods-title h1{
    margin: 1rem;
    font-size: 1.75rem;
    color: #817069;
}

.goods-title h2{
    line-height: 2rem;
    font-size: 1.5rem;
    color: #ccc;
}

.goods-info-item{
    width: 49.5%;
    height: auto;
    margin-bottom:1.5rem;
    float: left;
}

.item{
    clear: both;
    height:auto;
    width: auto;
    overflow: hidden;
}

.goods-info-item .lables{
    font-size: 1.25rem;
    color: #A9A9A9;
    margin-bottom: 0.5rem;
}

.goods-info-item .val{
    color: #333333;
    font-size: 1.5rem;
    /*font-weight: bold;*/
}

.goods-list{
    height: auto;
    overflow: hidden;
    background: #FFFFFF;
    box-shadow: 0 2px 22px 0 rgba(143,115,76,0.20);
    border-radius: 0.5rem;
    margin: 1rem;
    padding-top: 1rem;
    padding-bottom: 3rem;
    margin-bottom: 5rem;
}

.goods-list li{

    height:auto;
    overflow: hidden;
    position: relative;

}
.goods-list li p{
    font-size: 1rem;
    margin: 1rem 0;
}

.goods-list li:last-child{
    margin-top: -0.5rem;
}

.goods-list li:first-child .point2{
    background: #FFFFFF;
    border:solid .5rem #D3BE87;
    box-shadow: 0 2px 12px 0 #D3BE87;
    top: 0.1rem;
}
.goods-list li:first-child .right{
    margin-top: 0.2rem;
}

.goods-list li:last-child .right{
    border-color: #fff;

}
.goods-list li:first-child .left .year,
.goods-list li:last-child .left .year{
    /*visibility: visible;*/
}

.goods-list li:last-child .point3{
    top:0;
}

.left{
    width: 6rem;
    height:auto;
    float: left;
    margin-left: 0.5rem;
}

.year{
    height: 2rem;
    width: 100%;
    font-size: 1.8rem;
    font-size: 32px;
    text-align: left;
    text-indent: 1rem;
    margin-right: 1rem;
    color: #D2B58D;
}

.left .date{
    font-size: 1.5rem;
    font-size: 28px;
    text-align: right;
    font-weight: normal;
    margin-right: 1.2rem;
    color: #D2B58D;

}

.left .date .day{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background: #D3BE87;
}


.point{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 5rem;
    top:3rem;
    background: #FFFFFF;
    border:solid .5rem #D3BE87;
    box-shadow: 0 2px 12px 0 #D3BE87;
}
.point2{
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 6rem;
    top:0.2rem;
    background: #D3BE87;
    border:solid .5rem #fff;
    box-shadow: 0 2px 12px 0 #D3BE87;
}

.point3{
    background: #D3BE87;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    position: absolute;
    left: 6.45rem;
    top:0.5rem;
}


.hide{
    visibility: hidden;
}

.right{
    width: auto;
    margin-left: 6.95rem;
    padding-left: 1rem;
    border-left: 1px solid #ABABAB;
    font-size: 1rem;
    padding-bottom: 2rem;
}

.right .title{
    font-size:1.6rem;
    text-indent: 1rem;
    padding-top: 0rem;

}

.right .item2{
    height: auto;
    overflow: hidden;
    margin-top: 0.7rem;
}

.goods-list li .val{
    color: #151515;
    height:auto;
    overflow: hidden;
    width: auto;
    margin-left: 8rem;
    margin-right: 0.5rem;
    line-height: 1.6rem;
    min-height: 1.4rem;
    font-size:1.4rem;
}
.goods-list li .lables{
    float: left;
    text-align: left;
    height: 1.4rem;
    line-height:1.4rem;
    color: #A9A9A9;
    width: 8rem;
    font-size:1.4rem;
    text-indent: 1rem;
}