<div class="medical-stock supplier-management child-project-management"
     ng-controller="medicalStockCtrl"
     ng-init="listParams.orderStatus=mainStatus.pageParams.orderStatus;listParams.type=mainStatus.pageParams.type ||'商品'">


    <!-- 主内容头部 -->
    <page-main-header-component list-params="listParams"
                                crumbs-nav='[{"name":"管理中心","link":"","style":""},{"name":"库存查询","link":"","style":"color-custom-orange"}]'
                                component-title="库存查询"
                                get-business-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType">
    </page-main-header-component>

    <!-- 新建库存  -->
    <div ng-show="listParams.type=='库存'" class="pos-rel-tl order-create-btn fl-l" style="top:-30px;margin-left:40px;">
      <a href="javascript:void(0)" modal-right="450" modal-scope="this" modal-url="views/medicalStock/edit-stock.html"  title="新建库存策略"><i style="top:3px;"></i><span class="text-s">新建库存策略</span></a>
    </div>
  <table-list ng-if="listParams.type=='商品'"
              list-data="rest/authen/medicalStock/query.json"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">
    <!-- 主内容区域 -->
     <!-- 商品相关操作 -->
    <div ng-show="listParams.type=='商品'" class="content-wrapper" style="margin-top:30px;padding:0px 10px;">
      <div class="content-wrapper-main pr-fuzzy-boundary">
        <div class="flex-column color-9 pd-c-l pdt-m pdb-m bg-white">
          <div class="flex-item-12 text-right">
              <div class="order-list-search inline-block text-left code pos-rel-tr pdl-l relative">
                <input type="text" class="ipt pdr-xxl" placeholder="输入商品名相关信息/证号关键字段进行搜索" ng-model="listParams.q">
                <i class=""></i>
              </div>
              <div class="inline-block mgl-m" ng-click="listParams.q=''">
                <i class="fa fa-refresh mgr-s color-light-brown"></i>
                <a href="" class="color-light-brown" >重置搜索条件</a>
              </div>
          </div>
        </div>
        <div class="bt-line">
          <div>
            <table class="table pr-table pr-new-table mgb-n color-3">
              <thead>
                <tr>
                 <th class="text-center">序号</th>
                 <th class="text-center">商品编号</th>
                 <th class="text-left">商品名称</th>
                 <th class="text-center">规格</th>
                 <th class="text-center">基本单位</th>
                 <th class="text-center">可用数量</th>
                 <th class="text-center">锁定数量</th>
                 <th class="text-center">待处理数量</th>
                 <th class="text-center">冻结量</th>
                 <th class="text-center">生产厂商</th>
                 <th class="text-center">注册号</th>
                 <th class="text-center">批准文号</th>
               </tr>
              </thead>
              <tbody>
                <tr ng-repeat="tr in tbodyList">
                  <td class="text-center" style="line-height:2.4">{{(status.currentPage-1)*status.pageSize+($index+1)}}</td>
                  <td class="text-center" style="line-height:2.4;min-width:220px;">{{tr.code}}</td><!-- 商品编码 -->
                  <td class="text-left" style="line-height:2.4">{{tr.name}}</td><!-- 商品名称 -->
                  <td class="text-center" style="line-height:2.4">{{tr.specification}}</td><!-- 规格型号 -->
                  <td class="text-center" style="line-height:2.4">{{tr.unit}}</td><!-- 基本单位 -->
                  <td class="text-center" style="line-height:2.4">{{tr.manufacturer}}</td><!-- 生产厂商 -->
                  <td class="text-center" style="line-height:2.4">{{tr.storeRoomName}}</td><!-- 库房名称 -->
                  <td class="text-center" style="line-height:2.4">{{tr.regionName}}</td><!-- 区域名称 -->
                  <td class="text-center" style="line-height:2.4">{{tr.goodsLocationName}}</td><!-- 推荐上架货位 -->
                  <td class="text-right" style="line-height:2.4">{{tr.inventoryCap}}</td><!-- 库存上限 -->
                  <td class="text-right" style="line-height:2.4">{{tr.inventoryLimit}}</td><!-- 库存下限 -->
                </tr>
              </tbody>
            </table>
          </div>
          <div class="flex-column">
            <div class="flex-item-12 pdr-l">
              <!-- 导航 -->
              <div class="clearfix" ng-if="tbodyList.length">
                <div class="fr">
                   <pagination status="status"></pagination>
                </div>
              </div>
            </div>
          </div>
          <div class="pr-bg-white" ng-if="!tbodyList.length">
            <div class="empty-table clearfix">
              <div>&nbsp;</div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </table-list>
</div>
