<div class="first-medical-application"
     ajax-url="rest/authen/firstMedicalApplication/get.json?id={{mainStatus.pageParams.id}}"
     scope-data="showData"
     callback='initFlag=true;'
     alert-error>


    <!-- 头部信息 -->
    <div class="header-info relative mgb-l">

      <p class="pdb-s pdt-s crumbs pd-c-xxl">通知消息公告  >
        <a
            tab-nav
            tab-name='通知公告'
            tab-href="#/announcement/query.html"><em class="color-custom-orange">通知公告</em></a>
        <em> > 通知公告详情</em>
      </p>

      <div class="pd-c-xxl pdt-l pdb-l">
        <!-- 标题 -->
        <div class="mgb">
          <h1 class="pr-font-20 color-black">通知公告详情</h1>
        </div>
      </div>
    </div>

  <!-- 主体内容 -->
  <div class="content-wrapper">
    <div class="content-wrapper-main mgt">

      <!-- 基本信息 -->
      <div class="panel pr-panel pr-panel-height mgb">
        <h1 class="mgb-m mgt color-black text-bold text-n text-center color-red">贵州省开展2017年药品不良反应监测能力提升培训</h1>
        <p class="text-center" style="font-size: 12px;color: #999;line-height: 17px;">
          <span>发布部门：<em style="color:#151515;">质检部</em></span>
          <span style="margin: 0 20px;">发布人：<em style="color:#151515;">张三</em></span>
          <span>发布部门：<em style="color:#151515;">质检部</em></span>

        </p>

        <div class="announcement-content">
          日前，贵州省2017年药品不良反应监测能力培训班在贵阳开班，省、市、县药品不良反应监测机构、部分医疗机构负责药品不良反应监测工作人员共80余人参加培训。

          开展药品不良反应监测能力培训是为了提升各级监测、医疗机构业务人员在药品不良反应监测评价、数据挖掘，以及风险防控等方面综合能力，更好地适应药品监测与评价工作新形势，积极确保药品质量安全的重要手段。

          为保证培训质量和效果，国家食品药品监督管理总局高级研修学院在课程设置上做了精心安排，邀请了各专业相关专家现场授课，围绕药品不良反应主动监测与再评价、药品品种监测进展及案例分享、上市后药物安全性信息的分析评价、大数据挖掘方法在不同数据库中的应用、不良反应上报数据清洗与统计方法、中国的精确医疗和药品不良反应监测经验分享等内容进行深入讲解。通过培训，全体学员对大数据在未来药品安全性监测起到的重要作用有了初步了解，掌握了挖掘药品风险信号方法，拓宽了监测视野，提升了风险防控意识，为全省深入推进药品不良反应/事件监测工作打下了基础。
        </div>

      </div>
    </div>

    <!-- 附件 -->
    <div class="panel pr-panel pr-panel-height mgb">
      <h1 class="pr-font-18 mgb" style="color: #333333;  font-size: 14px;">附件</h1>
       <div class="announcement-file">
         <ul class="file-list">
           <li class="file-item">
             <div class="close-btn"></div>
             <img src="" alt="">
             <p>adkj.jpg</p>
           </li>
           <li class="file-item">
             <div class="close-btn"></div>
             <div class="icon-file"></div>
             <p>adkj.jpg</p>
           </li>
         </ul>
       </div>
    </div>

    <!-- 已查阅 -->
    <div class="panel pr-panel pr-panel-height mgb" style="width: 50%; height: 300px;  font-size: 14px; float: left">
      <h1 class="pr-font-18 mgb" style="color: #333333; font-size: 14px;">已查阅<em style="color: #C7A77B;">（4）</em></h1>
      <div class=" announcement-read-log">
      <table class="table pr-table pr-new-table pr-table-content">
        <thead class="pr-bg-side">
        <tbody>
        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>

        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>

        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>
        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>
        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>
        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>
        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>
        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>
        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>
        <tr>

          <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
          <td >
            阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
          </td><!-- 阅读时间-->
          <td >
            终端{{tr.createAt | date : 'yyyy-MM-dd'}}
          </td><!-- 终端 -->

        </tr>


        </tbody>
      </table>
      </div>
    </div>

    <!-- 已查阅 -->
    <div class="panel pr-panel pr-panel-height mgb announcement-read-log" style="width: 50%;  height: 300px;  font-size: 14px; float: right">
      <h1 class="pr-font-18 mgb" style="color: #333333; font-size: 14px;">未查阅<em style="color: #C7A77B;">（4）</em></h1>
      <div class=" announcement-read-log">
        <table class="table pr-table pr-new-table pr-table-content">
          <thead class="pr-bg-side">
          <tbody>
          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>

          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>

          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>
          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>
          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>
          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>
          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>
          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>
          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>
          <tr>

            <td class="text-left">姓名{{tr.saleUser.n}}</td><!-- 姓名 -->
            <td >
              阅读时间{{tr.publishAt | date : 'yyyy-MM-dd'}}
            </td><!-- 阅读时间-->
            <td >
              终端{{tr.createAt | date : 'yyyy-MM-dd'}}
            </td><!-- 终端 -->

          </tr>


          </tbody>
        </table>
      </div>
    </div>
  </div>


</div>
