<div class="sale-return-order right-side pr-bg-black3 relative invoicesOrder-order-dialog"
     ng-controller="invoicesOrderQrcodePrintDialogController"
     ng-init="scopeData={num:1}">

  <script src="http://localhost:8000/CLodopfuncs.js?priority=1"></script>
  <script src="http://localhost:8001/CLodopfuncs.js?priority=2"></script>

  <div class="sale-bg" ng-init="loadCLodop();$root.OPrinter.init()">
      <div class="pd-c-l pdt pdb pr-font-14 color-light-brown sale-boder-btm pr-bg-black2">二维码打印预览</div>

      <div id="installNoteDiv" class="mgb-xl pdl-xl mgt-xl" ng-if="notInstallPlusin">
        <i class="fa fa-warning color-red mgr text-n"></i>
        <font>CLodop云打印服务(localhost本地)未安装启动!点击这里<a href='http://113.10.155.131/CLodopPrint_Setup_for_Win32NT.zip' target='_self'>执行安装</a>,安装后请刷新页面。</font>
      </div>

      <div class="pr-panel-height select-bg">
        <!-- 打印份数 -->
        <div class="bb-line-gold pd-c-l pdt pdb">
          <span class="color-white">每个包装打印</span>
          <span>
            <input type="number"
                   class="ipt pr-short-ipt pr-bg-black6 color-white pr-cos-w-50"
                   ng-model="scopeData.num"
                   onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))">
          </span>
          <span class="color-white">份</span>
        </div>
        <!-- 所有药品的条码列表 -->
        <div class="scroll-out-div">
          <div class="pr-bg-black1 mgb-xl pdb-l"
               ng-repeat="mItem in medicalDataList.orderMedicalNos track by $index"
               ng-controller="qrcodePrintDialogItemController"
               ng-init="saveOriginData(mItem)">
            <!-- 药品信息 -->
            <div class="bb-dashed-gold pd-c-l">
              <div class="flex-column pd-v-l">
                <div class="flex-item-6">
                  <span>商品通用名：</span><span class="color-white">{{mItem.name}}</span>
                </div>
                <div class="flex-item-6 text-right">
                  <span>商品编号：</span><span class="color-white">{{mItem.code}}</span>
                </div>
              </div>
              <div class="flex-column pdb-l">
                <div class="flex-item-6">
                  <span>数量：</span>
                  <span class="color-white">
                    <!-- <span>{{mItem.quantity}}{{mItem.unit}} = </span> -->
                    <!-- <span ng-repeat="uItem in mItem.converResults track by $index">{{uItem.unitQuantity}}{{uItem.unit}}<em ng-if="($index+1)!==mItem.converResults.length"> + </em></span> -->

                    <span>{{mItem.converStr}}</span>

                  </span>
                </div>
                <div class="flex-item-6 text-right">
                  <span>批号：</span><span class="color-white">{{mItem.productionBatch}}</span>
                </div>
              </div>
            </div>
            <!-- 药品二维码码列表 -->
            <div class="pd-c-l flex-column pdt-l">
              <!-- 二维码展示 -->
              <div class="flex-item-5 qrcode-show">
                <img ng-src="{{mItem.qrcode}}">
                <div class="color-3 text-center">
                  <p>{{mItem.name}}</p>
                  <p class="color-9">客户：{{medicalDataList.customerName}}</p>
                </div>
              </div>
              <!-- 商品信息 -->
              <div class="flex-item-7 pdl-l">
                <div ng-repeat="uItem in mItem.converResults track by $index" class="mgb-l">
                  <div class="pdb-m" ng-class="{'bb-dashed-gold':($index+1)!=mItem.converResults.length}">
                    <div class="flex-column">
                      <span class="flex-item-6">
                        <input type="number"
                               class="ipt pr-short-ipt pr-bg-black6 color-white pr-cos-w-80 text-right"
                               ng-model="uItem.unitQuantity"
                               onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                               ng-change="chgThisUnitQuantity(uItem.unitQuantity,mItem.converResults,$index)">
                        <em class="color-white">{{uItem.unit}}</em>
                      </span>
                      <span class="flex-item-6 text-right">打印：{{uItem.unitQuantity}}*{{scopeData.num}}={{uItem.unitQuantity*scopeData.num}} 份</span>
                    </div>
                    <div class="mgt color-9">说明：1{{uItem.unit}} = {{uItem.ratio}}{{uItem.baseUnit}}</div>
                  </div>
                </div>
                <p class="text-right">打印总计：{{calcuAllShare(scopeData.num, mItem.converResults)}}份</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center print-btn pr-bg-black1">
        <button type="button"
                class="pr-btn-save-glodbg mgr-l"
                ng-disabled="!scopeData.num || notInstallPlusin"
                ng-click="qrCodePrint('preview')">打印预览
        </button>
        <button type="button"
                class="pr-btn-save-glodbg"
                ng-disabled="!scopeData.num || notInstallPlusin"
                ng-click="qrCodePrint('print')">打印
        </button>
      </div>
  </div>
</div>
