<div   ng-controller="pageCtrl" class="pd-c-xxxl"
    ajax-url="rest/authen/customerAddress/get.json?id={{mainStatus.pageParams.id}}&t={{$root.reloadTime}}"
    scope-data="customerAddress"

><!-- pageCtrl-->
<!-- page heading start-->
<div class="page-heading">
    <h3>客户管理</h3>
    <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li>收货方信息</li>
          <li class="active">收货地址管理</li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<!-- 收货方信息 -->
<div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
  <h1 class="text-n text-bold">客户名：{{customerAddress.name}}

  </h1>
  <address-manage-component ng-if="customerAddress.id" ng-init="formData={}"
                            compnent-title="客户收货地址信息"
                            request-url="rest/authen/customerAddress/get.json?id={{customerAddress.id}}&t={{$root.reloadTime}}"
                            scope-data-prefix="customer"
                            form-data="formData"
                            modify-modal-url="views/customerAddress/contact/edit.html"
                            create-modal-url="views/customerAddress/contact/edit.html"
                            create-address-type="销售"
                            set-default-address-requesturl="rest/authen/customerAddress/contact/setDefaultContactId"
                            del-this-address-requesturl="rest/authen/customerAddress/contact/delete">
  </address-manage-component>
</div>
<!--body wrapper end-->
</div>
