<!-- page heading start-->
<div class="page-heading">
    <h3>药械管理</h3>
    <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active"> 药械管理 </li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<table-list list-data="{{mainStatus.requestPath}}rest/authen/medical/query" list-params="listParams">
  <div class="wrapper">
    <div class="loader" ng-if="status.isLoading">
        <div class="loader-inner pacman">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-if="!status.isLoading">
      <div class="empty-wrap" ng-if="tbodyList.length==0">
        <span><i class="fa fa-inbox"><em>什么也没有</em></i></span>
      </div>
      <div ng-if="tbodyList.length">
        <div class="mg-m">
          <div>
              <a href="#create-medical-modal" data-toggle="modal" class="btn btn-success">
                  <i class="fa fa-plus"></i> 新建
              </a>
          </div>
          <!-- modal start -->
          <div aria-hidden="true" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="create-medical-modal" class="modal fade">
              <div class="modal-dialog">
                  <div class="modal-content">
                      <div class="modal-header">
                          <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                          <h4 class="modal-title">新建药械</h4>
                      </div>
                      <div class="modal-body">
                        <form class="add-medical-form form-horizontal"
                              action="http://192.168.0.107:8080/dt/rest/authen/medical/save"
                              form-validator>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">药品名称</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="text" class="form-control" placeholder="" ng-model="formData.name" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">药品单位</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="text" class="form-control" placeholder="" ng-model="formData.unit" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">药品单价</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="text" class="form-control" placeholder="" ng-model="formData.price" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">品牌</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="text" class="form-control" placeholder="" ng-model="formData.brand" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">分类</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="text" class="form-control" placeholder="" ng-model="formData.category" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">药监编码</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="text" class="form-control" placeholder="" ng-model="formData.drugAdministrationCode" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">保质期</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="text" class="form-control" placeholder="" ng-model="formData.guaranteePeriod" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">批准文号</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="text" class="form-control" placeholder="" ng-model="formData.licenseNumber" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">生产日期</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="date" class="form-control" placeholder="" convert-to-date timestamp="true" ng-model="formData.productionDate" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label">规格</label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="text" class="form-control" placeholder="" ng-model="formData.specification" />
                            </div>
                          </div>
                          <div class="form-group">
                            <label class="col-lg-2 col-sm-2 control-label"></label>
                            <div class="col-lg-10 col-sm-10">
                              <input type="submit" class="btn btn-success" value="提交">
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>
              </div>
          </div>
          <!-- modal end -->
        </div>
        <table class="table table-hover table-striped">
            <thead>
              <tr>
                  <th><input type="checkbox" class="selectAll"></th>
                  <th>序号</th>
                  <th>名称</th>
                  <th>单位</th>
                  <th>价格</th>
                  <th>创建时间</th>
                  <th>状态</th>
                  <th>操作</th>
                  <th></th>
              </tr>
            </thead>
              <tbody>
                <tr ng-repeat="tr in tbodyList" ng-click="selectThis()">
                    <td class="select-td"><input type="checkbox" class="selectOne" value="{{tr.id}}"></td>
                    <td>{{$index + 1}}</td>
                    <td>{{tr.name}}</td>
                    <td>{{tr.unit}}</td>
                    <td>{{tr.price}}</td>
                    <td>{{tr.createAt | date : 'yyyy-MM-dd hh:mm'}}</td>
                    <td>{{tr.status}}</td>
                    <td>
                        <button type="button" class="btn btn-default" modal-right="400" modal-scope="this" modal-url="views/list-view.html"><i
                                class="fa fa-folder-open-o"></i> 查看
                        </button>
                        <button type="button" class="btn btn-primary" modal-right="400" modal-scope="this" modal-url="views/list-edit.html"><i
                                class="fa fa-edit"></i> 编辑
                        </button>
                        <button type="button" class="btn btn-danger"
                                ng-click="deleteThis('http://192.168.0.107:8080/dt/rest/authen/medical/delete', tr.id)">
                                <i class="fa fa-trash-o"></i> 删除</button>
                    </td>
                </tr>
              </tbody>
          </table>
        <div class="clearfix">
            <div class="fr">
                <pagination status="status"></pagination>
            </div>
        </div>
      </div>
    </div>
  </div>
</table-list>
<!--body wrapper end-->
