<div class="medical-stock supplier-management child-project-management">
  <table-list list-data="rest/authen/archiveCodeStrategy/query.json"
                 list-params="listParams"
                 search-mode="noCaseSensitive"
                 search-param="q">
    <div class="medical-stock child-project-management receive-item" ng-controller="archiveCodeStrategyController">
    <!-- 主内容头部 -->
    <page-main-header-component list-params="listParams"
                                style="min-height:130px;"
                                crumbs-nav='[{"name":"基础设置","link":"","style":""},{"name":"档案编号设置","link":"","style":"color-custom-orange"}]'
                                component-title="档案编号设置">
    </page-main-header-component>
    <!-- 主内容区域 -->
    <div class="content-wrapper" style="margin:0px 45px;">
      <div class="content-wrapper-main pr-fuzzy-boundary">
        <div class=" pr-bg-white pr-fuzzy-boundary">
          <table class="table pr-table pr-new-table pr-table-content">
            <thead class="pr-bg-side">
              <tr>
                <th>项目</th>
                <th>最大级数</th>
                <th>最大长度</th>
                <th>第1级</th>
                <th>第2级</th>
                <th>第3级</th>
                <th>第4级</th>
                <th>第5级</th>
                <th>操作</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-if="tbodyList.length"
                  ng-repeat="tr in tbodyList track by $index"
                  class="relative"
                  table-item-multiple-btn>
                <td>{{tr.archiveName}}</td>
                <td>{{tr.maxLevel}}</td>
                <td>{{tr.maxLength}}</td>
                <td>{{tr.levelMap.level1}}</td>
                <td>{{tr.levelMap.level2}}</td>
                <td>{{tr.levelMap.level3}}</td>
                <td>{{tr.levelMap.level4}}</td>
                <td>{{tr.levelMap.level5}}</td>
                <td><a href="javascript:;"
                       ng-if="$root.hasAuthor('档案编号设置修改')"
                       modal-right="543"
                       modal-scope="this"
                       modal-data='{"data":{{tr}}}'
                       modal-url="views/archiveCodeStrategy/edit-of-aside.html">修改</a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="pr-bg-white" ng-if="!tbodyList.length">
          <div class="empty-table clearfix">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </table-list>
</div>
