<div class="order-code-strategy"
     ng-controller="archiveCodeStrategyController"
     ajax-url="rest/authen/orderCodeStrategy/get?moduleType=DT_购需单"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData');formData.moduleType='DT_购需单';getCodeLength(formData);createCodeSample(formData)"
     alert-error>
  <form id="editForm"
        name="editForm"
        form-validator
        parameter-body
        action="rest/authen/orderCodeStrategy/save.json"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        onkeydown="if(window.event.keyCode==13) return false;"
        callback="submitFormAfter();$root.watchFormChange('formData',this)"
        novalidate="true">
    <!-- 头部信息 -->
    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs pd-c-xxl">基础设置 >
        <a href="#/confirmOrder/query.html"><em class="color-custom-orange">档案编号设置</em></a>
      </p>
      <div class="pd-c-xxl pdt-l pdb-l">
        <!-- 标题 -->
        <div class="mgb">
          <h1 class="pr-font-20 color-black">档案编号设置</h1>
        </div>
      </div>
    </div>
    <!-- 主内容区域 -->
    <div class="content-wrapper flex-column">
      <table class="table table-striped table-bordered table-hover table-condensed">
        <thead>
          <tr>
            <th>项目</th>
            <th>最大级数</th>
            <th>最大长度</th>
            <th>第1级</th>
            <th>第2级</th>
            <th>第3级</th>
            <th>第4级</th>
            <th>第5级</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in archiveData track by $index">
            <td>{{item.name}}</td>
            <td>{{item.maxLevel}}</td>
            <td>{{item.maxLength}}</td>
            <td><input type="text" class="ipt pr-short-ipt" ng-model="item.level1"></td>
            <td><input type="text" class="ipt pr-short-ipt" ng-model="item.level2"></td>
            <td><input type="text" class="ipt pr-short-ipt" ng-model="item.level3"></td>
            <td><input type="text" class="ipt pr-short-ipt" ng-model="item.level4"></td>
            <td><input type="text" class="ipt pr-short-ipt" ng-model="item.level5"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="line-height:4.9;">
        <button type="submit" class="pr-btn-save-glodbg mgr">保存</button>
      </div>
    </div>
  </form>
</div>
