<div   ng-controller="invoicesOrderCtrl"
class="content-wrapper invoices-order"
     ajax-url="rest/authen/outstockOrder/get.json?id={{mainStatus.pageParams.id}}&confirmOrderId={{mainStatus.pageParams.confirmOrderId}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="showData"
     callback="formData=showData.distributionInfo;formData.id=showData.id"
     alert-error>
  <!-- 主内容头部 -->
  <div class="content-wrapper-heading mgt-m mgb-m">
    <h1 class="pr-title-color pr-font-20">出库单</h1>
  </div>
  <!-- 主内容区域 -->
  <div class="content-wrapper-main pr-bg-white pr-fuzzy-boundary text-s">
    <!-- 单据信息 -->
    <div class="flex-column pd-c-m pdt-m pdb-m bb-line">
      <div class="flex-item-10">
        <span class="mgr-m">出库单：{{showData.orderNo}}</span>
        <span class="mgr-m">创建时间：{{showData.createAt | date: 'yyyy-MM-dd HH:mm'}}</span>
        <span class="mgr-m">对应销售单：
  <a href="#/confirmOrder/get.html?id={{showData.confirmOrderId}}">{{showData.confirmOrderNo}}</a>
    </span>

      </div>
      <div class="flex-item-2 text-right">
        <span>状态：{{showData.orderStatus}}</span>
      </div>
    </div>

    <!-- 商品列表 -->
    <div class="pd-c-m pdt">
      <!-- 可发货 -->
      <div class="confirm-order pdb-l">
        <div order-medicals  ng-model="showData.orderMedicalNos"></div>

      </div>
      <!-- <div class="pd-v-xl">
        <p>备注：{{showData.note}}</p>
      </div> -->
    </div>
  </div>
  <!-- 配送信息 -->

    <div class="mgt-m pdb-xxl text-right">
      <span>
        <a class="mgr" href="#/outstockOrder/query.html">返回出库列表</a>
        <a ng-if="showData.orderStatus=='已出库'" class="btn pr-btn-create-glodbg" href="javascript:;">打印</a>
      </span>
      <span ng-if="showData.didateFilter.buttons.length>0"  custom-menu-list custom-menu-arr="{{showData.didateFilter.buttons}}"></span>
    </div>

</div>
