<div   ng-controller="invoicesOrderCtrl"
class="content-wrapper invoices-order"
     ajax-url="rest/authen/outstockOrder/get.json?id={{mainStatus.pageParams.id}}"
     scope-data="showData"
     callback="formData=showData.distributionInfo;formData.id=showData.id"
     alert-error>
  <!-- 主内容头部 -->
  <div class="content-wrapper-heading mgt-m mgb-m">
    <h1 class="pr-title-color pr-font-24">发货单</h1>
  </div>
  <!-- 主内容区域 -->
  <div class="content-wrapper-main pr-bg-white pr-fuzzy-boundary text-s">
    <!-- 单据信息 -->
    <div class="flex-column pd-c-xl pdt-l pdb-l bb-line">
      <div class="flex-item-10">
        <span class="mgr-m">发货单：{{showData.orderNo}}</span>
        <span class="mgr-m">创建时间：{{showData.createAt | date: 'yyyy-MM-dd MM:ss'}}</span>
        <span class="mgr-m">对应订单：缺字段</span>
        <span>对应出库单：缺字段</span>
      </div>
      <div class="flex-item-2 text-right">
        <span>状态：{{showData.orderStatus}}</span>
      </div>
    </div>
    <!-- 用户信息 -->
    <div class="pd-c-xl pdt-l pdb-l bb-line">
      <p class="flex-column mgb">
        <span class="flex-item-6">客户名：{{showData.address.name}}</span>
        <span class="flex-item-6 text-right"><em class="mgr-m">销售人员：{{showData.saleUser.n}}</em> 期望到货时间：{{showData.expectDate | date: 'yyyy-MM-dd'}}</span>
      </p>
      <p>收货人信息：{{showData.address.name}} {{item.prov}}{{item.city}}{{item.area}}{{showData.address.address}} {{showData.address.tel}}</p>
    </div>
    <!-- 商品列表 -->
    <div class="pd-c-xl">
      <!-- 可发货 -->
      <div class="confirm-order bb-line pdb-l">
        <h1 class="pdt-l color-6 text-m pr-fw-500">订购清单</h1>
        <div order-medicals  ng-model="showData.orderMedicalNos"></div>

      </div>
      <div class="pd-v-xl">
        <p>备注：{{showData.note}}</p>
      </div>
    </div>
  </div>
  <!-- 配送信息 -->
  <div class="panel pr-panel pr-fuzzy-boundary pd-l">


      <div class="pd-c-xl pdb-xxl text-right">
        <span class="mgr-l"  ng-if="showData.orderStatus=='未出库'">

          <button class="pr-btn-save-glodbg"
                  type="button"
                  handle-this-click
                  dialog-title="确认发货?"
                  dialog-content="确认通知库房发货?此操作会同时打印发货单"
                  dialog-template="pr-dialog-submit.html"
                  request-url="rest/authen/outstockOrder/updateStatus.json?id={{mainStatus.pageParams.id}}&status=已出库"
                  call-back="goTo('#/outstockOrder/order-done.html?id={{mainStatus.pageParams.id}}')">确认出库</button>



        </span>
          <span class="mgr-l"><a href="#/outstockOrder/query.html">返回</a></span>
      </div>
    </div>

</div>
