<page-main-header-component list-params="listParams"
                            crumbs-nav='[{"name":"地址","link":"","style":""},{"name":"地址管理","link":"","style":"color-custom-orange"}]'
                            component-title="地址管理">
</page-main-header-component>

<div class="content-wrapper order-center medical-attribute"
     ng-controller="regionManageController"
     ng-init="moduleName='regionManage';showModuleName='地址'"
     ajax-url="rest/authen/regionManage/query.json?pageSize=9999"
     scope-data="scopeTreeData"
     callback="scopeTreeData2=filterJSONDate(scopeTreeData);initFlag=true;showAddClass=false;formData={}"
     alert-error>
    <!-- 主内容区域 -->
    <div class="content-wrapper-main pdl-l pdr-l full-height">
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd">
            <h1 class="text-bold text-n">{{showModuleName}}</h1>
            <div class="flex-column">
                <div class="flex-item-6 br-dotted-line" style="overflow-y:auto;max-height:550px;">
                    <!-- 新增商品主类别按钮 -->
                    <div class="pos-rel-tl order-create-btn mgt-l mgb-xl">
                        <a href="javascript:;" ng-click="cancelAddClass()"><i></i><span class="">{{showModuleName}}</span></a>
                    </div>
                    </span>
                    <!-- 新增商品主类别 -->
                    <div class="mgt-l mgb-l add-main-class relative" ng-init="addMainClassObj={};addMainClassObj.name=''";" ng-if="showAddClass">
                    <!--<input type="hidden" ng-model="addMainClassObj.level">-->
                    <!--<p class="mgb-l">分类编号：<input type="text" class="ipt pr-short-ipt" ng-model="addMainClassObj.levelCode" /></p>-->
                    <p class="mgb-l">省：<input type="text" class="ipt pr-short-ipt" ng-model="addMainClassObj.name"  /></p>
                    <p><button type="button" class="pr-btn-confirm-glodbg-small" ng-click="addMainClass(addMainClassObj)">确认</button></p>
                    <span class="cancel-btn fa fa-times-circle" style="top:16px;" ng-click="cancelAddClass()"></span>
                </div>

                <div ng-if="initFlag" class="z-tree mgt"
                     z-tree-select={{scopeTreeData2}}
                     z-tree-type="static"
                     ng-model="formData.addressAttribute"
                     id-key="id"
                     p-id-key="parentId">
                </div>
            </div>
            <div ng-if="formData.addressAttribute" class="flex-item-6 pdt-l pdl-xxl text-n">
                <div class="bb-dashed-line pdt-l pdb-l">
            <span>
            <span>
              <button type="button"
                      class="pr-btn-confirm-glodbg-small mgr-l bg-red"
                      handle-this-click
                      dialog-title="确认"
                      dialog-content="删除后将无法回复，确认删除?"
                      dialog-content-color="#FF3939"
                      dialog-template="pr-dialog-confirm.html"
                      callback="deleteThisClass()">
                <span class="fa fa-trash-o mgr text-n"></span>删除
              </button>
            </span>
            <span>
              <button type="button" class="pr-btn-confirm-glodbg-small mgr-l" ng-click="addNewRegion()">
                <span class="fa fa-plus-circle mgr text-n"></span>新增
              </button>
            </span>
            </span>
                </div>
                <div class="">
                    <p class="pdt-l pdb-l">
                        <span>分类编号：</span>
                        <span ng-if="!formData.medicalAttribute.parentCode">{{formData.medicalAttribute.levelCode}}</span>
                        <!--<span ng-if="formData.medicalAttribute.parentCode">{{formData.medicalAttribute.parentCode}} +-->
                        <!--<input type="text" class="ipt pr-short-ipt" style="width:80px;" ng-model="formData.medicalAttribute.levelCode">-->
                        <!--</span> &ndash;&gt;-->
                        <!--<span>-->
                        <em ng-if="formData.addressAttribute.code">{{formData.addressAttribute.code}} +</em>
                        <input type="text" class="ipt pr-short-ipt aling-center" style="width:80px;" ng-model="formData.addressAttribute.name" ng-disabled="!formData.addressAttribute.code">
                        </span>
                    </p>
                    <p class="pdt-m pdb-m">
                        <span>名称：</span>
                        <span><input type="text" class="ipt pr-short-ipt" ng-model="formData.addressAttribute.name"></span>
                    </p>
                    <!-- <p class="pdt-m pdb-m">
                      <span>编码规则提示：</span>
                      <span>编码规则提示</span>
                    </p> -->
                    <p class="pdt-m pdb-m">
                        <button type="button" class="pr-btn-confirm-glodbg-small" ng-click="saveNodeInfo(formData.addressAttribute)" ng-disabled="!formData.addressAttribute">保存</button>
                    </p>
                </div>

                <!--<div class="">-->
                <!--<p class="pdt-l pdb-l">-->
                <!--<span>分类编号：</span>-->
                <!--&lt;!&ndash; <span ng-if="!formData.medicalAttribute.parentCode">{{formData.medicalAttribute.levelCode}}</span>-->
                <!--<span ng-if="formData.medicalAttribute.parentCode">{{formData.medicalAttribute.parentCode}} +-->
                <!--<input type="text" class="ipt pr-short-ipt" style="width:80px;" ng-model="formData.medicalAttribute.levelCode">-->
                <!--</span> &ndash;&gt;-->
                <!--<span>-->
                <!--<em ng-if="formData.medicalAttribute.parentCode">{{formData.medicalAttribute.parentCode}} +</em>-->
                <!--<span ng-disabled="!formData.medicalAttribute.parentCode">{{formData.medicalAttribute.levelCode}}</span>-->
                <!--</span>-->
                <!--&lt;!&ndash;</p>&ndash;&gt;-->
                <!--<p class="pdt-m pdb-m">-->
                <!--<span>分类名称：</span>-->
                <!--<span>{{formData.medicalAttribute.showName}}</span>-->
                <!--</p>-->
                <!--&lt;!&ndash; <p class="pdt-m pdb-m">-->
                <!--<span>编码规则提示：</span>-->
                <!--<span>编码规则提示</span>-->
                <!--</p> &ndash;&gt;-->
                <!--<p class="pdt-m pdb-m">-->
                <!--<button type="button" class="pr-btn-confirm-glodbg-small" ng-click="saveNodeInfo(formData.medicalAttribute)" ng-disabled="!formData.medicalAttribute">保存</button>-->
                <!--</p>-->
                <!--</div>-->
            </div>
            <!--<div ng-if="!formData.addressAttribute" class="flex-item-6 pdt-l pdl-xxl text-n">-->
            <!--<p class="text-center mgt-xxl" style="font-size:24px;">请选择{{showModuleName}}分类</p>-->
            <!--</div>-->
        </div>
    </div>
</div>
</div>
