
        <div class="modal-content pr-modal-content color-yellow1 right-side-new pr-bg-black4" ng-controller="editCtrl" alert-error
         callback="initFlag=true">

          <div class="add-medical-form form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">采购订单管理详情</h4>
            </div>
            <div class="modal-body modal-body-new outside-div">
              <div class="mgt">
                <p class="pr-indent-35 text-n">基本信息：</p>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医院订单编号：
                  </div>
                  <div class="flex-item-6 text-left pd color-white">
                    {{formData.hospitaOrderCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医院编号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.hospitalCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医院名称：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.hospitalName}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    经销商编号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.distributorCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    经销商名称：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.distributorName}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    总价：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    ￥{{formData.totalPrice}}
                  </div>
                </div>

              </div>

            </div>
            </div>
        </div>
