
        <div class="modal-content pr-modal-content color-yellow1 right-side-new pr-bg-black4" ng-controller="editCtrl" alert-error
        ajax-url="rest/authen/op/deliveryItem/get.json?id={{tr.id}}"  scope-data="formData"  alert-error
        callback="initFlag=true">

          <div class="add-medical-form form-horizontal">
            <div class="modal-header">
                <h4 class="modal-title">采配送数据管理详情</h4>
            </div>
            <div class="modal-body modal-body-new ">
              <div class="mgt">
                <p class="pr-indent-35 text-n">基本信息：</p>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医疗机构编号：
                  </div>
                  <div class="flex-item-6 text-left pd color-white">
                    {{formData.hospitalCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医疗机构名称：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.hospitalName}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    供应商编号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.distributorCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    供应商名称：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.distributorName}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    供应商商品编号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.code}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    供应商商品名称：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.name}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    供应商商品通用名称：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.approvedName}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    供应商商品规格：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.specification}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    供应商商品基本单位：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.packingAttribute.name}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    供应商商品条码：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.barcode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    配送数量：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.deliveryQuantity}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    配送日期：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.deliveryDate | date : 'yyyy-MM-dd'}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    批号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.productionBatch}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    生产日期：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.productionDate | date : 'yyyy-MM-dd'}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    有效期至：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.validTill | date : 'yyyy-MM-dd'}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    灭菌批号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.sterilizationBatchNumber}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    灭菌日期：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.totalPrice}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    灭菌有效期至：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.totalPrice}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    随货同行单编号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.relOrderCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    物流单元编号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.logisticCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    运输方式：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.transportionMode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    车牌/车次/航班号
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.transportionNum}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    快递单号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.expressNo}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    发票号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.invoiceNo}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    发票日期：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.invoiceDate | date : 'yyyy-MM-dd'}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医疗机构采购订单编号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.purchasePlanOrderCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医疗机构采购订单行号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.purchasePlanOrderLineNumber}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医疗机构部门编号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.hospitalDepartmentCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医疗机构部门名称：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.hospitalDepartmentName}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医疗机构库房编号：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.storeRoomCode}}
                  </div>
                </div>
                <div class="flex-column" style="margin-top:0px;font-size:14px;">
                  <div class="flex-item-4 text-right pd">
                    医疗机构库房名称：
                  </div>
                  <div class="flex-item-8 text-left pd color-white">
                    {{formData.storeRoomName}}
                  </div>
                </div>

              </div>

            </div>
            </div>
        </div>
