<div class="index-order-create">
  <!-- 标题 -->
  <div class="index-order-create-title pr-index-line-title flex-column">
    <span class="flex-item-5"></span>
    <span class="flex-item-2">销售辅助信息</span>
    <span class="flex-item-5"></span>
  </div>
  <!-- 区块1 -->
  <div class="flex-column">
    <div class="flex-item-12">
      <div class="panel pr-panel pr-fuzzy-boundary pd-n">
        <div class="pd-l text-n pr-panel-title-color bb-line flex-column">
          <h4 class="flex-item-6">销售单预测</h4>
          <span class="flex-item-6 text-right"><a href="javascript:;" class="text-s">更多预测结果...</a></span>
        </div>
        <div class="pd-c-l">
          <table class="table tabel-layout-fixed index-table-th text-s">
            <thead>
              <th class="pr-panel-title-color color-6 pr-label pr-percent-w-45">客户名</th>
              <th class="pr-panel-title-color color-6 pr-label">上次采购时间</th>
              <th class="pr-panel-title-color color-6 pr-label">采购周期</th>
              <th class="pr-panel-title-color color-6 pr-label"></th>
            </thead>
            <tbody>
              <tr>
                <td class="color-custom-orange overhide w-space-nowrap">合生元益生菌冲剂</td>
                <td>贵州百灵药业</td>
                <td>20</td>
                <td class="text-right"><a href="javascript:;">发起采购</a></td>
              </tr>
              <tr>
                <td class="color-custom-orange overhide w-space-nowrap">合生元益生菌冲剂</td>
                <td>贵州百灵药业</td>
                <td>20</td>
                <td class="text-right"><a href="javascript:;">发起采购</a></td>
              </tr>
              <tr>
                <td class="color-custom-orange overhide w-space-nowrap">合生元益生菌冲剂</td>
                <td>贵州百灵药业</td>
                <td>20</td>
                <td class="text-right"><a href="javascript:;">发起采购</a></td>
              </tr>
              <tr>
                <td class="color-custom-orange overhide w-space-nowrap">合生元益生菌冲剂</td>
                <td>贵州百灵药业</td>
                <td>20</td>
                <td class="text-right"><a href="javascript:;">发起采购</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!-- <div class="flex-item-5">
      <div class="panel pr-panel pr-fuzzy-boundary pd-n">
        <div class="pd-l text-n pr-panel-title-color bb-line flex-column">
          <h4 class="flex-item-6">销售单异常提示</h4>
          <span class="flex-item-6 text-right"><a href="javascript:;" class="text-s">更多异常结果...</a></span>
        </div>
        <div class="pd-c-l">
          <table class="table tabel-layout-fixed index-table-th text-s">
            <thead>
              <th class="pr-panel-title-color color-6 pr-label">销售单编号</th>
              <th class="pr-panel-title-color color-6 pr-label">客户名</th>
              <th class="pr-panel-title-color color-6 pr-label">异常原因</th>
            </thead>
            <tbody>
              <tr>
                <td class="color-custom-orange"><a href="javascript:;">D20160101-0005</a></td>
                <td class="overhide w-space-nowrap">四川大学华西医院</td>
                <td class="overhide w-space-nowrap color-catch">订单中有药械订购数量明显低于往期采购值</td>
              </tr>
              <tr>
                <td class="color-custom-orange"><a href="javascript:;">D20160101-0005</a></td>
                <td class="overhide w-space-nowrap">四川大学华西医院</td>
                <td class="overhide w-space-nowrap color-catch">订单中有药械订购数量明显低于往期采购值</td>
              </tr>
              <tr>
                <td class="color-custom-orange"><a href="javascript:;">D20160101-0005</a></td>
                <td class="overhide w-space-nowrap">四川大学华西医院</td>
                <td class="overhide w-space-nowrap color-catch">订单中有药械订购数量明显低于往期采购值</td>
              </tr>
              <tr>
                <td class="color-custom-orange"><a href="javascript:;">D20160101-0005</a></td>
                <td class="overhide w-space-nowrap">四川大学华西医院</td>
                <td class="overhide w-space-nowrap color-catch">订单中有药械订购数量明显低于往期采购值</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div> -->
  </div>
  
</div>
