<div class="index-order-create">
  <!-- 标题 -->
  <div class="index-order-create-title pr-index-line-title flex-column">
    <span class="flex-item-5"></span>
    <span class="flex-item-2">销售辅助信息</span>
    <span class="flex-item-5"></span>
  </div>
  <!-- 区块1 -->
  <div class="flex-column">
    <div class="flex-item-7">
      <div class="panel pr-panel pr-fuzzy-boundary pd-n">
        <div class="pd-l text-n pr-panel-title-color bb-line flex-column">
          <h4 class="flex-item-6">销售单预测</h4>
          <span class="flex-item-6 text-right"><a href="javascript:;" class="text-s">更多预测结果...</a></span>
        </div>
        <div class="pd-c-l">
          <table class="table tabel-layout-fixed index-table-th text-s">
            <thead>
              <th class="pr-panel-title-color color-6 pr-label">客户名</th>
              <th class="pr-panel-title-color color-6 pr-label">上次采购时间</th>
              <th class="pr-panel-title-color color-6 pr-label">采购周期</th>
              <th class="pr-panel-title-color color-6 pr-label">&nbsp;</th>
            </thead>
            <tbody ng-init="tr1.progress=95;tr2.progress=80;tr3.progress=80;tr4.progress=70;tr5.progress=70">
              <tr    >
                <td class="color-custom-orange overhide w-space-nowrap">四川省人名医药高新区第二人民医药住院部</td>
                  <td>2016-05-01</td>
                <td>2个月</td>
                <td>
                  <div class="progress pr-progress"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="{{tr1.progress}}">

                    <div ng-if="tr1.progress!='100'" class="progress-bar pr-progress-bar" role="progressbar"
                         aria-valuenow="{{tr1.progress}}" aria-valuemin="0"
                          ng-style='{"width":tr1.progress+"%","background-color":"#ff8c00 !important"}'
                         aria-valuemax="100" >
                    </div>
                  </div>
                </td>
                <td class="text-right"> <a  ng-if="$root.hasAuthor('购需单编辑')" href="#/salesOrder/edit.html" title="新建购需单">创建购需单</a></td>
              </tr>
              <tr>
                <td class="color-custom-orange overhide w-space-nowrap">华西医院</td>
                  <td>2016-05-01</td>
                <td>2个月</td>
                <td>
                  <div class="progress pr-progress"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="{{tr2.progress}}">

                    <div ng-if="tr2.progress!='100'" class="progress-bar pr-progress-bar" role="progressbar"
                         aria-valuenow="{{tr2.progress}}" aria-valuemin="0"
                          ng-style='{"width":tr2.progress+"%","background-color":"#ff8c00 !important"}'
                         aria-valuemax="100" >
                    </div>
                  </div>
                </td>
                <td class="text-right"> <a  ng-if="$root.hasAuthor('购需单编辑')" href="#/salesOrder/edit.html" title="新建购需单">创建购需单</a></td>
              </tr>
              <tr>
                <td class="color-custom-orange overhide w-space-nowrap">成都十陵医院</td>
                  <td>2016-06-01</td>
                <td>3个月</td>
                <td>
                  <div class="progress pr-progress"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="{{tr3.progress}}">

                    <div ng-if="tr3.progress!='100'" class="progress-bar pr-progress-bar" role="progressbar"
                         aria-valuenow="{{tr3.progress}}" aria-valuemin="0"
                          ng-style='{"width":tr3.progress+"%","background-color":"#ff8c00 !important"}'
                         aria-valuemax="100" >
                    </div>
                  </div>
                </td>
                <td class="text-right"> <a  ng-if="$root.hasAuthor('购需单编辑')" href="#/salesOrder/edit.html" title="新建购需单">创建购需单</a></td>
              </tr>
              <tr>
                <td class="color-custom-orange overhide w-space-nowrap">成都棕南妇科医院</td>
                  <td>2016-08-01</td>
                <td>2个月</td>
                <td>
                  <div class="progress pr-progress"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="{{tr4.progress}}">

                    <div ng-if="tr4.progress!='100'" class="progress-bar pr-progress-bar" role="progressbar"
                         aria-valuenow="{{tr4.progress}}" aria-valuemin="0"
                          ng-style='{"width":tr4.progress+"%","background-color":"#ff8c00 !important"}'
                         aria-valuemax="100" >
                    </div>
                  </div>
                </td>
                <td class="text-right"> <a  ng-if="$root.hasAuthor('购需单编辑')" href="#/salesOrder/edit.html" title="新建购需单">创建购需单</a></td>
              </tr>
              <tr>
                <td class="color-custom-orange overhide w-space-nowrap">成都温江佳人妇科医院</td>
                  <td>2016-08-03</td>
                <td>2个月</td>
                <td>
                  <div class="progress pr-progress"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="{{tr5.progress}}">

                    <div ng-if="tr5.progress!='100'" class="progress-bar pr-progress-bar" role="progressbar"
                         aria-valuenow="{{tr5.progress}}" aria-valuemin="0"
                          ng-style='{"width":tr5.progress+"%","background-color":"#ff8c00 !important"}'
                         aria-valuemax="100" >
                    </div>
                  </div>
                </td>
                <td class="text-right"> <a  ng-if="$root.hasAuthor('购需单编辑')" href="#/salesOrder/edit.html" title="新建购需单">创建购需单</a></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="flex-item-5">
      <div class="panel pr-panel pr-fuzzy-boundary pd-n">
        <div class="pd-l text-n pr-panel-title-color bb-line flex-column">
          <h4 class="flex-item-6">销售单异常提示</h4>
          <span class="flex-item-6 text-right"><a href="#/confirmOrder/query.html" class="text-s">更多异常结果...</a></span>
        </div>
        <div class="pd-c-l"


        ajax-url="rest/authen/confirmOrder/query.json"

        params='{"orderStatus":"","pageSize":5}'

        scope-data="salesOrder_abnormal_list"

        >
          <table class="table tabel-layout-fixed index-table-th text-s">
            <thead>
              <th class="pr-panel-title-color color-6 pr-label">销售单编号</th>
              <th class="pr-panel-title-color color-6 pr-label">客户名</th>
              <th class="pr-panel-title-color color-6 pr-label">异常原因</th>
            </thead>
            <tbody >
              <tr  ng-repeat="tr in salesOrder_abnormal_list">
                <td class="color-custom-orange"><a href="#/confirmOrder/get.html?id={{tr.id}}">{{tr.orderNo}}</a></td>
                <td class="overhide w-space-nowrap">{{tr.customerName || '未知单位'}}</td>
                <td class="overhide w-space-nowrap color-catch">订单中有药械订购数量明显低于往期采购值</td>
              </tr>
              <!-- <tr>
                <td class="color-custom-orange"><a href="javascript:;">D20160101-0005</a></td>
                <td class="overhide w-space-nowrap">四川大学华西医院</td>
                <td class="overhide w-space-nowrap color-catch">订单中有药械订购数量明显低于往期采购值</td>
              </tr>
              <tr>
                <td class="color-custom-orange"><a href="javascript:;">D20160101-0005</a></td>
                <td class="overhide w-space-nowrap">四川大学华西医院</td>
                <td class="overhide w-space-nowrap color-catch">订单中有药械订购数量明显低于往期采购值</td>
              </tr>
              <tr>
                <td class="color-custom-orange"><a href="javascript:;">D20160101-0005</a></td>
                <td class="overhide w-space-nowrap">四川大学华西医院</td>
                <td class="overhide w-space-nowrap color-catch">订单中有药械订购数量明显低于往期采购值</td>
              </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
