<div id="page-side" class="left-side sticky-left-side" left-menu-collapse nice-scroll>
    <!--logo start-->
    <div class="logo pr-bg-important">
      <div>
        <a href="#login.html"><i></i></a>
      </div>
      <div>
        <p class="color-white text-center">经销商交易系统</p>
      </div>
    </div>
    <div class="logo-icon text-center">
      <img src="images/logo.png" alt="盘谷医疗" style="width:45px;" />
    </div>
    <!--logo end-->
    <div class="left-side-inner">
        <!-- 在小型设备上显示 -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">

                <div class="media-body">
                    <h4><a href="#">盘谷管理员</a></h4>
                    <span>"他什么都没写..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">账号信息</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
              <li><a href="#"><i class="fa fa-user"></i> <span>概览</span></a></li>
              <li><a href="#"><i class="fa fa-cog"></i> <span>设置</span></a></li>
              <li><a href="#"><i class="fa fa-sign-out"></i> <span>登出</span></a></li>
            </ul>
        </div>

        <ul class="nav   custom-nav">

              <li><a href="#compatibility.html"> 兼容性处理</a></li>
            <li><a href="#button.html"> 按钮请求</a></li>
               <li><a href="#query.html"> 查询页面</a></li>
           <li><a href="#ajaxUrl.html"> 异步加载数据ajaxUrl</a></li>
              <li><a href="#chosen.html"> 下拉组件chosen</a></li>
            <li><a href="#formValidator.html"> 表单提交formValidator</a></li>
              <li><a href="#formValidatorNoSaveTip.html"> 表单修改标志监听</a></li>
                  <li><a href="#sendMsgToUser.html">发送私信</a></li>
            <li><a href="#ngTagsInput.html"> ngTagsInput.html</a></li>
  <li><a href="#rootScope.html"> rootScope提高得公共服务</a></li>
    <li><a href="#jtopo_hello.html"> jtopo图表</a></li>
        <li><a href="#editWorkflowProcess.html"> editWorkflowProcess图表</a></li>
          <li><a href="#customMenu.html"> customMenu自定义菜单</a></li>
              <li><a href="#angucomplete.html"> angucomplete自动补齐</a></li>
                    <li><a href="#echart.html">echart图表</a></li>
        </ul>
        <!--侧边栏导航 end-->
    </div>
</div>
