<div class="modal-content right-side-new pr-bg-black4">
  <form class="add-customerAddress-form form-horizontal"
        id="editForm"
        name="editForm"
        form-validator
        parameter-body
        action="rest/authen/validityStrategy/save.json"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="$root.watchFormChange('formData',this)"
        novalidate="true">
    <div class="bb-line-gold pr-bg-black2 min-h-l">
      <h1 class="pr-indent-20 pdb-m text-n" style="line-height:50px;max-height:35px;">设置效期预警天数</h1>
    </div>
    <div class="pd-c-v-l text-n mgt-l">
      <span>效期预警天数：</span>
    </div>
    <div class="footer-button-area" style="position:fixed;bottom:0px;">
      <button type="submit"
              style="margin-left:300px;"
              class="pr-btn-create-glodbg new-left-side-button"
              ng-click="modal.closeAll()"
              ng-disabled="formData.unQualifiedQuantity<0">确定
      </button>
    </div>
  </form>
</div>
