<div class="medical-stock supplier-management child-project-management" ng-init="listObject.reloadTime=$root.utils.getNowTime()">

  <page-main-header-component list-params="listParams"
                              style="min-height:130px;"
                              crumbs-nav='[{"name":"库存管理","link":"","style":""},{"name":"效期策略","link":"","style":"color-custom-orange"}]'
                              component-title="效期策略">
  </page-main-header-component>

  <div class="mgl-xl status-num-list-new" style="top:-56px;">
      <span status-style-toggle-new class="rect-status mgl-s" ng-click="goTo('#/validityStrategy/query.html')">效期策略</span>
      <span status-style-toggle-new class="rect-status pr-color rect-status-active-new" ng-click="goTo('#/validityStrategy/single-strategy-set.html')">单个商品效期策略设置</span>
  </div>

  <div class="pos-rel-tl order-create-btn" style="margin:-30px 0 20px 45px;" ng-if="$root.hasAuthor('效期策略新增')"
  >
    <a href="#"
       modal-right="650"
       modal-scope="this"
       modal-data='{"id":"{{tr.id}}","receiveQuantity":"{{tr.receiveQuantity}}"}'
       modal-url="views/validityStrategy/add-for-single-set.html"><i></i><span class="text-s">新增单个商品策略</span></a>
  </div>

  <table-list list-data="rest/authen/validityStrategy/querySingleMedicalValidityStrategy.json?t={{listObject.reloadTime}}"
              list-params="listParams"
              list-object="listObject"
              search-mode="noCaseSensitive"
              search-param="q">

    <div class="medical-stock child-project-management receive-item" ng-controller="validityStrategyController">

      <div class="content-wrapper" style="margin:0px 45px;">
        <div class="content-wrapper-main pr-fuzzy-boundary pr-bg-white">
          <div class="pr-bg-white pr-fuzzy-boundary">
            <div class="flex-column mgt-m pdt-l pdb-l">
              <div class="flex-item-6 pdl-l">
                <div class="flex-column color-9" ng-if="$root.hasAuthor('效期策略删除')">
                  <a ng-if="!choisedMedicalList.length"
                     href=""
                     class="batch-delete-btn"
                     ng-disabled="!choisedMedicalList.length">批量删除
                    <em class="fa fa-trash-o"></em>
                  </a>
                  <a ng-if="choisedMedicalList.length"
                     href=""
                     class="batch-delete-btn"
                     handle-this-click
                     dialog-title="确认删除?"
                     dialog-content="确认批量删除?"
                     dialog-template="pr-dialog-confirm.html"
                     callback="!choisedMedicalList.length || handleDelEvent(null,'rest/authen/validityStrategy/delete','rest/authen/validityStrategy/querySingleMedicalValidityStrategy.json', 'array')">批量删除
                    <em class="fa fa-trash-o"></em>
                  </a>
                </div>
              </div>
              <div class="flex-item-6 text-right pdr-l">
                <div class="order-list-search inline-block text-left code pos-rel-tr pdl-l relative">
                  <input type="text" class="ipt pdr-xxl" placeholder="商品名称／商品编号" ng-model="listParams.q">
                  <i class=""></i>
                </div>
                <div class="inline-block mgl-m" ng-click="listParams.q=''">
                  <i class="fa fa-refresh mgr-s color-light-brown"></i>
                  <a href="" class="color-light-brown" >重置搜索条件</a>
                </div>
              </div>
            </div>
            <table class="table pr-table pr-new-table pr-table-content">
              <thead class="pr-bg-side">
                <tr>
                  <th ng-if="listParams.checkUpStatus!='已完成'" class="w-60 text-center mycheck">
                    <input type="checkbox" class="selectAll cur-pot" id='1' ng-init="isChoiseAll=false" ng-model="isChoiseAll" ng-click="handleChoiseAllEvent(isChoiseAll);">
                    <label for="1"></label>
                  </th>
                  <th >序号</th>
                  <th >商品编号</th>
                  <th class="text-left-important">商品名称</th>
                  <th>剂型／分类</th>
                  <th>规格／型号</th>
                  <th>基本单位</th>
                  <th>有效期预警天数</th>
                  <th>生产企业</th>
                  <th>备注</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-if="tbodyList.length"
                    ng-repeat="tr in tbodyList track by $index"
                    class="relative"
                    table-item-multiple-btn>
                  <td class="select-td text-center mycheck">
                    <input type="checkbox" class="selectOne cur-pot" id='{{$index+2}}' ng-init="tr.handleFlag=false;"  ng-model="tr.handleFlag" ng-click="handleItemClickEvent(tr);">
                    <label for="{{$index+2}}"></label>
                  </td>

                  <td class="text-center">{{(status.currentPage-1)*status.pageSize+($index+1)}}
                    <div class="table-item-multiple-btn">
                      <div class="inline-block handle-btn del-details-btn relative delete-icon"  ng-show="$root.hasAuthor('效期策略删除')">
                        <div class="del-confirm-area text-center" >
                          <p class="pd-v-s bb-dashed-line">确认删除本条数据?</p>
                          <p class="pd-v-s">
                            <a href="javascript:;" class="mgr-s hide-this-area">取消</a>
                            <a href="javascript:;"
                              class="pr-btn-best-small pr-btn-bg-gold"
                              ng-click="handleDelDetails(tr.id, 'rest/authen/validityStrategy/delete', '#/validityStrategy/single-strategy-set.html', null, 'array')">确认
                            </a>
                          </p>
                        </div>
                      </div>
                      <div class="inline-block handle-btn edit-icon" ng-if="$root.hasAuthor('效期策略修改')"
                           modal-right="650"
                           modal-scope="this"
                           modal-data='{"id":"{{tr.id}}"}'
                           modal-url="views/validityStrategy/edit-for-single-set.html">
                      </div>
                    </div>
                  </td><!-- 序号 -->
                  <td>{{tr.code}}</td><!--商品编号-->
                  <td class="text-left">
                    <span class="color-orange cur-pot lend-order-goods-info"
                          ng-init="showInfoArea=false"
                          ng-mouseenter="showInfoArea=true"
                          ng-mouseleave="showInfoArea=false">{{tr.name}}
                      <show-info-modal ng-show="showInfoArea"
                                       get-data-type="local"
                                       template-url="tpl/showInfoModalLendOrder"
                                       info-object="{{tr}}"
                                       info-title="商品信息">
                      </show-info-modal>
                    </span>
                  </td><!--商品名称-->
                  <td>{{tr.medicalAttribute.name}}</td>
                  <td>{{tr.specification}}</td>
                  <td>{{tr.unit}}</td>
                  <td>{{tr.guaranteePeriodAlarmDay}}</td>
                  <td>{{tr.manufacturer}}</td>
                  <td>{{tr.validityStrategyNote}}</td>
                </tr>
              </tbody>
            </table>
            <div style="display: none;" class="flex-column pd-v-l">
              <div class="flex-item-6 pdl-l">
                <!-- 批量删除按钮 -->
                <div class="flex-column color-9">
                  <a ng-if="!choisedMedicalList.length"
                     href=""
                     class="batch-delete-btn"
                     ng-disabled="!choisedMedicalList.length">批量删除
                    <em class="fa fa-trash-o"></em>
                  </a>
                  <a ng-if="choisedMedicalList.length"
                     href=""
                     class="batch-delete-btn"
                     handle-this-click
                     dialog-title="确认删除?"
                     dialog-content="确认批量删除?"
                     dialog-template="pr-dialog-confirm.html"
                     callback="!choisedMedicalList.length || handleDelEvent(null,'rest/authen/validityStrategy/delete','rest/authen/validityStrategy/querySingleMedicalValidityStrategy.json', 'array')">批量删除
                    <em class="fa fa-trash-o"></em>
                  </a>
                </div>
              </div>
              <div class="flex-item-6 text-right pdr-l">
                <!-- 导航 -->
                <div class="clearfix pd-c-m" ng-if="tbodyList.length">
                  <div class="fr"><pagination status="status"></pagination></div>
                </div>
              </div>
            </div>
          </div>

          <div class="pr-bg-white" ng-if="!tbodyList.length">
            <div class="empty-table clearfix">
              <div>&nbsp;</div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="" style="min-height:100px;">
    </div>
  </table-list>
</div>
