<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">首页</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">Button样式</h1>
  <div class="pd-c-l">
    <!--分割 -->
      <a href="javascript:;">默认A标签</a>
      <!--分割 -->
      <button>默认button</button>
    <!--分割 -->
      <a href="javascript:;" class="btn btn-default color-orange text-s">退出</a>
      <!--分割 -->
      <div class="content-wrapper-heading pdb-m mgb-l relative clearfix">
            <div class="pos-rel-tl order-create-btn inline-block fl-l" >
              <a href="#/salesOrder/edit2.html" title="新建购需单"><i></i><span class="text-s">新建购需单</span></a>
            </div>
      </div>
    <!--分割 -->

    </div>
</div>
