<div class="sale-return-order"
     ng-controller="returnOrderEditCtrl"
     ajax-url="rest/authen/saleReturnOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="formData"
     callback='initFlag=true;watchFormChange("formData");quantityError=false;'
     alert-error>
  <form id="saleReturnEditForm"
        name="saleReturnEditForm"
        form-validator
        parameter-body
        action="rest/authen/saleReturnOrder/save"
        alert-error
        scope-response="scopeResponse"
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter(scopeResponse);$root.watchFormChange('formData',this)"
        novalidate="true">
    <!-- 头部信息 -->
    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs pd-c-xxl">销售中心 >
         <a href="#/confirmOrder/query.html">销售退货单</a>
         > 新建销售退货单
      </p>
      <div class="pd-c-xxl pdt-l pdb-l">
        <!-- 标题 -->
        <div>
          <h1 class="pr-font-20 color-black">新建销售退货单</h1>
        </div>
      </div>
    </div>

    <!-- 单据基本信息 -->
    <div class="content-wrapper">
      <div class="pos-rel-tl order-create-btn z-index-l mgb-m">
        <a ng-if="initFlag"
           modal-right="1000"
           modal-open-auto="{{!formData.orderMedicalNos.length}}"
           modal-scope="this"
           modal-data='{"pageParamsId":"{{mainStatus.pageParams.id}}"}'
           modal-url="views/saleReturnOrder/edit-right-side.html">
          <i></i>
          <span ng-if="!formData.orderMedicalNos.length">增加退货条目</span>
          <span ng-if="formData.orderMedicalNos.length">修改退货条目</span>
        </a>
      </div>
      <!-- <div ng-if="formData.orderMedicalNos.length" class="pr-panel pr-panel-height pd-n mgb">
        <div class="inline-block br-line customer-name relative">
          <p class="mgb-s">客户名</p>
          <p class="text-n color-black" style="padding-right:182px;">
            {{formData.customerName || '暂无'}}
          </p>
        </div>
        <div class="inline-block logistics-center relative">
          <p class="mgb-s">物流中心</p>
          <p class="text-n color-black" style="padding-right:182px;">
            <select ng-if="initFlag" class="ipt pr-long-ipt color-6"
                    data-placeholder=" "
                    chosen
                    ng-model="formData.logisticsCenterId"
                    if-disabled="{{formData.customerId}}"
                    select-source="rest/authen/logisticsCenter/queryForSelectOption.json">
            </select>
          </p>
        </div>
      </div> -->
      <div ng-if="formData.orderMedicalNos.length"  class="">
        <div class="inline-block mgr-l">
          <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
            <div class="inline-block customer-name"></div>
            <div class="inline-block">
              <p class="mgb-s">客户名</p>
              <p class="text-m color-3 autocut-default" title="{{formData.customerName}}" style="width:300px;">{{formData.customerName || '暂无'}}</p>
            </div>
          </div>
        </div>
        <div class="inline-block">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
             <div class="inline-block logistics-center"></div>
             <div class="inline-block">
               <p class="mgb-s">物流中心</p>
               <p class="text-m color-3">
                 <select ng-if="initFlag" class="ipt pr-long-ipt color-6"
                         data-placeholder=" "
                         chosen
                         ng-model="formData.logisticsCenterId"
                         if-disabled="{{formData.customerId}}"
                         select-source="rest/authen/logisticsCenter/queryForSelectOption.json">
                 </select>
               </p>
             </div>
           </div>
        </div>
      </div>
      <div class="panel pr-panel pd-n pr-fuzzy-boundary pr-panel-height mgb">
        <div class="empty-panel clearfix" ng-if="!formData.orderMedicalNos.length">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>

        <div ng-if="formData.orderMedicalNos.length">

          <div class="flex-column pdt-m pdb-m pd-c-l color-9 bb-dashed-line">
            <div class="flex-item-6">
              <span class="mgr-l">系统编号：<em class="color-3">{{formData.orderNo || '暂无'}}</em></span>
              <span class="mgr-l">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span>
              <span class="mgr-l">审核人：<em class="color-3">{{formData.approverUser.n || '暂无'}}</em></span>
            </div>
            <div class="flex-item-6 text-right">
              <span class="mgl-l">录单日期：<em class="color-3">{{formData.createAt || '暂无' | date : 'yyyy-MM-dd' }}</em></span>
              <span class="mgl-l">状态：<em class="color-3">{{formData.orderStatus || '暂无'}}</span>
            </div>
          </div>

          <div class="flex-column color-9 pdt-m pdb-m pd-c-l">
            <span class="mgr-l">销售部门：<em class="color-3">{{formData.salesDepartmentName || '暂无'}}</em></span>
            <span class="mgr-l">业务人员：<em class="color-orange">{{formData.saleUser.n || '暂无'}}</em></span>
            <span class="mgr-l">业务类型：<em class="color-3">{{formData.orderBusinessType || '暂无'}}</em></span>
            <span class="mgr-l">销售类型：<em class="color-3">{{formData.salesType || '暂无'}}</em></span>
          </div>
      </div>
        <div class="outside-table-d">
          <table class="table pr-table pr-new-table table-wid" >
            <thead>
              <tr>
                <th class="text-center">商品编号</th>
                <th class="text-left">商品全名</th>
                <th class="text-center">规格/型号</th>
                <th class="text-center">单位</th>
                <th class="text-center">可退数量</th>
                <th class="text-center">实退数量</th>
                <th class="text-center">预入仓库</th>
                <th class="text-center ">生产批号</th>
                <th class="text-center ">灭菌批号</th>
                <th class="text-center">含税单价</th>
                <th class="text-center">税率</th>
                <th class="text-center">折扣额</th>
                <th class="text-center">折扣率</th>
                <th class="text-center">无税单价</th>
                <th class="text-center">无税金额</th>
                <th class="text-center">税额</th>
                <th class="text-center">价税合计</th>
                <th class="text-center">报价</th>
                <th class="text-center">产地</th>
                <th class="text-center">有效期至</th>
                <th class="text-center">保存温度</th>
                <th class="text-center">产地品牌</th>
                <th class="text-center">产地注册证号</th>
                <th class="text-center">注册证有效期</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr ng-repeat="item in formData.orderMedicalNos | repeatFilter:'formData.orderMedicalNos'"
              ng-controller="saleReturnMedicalItemController"
              table-item-handlebtn-component>
                <td class="text-center">{{item.code}}
                  <div class="table-item-handle-btn">
                    <div class="table-item-confirm-del-area">
                      <p class="bb-line color-red pd-v">确认删除本条数据?</p>
                      <p class="pdt">
                        <a href="javascript:;" class="cancelHandle" ng-click="cancelHandle()">取消</a>
                        <a href="javascript:;" class="confirm-del-this btn btn-primary pr-btn-best-small pr-btn-bg-gold mgl" ng-click="formData.orderMedicalNos.splice($index,1);">确认</a>
                      </p>
                    </div>
                  </div>
                </td><!-- 商品编号 -->
                <td class="text-left">{{item.name}}</td><!-- 商品全名 -->
                <td class="text-center">{{item.specificationAndModelType}}</td><!-- 规格/型号 -->
                <td class="text-center">{{item.measurement}}</td><!-- 单位 -->
                <td class="text-center">{{item.returnQuantity}}</td><!-- 可退数量 -->
                <td class="text-center">
                  <div class="order-goods-num">
                    <button type="button" class="inline-block left" ng-click="item.quantity=item.quantity-1" ng-disabled="item.quantity==1">-</button>
                    <span class="inline-block">
                      <input type="number"
                             style="width:60px;"
                             class="ipt pr-ipt-60 text-right"
                             name="quantity{{$index}}"
                             ng-model="item.quantity"
                             required
                             ng-pattern="/^[1-9]\d*$/"
                             invalid-popover
                             valid-value="{{!saleReturnEditForm['quantity'+$index].$valid}}"
                             popover-show
                             popover-options='{"content":"数量不能小于等于0且不能过大或格式不正确", "placement":"right", "trigger":"manual"}'/>
                    </span>
                    <button type="button" class="inline-block right" ng-click="item.quantity=item.quantity+1">+</button>
                  </div>
                  <p class="mgt-s color-red" ng-if="quantityError">退货数量不能大于当前可退货数量:{{item.returnQuantity}}</p>
                  <!-- <input type="number"
                         style="width:60px;"
                         class="ipt pr-ipt-60 text-right"
                         name="quantity{{$index}}"
                         ng-model="item.quantity"
                         required
                         ng-pattern="/^[1-9]{1,10}?$/"
                         invalid-popover
                         valid-value="{{!saleReturnEditForm['quantity'+$index].$valid}}"
                         popover-show
                         popover-options='{"content":"数量不能小于0且不能过大或格式不正确", "placement":"right", "trigger":"manual"}'/> -->
                </td><!-- 实退数量 -->
                <td class="text-center">
                  <select class="pr-select pd-s"
                          style="width:115px;"
                          ng-model="item.warehouseId"
                          ajax-url="rest/authen/warehouse/queryForSelectOption?type=正常库"
                          scope-data="scopeData">
                    <option ng-repeat="option in scopeData" value="{{option.value}}">{{option.text}}</option>
                  </select>
                </td><!-- 预入仓库 -->
                <td class="text-center">{{item.productionBatch}}</td><!-- 生产批号 -->
                <td class="text-center">{{item.sterilizationBatchNumber}}</td><!-- 灭菌批号 -->
                <td class="text-right">{{item.price | currency:'￥'}}</td><!-- 含税单价 -->
                <td class="text-right">{{item.tax}}%</td><!-- 税率 -->
                <td class="text-right">￥{{item.discountPrice | number:2}}</td><!-- 折扣额 -->
                <td class="text-right">{{item.discountRate}}%</td><!-- 折扣率 -->
                <td class="text-right">￥{{$root.saleOrderUtils.getWuSuiDanJian(item) | number:2}}</td><!-- 无税单价 -->
                <td class="text-right">￥{{$root.saleOrderUtils.getWuSuiJinE(item) | number:2}}</td><!-- 无税金额 -->
                <td class="text-right">￥{{$root.saleOrderUtils.getSuiE(item) | number:2}}</td><!-- 税额 -->
                <td class="text-right">￥{{$root.saleOrderUtils.getJiaSuiHeJi(item) | number:2}}</td><!-- 价税合计 -->
                <td class="text-right">￥{{item.strike_price}}</td><!-- 报价 -->
                <td class="text-center">{{item.productionPlace}}</td><!-- 产地 -->
                <td class="text-center"
                    ajax-url="rest/authen/medicalStock/getStockBatch?relMedicalStockId={{item.relId}}&p_and_s={{item.productionBatch}}"
                    scope-data="validTilldata">{{validTilldata.validTill | date : 'yyyy-MM-dd'}}
                </td><!-- 有效期至 -->
                <td class="text-center">{{item.storedTemperature}}</td><!-- 保存温度 -->
                <td class="text-center">{{item.brand}}</td><!-- 产地品牌 -->
                <td class="text-center">{{item.drugAdministrationCode}}</td><!-- 产地注册证号 -->
                <td class="text-center">{{item.drugAdministrationCodeGuaranteePeriod}}</td><!-- 注册证有效期 -->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="empty-table clearfix" ng-if="!formData.orderMedicalNos.length">
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
      </div>
      <!-- 其他信息 -->
      <div class="relative panel pr-panel pr-fuzzy-boundary pr-panel-height mgb pd-c-l" style="margin-bottom:60px;">
        <!-- 备注 -->
        <div class='mgb'>
          <h1>备注</h1>
          <textarea class="pr-textarea mgb-l mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note"></textarea>
        </div>
      </div>

        <!-- 流程图 -->
      <business-flow-show business-key="{{formData.id}}" business-type="销售单"></business-flow-show>
    </div>

    <!-- 功能按钮 -->
    <div class="handle-btn-area relative">
      <div class="btn-area">
          <a ng-if="changeFlag" href="javascript:;" class="mgr-l"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="该申请单存在未保存数据，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo('#/saleReturnOrder/query.html')"
             save-callback="submitForm('saleReturnEditForm','save')">返回销售退货单列表
          </a>

          <a class="mgr-l" ng-if="!changeFlag" href="#/saleReturnOrder/query.html" >返回销售退货单列表</a>

          <a ng-if="formData.orderNo && formData.inputUserId==mainStatus.id"
             href="javascript:;"
             class="pr-color-red mgr"
             handle-this-click
             dialog-title="确认删除?"
             dialog-content="您确认删除这条销售退货单吗?"
             dialog-template="dialog-confirm.html"
             request-url="rest/authen/saleReturnOrder/delete?id={{formData.id}}"
             callback="$root.goTo('#/saleReturnOrder/query.html')">删除
          </a>


          <button type="button"
                  class="pr-btn-save-glodbg mgr"
                  ng-click="submitForm('saleReturnEditForm','save')"
                  ng-disabled="!changeFlag || !saleReturnEditForm.$valid || quantityError">保存
          </button>

          <button class="pr-btn-save-glodbg"
                  type="button"
                  handle-this-click
                  dialog-title="确认提交退货单"
                  dialog-content="是否确认提交?"
                  dialog-template="pr-dialog-submit.html"
                  confirm-btn-txt="确定"
                  callback="submitForm_type='submit';formData.validFlag=true;submitForm1();"
                  ng-disabled="!saleReturnEditForm.$valid || quantityError ||!formData.orderMedicalNos.length">提交
          </button>

      </div>
    </div>
  </form>
</div>
