<div class="create-new-order"
     ajax-url="rest/authen/arrivalNoticeOrder/get.json?orderNo={{mainStatus.pageParams.orderNo}}&id={{mainStatus.pageParams.id}}&relId={{mainStatus.pageParams.relId}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="scopeData"
     callback="initFlag=true;formData.note=scopeData.note;formData.id=scopeData.id;"
     alert-error>

  <form id="editForm"
        name="editForm"
        form-validator
        parameter-body
        action="rest/authen/arrivalNoticeOrder/save.json"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter();watchFormChange('formData')">
    <!-- 头部信息 -->
    <div class="content-wrapper-heading mgb-l relative clearfix">
      <p class="pdb-s pdt-s crumbs pd-c-xxl">采购中心 >
        <a href="#/arrivalNoticeOrder/query.html">
           <em class="color-custom-orange">来货通知单</em>
        </a>
       <em>>来货通知单详情</em>
      </p>
      <!-- 标题 -->
      <div class="pd-c-xxl pdt-l pdb-l clearfix">
        <div class="pos-rel-tl inline-block fl-l">
          <h1 class="pr-font-20 color-black">来货通知单</h1>
        </div>
      </div>
    </div>
    <!-- 药械列表 -->
    <div class="content-wrapper">
        <p class="mgb-l text-n color-3 text-bold">{{scopeData.supplier.name}}</p>
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l pd-n">
        <!-- 单据信息 -->
        <div class="flex-column color-9 pd-c-l pdt-m pdb-m bb-dashed-line">
          <div class="flex-item-6">
            <span class="mgr">单据编号：<em class="color-3">{{scopeData.orderNo}}</em></span>
            <span class="mgr">审核人：<em class="color-3">{{scopeData.approverUser.n}}</em></span>
          </div>
          <div class="flex-item-6 text-right">
            <span class="mgr">制单人：<em class="color-orange">{{scopeData.inputUser.n}}</em></span>
            <span class="mgr">录单日期：<em class="color-3">{{scopeData.createAt | date:'yyyy-MM-dd'}}</em></span>
            <a ng-if="initFlag"
               modal-center="1000px"
               modal-data='{"businessKey":"{{scopeData.relId}}"}'
               modal-scope="this"
               modal-url="views/workflowTask/getOfDialog.html">
            <span class="mgr">状态：<em class="color-6">{{scopeData.orderStatus}}</em></span>
            </a>
          </div>
        </div>
        <!-- 类别选择 -->
        <div class="pd-c-l pdt-m pdb-m color-9">
          <span class="mgr-l">部门：<em class="color-3">{{scopeData.salesDepartmentName}}</em></span>
          <span class="mgr-l">业务人员：<em class="color-orange">{{scopeData.saleUser.n}}</em></span>
          <span class="mgr-l">业务类型：<em class="color-3">{{scopeData.orderBusinessType}}</em></span>
          <span class="mgr-l">采购类型：<em class="color-3">{{scopeData.purchaseType}}</em></span>
          <span class="mgr-l">计划到货时间：<em class="color-3">{{scopeData.expectDate | date:'yyyy-MM-dd'}}</em></span>
        </div>
        <!-- 商品列表 -->
        <div class="">
          <div class="outside-table-d">
            <table class="table pr-table pr-new-table mgb-n table-s-wid">
              <thead>
              <tr>
               <th class="text-center">入库进度</th>
               <th class="text-center">商品编号</th>
               <th class="text-left">商品全名</th>
               <th class="text-center">规格/型号</th>
               <th class="text-center">单位</th>
               <th class="text-center">计划数量</th>
               <th class="text-center">正常数量</th>
               <th class="text-center">其他数量</th>
               <th class="text-center">拒收数量</th>
               <th class="text-center">原币含税单价</th>
               <th class="text-center">原币单价</th>
               <th class="text-center">原币金额</th>
               <th class="text-center">原币税额</th>
               <th class="text-center">原币价税合计</th>
               <th class="text-center">税率</th>
               <th class="text-center">批号</th>
               <th class="text-center">失效日期</th>
               <th class="text-center">产品执行标准</th>
               <th class="text-center">产地品牌</th>
               <th class="text-center">产品注册证号</th>
               <th class="text-center">产品注册证有效期</th>
             </tr>
              </thead>
              <tbody>
                <tr ng-repeat="tr in scopeData.orderMedicalNos"
                    salesorder-edit-show-delbtn
                    ng-init="orderMedicalNoIds.push(tr.relId)"
                    ng-controller="arrivalNoticeOrderEditCtrl"
                    medical-stock-mouse-over
                    mouse-over-buttons-json='[{"title":"详情","url":"#/purchaseInstockOrder/get.html?sourceOrderNo="+scopeData.orderNo,"className":"circle-icon2 pos-abs pr-icon-arrow-left","progress":tr.progress}]'>
                  <td class="text-center">
                    <div class="color-3">
                      <div class="progress pr-progress"
                           data-toggle="tooltip"
                           data-placement="top"
                           >
                        <div ng-if="tr.progress=='100'" class="progress-bar pr-progress-bar-green" role="progressbar"
                             aria-valuenow="{{tr.progress}}" aria-valuemin="0"
                             aria-valuemax="100"
                             ng-style='{"width":tr.progress+"%","background-color":"#2ec600 !important"}'
                             >
                             <span class="purchaseorder-buyer-info">
                               <i class="block text-normal pd-c-s">
                                 <em class="inline-block pd-v-s">
                                   {{tr.progress}}%
                                </em>
                              </i>
                            </span>
                        </div>
                        <div ng-if="tr.progress!='100'" class="progress-bar pr-progress-bar" role="progressbar"
                             aria-valuenow="{{tr.progress}}" aria-valuemin="0"
                              ng-style='{"width":tr.progress+"%","background-color":"#ff8c00 !important"}'
                             aria-valuemax="100" >
                             <span class="purchaseorder-buyer-info"
                             ng-style='{"right":78-tr.progress+"%"}'
                             >
                               <i class="block text-normal pd-c-s">
                                 <em class="inline-block pd-v-s">
                                   {{tr.progress}}%
                                </em>
                              </i>
                            </span>
                        </div>
                      </div>
                      <!-- <span class="pr-indent-15 flex-item-2 text-m color-6">{{tr.progress}}%</span> -->
                    </div>
                  </td>
                  <td class="text-center">{{tr.code}}</td>
                  <td class="text-left"><div class="autocut-l" title="{{tr.name}}">{{tr.name}}</div></td>
                  <td class="text-center">{{tr.specificationAndModelType}}</td>
                  <td class="text-center">{{tr.unit}}</td>
                  <td class="text-right">{{tr.quantity || '0'}}</td>
                  <td class="text-right">{{tr.storageQuantity || '0'}}</td>
                  <td class="text-right">{{tr.otherQuantity || '0'}}</td>
                  <td class="text-right">{{tr.refuseQuantity || '0'}}</td>
                  <td class="text-right">￥{{tr.price || '0'  | number:2}}</td>
                  <td class="text-right">￥{{$root.purchaseOrderUtils.getWuSuiDanJian(tr) || '0' | number:2 }}</td>
                  <td class="text-right">￥{{$root.purchaseOrderUtils.getWuSuiJinE(tr) || '0' | number:2}}</td>
                  <td class="text-right">￥{{$root.purchaseOrderUtils.getJiaSuiHeJi(tr)*tr.taxRate/100 | number:2}}</td>
                  <td class="text-right">￥{{$root.purchaseOrderUtils.getJiaSuiHeJi(tr) || '0' | number:2}}</td>
                  <td class="text-right">{{tr.taxRate}}%</td>
                  <td class="text-right">&nbsp;</td>
                  <td class="text-right">&nbsp;</td>
                  <td class="text-center">{{tr.productStandard}}</td>
                  <td class="text-center">{{tr.brand}}</td>
                  <td class="text-center">{{tr.drugAdministrationCode}}</td>
                  <td class="text-center relative">{{tr.drugAdministrationCodeGuaranteePeriod}}</td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    <!-- 其他信息 -->
    <div class="relative">
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
        <h1 class="text-bold color-3">付款</h1>
        <div class="mgt-l">
          <span class="mgr-l">付款条件：<em class="color-3">{{scopeData.paymentType}}</em></span>
          <span class="mgr-l">币种：<em class="color-3">{{scopeData.currencyType}}</em></span>
          <span class="mgr-l">汇率：<em class="color-3">1.00</em></span>
          <span class="mgr-l">付款状态：<em class="color-3">{{scopeData.purchasePayOrderStatus}}</em></span>
        </div>
      </div>

      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
        <h1 class="text-bold color-3">运输/仓储</h1>
        <div class="mgt-l">
          <span class="mgr">运输方式：
            <em class="color-3">{{scopeData.payAndDelivery.transportType}}</em>
          </span>
          <span class="mgr">承运公司：
              <em class="color-3">{{scopeData.payAndDelivery.kuaidiType}}</em>
          </span>
          <!-- <span class="mgr">预入仓库：
            <em class="color-3">{{scopeData.warehouseName}}</em>
          </span> -->
        </div>
      </div>
      <!-- 发货方信息 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <header class="text-n color-3 text-bold">发货方信息
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
          </span>
        </header>
        <div class="panel-body" style="display:none;padding:15px 0;">
          <h1 class="mgb">发货方：{{scopeData.supplier.name}}</h1>
          <p class="">发货人信息：
            {{scopeData.supplier.contact.prov}}&nbsp;&nbsp;{{scopeData.supplier.contact.city}}&nbsp;&nbsp;{{scopeData.supplier.contact.area}}&nbsp;&nbsp;{{scopeData.supplier.contact.address}}&nbsp;&nbsp;{{scopeData.supplier.contact.name}}&nbsp;&nbsp;{{scopeData.supplier.contact.tel}}
          </p>
        </div>
      </div>
      <!-- 收货方信息 -->
      <!-- <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <header class="text-n color-3 text-bold">收货方信息
          <span class="tools pull-right">
            <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
          </span>
        </header>
        <div class="panel-body" style="display:none;padding:15px 0;">
          <h1 class="mgb">收货方：{{scopeData.customerName}}</h1>
          <p class="">收货人信息：
            {{scopeData.customerContacts.prov}}&nbsp;&nbsp;{{scopeData.customerContacts.city}}&nbsp;&nbsp;{{scopeData.customerContacts.area}}&nbsp;&nbsp;{{scopeData.customerContacts.address}}&nbsp;&nbsp;{{scopeData.customerContacts.name}}&nbsp;&nbsp;{{scopeData.customerContacts.tel}}
          </p>
        </div>
      </div> -->

      <!-- 备注 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
        <h1 class="text-bold color-3">备注</h1>
        <p>{{scopeData.note}}</p>
      </div>

      </div>
    </div>

    <!-- 流程图 -->
    <business-flow-show business-key="{{scopeData.id}}" business-type="采购单"></business-flow-show>


    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <a ng-if="changeFlag" href="javascript:;" class="mgr"
           handle-this-click
           dialog-title="确认返回?"
           dialog-content="该来货通知单存在未保存数据，是否保存?"
           dialog-template="pr-dialog-return.html"
           nosave-callback="goTo('#/arrivalNoticeOrder/query.html')"
           save-callback="submitForm('editForm','exit')">返回来货通知单列表
        </a>
        <a class="mgr-l" ng-if="!changeFlag" ng-href="#/arrivalNoticeOrder/query.html?id={{scopeData.relId}}" >返回来货通知单列表</a>
        </span>

        <span ng-if="scopeData.didateFilter.buttons.length>0"
              custom-menu-list
              custom-menu-arr="{{scopeData.didateFilter.buttons}}">
        </span>
      </div>
      <div class="price-area relative fl-r mgr-l" style="height:100%;line-height:3.3;font-size:18px;color:#c7a77b;">总计：
        <em class="color-white">￥{{scopeData.totalPrice | number:2}}</em>
      </div>
    </div>
  </form>
</div>
