<div class="content-wrapper arrivalNotaice-order">
  <table-list list-data="{{mainStatus.requestPath}}rest/authen/arrivalNoticeOrder/query.json" list-params="listParams" search-mode="noCaseSensitive" search-param="q">
    <!-- 主内容头部 -->
    <div class="content-wrapper-heading h-l mgb-m mgt-m pdb-s line-b mgr-m relative">
      <!-- 新建按钮及状态按钮 -->
      <div class="full-width">
        <!-- <div class="pos-abs order-create-btn">
          <a href="#/arrivalNoticeOrder/edit.html" title="新建采购单"><i></i><span class="text-s"></span></a>
        </div> -->
        <div class="order-status-btn pos-tr text-right"
             ajax-url="rest/authen/arrivalNoticeOrder/countByOrderStatus.json"
             scope-data="countByOrderStatus"
             alert-error>
          <div class="btn btn-group"   scope-data="statusList">
            <button order-status-choise type="button" class="btn pr-btn-transparentbg pr-btn-bg-gold" ng-click="listParams.orderStatus=''">全部</button>
            <button ng-if="$root.hasAuthor('来货通知单编辑')" order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='未提交'">未提交
              <span class="pj-badge" ng-if='countByOrderStatus["未提交"]'>{{countByOrderStatus["未提交"]}}</span>
            </button>
            <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='待审批'">待审批
              <span class="pj-badge" ng-if='countByOrderStatus["待审批"]'>{{countByOrderStatus["待审批"]}}</span>
            </button>
            <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='待入库'">待入库
              <span class="pj-badge" ng-if='countByOrderStatus["待入库"]'>{{countByOrderStatus["待入库"]}}</span>
            </button>
            <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='入库中'">入库中
              <span class="pj-badge" ng-if='countByOrderStatus["入库中"]'>{{countByOrderStatus["入库中"]}}</span>
            </button>
            <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='已完成'">已完成

            </button>
          </div>
          <div class="inline-block relative">
            <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='已作废'">已作废
              <span class="pj-badge" ng-if='countByOrderStatus["已作废"]'>{{countByOrderStatus["已作废"]}}</span>
            </button>
          </div>
        </div>
      </div>
      <!-- 右侧搜索 -->
      <div class="text-right order-list-search pos-rb">
        <input type="text" class="ipt pdr-xxl" placeholder="客户名/通知单号" ng-model="listParams.q">
        <i class=""></i>
      </div>
    </div>
    <!-- 主内容区域 -->
    <div class="content-wrapper-main">
      <ul class="">
        <li class="pdr-m relative confirm-order-list" ng-repeat="tr in tbodyList">
          <div class="mgb-xl pr-bg-white pr-fuzzy-boundary relative" ng-class="{'pr-bg-grey2':(tr.orderStatus=='已作废')}">
            <div class="pd-c-m">
              <div class="flex-column mgb-l pd-v" style="height:22px;line-height:22px;">
                <span class="flex-item-2 title-states text-bold">{{tr.orderStatus}}</span>
                <span  class="flex-item-10 text-right">
                  <a href="#/arrivalNoticeOrder/get.html?id={{tr.id}}">查看详情</a>

                  <button ng-if="tr.orderStatus=='未提交' && $root.hasAuthor('来货通知单编辑')"
                          class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgl"
                          type="button"
                          handle-this-click
                          dialog-title="确认提交?"
                          dialog-content="提交后，将无法修改，确认提交?"
                          dialog-template="pr-dialog-submit.html"
                          emitted="reloadList,ajaxUrlReload"
                          params='{"id":tr.id,"status":"待审批"}'
                          request-url="rest/authen/arrivalNoticeOrder/updateStatus.json">提交到库管
                  </button>

                  <button ng-if="tr.orderStatus=='待审批' && $root.hasAuthor('来货通知单审批')"
                          class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgl"
                          type="button"
                          handle-this-click
                          dialog-title="确认通过?"
                          dialog-content="通过后，该来货通知单将生效。确认通过?"
                          dialog-template="pr-dialog-submit.html"
                          emitted="reloadList,ajaxUrlReload"
                          params='{"id":tr.id,"status":"待入库"}'
                          request-url="rest/authen/arrivalNoticeOrder/updateStatus.json">审批通过
                  </button>
                </span>
              </div>
              <div class="flex-column qurey text-s color-9">
                <div class="flex-item-6 mgb">
                  <p class="mgb-s">通知单号：<span class="color-6">{{tr.orderNo}}</span>
                    <!-- <strong class="color-6 text-normal">{{tr.orderNo}}</strong> -->
                  </p>
                  <p class="mgb-s relative">采购员：
                    <em run-popovers class="color-custom-orange cur-pot text-normal pr-color" style="position:absolute;height:25px;">{{tr.saleUser.n}}</em>
                    <span class="purchaseorder-buyer-info">
                      <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{tr.saleUser.p}}</em></i>
                      <i class="block pdb-s text-normal"><em class="fa fa-comment-o mgl"></em><em class="inline-block pdl pdr pdt">
                        <a href="javascript:;"
                           modal-center="490"
                           modal-data='{"toUser":{{tr.saleUser}},"userIds":["{{tr.saleUserId}}"]}'
                           modal-url="views/notice/sendToUser.html">发送消息
                        </a>
                      </em></i>
                    </span>
                  </p>
                </div>
                <div class="flex-item-6">
                  <p class="mgb-s">创建时间：<strong class="color-6 text-normal">{{tr.createAt | date:'yyyy-MM-dd HH:mm'}}</strong></p>
                  <p class="mgb-s relative">审批人：
                    <!-- <em class="color-custom-orange">{{tr.operationFlowSet[tr.operationFlowSet.length-1].inputUser}}</em> -->
                    <em ng-if="!tr.approverUser.n" class="color-6">暂无</em>
                    <!-- <em ng-if="tr.approverUser.n" class="color-custom-orange">{{tr.approverUser.n}}</em> -->
                    <em ng-if="tr.approverUser.n" run-popovers class="color-custom-orange cur-pot text-normal pr-color" style="position:absolute;height:25px;">{{tr.approverUser.n}}</em>
                    <span class="purchaseorder-buyer-info">
                      <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{tr.approverUser.p}}</em></i>
                      <i class="block pdb-s text-normal"><em class="fa fa-comment-o mgl"></em><em class="inline-block pdl pdr pdt">
                        <a href="javascript:;"
                           modal-center="490"
                           modal-data='{"toUser":{{tr.saleUser}},"userIds":["{{tr.saleUserId}}"]}'
                           modal-url="views/notice/sendToUser.html">发送消息
                        </a>
                      </em></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="color-9 pr-ele-height-auto pd-c-m text-m" style="padding-top:10px!important;padding-bottom:10px!important;min-height:1px;">
              供货商：<span class="color-6">{{tr.supplier.name}}</span>
            </div>
            <div class="flex-column text-s">
              <div class="flex-item-6 br-line pd-m" style="min-height:95px;">
                <p class="mgb-s color-9">采购单号：<em class=" color-custom-orange">  <a href="#/purchaseOrder/get.html?id={{tr.relId}}">{{tr.relOrderNo}}</a></em></p>
                <!-- <p class="mgb-s color-9">采购员：<em class="color-custom-orange">{{tr.saleUser.n}}</em></p>
                <p class="mgb-s color-9">审批人：<em class="color-custom-orange">{{tr.operationFlowSet[tr.operationFlowSet.length-1].inputUser}}</em></p>
                <p class="mgb-s color-9">审批人：<em class="color-custom-orange">{{tr.approverUser.n}}</em></p> -->
              </div>
              <div class="flex-item-6 pd-m">
                <p class="pdb-s text-center">入库状态</p>
                <p class="text-m color-6 text-center">{{tr.progress||"0"}}%</p>
                <div class="pd-c-xl">
                  <div class="progress pr-progress"
                       data-toggle="tooltip"
                       data-placement="top"
                       title="{{tr.progress}}">
                    <div ng-if="tr.progress==100" class="progress-bar pr-progress-bar-green" role="progressbar"
                         aria-valuenow="{{tr.progress}}" aria-valuemin="0"    aria-valuemax="100"
                          ng-style='{"width":tr.progress+"%","background-color":"#2ec600 !important"}' >
                    </div>
                    <div ng-if="tr.progress!='100'" class="progress-bar pr-progress-bar" role="progressbar"
                         aria-valuenow="{{tr.progress}}" aria-valuemin="0"
                         aria-valuemax="100"
                           ng-style='{"width":tr.progress+"%","background-color":"#ff8c00 !important"}'>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="pdr-m pdl-m pd-v color-9">
              <p class="arrivalNotaice-order-details-note">
                <span>备注：</span><span class="color-6">{{tr.note}}</span>
              </p>
            </div>
            <div class="pd color-9">
              <div class="flex-column">
                <div class="flex-item-6">
                  <!-- 预付款：<em class="">￥{{tr.prepaidPrice | number:2}}</em> -->
                </div>
                <div class="flex-item-6 text-right text-m">
                  合计：<em class="color-6">￥{{tr.totalPrice | number:2}}</em>
                </div>
              </div>
              <!-- <div class="text-right">税额：<em class="">￥{{tr.totalPrice*tr.tax | number:2}}</em></div> -->
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- 导航 -->
    <div class="clearfix pd-c-m" ng-if="tbodyList.length!='0'">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>
  </table-list>
</div>
