<div class="first-medical-application"
     ng-controller="medicalStockCtrl"
     ajax-url="rest/authen/medicalStock/getOfEdit.json?id={{mainStatus.pageParams.id}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData');bottomButtonList= $root.bottomButtonList.get_medicalStock(formData);showUnit=false;"
     alert-error>

     <div class="header-info relative mgb-l">
       <p class="pdb-s pdt-s crumbs pd-c-xxl">管理中心 >
         <a href="#/medicalStock/query.html">
            <em class="color-custom-orange">商品管理</em>
         </a>
        <em>>商品编辑</em>
       </p>
       <div class="pd-c-xxl pdt-l pdb-l">
         <!-- 标题 -->
         <div class="mgb-l">
           <h1 class="color-black pr-font-20">商品管理-商品编辑</h1>
         </div>
       </div>
     </div>
  <!-- 主体内容 -->
  <div class="content-wrapper ">
    <div class="content-wrapper-main mgt pr-fuzzy-boundary">
      <form class="form-horizontal"
            id="editForm"
            name="editForm"
            form-validator
            parameter-body
            action="rest/authen/medicalStock/save"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="submitFormAfter('#/medicalStock/query.html');
            watchFormChange('formData');formData.firstMedical.isBasicMedicine='是';">

        <!-- 基本信息 -->
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel pr-fuzzy-boundary-height" style="margin-bottom:0px;-webkit-box-shadow:none;">
            <h1 class="mgb-m mgt color-black text-bold text-n">基本信息</h1>
            <h3 class="crumbs-circle color-black pr-indent-10 pd-v">商品信息</h3>
            <div class=" pd-v-m">
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">商品编码：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="code"
                         ng-model="formData.code"
                         required
                         ng-disabled="formData.id" />
                <span ng-if="!formData.code" class="color-red">（必填）</span>
                </div>

              </div>

              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">商品名称：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="code"
                         ng-model="formData.name"
                         required/>
                  <span ng-if="!formData.name" class="color-red">（必填）</span>
                </div>

              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">商品类别：</label>
                <div class="flex-item-10 color-3 text-left ">
                  <div class="autocut z-tree-div inline-block fl-l" title="{{formData.medicalAttribute.name}}">
                    {{formData.medicalAttribute.name}}
                     <!-- ng-class="{'z-tree-div-active':(addBorder)}" -->
                  </div>
                  <button
                  type="button"
                  z-tree-select="rest/authen/medicalAttribute/query.json"
                  class="btn-a fl-l"
                  ng-model="formData.medicalAttribute"
                  id-key="id"
                  p-id-key="parentId"
                  >选择</button>
                  <!-- ng-click="addBorder=true;" -->
                </div>
              </div>

              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">商品通用名：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="approvedName"
                         ng-model="formData.approvedName"
                          />
                </div>
              </div>

              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">商品化学名：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="varietyName"
                         ng-model="formData.varietyName"
                          />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">商品英文名：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="englishName"
                         ng-model="formData.englishName"
                          />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">规格：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="specification"
                         ng-model="formData.specification"
                         required
                          />
                  <span ng-if="!formData.specification" class="color-red">（必填）</span>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">条形码：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="barcode"
                         ng-model="formData.barcode"
                          />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2  text-right control-label">存储条件：</label>
                <div class="flex-item-10 color-3   text-left">
                  <select ng-if="initFlag" class="ipt pr-long-ipt color-3 "
                          data-placeholder=" "
                          chosen
                          ng-model="formData.storageCondition"
                          select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_DeliveryPlus">
                  </select>
                    <span ng-if="!formData.storageCondition" class="color-red">（必填）</span>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">有效期：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         placeholder=""
                         ng-model="formData.guaranteePeriod">
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">有效期单位：</label>
                <div class="flex-item-10 color-3   text-left">
                  <select class="ipt ipt-new-s color-3 " ng-model="formData.guaranteePeriod_unit">
                    <option  value="年" ng-selected="formData.guaranteePeriod_unit=='年'">年</option>
                    <option  value="月" ng-selected="formData.guaranteePeriod_unit=='月'">月</option>
                    <option  value="日" ng-selected="formData.guaranteePeriod_unit=='日'">日</option>
                  </select>
                </div>
              </div>
              <!-- <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">效期预警天数：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="number"
                         class="ipt-new ipt-new-s"
                         name="guaranteePeriodAlarmDay"
                         ng-model="formData.guaranteePeriodAlarmDay"
                          />
                </div>
              </div> -->
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">生产厂商：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="manufacturer"
                         ng-model="formData.manufacturer"
                          />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">产地：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="productionPlace"
                         ng-model="formData.productionPlace"
                          />
                </div>
              </div>

          </div>
            <div class="pd-v-m bt-dashed-line">
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">批准文号：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="approvalNo"
                         ng-model="formData.approvalNo"
                          />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">批准文号认证日期：</label>
                <div class="date-icon-outside">
                  <input type="text"
                         datepicker
                         class="ipt-date pr-short-ipt ipt-new-s color-3 "
                         ng-readonly="true"
                         placeholder=""
                         ng-model="formData.approvalNoCreateAt">
                        <span class="date-icon"></span>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">批准文号有效期至：</label>
                <div class="date-icon-outside">
                  <input type="text"
                         datepicker
                         class="ipt-date pr-short-ipt ipt-new-s color-3 "
                         ng-readonly="true"
                         placeholder=""
                         ng-model="formData.approvalNoGuaranteePeriod">
                        <span class="date-icon"></span>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">注册证号：</label>
                <div class="flex-item-10 color-3   text-left">
                  <input type="text"
                         class="ipt-new"
                         name="drugAdministrationCode"
                         ng-model="formData.drugAdministrationCode"
                          />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">注册证号认证日期：</label>
                <div class="date-icon-outside">
                  <input type="text"
                         datepicker
                         class="ipt-date pr-short-ipt ipt-new-s color-3 "
                         ng-readonly="true"
                         placeholder=""
                         ng-model="formData.drugAdministrationCode_createAt">
                        <span class="date-icon"></span>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2   text-right control-label">注册证号有效期至：</label>
                <div class="date-icon-outside">
                  <input type="text"
                         datepicker
                         class="ipt-date pr-short-ipt ipt-new-s color-3 "
                         ng-readonly="true"
                         placeholder=""
                         ng-model="formData.drugAdministrationCodeGuaranteePeriod">
                        <span class="date-icon"></span>
                </div>
              </div>
            </div>
            <h3 class="mgt-xl crumbs-circle color-black pr-indent-10 pd-v">商品单位信息</h3>
            </div>
            <div class="pr-bg-white mgb-m">
              <div class="pos-rel-tl order-create-btn inline-block fl-l pdb-m pdt-m mgl-l" style="padding-top:0px;">
                <a href="javascript:;" ng-click="addMedicalUnit();" title="新建商品单位"><i></i><span class="text-s">新增商品单位</span></a>
              </div>
              <table class="table pr-table pr-new-table">
                <thead class="pr-bg-side">
                  <tr>
                    <th class="text-center">序号</th>
                    <th class="text-center">单位类型</th>
                    <th class="text-center">
                      单位名称
                      <em class="color-red">(必填)</em>
                      <em ng-if="showUnit" class="color-red">单位重复</em>
                    </th>
                    <th class="text-center">
                      换算比率
                      <em class="color-red">(必填)</em>
                    </th>
                    <th class="text-center">条形码</th>
                    <th class="text-center">中标价</th>
                    <th class="text-center">长(mm)</th>
                    <th class="text-center">宽(mm)</th>
                    <th class="text-center">高(mm)</th>
                    <th class="text-center">重量(kg)</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">1</td>
                    <td class="text-center">基本单位</td>
                    <td class="text-center">
                      <input type="text"
                             class="ipt pr-ipt-60 text-center"
                             ng-model="formData.packingAttribute.name"
                             ng-change="changeUnit(formData.packingAttribute.name,formData.othersPackingAttribute,formData.packingAttribute.name)"/>
                    </td>
                    <td class="text-center" ng-model="formData.packingAttribute.ratio">
                      1
                    </td>
                    <td class="text-center">
                      <input type="text"
                             class="ipt ipt-new-s text-center"
                             ng-model="formData.packingAttribute.barcode"/>
                    </td>
                    <td class="text-center">
                      ￥<input type="number"
                             class="ipt pr-ipt-60 text-right"
                             ng-model="formData.packingAttribute.bidPrice"/>
                    </td>
                    <td class="text-center">
                      <input type="number"
                             class="ipt pr-ipt-60 text-right"
                             ng-model="formData.packingAttribute.length"/>
                    </td>
                    <td class="text-center">
                      <input type="number"
                             class="ipt pr-ipt-60 text-right"
                             ng-model="formData.packingAttribute.width"/>
                    </td>
                    <td class="text-center">
                      <input type="number"
                             class="ipt pr-ipt-60 text-right"
                             ng-model="formData.packingAttribute.height"/>
                    </td>
                    <td class="text-center">
                      <input type="number"
                             class="ipt ipt-new-s text-right"
                             ng-model="formData.packingAttribute.unitWeightKg"/>
                    </td>
                  </tr>
                  <tr class="relative"
                      ng-repeat="tr in formData.othersPackingAttribute"
                      table-item-handlebtn-component>
                      <td class="text-center">
                        {{$index + 2}}
                        <div  class="table-item-handle-btn" style="left:1800px;">
                          <div class="table-item-confirm-del-area bg-white">
                            <p class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                            <p class="pdt-s">
                              <a href="javascript:;" class="cancelHandle" ng-click="cancelDel();">取消</a>
                              <a href="javascript:;" class="confirm-del-this pr-btn-best-small pr-btn-bg-gold mgl"
                              ng-click="formData.othersPackingAttribute.splice($index,1);">确认</a>
                            </p>
                          </div>
                        </div>
                      </td>
                    <td class="text-center">辅助单位</td>
                    <td class="text-center">
                      <input type="text"
                             class="ipt pr-ipt-60 text-center"
                             required
                             ng-model="tr.name"
                             ng-change="changeUnit(tr.name,formData.othersPackingAttribute,formData.packingAttribute.name)"/>

                    </td>
                    <td class="text-center">
                      <input type="number"
                             class="ipt pr-ipt-60 text-center"
                             required
                             ng-model="tr.ratio"
                             onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)));"/>
                    </td>
                    <td class="text-center">
                      <input type="text"
                             class="ipt ipt-new-s text-center"
                             ng-model="tr.barcode"/>
                    </td>
                    <td class="text-center">
                      ￥<input type="number"
                             class="ipt pr-ipt-60 text-right"
                             ng-model="tr.bidPrice"/>
                    </td>
                    <td class="text-center">
                      <input type="number"
                             class="ipt pr-ipt-60 text-right"
                             ng-model="tr.length"/>
                    </td>
                    <td class="text-center">
                      <input type="number"
                             class="ipt pr-ipt-60 text-right"
                             ng-model="tr.width"/>
                    </td>
                    <td class="text-center">
                      <input type="number"
                             class="ipt pr-ipt-60 text-right"
                             ng-model="tr.height"/>
                    </td>
                    <td class="text-center">
                      <input type="number"
                             class="ipt ipt-new-s text-right"
                             ng-model="tr.unitWeightKg"/>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </div>
       <!-- 备注-->

       <div class="panel pr-panel pr-panel-height mgb pr-fuzzy-boundary">
         <h1 class="pr-font-14 color-3 mgb">备注</h1>
         <div class="">
           <textarea class="pr-textarea" name="note" rows="8" cols="40" ng-model="formData.note"></textarea>
         </div>
       </div>
        <!-- 功能按钮 -->
        <div class="handle-btn-area relative">
          <div class="mgb text-right btn-area">
            <span class="mgl">
              <!-- <a ng-if="changeFlag"  href="javascript:;"
                 handle-this-click
                 dialog-title="确认返回?"
                 dialog-content="该商品管理存在未保存数据，是否保存?"
                 dialog-template="pr-dialog-return.html"
                 nosave-callback="$root.goTo('#/medicalStock/query.html')"
                 save-callback="submitForm('editForm','save');$root.goTo('#/medicalStock/query.html')">返回商品管理列表
              </a> -->
              <a href="#/medicalStock/query.html">返回商品管理列表</a>
            </span>
            <span bottom-button-list="bottomButtonList">  </span>
            <span class="mgl">
              <a ng-if="formData.id" href="javascript:;"
                 class="color-red mgt"
                 handle-this-click
                 dialog-title="确认删除?"
                 dialog-content="删除后将无法恢复,确认删除?"
                 dialog-template="pr-dialog-submit.html"
                 callback="$root.goTo('#/medicalStock/query.html')"
                 params='{"id":formData.id}'
                 request-url="rest/authen/medicalStock/delete">删除</a>
            </span>
            <span class="mgl" >
              <button ng-if="changeFlag&&formData.id" href="javascript:;"
                class="pr-btn-save-glodbg mgt"
                type="button"
                modal-center="350"
                modal-scope="this"
                modal-data='{"title":"确认提示",
                             "content1":"请输入修改内容",
                             "content2":"请输入修改原因",
                             "btnConfirm":"确定",
                             "btnCancel":"取消",
                             "url":"rest/authen/medicalStock/save",
                             "goUrl":""
                            }'
                tpl-url="tpl/pr-dialog-content-reason.html"
                ng-disabled="editForm.$invalid ||
                    showUnit ||
                    !formData.code||
                    !formData.name||
                    !formData.specification||
                    !formData.storageCondition ||
                    !formData.packingAttribute.name"
                 >保存</button>

              <button
              ng-if="!changeFlag ||!formData.id"
              href="javascript:;"
              class="pr-btn-save-glodbg mgt"
              type="button"
              ng-click="submitForm('editForm','save')"
              ng-disabled="editForm.$invalid ||
               showUnit ||
               !formData.code||
               !formData.name||
               !formData.specification||
               !formData.storageCondition ||
               !formData.packingAttribute.name">保存</button>
          </span>

          </div>
        </div>
      </form>
    </div>
</div>
