<div class="medical-stock supplier-management child-project-management"
     ng-controller="medicalStockCtrl"
     ng-init="listParams.orderStatus=mainStatus.pageParams.orderStatus">
     <table-list list-data="rest/authen/medicalStock/query.json"
                 list-params="listParams"
                 search-mode="noCaseSensitive"
                 search-param="q">

    <!-- 主内容头部 -->
    <page-main-header-component list-params="listParams"
                                crumbs-nav='[{"name":"管理中心","link":"","style":""},{"name":"商品管理","link":"","style":"color-custom-orange"}]'
                                component-title="商品管理"
                                is-show-create-btn="新增商品"
                                create-new-url="#/medicalStock/edit.html"
                                get-business-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType"
                                get-status-num-url="rest/authen/medicalStock/countByOrderStatus.json"
                                status-group-data='[["未匹配-true","已匹配-true"]]'>
    </page-main-header-component>

      <!-- 主内容区域 -->
      <div class="content-wrapper">
        <p class="pd-v-m">
          <em class="circle-xs bg-pass-green"></em> <em class="mgr-l">正常</em>
          <em class="circle-xs bg-freeze-orange"></em> <em class="mgr-l">已冻结</em>
          <em class="circle-xs bg-end-red"></em> <em class="mgr-l">已终止</em>
        </p>
        <div class="content-wrapper-main">
          <div class="flex-column color-9 pd-c-l pdt-m pdb-m bg-white">
            <div class="flex-item-6">
              <div class="inline-block mgr-l">状态：
                <select class="ipt pr-short-ipt color-3" style="width:100px;"
                        default-empty="全部"
                        chosen
                        ng-model="listParams.businessStatus"
                        select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_BusinessStatus">
                </select>
              </div>
              <div class="inline-block">申请日期:
                <div class="date-icon-outside">
                  <input type="text"
                         datepicker
                         class="ipt-date pr-short-ipt color-6 mgr-s pr-indent-10"
                         ng-readonly="true"
                         ng-model="listParams.createAtBeg"
                         placeholder="">
                  <span class="date-icon"></span>
                </div> 至
                <div class="date-icon-outside">
                  <input type="text"
                         datepicker
                         class="ipt-date pr-short-ipt color-6 mgr-s pr-indent-10"
                         ng-readonly="true"
                         ng-model="listParams.createAtEnd"
                         placeholder="">
                  <span class="date-icon"></span>
                </div>
              </div>
            </div>
            <div class="flex-item-6 text-right">
                <div class="order-list-search inline-block text-left code pos-rel-tr pdl-l relative">
                  <input type="text" class="ipt pdr-xxl" placeholder="商品名称/商品通用名/商品化学名/生产商" ng-model="listParams.q">
                  <i class=""></i>
                </div>
                <div class="inline-block mgl-m">
                  <i class="fa fa-refresh mgr-s color-light-brown"></i>
                  <a href="" class="color-light-brown" ng-click="listParams.q=''">重置搜索条件</a>
                </div>
            </div>
          </div>
          <div class="outside-table-d pr-bg-white pr-fuzzy-boundary">
            <div custom-table="com.pangu.mss.domain.mongo.medical.MedicalStock" custom-tr-menus="spd_MedicalStock_query" >   </div>

            <table class="table pr-table pr-new-table pr-table-content table-wid-l">
              <thead class="pr-bg-side">
                <tr>
                  <!-- <th class="w-80">状态</th> -->
                  <th>序号</th>
                  <th class="w-80">商品编码</th>
                  <th class="w-220">商品名称</th>
                  <th>商品名称拼音</th>
                  <th>商品通用名</th>
                  <th>商品通用名拼音</th>
                  <th>商品化学名</th>
                  <th>商品英文名</th>
                  <th>规格</th>
                  <th>基本单位</th>
                  <th>包装大小</th>
                  <th>储存条件</th>
                  <th>条形码</th>
                  <th>生产厂商</th>
                  <th>产地</th>
                  <th>批准文号</th>
                  <th>批准文号认证日期</th>
                  <th>注册证号</th>
                  <th>注册证号认证日期</th>
                  <th>注册证号有效期至</th>
                  <th>有效期</th>
                  <th>有效期单位</th>
                  <th>效期预警天数</th>
                  <th>平台商品编码</th>
                  <th>备注</th>
                  <th>录入人</th>
                  <th>录入时间</th>
                  <th>修改人</th>
                  <th>修改时间</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-if="tbodyList.length"
                    ng-repeat="tr in tbodyList track by $index"
                    class="relative"
                    table-item-multiple-btn>
                  <td class="relative">
                    <span class="circle-status"
                          ng-class="{'bg-freeze-orange':tr.businessApplication.businessStatus =='已冻结',
                                     'bg-pass-green':tr.businessApplication.businessStatus =='正常',
                                     'bg-end-red':tr.businessApplication.businessStatus =='已终止'}">
                      <span class="purchaseorder-buyer-info" style="right: 20px;top: -5px;">
                        <i class="block pd-c-s text-normal" style="line-height:1.8">
                          <em  class="inline-block">{{tr.businessApplication.businessStatus}}</em>
                        </i>
                      </span>
                    </span>
                    <div class="table-item-multiple-btn">
                      <div class="inline-block handle-btn del-details-btn relative" href="javascript:;">
                        <div class="del-confirm-area text-center">
                          <p class="pd-v-s bb-dashed-line">确认删除本条数据?</p>
                          <p class="pd-v-s">
                            <a href="javascript:;" class="mgr-s hide-this-area">取消</a>
                            <a href="javascript:;"
                               class="pr-btn-best-small pr-btn-bg-gold"
                               ng-click="handleDelDetails(tr.id, 'rest/authen/medicalStock/delete', '#/medicalStock/query.html')">确认
                            </a>
                          </p>
                        </div>
                      </div>
                      <div class="inline-block handle-btn" ng-if="tr.businessApplication.businessStatus!='已终止'" ng-click="$root.goTo('#/medicalStock/edit.html?id='+tr.id)"></div>
                      <div class="inline-block handle-btn other-handle-btn relative" href="javascript:;">
                        <div class="handle-area-show handle-area text-center">
                          <a ng-if="tr.businessApplication.businessStatus!='已冻结'&&tr.businessApplication.businessStatus!='已终止'"
                             href="javascript:;"
                             modal-center="350"
                             modal-scope="this"
                             modal-data='{"title":"确认",
                                          "content":"冻结后，将无法对该客户销售。确认冻结？",
                                          "btnConfirm":"确定",
                                          "btnCancel":"取消",
                                          "url":"rest/authen/medicalStock/updateStatus",
                                          "goUrl":"",
                                          "id":"{{tr.id}}",
                                          "status":"已冻结"
                                         }'
                             modal-url="angular/tpl/pr-dialog-submit-message.html">冻结
                          </a>
                          <a ng-if="tr.businessApplication.businessStatus=='已冻结'"
                             href="javascript:;"
                             modal-center="350"
                             modal-scope="this"
                             modal-data='{"title":"确认解冻?",
                                          "content":"解冻后，该信息将恢复，确认解冻?",
                                          "btnConfirm":"确定",
                                          "btnCancel":"取消",
                                          "url":"rest/authen/medicalStock/updateStatus",
                                          "goUrl":"",
                                          "id":"{{tr.id}}",
                                          "status":"正常"
                                         }'
                             modal-url="angular/tpl/pr-dialog-submit-message.html">解冻
                          </a>
                          <a ng-if="tr.businessApplication.businessStatus!='已终止'" href="javascript:;"
                             handle-this-click
                             dialog-title="确认终止?"
                             dialog-content="终止后，该信息将被取消，确定终止?"
                             dialog-template="pr-dialog-submit.html"
                             request-url="rest/authen/medicalStock/updateStatus"
                             params='{"id":tr.id,"status":"已终止"}'
                             alert-error
                             callback="$root.utils.refreshHref()">终止
                          </a>
                          <a href="javascript:;"
                             modal-right="800"
                             modal-scope="this"
                             modal-data='{"type":"modalRight",
                                          "modalWidth":"800",
                                          "aclass":"color-orange add-return-order mgl-s",
                                          "requestUrl":"rest/authen/versionFlow/query?businessKey={{tr.id}}",
                                          "httpMethod":"GET",
                                          "ahref":"views/versionFlow/get-right-side.html?businessKey={{tr.id}}",
                                          "showName":"查看操作记录"}'
                             modal-url="views/versionFlow/get-right-side.html?businessKey={{tr.id}}">操作记录
                          </a>
                          <a href="javascript:;"
                             ajax-url-submit="rest/authen/medicalStock/checkStock"
                             params='{"id":"{{tr.id}}"}'
                             alert-error
                             callback="listParams.refreshId=tr.id">校验库存
                          </a>
                          <a href="javascript:;"
                             modal-right="700"
                             modal-scope="this"
                             modal-url="views/medicalStock/editOfStockBatch.html?id={{tr.id}}">添加库存
                          </a>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td class="text-center">{{(status.currentPage-1)*status.pageSize+($index+1)}}</td>
                  <td class="text-left color-orange">
                    <div class="autocut color-orange" title="{{tr.name}}">
                      <a href="#/medicalStock/get.html?id={{tr.id}}">
                          {{tr.approvedName}}
                      </a>
                    </div>
                  </td>
                  <td>{{tr.manufacturer}}</td>
                  <!-- <td>{{tr.supplierName}}</td> -->
                  <td>{{tr.dosageForms}}</td>
                  <td>{{tr.specification}}</td>
                  <td>{{tr.packingSpecification}}</td>
                  <td class="text-right">￥{{tr.retailPrice|| '0'}}</td>
                  <td class="text-right">￥{{tr.tradePrice || '0'}}</td>
                  <td class="text-right">￥{{tr.purchasePrice || '0'}}</td>
                  <td class="text-center">{{tr.licenseNumber}}</td>
                  <td class="text-center">{{tr.quality}}</td>
                  <td class="text-center">{{tr.gmpGspCertificateNo}}</td>
                  <td class="text-center">{{tr.drugAdministrationCode}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="pr-bg-white" ng-if="!tbodyList.length">
            <div class="empty-table clearfix">
              <div>&nbsp;</div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
            </div>
          </div>
        </div>
    </div>
    <!-- 导航 -->
    <div class="clearfix pd-c-xl" ng-if="tbodyList.length">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>
  </table-list>
</div>
