<div class="index-order-create">
  <!-- 标题 -->
  <div class="index-order-create-title pr-index-line-title flex-column">
    <span class="flex-item-5"></span>
    <span class="flex-item-2">部门成员个体分析</span>
    <span class="flex-item-5"></span>
  </div>

  <div class="panel pr-panel pr-fuzzy-boundary pd-n">
    <h4 class="pd-m text-n pr-panel-title-color text-left">部门成员销售单处理率</h4>
    <div chart="http://120.76.232.188:8080/dt/data/bar-chart.json?20161017" style="height: 300px;"></div>
  </div>

  <div class="mgb-l flex-column">
    <select class="select pr-select pr-select-sm flex-item-1">
      <option>赵云</option>
      <option>马云</option>
      <option>浮云</option>
    </select>
  </div>

</div>
