<div class="index-order-personal-info flex-column text-center">
  <!-- 左侧内容 -->
  <div class="flex-item-5">
    <!-- 购需分析 -->
    <div class="panel pr-panel pr-panel-height mgr-m mgb-m pr-fuzzy-boundary pd-n flex-column salesOrder-module">
      <div class="flex-item-2 br-line pr-color">
        <div class="left-title pr-line-height bb-dashed-line">
          <p class="relative"><span class="pr-icon-bg4 relative"><i class="pj-badge text-normal" style="right:-12px;">1</i></span></p>
          <p>待处理</p>
        </div>
        <div class="left-title pr-line-height">
          <p class="relative"><span class="pr-icon-bg5 relative"><i class="pj-badge text-normal" style="right:-12px;">12</i></span></p>
          <p>已处理</p>
        </div>
      </div>
      <div class="flex-item-10 salesOrder-module-analysis">
        <h4 class="bb-line pd-v-m pr-panel-title-color">我的购需单分析</h4>
        <div class="flex-column">
          <div class="flex-item-6 br-dashed-line">
            <div class="flex-column pd-v-xl">
              <div class="flex-item-6">
                <p class="text-s">昨日新购需单</p>
                <p class="pr-color text-l">8</p>
              </div>
              <div class="flex-item-6">
                <p class="text-s">已处理购需单</p>
                <p class="pr-color text-l">20</p>
              </div>
            </div>
            <div class="pr-easypiechart text-center">
             <div easypiechart options="easypiechart_options" percent="useryesterdayorderpercent">
               <span>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready==0">85%</h1>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready!=0">85%</h1>
                 <p class="text-s">日购需单处理率</p>
               </span>
             </div>
            </div>
          </div>
          <div class="flex-item-6">
            <div class="flex-column pd-v-xl">
              <div class="flex-item-6">
                <p class="text-s">本年总购需单</p>
                <p class="pr-color text-l">8</p>
              </div>
              <div class="flex-item-6">
                <p class="text-s">已处理购需单</p>
                <p class="pr-color text-l">20</p>
              </div>
            </div>
            <div class="pr-easypiechart text-center">
             <div easypiechart options="easypiechart_options" percent="useryesterdayorderpercent">
               <span>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready==0">85%</h1>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready!=0">85%</h1>
                 <p class="text-s">年购需单处理率</p>
               </span>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 物流分析 -->
    <div class="panel pr-panel pr-panel-height mgr-m pr-fuzzy-boundary pd-n flex-column logistics-module">
      <div class="flex-item-2 br-line pr-color">
        <div class="pr-line-height left-title bb-dashed-line">
          <p class="relative"><span class="pr-icon-bg4 relative"><i class="pj-badge text-normal" style="right:-12px;">1</i></span></p>
          <p>未提交发货单</p>
        </div>
        <div class="text-center pr-line-height left-title">
          <p class="relative"><span class="pr-icon-bg4 relative"><i class="pj-badge text-normal" style="right:-12px;">1</i></span></p>
          <p>待发货</p>
        </div>
      </div>
      <div class="flex-item-10 logistics-module-analysis">
        <h4 class="bb-line pd-v-m pr-panel-title-color">我的物流情况分析</h4>
        <div class="flex-column">
          <div class="flex-item-6 br-dashed-line">
            <div class="flex-column pd-v-xl">
              <div class="flex-item-6">
                <p class="text-s">本年总销售单</p>
                <p class="pr-color text-l">8</p>
              </div>
              <div class="flex-item-6">
                <p class="text-s">已发货销售单</p>
                <p class="pr-color text-l">20</p>
              </div>
            </div>
            <div class="pr-easypiechart text-center">
             <div easypiechart options="easypiechart_options" percent="useryesterdayorderpercent">
               <span>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready==0">85%</h1>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready!=0">85%</h1>
                 <p class="text-s">年销售单发货率</p>
               </span>
             </div>
            </div>
          </div>
          <div class="flex-item-6 pdt-xl">
            <div chart="{{mainConfig.serverPath}}rest/authen/salesOrder/countByOrderStatus4Echarts?dateType=yesterday&isOnlyCurrentUser=true"
                  style="height:189px;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 右侧内容 -->
  <div class="flex-item-7">
    <div class="panel pr-panel pr-panel-height pr-fuzzy-boundary pd-n confirmOrder-module">
      <!-- 销售单分析 -->
      <div class="bb-line">
        <div class="flex-column confirmOrder-module-analysis">
          <div class="flex-item-2 br-line pr-color">
            <div class="pr-line-height left-title bb-dashed-line">
              <p class="relative"><span class="pr-icon-bg4 relative"><i class="pj-badge text-normal" style="right:-12px;">12</i></span></p>
              <p>待审批</p>
            </div>
            <div class="pr-line-height left-title bb-dashed-line">
              <p class="relative"><span class="pr-icon-bg5 relative"><i class="pj-badge text-normal" style="right:-12px;">12</i></span></p>
              <p>待发单</p>
            </div>
            <div class="pr-line-height left-title">
              <p class="relative"><span class="pr-icon-bg5 relative"><i class="pj-badge text-normal" style="right:-12px;">12</i></span></p>
              <p>待收款</p>
            </div>
          </div>
          <div class="flex-item-10">
            <h4 class="bb-line pd-v-m pr-panel-title-color">我的销售单分析</h4>
            <div class="flex-column">
              <div class="flex-item-4 br-dashed-line fm">
                <div class="flex-column pd-v-l">
                  <div class="flex-item-6">
                    <p class="text-s">昨日新购需单</p>
                    <p class="pr-color text-l">8</p>
                  </div>
                  <div class="flex-item-6">
                    <p class="text-s">已处理购需单</p>
                    <p class="pr-color text-l">20</p>
                  </div>
                </div>
                <div class="pr-easypiechart text-center">
                 <div easypiechart options="easypiechart_options" percent="useryesterdayorderpercent">
                   <span>
                     <h1 class="text-center" ng-if="epcUserData.yesterdayAlready==0">85%</h1>
                     <h1 class="text-center" ng-if="epcUserData.yesterdayAlready!=0">85%</h1>
                     <p class="text-s">日购需单处理率</p>
                   </span>
                 </div>
                </div>
              </div>
              <div class="flex-item-4 br-dashed-line fm">
                <div class="flex-column pd-v-l">
                  <div class="flex-item-6">
                    <p class="text-s">昨日新购需单</p>
                    <p class="pr-color text-l">8</p>
                  </div>
                  <div class="flex-item-6">
                    <p class="text-s">已处理购需单</p>
                    <p class="pr-color text-l">20</p>
                  </div>
                </div>
                <div class="pr-easypiechart text-center">
                 <div easypiechart options="easypiechart_options" percent="useryesterdayorderpercent">
                   <span>
                     <h1 class="text-center" ng-if="epcUserData.yesterdayAlready==0">85%</h1>
                     <h1 class="text-center" ng-if="epcUserData.yesterdayAlready!=0">85%</h1>
                     <p class="text-s">日购需单处理率</p>
                   </span>
                 </div>
                </div>
              </div>
              <div class="flex-item-4 confirmOrder-module-analysis-num">
                <div class="bb-dashed-line">
                  <p class="mgb-s">待收款额</p>
                  <p class="pr-font-18 color-red">￥100000022.00</p>
                </div>
                <div>
                  <p class="mgb-s">本月已收款销售单</p>
                  <p class="pr-font-18 pr-color">￥9550255.00</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 销售额比较 -->
        <div>
          <div class="flex-column pd-c-l pdt-m">
            <h4 class="flex-item-3 mgt text-left pdl-l pr-panel-title-color">销售额同期比较</h4>
            <div class="flex-item-9 text-right">
              <span class="mgr"><i class="chart-tip-icon pr-icon-bg-green"></i> 今年</span>
              <span><i class="chart-tip-icon pr-icon-bg-grey"></i> 去年</span>
              <div class="btn btn-group">
                <button type="button" class="btn pr-btn-transparentbg pr-btn-bg-gold bd-radius-14">日</button>
                <button type="button" class="btn pr-btn-transparentbg pr-btn-bg-white bd-radius-14">月</button>
                <button type="button" class="btn pr-btn-transparentbg pr-btn-bg-white bd-radius-14">季度</button>
                <button type="button" class="btn pr-btn-transparentbg pr-btn-bg-white bd-radius-14">年</button>
              </div>
            </div>
          </div>
          <div chart="http://120.76.232.188:8080/dt/data/line-chart4.json?id=20161019" style="height: 295px;"></div>
        </div>
    </div>
  </div>
</div>
