<div class="index-order-department-info flex-column text-center">
  <!-- 左侧 -->
  <div class="flex-item-4">
    <div class="panel pr-panel pr-panel-height mgr-m pr-fuzzy-boundary pd-n flex-column">
      <div class="flex-item-5 br-line">
        <h4 class="bb-line pd-v-m pr-panel-title-color">部门今日新购需单统计</h4>
        <div class="department-data department-data-left">
          <div class="bb-dashed-line">
            <p class="mgb-s">今日新购需单</p>
            <p class="pr-font-20 pr-color">166</p>
          </div>
          <div class="flex-column">
            <div class="flex-item-6">
              <p class="mgb-s">待处理购需单</p>
              <p class="pr-font-20 pr-color">20</p>
            </div>
            <div class="flex-item-6">
              <p class="mgb-s">已处理购需单</p>
              <p class="pr-font-20 pr-color">7</p>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item-7">
        <h4 class="bb-line pd-v-m pr-panel-title-color">部门购需单分析</h4>
        <div class="department-data">
          <div class="flex-column pd-v-xl">
            <div class="flex-item-6">
              <p class="text-s">昨日新购需单</p>
              <p class="pr-color text-l">8</p>
            </div>
            <div class="flex-item-6">
              <p class="text-s">已处理购需单</p>
              <p class="pr-color text-l">20</p>
            </div>
          </div>
          <div class="pr-easypiechart text-center">
           <div easypiechart options="easypiechart_options" percent="useryesterdayorderpercent">
             <span>
               <h1 class="text-center" ng-if="epcUserData.yesterdayAlready==0">85%</h1>
               <h1 class="text-center" ng-if="epcUserData.yesterdayAlready!=0">85%</h1>
               <p class="text-s">日购需单处理率</p>
             </span>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- 右侧 -->
  <div class="flex-item-8">
    <div class="panel pr-panel pr-panel-height pr-fuzzy-boundary pd-n flex-column department-confirmOrder">
      <div class="flex-item-2 pr-color br-line full-height">
        <div class="pr-line-height bb-dashed-line half-height pdt-xxxxl">
          <p class="relative"><span class="pr-icon-bg4 relative"><i class="pj-badge text-normal" style="right:-12px;">1</i></span></p>
          <p>待审批销售单</p>
        </div>
        <div class="pr-line-height half-height half-height pdt-xxxxl">
          <p class="relative"><span class="pr-icon-bg5 relative"><i class="pj-badge text-normal" style="right:-12px;">12</i></span></p>
          <p>待收款销售单</p>
        </div>
      </div>
      <div class="flex-item-3 br-line full-height">
        <h4 class="bb-line pd-v-m pr-panel-title-color">部门销售单统计</h4>
        <div class="pdb-m pdt-l">
          <select class="select pr-select pr-select-sm" name="" style="width:80px;">
            <option value="">日</option>
            <option value="">月</option>
            <option value="">季</option>
            <option value="">年</option>
          </select>
        </div>
        <div class="pdb-m">
          <p class="mgb-s">新增销售单</p>
          <p class="pr-font-20 pr-color">123</p>
        </div>
        <div class="pdb-m">
          <p class="mgb-s">新增销售额</p>
          <p class="pr-font-20">￥123456.00</p>
        </div>
      </div>
      <div class="flex-item-7">
        <h4 class="bb-line pd-v-m pr-panel-title-color">本年销售部门分析</h4>
        <div class="flex-column department-data">
          <div class="flex-item-6 br-dashed-line">
            <div class="flex-column pd-v-xl">
              <div class="flex-item-6">
                <p class="text-s">昨日新购需单</p>
                <p class="pr-color text-l">8</p>
              </div>
              <div class="flex-item-6">
                <p class="text-s">已处理购需单</p>
                <p class="pr-color text-l">20</p>
              </div>
            </div>
            <div class="pr-easypiechart text-center">
             <div easypiechart options="easypiechart_options" percent="useryesterdayorderpercent">
               <span>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready==0">85%</h1>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready!=0">85%</h1>
                 <p class="text-s">日购需单处理率</p>
               </span>
             </div>
            </div>
          </div>
          <div class="flex-item-6">
            <div class="flex-column pd-v-xl">
              <div class="flex-item-6">
                <p class="text-s">昨日新购需单</p>
                <p class="pr-color text-l">8</p>
              </div>
              <div class="flex-item-6">
                <p class="text-s">已处理购需单</p>
                <p class="pr-color text-l">20</p>
              </div>
            </div>
            <div class="pr-easypiechart text-center">
             <div easypiechart options="easypiechart_options" percent="useryesterdayorderpercent">
               <span>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready==0">85%</h1>
                 <h1 class="text-center" ng-if="epcUserData.yesterdayAlready!=0">85%</h1>
                 <p class="text-s">日购需单处理率</p>
               </span>
             </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
