<div class="sale-return-order right-side pr-bg-black3" ng-controller="editCtrl">
    <form class="add-customerAddress-form form-horizontal"
          ajax-url="rest/authen/versionFlow/query?businessKey={{tr.id}}"
          scope-data="showData"
          alert-error>
        <div class="sale-bg">
            <!-- 头部信息 -->
            <div class="relative " >
                <div class="mgb-l pd-c-l pdt pdb pr-font-14 color-light-brown entry-detailed-btm">操作记录</div>
                <div class="mgb-l pdb pr-font-14 color-light-brown">
                    <table class="see-license">
                        <thead class="entry-detailed-btm">
                        <tr>
                            <th class="flex-item-2 mgl-l">操作人</th>
                            <th class="flex-item-2">操作日期</th>
                            <th class="flex-item-5">操作内容</th>
                            <th class="flex-item-2">原因</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="tr in showData track by $index"
                            class="relative color-white"
                            table-item-multiple-btn>
                            <td class="flex-item-2 mgl-l">{{tr.inputUser.n}}</td>
                            <td class="flex-item-2">{{tr.createAt | date : 'yyyy-MM-dd'}}</td>
                            <td class="flex-item-5">{{tr.key}}</td>
                            <td class="flex-item-2">{{tr.message}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- 功能按钮 -->
                <!--<div class="sales-btn-area-2nd relative">-->
                <!--<div class="btn-area full-width text-center">-->

                <!--<button type="button"-->
                <!--ng-click="handleTypeChange()"-->
                <!--class="pr-btn-save-glodbg mgr-l"-->
                <!--ng-disabled="groupFlag || yearMonthGroupFlag"-->
                <!--style="width:160px;">确定-->
                <!--</button>-->
                <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </form>
</div>


