<div class="sale-return-order right-side pr-bg-black3">
  <div class="sale-bg">
    <!-- 头部信息 -->
      <form class="form-horizontal"
            id="businessScope_editForm1"
            name="businessScope_editForm1"
            form-validator
            parameter-body
            action="rest/authen/license/save"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="listObject.reloadTime=$root.utils.getNowTime()">
    <div class="relative ">
      <div class="mgb-l pd-c-l pdt pdb pr-font-14 color-light-brown entry-detailed-btm">新增资质证照</div>
      <div class="pr-panel-height select-bg" style="padding:15px 0;">
        <div class="flex-column mgt relative ">
            <label class="flex-item-2 text-right pdr-s mgl-s">证照类型</label>
            <span class="mgl-s"
                  angucomplete-supplier
                  placeholder=""
                  title-field="name"
                  search-fields="{{formData.customerName}}"
                  url="rest/authen/customerAddress/query.json?isFilterDefault=true"
                  ng-model="tmp_customer"
                  ng-model-id="filterObject.customerId"
                  class="inline-block text-s" style="height:28px;">
            </span>
        </div>
        <div class="flex-column mgt">
            <label class="flex-item-2 text-right pdr-s mgl-s">是否预警</label>
            <div class="mgl-s text-left">
                <select class="ipt pr-short-ipt ipt-new-s "
                        chosen
                        default-empty="全部"
                        ng-model="filterObject.salesDepartmentId"
                        select-source="rest/authen/department/queryForSelectOption">
                </select>
            </div>
        </div>
        <div class="flex-column mgt">
            <label class="flex-item-2 text-right pdr-s mgl-s">证照过期控制</label>
            <div class="mgl-s text-left">
                <select class="ipt pr-short-ipt ipt-new-s "
                        data-placeholder=" "
                        chosen
                        default-empty="全部"
                        ng-model="filterObject.saleUserId"
                        select-source="rest/authen/organizationAndUser/queryForSelectOption?departmentId={{addDataObj.salesDepartmentId}}&isReturnNullOfNoCondition=true"
                >
                </select>
            </div>
        </div>

      </div>
      <div class="mgb-l pd-c-l pr-font-12 color-light-brown flex-column pr-fw-700">关联企业类型
          <div class="form-ctrl license-file-300 mgl-s"
               ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_SaleOrderStatisticsGroupEnum"
               scope-data="departments"
               alert-error>
              <fieldset>
                  <label class="quali-selection relative"  ng-repeat="item in departments track by $index" title="{{item.value}}">
                      <input type="checkbox"
                             value="{{item.id}}"
                             ng-checked="judgeHasThisItem(tbodyList,item.value)"
                             ng-click="handleGroupChoised($event,item.value)"
                             class="click-reverse-selection3 mgl-m quali-position">{{item.value}}
                  </label>
              </fieldset>
          </div>
          <!--<p ng-if="groupFlag" class="color-red pdl-xl">分组条件至少选择一种!</p>-->
          <!--<p ng-if="yearMonthGroupFlag" class="color-red pdl-xl">不能对月进行单独分组查询，必须带年分组查询!</p>-->
      </div>
        <!-- 备注 -->
        <div class="mgb-l pr-font-12 color-light-brown flex-column">
            <h1 class="quali-pd-l pr-fw-700">备注</h1>
            <div class="panel pr-fuzzy-boundary pr-panel-height mgb-l ">
                <!--<input type="text" class="">-->
                <textarea class="pr-textarea" maxlength="240" style="height:92px;min-width: 320px;" placeholder="" ng-model="formData.note" onkeydown="if(window.event.keyCode==13) return true;"></textarea>
            </div>
        </div>
      <!-- 功能按钮 -->
      <div class="sales-btn-area-2nd relative">
          <div class="btn-area full-width text-center">

          <button type="submit"
                  class="pr-btn-save-glodbg mgr-l"
                  ng-disabled=""
                  style="width:160px;">确定
          </button>
          </div>
      </div>
    </div>
      </form>
  </div>
</div>
