<div class="sale-return-order right-side pr-bg-black3"
     ajax-url="rest/authen/qualificationCertificate/getOfEdit?id={{tr.id}}"
     scope-data="formData"
     callback="initFlag=true"
     alert-error>

    <div class="sale-bg">
        <!-- 头部信息 -->
        <form class="form-horizontal"
              id="licenseCommodity_from2"
              name="licenseCommodity_from2"
              form-validator
              parameter-body
              action="rest/authen/qualificationCertificate/save.json?licenseType=商品&licenseSonType=电子档案"
              alert-error
              alert-ok
              scope-error-msg="errorMsg"
              scope-data="formData"
              novalidate="true"
              callback="listObject.reloadTime=$root.utils.getNowTime()">
            <div class="relative">
                <div class="mgb-l pd-c-l pdt pdb pr-font-14 color-light-brown entry-detailed-btm">新增资质证照</div>

                <div class="pr-panel-height select-bg" style="padding:15px 0;" ng-show="formData.systemPreset!='否' && formData.systemPreset">
                    <h1 class="flex-item-2 text-right pdr-s mgl-s pr-fw-700 mgr-s" style="line-height: 20px;">证照类型</h1>
                    <div class="color-white"
                         style="width:250px;"
                         ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=License_SystemPresetLicenseType">{{formData.licenseTypeName}}
                    </div>
                </div>
                <div class="pr-panel-height select-bg" style="padding:15px 0;" ng-show="formData.systemPreset!='是' ">
                    <label class="flex-item-2 text-right pdr-m mgl-s">证照类型</label>
                    <select class="ipt ipt-new-select color-3"
                            data-placeholder=" "
                            default-empty="全部"
                            chosen
                            style="width:220px"
                            ng-model="formData.licenseTypeName"
                            select-source="rest/index/queryBasicdataForSelectOption?basicDataType=License_SystemPresetLicenseType">
                    </select>
                </div>
            </div>
            <div class="flex-column mgt mgb-l">
                <label class="flex-item-2 text-right pdr-s mgl-s">是否预警</label>
                <div class="mgl-s text-left">
                    <select class="ipt pr-short-ipt ipt-new-s "
                            chosen
                            default-empty="-请选择-"
                            ng-model="formData.isWarning"
                            select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_BooleanType">
                    </select>
                </div>
            </div>
            <div class="flex-column mgt">
                <label class="flex-item-2 text-right pdr-s mgl-s">证照过期控制</label>
                <div class="mgl-s text-left">
                    <select class="ipt pr-short-ipt ipt-new-s "
                            data-placeholder=" "
                            chosen
                            default-empty="-请选择-"
                            ng-model="formData.controllType"
                            select-source="rest/index/queryBasicdataForSelectOption?basicDataType=License_ControllType"
                    >
                    </select>
                </div>
            </div>

            <div class="mgb-l pd-c-l pr-font-12 color-light-brown flex-column pr-fw-700 mgt-m">关联商品性质
                <div class="form-ctrl license-file-300 mgl-s"
                     ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=License_SystemPresetLicenseType"
                     scope-data="departments"
                     alert-error>
                    <label class="quali-selection relative"  ng-repeat="item in departments track by $index" ng-controller="licenseController">
                        <input type="checkbox"
                               id="{{$index + 1}}1"
                               ng-if="initFlag"
                               ng-checked="{{formData.enterpriseType.indexOf(item.text)>-1?true:false}}"
                               ng-click="licenseCommodityType(item);"
                               class="click-reverse-selection3 mgl-m quali-position">{{item.text}}
                    </label>


                </div>
                <!--<p ng-if="groupFlag" class="color-red pdl-xl">分组条件至少选择一种!</p>-->
                <!--<p ng-if="yearMonthGroupFlag" class="color-red pdl-xl">不能对月进行单独分组查询，必须带年分组查询!</p>-->
            </div>
            <!-- 备注 -->
            <div class="mgb-l pr-font-12 color-light-brown flex-column">
                <h1 class="quali-pd-l pr-fw-700">备注</h1>
                <div class="panel pr-fuzzy-boundary pr-panel-height mgb-l ">
                    <!--<input type="text" class="">-->
                    <textarea class="pr-textarea" maxlength="240" style="height:92px;min-width: 320px;" placeholder="" ng-model="formData.remark" onkeydown="if(window.event.keyCode==13) return true;"></textarea>
                </div>
            </div>
            <!-- 功能按钮 -->
            <div class="sales-btn-area-2nd relative">
                <div class="btn-area full-width text-center">
                    <button ng-if="!formData.id"
                            type="submit"
                            class="pr-btn-save-glodbg mgr-l"
                            ng-disabled=""
                            style="width:160px;">确定
                    </button>
                    <button  href="javascript:;" ng-if="formData.id"
                             class="pr-btn-save-glodbg mgt"
                             type="button"
                             modal-center="350"
                             modal-scope="this"
                             modal-data='{"title":"确认提示",
                             "content1":"请输入修改内容",
                             "content2":"请输入修改原因",
                             "btnConfirm":"确定",
                             "btnCancel":"取消",
                             "url":"rest/authen/qualificationCertificate/save.json?licenseType=商品&licenseSonType=电子档案",
                             "goUrl":""
                            }'
                             tpl-url="tpl/pr-dialog-content-licenseCommodity2.html"
                             style="width:160px;"
                    >确认</button>
                </div>
            </div>

        </form>
    </div>
</div>
