<div class="content-wrapper"
     ajax-url="rest/authen/purchasePayOrder/get.json?id={{mainStatus.pageParams.id}}&relId={{mainStatus.pageParams.relId}}"
     scope-data="showData"
     alert-error>

  <!-- 主内容头部 -->
  <div class="content-wrapper-heading mgt-l mgb-m flex-column">
    <h1 class="pr-title-color pr-font-24 flex-item-10">付款申请单</h1>
  </div>

  <!-- 主内容区域 -->
  <div class="content-wrapper-main">
    <!-- 订单信息 -->
    <div class="panel pr-panel pr-panel-height flex-column mgb" ng-class="{'pr-bg-grey2':(showData.orderStatus=='已作废')}">
      <div class="flex-item-5">
        <span class="mgr-xl color-9">付款申请单号：<em class="color-6">{{showData.orderNo}}</em></span>
        <span class="mgr-xl color-9">采购单号：<em class="color-6"><a href="#/purchaseOrder/get.html?id={{showData.relId}}">{{showData.relOrderNo}}</a></em></span>
        <span class="mgr-xl color-9">来货通知单号：<em class="color-6"><a href="#/arrivalNoticeOrder/get.html?id={{showData.arrivalNoticeOrderId}}">{{showData.arrivalNoticeOrderNo}}</a></em></span>
      </div>
      <div class="flex-item-7 text-right">
        <span class="mgr-l color-9">入库时间：<em class="color-6">{{showData.createAt | date:'yyyy-MM-dd HH:mm'}}</em></span>
        <span class="mgr-l color-9">采购员：<em class="color-custom-orange">{{showData.inputUser.n}}</em></span>
        <span class="mgr-l color-9">采购审批：<em class="color-custom-orange">{{showData.approverUser.n}}</em></span>
        <span ng-if="showData.orderStatus=='待批款'" class="mgr-l color-9">财务审批：<em class="color-6">暂无</em></span>
        <span ng-if="showData.orderStatus=='待付款'" class="mgr-l color-9">财务审批：<em class="color-custom-orange">{{showData.approverUser.n}}</em></span>
        <span class="color-9">状态：<em class="color-6">{{showData.orderStatus}}</em></span>
      </div>
    </div>
    <!-- 供货商信息 -->
    <div class="panel pr-panel pr-panel-height mgb" ng-class="{'pr-bg-grey2':(showData.orderStatus=='已作废')}">
      <h1 class="mgb text-n text-bold">供货商信息</h1>
      <div class="flex-column">
        <span class="color-9 mgr-xl">供货商类型：<em class="color-6 font-normal">{{showData.supplier.type}}</em></span>
        <span class="color-9 mgr-xl">供货商名：<em class="color-6 font-normal">{{showData.supplier.name}}</em></span>
        <span class="color-9 mgr-xl">发货人：<em class="color-6 font-normal">{{showData.supplier.shipperName}}</em></span>
        <span class="color-9 mgr-xl">联系电话：<em class="color-6 font-normal">{{showData.supplier.tel}}</em></span>
      </div>
    </div>
    <!-- 采购方信息 -->
    <div class="panel pr-panel pr-panel-height mgb" ng-class="{'pr-bg-grey2':(showData.orderStatus=='已作废')}">
      <h1 class="mgb text-n text-bold">采购方信息</h1>
      <div>
        <span class="block mgb-s color-9">采购方：<em class="color-6">{{showData.customerName}}</em></span>
        <span class="block color-9">收货人信息：
          <em class="color-6">{{showData.address.prov}} {{showData.address.city}} {{showData.address.area}} {{showData.address.address}} </em>
          <em class="color-6">{{showData.address.name}}</em>
          <em class="color-6">{{showData.address.tel}}</em>
        </span>
      </div>
    </div>
    <!-- 付款及货运 -->
    <div class="panel pr-panel pr-panel-height mgb" ng-class="{'pr-bg-grey2':(showData.orderStatus=='已作废')}">
      <h1 class="mgb text-n text-bold">付款及货运要求</h1>
      <div class="flex-column">
        <div class="flex-item-7 flex-column">
          <span class="color-9 flex-item-3">付款方式：<em class="color-6">{{showData.payAndDelivery.payType}}</em></span>
          <span class="color-9 flex-item-3">结算方式：<em class="color-6">{{showData.payAndDelivery.cashType}}</em></span>
          <span class="color-9 flex-item-3">账期要求：<em class="color-6">{{showData.payAndDelivery.payPeriodType}}</em></span>
          <span class="color-9 flex-item-3">预付款：<em class="color-6">{{showData.payAndDelivery.prepaidRatio || '0'}}%</em></span>
        </div>
        <div class="flex-item-5 flex-column">
          <span class="color-9 flex-item-4">运输方式：<em class="color-6">{{showData.payAndDelivery.transportType}}</em></span>
          <span class="color-9 flex-item-4">承运单位：<em class="color-6">{{showData.payAndDelivery.kuaidiType}}</em></span>
          <span class="color-9 flex-item-4">期望到货时间：<em class="color-6">{{showData.expectDate | date: 'yyyy-MM-dd'}}</em></span>
        </div>
      </div>
    </div>
    <!-- 订单清单 -->
    <div class="panel pr-panel pr-panel-height mgb-n" ng-class="{'pr-bg-grey2':(showData.orderStatus=='已作废')}">
      <!-- <h1 class="text-l">订购清单</h1> -->
      <div class="confirm-order">
        <div order-medicals-purchase ng-model="showData.orderMedicalNos"></div>
      </div>
      <!-- 备注 -->
      <div>
        <p class="pd-v-l">备注：{{showData.note}}</p>
      </div>
    </div>
    <!-- 总价 -->
    <div class="text-right mgt-l">
      <div class="pr-font-24 text-right mgb color-9">合计：
        <span class="color-6">￥{{showData.totalPrice | number:2}} (含税：￥{{showData.taxPrice | number:2}})</span>
      </div>
      <div ng-if="showData.orderStatus!='已付款'" class="text-right text-l">
        <p class="mgb mgt-m">预付：<span>￥{{showData.prepaidPrice | number:2}}</span></p>
        <p>待付：<span class="pr-color-red">￥{{showData.pendingPrice | number:2}}</span></p>
      </div>
    </div>
    <!-- 操作 -->
    <div class="text-right mg-l">
      <a href="#/purchasePayOrder/query.html">返回付款申请单列表</a>
      <button ng-if="showData.orderStatus=='待批款' && $root.hasAuthor('付款申请单批款')"
              class="pr-btn-save-glodbg mgl"
              type="button"
              handle-this-click
              dialog-title="确认同意?"
              dialog-content="同意后，出纳将进行付款，确认同意?"
              dialog-template="pr-dialog-submit.html"
              params='{"businessKey":showData.relId,"conditionType":"通过","type":"采购单"}'
              request-url="rest/authen/workflowTask/run.json"
              call-back="goTo('#/purchasePayOrder/get.html?t=审核通过&id={{showData.id}}')">同意付款
      </button>
      <button ng-if="showData.orderStatus=='待付款' && $root.hasAuthor('付款申请单付款')"
              class="pr-btn-save-glodbg mgl"
              type="button"
              handle-this-click
              dialog-title="确认付款?"
              dialog-content="确认没有问题, 可以付款?"
              dialog-template="pr-dialog-submit.html"
              params='{"businessKey":showData.relId,"conditionType":"通过","type":"采购单"}'
              request-url="rest/authen/workflowTask/run.json"
              call-back="goTo('#/purchasePayOrder/get.html?t=审核通过&id={{showData.id}}')">付款
      </button>
    </div>
  </div>
</div>
