<div class="content-wrapper purchase-order">
  <table-list list-data="rest/authen/purchasePayOrder/query.json"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">
    <!-- 主内容头部 -->
    <div class="content-wrapper-heading h-l mgb-m mgt-m pdb-s line-b mgr-m relative">
      <!-- 新建按钮及状态按钮 -->
      <div class="full-width">
        <div class="order-status-btn pos-tr text-right"
             ajax-url="rest/authen/purchasePayOrder/countByOrderStatus.json"
             scope-data="countByOrderStatus"
             alert-error>
          <div class="btn btn-group" scope-data="statusList">
            <button order-status-choise type="button" class="btn pr-btn-transparentbg pr-btn-bg-gold" ng-click="listParams.orderStatus=''">全部</button>
            <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='待批款'">待批款
              <span class="pj-badge" ng-if='countByOrderStatus["待批款"]'>{{countByOrderStatus["待批款"]}}</span>
            </button>
            <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='待付款'">待付款
              <span class="pj-badge" ng-if='countByOrderStatus["待付款"]'>{{countByOrderStatus["待付款"]}}</span>
            </button>
            <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='已付款'">已付款
              <span class="pj-badge" ng-if='countByOrderStatus["已付款"]'>{{countByOrderStatus["已付款"]}}</span>
            </button>
          </div>
        </div>
      </div>
      <!-- 右侧搜索 -->
      <div class="text-right order-list-search pos-rb">
        <input type="text" class="ipt pdr-xxl" placeholder="客户名/付款申请单号" ng-model="listParams.q">
        <i class=""></i>
      </div>
    </div>
    <!-- 主内容区域 -->
    <div class="content-wrapper-main">
      <ul class="">
        <li class="pdr-m relative confirm-order-list" ng-repeat="tr in tbodyList">
          <div class="mgb-xl pr-bg-white pr-fuzzy-boundary relative" ng-class="{'pr-bg-grey2':(tr.orderStatus=='已作废')}">
            <div class="pd-m">
              <div class="flex-column" style="height:22px;line-height:22px;">
                <span class="flex-item-2 title-states text-bold">{{tr.orderStatus}}</span>

                <span class="flex-item-10 text-right">
                  <a href="#/purchasePayOrder/get.html?id={{tr.id}}" class="mgl">查看详情</a>
                  <button ng-if="tr.orderStatus=='待批款'"
                          class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgl"
                          handle-this-click
                          dialog-title="确认同意?"
                          dialog-content="同意后,出纳将进行付款,确认同意?"
                          dialog-template="pr-dialog-confirm.html"
                          emitted="reloadList"
                          params='{"businessKey":tr.id,"conditionType":"通过","type":"采购单"}'
                          request-url="rest/authen/workflowTask/run.json">同意付款
                  </button>
                  <button ng-if="tr.orderStatus=='待付款'"
                          class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgl"
                          handle-this-click
                          dialog-title="确认付款?"
                          dialog-content="确认没有问题, 可以付款?"
                          dialog-template="pr-dialog-confirm.html"
                          emitted="reloadList"
                          params='{"businessKey":tr.id,"conditionType":"通过","type":"采购单"}'
                          request-url="rest/authen/workflowTask/run.json">付款
                  </button>
                </span>
              </div>
              <div class="text-s mgb-m">{{tr.type}}</div>
              <div class="flex-column qurey text-s color-9">
                <div class="flex-item-6">
                  <p class="mgb-s">付款申请单号：<span class="color-6">{{tr.purchaseVoucherNo || 'PZ000000115'}}</span></p>
                  <p class="mgb-s">创建时间：<span class="color-6">{{tr.createAt | date: 'yyyy-MM-dd HH:ss'}}</span></p>
                  <p>入库时间：<span class="color-6">{{tr.expectDate || '2016-10-28 11:41' | date: 'yyyy-MM-dd HH:ss'}}</span></p>
                </div>
                <div class="flex-item-6">
                  <p class="mgb-s relative">采购员：
                    <span run-popovers class="color-custom-orange cur-pot" style="position:absolute;height:25px;">{{tr.saleUser.n || '测试'}}</span>
                    <span class="purchaseorder-buyer-info">
                      <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{tr.saleUser.p}}</em></i>
                      <i class="block pdb-s text-normal">
                        <em class="fa fa-comment-o mgl"></em>
                        <em class="inline-block pdl pdr pdt">
                          <a href="javascript:;"
                             modal-center="500"
                             modal-data='{"toUser":{{tr.saleUser}},"userIds":["{{tr.saleUserId}}"]}'
                             modal-url="views/notice/sendToUser.html">发送消息
                          </a>
                        </em>
                      </i>
                    </span>
                  </p>
                  <p class="mgb-s relative">采购审批：
                    <span run-popovers class="color-custom-orange cur-pot" style="position:absolute;height:25px;">{{tr.saleUser.n || '测试'}}</span>
                    <span class="purchaseorder-buyer-info">
                      <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{tr.saleUser.p}}</em></i>
                      <i class="block pdb-s text-normal">
                        <em class="fa fa-comment-o mgl"></em>
                        <em class="inline-block pdl pdr pdt">
                          <a href="javascript:;"
                             modal-center="500"
                             modal-data='{"toUser":{{tr.saleUser}},"userIds":["{{tr.saleUserId}}"]}'
                             modal-url="views/notice/sendToUser.html">发送消息
                          </a>
                        </em>
                      </i>
                    </span>
                  </p>
                  <p class="mgb-s relative">财务审批：
                    <span run-popovers class="color-custom-orange cur-pot" style="position:absolute;height:25px;">{{tr.saleUser.n || '测试'}}</span>
                    <span class="purchaseorder-buyer-info">
                      <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{tr.saleUser.p}}</em></i>
                      <i class="block pdb-s text-normal">
                        <em class="fa fa-comment-o mgl"></em>
                        <em class="inline-block pdl pdr pdt">
                          <a href="javascript:;"
                             modal-center="500"
                             modal-data='{"toUser":{{tr.saleUser}},"userIds":["{{tr.saleUserId}}"]}'
                             modal-url="views/notice/sendToUser.html">发送消息
                          </a>
                        </em>
                      </i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <div class="color-9 pr-ele-height-auto pd-c-m text-m" style="padding-top:10px!important;padding-bottom:10px!important;min-height:1px;">
              供货商：<span class="color-6">{{tr.supplier.name || '艾泽拉斯制药'}}</span>
            </div>
            <div class="flex-column text-s">
              <div class="flex-item-6 pd-m br-line" style="min-height:130px;">
                <p class="mgb-s">采购单号：<span class="color-custom-orange">CG00013456789</span></p>
                <p class="mgb-s">来货通知单号：<span class="color-custom-orange">L00013456789</span></p>
              </div>
              <div class="flex-item-6 pd-m">
                <p class="mgb-s">账期要求：<em>2个月</em></p>
                <p class="mgb-s">预付款：<em>50%</em></p>
                <p class="mgb-s">结算方式：<em>网银转账</em></p>
                <p class="mgb-s">付款方式：<em>货到付款</em></p>
              </div>
            </div>
            <div class="pdl-m pdr-m pd-v color-9">
              <p class="purchase-order-details-note">
                <span>备注：</span><span class="color-6">{{tr.note || '这是很长很长的测试公告'}}</span>
              </p>
            </div>
            <div class="pdl-m pdr-m pd-v color-9" style="height:72px;">
              <div class="text-right mgb-s text-n">
                <span>合计：<em class="color-6">￥7020.00 (含税：￥1020.00)</em></span>
              </div>
              <div ng-if="tr.orderStatus=='待批款' || tr.orderStatus=='待付款'" class="flex-column bt-line pdt-s">
                <span class="flex-item-6">预付：<em>￥600.00</em></span>
                <span class="flex-item-6 text-right text-n">待付：<em class="color-red">￥3020.00</em></span>
              </div>
              <div ng-if="tr.orderStatus=='已付款'" class="flex-column pdt-s"></div>
            </div>
          </div>
        </li>
      </ul>
    </div>
    <!-- 导航 -->
    <div class="clearfix pd-c-m" ng-if="tbodyList.length!='0'">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>
  </table-list>
</div>
