<div class="first-medical-application"
     ng-controller="businessScopeController"
     ajax-url="rest/authen/businessScope/getOfEdit.json?id={{mainStatus.pageParams.id}}"
     scope-data="formData"
     alert-error>
<div class="sale-return-order right-side pr-bg-black3" style="min-height: 950px">
  <div class="sale-bg">
    <!-- 头部信息 -->
      <form class="form-horizontal"
            id="businessScope_editForm1"
            name="businessScope_editForm1"
            form-validator
            parameter-body
            action="rest/authen/businessScope/save"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="watchFormChange('formData');">
    <div class="relative ">
      <div class="mgb-l pd-c-l pdt pdb pr-font-14 color-light-brown entry-detailed-btm">新增经营范围</div>
      <div class="pr-panel-height select-bg" style="padding:15px 0;">
        <div class="flex-column mgt relative ">
            <h1 class="quali-pd-l pr-fw-700">编号</h1>
            <input type="text"
                   style="width:334px;"
                   class="ipt-new ipt-new-s"
                   name="genericName"
                   ng-model="formData.code" />
        </div>
          <div class="flex-column mgt relative ">
              <h1 class="quali-pd-l pr-fw-700">名称</h1>
              <input type="text"
                     style="width:334px;"
                     class="ipt-new ipt-new-s"
                     name="genericName"
                     ng-model="formData.name" />
          </div>

      </div>
        <!-- 备注 -->
        <div class="mgb-l pr-font-12 color-light-brown flex-column">
            <h1 class="quali-pd-l pr-fw-700">备注</h1>
            <div class="panel pr-fuzzy-boundary pr-panel-height mgb-l ">
                <!--<input type="text" class="">-->
                <textarea class="pr-textarea" maxlength="240" style="height:92px;min-width: 320px" placeholder="" ng-model="formData.note" onkeydown="if(window.event.keyCode==13) return true;"></textarea>
            </div>
        </div>
      <!-- 功能按钮 -->
      <div class="sales-btn-area-2nd relative">
          <div class="btn-area full-width text-center">

          <button type="button"
                  ng-click="submitForm('businessScope_editForm1','save')"
                  class="pr-btn-save-glodbg mgr-l"
                  ng-disabled=""
                  style="width:160px;">确定
          </button>
          </div>
      </div>
        </form>
    </div>

  </div>
</div>
