<div class="modal-content pr-modal-content pr-modal-process"
  ajax-url="rest/authen/businessFlow/get.json?businessKey=123"
  scope-data="businessFlowData"
  callback="businessFlowDataInitFlag=true;"
  error-callback="businessFlowDataInitFlag=true;"
>
<canvas  ng-if="businessFlowDataInitFlag"  id="canvas" canvas-business-flow ng-model="businessFlowData"
  width="{{$root.utils.getMainBodyWidth()}}" height="300" base-image-url="../images/canvasBusinessFlow/" style="background:white" spacing-height="80" spacing-width="40"></canvas>
</div>
