<div id="page-side" >

          <ul class="nav nav-pills  ">
            <li>
              <a href="#/main.html" class="text-center pr-bg-side">
                <span class="block pr-color"></span>
                <span class="block pr-color">首页</span>
              </a>
            </li>
            <li>
              <a href="#/salesOrder/query.html" class="text-center pr-bg-side">
                <span class="block pr-color"></span>
                <span class="block pr-color">订单管理</span>
              </a>
            </li>
            <li>
              <a href="#/medical/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">药械基本数据管理（管理平台）</span>
              </a>
            </li>
            <li>
              <a href="#/department/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">部门管理</span>
              </a>
            </li>
            <li>
              <a href="#/customerAddress/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">客户地址管理</span>
              </a>
            </li>
            <li>
              <a href="#/purchaserAddress/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">采购方地址管理</span>
              </a>
            </li>
            <li>
              <a href="#/supplier/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">供货商管理</span>
              </a>
            </li>
            <li>
              <a href="#/departmentUser/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">部门用户管理</span>
              </a>
            </li>
            <li>
              <a href="#/user/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">员工管理</span>
              </a>
            </li>
            <li>
              <a href="#/medicalStock/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">药品管理</span>
              </a>
            </li>
            <li>
              <a href="#/role/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">角色管理</span>
              </a>
            </li>
            <li>
              <a href="#/distributor/queryUserApplyOrganization.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">员工申请</span>
              </a>
            </li>

            <li>
              <a href="#/user/editOfMine.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">用户编辑</span>
              </a>
            </li>

            <li>
              <a href="#/user/editPassword.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">用户密码修改</span>
              </a>
            </li>

            <li>
              <a href="#/firstEnterpriseApplication/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">首营企业申请表管理</span>
              </a>
            </li>

            <li>
              <a href="#/firstMedicalApplication/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">首营药品申请表管理</span>
              </a>
            </li>

            <li>
              <a href="#/purchasePayOrder/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">付款申请单</span>
              </a>
            </li>

            <li>
              <a href="#/hospitalApplication/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">医院申请表管理</span>
              </a>
            </li>

            <li>
              <a href="#/otherCustomerApplication/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">其他客户申请表管理</span>
              </a>
            </li>

            <li>
              <a href="#/firstMedicalApplication/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">首营品种</span>
              </a>
            </li>

            <li>
              <a href="#/warehouse/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">仓库管理</span>
              </a>
            </li>


            <li>
              <a href="#/lossOverOrder/query-reimburse.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">报损相关</span>
              </a>
            </li>

            <li>
              <a href="#/lossOverOrder/query-overflow.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">报溢相关</span>
              </a>
            </li>





          </ul>


<h1>管理平台相关</h1>
          <ul class="nav nav-pills  ">
            <li>
              <a href="#/medical/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">药械基本信息管理</span>
              </a>
            </li>

            <li>
              <a href="#/role/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">角色管理</span>
              </a>
            </li>
            <!-- <li>
              <a href="#/medical/query.html" class="text-center pr-bg-side">
                <span class="fa fa-home block pr-color"></span>
                <span class="block pr-color">经销商管理</span>
              </a>
            </li> -->
          </ul>

</div>
