<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="#" type="image/png">
    <title>盘谷医疗</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery-ui-1.10.3.css">
    <link rel="stylesheet" href="fonts/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/style-responsive.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="horizontal-menu-page">

<section>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <!-- 移动设备显示 -->
            <div class="navbar-header horizontal-log">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">
                    <img src="images/logo-pangu-350x78.png" alt="">
                </a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="index.html">主面板</a></li>
                    <li class="active"><a href="#">组件</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">UI Kits <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">常规</a></li>
                            <li><a href="#">按钮</a></li>
                            <li><a href="#">插件</a></li>
                            <li><a href="#">侧边栏</a></li>
                            <li><a href="#">更多</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Fontawesome</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">表单组件 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">表单元素</a></li>
                            <li><a href="#">高级组件</a></li>
                            <li><a href="#">表单向导</a></li>
                            <li><a href="#">表单验证</a></li>
                            <li><a href="#">Dropzone</a></li>
                        </ul>
                    </li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <form class="navbar-form navbar-left" role="search">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="搜索...">
                            </div>
                        </form>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"> <img alt="" src="images/user-avatar.jpg"> 陈经理 <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">概况</a></li>
                            <li><a href="#">设置</a></li>
                            <li><a href="#">登出</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

    <!--body wrapper start-->
    <div class="wrapper">
        页面内容
    </div>
    <!--body wrapper end-->

    <!--footer section start-->
    <footer class="sticky-footer">
        2016 &copy; 盘谷医疗
    </footer>
    <!--footer section end-->

</section>

<!-- Placed js at the end of the document so the pages load faster -->
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-ui-1.9.2.custom.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/jquery.nicescroll.js"></script>

<!--common scripts for all pages-->
<script src="js/scripts.js"></script>

</body>
</html>
