<div class="content-wrapper">
  <!-- 基本信息 -->
  <div class="index-base-info">
    <div class="mgb-m"><p>今天是：2016-09-30</p></div>
    <div class="flex-column">
      <!-- 订单录入统计 -->
      <div class="flex-item-5 pdr-l">
        <div class="panel pr-panel">
          <h1 class="pd-m text-m pr-color text-center bb-line">我的订单录入统计</h1>
          <div class="flex-column">
            <div class="flex-item-4 pd-m br-dotted-line">
              <p class="text-center mgb-l">
                <em class="block text-s mgb-m">今日新订单</em>
                <span class="block text-xxxl pr-color">11</span>
              </p>
              <p class="text-center">
                <em class="block text-s mgb-m">订单总数</em>
                <span class="block text-xxxl pr-color">686</span>
              </p>
            </div>
            <div class="flex-item-4 pd-m br-dotted-line">
              <div class="flex-column text-center mgb-m">
                <div class="flex-item-6">
                  <p class="text-s">昨日新订单</p>
                  <p class="pr-color">8</p>
                </div>
                <div class="flex-item-6">
                  <p class="text-s">今日新订单</p>
                  <p class="pr-color">8</p>
                </div>
              </div>

              <div easypeichart class="pr-easypiechart text-center">
                <div class="chart" data-percent="73" data-bar-color="#ff6d29" data-size="150">
                  <span>
                    <h1 class="text-center">73%</h1>
                    <p class="text-s">昨日订单处理率</p>
                  </span>
                </div>
              </div>
            </div>
            <div class="flex-item-4 pd-m">
              <div class="flex-column text-center mgb-m">
                <div class="flex-item-6">
                  <p class="text-s">本月新订单</p>
                  <p class="pr-color">8</p>
                </div>
                <div class="flex-item-6">
                  <p class="text-s">已处理订单</p>
                  <p class="pr-color">8</p>
                </div>
              </div>

              <div easypeichart class="pr-easypiechart text-center">
                <div class="chart" data-percent="85" data-bar-color="#ff6d29" data-size="150">
                  <span>
                    <h1 class="text-center">85%</h1>
                    <p class="text-s">本月订单处理率</p>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item-4 pdr-l">
        <div class="panel pr-panel">
          <h1 class="pd-m text-m pr-color text-center bb-line">我的昨日订单状态</h1>
          <div class="flex-column">
            <div class="flex-item-6 pd-m br-dotted-line">
              <div class="text-s text-center mgb-m">
                <span class="mgr-m"><i class="chart-tip-icon pr-icon-bg-red"></i>未处理</span>
                <span class="mgr-m"><i class="chart-tip-icon pr-icon-bg-orange"></i>未拆分</span>
                <span class="mgr-m"><i class="chart-tip-icon pr-icon-bg-gold"></i>未提交</span>
              </div>
              <div morris id="morris-order-status" class="revenue-graph"></div>
            </div>
            <div class="flex-item-6 pd-m">
              <div class="text-s text-center mgb-m">
                <span class="mgr-m"><i class="chart-tip-icon pr-icon-bg-red"></i>库存不足</span>
                <span class="mgr-m"><i class="chart-tip-icon pr-icon-bg-orange"></i>批次要求</span>
              </div>
              <div morris id="morris-order-status2" class="revenue-graph"></div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-item-3">
        <div class="panel pr-panel">
          <h1 class="pd-m text-m pr-color text-center bb-line">库存统计</h1>
          <div class="bb-line">
            <div class="flex-column pd-v-s">
              <div class="flex-item-4 text-center">
                <span class="block text-s mgb-s">药品类型</span>
                <span class="block text-xl pr-color">256</span>
              </div>
              <div class="flex-item-4 text-center">
                <span class="block text-s mgb-s">新增药品</span>
                <span class="block text-xl pr-color">8</span>
              </div>
              <div class="flex-item-4 text-center">
                <span class="block text-s mgb-s">库存过低</span>
                <span class="block text-xl pr-color">4</span>
              </div>
            </div>
          </div>
          <div class="pd-l">
            <div class="flex-column">
              <span class="flex-item-6">甲钴胺片</span>
              <div class="progress flex-item-6">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="10" aria-valuemin="0"
                     aria-valuemax="100" style="width: 10%;">
                </div>
              </div>
            </div>
            <div class="flex-column">
              <span class="flex-item-6">尤卓尔(丁酸氨化松乳膏)</span>
              <div class="progress flex-item-6">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100" style="width: 60%;">
                </div>
              </div>
            </div>
            <div class="flex-column">
              <span class="flex-item-6">胶体果胶秘胶囊</span>
              <div class="progress flex-item-6">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100" style="width: 60%;">
                </div>
              </div>
            </div>
            <div class="flex-column">
              <span class="flex-item-6">一次性使用注射笔</span>
              <div class="progress flex-item-6">
                <div class="progress-bar" role="progressbar"
                     aria-valuenow="60" aria-valuemin="0"
                     aria-valuemax="100" style="width: 60%;">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="felx-column">
      <div class="flex-item-7">
        比较图
      </div>
      <div class="flex-item-5">
        日历图
      </div>
    </div>
  </div>
  <!-- 订单录入辅助信息 -->
  <div class="index-order-create">
    <div class="index-order-create-title">
      <span></span>
      <span>订单录入辅助信息</span>
      <span></span>
    </div>
    <div class="flex-column">
      <div class="flex-item-6">
        订单预测
      </div>
      <div class="flex-item-6">
        异常订单
      </div>
    </div>
    <div class="flex-column">
      <div class="flex-item-12">
        新品推荐
      </div>
    </div>
  </div>
  <!-- 主管辅助分析数据 -->
  <div class="index-data-analysis">
    <div class="index-order-create-title">
      <span></span>
      <span>主管辅助数据分析</span>
      <span></span>
    </div>
    <div class="flex-column">
      <div class="flex-item-7">
        小组订单录入统计
      </div>
      <div class="flex-item-5">
        小组订单状态统计
      </div>
    </div>
    <div class="flex-column">
      <div class="flex-item-12">
        小组订单处理分析
      </div>
    </div>
  </div>
</div>
