<div class="content-wrapper">
  <!-- 基本信息 -->
  <div class="index-base-info">
    <div class="mgb-m"><p>今天是：2016-09-30</p></div>
    <div class="flex-column">
      <!-- 订单录入统计 -->
      <div class="flex-item-5 panel pr-panel">
        <h1 class="pd-m text-m pr-color text-center bb-line">我的订单录入统计</h1>
        <div class="flex-column">
          <div class="flex-item-4 pd-m br-dotted-line">
            <p class="text-center mgb-l">
              <em class="block text-s mgb-m">今日新订单</em>
              <span class="block text-xxxl pr-color">11</span>
            </p>
            <p class="text-center">
              <em class="block text-s mgb-m">订单总数</em>
              <span class="block text-xxxl pr-color">686</span>
            </p>
          </div>
          <div class="flex-item-4 pd-m br-dotted-line">
            <div class="flex-column text-center">
              <div class="flex-item-6">
                <p>昨日新订单</p>
                <p class="pr-color">8</p>
              </div>
              <div class="flex-item-6">
                <p>今日新订单</p>
                <p class="pr-color">8</p>
              </div>
            </div>
            <!-- 图表 -->
            <div class="">
              <div class="knob">
                  <span class="chart" data-percent="79">
                      <span class="percent">79% <span class="sm">New Visit</span></span>
                  </span>
              </div>
            </div>
          </div>
          <div class="flex-item-4 pd-m br-dotted-line">

          </div>
        </div>
      </div>
      <div class="flex-item-4">
        昨日订单统计
      </div>
      <div class="flex-item-3">
        库存统计
      </div>
    </div>
    <div class="felx-column">
      <div class="flex-item-7">
        比较图
      </div>
      <div class="flex-item-5">
        日历图
      </div>
    </div>
  </div>
  <!-- 订单录入辅助信息 -->
  <div class="index-order-create">
    <div class="index-order-create-title">
      <span></span>
      <span>订单录入辅助信息</span>
      <span></span>
    </div>
    <div class="flex-column">
      <div class="flex-item-6">
        订单预测
      </div>
      <div class="flex-item-6">
        异常订单
      </div>
    </div>
    <div class="flex-column">
      <div class="flex-item-12">
        新品推荐
      </div>
    </div>
  </div>
  <!-- 主管辅助分析数据 -->
  <div class="index-data-analysis">
    <div class="index-order-create-title">
      <span></span>
      <span>主管辅助数据分析</span>
      <span></span>
    </div>
    <div class="flex-column">
      <div class="flex-item-7">
        小组订单录入统计
      </div>
      <div class="flex-item-5">
        小组订单状态统计
      </div>
    </div>
    <div class="flex-column">
      <div class="flex-item-12">
        小组订单处理分析
      </div>
    </div>
  </div>
</div>
<script src="js/easypiechart/jquery.easypiechart.js"></script>
<script>
  $(function() {
      $('.chart').easyPieChart({
          //your configuration goes here
      });
  });
</script>
