<style>
    .ui-kit-box{
        height: auto;
        overflow: hidden;
        width: auto;
        border: #eee solid 1px;
        margin: 50px;
    }

    .ui-kit-box p{
        height: 80px;
        width: auto;
        overflow: hidden;
        border-bottom: #ccc dotted 1px;
    }

    .ui-kit-box button{
        margin: 20px;
    }

</style>


<div class="ui-kit-box">

    <p>
        <button class="ibtn-del-small"></button>
        <button class="ibtn-del-radius"></button>
    </p>

    <p>
        <button class="ibtn-green">审核通过</button>
        <button ng-disabled="true" class="ibtn-green">审核通过</button>

        <button class="ibtn-red">审核未通过</button>
        <button class="ibtn-orange">操作重复</button>
    </p>

    <p>
        <button class="ibtn-radius">ibtn-radius</button>
        <button ng-disabled="true" class="ibtn-radius">ibtn-radius</button>

    </p>

    <p>
        <button class="ibtn-radius-small-default">保存</button>
        <button class="ibtn-radius-small-red">废弃</button>
        <button ng-disabled="true" class="ibtn-radius-small-red">废弃</button>
    </p>


</div>