<div ng-controller="pageCtrl" class="pd-c-xxxl"><!-- pageCtrl-->

  <div class="page-header-info ">

    <p class="mgb bb-line ">
      库存报表 / <em class="color-custom-orange">出入库明细</em>
    </p>

  </div>
  <div class="bb-dashed-line pd-v-l">
      <select class="pr-select select-wd mgr-ls">
          <<option value="">昆明库</option>
      </select>
  </div>

<!--body wrapper start-->

<table-list list-data="rest/authen/inoutstockDetail/query.json" class="table table-hover table-striped table-mr table-content" list-params="listParams">
    <div class="mg-m col-lg-12 col-sm-12">
      <!-- <div class="col-lg-1">
        <button type="button" class="btn btn-primary" modal-right="700" modal-scope="this" modal-url="views/role/edit.html">
            <i class="fa fa-plus"></i>新建
        </button>
      </div> -->
      <div class="text-left order-list-search relative order-list-i mgl">
        <select class="pr-select select-wd mgr-l">
          <option>最近7天</option>
          <option>最近10天</option>
          <option>最近一个月</option>
        </select>
          <!-- <select class="pr-select select-wd mgr-l" chosen default-empty="所有单据"
          ng-model="listParams.type"
          select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_InoutstockDetailType">

          </select> -->

            <input type="text"
                   datepicker
                   class="ipt pr-short-ipt color-6 mgr mgl-l"
                   ng-readonly="true"
                   placeholder="日期"
                   ng-model="item.guaranteePeriod">
             <span class="mgr">至</span>
             <input type="text"
                   datepicker
                   class="ipt pr-short-ipt color-6 mgr-l"
                   ng-readonly="true"
                   placeholder="日期"
                   ng-model="item.guaranteePeriod">
                   <select class="pr-select select-wd mgr-l" chosen default-empty="所有单据"
                   ng-model="listParams.type"
                   select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_InoutstockDetailType">

                   </select>


        <input type="text" class="ipt pdr-xl ipt-r-i" placeholder="商品名称/单据编号" ng-model="listParams.q">
        <i></i>

      </div>

      <!-- <div class="form-group col-lg-2">
        <div class="col-lg-10 col-sm-10">
          <select class="ipt pr-short-ipt" data-placeholder="选择类型" chosen default-empty="无" ng-model="listParams.type" select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_InoutstockDetailType">

          </select>
        </div>
      </div> -->
      <!-- <div class="form-group col-lg-2">
        <input type="text" class="form-control" placeholder="输入查询..." ng-model="listParams.q">
      </div>
    </div> -->

    <div class="wrapper">
        <div class="loader" ng-if="status.isLoading">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div ng-if="!status.isLoading">
            <div class="empty-wrap" ng-if="tbodyList.length==0">
                <span>
                    <i class="fa fa-inbox">
                        <em>什么也没有</em>
                    </i>
                </span>
            </div>
            <div ng-if="tbodyList.length">

                <table class="table table-hover table-striped">
                    <thead class="pr-bg-side">
                        <tr>
                            <th>序号</th>
                            <th>单据日期</th>
                            <th>单据类型</th>
                            <th>单据编号</th>
                            <th>仓库</th>
                            <th>商品编码</th>
                            <th>商品名称</th>
                            <th>数量</th>
                            <th>批号</th>
                            <th>灭菌批号</th>
                            <th>有效期</th>
                            <th>生产日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tr in tbodyList" ng-click="selectThis()" class="td-bordered ">
                            <td>{{$index + 1}}</td>
                            <td>{{tr.orderDate | date : 'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{tr.type}}</td>
                            <td class="color-orange">{{tr.orderNo}}</td>
                            <td>{{tr.warehouseCenter}}</td>
                            <td>{{tr.medicalStockId}}</td>
                            <td>{{tr.medicalStockName}}</td>
                            <td>{{tr.quantity}}</td>
                            <td>{{tr.productionBatch}}</td>
                            <td>{{tr.sterilizationBatchNumber}}</td>
                            <td>{{tr.validTill | date : 'yyyy-MM-dd HH:mm'}}</td>
                            <td>{{tr.productionDate | date : 'yyyy-MM-dd HH:mm'}}</td>

                        </tr>
                    </tbody>
                </table>
                <div class="clearfix ">
                    <div class="fr">
                        <pagination status="status"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</table-list>
<!--body wrapper end-->
</div>
