<div ng-controller="pageCtrl" class="pd-c-xxxl"><!-- pageCtrl-->

  <div class="page-header-info ">
    <p class="mgb-l crumbs pr-indent-20">
      库存报表 / <em class="color-custom-orange">出入库明细</em>
    </p>
    <p class="mgb-l">
        <em class="color-black text-l ">出入库明细</em>
    </p>
  </div>

<!--body wrapper start-->
<table-list list-data="rest/authen/inoutstockDetail/query.json" class="table pr-table pr-new-table" list-params="listParams">
    <div>
        <select class="pr-select select-wd"
          chosen
           ng-model="listParams.warehouseCode"
           default-empty="选择仓库"
           select-source="rest/authen/warehouse/queryForSelectOption">
         </select>
    </div>

    <div class="mg col-lg-12 col-sm-12 panel">

      <div class="text-left order-list-search relative order-list-i mg-l mgl-l" ng-init="queryDatePeriod='最近7天'">
        <select class="pr-select select-wd mgr-l" ng-model="queryDatePeriod"
         date-period-select start-time="listParams.createAtBeg" end-time="listParams.createAtEnd">
          <option value="最近7天" >最近7天</option>
          <option  value="最近10天">最近10天</option>
          <option  value="最近一个月">最近一个月</option>
        </select>

          <input type="text"
                 datepicker
                 class="ipt pr-short-ipt color-6 mgr"
                 ng-readonly="true"
                 placeholder="日期"
                 ng-model="listParams.createAtBeg">
           <span class="mgr">至</span>
           <input type="text"
                 datepicker

                 class="ipt pr-short-ipt color-6 mgr-l"
                 ng-readonly="true"
                 placeholder="日期"
                 ng-model="listParams.createAtEnd"/>
                   <select class="pr-select select-wd mgr-l" chosen default-empty="所有单据"
                   ng-model="listParams.type"
                   select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_InoutstockDetailType">

                   </select>

        <div class="out-ipt-div">
          <input type="text" class="ipt pdr-xl ipt-r-i" placeholder="商品名称/单据编号" ng-model="listParams.q">
          <i></i>
        </div>

      </div>

    <div>
        <div class="loader" ng-if="status.isLoading">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div ng-if="!status.isLoading">
            <div ng-if="tbodyList.length" class="outside-table-d">
                <table class="table pr-table pr-new-table pr-table-content table-s-wid">
                    <thead class="pr-bg-side">
                        <tr>
                            <!-- <th>序号</th> -->
                            <th>单据日期</th>
                            <th>单据类型</th>
                            <th>单据编号</th>
                            <th class="w-220">仓库</th>
                            <th>商品编号</th>
                            <th class="w-220">商品名称</th>
                            <th>规格/型号</th>
                            <th>注册证号</th>
                            <th>单位</th>
                            <th>实收数量</th>
                            <th>拒收数量</th>
                            <th>出库数量</th>
                            <th>差异数量</th>
                            <th>批号</th>
                            <th>灭菌批号</th>
                            <th>有效期至</th>
                            <th>生产日期</th>
                            <th class="w-260">备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="tr in tbodyList" ng-click="selectThis()" ng-class="{'pr-icon-bg-red':tr.refuseQuantity}">
                            <!-- <td>{{$index + 1}}</td> -->
                            <td>{{tr.orderDate | date : 'yyyy-MM-dd'}}</td>
                            <td>{{tr.type}}</td>
                            <td class="color-orange">
                                <a ng-if="tr.type=='采购入库单'" href="#/arrivalNoticeOrder/get.html?orderNo={{tr.sourceOrderNo}}">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='销售出库单'" href="#/invoicesOrder/get.html?orderNo={{tr.sourceOrderNo}}">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='销售入库单'" href="#">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='采购来货通知单'" href="#">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='采购退货出库单'" href="#">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='销售退货入库单'" href="#">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='报损出库单'" href="#">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='报溢入库单'" href="#">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='批次冻结出库单'" href="#">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='批次解冻入库单'" href="#">
                                {{tr.sourceOrderNo}}
                                </a>
                            </td>
                            <td class="text-left">
                                <div class="autocut" title="{{tr.warehouseName}}">
                                    {{tr.warehouseName}}
                                </div>
                            </td>
                            <td>{{tr.code}}</td>
                            <td class="text-left">
                              <div class="autocut" title="{{tr.medicalStockName}}">
                                  {{tr.medicalStockName}}
                              </div>
                            </td>
                            <td>{{tr.specificationAndModelType}}</td>
                            <td>{{tr.drugAdministrationCode}}</td>
                            <td>{{tr.unit}}</td>
                            <td class="text-right">
                            {{tr.storageQuantity?tr.storageQuantity:"—"}}
                            </td>
                            <td class="text-right">
                            {{tr.refuseQuantity?tr.refuseQuantity:"—"}}
                            </td>
                            <td class="text-right">
                            {{tr.outgoingQuantity?tr.outgoingQuantity:"—"}}
                            </td>
                            <td>{{tr.differenceQuantity}}</td>
                            <td>{{tr.productionBatch}}</td>
                            <td>{{tr.sterilizationBatchNumber}}</td>
                            <td>{{tr.validTill | date : 'yyyy-MM-dd'}}</td>
                            <td>{{tr.productionDate | date : 'yyyy-MM-dd'}}</td>
                            <td>{{tr.note}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="clearfix ">
                <div class="fr">
                    <pagination status="status"></pagination>
                </div>
            </div>
        </div>
    </div>
</table-list>
<!--body wrapper end-->
</div>
