<div ng-controller="pageCtrl" class="inoutstockDetail clearfix"><!-- pageCtrl-->

  <!-- 主内容头部 -->
  <div class="content-wrapper-heading pdb-m mgb-l relative clearfix">
    <p class="pdb-s pdt-s mgb-l crumbs pd-c-xxxl">库存报表 / <em class="color-custom-orange">出入库明细</em></p>
    <div class="pd-c-xxxl">
      <div class="pos-rel-tl inline-block fl-l">
        <h1 class="pr-font-20 color-black">出入库明细</h1>
      </div>
    </div>
  </div>

<!--body wrapper start-->
<table-list list-data="rest/authen/inoutstockDetail/query.json" class="table pr-table pr-new-table" list-params="listParams">
    <div class="pd-c-xxxl mgb-l">
        <select class="pr-select select-wd"
          chosen
           ng-model="listParams.warehouseCode"
           default-empty="选择仓库"
           select-source="rest/authen/warehouse/queryForSelectOption">
         </select>
    </div>

    <div class="panel pr-fuzzy-boundary clearfix">

      <div class="text-left relative order-list-i pdt-m pdb-m pd-c-xxxl" ng-init="queryDatePeriod='最近7天'">
        <select class="pr-select select-wd mgr-l" ng-model="queryDatePeriod"
         date-period-select start-time="listParams.createAtBeg" end-time="listParams.createAtEnd">
          <option value="最近7天" >最近7天</option>
          <option  value="最近10天">最近10天</option>
          <option  value="最近一个月">最近一个月</option>
        </select>

        <div class="date-icon-outside">
          <input type="text"
                 datepicker
                 class="ipt-date pr-short-ipt color-6 mgr pr-indent-10"
                 ng-readonly="true"
                 placeholder="日期"
                 ng-model="listParams.createAtBeg">
                 <span class="date-icon"></span>
        </div>
           <span class="mgr">至</span>
        <div class="date-icon-outside">
           <input type="text"
                 datepicker
                 class="ipt-date pr-short-ipt color-6 mgr pr-indent-10"
                 ng-readonly="true"
                 placeholder="日期"
                 ng-model="listParams.createAtEnd"/>
                <span class="date-icon"></span>
        </div>


           <select class="pr-select select-wd mgr-l" chosen default-empty="所有单据"
           ng-model="listParams.type"
           select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_InoutstockDetailType">

           </select>

          <div class="order-list-search text-left  pos-rel-tr inline-block pdl-l">
          <input type="text" class="ipt pdr-xxl" placeholder="商品名称/单据编号" ng-model="listParams.q">
          <i class=""></i>
        </div>

      </div>

    <div>
        <div class="loader" ng-if="status.isLoading">
            <div class="loader-inner pacman">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
        <div ng-if="!status.isLoading">
            <div class="outside-table-d">
                <table class="table pr-table pr-new-table pr-table-content table-s-wid">
                    <thead class="pr-bg-side">
                        <tr>
                            <!-- <th>序号</th> -->
                            <th>单据日期</th>
                            <th>单据类型</th>
                            <th>单据编号</th>
                            <th class="w-140">仓库</th>
                            <th class="w-220">库类型</th>
                            <th>商品编号</th>
                            <th class="w-220">商品名称</th>
                            <th>规格/型号</th>
                            <th>注册证号</th>
                            <th>单位</th>
                            <th>实收数量</th>
                            <th>拒收数量</th>
                            <th>出库数量</th>
                            <th>差异数量</th>
                            <th>其他数量</th>
                            <th>批号</th>
                            <th>灭菌批号</th>
                            <th>有效期至</th>
                            <th>生产日期</th>
                            <th class="w-260">备注</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-if="tbodyList.length"
                        ng-repeat="tr in tbodyList" ng-click="selectThis()" ng-class="{'pr-icon-bg-red':tr.refuseQuantity}">
                            <!-- <td>{{$index + 1}}</td> -->
                            <td>{{tr.orderDate | date : 'yyyy-MM-dd'}}</td>
                            <td>{{tr.type}}</td>
                            <td class="color-orange">
                              <a ng-if="tr.type=='采购入库单'" href="#/purchaseInstockOrder/get.html?orderNo={{tr.orderNo}}">{{tr.orderNo}}</a>
                              <a ng-if="tr.type=='销售出库单'" href="#/saleOutstockOrder/get.html?orderNo={{tr.orderNo}}">{{tr.orderNo}}</a>
                              <a ng-if="tr.type!='销售出库单' && tr.type!='采购入库单' && tr.type.indexOf('入')!=-1" href="#/otherInstockOrder/get.html?orderNo={{tr.orderNo}}">{{tr.orderNo}}</a>
                              <a ng-if="tr.type!='销售出库单' && tr.type!='采购入库单' && tr.type.indexOf('出')!=-1" href="#/otherOutstockOrder/get.html?orderNo={{tr.orderNo}}">{{tr.orderNo}}</a>
                              <!-- <span ng-if="tr.type=='移库入库单'">{{tr.sourceOrderNo}}</span>
                              <span ng-if="tr.type=='移库出库单'">{{tr.sourceOrderNo}}</span>
                                <a ng-if="tr.type=='采购入库单'" href="#/arrivalNoticeOrder/get.html?orderNo={{tr.sourceOrderNo}}">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='销售出库单'" href="#/invoicesOrder/get.html?orderNo={{tr.sourceOrderNo}}">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='采购退货入库单'" href="#purchaseReturnOrder/get.html?orderNo={{tr.orderNo}}">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='销售退货出库单'" href="#saleReturnOrder/get.html?orderNo={{tr.orderNo}}">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='报损出库单'||tr.type=='批次冻结出库单'" href="#/otherOutstockOrder/get.html?orderNo={{tr.orderNo}}">
                                {{tr.sourceOrderNo}}
                                </a>
                                <a ng-if="tr.type=='报溢入库单'||tr.type=='批次解冻入库单'" href="#/otherInstockOrder/get.html?orderNo={{tr.orderNo}}">
                                {{tr.sourceOrderNo}}
                                </a> -->
                            </td>
                            <td class="text-left">
                                <div class="autocut" title="{{tr.warehouseName}}">
                                    {{tr.warehouseName}}
                                </div>
                            </td>
                            <td class="text-left">
                                <div class="autocut" title="{{tr.warehouseName}}">
                                    {{tr.repositoryTypeName}}
                                </div>
                            </td>
                            <td>{{tr.code}}</td>
                            <td class="text-left">
                              <div class="autocut" title="{{tr.medicalStockName}}">
                                  {{tr.medicalStockName}}
                              </div>
                            </td>
                            <td>{{tr.specificationAndModelType}}</td>
                            <td>{{tr.drugAdministrationCode}}</td>
                            <td>{{tr.unit}}</td>
                            <td class="text-right">
                            {{tr.storageQuantity?tr.storageQuantity:"—"}}
                            </td>
                            <td class="text-right">
                            {{tr.refuseQuantity?tr.refuseQuantity:"—"}}
                            </td>
                            <td class="text-right">
                            {{tr.outgoingQuantity?tr.outgoingQuantity:"—"}}
                            </td>
                            <td class="text-right">{{tr.differenceQuantity?tr.differenceQuantity:"—"}}</td>
                            <td class="text-right">{{tr.otherQuantity?tr.otherQuantity:"—"}}</td>
                            <td>{{tr.productionBatch}}</td>
                            <td>{{tr.sterilizationBatchNumber}}</td>
                            <td>{{tr.validTill | date : 'yyyy-MM-dd'}}</td>
                            <td>{{tr.productionDate | date : 'yyyy-MM-dd'}}</td>
                            <td>{{tr.note}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="pr-bg-white" ng-if="!tbodyList.length">
              <div class="empty-table clearfix">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
              </div>
            </div>
            <div class="clearfix ">
                <div class="fr">
                    <pagination status="status"></pagination>
                </div>
            </div>
        </div>
    </div>
</table-list>
<!--body wrapper end-->
</div>
</div>
