<div ng-controller="pageCtrl"
 ng-init="$root.OPrinter.init();$root.OPrinter.setPrintDivId('Print_Div_id')"
 ajax-url="rest/authen/confirmOrder/getPrint.json?id={{mainStatus.pageParams.id}}" style="min-height:600px;"
 scope-data="showData"
><!-- pageCtrl-->
<!-- {{showData}} -->

  <button  ng-click="$root.OPrinter.preview(null,'templateName1')">打印预览</button>
    <button  ng-click="$root.OPrinter.print(null)">打印</button>
     <button  ng-click="$root.OPrinter.printSetup(null,'templateName1')">打印设置</button>
      <button  ng-click="$root.OPrinter.printDesign(null,'templateName1')">打印设计</button>


<!--body wrapper start-->

    <div style="position:absolute;width:800px;height:400px;color:black;font-size:14px;font-family:'Microsoft YaHei';border:1px solid #000000;"
    ajax-url="rest/authen/distributor/getCurrentOrganization"
    scope-data="organizationName">
         <div id="Print_Div_id" >
         <div style="width:100%;height:100%;font-family:'Microsoft YaHei'">
           <div>
                <span style="float:right;position:relative;right:10px;top:0px;font-size:9px;"> 第<font tdata="PageNO" format="0">##</font>页</span>
             <p style="text-align:center;font-size:16px;padding:10px;font-weight:bold;">{{organizationName.name}}销售单  </p>


           </div>


           <table width="100%" style="text-align:left;font-size:14px;border-collapse:collapse;">
               <tbody>
               <tr>
                   <td>发货仓库：</td>
                   <td >

                   </td>
                   <td></td>
                   <td >

                   </td>
                   <td>单据编号：</td>
                   <td >
                      {{showData.orderNo}}
                   </td>
               </tr>
               <tr >
                   <td>客户名称：</td>
                   <td >
                      {{showData.customerName}}
                   </td>
                   <td>联系人：</td>
                   <td >
                     {{showData.address.name}}
                   </td>
                   <td>录单日期：</td>
                   <td >
                      {{showData.createAt | date:'yyyy-MM-dd'}}
                   </td>
               </tr>
               </tbody>
           </table>
           <table border=1 style="text-align:center;font-size:14px;width:100%;border:1px solid #000000;border-collapse:collapse;">
             <thead>
               <tr>
                      <td style="text-align:center;max-width:7%; white-space: nowrap;">
                         商品编号
                     </td>
                     <td style="text-align:center;max-width:7%;white-space: nowrap;">
                         商品全名
                     </td>
                     <td style="text-align:center;max-width:10%; white-space: nowrap;">
                         规格/型号
                     </td>
                     <td style="text-align:center;max-width:5%; white-space: nowrap;">
                         单位
                     </td>
                     <td style="text-align:center;max-width:5%; white-space: nowrap;">
                         数量
                     </td>
                     <td style="text-align:center;max-width:5%; white-space: nowrap;">
                         单价
                     </td>
                     <td style="text-align:center;max-width:5%; white-space: nowrap;">
                         金额
                     </td>
                     <td style="text-align:center;max-width:8%; white-space: nowrap;">
                         生产批号
                     </td>
                     <td style="text-align:center;max-width:8%; white-space: nowrap;">
                         有效期至
                     </td>
                   <td style="text-align:center;max-width:6%; white-space: nowrap;">
                         生厂商
                     </td>
                     <td style="text-align:center;max-width:9%; white-space: nowrap;">
                         产品注册证
                     </td>
                   <td style="text-align:center;max-width:8%; white-space: nowrap;">
                         产地品牌
                   </td>
               </tr>
             </thead>
             <tbody>
               <tr  ng-repeat="tr in showData.orderMedicalNos ">
                 <td style="text-align:center;max-width:7%;word-wrap:break-word;">
                     {{tr.code}}
                 </td>
                 <td style="text-align:center;white-space: nowrap;">{{tr.name}}</td>
                 <td style="text-align:center;max-width:8%;word-wrap:break-word;">{{tr.specificationAndModelType}}</td>
                 <td style="text-align:center;max-width:10%;word-wrap:break-word;">{{tr.unit}}</td>
                 <td style="text-align:center;max-width:5%;word-wrap:break-word;">{{tr.quantity}}</td>
                 <td style="text-align:center;max-width:5%;word-wrap:break-word;">{{tr.strike_price}}</td>
                 <td style="text-align:center;max-width:5%;word-wrap:break-word;">{{(tr.quantity*tr.strike_price).toFixed(2)}}</td>
                 <td style="text-align:center;max-width:8%;word-wrap:break-word;">{{tr.productionBatch}}</td>
                 <td style="text-align:center;max-width:8%;word-wrap:break-word;"
                 ajax-url="rest/authen/medicalStock/getStockBatch?relMedicalStockId={{tr.relId}}&p_and_s={{tr.productionBatch}}"
                 scope-data="guaranteePeriodData"
                 >
                   {{guaranteePeriodData.validTill | date:'yyyy-MM-dd'}}
                 </td>
                 <td style="text-align:center;max-width:6%;word-wrap:break-word;">{{tr.manufacturer}}</td>
                 <td style="text-align:center;max-width:9%;word-wrap:break-word;">{{tr.drugAdministrationCode}}</td>
                 <td style="text-align:center;max-width:8%;word-wrap:break-word;">{{tr.brand}}</td>
               </tr>
               <tr>
                 <td>总计大写</td>
                 <td colspan="7" style="word-wrap:break-word;">{{showData.totalPriceCN}}</td>
                 <td colspan="2">本页小计</td>
                 <td colspan="2" style="word-wrap:break-word;">{{showData.totalPrice}}
                 </td>
               </tr>
               <tr>
                 <td>发货单位</td>
                 <td colspan="2" style="word-wrap:break-word;">{{organizationName.name}}</td>
                 <td colspan="2">联系人</td>
                 <td colspan="2" style="word-wrap:break-word;">{{showData.invoicesContacts.name}}</td>
                 <td >电话</td>
                 <td colspan="2" style="word-wrap:break-word;">{{showData.invoicesContacts.tel}}</td>
                 <td>传真</td>
                 <td style="word-wrap:break-word;">{{showData.invoicesContacts.fax}}</td>
               </tr>
             </tbody>
           </table>
           <table style="text-align:center;font-size:14px;width:612px;border-collapse:collapse;">
             <tbody>
               <tr>
                 <td>地址：</td>
                 <td colspan="7" style="text-align:left">{{showData.address.prov}}{{showData.address.city}}{{showData.address.area}}{{showData.address.address}}</td>
                 <td>邮编：</td>
                 <td>{{showData.address.zipCode}}</td>
               </tr>
               <tr>
                 <td>制单人：</td>
                 <td>{{showData.inputUser.n}}</td>
                 <td>库房：</td>
                 <td></td>
                 <td>复核:</td>
                 <td >{{showData.approverUser.n}}</td>
                 <td>送货人:</td>
                 <td></td>
                 <td>收货人(签字):</td>
                 <td></td>
               </tr>
             </tbody>
           </table>

   </div>
     </div><!--Print_Div_id-->
    </div>
<!--body wrapper end-->
</div>
