<div ng-controller="pageCtrl"
 ng-init="$root.OPrinter.init();$root.OPrinter.setPrintDivId('Print_Div_id')"
 ajax-url="rest/authen/confirmOrder/getPrint.json?id={{mainStatus.pageParams.id}}" style="min-height:600px;"
 scope-data="showData"
><!-- pageCtrl 废弃不用-->
<!-- {{showData}} -->

   <button  ng-click="$root.OPrinter.preview(null)">打印预览</button>
    <button  ng-click="$root.OPrinter.print(null)">立即打印</button>
     <button  ng-click="$root.OPrinter.printSetup(null)">打印设置</button>
     <button id="htmlStringButtionId"  type="button"  class="btn" >编辑</button>


      <select
      ajax-url="rest/authen/uiCustomHtml/queryForSelectOptionByKey.json?key=confirmOrderPrint"
      scope-data="queryForSelectOptionByKey"
      callback="defaultObj=$root.utils.getObjectByKeyOfArr('note','true'); uiCustomHtmlId=defaultObj.value||queryForSelectOptionByKey[0].value"

        ng-options="item.value as item.text  for item in queryForSelectOptionByKey"  ng-model="uiCustomHtmlId">

      </select>


      <div
      ajax-url="rest/authen/uiCustomHtml/get.json?id={{uiCustomHtmlId}}"
      scope-data="uiCustomHtml"
      callback="$root.OPrinter.setPrint_paramByUICustomHtml(uiCustomHtml);htmlString=''"
  ></div>
<!--body wrapper start-->

    <div
    ajax-url="rest/authen/distributor/getCurrentOrganization"
    scope-data="organizationName">

    <div ng-if="!uiCustomHtmlId">请选择模版,无模版选择，请先配置模版</div>


  <!--在线编辑后的数据展示-->
        <div ng-if="htmlString&&uiCustomHtmlId" id="Print_Div_id" >
          <div id="htmlString_divId" ng-bind-html="htmlString|to_trusted"></div>
         </div><!--Print_Div_id-->
  <!--在线编辑前的数据展示-->
       <div  ng-if="!htmlString&&uiCustomHtmlId" id="Print_Div_id" >

         <ng-include id="htmlString_divId" src="mainConfig.serverPath+'rest/authen/uiCustomHtml/getHtml.html?id='+uiCustomHtmlId"></ng-include>

       </div><!--Print_Div_id-->


<!--在线编辑-->
       <html-edit open-button-id="htmlStringButtionId" ng-model="htmlString"  div-id="htmlString_divId"></html-edit>



    </div>
<!--body wrapper end-->
</div>
