<div ng-controller="historicalPriceController"
     class="modal-content right-side-new"
     ajax-url="rest/authen/historicalPrice/getAllPriceByRelId?id={{dialogData.id}}&type={{dialogData.type}}&customerId={{dialogData.customerId}}&supplierId={{dialogData.supplierId}}"
     scope-data="scopeData"
     callback="getPrecision();"
     alert-error>

  <div class="bb-line-gold pr-bg-black2 min-h-l">
    <h1 class="pr-indent-20 pdb-m text-n text-bold" style="line-height:50px;max-height:35px;">参考价格 - {{dialogData.medicalName}}</h1>
  </div>

  <div class="right-side-container color-white text-n">
    <ul>
      <li class="pr-indent-20 up-li" ng-repeat="item in scopeData track by $index">
        <span>
          <label class="up-radio radio radio-new ng-scope" style="font-weight: normal;">
            <input type="radio"
                   class="default-radio"
                   name="customer"
                   ng-checked=""
                   ng-click="choiseThisItem(item,dialogData.id);modal.closeAll();confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType);"
                   ng-disabled="!item.value"><i></i>
                   <span ng-if="item.value!='null'" class="mgl-s" style="width:120px;display:inline-block;">￥{{item.value | number:precision}}</span>
                   <span ng-if="item.value=='null'" class="mgl-s" style="width:120px;display:inline-block;">—</span>
                   <span class="mgl-s">{{item.text}}</span>
          </label>
        </span>
      </li>
    </ul>
  </div>

  <!-- 功能按钮 -->
  <!-- <div class="footer-button-area">
    <button type="button" class="pr-btn-create-glodbg new-left-side-button" ng-click="modal.closeAll()">确定</button>
  </div> -->

</div>
