<div class="content-wrapper personal-center">
  <!-- 主内容头部 -->
  <div class="content-wrapper-heading mgt-m mgb-m">
    <h1 class="pr-title-color pr-font-24">个人中心</h1>
  </div>
  <!-- 主内容区域 -->
  <div class="content-wrapper-main flex-column">
    <!-- 左侧菜单 -->
    <div class="flex-item-2 left-menu-list">
      <ul class="text-center text-n">
        <li class="block-important pd-v"><a style-toggle="active" href="#/personalCenter/personal-info.html" class="active">个人资料</a></li>
        <li class="block-important pd-v"><a style-toggle="active" href="#/personalCenter/modify-pwd.html">修改密码</a></li>
        <li class="block-important pd-v"><a style-toggle="active" href="javascript:;">提醒设置</a></li>
      </ul>
    </div>
    <!-- 右侧住内容区域 -->
    <form class="personalModifyInfoForm">
      <div class="content-area ">

        <div class="panel pr-panel text-center">
          <h1 class="bb-line pdb-l text-l">修改密码</h1>
          <div class="">
            <div class="form-group">
              <input type="password" class="ipt mgt-l" placeholder="旧密码">
            </div>
            <div class="form-group">
              <input type="password" class="ipt" placeholder="新密码">
            </div>
            <div class="form-group">
              <input type="password" class="ipt" placeholder="确认新密码">
            </div>
          </div>
        </div>

        <!-- 功能按钮 -->
        <div class="text-center">
          <a href="javascript:;" class="btn btn-primary pr-btn-bg-gold pr-btn-save-glodbg" style="line-height:1.7;">保存</a>
          <a href="#/" class="mgl">返回工作中心</a>
        </div>
      </div>
    </form>
  </div>
</div>
