
        <div class="modal-content pr-modal-content color-yellow1 right-side-new pr-bg-black4" ng-controller="editCtrl"
         ajax-url="rest/authen/supplier/getOfEdit.json?id={{tr.id}}"  scope-data="formData"  alert-error
         callback="initFlag=true"
         >

          <form class="add-medical-form form-horizontal"
                action="rest/authen/supplier/save"
               alert-error parameter-body
                form-validator>
            <div class="modal-header">
                <!-- <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button> -->
                <h4 class="modal-title">{{formData&&formData.id?"编辑":"添加"}}供应商</h4>
            </div>
            <div class="modal-body modal-body-new">

                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">供应商编码</label>
                  <div class="col-lg-10 col-sm-10">
                      <input type="text" class="form-control" placeholder="" ng-model="formData.code" />

                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">供应商名称</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.name" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">联系人</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.contactUser.name" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">联系电话</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.contactUser.tel" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">传真</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.fax" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">邮编</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.email" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">地址</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder="" ng-model="formData.address" />
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">备注</label>
                  <div class="col-lg-10 col-sm-10">
                    <input type="text" class="form-control" placeholder=""  ng-model="formData.note" />
                  </div>
                </div>
            </div>
            <div class="btn-confirm-area">
                  <button type="submit" class="btn pr-btn-create-glodbg"
                  style="width:160px;height:32px;	margin-top: 8px;margin-left:285px;"
                  value="提交">提交</button>
            </div>
            </form>
        </div>
