<div class="hospital-application">
  <!-- 主内容头部 -->
  <page-main-header-component list-params="listParams"
                              crumbs-nav='[{"name":"管理中心","link":"","style":""},{"name":"供应商管理","link":"","style":"color-custom-orange"}]'
                              component-title="供应商管理">
  </page-main-header-component>
  <table-list list-data="rest/authen/supplier/query.json"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">
    <!-- <div class="relative" style="left:30px;top:-12px;">
      <button type="button" class="pr-btn-save-glodbg" modal-right="500" modal-scope="this" modal-url="views/supplier/edit.html">
          <i class="fa fa-plus"></i>新建
      </button>
    </div> -->
    <div class=" order-create-btn relative" style="left:30px;top:-12px;">
      <a href="javascript();" modal-right="500" modal-scope="this" modal-url="views/supplier/edit.html"  title="新建供应商">
        <i style="top:3px;"></i><span class="text-s">新建供应商</span></a>
    </div>
  <div class="content-wrapper">
      <!-- 主内容区域 -->
    <div class="content-wrapper-main pr-bg-white  pr-fuzzy-boundary">
        <div class="text-right pd-m">
            <div class="order-list-search inline-block text-left code pos-rel-tr pdl-l relative">
              <input type="text" class="ipt pdr-xxl" placeholder="供应商编码/供应商名称/联系人" ng-model="listParams.q">
              <i class=""></i>
            </div>
            <div class="inline-block mgl-m">
              <i class="fa fa-refresh mgr-s color-light-brown"></i>
              <a href="" class="color-light-brown" ng-click="listParams.q=''">重置搜索条件</a>
            </div>
        </div>
          <div custom-table="com.pangu.mss.spd.domain.mongo.supplier.Supplier" custom-tr-menus="spd_supplier_query" style="width:100%;"></div>
  </div>
</table-list>
</div>
