<div ng-controller="historicalPriceController" class="modal-content right-side-new"
     ajax-url="rest/authen/historicalPrice/getAllPriceByRelId?id={{dialogData.id}}&type={{dialogData.type}}"
     scope-data="scopeData"
     callback=""
     alert-error>

  <div class="bb-line-gold pr-bg-black2 min-h-l">
    <h1 class="pr-indent-20 pdb-m text-n" style="line-height:50px;max-height:35px;">参考价格 - {{dialogData.medicalName}}</h1>
  </div>

  <div class="right-side-container color-white text-n">
    <ul>
      <li class="pr-indent-20" ng-repeat="item in scopeData track by $index">
        <span>
          <label class="radio radio-new ng-scope">
            <input type="radio"
                   class="default-radio"
                   name="customer"
                   ng-checked="chkDefaultChoise(tr.id)"
                   ng-click="choiseOtherItem(tr,requestDataId)"
                   ng-disabled="item.value=='无'"><i></i>
          </label>
        </span>
        <span class="mgl-xl">￥ {{item.value}}</span>
        <span class="mgl-xl">{{item.text}}</span>
      </li>
    </ul>
  </div>

  <!-- 功能按钮 -->
  <div class="footer-button-area">
    <button type="submit" name="button" class="pr-btn-create-glodbg new-left-side-button">确定</button>
  </div>

</div>
