<div class="modal-content pr-modal-content color-yellow1 right-side-new pr-bg-black4"
     ajax-url="rest/authen/goodsLocation/getOfEdit.json?id={{dialogData.id}}"
     scope-data="formData"
     alert-error
     callback="initFlag=true">
  <form class="add-medical-form form-horizontal"
        name="editForm"
        action="rest/authen/goodsLocation/save.json"
        alert-error
        parameter-body
        form-validator>
    <div class="modal-header">
      <h4 class=" color-yellow1">{{formData&&formData.id?"编辑":"添加"}}货位</h4>
    </div>
    <div class="modal-body modal-body-new" style="margin-top:0px;">
      <div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">库房名称：</div>
          <div class="flex-item-8 text-left">
            <select ng-if="initFlag"
                    class="inline pr-ipt-160 hei-28"
                    ajax-url="rest/authen/storeRoom/queryForSelectOption"
                    ng-model="formData.storeRoomId"
                    scope-data="storeRoomData"
                    ng-options="item.value as item.text for item in storeRoomData">
            </select>
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">区域名称：</div>
          <div class="flex-item-8 text-left">
            <select ng-if="initFlag && !formData.id"
                    class="inline pr-ipt-160 hei-28"
                    ajax-if-eval="formData.storeRoomId"
                    ajax-url="rest/authen/region/queryForSelectOption?storeRoomId={{formData.storeRoomId}}"
                    ng-model="formData.regionId"
                    scope-data="regionData"
                    ng-options="item.value as item.text for item in regionData">
            </select>
            <span ng-if="formData.id" style="position:relative;top:3px;">{{formData.regionName}}</span>
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">货位编号：</div>
          <div class="flex-item-8 text-left relative">
            <div ng-if="!formData.id">
              <input type="text" class="pr-ipt-160 hei-28" placeholder="" ng-model="formData.code" />
              <i class="receive-item-icon" style="top:5px;left:140px;"></i>
            </div>
            <div ng-if="formData.id" style="position:relative;top:3px;">
              {{formData.code}}
            </div>
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">货位名称：</div>
          <div class="flex-item-8 text-left relative">
            <input type="text" class="pr-ipt-160 hei-28" placeholder="" ng-model="formData.name" />
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">条码：</div>
          <div class="flex-item-8 text-left relative">
            <input type="text" class="pr-ipt-160 hei-28" placeholder="" ng-model="formData.barcode" />
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">承重量(kg)：</div>
          <div class="flex-item-8 text-left relative">
            <input type="text" class="pr-ipt-160 hei-28" placeholder="" ng-model="formData.bearingWeight" />
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">长(m)：</div>
          <div class="flex-item-8 text-left relative">
            <input type="text" class="pr-ipt-160 hei-28" placeholder="" ng-model="formData.length" />
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">宽(m)：</div>
          <div class="flex-item-8 text-left relative">
            <input type="text" class="pr-ipt-160 hei-28" placeholder="" ng-model="formData.width" />
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">高(m)：</div>
          <div class="flex-item-8 text-left relative">
            <input type="text" class="pr-ipt-160 hei-28" placeholder="" ng-model="formData.height" />
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">容积(m<sup>3</sup>)：</div>
          <div class="flex-item-8 text-left relative">
            <input type="text" class="pr-ipt-160 hei-28" placeholder="" ng-model="formData.volume" />
          </div>
        </div>
        <div class="flex-column mgb-m">
          <div class="flex-item-4 text-right text-n" style="line-height:28px;">备注：</div>
          <div class="flex-item-8 text-left relative">
            <textarea style="width:240px;height:60px;" ng-model="formData.note"></textarea>
          </div>
        </div>
      </div>
      <div class="btn-confirm-area">
        <button type="submit"
                class="btn pr-btn-create-glodbg "
                style="width:160px;height:32px;	margin-top: 8px;margin-left:155px;line-height:1.4" value="确定">确定
        </button>
      </div>
    </div>
  </form>
</div>
