<div class="woutstock-order">
<table-list list-data="rest/authen/wOutstockOrder/otherOutstock/query.json"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q"
              >
<!-- 主内容头部 -->
<div class="content-wrapper-heading pdb-m mgb-l relative">
    <!-- 模块标题及面包屑 -->
    <p class="pdb-s pdt-s mgb-l crumbs pr-indent-35">库存管理 > <em>其他出库单</em></p>
    <div class="pd-c-xxxxl">
      <div class="full-width mgb-m">
        <div class="pos-rel-tl inline-block fl-l">
        <h1 class="pr-font-22 color-black">其他出库单</h1>
        </div>
      </div>
    </div>


  <!-- 搜索 -->

  <div class="text-right  relative full-width pd-c-xxxxxl">

    <div class="relative ">
      <span class="mgr color-999">仓库</span>
      <select class="pr-select select-wd mgr-xl"
       chosen
        ng-model="listParams.warehouseCode"
        default-empty="全部"
        select-source="rest/authen/warehouse/queryForSelectOption">
      </select>
      <span class="mgr color-999">其他出库类型</span>
      <select class="pr-select select-wd mgr-xl"
              chosen
              ng-model="listParams.type"
              default-empty="全部"
              select-source="rest/authen/wOutstockOrder/queryOutstockTypeForSelectOption?outstockType=其它出库">
      </select>

      <span class="mgr color-999">出库日期</span>
      <div class="date-icon-outside">
        <input type="text"
               datepicker
               class="ipt-date pr-short-ipt color-6 mgr pr-indent-10"
               ng-readonly="true"
               ng-model="listParams.createAtBeg"
               placeholder="">
        <span class="date-icon"></span>
      </div>
       <span class="mgr color-999">至</span>
    <div class="date-icon-outside">
       <input type="text"
             datepicker
             class="ipt-date pr-short-ipt color-6 mgr-l pr-indent-10"
             ng-readonly="true"
             ng-model="listParams.createAtEnd"
             placeholder="">
      <span class="date-icon"></span>
    </div>

    <div class="order-list-search text-left code pos-rel-tr inline-block pdl-l fl-r">

      <input type="text" class="ipt pdr-xxl" placeholder="单据编号" ng-model="listParams.q">
      <i class=""></i>
    </div>
    </div>

  </div>
</div>

<div class="content-wrapper woutstock-order"
     ng-init="listParams.orderStatus=mainStatus.pageParams.orderStatus;">
        <!-- formData.type='报损';listParams.type='报损出库单' -->
    <!-- 主内容区域 -->
    <div class="content-wrapper-main">
      <div ng-if="!status.isLoading">
        <div ng-if="tbodyList.length==0">
          <p class="empty-data text-center"><span class="empty-data-icon"></span></p>
          <p class="text-center">什么也没有</p>
        </div>
        <ul ng-if="tbodyList.length" class="li-min-h">
          <li class="pdr-m pdl-m relative confirm-order-list" ng-repeat="tr in tbodyList">
            <div class="mgb-xl pr-bg-white pr-fuzzy-boundary relative" >
              <!-- ng-class="{'pr-bg-grey2':(tr.orderStatus=='未通过')}" -->
              <div class="relative">
                  <div class="flex-column">
                    <span class="flex-item-6 title-states text-bold color-3 pd-m">
                      <em class="color-black">
                          {{tr.type}}
                      </em>
                    </span>
                    <span class="flex-item-6 text-right">
                      <span class=" text-right">
                        <a
                        class="btn-link pd-m rect-s"
                        title="查看详情"
                        href="#/otherOutstockOrder/get.html?id={{tr.id}}" class="mgl">
                        <span class="watch-detail-icon">&nbsp;</span>
                        </a>
                    </span>
                </div>
                <div class="card-new">
                    <div class="bt-line">
                      <h1 class="text-center text-m color-black text-ellips-s">{{tr.warehouseName || '暂无'}}</h1>
                    </div>
                    <div class="flex-column qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6 mgb-s pr-indent-10">单据编号</span>
                      <span class="flex-item-6 text-right pr-indent-10"><strong class="color-6 text-normal">{{tr.orderNo}}</strong></span>
                    </div>
                    <div class="flex-column qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6 pdl mgb-s text-left">出库日期</span>
                      <span class="flex-item-6 text-right">
                          <strong class="color-6 text-normal">{{tr.createAt | date : 'yyyy-MM-dd'}}</strong>
                      </span>
                    </div>
                    <div class="flex-column qurey text-s color-9 bt-dashed-line">
                      <span class="flex-item-6 pdl mgb-s text-left">条目数</span>
                      <span class="flex-item-6 text-right">
                          <strong class="color-6 text-normal">{{tr.inoutstockDetails.length|| '0'}}</strong>
                      </span>
                    </div>
                    <div class="flex-column qurey text-s color-9 bt-dashed-line">
                      <span ng-if="tr.type=='报损出库单'||tr.type=='WMS报损出库单'"
                      class="flex-item-6 pdl mgb-s text-left">参考报损单</span>
                      <span ng-if="tr.type=='批次冻结出库单'||tr.type=='WMS批次冻结出库单'"
                      class="flex-item-6 pdl mgb-s text-left">参考批次冻结单</span>
                      <span ng-if="tr.type=='移库出库单'"
                      class="flex-item-6 pdl mgb-s text-left">参考wms移库单</span>
                      <!-- <span ng-if="tr.type=='销售出库单_红字'"
                      class="flex-item-6 pdl mgb-s text-left">参考销售退货单</span> -->


                      <span class="flex-item-6 text-right">
                        <a
                        ng-if="tr.type=='报损出库单'||tr.type=='WMS报损出库单'"
                        href="#/lossOverOrder/get-reimburse.html?orderNo={{tr.sourceOrderNo}}">
                          <strong class="color-orange text-normal">{{tr.sourceOrderNo}}</strong>
                        </a>
                        <a
                        ng-if="tr.type=='批次冻结出库单'||tr.type=='WMS批次冻结出库单'"
                        href="#/freezeThawOrder/get-freeze.html?orderNo={{tr.sourceOrderNo}}">
                          <strong class="color-orange text-normal">{{tr.sourceOrderNo}}</strong>
                        </a>
                        <!-- <a
                        ng-if="tr.type=='销售出库单_红字'"
                        href="#/saleReturnOrder/get.html?orderNo={{tr.sourceOrderNo}}">
                          <strong class="color-orange text-normal">{{tr.sourceOrderNo}}</strong>
                        </a> -->

                          <strong  ng-if="tr.type=='移库出库单'" class="text-normal">{{tr.sourceOrderNo}}</strong>
                      </span>
                    </div>

                    <div class="flex-column qurey text-s color-9 mgb bt-line"
                      >
                      <p
                      title="{{tr.note}}"
                      class="text-ellips-s">
                        <span >备注：</span><span class="color-6">{{tr.note}}</span>
                      </p>
                    </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- 导航 -->
    <div class="clearfix pd-c-m" ng-if="tbodyList.length">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>
  </div>
</table-list>
</div>
