<div class="modal-content pr-modal-content right-side-new pr-bg-black4 more-stock"
     ajax-url="rest/authen/medicalStock/get?id={{dialogData.id}}&logisticsCenterId={{dialogData.logisticsCenterId}}&warehouseId={{dialogData.sourceId}}&isOnlyAvailable=true"
     scope-data="stockBatchList"
     callback="getChoisedBatchsId(dialogData.choisedBatchList)"
     alert-error>
  <!-- 标题 -->
  <div class="bb-line-gold pr-bg-black2 min-h-l">
    <h1 class="pr-indent-20 pdb-m text-n" style="line-height:50px;max-height:35px;">入库任务商品信息 - {{dialogData.medicalName}}</h1>
  </div>
  <!-- 数据遍历 -->
  <div ng-if="stockBatchList.length">
    <table class="full-width another-table">
      <thead>
        <tr class="bb-line-gold">
          <th>商品编号</th>
          <th>商品名称</th>
          <th>规格型号</th>
          <th>单位</th>
          <th>计划数量</th>
          <th>批号要求</th>
          <th>预入仓库</th>
          <th>保存温度</th>
          <th>产地品牌</th>
          <th>注册证号</th>
          <th>注册证有效期</th>
        </tr>
      </thead>
      <tbody class="bg-white">
        <tr ng-repeat="item in stockBatchList" class="pr-bg-black3 trHover-bg" ng-class="{'pr-bg-grey3':choisedBatchsIdList.indexOf(item.id)!=-1}" >
          <td class="text-center">
            <label class="radio radio-new">
              <input type="radio"
                     name="medicals"
                     class="default-radio"
                     ng-click="choseBatch(item,dialogData.choisedBatchList,dialogData.id);modal.closeAll()"
                     ng-disabled="choisedBatchsIdList.indexOf(item.id)!=-1"><i></i>
            </label>
          </td>
          <td class="text-left color-white" style="height:50px;"> {{item.productionBatch}}</td>
          <td class="text-left color-white" style="height:50px;"> {{item.sterilizationBatchNumber}}</td>
          <td class="color-white" style="height:50px;">{{item.validTill | date:'yyyy-MM-dd'}}</td>
          <td class="text-left color-white" style="height:50px;">{{item.warehouseName}}</td>
          <td class="text-left color-white" style="height:50px;">{{item.stockModel.salesQuantity}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
