<div class="modal-content" ng-controller="editCtrl">
  <form class="add-customerAddress-form form-horizontal"
        action="rest/authen/customerAddress/save"
        ajax-url="rest/authen/customerAddress/getOfEdit.json?id={{tr.id}}"
        scope-data="formData"
        alert-error
        parameter-body
        form-validator
        callback="$root.reloadTime=$root.utils.getNowTime();"
        >
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">{{formData&&formData.id?"编辑":"添加"}}客户</h4>
    </div>
      <div class="modal-body">
        <div class="form-group">
            <label class="col-lg-2 col-sm-2 control-label">客户名称</label>
            <div class="col-lg-10 col-sm-10">
                <input type="text" class="form-control" placeholder="" ng-model="formData.name"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-lg-2 col-sm-2 control-label"></label>
            <div class="col-lg-10 col-sm-10">
                <input type="submit" class="btn btn-success" value="提交">
            </div>
        </div>
      </div>
  </form>
</div>
