
<!--    printScope.medicalItem=item;//药械信息
    printScope.converResult=item.converResults[i];//条码信息
    printScope.supplier=$scope.medicalDataList.supplier;//供应商信息
  printScope.intentionalCustomer=$scope.medicalDataList.intentionalCustomer;//货主信息-->
<div style="padding:10px;">
  <div style="margin-bottom:5px;">
      <div style="margin-bottom:10px;text-align:center;"><img src="{{converResult.barcode}}"></div>
      <div style="clear:both;">
        <span style="float:left;">{{medicalItem.name}}</span>
        <span style="float:right;">包装单位：{{converResult.unit}}</span>
      </div>
  </div>
  <p style="height:1px;border-top:1px dashed #ccc;margin-top:45px;"></p>
  <div style="font-size:13px">
    <div style="margin-bottom:5px;">
      <span style="margin-right:30px;">规格/型号：{{medicalItem.specificationAndModelType}}</span>
      <span>有效期至： {{medicalItem.validTill}} </span>
    </div>
    <div style="margin-bottom:5px;">货主：{{intentionalCustomer.intentionalCustomer}}</div>
    <div>生产企业：{{supplier.name}}</div>
  </div>
</div>
