<style>
  .ngdialog.ngdialog-theme-right .ngdialog-close:before{
    top:8px!important;
  }
  .menuContent{
    z-index: 15!important;
  }
</style>


<div class="sale-return-order right-side pr-bgc6 right-babel" ng-controller="paramsCtrl">

  <!--queryParamsConf:{{queryParamsConf}}-->

  <div class="relative" style="height:100%;">
      <!--<pre>-->
      <!--filterObject::{{filterObject | json}}-->
      <!--</pre>-->

    <!-- 头部信息 -->
    <div class="relative " style="height:calc(100% - 56px);overflow:auto;">
      <div class="pd-c-l pdt pdb pr-font-14 color-light-brown sale-boder-btm pr-bgc6 text-bold bb-line-gold">查询</div>
      <div ng-repeat="item in queryParamsConf" class="pr-panel-height sale-boder-btm select-bg" style="padding:0 0 15px 0;">

        <div ng-if="item.type=='autocomplete'" class="flex-row mgt-m relative " >
            <label class="flex-item-2 text-right control-label pdr font-w0 label9">{{item.name}}:</label>
            <span angucomplete-supplier
                  ng-if="!cacheObject.customerAddress.title"
                  placeholder=""
                  title-field="name"
                  search-fields="{{cacheObject.customerAddress.name}}"
                  url="rest/authen/customerAddress/query.json?isFilterDefault=true"
                  ng-model="cacheObject[item.modelName[0]]"
                  ng-model-id="filterObject[item.modelName[0]]"
                  class="inline-block text-s" style="height:28px;">
            </span>
            <i class="medical-search-icon" style="top:-1px;right:222px;" ng-if="!cacheObject.customerAddress.title"></i>
            <span ng-if="cacheObject.customerAddress.title"
                   angucomplete-supplier
                   placeholder=""
                  class="inline-block text-s"
                   title-field="name"
                   search-fields="{{cacheObject.customerAddress.name}}"
                   url="rest/authen/customerAddress/query.json?isFilterDefault=true"
                   ng-model="cacheObject[item.modelName[0]]"
                   ng-model-id="filterObjectitem.modelName[0]"
            >
            </span>
            <span ng-if="cacheObject.customerAddress.title" class="delete-date-icon cur-pot"
                  style="left:302px;" ng-click="cacheObject.customerAddress={};"></span>
            {{filterObject.customerName}}
        </div>

        <div ng-if="item.type=='select'" class="flex-row mgt-m">
            <label class="flex-item-2 text-right control-label pdr font-w0 label9">{{item.name}}:</label>
            <div class="flex-item-10 text-left">
                <select class="ipt ipt-new-s "
                        chosen
                        default-empty="全部"
                        ng-model="filterObject[item.modelName[0]]"
                        select-source="{{item.url}}">
                </select>
            </div>
        </div>

        <div ng-if="item.type=='dateRange'" class="flex-row mgt-m">
            <label class="flex-item-2 text-right control-label pdr pdt-s font-w0 label9" style="margin-top:3px;">{{item.name}}</label>
            <div class="sela-icon-outside white-bgc-set color-3">
                <input type="text"
                       style="z-index: 15;"
                       datepicker
                       class="ipt-date color-6 mgr pr-indent-10"
                       ng-readonly="true"
                       ng-model="filterObject[item.modelName[0]]">
                <span ng-if="!filterObject[item.modelName[0]]" icon-click class="date-icon" style="z-index:15;"></span>
                <span ng-if="filterObject[item.modelName[0]]" class="delete-date-icon" style="z-index:15;" ng-click="filterObject[item.modelName[0]]='';"></span>
            </div>

            <span class="pdt-s mgl-s mgr-s" style="padding-top:7px;">至</span>
            <div class="sela-icon-outside white-bgc-set" >
                <input type="text"
                       style="z-index: 15;"
                       datepicker
                       class="ipt-date color-6 mgr pr-indent-10"
                       ng-readonly="true"
                       ng-model="filterObject[item.modelName[1]]"
                       invalid-popover
                       popover-show="filterObject[item.modelName[1]]<filterObject[item.modelName[0]]"
                       popover-options='{"content":"结束日期不应小于开始日期", "placement":"top", "trigger":"manual"}' />
                <span ng-if="!filterObject[item.modelName[1]]" icon-click class="date-icon" style="z-index:15;"></span>
                <span ng-if="filterObject[item.modelName[1]]" class="delete-date-icon" style="z-index:15;" ng-click="filterObject[item.modelName[1]]='';"></span>
            </div>
        </div>

        <div ng-if="item.type=='inputRange'" class="flex-row mgt-m">
              <label class="flex-item-2 text-right control-label pdr pdt-s font-w0 label9" style="margin-top:3px;">{{item.name}}</label>
              <div class="sela-icon-outside white-bgc-set color-3">
                  <input type="text"
                         style="z-index: 15;"
                         class="ipt-date color-6 mgr pr-indent-10"
                         ng-model="filterObject[item.modelName]">
                  <span ng-if="filterObject[item.modelName[0]]" class="delete-date-icon" style="z-index:15;" ng-click="filterObject[item.modelName[0]]='';"></span>
              </div>

              <span class="pdt-s mgl-s mgr-s" style="padding-top:7px;">至</span>
              <div class="sela-icon-outside white-bgc-set" >
                  <input type="text"
                         style="z-index: 15;"
                         class="ipt-date color-6 mgr pr-indent-10"
                         ng-model="filterObject[item.modelName[1]]"
                        />
                  <!--<span ng-if="!filterObject[item.modelName[1]]" icon-click class="date-icon" style="z-index:15;"></span>-->
                  <span ng-if="filterObject[item.modelName[1]]" class="delete-date-icon" style="z-index:15;" ng-click="filterObject[item.modelName[1]]='';"></span>
              </div>

              <span class="pdt-s mgl-s mgr-s" style="padding-top:7px;">{{item.alias}}</span>
          </div>


        <div ng-if="item.type=='checkmore'" class="flex-row mgt-m relative">
          <label class="flex-item-2 text-right control-label pdr font-w0 label9" style="margin-top:7px;">{{item.name}}</label>
          <div class="flex-item-10 text-left" ng-init="selected=[]" style="position: relative">

              <div ng-repeat="item in selected" class="select-tag">
                  <i ng-click="selected.splice($index,1)" class="ibtn-del-small">+</i>
                  {{item.text}}
              </div>
              <select-more ng-show="show"
                           url="{{item.url}}"
                           model-attr="value"
                           ng-model="filterObject[item.modelName[0]]"
                           selected="selected"
                           style="position: absolute; left: 0; z-index: 1;"
              ></select-more>
              <button ng-click="show=true;" type="button" style="margin-left:0px;margin-top:8px;" width="240px"
                      class="btn-select-dialog text-left">
                   <em>选择</em>
              </button>
          </div>
        </div>

      </div>

      <div class="right-m-tit text-bold">统计方式设置</div>
      <div class="mgb-l pd-c-l pdb pr-font-12 color-light-brown sale-boder-btm-2">
          <div class="form-ctrl mgt"
               ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_SaleOrderStatisticsGroupEnum"
               scope-data="departments"
               alert-error>
              <fieldset >
                  <label class="mycheck-new  relative " style="margin-right:30px;margin-top:15px;"  ng-repeat="item in departments track by $index" title="{{item.value}}">
                      <input type="checkbox"
                             id="saleOrderStatistics_set{{$index + 1}}1"
                             value="{{item.id}}"
                             ng-checked="judgeHasThisItem(tbodyList,item.value)"
                             ng-click="handleGroupChoised($event,item.value)"
                             class="click-reverse-selection3 mgt-l mgl -m">
                             <i for="saleOrderStatistics_set{{$index + 1}}1"></i>
                             <em style="padding:0px 5px;color:white;">{{item.value}}</em>

                  </label>

              </fieldset>
          </div>
          <p ng-if="groupFlag" class="color-red pdl-xl">分组条件至少选择一种!</p>
          <p ng-if="yearMonthGroupFlag" class="color-red pdl-xl">不能对月进行单独分组查询，必须带年分组查询!</p>
      </div>
    </div>
    <!-- 功能按钮 -->
    <div class="sales-btn-area-2nd relative" style="background:#322d2a;">
      <div class="btn-area full-width text-center" style="padding-top:13px;">
      <button type="button"
              ng-click="filterObject={};"
              class="pr-btn-save-glodbg mgr-l"
              style="width:160px;">清空查询条件
      </button>
        <button type="button"
        ng-click="handleTypeChange()"
        class="pr-btn-save-glodbg mgr-l"
        ng-disabled="groupFlag || yearMonthGroupFlag"
        style="width:160px;">确定
      </button>
    </div>
  </div>
  </div>
</div>
