<div class="content-wrapper"
     ajax-url="rest/authen/freezeThawOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}"
     scope-data="showData"
     callback="formData={};formData.id=showData.id"
     alert-error>
     <!-- 头部信息 -->
     <div class="relative bb-line">
       <div class="pd-l">
         <!-- 标题 -->
         <div class="mgb-m">
           <p class="mgb-m crumbs pr-indent-10">库存管理 / <em class="color-custom-orange">报溢单</em>/ 报溢申请单详情</p>
           <h1 class="pr-font-22 ">报溢申请单详情</h1>
         </div>
         <h1 class="color-black text-l">
           <!-- 昆明库 -->
           {{showData.warehouseName}}
       </h1>
       </div>
     </div>
     <!-- 主内容区域 -->
    <div class="content-wrapper-main pr-bg-white pr-fuzzy-boundary text-s">
      <div class=" color-9">
        <p class="flex-column mgb  pd">
          <span class="flex-item-4">
            单据编号：<em >{{showData.orderNo || '暂无'}}</em>
            <em  class="mgl">部门：</em><em>{{showData.departmentName|| '暂无'}}</em>
            <em  class="mgl">申请人：</em><em class="color-orange">{{showData.saleUserName|| '暂无'}}</em>
            <em  class="mgl">制单人：</em><em class="color-orange">{{showData.inputUser.n|| '暂无'}}</em>
            <em  class="mgl">
              审批人：</em><em class="color-orange">{{showData.inputUser.n || '暂无'}}</em>
          </span>
          <span class="flex-item-7 text-right">
            申请日期：<em >{{showData.applyDate | date : 'yyyy-MM-dd' || '暂无'}}</em>
          </span>
          <span class="flex-item-1 text-right">状态：<em>{{showData.orderStatus}}</em></span>
        </p>

          <!-- 主内容头部 -->
            <!-- 主内容区域 -->
            <div class="content-wrapper-main ">
              <div class="outside-table-d">
                <table class=" pr-table table-hover table-bordered table-wid" >    <!-- table-wid -->
                    <thead class="pr-bg-side">
                      <tr>
                        <th class="text-center">商品编码</th>
                        <th class="text-center">商品代码</th>
                        <th class="text-center">商品名称</th>
                        <th class="text-center">规格型号</th>
                        <th class="text-center">单位</th>
                        <th class="text-center">数量</th>
                        <th class="text-center">生产批号</th>
                        <th class="text-center">灭菌批号</th>
                        <th class="text-center">生产日期</th>
                        <th class="text-center">保质期</th>
                        <th class="text-center">失效日期</th>
                        <th class="text-center">产品执行标准</th>
                        <th class="text-center">保存温度</th>
                        <th class="text-center">产地品牌</th>
                        <th class="text-center">产品注册证号</th>
                        <th class="text-center">注册证有效期</th>
                      </tr>
                    </thead>

                    <tbody class="pr-bg-white" >

                      <tr ng-repeat="tr in showData.orderMedicalNos" ng-init="orderMedicalNoIds.push(tr.relId)" ng-controller="SalesOrderDetailsController">
                        <td class="text-center">{{tr.code}}</td>
                        <td class="text-center">{{tr.goodsCode}}</td>
                        <td class="text-center">
                          {{tr.name}}
                        </td>
                        <td class="text-center">
                          {{tr.modelType}}
                        </td>
                        <td class="text-center">
                          {{tr.unit}}
                        </td>

                        <td class="text-right">
                        {{tr.quantity}}
                        </td>

                        <td class="text-center">
                          <!-- 生产批号 -->
                        </td>
                        <td class="text-center">
                          <!-- 灭菌批号 -->
                        </td>
                        <td class="text-center">{{tr.productionDate | date : 'yyyy-MM-dd'}}</td>
                        <td class="text-center">{{tr.guaranteePeriod | date : 'yyyy-MM-dd'}}</td>
                        <td class="text-center">{{tr.validTill | date : 'yyyy-MM-dd'}}</td>

                        <td class="text-center">
                          <!-- 产品执行标准 -->
                        </td>

                        <td class="text-center">
                          <!-- 保存温度 -->
                        </td>

                        <td class="text-center">
                          {{tr.brand}}
                        </td>

                        <td class="text-center">
                        {{tr.productionEnterpriseLicenseNo}}
                        </td>
                        <td>
                          {{tr.productionEnterpriseLicensePeriod}}
                        </td>
                      </tr>
                    </tbody>
                </table>
              </div>
            </div>

      </div>
    </div>
    <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgt-l">
      <!-- 备注 -->
      <div class="note">
        <p class="pd-v-l">备注：{{showData.note}}</p>
      </div>
    </div>
</div>


<!-- <div class="handle-btn-area relative">
  <div class="btn-area over-write-wid">
      <a class="mgr-l" ng-if="!changeFlag" href="#/freezeThawOrder/query-overflow.html" >返回报溢单列表</a>
  </div>
</div> -->
<div class="handle-btn-area relative">
  <div class="btn-area over-write-wid">
      <span class="mgr-l">
        <a  href="#/freezeThawOrder/query-overflow.html">返回报溢单列表</a>
      </span>
      <span class="mgr-l" ng-if="showData.didateFilter.buttons.length>0"
       custom-menu-list
       custom-menu-arr="{{showData.didateFilter.buttons}}">
      </span>
  </div>
</div>
