<div class="sale-return-order right-side pr-bgc6"
     ng-controller="returnOrderAddController"
     ajax-If-eval="selectedData.id||formData.relId"
     ajax-url="rest/authen/invoicesOrder/get.json?id={{selectedData.id||formData.relId}}"
     scope-data="addDataObj"
     callback="choisedMedicalList=initChoisedMedicalList(addDataObj.orderMedicalNos,formData.orderMedicalNos)"
     alert-error>
  <form>
    <!-- 头部信息 -->
    <div class="relative">
      <!-- 标题 -->
      <div class="bb-line-gold pr-bg-black2 min-h-l" style="margin-bottom:20px;">
        <h1 class="pr-indent-20 pdb-m text-n" style="line-height:50px;max-height:35px;">参照发货单</h1>
      </div>
      <div class="mgb-m pd-c-l inline-block relative" ng-show="!dialogData.pageParamsId">
        <span angucomplete
              placeholder="发货单号"
              title-field="orderNo"
              description-field="customerName"
              search-fields=""
              search-str-class="ipt"
              url="rest/authen/invoicesOrder/query?orderStatus=已发货,已收货"
              class="inline-block "
              ng-model="selectedData">
        </span>
        <span class="receive-item-icon" style="top: 6px;right: 25px;"></span>
        <!-- &orderBusinessType=普通销售 -->
      </div>
    </div>
    <!-- 药械列表 -->
    <div>
      <div class="">
        <div class="empty-panel empty-panel-new clearfix" ng-if="!addDataObj.orderMedicalNos.length" style="background:rgba(54,48,44,0.3);">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
        <div ng-if="addDataObj.orderMedicalNos.length">
          <div class="mgb">
            <div class="inline-block logistics-center relative br-line mgl-l" style="width:214px;background:rgba(54,48,44,0.3);">
              <p class="mgb-s mgl-xl color-9">业务类型</p>
              <p class="text-n color-black mgl-xl autocut-default color-white" title="{{addDataObj.orderBusinessType}}" style="padding-right:182px; width:100px;">
                {{addDataObj.orderBusinessType || '暂无'}}
              </p>
            </div>
            <div class="inline-block br-line customer-name relative mgl" style="width:214px;background: rgba(54,48,44,0.3);">
              <p class="mgb-s mgl-xl color-9">客户名</p>
              <p class="text-n color-black mgl-xl autocut-default color-white" title="{{addDataObj.customerName}}" style="width:100px;">
                {{addDataObj.customerName}}
              </p>
            </div>
            <div class="inline-block logistics-center relative mgl" style="width:214px;background: rgba(54,48,44,0.3);">
              <p class="mgb-s mgl-xl color-9">物流中心</p>
              <p class="text-n color-black mgl-xl autocut-default color-white" title="{{addDataObj.logisticsCenterName}}" style="padding-right:182px; width:100px;">
                {{addDataObj.logisticsCenterName || '暂无'}}
              </p>
            </div>
          </div>
          <p class="flex-row color-9 pd mgt  bb-dashed-line-new" style="background: rgba(54,48,44,0.3);">
            <span class="flex-item-2 mar-r20 color-9 mgl">
              单据编号：<em class="color-white">{{addDataObj.orderCode || '暂无'}}</em>
            </span>
            <span class="flex-item-2 color-9">
              单据日期：<em class="color-white">{{addDataObj.orderDate || '暂无' | date : 'yyyy-MM-dd'}}</em>
            </span>
            <span class="flex-item-7 text-right mar-l40">状态：
              <em class="color-white" ng-class="{'color-green':addDataObj.orderStatus=='已通过'}">{{addDataObj.orderStatus}}</em>
            </span>
          </p>
          <p class="flex-row color-9 pd" style="background: rgba(54,48,44,0.3);">
            <span class="flex-item-12">
              <em class="mgl color-9">业务部门：</em><em class="color-white">{{addDataObj.salesDepartmentName || '暂无'}}</em>
              <em  class="mgl-l color-9">业务人员：</em><em class="color-orange">{{addDataObj.saleUser.n|| '暂无'}}</em>
              <!-- <em  class="mgl">业务类型：</em><em class="color-white">{{addDataObj.orderBusinessType || '暂无'}}</em> -->
              <em  class="mgl-l color-9">销售类型：</em><em class="color-white">{{addDataObj.salesType || '暂无'}}</em>
              <em  class="mgl-l color-9">预发货日期：</em><em class="color-white">{{addDataObj.expectDate || '暂无'  | date : 'yyyy-MM-dd'}}</em>
            </span>
          </p>
        </div>

        <div class="pr-panel pd-n pr-panel-height" >
          <table class="table pr-table pr-new-table" >
              <thead>
                <tr>
                  <th class="mycheck absolud-center" style="width:60px;">
                    <input type="checkbox"
                           id="salaReturnOrder_1"
                           class="selectAll"
                           ng-init="isChoiseAll=false"
                           ng-model="isChoiseAll"
                           ng-click="handleChoiseAllEvent()"
                           ng-disabled="!hasReturnList">
                        <label for="salaReturnOrder_1"></label>
                  </th>
                    <th class="text-center">商品编号</th>
                    <th>商品通用名</th>
                    <th class="text-center">剂型/分类</th>
                    <th class="text-center">规格/型号</th>
                    <th class="text-center">单位</th>
                    <th class="text-center">计划数量</th>
                    <th class="text-center">实发数量</th>
                    <th class="text-center">生产批号</th>
                    <th class="text-center">灭菌批号</th>
                    <th class="text-center">仓库</th>
                    <th class="text-center">含税单价</th>
                    <th class="text-center">价税合计</th>
                    <th class="text-center">失效日期</th>
                  </tr>
                </tr>
              </thead>
              <tbody >
                <tr ng-repeat="item in addDataObj.orderMedicalNos | repeatFilter:'addDataObj.orderMedicalNos'">
                  <td class="select-td mycheck">
                    <input type="checkbox"
                           id="salaReturnOrder_{{$index+2}}"
                           class="selectOne"
                           ng-model="item.itemSelected"
                           ng-click="handleItemClickEvent(item)"
                           ng-disabled="!item.quantity">
                   <label for="salaReturnOrder_{{$index + 2}}"></label>
                  </td>
                  <td class="text-center">{{item.code}}</td>
                  <td>
                    <span
                         class="color-orange cur-pot lend-order-goods-info"
                         ng-init="showInfoArea=false"
                         ng-mouseenter="showInfoArea=true"
                         ng-mouseleave="showInfoArea=false">{{item.approvedName}}
                      <show-info-modal ng-show="showInfoArea"
                                       get-data-type="local"
                                       template-url="tpl/showInfoModalLendOrder"
                                       info-object="{{item}}"
                                       info-title="商品信息">
                      </show-info-modal>
                    </span>
                  </td>
                    <td class="text-left">{{item.dosageForms}}</td><!-- 剂型分类 -->
                  <td class="text-center">{{item.specificationAndModelType}}</td>
                  <td class="text-center">{{item.unit}}</td>
                  <td class="text-center">{{item.quantity}}</td>
                  <td class="text-center">{{item.outgoingQuantity}}</td>
                  <td class="text-center">{{item.productionBatch}}</td>
                  <td class="text-center">{{item.sterilizationBatchNumber}}</td>
                  <td class="text-center">{{item.warehouseName}}</td>
                  <td class="text-right">￥{{item.strike_price | number:2}}</td>
                  <td class="text-right">￥{{item.strike_price*item.quantity || item.totalPrice | number:2}}</td>
                  <td class="text-center">{{item.validTill | date : 'yyyy-MM-dd'}}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div class="empty-table empty-table-new clearfix pr-bg-black4" ng-if="!addDataObj.orderMedicalNos.length" style="background:rgba(54,48,44,0.3);">
              <div>&nbsp;</div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
          </div>

          <div class="bt-line flex-row" style="background: rgba(54,48,44,0.3);" ng-if="addDataObj.orderMedicalNos.length">
            <p class="flex-item-12 text-right pdb-m pdt-m pd-c-l ">
              <span class="mgr mgl color-9">制单部门：
                <em class="color-white">{{addDataObj.departmentName || '暂无'}}</em>
              </span>

              <span class="mgr mgl color-9">制单人：<em class="color-orange">{{addDataObj.inputUser.n || '暂无'}}</em></span>

              <span class="mgl color-9">制单时间：<em class="color-white">{{addDataObj.createAt || '暂无' | date: 'yyyy-MM-dd HH:mm'}}</em></span>
            </p>
          </div>
      </div>
    </div>

    <!-- 功能按钮 -->
    <div class="handle-btn-area-2nd relative">
      <div class="btn-area full-width text-center" style="margin-top:6px;">
        <!-- <a class="mgr-l" ng-click="modal.closeAll();">取消</a> -->
        <button ng-disabled="!choisedMedicalList.length>0"
                ng-click="handleAddDataArray(addDataObj.id,choisedMedicalList,addDataObj);confirmOrderCalculaTotal(addDataObj.orderMedicalNos);"
                type="button"
                class="pr-btn-save-glodbg mgr-l"
                style="width:160px;">确定
        </button>
      </div>
    </div>
  </form>
</div>
