<div class="sale-return-order"
     ng-controller="returnOrderEditCtrl"
     ajax-url="rest/authen/saleReturnOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="formData"
     callback='initFlag=true;watchFormChange("formData");quantityError=false;getCodeGenerationStrategy("销退单");getPrecision();'
     alert-error>
  <form id="saleReturnEditForm"
        name="saleReturnEditForm"
        form-validator
        parameter-body
        action="rest/authen/saleReturnOrder/save"
        alert-error
        scope-response="scopeResponse"
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter(scopeResponse);$root.watchFormChange('formData',this)"
        novalidate="true">
    <!-- 头部信息 -->
    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs pd-c-xxl crumbs-"  style="top: 72px;">销售中心 >
         <a ng-click="$root.goTo('#/saleReturnOrder/query.html')">销售退货单</a>
         > 新建销售退货单
      </p>
      <div class="pd-c-xxl padd-t28 pdb-l pdt-xxl">
        <!-- 标题 -->
        <div class="mgt-xl mgb-m">
          <h1 class="pr-font-20 color-black">新建销售退货单</h1>
        </div>
      </div>
    </div>

    <!-- 单据基本信息 -->
    <div class="content-wrapper">
      <div ng-if="formData.operationFlowSet.key||formData.operationFlowSet.message" class="pr-panel pr-panel-height mgb-l pr-bg-pink1">
        <em class="color-red">原因:</em>
        <p class="inline-block-important color-red">
          <em ng-model="formData.operationFlowSet.key">{{formData.operationFlowSet.key}}</em>
          <em ng-model="formData.operationFlowSet.message">{{formData.operationFlowSet.message}}</em>
        </p>
      </div>
      <!-- <div ng-if="formData.orderMedicalNos.length" class="pr-panel pr-panel-height pd-n mgb">
        <div class="inline-block br-line customer-name relative">
          <p class="mgb-s">客户名</p>
          <p class="text-n color-black" style="padding-right:182px;">
            {{formData.customerName || '暂无'}}
          </p>
        </div>
        <div class="inline-block logistics-center relative">
          <p class="mgb-s">物流中心</p>
          <p class="text-n color-black" style="padding-right:182px;">
            <select ng-if="initFlag" class="ipt pr-long-ipt color-6"
                    data-placeholder=" "
                    chosen
                    ng-model="formData.logisticsCenterId"
                    if-disabled="{{formData.customerId}}"
                    select-source="rest/authen/logisticsCenter/queryForSelectOption.json">
            </select>
          </p>
        </div>
      </div> -->
      <div ng-if="formData.orderMedicalNos.length"  class="">
        <div class="inline-block mgr">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="min-height:88px;">
             <div class="inline-block logistics-center"></div>
             <div class="inline-block">
               <p class="mgb-s">业务类型</p>
               <p class="text-m color-3 autocut-default" title="{{formData.orderBusinessType}}">{{formData.orderBusinessType || '暂无'}}</p>
               <!-- <p class="text-m color-3">
                   <select class="ipt pr-short-ipt color-3" style="width:90px;"
                           data-placeholder=" "
                           chosen
                           ng-model="formData.orderBusinessType"
                           select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType"
                           ng-change="chgOrderBusinessType(formData.orderBusinessType)">
                   </select>
               </p> -->
             </div>
           </div>
        </div>
        <div class="inline-block mgr">
          <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="min-height:88px;">
            <div class="inline-block customer-name"></div>
            <div class="inline-block">
              <p class="mgb-s">客户名</p>
              <p class="text-m color-3 autocut-default" title="{{formData.customerName}}">{{formData.customerName || '暂无'}}</p>
            </div>
          </div>
        </div>
        <div class="inline-block">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="min-height:88px;">
             <div class="inline-block logistics-center"></div>
             <div class="inline-block">
               <p class="mgb-s">物流中心</p>
               <p class="text-m color-3">
                 <select ng-if="initFlag" class="ipt ipt-new-select color-3"
                         data-placeholder=" "
                         chosen
                         ng-model="formData.logisticsCenterId"
                         if-disabled="{{formData.customerId}}"
                         select-source="rest/authen/logisticsCenter/queryForSelectOption.json">
                 </select>
               </p>
             </div>
           </div>
        </div>
      </div>

      <div class="pos-rel-tl order-create-btn mgb-m">
        <a ng-if="initFlag"
           modal-right="1000"
           modal-open-auto="{{!formData.orderMedicalNos.length}}"
           modal-scope="this"
           modal-data='{"pageParamsId":"{{mainStatus.pageParams.id}}"}'
           modal-url="views/saleReturnOrder/edit-right-side.html">
          <i></i>
          <span ng-if="!formData.orderMedicalNos.length">增加退货条目</span>
          <span ng-if="formData.orderMedicalNos.length">修改退货条目</span>
        </a>
      </div>

      <div class="panel pr-panel pd-n pr-fuzzy-boundary pr-panel-height mgb">
        <div class="empty-panel clearfix" ng-if="!formData.orderMedicalNos.length">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>

        <div ng-if="formData.orderMedicalNos.length">

          <div class="flex-row pdt-m pdb-m pd-c-l color-9 bb-dashed-line">
            <div class="flex-item-6">
              <span ng-if="numberingPolicy!='auto'" class="mar-r20">单据编号：
                <input type="text" name="orderCode" class="ipt pr-new-short-ipt text-right" ng-model="formData.orderCode" />
                <em class="color-red" ng-if="!formData.orderCode">（必填）</em>
              </span>
              <span ng-if="numberingPolicy=='auto'" class="mar-r20 vtl-align-m">单据编号：<em class="color-3">{{formData.orderCode || '暂无'}}</em></span>
              <span class="mgr">单据日期: </span>

               <date ng-model="formData.orderDate"></date>
              <!-- <span class="inline-block relative mar-r20">
                <span>单据日期：</span>
                <span class="date-icon-outside">
                  <input ng-if="initFlag" type="text"
                         datepicker
                         class="ipt-date ipt color-3"
                         ng-readonly="true"
                         placeholder=""
                         ng-model="formData.orderDate" />
                  <span class="date-icon"></span>
                </span>
              </span> -->
              <span class="mar-r20 vtl-align-m">审核人：<em class="color-3">{{formData.approver.approverUser.n || '暂无'}}</em></span>
            </div>
            <div class="flex-item-6 text-right">
              <!-- <span class="mgl-l">录单日期：<em class="color-3">{{formData.createAt || '暂无' | date : 'yyyy-MM-dd' }}</em></span> -->
              <!-- <span class="mgr">系统编号：<em class="color-3">{{formData.orderNo || "暂无"}}</em></span> -->

              <span class="mgl-l">状态：<em class="color-3">{{formData.orderStatus || '暂无'}}</span>
            </div>
          </div>

          <div class="flex-row color-9 pdt-m pdb-m pd-c-l line-hei" ng-init="formData.saleUserId=formData.saleUser.id">
            <span class="mgr-l">业务部门：
              <select ng-if="initFlag" class="ipt pr-short-ipt color-3 "
                      placeholder=" "
                      chosen
                      no-first-select-source="true"
                      width="150px"
                      ng-model="formData.salesDepartmentId"
                      select-source="rest/authen/department/queryForSelectOption">
              </select>
            </span>
            <span class="mgr-l">业务人员：
              <select ng-if="initFlag"
                      class="ipt pr-short-ipt color-3" style="width:90px;"
                      data-placeholder=" "
                      chosen
                      no-first-select-source="true"
                      ng-model="formData.saleUserId"
                      select-source="rest/authen/organizationAndUser/queryForSelectOption?departmentId={{formData.salesDepartmentId}}&isReturnNullOfNoCondition=true">
              </select>
            </span>
            <!-- <span class="mgr-l">业务部门：<em class="color-3">{{formData.salesDepartmentName || '暂无'}}</em></span>
            <span class="mgr-l">业务人员：<em class="color-3">{{formData.saleUser.n || '暂无'}}</em></span> -->
            <span class="mgr-l">业务类型：<em class="color-3">{{formData.orderBusinessType || '暂无'}}</em></span>
            <span class="mgr-l">销售类型：<em class="color-3">{{formData.salesType || '暂无'}}</em></span>
          </div>
      </div>
        <div class="">
          <table class="table pr-table pr-new-table" >
            <thead>
              <tr>
                <th class="text-center">商品编号</th>
                <th class="text-left">商品通用名</th>
                <th class="text-center">剂型/分类</th>
                <th class="text-center">规格/型号</th>
                <th class="text-center">单位</th>
                <th class="text-center">可退数量</th>
                <th class="text-center">计划退货数量</th>
                <th class="text-center">预入仓库</th>
                <th class="text-center ">生产批号</th>
                <th class="text-center ">灭菌批号</th>
                <th class="text-center">含税单价</th>
                <th class="text-center">价税合计</th>
                <th class="text-center">失效日期</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr ng-repeat="item in formData.orderMedicalNos | repeatFilter:'formData.orderMedicalNos'"
                  ng-controller="saleReturnMedicalItemController"
                  table-item-handlebtn-component
                  >
                <td class="text-center">{{item.code}}
                  <div class="table-item-handle-btn">
                    <div class="table-item-confirm-del-area" style="height:100px;">
                      <p class="bb-line color-red pd-v">确认删除本条数据?</p>
                      <p class="pdt">
                        <a href="javascript:;" class="cancelHandle" ng-click="cancelHandle()">取消</a>
                        <a href="javascript:;" class="confirm-del-this btn btn-primary pr-btn-best-small pr-btn-bg-gold mgl delete-btn" ng-click="formData.orderMedicalNos.splice($index,1);">确认</a>
                      </p>
                    </div>
                  </div>
                </td><!-- 商品编号 -->
                <td class="text-left" >
                  <span
                       class="color-orange cur-pot lend-order-goods-info"
                       ng-init="showInfoArea=false"
                       ng-mouseenter="showInfoArea=true"
                       ng-mouseleave="showInfoArea=false">{{item.approvedName}}
                    <show-info-modal ng-show="showInfoArea"
                                     get-data-type="local"
                                     template-url="tpl/showInfoModalLendOrder"
                                     info-object="{{item}}"
                                     info-title="商品信息">
                    </show-info-modal>
                  </span>
                </td><!-- 商品全名 -->
                <td class="text-center">{{item.dosageForms}}</td><!-- 规格/型号 -->
                <td class="text-center">{{item.specificationAndModelType}}</td><!-- 规格/型号 -->
                <td class="text-center">{{item.unit}}</td><!-- 单位 -->
                <td class="text-right">{{item.returnQuantity}}</td><!-- 可退数量 -->
                <td class="text-center">
                  <div class="order-goods-num">
                    <button type="button" class="inline-block left" ng-click="item.quantity=item.quantity-1" ng-class="{'disabled':(!item.quantity)}" ng-disabled="!item.quantity">-</button>
                    <span class="inline-block" >
                      <input type="number"
                             min="1"
                             style="width:60px;"
                             class="ipt pr-ipt-60 text-center"
                             name="quantity{{$index}}"
                             ng-change="confirmOrderCalculaTotal(formData.orderMedicalNos);"
                             ng-model="item.quantity"
                             required
                             ng-pattern="/^[1-9]\d*$/"
                             invalid-popover
                             valid-value="{{!saleReturnEditForm['quantity'+$index].$valid}}"
                             popover-show
                             popover-options='{"content":"数量不能小于等于0且不能过大或格式不正确", "placement":"right", "trigger":"manual"}'/>
                    </span>
                    <button type="button" class="inline-block right" ng-click="item.quantity=item.quantity+1">+</button>
                  </div>
                  <p class="mgt-s color-red" ng-if="quantityError">退货数量不能大于当前可退货数量:{{item.returnQuantity}}</p>
                  <!-- <input type="number"
                         style="width:60px;"
                         class="ipt pr-ipt-60 text-right"
                         name="quantity{{$index}}"
                         ng-model="item.quantity"
                         required
                         ng-pattern="/^[1-9]{1,10}?$/"
                         invalid-popover
                         valid-value="{{!saleReturnEditForm['quantity'+$index].$valid}}"
                         popover-show
                         popover-options='{"content":"数量不能小于0且不能过大或格式不正确", "placement":"right", "trigger":"manual"}'/> -->
                </td><!-- 实退数量 -->
                <td class="text-center">
                  <select ng-if="formData.orderBusinessType!='直发销售'" class="pr-select pd-s"
                          style="width:115px;"
                          ng-model="item.warehouseId"
                          ajax-url="rest/authen/warehouse/queryForSelectOption?type=正常库"
                          scope-data="scopeData">
                    <option ng-repeat="option in scopeData" value="{{option.value}}">{{option.text}}</option>
                  </select>
                  <select ng-if="formData.orderBusinessType=='直发销售'" class="ipt pr-short-ipt color-3" style="width:90px;"
                          data-placeholder=" "
                          chosen
                          ng-model="item.warehouseId"
                          select-source="rest/authen/warehouse/queryForSelectOption?type=虚拟库">
                  </select>
                </td><!-- 预入仓库 -->
                <td class="text-center">{{item.productionBatch}}</td><!-- 生产批号 -->
                <td class="text-center">{{item.sterilizationBatchNumber}}</td><!-- 灭菌批号 -->
                <td class="text-right">￥{{item.strike_price |  number:precision}}</td><!-- 报价 -->
                <td class="text-right">￥{{item.strike_price*item.quantity |  number:2}}</td><!-- 报价 -->
                <td class="text-center">{{item.validTill | date : 'yyyy-MM-dd'}}</td><!--有效期至-->
              </tr>
            </tbody>
          </table>
        </div>
        <div class="empty-table clearfix" ng-if="!formData.orderMedicalNos.length">
          <div>&nbsp;</div>
          <div>&nbsp;</div>
          <div>&nbsp;</div>
        </div>
        <div class="bt-line flex-row">
          <p class="flex-item-12 text-right pdb-m pdt-m pd-c-l ">
            <span class="mgr mgl color-9">制单部门：<em class="color-3">{{formData.departmentName || '暂无'}}</em></span>

            <span class="mgr mgl color-9">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span>

            <span class="mgl color-9">制单时间：<em class="color-3">{{formData.createAt || '暂无' | date: 'yyyy-MM-dd HH:mm'}}</em>
          </p>
        </div>
      </div>
      <!-- 其他信息 -->
      <div class="relative panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l pd-c-l mar-t20">
        <!-- 备注 -->
        <div>
          <h1 class="font-size-14 color-3">备注</h1>
          <textarea class="pr-textarea mgb-l mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note" ng-if="formData.note"></textarea>
        </div>
      </div>

        <!-- 流程图 -->
      <business-flow-show business-key="{{formData.id}}" business-type="销售单"></business-flow-show>
    </div>

    <!-- 功能按钮 -->
    <div class="handle-btn-area relative">
      <div class="btn-area">

          <a ng-if="changeFlag" href="javascript:;" class="mgr-l"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="该申请单存在未保存数据，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo({tabHref:'#/saleReturnOrder/query.html',tabName:'销售退货单'})"
             save-callback="submitForm('saleReturnEditForm','exit')">返回销售退货单列表
          </a>
        </a>
          <a class="mgr-l" ng-if="!changeFlag" tab-nav tab-name="销售退货单" tab-href="#/saleReturnOrder/query.html" >返回销售退货单列表</a>

          <span ng-if="$root.hasAuthor('销售退货单删除')">
            <a ng-if="formData.orderCode && formData.orderStatus=='未提交' && formData.id"
               href="javascript:;"
               class="pr-color-red mgr-l"
               handle-this-click
               dialog-title="确认删除?"
               dialog-content="您确认删除这条销售退货单吗?"
               dialog-template="pr-dialog-confirm.html"
               request-url="rest/authen/saleReturnOrder/delete?id={{formData.id}}"
               callback="$root.goTo({tabHref:'#/saleReturnOrder/query.html',tabName:'销售退货单'})">删除
            </a>
          </span>


          <button type="button"
                  class="pr-btn-save-glodbg mgr"
                  ng-click="submitForm('saleReturnEditForm','save')"
                  ng-disabled="!changeFlag || !saleReturnEditForm.$valid || quantityError">保存
          </button>

          <button class="pr-btn-save-glodbg"
                  type="button"
                  handle-this-click
                  dialog-title="确认提示"
                  dialog-content="确认提交?"
                  dialog-template="pr-dialog-submit.html"
                  confirm-btn-txt="确定"
                  callback="submitForm_type='submit';formData.validFlag=true;submitForm1();"
                  ng-disabled="!saleReturnEditForm.$valid || quantityError ||!formData.orderMedicalNos.length || formData.totalPrice>100000">提交
          </button>

      </div>
      <div
          class="price-area relative fl-r mgr-l"
          style="height:100%;font-size:18px;color:#c7a77b;">总计：
          <em class="color-white">￥{{formData.totalPrice || '0.00' |  number:2}}
        </em>

      </div>
    </div>
  </form>
</div>
