<div class="content-wrapper first-medical-application">
  <div class="page-header-info">
    <h1>首营品种申请</h1>
    <p>管理中心 / 药械管理</p>
  </div>
  <!-- 添加流程导航 -->
  <div class="first-medical-nav text-right">
    <span class="active">基本信息</span>
    <span>申请原因</span>
    <span>添加审核资料</span>
  </div>
  <!-- 主体内容 -->
  <div class="content-wrapper-main mgt">
    <form class="form-horizontal">
      <!-- 单号 -->
      <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
        <span class="flex-item-11">申请单：<em class="color-6">SY0123456789</em></span>
        <span class="current-status flex-item-1">
          <strong>状态：未提交</strong>
        </span>
      </div>
      <!-- 基本信息 -->
      <div class="panel pr-panel pr-panel-height mgb">
        <h1 class="pr-font-18">基本信息</h1>
        <div class="">
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">类别：</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" value="option1"> 器械
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" value="option1"> 中药及饮品
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="inlineRadioOptions" value="option1"> 其他药品
                  </label>
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">品种通用名称：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">品种名：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">注册商标：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">品种编码：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">国药统一编码：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335 w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">批准文号：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">备案凭证编号：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">剂型：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">型号规格：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">计量单位：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">包装情况：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">中包装数量：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">件装量：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">税率：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">是否基药：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">采购价：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">零售价：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">生产企业：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">厂址：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">产地：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">存储条件：</label>
                <div class="col-sm-10">
                  <select class="select pr-select pr-short-ipt" name="">
                    <option value="">常温</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">供应单位：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">质量标准：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">有效期：</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control w-335" id="" placeholder="">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pd-v-l bt-line">
          <h1 class="mgb-l">药品的适应或功能主治情况：</h1>
          <textarea class="pr-textarea" name="name" rows="3" cols="40"></textarea>
        </div>
      </div>
      <!-- 功能按钮 -->
      <div class="mgb text-right">
        <span class="mgl"><a href="#/firstMedicalApplication/query.html">返回申请单列表</a></span>
        <span class="mgl">
          <a href="javascript:;"
             class="color-red"
             handle-this-click
             dialog-title="确认删除?"
             dialog-content="删除后将无法恢复,确认删除?"
             dialog-template="pr-dialog-submit.html"
             callback="$root.goTo('#/firstMedicalApplication/query.html')"
             params='{"customerAddressId":formData.customerAddressId,"contactId":formData.id}'
             request-url="rest/authen/customerAddress/contact/delete">删除</a>
        </span>
        <span class="mgl">
          <a href="#" class="btn btn-primary pr-btn-bg-gold">保存</a>
        </span>
        <span class="mgl">
          <a href="#" class="btn btn-primary pr-btn-bg-gold">下一步</a>
        </span>
      </div>
    </form>
  </div>
</div>
