<div class="first-medical-application"
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/firstMedicalApplication/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData');"
     alert-error>

     <div class="header-info relative mgb-l">
       <p class="pdb-s pdt-s crumbs pd-c-xxl">管理中心 >
         <a href="#/firstMedicalApplication/query.html">
            <em class="color-custom-orange">首营管理</em>
         </a>
        <em>>首营品种申请</em>
       </p>
       <div class="pd-c-xxl pdt-l pdb-l">
         <!-- 标题 -->
         <div class="mgb-l">
           <h1 class="color-black pr-font-20">首营品种申请</h1>
         </div>
       </div>
     </div>
  <!-- 主体内容 -->
  <div class="content-wrapper ">
    <div
    step-flow-arrow-show
    step-flow-arrow-json=
  '[{"arrowText":"基本信息","className":"active"},
    {"arrowText":"申请原因","className":"unactive"},
    {"arrowText":"添加审核资料","className":"unactive"}]'>
    </div>
    <div class="content-wrapper-main mgt">
      <form class="form-horizontal"
            id="firstMedical-editForm"
            name="firstMedicalEditForm"
            form-validator
            parameter-body
            action="rest/authen/firstMedicalApplication/saveBaseInfo"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="submitFormAfter('#/firstMedicalApplication/query.html');
            watchFormChange('formData');formData.firstMedical.isBasicMedicine='是';
            bottomButtonList= $root.bottomButtonList.get_medicalStock(formData);">
        <!-- 单号 -->
        <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
          <div class="flex-item-6">
            <span class="flex-item-2">
              单据编号：<em class="color-6">{{formData.orderNo || '暂无'}}</em>
            </span>
            <span class="flex-item-10">
              <span class="flex-item-1 text-right">
                采购员：
              </span>
              <span class="flex-item-2">
                <select class="select pr-select" data-placeholder=" "
                chosen
                default-empty="无"
                ng-model="formData.firstMedical.buyerName"
                select-source="rest/authen/user/queryForSelectOption">
                </select>
              </span>
            </span>
          </div>
          <div class="flex-item-6 text-right">
              录单日期：<em class="color-black mgr-s">{{formData.createAt | date : 'yyyy-MM-dd'}}</em>
              状态：<em class="color-black">{{formData.orderStatus}}</em>
          </div>
        </div>
        <!-- 基本信息 -->
        <div class="panel pr-panel pr-panel-height mgb" style="padding:15px 0;">
            <h1 class="mgb-m mgt color-black text-bold text-n pd-c-l">基本信息</h1>
            <div class="bb-dashed-line">
                <div class="flex-column pd-c-v-l">
                    <label class="radio-inline radio radio-new">
                      <input type="radio" class="default-radio"  name="type" value="药械" ng-model="formData.medical.medicalType"><i style="top:12px;"></i>
                      <em class="inline-block" style="margin-left:-5px; color:#666;">药械</em>
                    </label>
                    <label class="radio-inline radio radio-new">
                      <input type="radio" class="default-radio" name="type" value="中药及饮片" ng-model="formData.medical.medicalType"> <i style="top:12px;"></i>
                      <em class="inline-block" style="margin-left:-5px; color:#666;">中药及饮片</em>
                    </label>

                    <label class="radio-inline radio radio-new">
                      <input type="radio" class="default-radio" name="type" value="其他药品" ng-model="formData.medical.medicalType"> <i style="top:12px;"></i>
                      <em class="inline-block" style="margin-left:-5px; color:#666;">其他药品</em>
                    </label>

                </div>
            </div>
            <div class=" pd-v-m">
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">通用名称：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.medical.approvedName" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">品种名：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="name"
                         ng-model="formData.medical.name" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">品种编码：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="code"
                         ng-model="formData.medical.code" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">规格型号：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new-s ipt-new"
                         name="specification"
                         ng-model="formData.medical.specification" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">剂型：</label>
                <div class="flex-item-10 text-left">
                  <select class="ipt pr-short-ipt ipt-new-s" data-placeholder="选择剂型"
                  chosen
                  default-empty="无"
                  ng-model="formData.medical.dosageForms"
                  select-source="rest/baseData/queryForSelectOptionByType?type=剂型">
                  </select>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">计量单位：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new-s ipt-new"
                         name="measurement"
                         ng-model="formData.medical.measurement" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">包装情况：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="packingCondition"
                         ng-model="formData.medical.packingCondition" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">中包装数量：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="numberOfPackages"
                         ng-model="formData.medical.numberOfPackages"
                         ng-pattern="/^\d+$/"
                         invalid-popover
                         popover-show="!firstMedicalEditForm.numberOfPackages.$valid"
                         popover-options='{"content":"中包装数量格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">件装量：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="pieceLoading"
                         ng-model="formData.medical.pieceLoading"
                         ng-pattern="/^\d+$/"
                         invalid-popover
                         popover-show="!firstMedicalEditForm.pieceLoading.$valid"
                         popover-options='{"content":"件装量格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">有效期：</label>
                <div class="flex-item-10 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=" 有效日期至"
                           ng-model="formData.medical.guaranteePeriod">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">存储条件：</label>
                <div class="flex-item-10 text-left">
                  <select class="select pr-select ipt-new-s pr-short-ipt" name=""
                  ng-model="formData.medical.storageCondition">
                    <option value="常温">常温</option>
                    <option value="冷链">冷链</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="pd-v-m bt-dashed-line">
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">生产企业：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="produceEnterprise"
                         ng-model="formData.medical.manufacturer" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">厂址：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.medical.factoryAddress" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">产地：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="factoryAddress"
                         ng-model="formData.medical.productionPlace" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">供应单位：</label>
                <div class="flex-item-10 text-left">
                  <select class="select-new"
                          ng-model="formData.medical.supplierId"
                          chosen
                          select-source="rest/authen/supplier/queryForSelectOption">
                  </select>
                </div>
              </div>
            </div>
            <div class="pd-v-m bt-dashed-line">
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">注册商标：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="trademark"
                         ng-model="formData.medical.trademark" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">国药统一编码：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="medicalUniformCode"
                         ng-model="formData.medical.medicalUniformCode" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">备案凭证编号：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="filingDocumentNumber"
                         ng-model="formData.medical.filingDocumentNo" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">药品批准文号：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="licenseNumber"
                         ng-model="formData.medical.licenseNumber" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">质量标准：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.medical.quality" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">GMP/GSP证书编号：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.medical.gmpGspCertificateNo" />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">器械注册证号：</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.medical.drugAdministrationCode" />
                </div>
              </div>
            </div>
            <div class="pd-v-m bt-dashed-line">
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">是否基药：</label>
                <div class="flex-item-10 text-left">
                  <select class="select pr-select ipt-new-s pr-short-ipt" ng-model="formData.medical.isBasicMedicine">
                    <option value="是" ng-selected="formData.medical.isBasicMedicine=='是'">是</option>
                    <option value="否" ng-selected="formData.medical.isBasicMedicine=='否'">否</option>
                  </select>
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">牌价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.medical.quoteprice"
                         ng-disabled="formData.medical.isBasicMedicine=='否'"
                         ng-keyup="chkQuoteAndRetail()"
                         name="quoteprice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalEditForm.quoteprice.$valid"
                         popover-options='{"content":"牌价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">零售价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.medical.retailPrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="retailPrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalEditForm.retailPrice.$valid"
                         popover-options='{"content":"零售价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">批发价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.medical.tradePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="tradePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalEditForm.tradePrice.$valid"
                         popover-options='{"content":"批发价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">采购价：￥</label>
                <div class="flex-item-10 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s text-right"
                         placeholder="0.00"
                         ng-model="formData.medical.purchasePrice"
                         ng-keyup="chkQuoteAndRetail()"
                         name="purchasePrice"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstMedicalEditForm.purchasePrice.$valid"
                         popover-options='{"content":"采购价格式不正确", "placement":"right", "trigger":"manual"}' />
                </div>
              </div>
              <div class="flex-column mgt">
                <label class="flex-item-2 text-right control-label pdr-s">税率：</label>
                <div class="flex-item-10 text-left">
                  <select class="select pr-select ipt-new-s pr-short-ipt"
                          ng-model="formData.medical.tax"
                          ng-options="tax for tax in [3,17]">
                  </select>
                </div>
              </div>
            </div>
          </div>

        <!-- 申请原因-->
        <div class="panel pr-panel pr-panel-height mgb">
          <h1 class="pr-font-18 mgb">新品引进原因</h1>
          <div class="">
            <textarea class="pr-textarea" name="applyReason" rows="8" cols="40" ng-model="formData.applyReason"></textarea>
          </div>
        </div>
        <!-- 审核资料 -->
        <div ng-init='attachmentsExtend={"title":"资质文件","usege":"首营品种申请","addFlag":false}'
         attachments-edit ng-model="formData.attachments" attachments-extend="attachmentsExtend" >
       </div>
       <div class="color-black mgt-l" style="margin-bottom:100px;">
         <p>
           <p class="pr-font-14">说明：</p>
           <p>1.品种资质必须加供货企业红色原公章；</p>
           <p>2.采购人员按要求向供货商(生产企业／经营企业)所要并和事资质的真实合法性，并如实填写本表；</p>
         </p>
       </div>
        <!-- 功能按钮 -->
        <div class="handle-btn-area relative">

          <div class="mgb text-right btn-area">
              <span class="mgl">
                <a ng-if="changeFlag"  href="javascript:;"
                   handle-this-click
                   dialog-title="确认返回?"
                   dialog-content="该申请单存在未保存数据，是否保存?"
                   dialog-template="pr-dialog-return.html"
                   nosave-callback="goTo('#/firstMedicalApplication/query.html')"
                   save-callback="submitForm('editForm','exit');
                   $root.goTo('#/firstMedicalApplication/query.html')">返回申请单列表</a>
                <a ng-if="!changeFlag" href="#/firstMedicalApplication/query.html">返回申请单列表</a>
              </span>
            <span class="mgl">
              <button class="pr-btn-save-glodbg mgt"
                      ng-disabled="!changeFlag || firstMedicalApplication.$invalid"
                      ng-click="submitForm('first-enterprise-editForm','save')">保存</button>
            </span>
            <span class="mgl">
              <button class="pr-btn-save-glodbg mgt"
                      type="button"
                    ng-click="submitForm('editForm','submit-medical')">提交
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
</div>
