<div class="first-medical-application"
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/firstMedicalApplication/get.json?id={{mainStatus.pageParams.id}}"
     scope-data="showData"
     callback='initFlag=true;'
     alert-error>
     <div class="header-info relative mgb-l">
       <p class="pdb-s pdt-s crumbs pd-c-xxl">管理中心 >
         <a href="#/firstMedicalApplication/query.html">
            <em class="color-custom-orange">首营管理</em>
         </a>
        <em>>首营品种申请</em>
       </p>
       <div class="pd-c-xxl pdt-l pdb-l">
         <!-- 标题 -->
         <div class="mgb-l">
           <h1 class="color-black pr-font-20">首营品种申请</h1>
         </div>
       </div>
       <div ng-if="showData.orderStatus=='已冻结'"
        class="pr-panel pr-panel-height mgb"
        ajax-url="rest/authen/versionFlow/query?pageSize=1& businessKey={{showData.id}}"
        scope-data="versionFlowList"
        alert-error
        >
       </div>
     </div>

  <!-- 主体内容 -->
  <div class="content-wrapper">
    <div class="content-wrapper-main mgt">
      <div class=" mgb"
      ajax-if-eval="initFlag"
      ajax-url="rest/authen/workflowTask/getExtendShowNameList?businessKey={{showData.id}}"
      scope-data="scopeData">
      <div
      ng-repeat="item in scopeData"
      ng-class="{'pr-bg-blue':(item.event.conditionType=='建议引进'||item.event.conditionType=='资质审核符合规范要求'),
      'pr-bg-pink1':(item.event.conditionType=='暂不引进'||item.event.conditionType=='资质审核不符合规范要求')}"
      class="pr-panel pr-panel-height mgb"
      ng-show="item.key">
      <em class="color-3">{{item.event.extendShowName}}补充说明:</em>
       <p class="inline-block color-3">
       <em ng-model="scopeData.operationFlowSet.message">{{item.key}}</em>
       </p>
     </div>
      <!-- 单号 -->
      <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
        <div class="flex-item-6">
          <span class="flex-item-2">
            单据编号：<em class="color-6">{{showData.orderNo || '暂无'}}</em>
          </span>
          <span class="flex-item-10">
            <span class="flex-item-1 text-right">
              采购员：
            </span>
            <span class="flex-item-2">
              {{showData.buyerName ||'暂无'}}
            </span>
          </span>
        </div>
        <div class="flex-item-6 text-right">
            录单日期：<em class="color-black mgr-s">{{showData.createAt | date : 'yyyy-MM-dd' ||'暂无'}}</em>
            状态：<em class="color-black">{{showData.orderStatus ||'暂无'}}</em>
        </div>
      </div>
      <!-- 审批 -->

        <div ng-if="showData.orderStatus!='未提交'" class=" first-medical-nav-new">
          <div class=""
          ng-class="{'pr-pass-bg':(item.event.conditionType=='建议引进'||item.event.conditionType=='资质审核符合规范要求'),
          'pr-nopass-bg':(item.event.conditionType=='暂不引进'||item.event.conditionType=='资质审核不符合规范要求')}"
          ng-repeat="item in scopeData">
            <div
            ng-class="{'pr-pass-bdbg-tb':(item.event.conditionType=='建议引进'||item.event.conditionType=='资质审核符合规范要求')
            ,'pr-nopass-bdbg-tb':(item.event.conditionType=='暂不引进'||item.event.conditionType=='资质审核不符合规范要求')}"></div>
            <span class="mgr-xl flex-column" ng-if="item.event.status!='待审核'">
              <em class="color-9 flex-item-6 text-right">{{item.event.extendShowName || '暂无'}}：</em>
              <em class="flex-item-6 text-left">{{item.event.conditionType }}</em>
            </span>
            <span class="mgr-xl flex-column " ng-if="item.event.status!='待审核'">
              <em class="color-9 flex-item-6 text-right">审核人：</em>
              <em class="flex-item-6 text-left">{{item.inputUser || '暂无'}}</em>
            </span>
            <span class="mgr-xl flex-column " ng-if="item.event.status!='待审核'">
              <em class="color-9 flex-item-6 text-right">审核时间：</em>
              <em class="flex-item-6 text-left">{{item.createAt | date:'yyyy-MM-dd' || '暂无'}}</em>
            </span>
            <div
            ng-class="{'pr-pass-bdbg-l':(item.event.conditionType=='建议引进'||item.event.conditionType=='资质审核符合规范要求'),
            'pr-nopass-bdbg-l':(item.event.conditionType=='暂不引进'||item.event.conditionType=='资质审核不符合规范要求')}" ></div>
          </div>
          <div>
            <!-- <div></div><div></div> -->
          </div>
        </div>
     </div>
        <!-- 审核信息 -->
        <!-- <div ng-if="showData.orderStatus!='未提交'" class="panel pr-panel pr-panel-height mgb color-9" style="position:relative;top:-10px;">
          <span class="mgr-l" ng-repeat="eventRecord in showData.eventRecords">
            <span>{{eventRecord.event.id}}：</span>
            <em ng-class="{'color-6':eventRecord.event.status=='待审核','color-green':eventRecord.event.status=='已通过','color-red':eventRecord.event.status=='未通过'}">{{eventRecord.event.status}}</em>
          </span>
        </div> -->
        <!-- 基本信息 -->
        <div class="panel pr-panel pr-panel-height mgb">
          <h1 class="mgb mgt color-black text-bold pr-font-18">基本信息</h1>
          <div class="">
            <div class="flex-column mgb">
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">通用名称：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.approvedName}}</span>
              </div>
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">剂型：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.dosageForms}}</span>
              </div>
            </div>
            <div class="flex-column mgb">
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">生产企业：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.manufacturer}}</span>
              </div>
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">规格：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.specification}}</span>
              </div>
            </div>
            <div class="flex-column mgb">
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">供货企业：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.supplierName}}</span>
              </div>
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">装箱规格：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.packingSpecification}}</span>
              </div>
            </div>
            <div class="flex-column mgb">
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">药品批准文号：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.approvalNo}}</span>
              </div>
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">零售价：</span>
                <span class="flex-item-10 pr-indent-10">￥{{showData.medical.price}}</span>
              </div>
            </div>
            <div class="flex-column mgb">
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">质量标准：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.quality}}</span>
              </div>
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">批发价：</span>
                <span class="flex-item-10 pr-indent-10">￥{{showData.medical.tradePrice}}</span>
              </div>
            </div>
            <div class="flex-column mgb">
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">GMP/GSP证书编号：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.gmpGspCertificateNo}}</span>
              </div>
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">采购价：</span>
                <span class="flex-item-10 pr-indent-10">￥{{showData.medical.purchasePrice}}</span>
              </div>
            </div>
            <div class="flex-column mgb">
              <div class="flex-item-6 flex-column">
                <span class="flex-item-2 text-right">器械注册证号：</span>
                <span class="flex-item-10 pr-indent-10">{{showData.medical.drugAdministrationCode}}</span>
              </div>
            </div>
        </div>
      </div>
        <!-- 申请原因 -->
        <div class="panel pr-panel pr-panel-height mgb">
          <h1 class="pr-font-18 mgb">新品引进原因</h1>
          <span>{{showData.applyReason}}</span>
        </div>
        <!-- 审核资料 -->
        <div ng-init='attachmentsExtend={"title":"审核资料"}'  attachments-show ng-model="showData.attachments" attachments-extend="attachmentsExtend" ></div>


        <!-- <div ng-if="showData.didateFilter.buttons.length>0&& showData.orderStatus!='未提交'"
             workflow-task-run-with-attchments
             custom-menu-arr="{{showData.didateFilter.buttons}}"
             workflow-bottom-button="bottomButtonList"
             attchment-usege="首营品种申请">
        </div> -->

      </div>

      <div ng-if="showData.orderStatus!='未提交'" class="handle-btn-area relative">
        <div  class="mgb text-right btn-area">
          <span class="mgl mgt">
            <a href="#/firstMedicalApplication/query.html">返回申请单列表</a>
          </span>
          <span ng-if="showData.didateFilter.buttons.length>0"
                custom-menu-list
                custom-menu-arr="{{showData.didateFilter.buttons}}" class="mgt">
          </span>
        </div>
      </div>
      <div ng-if="showData.orderStatus=='未提交'" class="handle-btn-area relative">
        <div  class="mgb text-right btn-area">
            <span class="mgl" ><a href="#/firstMedicalApplication/edit-step-3.html?id={{showData.id}}">返回修改</a></span>
            <span class="mgl">
              <a ng-if="showData.id && showData.proposerName==mainStatus.name"
                 href="javascript:;"
                 class="color-red mgt"
                 handle-this-click
                 dialog-title="确认删除?"
                 dialog-content="删除后将无法恢复,确认删除?"
                 dialog-template="pr-dialog-submit.html"
                 callback="$root.goTo('#/firstMedicalApplication/query.html')"
                 params='{"id":showData.id}'
                 request-url="rest/authen/firstMedicalApplication/delete">删除</a>
            </span>
            <span class="mgl">
              <button class="pr-btn-save-glodbg mgt"
                      type="button"
                      ajax-url-submit="rest/authen/firstMedicalApplication/startProcessInstance"
                      params='{"businessKey":showData.id}'
                      alert-error
                      scope-data="showData"
                      callback="$root.utils.refreshHref()">提交
              </button>
            </span>
        </div>
    </div>
</div>
