<div class="first-medical-application">
  <!-- 主内容头部 -->
  <page-main-header-component list-params="listParams"
                              crumbs-nav='[{"name":"供应商中心","link":"","style":""},{"name":"首营管理","link":"","style":"color-custom-orange"}]'
                              is-show-select-item='[{"name":"首营品种申请","link":"#/firstMedicalApplication/query.html"},{"name":"首营企业申请","link":"#/firstEnterpriseApplication/query.html"}]'
                              is-show-create-btn="新建首营品种申请"
                              create-new-url="#/firstMedicalApplication/edit1.html"
                              get-status-num-url="rest/authen/firstMedicalApplication/countByOrderStatus.json"
                              status-group-data='[["未提交-true","待审核-true","已通过-true"], ["已作废-true"]]'
                              is-show-business-btn-group=true
                              is-show-key-filter=true
                              search-placeholder-info="药械名 / 单据编号 / 采购员"
                              get-business-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType">
  </page-main-header-component>
  <!-- 主内容区域 -->
  <table-list list-data="rest/authen/firstMedicalApplication/query.json"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">
    <div class="content-wrapper ">
      <div class="content-wrapper-main">
        <div ng-if="!status.isLoading">
          <div ng-if="tbodyList.length==0">
            <p class="empty-data text-center"><span class="empty-data-icon"></span></p>
            <p class="text-center">什么也没有</p>
          </div>
          <ul ng-if="tbodyList.length">
            <li class="pdr pdl relative confirm-order-list" ng-repeat="tr in tbodyList">
              <div class="mgb-xl pr-bg-white pr-fuzzy-boundary relative"
                   ng-class="{'pr-bg-grey2':(tr.orderStatus=='已作废')}">
                <div class="relative">
                  <div class="flex-column">
                    <span class="flex-item-6 title-states text-bold pdt-m">
                      <em class="pd-m" ng-class="{'color-6':tr.orderStatus=='待审核','color-green':tr.orderStatus=='已通过','color-red':(tr.orderStatus=='已作废')}">
                        {{tr.orderStatus}}
                      </em>
                    </span>
                    <span class="flex-item-6 text-right" ng-class="{'hei-50':($root.hasAuthor('首营品种维护')&&tr.orderStatus=='未提交'&& mainStatus.id!=tr.proposerId)}">
                        <a
                           ng-if="$root.hasAuthor('首营品种维护')&&tr.orderStatus=='未提交'&& mainStatus.id==tr.proposerId"
                           ng-href="#/firstMedicalApplication/edit.html?id={{tr.id}}" class="btn-link pd-m rect-s " title="编辑">
                         <span class="edit-link-icon">&nbsp;</span>
                       </a>
                        <a ng-if="tr.orderStatus=='已通过' || tr.orderStatus=='已作废'||(tr.orderStatus=='待审核'&&!$root.utils.getcustomMenuByKeyOfArr(tr.didateFilter.buttons,'通过'))"
                           ng-href="#/firstMedicalApplication/get.html?id={{tr.id}}" title="查看详情"  class="btn-link pd-m rect-s" >
                           <span class="watch-detail-icon">&nbsp;</span>
                         </a>
                        <a ng-if="tr.orderStatus=='待审核' && $root.utils.getcustomMenuByKeyOfArr(tr.didateFilter.buttons,'通过')"
                           ng-href="#/firstMedicalApplication/get.html?id={{tr.id}}" title="立即审批"  class="btn-link pd-m rect-s" >
                           <span class="examine-approve">&nbsp;</span>
                         </a>
                         <a  ng-if="(tr.orderStatus=='未提交')&& mainStatus.id==tr.proposerId"
                            href="javascript:;"
                            class="btn-link pd-m rect-s "
                            handle-this-click
                            dialog-title="确认删除?"
                            dialog-content="删除后将无法恢复,确认删除?"
                            dialog-template="pr-dialog-submit.html"
                            callback="$root.goTo('#/firstMedicalApplication/query.html')"
                            params='{"id":tr.id}'
                            title="删除"
                            request-url="rest/authen/firstMedicalApplication/delete">
                          <span class="delete-link-icon">&nbsp;</span>
                          </a>
                      </span>
                  </div>
                  <div class="card-new">
                      <div class="bt-line">
                        <h1 class="text-center text-m color-black text-ellips-s">  {{tr.medical.approvedName || '未知名称'}}</h1>
                      </div>
                      <div class="flex-column qurey text-s color-9 bt-dashed-line">
                        <span class="flex-item-6 ">单据编号</span>
                        <span class="flex-item-6 text-right pr-indent-10"><strong class="color-black text-normal">{{tr.orderNo}}</strong></span>
                      </div>
                      <div class="flex-column qurey text-s color-9 bt-dashed-line">
                        <span class="flex-item-6 text-left">录单日期</span>
                        <span class="flex-item-6 text-right">
                            <strong class="color-black text-normal">{{tr.createAt | date : 'yyyy-MM-dd'}}</strong>
                        </span>
                      </div>
                      <div class="flex-column qurey text-s color-9 bt-dashed-line">
                        <span class="flex-item-6 text-left">填报部门</span>
                        <span class="flex-item-6 text-right">
                            <strong class="color-black text-normal">{{tr.departmentName}}</strong>
                        </span>
                      </div>
                      <div class="flex-column qurey text-s color-9 bt-dashed-line">
                        <span class="flex-item-6 text-left">采购员</span>
                        <span class="flex-item-6 text-right purchaseorder-buyer-info-outside">
                          <strong run-popovers class="color-custom-orange cur-pot text-normal pr-color"
                          style="position:relative;height:25px;">{{tr.buyer.n}}</strong>
                          <span class="purchaseorder-buyer-info">
                            <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{tr.buyer.p}}</em></i>
                            <i class="block pdb-s text-normal">
                              <em class="fa fa-comment-o mgl"></em>
                              <em class="inline-block pdl pdr pdt">
                                <a href="javascript:;"
                                   modal-center="490"
                                   modal-data='{"toUser":{"n":"{{tr.buyer.n}}"},"userIds":["{{tr.buyer.id}}"]}'
                                   modal-url="views/notice/sendToUser.html">发送消息
                                </a>
                              </em>
                            </i>
                          </span>
                        </span>
                      </div>
                      <div class="flex-column qurey text-s color-9 mgb bt-line">
                        <p ng-if="tr.orderStatus!='已作废'"
                           title="{{tr.applyReason}}"
                           class="text-ellips-s">
                          <span >备注：</span><span class="color-6">{{tr.applyReason}}</span>
                        </p>
                        <p ng-if="tr.orderStatus=='已作废'"
                           ng-controller="QualificationApplyCtrl"
                           ng-init="initFlag=true;"
                           title="{{tr.operationFlowSet.key}}{{tr.operationFlowSet.message}}"
                           class="text-ellips-s color-red">
                          <span>原因：</span>
                          <span class="color-red">
                            <em ng-model="tr.operationFlowSet.key">{{tr.operationFlowSet.key}}</em>
                            <em ng-model="tr.operationFlowSet.message">{{tr.operationFlowSet.message}}</em>
                          </span>
                        </p>
                      </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- 分页导航 -->
    <div class="clearfix pd-c-xxxl" ng-if="tbodyList.length">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>
  </table-list>
</div>
