<div class="modal-content" ng-controller="editCtrl">
  <form class="add-customerAddress-form form-horizontal"
        action="rest/authen/supplier/save"
        ajax-url="rest/authen/supplier/getOfEdit.json?id={{tr.id}}"
        scope-data="formData"

          parameter-body
        alert-error
        form-validator>
    <div class="modal-header">
        <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
        <h4 class="modal-title">{{formData&&formData.id?"编辑":"添加"}}供货商</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label text-left">类型</label>
          <div class="col-lg-10 col-sm-10">

            <select class="ipt pr-short-ipt" data-placeholder=""  ng-model="formData.type" chosen
            select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Basic_SupplierType">

            </select>

          </div>
      </div>
      <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label text-left">供货商</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text" class="form-control" placeholder="供货商" ng-model="formData.name"/>
          </div>
      </div>

      <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">发货人</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text" class="form-control" placeholder="" ng-model="formData.contact.name"/>
          </div>
      </div>
      <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">手机</label>
          <div class="col-lg-10 col-sm-10">
              <input type="tel" class="form-control" placeholder="请填写联系手机号码" ng-model="formData.contact.tel"/>
          </div>
      </div>
      <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">email</label>
          <div class="col-lg-10 col-sm-10">
              <input type="tel" class="form-control" placeholder="" ng-model="formData.contact.email"/>
          </div>
      </div>

      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">省/市/区</label>
          <div class="col-lg-10 col-sm-10">
            <input class="form-control"
                   ng-init="province_city_area=formData.contact.prov+' '+formData.contact.city+' '+formData.contact.area"
                   select-address p="formData.contact.prov" c="formData.contact.city" a="formData.contact.area" d="d" ng-model="province_city_area" placeholder="请选择省/市/区" type="text"
                   required/>
              </div>
      </div>

        <div class="form-group mgb">
            <label class="col-lg-2 col-sm-2 control-label">详细地址</label>
            <div class="col-lg-10 col-sm-10">
                <input type="text" class="form-control" placeholder="详细收货地址" ng-model="formData.contact.address"/>
            </div>
        </div>

      <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label"></label>
          <div class="col-lg-10 col-sm-10">
              <input type="submit" class="btn pr-btn-create-glodbg" value="提交" ng-disabled="!formData.name ">
          </div>
      </div>
    </div>
  </form>
</div>
