<style media="screen">
  .ngdialog.ngdialog-theme-right .ngdialog-close:before{
    top:8px!important;
  }
</style>
<div class="sale-return-order right-side dialog-bgc"
     ajax-url="rest/authen/qualificationCertificate/getOfEdit.json?id={{dialogData.id}}"
     scope-data="formData"
     callback="initFlag=true"
     ng-controller="licenseController"
     alert-error>
<div>
    <!-- 头部信息 -->
      <form class="form-horizontal"
            id="licenseEnterprise_from"
            name="licenseEnterprise_from"
            form-validator
            parameter-body
            action="rest/authen/qualificationCertificate/save.json"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="listObject.reloadTime=$root.utils.getNowTime()">

    <div class="relative">
        <div ng-if="dialogData.enterFlag=='true'" class="mgb-l pd-c-l pdt pdb pr-font-14 color-light-brown entry-detailed-btm text-bold dialog-bgc">新增资质证照</div>
        <div ng-if="dialogData.enterFlag=='false'" class="mgb-l pd-c-l pdt pdb pr-font-14 color-light-brown entry-detailed-btm text-bold dialog-bgc">新增电子档案</div>
      <div class="pr-panel-height select-bg" style="padding:15px 0;" ng-show="formData.id">
          <h1 ng-if="dialogData.enterFlag=='true'" class="flex-item-2 text-right pdr-s mgl-s pr-fw-700 font-w0 mgr-s" style="line-height: 20px;">证照类型</h1>
          <h1 ng-if="dialogData.enterFlag=='false'" class="flex-item-2 text-right pdr-s mgl-s pr-fw-700 font-w0 mgr-s" style="line-height: 20px;">档案类型</h1>
          <div class="color-white mgl-s"
               style="width:100%;"
                 ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=License_SystemPresetLicenseType">{{formData.licenseTypeName}}
          </div>
      </div>


        <div class="pr-panel-height select-bg" style="padding:15px 0;" ng-show="!formData.id">
            <label ng-if="dialogData.enterFlag=='true'" class="flex-item-2 text-right pdr-s font-w0 mgl-s mgt-s">证照类型</label>
            <label ng-if="dialogData.enterFlag=='false'" class="flex-item-2 text-right pdr-s font-w0 mgl-s mgt-s">档案类型</label>
            <input type="text"
                   name="code"
                   class="license-text padd-10 mgl-s"
                   ng-model="formData.licenseTypeName"
                   />
            <!--<select class="ipt ipt-new-select color-3"-->
                    <!--data-placeholder=" "-->
                    <!--default-empty="全部"-->
                    <!--chosen-->
                    <!--style="width:220px"-->
                    <!--ng-model="formData.licenseTypeName"-->
                    <!--select-source="rest/index/queryBasicdataForSelectOption?basicDataType=License_SystemPresetLicenseType">-->
            <!--</select>-->
        </div>

    </div>
    <div class="flex-row mgt mgb-l">
        <label class="flex-item-2 text-right pdr-s font-w0 mgl-s mar-t3" style="margin-top:5px;">是否预警</label>
        <div class="mgl-s text-left">
            <select class="ipt pr-short-ipt ipt-new-s "
                    chosen
                    default-empty="-请选择-"
                    ng-model="formData.isWarning"
                    select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_BooleanType">
            </select>
        </div>
    </div>
    <div class="flex-row mgt">
        <label class="flex-item-2 text-right pdr-s font-w0 mgl-s mar-t3">证照过期控制</label>
        <div class="mgl-s text-left">
            <select class="ipt pr-short-ipt ipt-new-s "
                    data-placeholder=" "
                    chosen
                    default-empty="-请选择-"
                    ng-model="formData.controllType"
                    select-source="rest/index/queryBasicdataForSelectOption?basicDataType=License_ControllType"
            >
            </select>
        </div>
    </div>

      <div class="mgb-l pd-c-l pr-font-12 color-light-brown flex-row pr-fw-700 font-w0 mgt-m">关联企业类型
          <div class="form-ctrl  mgl-s" style="width:400px;"
               ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=License_SystemPresetCompanyType"
               scope-data="departments"
               alert-error>
                  <label class="mycheck-new  relative " style="margin-right:30px;margin-top:0px;" ng-repeat="item in departments track by $index" >
                      <input ng-if="initFlag" type="checkbox"
                             id="licenseEnterprise1{{$index + 1}}1"
                             value="{{item.value}}"
                             checkbox-group="formData.enterpriseType"
                             class="click-reverse-selection3 mgl-m quali-position">
                             <label style="top:7px;left:5px;" for="licenseEnterprise1{{$index + 1}}1"></label>
                             <em style="padding:0px 20px;color:white;">{{item.text}}</em>
                  </label>
              <!--ng-controller="licenseController"-->
              <!--ng-click="licenseCommodityType(item);"-->
              <!--ng-checked="{{formData.enterpriseType.indexOf(item.text)>-1?true:false}}"-->

          </div>
      </div>
        <!-- 备注 -->
        <div class="mgb-l pr-font-12 color-light-brown flex-row">
            <h1 class="quali-pd-l pr-fw-700 font-w0">备注</h1>
            <div class="panel pr-fuzzy-boundary pr-panel-height mgb-l mgl-s">
                <!--<input type="text" class="">-->
                <textarea class="pr-textarea" maxlength="240" style="height:92px;min-width: 320px;" placeholder="" ng-model="formData.remark" onkeydown="if(window.event.keyCode==13) return true;"></textarea>
            </div>
        </div>
      <!-- 功能按钮 -->
      <div class="sales-btn-area-2nd relative dialog-bgc">
          <div class="btn-area full-width text-center bgc-none">
          <button ng-if="!formData.id"
                  type="button"
                  class="pr-btn-save-glodbg mgr-l"
                  ng-disabled="!formData.licenseTypeName || !formData.isWarning ||!formData.controllType || formData.enterpriseType.text"
                  ng-click="submitForm('licenseEnterprise_from','submit-licenseType')"
                  style="width:160px;">确定
          </button>
              <button  href="javascript:;" ng-if="formData.id"
                      class="pr-btn-save-glodbg mgt"
                      type="button"
                      modal-center="350"
                      modal-scope="this"
                      modal-data='{"title":"确认提示",
                             "content1":"请输入修改内容",
                             "content2":"请输入修改原因",
                             "btnConfirm":"确定",
                             "btnCancel":"取消",
                             "url":"rest/authen/qualificationCertificate/save.json?licenseType=公司&licenseSonType={{dialogData.licenseSonType}}",
                             "goUrl":"",
                             "urlType":"submit-licenseType"
                            }'
                      tpl-url="tpl/pr-dialog-content-licenseEnterprise.html"
                       style="width:160px;"
              >确认</button>
          </div>
      </div>
      </form>
  </div>
</div>
