<div class="first-medical-application first-enterprise-application"
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/firstEnterpriseApplication/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData');"
     alert-error
     ng-init="formData.validFlag=false">
     <div class="header-info relative mgb-l">
       <p class="pdb-s pdt-s crumbs pd-c-xxl">管理中心 >
         <a href="#/firstEnterpriseApplication/query.html">
            <em class="color-custom-orange">首营管理</em>
         </a>
        <em>>首营企业申请</em>
       </p>
       <div class="pd-c-xxl pdt-l pdb-l">
         <!-- 标题 -->
         <div class="mgb-l">
           <h1 class="color-black pr-font-20">首营企业申请</h1>
         </div>
       </div>
     </div>
  <!-- 主体内容 -->
  <div class="content-wrapper ">
    <div class="content-wrapper-main mgt">
      <form class="form-horizontal"
            id="first-enterprise-editForm"
            name="firstEnterpriseEditForm"
            form-validator
            parameter-body
            action="rest/authen/firstEnterpriseApplication/saveBaseInfo"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="submitFormAfter('#/firstEnterpriseApplication/query.html');watchFormChange('formData')">
            <!-- 单号 -->
            <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
              <div class="flex-item-6">
                <span class="flex-item-12">
                  单据编号：<em class="color-6 mgr-s">{{formData.orderNo || '暂无'}}</em>
                  采购员：<span>
                            <select class="select pr-select ipt-new-s" data-placeholder=" "
                            chosen
                            default-empty=""
                            ng-model="formData.buyerId"
                            select-source="rest/authen/user/queryForSelectOption">
                            </select>
                        </span>
                </span>
              </div>
              <div class="flex-item-6 text-right">
                  录单日期：<em class="color-black mgr-s">{{formData.createAt | date : 'yyyy-MM-dd'}}</em>
                  状态：<em class="color-black">{{formData.orderStatus}}</em>
              </div>
            </div>
        <!-- 基本信息 -->
        <div class="panel pr-panel pr-panel-height mgb">
            <h1 class="mgb-m mgt color-black text-bold text-n">基本信息</h1>
            <div class="bb-dashed-line mgb">
                <div class="flex-column mgb">
                    <label class="radio-inline radio radio-new">
              <input type="radio" class="default-radio"  name="type" value="生产企业" ng-model="formData.type"><i style="top:12px;"></i>
              <em class="inline-block" style="margin-left:-5px; color:#666;">生产企业</em>
            </label>
                    <label class="radio-inline radio radio-new">
              <input type="radio" class="default-radio" name="type" value="经营企业" ng-model="formData.type"> <i style="top:12px;"></i>
                <em class="inline-block" style="margin-left:-5px; color:#666;">经营企业</em>
            </label>
                </div>
            </div>
            <div class=" pd-v-m">
                <div class="flex-column mgt">
                    <label class="flex-item-2 text-right control-label">企业名称：</label>
                    <div class="flex-item-10 text-left">
                        <input type="text" class="ipt-new" name="genericName" ng-model="formData.name" />
                    </div>
                </div>
                <div class="flex-column mgt">
                    <label class="flex-item-2 text-right control-label">详细地址：</label>
                    <div class="flex-item-10 text-left">
                        <input type="text" class="ipt-new" name="name" ng-model="formData.address" />
                    </div>
                </div>

                <div class="flex-column mgt">
                    <label class="flex-item-2 text-right control-label">拟定购进商品类别：</label>
                    <div style="float:left;width:21%;" ng-if="initFlag" ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_CommodityType" scope-data="scopeData">
                        <div class="mycheck-new" ng-repeat="item in scopeData">
                            <input class="relative" type="checkbox" id="{{$index + 1}}1" ng-model="item.value" ng-click="choiceCommodityType(item);" />
                            <label for="{{$index + 1}}1"></label>
                            <em class="color-black">{{item.text}}</em>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" pd-v-m bt-dashed-line">
                <div class="flex-column mgt">
                    <label class="flex-item-2 text-right control-label">质量部联系人/电话：</label>
                    <div class="flex-item-10 text-left">
                        <input type="text"
                               class="ipt-new mgr-s"
                               style="width:100px;"
                               name="qualityPerson"
                               ng-model="formData.qualityPerson.name" />
                        <input type="text"
                               class="ipt-new"
                               style="width:230px;"
                               name="genericName"
                               ng-model="formData.qualityPerson.tel"
                               ng-pattern="/^\d+$/"
                               invalid-popover

                               popover-options='{"content":"电话号码格式不正确", "placement":"right", "trigger":"manual"}' />
                               <!-- popover-show="!firstMedicalEditForm.genericName.$valid" -->
                    </div>
                </div>
                <div class="flex-column mgt">
                    <label class="flex-item-2 text-right control-label">财务部联系人/电话：</label>
                    <div class="flex-item-10 text-left">
                        <input type="text"
                               class="ipt-new mgr-s"
                               style="width:100px;"
                               name="name"
                               ng-model="formData.financePerson.name" />
                        <input type="text"
                               class="ipt-new"
                               style="width:230px;"
                               name="tel"
                               ng-model="formData.financePerson.tel"
                               ng-pattern="/^\d+$/"
                               invalid-popover

                               popover-options='{"content":"电话号码格式不正确", "placement":"right", "trigger":"manual"}' />
                                <!-- popover-show="!firstMedicalEditForm.tel.$valid" -->
                    </div>
                </div>
            </div>
        </div>

        <div class="panel pr-panel pr-panel-height mgb">
          <h1 class="mgb-m color-black text-bold text-n">三证</h1>
          <h3 class="crumbs-circle color-black pr-indent-10 pd-v">营业执照</h3>
          <div class="flex-column">
            <div class="flex-item-6 br-dashed-line">
              <div class="mgt-m flex-item-12">
                <label class="flex-item-4 text-right control-label">注册号：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.businessLicense.registrationNumber" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">发证日期：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.businessLicense.dateOfIssue">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">有效期至：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.businessLicense.guaranteePeriod">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">注册资金：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="genericName"
                         ng-model="formData.businessLicense.registeredCapital" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">企业法人：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="genericName"
                         ng-model="formData.businessLicense.legalRepresentative" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">负责人：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="genericName"
                         ng-model="formData.businessLicense.head" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right">质量负责人：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="genericName"
                         ng-model="formData.businessLicense.qualityHead" />
                </div>
              </div>

              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right">经营方式：</label>
                <div class="flex-item-6 text-left">
                  <label class="radio-inline radio radio-new" style="top:-5px;">
                    <input type="radio" class="default-radio"  name="businessWay" value="批发" ng-model="formData.businessLicense.businessWay" required><i style="top:10px;"></i>
                    <em class="inline-block color-black" style="top:-20px">批发</em>
                  </label>
                  <label class="radio-inline radio radio-new" style="top:-5px;">
                    <input type="radio" class="default-radio"  name="businessWay" value="生产" ng-model="formData.businessLicense.businessWay" required><i style="top:10px;"></i>
                    <em class="inline-block color-black text-right" style="padding-top:0px;">生产</em>
                  </label>
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right">是否年检：</label>
                <div class="flex-item-6 text-left">
                  <label class="radio-inline radio radio-new" style="top:-5px;">
                    <input type="radio" class="default-radio"  name="isAnnualInspection" value="是" ng-model="formData.businessLicense.isAnnualInspection" required><i style="top:10px;"></i>
                    <em class="inline-block color-black" style="top:-20px">是</em>
                  </label>
                  <label class="radio-inline radio radio-new" style="top:-5px;left:12px;">
                    <input type="radio" class="default-radio"  name="isAnnualInspection" value="否" ng-model="formData.businessLicense.isAnnualInspection" required><i style="top:10px;"></i>
                    <em class="inline-block color-black text-right" style="padding-top:0px;">否</em>
                  </label>
                </div>
              </div>
              <div class="mgt flex-item-12 mgb">
                <label class="flex-item-4 text-right">三证合一：</label>
                <div class="flex-item-6 text-left">
                  <label class="radio-inline radio radio-new" style="top:-5px;">
                    <input type="radio" class="default-radio"  name="isThreecertificate" value="是" ng-model="formData.businessLicense.isThreecertificate" required><i style="top:10px;"></i>
                    <em class="inline-block color-black" style="top:-20px">是</em>
                  </label>
                  <label class="radio-inline radio radio-new" style="top:-5px;left:12px;">
                    <input type="radio" class="default-radio"  name="isThreecertificate" value="否" ng-model="formData.businessLicense.isThreecertificate" required><i style="top:10px;"></i>
                    <em class="inline-block color-black text-right" style="padding-top:0px;">否</em>
                  </label>
                </div>
              </div>
            </div>
            <div class="flex-item-6" style="padding:20px 50px;">
              <div ng-if="formData.businessLicense.attachment.uploadUserName" class="pd-c-v-s">
                <em>上传人：</em>{{formData.businessLicense.attachment.uploadUserName}}
              </div>
              <div ng-if="formData.businessLicense.attachment.uploadTime" class="pd-c-v-s">
                <em>上传时间：</em>{{formData.businessLicense.attachment.uploadTime | date : 'yyyy-MM-dd HH:mm' }}
              </div>
              <div ng-if="formData.businessLicense.attachment.uploadTime" class="fl-l pd-c-v-s">附件：</div>
              <div ng-init='attachmentsItemExtend={"edit":true}'
                ng-class="{'fl-l mgt-m':(formData.businessLicense.attachment.uploadTime)}"
                attachments-item-show attachments-item-extend="attachmentsItemExtend"
                ng-model="formData.businessLicense.attachment">
              </div>
            </div>
          </div>
          <h3 class="crumbs-circle color-black pr-indent-10 pd-v">机构代码证</h3>
          <div class="flex-column" >
            <div class="flex-item-6 br-dashed-line" style="min-height:250px;">
              <div class="mgt-m flex-item-12">
                <label class="flex-item-4 text-right control-label">证书编号：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.organizationCodeCertificate.certificateNumber" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">年检日期：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.organizationCodeCertificate.annualInspection">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
              <div class="mgt flex-item-12 mgb-xxxl">
                <label class="flex-item-4 text-right control-label">有效期至：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.organizationCodeCertificate.guaranteePeriod">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-item-6" style="padding:20px 50px;">
              <div ng-if="formData.organizationCodeCertificate.attachment.uploadUserName" class="pd-c-v-s">
                <em>上传人：</em>{{formData.organizationCodeCertificate.attachment.uploadUserName}}
              </div>
              <div ng-if="formData.organizationCodeCertificate.attachment.uploadTime" class="pd-c-v-s">
                <em>上传时间：</em>{{formData.organizationCodeCertificate.attachment.uploadTime | date : 'yyyy-MM-dd HH:mm' }}
              </div>
              <div ng-if="formData.organizationCodeCertificate.attachment.uploadTime" class="fl-l pd-c-v-s">附件：</div>
              <div ng-init='attachmentsItemExtend={"edit":true}'
                ng-class="{'fl-l mgt-m':(formData.organizationCodeCertificate.attachment.uploadTime)}"
                attachments-item-show attachments-item-extend="attachmentsItemExtend"
                ng-model="formData.organizationCodeCertificate.attachment">
              </div>
            </div>
          </div>

          <h3 class="crumbs-circle color-black pr-indent-10 pd-v">税务登记证</h3>
          <div class="flex-column">
            <div class="flex-item-6 br-dashed-line" style="min-height:250px;">
              <div class="mgt-m flex-item-12">
                <label class="flex-item-4 text-right control-label">证书编号：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.taxRegistrationCertificate.certificateNumber" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">发证日期：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.taxRegistrationCertificate.certificateDate">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
              <div class="mgt flex-item-12 mgb-xxxl">
                <label class="flex-item-4 text-right control-label">有效期至：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.taxRegistrationCertificate.guaranteePeriod">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-item-6" style="padding:20px 50px;">
              <div ng-if="formData.taxRegistrationCertificate.attachment.uploadUserName" class="pd-c-v-s">
                <em>上传人：</em>{{formData.taxRegistrationCertificate.attachment.uploadUserName}}
              </div>
              <div ng-if="formData.taxRegistrationCertificate.attachment.uploadTime" class="pd-c-v-s">
                <em>上传时间：</em>{{formData.taxRegistrationCertificate.attachment.uploadTime | date : 'yyyy-MM-dd HH:mm' }}
              </div>
              <div ng-if="formData.taxRegistrationCertificate.attachment.uploadTime" class="fl-l pd-c-v-s">附件：</div>
              <div ng-init='attachmentsItemExtend={"edit":true}'
                ng-class="{'fl-l mgt-m':(formData.taxRegistrationCertificate.attachment.uploadTime)}"
                attachments-item-show attachments-item-extend="attachmentsItemExtend"
                ng-model="formData.taxRegistrationCertificate.attachment">
              </div>
            </div>
          </div>
          <h3 class="crumbs-circle color-black pr-indent-10 pd-v">备注</h3>
          <div class="flex-column pd-c-v-l">
            <div class="flex-item-12 pd-c-xxxxxxl">
              <textarea class="pr-textarea" name="applyReason" rows="8" cols="40" ng-model="formData.note"></textarea>
            </div>
          </div>
        </div>

        <!-- 基本信息-附件信息 -->
        <div ng-init='attachmentsExtend={"title":"资质文件","usege":"首营企业申请","addFlag":false}'
        attachments-edit ng-model="formData.attachments" attachments-extend="attachmentsExtend" ></div>
        <!-- 功能按钮 -->
        <div class="handle-btn-area relative">
          <div class="mgb text-right btn-area">
            <span class="mgl" >
              <a ng-if="changeFlag"  href="javascript:;"
                 handle-this-click
                 dialog-title="确认返回?"
                 dialog-content="该申请单存在未保存数据，是否保存?"
                 dialog-template="pr-dialog-return.html"
                 nosave-callback="goTo('#/firstEnterpriseApplication/query.html')"
                 save-callback="submitForm('editForm','exit');
                 $root.goTo('#/firstEnterpriseApplication/query.html')">返回申请单列表</a>
              <a ng-if="!changeFlag" href="#/firstEnterpriseApplication/query.html">返回申请单列表</a>
            </span>
            <span class="mgl">
              <button class="pr-btn-save-glodbg mgt"
                      ng-disabled="!changeFlag "
                      ng-click="submitForm('first-enterprise-editForm','save')">保存</button>
            </span>
            <span class="mgl" ng-if="formData.orderStatus=='未提交'">
              <!-- <button class="pr-btn-save-glodbg mgt"
                      type="button"
                      ajax-url-submit="rest/authen/firstEnterpriseApplication/startProcessInstance"
                      params='{"businessKey":formData.id}'
                      alert-error
                      scope-data="showData"
                      callback="$root.goTo('#/firstEnterpriseApplication/get.html?id={{formData.id}}')">提交
              </button> -->
              <button class="pr-btn-save-glodbg mgt"
                      type="button"
                    ng-click="submitForm('editForm','submit-enterprise')">提交
              </button>
            </span>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
