<div class="content-wrapper first-medical-application"
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/firstEnterpriseApplication/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData')"
     alert-error>
  <div class="page-header-info">
    <h1>首营企业申请</h1>
    <p class="mgb">管理中心 / <em class="color-custom-orange">首营管理</em></p>
  </div>
  <!-- 添加流程导航 -->
  <div class="first-medical-nav text-right">
    <span>基本信息</span>
    <span class="active">申请原因</span>
    <span>添加审核资料</span>
  </div>
  <!-- 主体内容 -->
  <div class="content-wrapper-main mgt">
    <form class="form-horizontal"
          id="first-enterprise-editForm"
          name="firstEnterpriseEditForm"
          form-validator
          parameter-body
          action="rest/authen/firstEnterpriseApplication/saveApplyReason?validateFlag=true"
          alert-error
          alert-ok
          scope-error-msg="errorMsg"
          scope-data="formData"
          novalidate="true"
          callback="submitFormAfter('#/firstEnterpriseApplication/edit-step-3.html');watchFormChange('formData')">
      <!-- 单号 -->
      <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
        <span class="flex-item-11">申请单：<em class="color-6">{{formData.orderNo}}</em></span>
        <span class="current-status flex-item-1">
          <strong>状态：{{formData.orderStatus}}</strong>
        </span>
      </div>
      <!-- 基本信息 -->
      <div class="panel pr-panel pr-panel-height mgb">
        <h1 class="pr-font-18 mgb">申请原因</h1>
        <div class="">
          <textarea class="pr-textarea" name="applyReason" rows="8" cols="40" ng-model="formData.applyReason"></textarea>
        </div>
      </div>
      <!-- 功能按钮 -->
      <div class="handle-btn-area relative">
        <div class="mgb text-right btn-area">
        <span class="mgl">
          <a   ng-if="changeFlag"  href="javascript:;"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="该申请单存在未保存数据，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo('#/firstEnterpriseApplication/query.html')"
             save-callback="submitForm('editForm','exit');
             $root.goTo('#/firstEnterpriseApplication/query.html')">返回申请单列表</a>
          <a ng-if="!changeFlag" href="#/firstEnterpriseApplication/query.html">返回申请单列表</a>
        </span>
        <span class="mgl">
          <a ng-if="formData.id && formData.proposerName==mainStatus.name"
             href="javascript:;"
             class="color-red mgt"
             handle-this-click
             dialog-title="确认删除?"
             dialog-content="删除后将无法恢复,确认删除?"
             dialog-template="pr-dialog-submit.html"
             callback="$root.goTo('#/firstEnterpriseApplication/query.html')"
             params='{"id":formData.id}'
             request-url="rest/authen/firstEnterpriseApplication/delete">删除</a>
        </span>
        <span class="mgl">
          <button class="pr-btn-save-glodbg mgt"
                  ng-disabled="!changeFlag || !formData.applyReason || firstMedicalEditForm.applyReason.$pristine"
                  ng-click="submitForm('first-enterprise-editForm','save')">保存
          </button>
        </span>
        <span class="mgl">
          <button class="pr-btn-save-glodbg mgt"
                  ng-click="pageTo('#/firstEnterpriseApplication/edit1.html?id='+formData.id)">上一步</button>
        </span>
        <span class="mgl">
          <button class="pr-btn-save-glodbg mgt"
                  ng-disabled="!formData.applyReason"
                  ng-click="submitForm('first-enterprise-editForm','submit')">下一步
          </button>
        </span>
      </div>
      </div>
    </form>
  </div>
</div>
