<div class="first-medical-application hospital-application "
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/firstEnterpriseApplication/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData');"
     alert-error>
     <div class="header-info relative mgb-l">
       <p class="pdb-s pdt-s crumbs pd-c-xxl">管理中心 >
         <a href="#/firstEnterpriseApplication/query.html">
            <em class="color-custom-orange">首营管理</em>
         </a>
        <em>>首营企业申请</em>
       </p>
       <div class="pd-c-xxl pdt-l pdb-l">
         <!-- 标题 -->
         <div class="mgb-l">
           <h1 class="color-black pr-font-20">首营企业申请</h1>
         </div>
       </div>
     </div>
  <!-- 主体内容 -->
  <div class="content-wrapper ">
    <!-- 添加流程导航 -->
    <div
    step-flow-arrow-show
    step-flow-arrow-json=
  '[{"arrowText":"基本信息","className":"active"},
    {"arrowText":"添加三证","className":"unactive"},
    {"arrowText":"添加资质证书","className":"unactive"}]'>
    </div>
    <div class="content-wrapper-main mgt">
      <form class="form-horizontal"
            id="firstEnterpriseEditForm"
            name="firstEnterpriseEditForm"
            form-validator
            parameter-body
            action="rest/authen/firstEnterpriseApplication/saveBaseInfo?validateFlag=true"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="submitFormAfter('#/firstEnterpriseApplication/edit-step-3.html');watchFormChange('formData')">
        <!-- 单号 -->
        <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
          <div class="flex-item-6">
            <span class="flex-item-12">
              单据编号：<em class="color-6 mgr-s">{{formData.orderNo || '暂无'}}</em>
              采购员：<span>
                        <select class="select pr-select ipt-new-s" data-placeholder=" "
                        chosen
                        default-empty=""
                        ng-model="formData.buyerId"
                        select-source="rest/authen/user/queryForSelectOption">
                        </select>
                    </span>
            </span>
          </div>
          <div class="flex-item-6 text-right">
              录单日期：<em class="color-black mgr-s">{{formData.createAt | date : 'yyyy-MM-dd'}}</em>
              状态：<em class="color-black">{{formData.orderStatus}}</em>
          </div>
        </div>
        <!-- 基本信息 -->

        <div class="panel pr-panel pr-panel-height mgb">
          <h1 class="mgb-m color-black text-bold text-n">三证</h1>
          <h3 class="crumbs-circle color-black pr-indent-10 pd-v">营业执照</h3>
          <div class="flex-column">
            <div class="flex-item-6 br-dashed-line">
              <div class="mgt-m flex-item-12">
                <label class="flex-item-4 text-right control-label">注册号：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.businessLicense.registrationNumber" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">发证日期：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.businessLicense.dateOfIssue">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">有效期至：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.businessLicense.guaranteePeriod">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">注册资金：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="registeredCapital"
                         ng-model="formData.businessLicense.registeredCapital"
                         ng-pattern="/(^[1-9]([0-9]+)?(\.[0-9]*)?$)|(^(0){1}$)|(^[0-9]\.[0-9]([0-9])?$)/"
                         invalid-popover
                         popover-show="!firstEnterpriseEditForm.registeredCapital.$valid"
                         popover-options='{"content":"注册资金格式不正确", "placement":"right", "trigger":"manual"}' />万元
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">企业法人：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="genericName"
                         ng-model="formData.businessLicense.legalRepresentative" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">负责人：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="genericName"
                         ng-model="formData.businessLicense.head" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right">质量负责人：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new ipt-new-s"
                         name="genericName"
                         ng-model="formData.businessLicense.qualityHead" />
                </div>
              </div>

              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right">经营方式：</label>
                <div class="flex-item-6 text-left">
                  <label class="radio-inline radio radio-new" style="top:-5px;">
                    <input type="radio" class="default-radio"  name="businessWay" value="批发" ng-model="formData.businessLicense.businessWay" ><i style="top:10px;"></i>
                    <em class="inline-block color-black" style="top:-20px">批发</em>
                  </label>
                  <label class="radio-inline radio radio-new" style="top:-5px;">
                    <input type="radio" class="default-radio"  name="businessWay" value="生产" ng-model="formData.businessLicense.businessWay" ><i style="top:10px;"></i>
                    <em class="inline-block color-black text-right" style="padding-top:0px;">生产</em>
                  </label>
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right">是否年检：</label>
                <div class="flex-item-6 text-left">
                  <label class="radio-inline radio radio-new" style="top:-5px;">
                    <input type="radio" class="default-radio"  name="isAnnualInspection" value="是" ng-model="formData.businessLicense.isAnnualInspection" ><i style="top:10px;"></i>
                    <em class="inline-block color-black" style="top:-20px">是</em>
                  </label>
                  <label class="radio-inline radio radio-new" style="top:-5px;left:12px;">
                    <input type="radio" class="default-radio"  name="isAnnualInspection" value="否" ng-model="formData.businessLicense.isAnnualInspection" ><i style="top:10px;"></i>
                    <em class="inline-block color-black text-right" style="padding-top:0px;">否</em>
                  </label>
                </div>
              </div>
              <div class="mgt flex-item-12 mgb">
                <label class="flex-item-4 text-right">三证合一：</label>
                <div class="flex-item-6 text-left">
                  <label class="radio-inline radio radio-new" style="top:-5px;">
                    <input type="radio" class="default-radio"  name="isThreecertificate" value="是" ng-model="formData.businessLicense.isThreecertificate" ><i style="top:10px;"></i>
                    <em class="inline-block color-black" style="top:-20px">是</em>
                  </label>
                  <label class="radio-inline radio radio-new" style="top:-5px;left:12px;">
                    <input type="radio" class="default-radio"  name="isThreecertificate" value="否" ng-model="formData.businessLicense.isThreecertificate" ><i style="top:10px;"></i>
                    <em class="inline-block color-black text-right" style="padding-top:0px;">否</em>
                  </label>
                </div>
              </div>
            </div>
            <div class="flex-item-6" style="padding:25px 50px;">
              <div ng-if="formData.businessLicense.attachment.uploadUserName" class="pd-c-v-s">
                <em>上传人：</em>{{formData.businessLicense.attachment.uploadUserName}}
              </div>
              <div ng-if="formData.businessLicense.attachment.uploadTime" class="pd-c-v-s">
                <em>上传时间：</em>{{formData.businessLicense.attachment.uploadTime | date : 'yyyy-MM-dd HH:mm' }}
              </div>
              <div ng-if="formData.businessLicense.attachment.uploadTime" class="fl-l pd-c-v-s">附件：</div>
              <div ng-init='attachmentsItemExtend={"edit":true}'
                ng-class="{'fl-l mgt-m':(formData.businessLicense.attachment.uploadTime)}"
                attachments-item-show attachments-item-extend="attachmentsItemExtend"
                ng-model="formData.businessLicense.attachment">
              </div>
            </div>
          </div>
          <h3 class="crumbs-circle color-black pr-indent-10 pd-v">机构代码证</h3>
          <div class="flex-column" >
            <div class="flex-item-6 br-dashed-line" style="min-height:250px;">
              <div class="mgt-m flex-item-12">
                <label class="flex-item-4 text-right control-label">证书编号：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.organizationCodeCertificate.certificateNumber" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">年检日期：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.organizationCodeCertificate.annualInspection">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
              <div class="mgt flex-item-12 mgb-xxxl">
                <label class="flex-item-4 text-right control-label">有效期至：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.organizationCodeCertificate.guaranteePeriod">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-item-6" style="padding:25px 50px;">
              <div ng-if="formData.organizationCodeCertificate.attachment.uploadUserName" class="pd-c-v-s">
                <em>上传人：</em>{{formData.organizationCodeCertificate.attachment.uploadUserName}}
              </div>
              <div ng-if="formData.organizationCodeCertificate.attachment.uploadTime" class="pd-c-v-s">
                <em>上传时间：</em>{{formData.organizationCodeCertificate.attachment.uploadTime | date : 'yyyy-MM-dd HH:mm' }}
              </div>
              <div ng-if="formData.organizationCodeCertificate.attachment.uploadTime" class="fl-l pd-c-v-s">附件：</div>
              <div ng-init='attachmentsItemExtend={"edit":true}'
                ng-class="{'fl-l mgt-m':(formData.organizationCodeCertificate.attachment.uploadTime)}"
                attachments-item-show attachments-item-extend="attachmentsItemExtend"
                ng-model="formData.organizationCodeCertificate.attachment">
              </div>
            </div>
          </div>

          <h3 class="crumbs-circle color-black pr-indent-10 pd-v">税务登记证</h3>
          <div class="flex-column">
            <div class="flex-item-6 br-dashed-line" style="min-height:250px;">
              <div class="mgt-m flex-item-12">
                <label class="flex-item-4 text-right control-label">证书编号：</label>
                <div class="flex-item-8 text-left">
                  <input type="text"
                         class="ipt-new"
                         name="genericName"
                         ng-model="formData.taxRegistrationCertificate.certificateNumber" />
                </div>
              </div>
              <div class="mgt flex-item-12">
                <label class="flex-item-4 text-right control-label">发证日期：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.taxRegistrationCertificate.certificateDate">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
              <div class="mgt flex-item-12 mgb-xxxl">
                <label class="flex-item-4 text-right control-label">有效期至：</label>
                <div class="flex-item-8 text-left">
                  <div class="date-icon-outside">
                    <input type="text"
                           datepicker
                           class="ipt-date pr-short-ipt ipt-new-s color-6"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.taxRegistrationCertificate.guaranteePeriod">
                          <span class="date-icon"></span>
                  </div>
                </div>
              </div>
            </div>
            <div class="flex-item-6" style="padding:25px 50px;">
              <div ng-if="formData.taxRegistrationCertificate.attachment.uploadUserName" class="pd-c-v-s">
                <em>上传人：</em>{{formData.taxRegistrationCertificate.attachment.uploadUserName}}
              </div>
              <div ng-if="formData.taxRegistrationCertificate.attachment.uploadTime" class="pd-c-v-s">
                <em>上传时间：</em>{{formData.taxRegistrationCertificate.attachment.uploadTime | date : 'yyyy-MM-dd HH:mm' }}
              </div>
              <div ng-if="formData.taxRegistrationCertificate.attachment.uploadTime" class="fl-l pd-c-v-s">附件：</div>
              <div ng-init='attachmentsItemExtend={"edit":true}'
                ng-class="{'fl-l mgt-m':(formData.taxRegistrationCertificate.attachment.uploadTime)}"
                attachments-item-show attachments-item-extend="attachmentsItemExtend"
                ng-model="formData.taxRegistrationCertificate.attachment">
              </div>
            </div>
          </div>
          <h3 class="crumbs-circle color-black pr-indent-10 pd-v">备注</h3>
          <div class="flex-column pd-c-v-l">
            <div class="flex-item-12 pd-c-xxxxxxl">
              <textarea class="pr-textarea" name="applyReason" rows="8" cols="40" ng-model="formData.note"></textarea>
            </div>
          </div>
        </div>
      <div class="color-black mgt-l">
          <p>
            <p class="pr-font-14">说明：</p>
            <p>1.企业及人员资质必须加盖该企业红色原公章；</p>
            <p>2.质保协议须盖法人章或委托人签字，但需提供授权书。质保协议有效期不超过经营、生产许可证有效期；</p>
            <p>3.采购人员需按要求向供货企业索要并核实资质的真实合法性，并如实填写本表；</p>
            <p>4.企业和人员资质按表中顺序排放，核实记录附在最后面，以本表为封面；</p>
          </p>
      </div>
        <!-- 功能按钮 -->
      <div class="handle-btn-area relative">
        <div class="mgb text-right btn-area">
        <span class="mgl">
          <a   ng-if="changeFlag"  href="javascript:;"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="该申请单存在未保存数据，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo('#/firstEnterpriseApplication/query.html')"
             save-callback="submitForm('first-enterprise-editForm','save');$root.goTo('#/firstEnterpriseApplication/query.html')">返回申请单列表
          </a>
          <a ng-if="!changeFlag" href="#/firstEnterpriseApplication/query.html">返回申请单列表</a>
        </span>
        <span class="mgl">
          <a ng-if="formData.id && formData.proposerName==mainStatus.name"
             href="javascript:;"
             class="color-red mgt"
             handle-this-click
             dialog-title="确认删除?"
             dialog-content="删除后将无法恢复,确认删除?"
             dialog-template="pr-dialog-submit.html"
             callback="$root.goTo('#/firstEnterpriseApplication/query.html')"
             params='{"id":formData.id}'
             request-url="rest/authen/firstEnterpriseApplication/delete">删除</a>
        </span>
        <span class="mgl">
          <button class="pr-btn-save-glodbg mgt"
                  ng-disabled="!changeFlag "
                  ng-click="submitForm('first-enterprise-editForm','save')">保存
                  <!-- || firstMedicalEditForm.applyReason.$pristine -->
          </button>
        </span>
        <span class="mgl">
          <button class="pr-btn-save-glodbg mgt"
                  ng-click="pageTo('#/firstEnterpriseApplication/edit1.html?id='+formData.id)">上一步</button>
        </span>
        <span class="mgl">
          <button class="pr-btn-save-glodbg mgt"
                   ng-disabled="!firstEnterpriseEditForm.$valid"
                  ng-click="submitForm('first-enterprise-editForm','submit')">下一步
          </button>

          <!-- ng-disabled="!formData.note" -->
        </span>
      </div>
      </div>
      </form>
    </div>
  </div>
</div>
