<div class="content-wrapper first-medical-application first-enterprise-application"
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/firstEnterpriseApplication/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;watchFormChange('formData')"
     alert-error
     ng-init="formData.validFlag=false">
  <div class="page-header-info">
    <h1>首营企业申请</h1>
    <p class="mgb">管理中心 / <em class="color-custom-orange">首营管理</em></p>
  </div>
  <!-- 添加流程导航 -->
  <div class="first-medical-nav text-right">
    <span class="active">基本信息</span>
    <span>申请原因</span>
    <span>添加审核资料</span>
  </div>
  <!-- 主体内容 -->
  <div class="content-wrapper-main mgt">
    <form class="form-horizontal"
          id="first-enterprise-editForm"
          name="firstEnterpriseEditForm"
          form-validator
          parameter-body
          action="rest/authen/firstEnterpriseApplication/saveBaseInfo"
          alert-error
          alert-ok
          scope-error-msg="errorMsg"
          scope-data="formData"
          novalidate="true"
          callback="submitFormAfter('#/firstEnterpriseApplication/edit-step-2.html');watchFormChange('formData')">
      <!-- 单号 -->
      <div class="panel pr-panel pr-panel-height mgb color-9 flex-column">
        <span class="flex-item-11">申请单：<em class="color-6">{{formData.orderNo || '暂无'}}</em></span>
        <span class="current-status flex-item-1">
          <strong>状态：{{formData.orderStatus}}</strong>
        </span>
      </div>
      <!-- 基本信息 -->
      <div class="panel pr-panel pr-panel-height mgb">
        <h1 class="pr-font-18 mgb mgt">基本信息</h1>
        <div>
          <h3 class="bb-line pd-v text-bold">企业信息：</h3>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">企业类别：</label>
                <div class="col-sm-10">
                  <label class="radio-inline">
                    <input type="radio" name="type" value="生产" ng-model="formData.firstEnterprise.type" required> 生产
                  </label>
                  <label class="radio-inline">
                    <input type="radio" name="type" value="经营" ng-model="formData.firstEnterprise.type" required> 经营
                  </label>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">供货企业全称：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.fullName" required="true">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">企业简称：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.shortName" required="true"/>
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">法人代表/身份证号：</label>
                <div class="col-sm-2 mgr-s">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.legalRepresentative">
                </div>
                <div class="col-sm-4">
                  <input type="text"
                         class="form-control"
                         ng-model="formData.firstEnterprise.legalRepresentativeIdentityNo"
                         ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/" />
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">企业地址：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.address">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">GMP/GSP证书号：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.gspCertificateNo">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">生产/经营许可证号：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.productionLicenseNo">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">注册资金：</label>
                <div class="col-sm-6">
                  <input type="text"
                         class="form-control"
                         ng-model="formData.firstEnterprise.registeredCapital"
                         ng-pattern="/^\d+$/">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">税号：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.taxNo">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">营业执照号：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.businessLicenseNo">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">营业期限：</label>
                <div class="col-sm-6">
                  <input type="text"
                  datepicker
                  class="ipt pr-short-ipt color-6"
                   placeholder="有效日期至"
                   ng-readonly="true"
                   ng-model="formData.firstEnterprise.busnissAllotedTime">

                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">开户银行：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.accountBank">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">开户账号：</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" ng-model="formData.firstEnterprise.accountNumber">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">开户名称：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.accountName">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">付款方式：</label>
                <div class="col-sm-3 flex-column">
                  <select ng-if="initFlag"
                          class="select select-w"
                          data-placeholder="选择一个..."
                          chosen
                          ng-model="formData.firstEnterprise.payType"
                          select-source="rest/index/queryBasicdataForSelectOption.json?basicDataType=Basic_PayType">
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <h3 class="bb-line pd-v text-bold mgb">销售人员信息：</h3>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">销售人员/身份证号：</label>
                <div class="col-sm-6 flex-column">
                  <input type="text" class="form-control flex-item-3" ng-model="formData.firstEnterprise.salesman">
                  <input type="text"
                         class="form-control flex-item-8 flex-offset-1"
                         ng-model="formData.firstEnterprise.salesmanIdentityNo"
                         ng-pattern="/(^\d{15}$)|(^\d{18}$)|(^\d{17}(\d|X|x)$)/">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">座机：</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" ng-model="formData.firstEnterprise.tel">
                </div>
              </div>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">Email：</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" ng-model="formData.firstEnterprise.email">
                </div>
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label for="" class="col-sm-2 control-label">手机：</label>
                <div class="col-sm-6">
                  <input type="number" class="form-control" ng-model="formData.firstEnterprise.phone">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pd-v-l bt-line">
          <h1 class="mgb-l text-bold">经营范围：</h1>
          <textarea class="pr-textarea" name="name" rows="3" cols="40" ng-model="formData.firstEnterprise.businessScope"></textarea>
        </div>
        <div class="pd-v-l bt-line">
          <h1 class="mgb-l text-bold">拟供产品：</h1>
          <textarea class="pr-textarea" name="name" rows="3" cols="40" ng-model="formData.firstEnterprise.provideProducts"></textarea>
        </div>
      </div>
      <!-- 功能按钮 -->
      <div class="mgb text-right">
        <span class="mgl">
          <a ng-if="changeFlag"  href="javascript:;"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="该申请单存在未保存数据，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo('#/firstEnterpriseApplication/query.html')"
             save-callback="submitForm('editForm','exit')">返回申请单列表</a>

          <a ng-if="!changeFlag" href="#/firstEnterpriseApplication/query.html">返回申请单列表</a>
        </span>
        <span class="mgl">
          <a ng-if="formData.id && formData.proposerName==mainStatus.name"
             href="javascript:;"
             class="color-red"
             handle-this-click
             dialog-title="确认删除?"
             dialog-content="删除后将无法恢复,确认删除?"
             dialog-template="pr-dialog-submit.html"
             callback="$root.goTo('#/firstEnterpriseApplication/query.html')"
             params='{"id":formData.id}'
             request-url="rest/authen/firstEnterpriseApplication/delete">删除</a>
        </span>
        <span class="mgl">
          <button class="pr-btn-save-glodbg"
                  ng-disabled="!changeFlag "
                  ng-click="submitForm('first-enterprise-editForm','save')">保存</button>
        </span>
        <span class="mgl">
          <button class="pr-btn-save-glodbg"
                  ng-disabled="firstEnterpriseEditForm.$invalid"
                  ng-click="submitForm('first-enterprise-editForm','submit')">下一步
          </button>
        </span>
      </div>
    </form>
  </div>
</div>
