<div class="loss-over-order selec-head">
  <table-list list-data="{{mainStatus.requestPath}}rest/authen/lossOrder/query.json"
                list-params="listParams"
                search-mode="noCaseSensitive"
                search-param="q">
    <!-- 主内容头部 -->
    <page-main-header-component list-params="listParams"
                                crumbs-nav='[{"name":"库存管理","link":"","style":""},{"name":"报损单","link":"","style":""}]'
                                component-title="报损单"
                                is-show-create-btn="新建报损单"
                                create-btn-author="报损单新增"
                                create-new-url=" #/lossOrder/edit.html"
                                get-status-num-url="rest/authen/lossOrder/countByOrderStatus.json"
                                status-group-data='[["未提交-true","待审核-true","已完成-true"],["未通过-true"],["已作废-true"]]'
                                is-show-business-btn-group=true
                                is-show-date-filter=true
                                is-show-key-filter=true
                                is-show-logistics-center-filter=true
                                search-placeholder-info="单据编号"
                                get-logistics-center-url="rest/authen/logisticsCenter/queryForSelectOption.json"
                                get-business-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType">
    </page-main-header-component>

    <div class="content-wrapper loss-over-order"
         ng-init="listParams.orderStatus=mainStatus.pageParams.orderStatus;
         ">
        <!-- 主内容区域 -->
        <div class="content-wrapper-main">
          <div ng-if="!status.isLoading">
            <div ng-if="tbodyList.length==0">
              <p class="empty-data text-center"><span class="empty-data-icon"></span></p>
              <p class="text-center">什么也没有</p>
            </div>
            <ul ng-if="tbodyList.length" class="li-min-h">
              <li class="pdr-m pdl-m relative confirm-order-list" ng-repeat="tr in tbodyList">
                <div class="mgb-xl pr-bg-white pr-fuzzy-boundary relative"  ng-class="{'pr-bg-grey2':(tr.orderStatus=='已作废')}">
                  <div class="relative">
                    <div class="flex-row">
                      <span class="flex-item-6 title-states text-bold color-3 pd-m">
                        <em ng-class="{'color-green2':(tr.orderStatus=='已完成'),'color-red':(tr.orderStatus=='未通过')}">
                            {{tr.orderStatus}}
                        </em>
                      </span>
                    <span ng-if=" tr.orderStatus =='未提交' " class="flex-item-6 text-right"
                          class=" text-right ">
                        <a ng-if="$root.hasAuthor('报损单修改')"
                        tab-nav
                        tab-name='报损单'
                        tab-href=" #/lossOrder/edit.html?id={{tr.id}}" class="btn-link pd-m rect-s " title="编辑">
                        <span class="edit-link-icon">&nbsp;</span></a>
                      <a ng-if="$root.hasAuthor('报损单删除')"
                         href="javascript:;"
                         class="btn-link pd-m rect-s"
                         title="删除"
                         handle-this-click
                         dialog-title="确认删除?"
                         dialog-content="删除后将无法恢复,确认删除?"
                         dialog-template="pr-dialog-submit.html"
                         callback="$root.goTo(' #/lossOrder/query.html')"
                         params='{"id":tr.id}'
                         request-url="rest/authen/lossOrder/delete">
                      <span class="delete-link-icon">&nbsp;</span>
                      </a>
                    </span>

                    <span ng-if="tr.orderStatus!=='未提交'" class="flex-item-6 text-right">
                        <a ng-if="tr.orderStatus!=='待审核'"
                        tab-nav
                        tab-name='报损单'
                        tab-href=" #/lossOrder/get.html?id={{tr.id}}" class="btn-link pd-m rect-s " title="查看详情">
                        <span class="watch-detail-icon">&nbsp;</span>
                        </a>
                        <a ng-if="tr.orderStatus=='待审核'&&$root.hasAuthor('报损单审批')"
                        tab-nav
                        tab-name='报损单'
                        tab-href=" #/lossOrder/get.html?id={{tr.id}}" class="btn-link pd-m rect-s " title="立即审核">
                        <span class="examine-approve">&nbsp;</span>
                        </a>
                      </span>
                    </div>
                    <div class="card-new">
                        <div class="bt-line">
                          <h1 class="text-center text-m color-black text-ellips-s">{{tr.logisticsCenterName || '暂无'}}</h1>
                        </div>
                        <div class="flex-row qurey text-s color-9 bt-dashed-line">
                          <span class="flex-item-6">单据编号</span>
                          <span class="flex-item-6 text-right"><strong class="color-6 text-normal">{{tr.orderCode}}</strong></span>
                        </div>
                        <div class="flex-row qurey text-s color-9 bt-dashed-line">
                          <span class="flex-item-6 text-left">单据日期</span>
                          <span class="flex-item-6 text-right">
                              <strong class="color-6 text-normal">{{tr.orderDate | date : 'yyyy-MM-dd'}}</strong>
                          </span>
                        </div>
                        <div class="flex-row qurey text-s color-9 bt-dashed-line">
                          <span class="flex-item-6 text-left">条目数</span>
                          <span class="flex-item-6 text-right">
                              <strong class="color-6 text-normal">{{tr.itemCount|| '0'}}</strong>
                          </span>
                        </div>
                        <div class="flex-row qurey text-s color-9 bt-dashed-line">
                          <span class="flex-item-12 text-right text-m ">
                            <em>合计：</em>
                              <em class="color-3">￥{{tr.totalPrice|number : 6}}</em>
                          </span>
                        </div>
                        <div class="flex-row qurey text-s color-9 mgb bt-line"
                          >
                          <p ng-if="tr.orderStatus!='未通过'&&tr.orderStatus!='已作废'"
                          title="{{tr.note}}"
                          class="text-ellips-s">
                            <span >备注：</span><span class="color-6">{{tr.note}}</span>
                          </p>
                          <p ng-if="tr.orderStatus=='未通过'||tr.orderStatus=='已作废'"
                          title="{{tr.operationFlowSet[tr.operationFlowSet.length-1].key}}{{tr.operationFlowSet[tr.operationFlowSet.length-1].message}}"
                          class="text-ellips-s">
                            <span class="color-red">原因：</span>
                            <span class="color-6">
                              {{tr.operationFlowSet[tr.operationFlowSet.length-1].key || '暂无'}}
                              {{tr.operationFlowSet[tr.operationFlowSet.length-1].message}}
                            </span>
                          </p>
                        </div>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- 导航 -->
        <div class="clearfix pd-c-m" ng-if="tbodyList.length">
            <div class="fr">
                <pagination status="status"></pagination>
            </div>
        </div>
      </div>
  </table-list>
</div>
