<div class="content-wrapper"
     ajax-url="rest/authen/confirmOrder/get.json?id={{mainStatus.pageParams.id}}"
     scope-data="showData"
     callback="formData={};formData.id=showData.id">
  <div class="content-wrapper-main">
    <div class="text-center order-done">
      <p><i></i><span class="text-l text-bold color-6">订单审批通过</span></p>
      <p class="mg-l">订单<i class="font-normal"><a href="#/confirmOrder/get.html?id={{mainStatus.pageParams.id}}">{{showData.orderNo}}</a>  </i>已经通过审批</p>
      <p>
        <a href="#/confirmOrder/query.html" class="mgr-xl">进入订单列表</a>

      </p>


    </div>
  </div>
</div>
