<div class="salesOrder-edit confirm-edit"
     ng-controller="confirmOrderEditCtrl"
     ajax-url="rest/authen/confirmOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="formData"
     callback="thData={};geThName(formData.orderMedicalNos);defaultLogisticsCenterId=$scope.formData.logisticsCenterId;
               initFlag=true;
               $root.watchFormChange('formData',this);
               confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType);
               getSaleUserId(mainStatus.pageParams.saleUserId);
               getCodeGenerationStrategy('销售单');
               formData.orderBusinessType = formData.orderBusinessType ? formData.orderBusinessType : '普通销售';
               checkData()"
     alert-error>
  <form id="confirmOrder_editForm"
        name="confirmOrder_editForm"
        form-validator
        parameter-body
        action="rest/authen/confirmOrder/save.json"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter();$root.watchFormChange('formData',this)"
        novalidate="true">
        <!-- onkeydown="if(window.event.keyCode==13) return false;" -->
    <!-- 头部信息 -->
    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs pd-c-xxl">销售中心 >
        <a tab-nav tab-name="销售单" tab-href="#/confirmOrder/query.html"><em class="color-custom-orange">销售单</em></a>
        <em> > 新建销售单</em>
      </p>
      <div class="pd-c-xxl pdt-l pdb-l">
        <!-- 标题 -->
        <div class="mgb">
          <h1 class="pr-font-20 color-black">新建销售单</h1>
        </div>
      </div>
    </div>
    <!-- 主内容区域 -->
    <div class="content-wrapper">
      <div ng-if="formData.operationFlowSet.key||formData.operationFlowSet.message" class="pr-panel pr-panel-height mgb pr-bg-pink1">
        <em class="color-red">原因:</em>
        <p class="inline-block color-red">
          <em ng-model="formData.operationFlowSet.key">{{formData.operationFlowSet.key}}</em>
          <em ng-model="formData.operationFlowSet.message">{{formData.operationFlowSet.message}}</em>
        </p>
      </div>
      <div class="">
        <div class="inline-block mgr">
          <div class="inline-block">
             <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:89px;">
               <div class="inline-block business-type logistics-center"></div>
               <div class="inline-block">
                 <p class="mgb-s">业务类型</p>
                 <p class="text-m color-3">
                     <select class="ipt pr-short-ipt color-3" style="width:90px;"
                             data-placeholder=" "
                             chosen
                             ng-model="formData.orderBusinessType"
                             select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType"
                             ng-change="chgOrderBusinessType(formData.orderBusinessType)">
                     </select>
                 </p>
               </div>
             </div>
          </div>
          <div class="inline-block panel pr-panel pr-fuzzy-boundary pr-panel-height mgl" style="    height: 90px;">
            <div class="inline-block customer-name "></div>
            <div class="inline-block">
              <p class="mgb-s">客户名</p>
              <div class="inline-block"
                   ajax-if-eval="formData.customerId"
                   ajax-url="rest/authen/customerAddress/get.json?id={{formData.customerId}}"
                   scope-data="customer"
                   callback="formData.customer=customer;"
                   alert-error>
                <div>
                  <span ng-if="initFlag"
                        angucomplete-supplier
                        placeholder="客户名"
                        title-field="name"
                        search-fields="{{formData.customerName}}"
                        url="rest/authen/customerAddress/query.json?isFilterDefault=true"
                        ng-model="tmp_customer"
                        ng-model-id="formData.customerId"
                        class="inline-block" style="height:28px;">

                  </span>
                  <em ng-if="formData.customer.businessApplication.businessStatus=='已冻结'"  class="color-4">
                    {{formData.customer.businessApplication.businessStatus}}
                  </em>

                  <em  ng-if="customerInfo.msg"  style="display:block" class="mgb-s color-red">
                    <i class="warning-icon"></i>
                    {{customerInfo.msg}}
                    <span ng-if="formData.customerId" style="margin-left: 15px;">
                    <a tab-nav tab-name="客户管理" tab-href="#/customerAddressManage/get.html?id={{formData.customerId}}" class="color-orange">查看详情</a></span>
                  </em>

                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="inline-block">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;">
             <div class="inline-block logistics-center"></div>
             <div class="inline-block">
               <p class="mgb-s">出货物流中心</p>
               <p class="text-m color-3">
                 <select ng-if="!formData.customerId"
                         class="ipt-new-select"
                         ng-disabled="true">
                 </select>
                 <select ng-if="formData.customerId"
                         class="ipt ipt-new-select color-3"
                         data-placeholder=" "
                         chosen
                         ng-model="formData.logisticsCenterId"
                         is-disabled-this="{{formData.customerId}}"
                         select-source="rest/authen/logisticsCenter/queryForSelectOption.json">
                 </select>
               </p>
             </div>
           </div>
        </div>
      </div>
      <!-- 药械列表 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n">
          <!-- 信息-->
          <!--已冻结商品可选 -->
          <div ng-if="!formData.relId"
               flash-add-medical
               ng-model="data1"
               class="pd-c-l pdt-m"
               ajax-url="rest/authen/medicalStock/query?hospitalId={{formData.customerId}}"
               add-data-callback-fn="flashAddDataCallbackFn(data1)"
               is-disabled-this="{{formData.customerId}}">
          </div>
          <!-- 列表 -->
          <div class="">
            <div class="flex-column color-9 pd-c-l pdt-m pdb-m bt-line bb-dashed-line">
              <div class="flex-item-6">
                <span ng-if="numberingPolicy!='auto'" class="mgr">单据编号：
                  <input type="text" name="orderNo" class="ipt pr-new-short-ipt" ng-model="formData.orderCode" />
                  <em class="color-red" ng-if="!formData.orderCode">（必填）</em>
                </span>
                <span ng-if="numberingPolicy=='auto'" class="mgr">单据编号：<em class="color-3">{{formData.orderCode || '暂无'}}</em></span>
                <span class="relative">
                  <span>单据日期：</span>
                  <span class="date-icon-outside">
                    <input ng-if="initFlag" type="text"
                           datepicker
                           class="ipt-date ipt color-3"
                           ng-readonly="true"
                           placeholder=""
                           ng-model="formData.orderDate" />
                    <span class="date-icon"></span>
                  </span>
                </span>

              </div>
              <div class="flex-item-6 text-right">
                <!-- <span class="mgr">系统编号：<em class="color-3">{{formData.orderNo || '暂无'}}</em></span> -->
                <!-- <span class="mgr">录单日期：<em class="color-3">{{formData.createAt | date:'yyyy-MM-dd'}}</em></span> -->
                <span class="mgr">状态：<em class="color-3">{{formData.orderStatus}}</em></span>
              </div>
            </div>
            <div class="pd-c-l pdt-m pdb-m color-9">
              <span class="mgr">业务部门：
                <select ng-if="initFlag" class="ipt pr-short-ipt color-3"
                        placeholder=" "
                        chosen
                        no-first-select-source="true"
                        width="150px"
                        ng-model="formData.salesDepartmentId"
                        select-source="rest/authen/department/queryForSelectOption">
                </select>
              </span>
              <span class="mgr">业务人员：
                <select ng-if="initFlag"
                        class="ipt pr-short-ipt color-3" style="width:90px;"
                        data-placeholder=" "
                        chosen
                        no-first-select-source="true"
                        ng-model="formData.saleUserId"
                        select-source="rest/authen/organizationAndUser/queryForSelectOption?departmentId={{formData.salesDepartmentId}}&isReturnNullOfNoCondition=true">
                </select>
              </span>
              <span class="mgr">销售类型：
                  <select class="ipt pr-short-ipt color-3" style="width:90px;"
                          data-placeholder=" "
                          chosen
                          ng-model="formData.salesCode"
                          select-source="rest/baseData/queryForSelectOptionByType?type=销售类型">
                  </select>
              </span>
              <span class="mgr">预发货日期：
                <span class="date-icon-outside">
                  <input type="text"
                         datepicker
                         class="ipt-date ipt color-3"
                         placeholder=""
                         ng-readonly="true"
                         ng-model="formData.expectDate" />
                  <span class="date-icon"></span>
                </span>
            </span>
            </div>
            <div >
              <table class="table pr-table pr-new-table mgb-n ">
                <thead>
                  <tr>
                  <th class="text-center">{{thData.code || '商品编号'}}</th>
                  <th class="text-left">{{thData.approvedName || '商品通用名'}}</th>
                  <th class="text-center">{{thData.dosageForms || '剂型/分类'}}</th>
                  <th class="text-center">{{thData.specificationAndModelType || '规格/型号'}}</th>
                  <th class="text-center">{{thData.unit || '单位'}}</th>
                  <th class="text-center">{{thData.quantity || '商品数量'}}</th>
                  <th ng-if="formData.orderBusinessType=='普通销售'" class="text-center">{{thData.productionBatch || '生产批号'}}/数量</th>
                  <th ng-if="formData.orderBusinessType=='普通销售'" class="text-center">{{thData.sterilizationBatchNumber || '灭菌批号'}}</th>
                  <th class="text-center">{{thData.strike_price || '含税单价'}}</th>
                  <th class="text-center">{{thData.totalPrice || '价税合计'}}</th>
                  <th ng-if="formData.orderBusinessType=='普通销售'" class="text-center">{{thData.validTill || '失效日期'}}</th>
                  </tr>
                </thead>
                <tbody >
                  <tr ng-repeat="item in formData.orderMedicalNos"
                      ng-controller="ConfirmOrderMedicalController"
                      ng-init="item.handleFlag=true"
                      table-item-handlebtn-component>
                    <td class="text-center">{{item.code}}
                      <div  class="table-item-handle-btn">
                        <div class="table-item-confirm-del-area bg-white">
                          <p class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                          <p class="pdt-s">
                            <a href="javascript:;" class="cancelHandle" ng-click="cancelDel();">取消</a>
                            <a href="javascript:;" class="confirm-del-this pr-btn-best-small pr-btn-bg-gold mgl" ng-click="formData.orderMedicalNos.splice($index,1);">确认</a>
                          </p>
                        </div>
                      </div>
                    </td><!-- 商品编号 -->
                    <td class="text-left" >
                      <span class="color-orange cur-pot lend-order-goods-info"
                            ng-init="showInfoArea=false"
                            ng-mouseenter="showInfoArea=true"
                            ng-mouseleave="showInfoArea=false">{{item.approvedName}}
                        <show-info-modal ng-show="showInfoArea"
                                         get-data-type="local"
                                         template-url="tpl/showInfoModalLendOrder"
                                         info-object="{{item}}"
                                         info-title="商品信息">
                        </show-info-modal>
                      </span>
                      <p ng-if="item.info.msg" class="mgb-s color-red" style="line-height: 26px; height:26px;">
                        <i class="warning-icon"></i>
                        {{item.info.msg}}
                        <span style="margin-left: 15px;">
                          <a tab-nav tab-name="品种管理" tab-href="#/medicalStock/get.html?id={{item.relId}}" class="color-orange">查看详情</a>
                        </span>
                      </p>
                    </td><!-- 商品全名 -->
                    <td class="text-center">{{item.dosageForms}}</td><!-- 规格/型号 -->
                    <td class="text-center">{{item.specificationAndModelType}}</td><!-- 规格/型号 -->
                    <td class="text-center">{{item.unit}}</td><!-- 单位 -->
                    <td class="text-center" style="white-space: nowrap;">
                      <div class="order-goods-num">
                        <button type="button" class="inline-block left" ng-click="item.quantity=$root.utils.transformToNumber(item.quantity)-1;confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType)" ng-disabled="item.quantity==1">-</button>
                        <span class="inline-block">
                          <input type="number"
                                 min="1"
                                 name="quantity{{$index}}"
                                 class="inline ipt pr-ipt-60 text-center item-planQuantity"
                                 style="width:60px;"
                                 ng-model="item.quantity"
                                 ng-class="{'pr-bg-pink': medicalStockMap[item.relId].quantity<item.quantity}"
                                 ng-pattern="/^\+?[1-9][0-9]{0,5}$/"
                                 invalid-popover
                                 valid-value="{{!confirmOrder_editForm['quantity'+$index].$valid}}"
                                 popover-show
                                 popover-options='{"content":"批次总数不能大于商品数量或商品数量不正确", "placement":"top", "trigger":"manual"}'
                                 onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                 ng-change="confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType);">
                        </span>
                        <button type="button" class="inline-block right" ng-click="item.quantity=$root.utils.transformToNumber(item.quantity)+1;confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType)">+</button>
                      </div>
                    </td><!-- 订购数量 -->
                    <td class="text-center relative" style="padding:0 0 10px 0;width:200px;" ng-init="item.otherQuantity=0" ng-if="formData.orderBusinessType=='普通销售'">
                      <!-- 已选批号列表 -->
                      <div ng-repeat="batch in item.stockBatchs" ng-init="showDelIcon=false"
                           ng-if="batch.batchNumber!='' || batch.batchNumber!=null"
                           class="ipt-div relative"
                           style="width:180px;margin-top:10px;margin-left:10px;"
                           ng-mouseenter="showDelIcon=true" ng-mouseleave="showDelIcon=false">
                        <div class="inline-block text-ellips-s"
                             style="width:118px;height:100%;"
                             ng-class="{'pr-bg-green2 br-line':(batch.batchNumber)}">{{batch.productionBatch}}
                        </div>
                        <input type="number"
                               class="in_ipt"
                               name="batchNum{{$index}}"
                               ng-model="batch.quantity"
                               onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                               ng-change="confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType);">
                        <input type="hidden" ng-model="batch.id">
                        <!-- invalid-popover
                        popover-show="batch.quantity>batch.salesQuantity "
                        popover-options='{"content":"批次数量不能大于商品数量或可用量", "placement":"right", "trigger":"manual"}' -->
                        <span ng-if="showDelIcon" class="circle-s" ng-click="item.stockBatchs.splice($index,1);"><i class="fa fa-times-circle"></i></span>
                      </div>
                      <!-- 批号选择 -->
                      <div ng-if="getAllBatchTotal(item.stockBatchs)<item.quantity" class="ipt-div relative" style="width:180px;margin-top:10px;margin-left:10px;">
                        <i class="addImg"
                           modal-right="50%"
                           modal-scope="this"
                           modal-data='{
                                        "medicalName":"{{item.name}}",
                                        "id":"{{item.relId}}",
                                        "logisticsCenterId":"{{formData.logisticsCenterId}}",
                                        "quantity":{{item.quantity}},
                                        "choisedBatchList":{{item.stockBatchs}},
                                        "index": {{$index}}
                                      }'
                           modal-url="views/versionFlow/choice-stockbatch-dialog.html">
                        </i>
                      </div>
                      <!-- 待选择数 -->
                      <p ng-if="getAllBatchTotal(item.stockBatchs)<item.quantity" class="text-right color-red pdr relative">待选择：{{item.quantity-getAllBatchTotal(item.stockBatchs)}}</p>
                    </td><!-- 生产批号/数量 -->
                    <td  class="text-center pd-n" ng-if="formData.orderBusinessType=='普通销售'">
                      <div ng-repeat="ster in item.stockBatchs" style="margin-top:12px;margin-bottom:12px;">{{ster.sterilizationBatchNumber}}</div>
                    </td>
                    <td class="text-center" style="white-space: nowrap;">￥
                      <input type="text"
                             class="ipt pr-ipt-60 text-right"
                             name="strike_price{{$index}}"
                             ng-model="item.strike_price"
                             ng-change="item.discountPrice=0;item.discountRate=100;confirmOrderCalculaTotal(formData.orderMedicalNos,formData.orderBusinessType)"
                             required
                             ng-pattern="/^[0-9]{1,10}(\.[0-9]{1,3})?$/"
                             invalid-popover
                             valid-value="{{!confirmOrder_editForm['strike_price'+$index].$valid}}"
                             popover-show
                             popover-options='{"content":"报价不能小于0且不能过大或格式不正确", "placement":"right", "trigger":"manual"}' />
                            <p class="color-orange pr-indent-35">
                              <a modal-right="577"
                                 modal-scope="this"
                                 modal-data='{"medicalName":"{{item.name}}","id":"{{item.relId}}","type":"销售","customerId":"{{formData.customerId}}"}'
                                 modal-url="views/versionFlow/history-price.html">参考价格
                              </a>
                            </p>
                    </td><!-- 报价 -->
                    <td class="text-center">￥{{item.strike_price*item.quantity || item.totalPrice | number:2}}</td><!-- 价税合计 -->
                    <td  class="text-center pd-n" ng-if="formData.orderBusinessType=='普通销售'">
                      <!-- <div style="margin-top:12px;margin-bottom:12px;">{{item.validTill | date : 'yyyy-MM-dd'}}</div> -->
                      <div ng-repeat="ster in item.stockBatchs" style="margin-top:12px;margin-bottom:12px;">{{ster.validTill | date : 'yyyy-MM-dd'}}</div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pr-bg-white" ng-if="!formData.orderMedicalNos.length">
              <div class="empty-table clearfix">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
              </div>
            </div>
          </div>
          <div class="bt-line flex-column">
            <p class="flex-item-12 text-right pdb-m pdt-m pd-c-l ">
              <span class="mgr mgl">制单部门：<em class="color-3">{{formData.departmentName || '暂无'}}</em></span>
              <span class="mgr mgl">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span>
              <span class="mgr mgl">制单时间：<em class="color-3">{{formData.createAt || '暂无' | date: 'yyyy-MM-dd HH:mm'}}</em></span>
            </p>
          </div>
        </div>

      <!-- 其他信息 -->
      <div class="relative">
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l" >
          <h1 class="text-bold color-3 font-size-14">付款信息</h1>
          <div class="mgt-l">
            <span class="mgr">付款条件：
              <select class="ipt pr-short-ipt color-3" style="width:90px;"
                      data-placeholder=" "
                      chosen
                      ng-model="formData.paymentType"
                      select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_PaymentType">
              </select>
            </span>
            <span class="mgr">币种：
              <select class="ipt pr-short-ipt color-3" style="width:90px;"
                      data-placeholder=" "
                      chosen
                      ng-model="formData.currencyType"
                      select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_CurrencyType">
              </select>
            </span>
            <span class="mgr">汇率：<em class="color-6">1.00</em>
            </span>
          </div>
        </div>
        <div ng-if="!formData.customerId" class="panel pr-fuzzy-boundary pr-panel-height mgb">
          <div class="pd-c-v-l">
            <header class="text-n text-bold color-3">收货方信息
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
              </span>
            </header>
          </div>
          <div class="panel-body" style="display:none;padding:0;"></div>
        </div>

        <!-- 收货方信息 -->
        <address-manage-component ng-if="formData.customerId"
                                  compnent-title="收货方信息"
                                  request-url="rest/authen/customerAddress/get.json"
                                  request-data-id="{{formData.customerId}}"
                                  scope-data-prefix="customer"
                                  form-data="formData"
                                  modify-modal-url="views/customerAddress/contact/edit.html"
                                  modify-modal-title="编辑收货方信息"
                                  create-modal-url="views/customerAddress/contact/edit.html"
                                  create-modal-title="添加收货方信息"
                                  create-address-type="销售"
                                  set-default-address-requesturl="rest/authen/customerAddress/contact/setDefaultContactId"
                                  del-this-address-requesturl="rest/authen/customerAddress/contact/delete">
        </address-manage-component>

        <address-manage-component compnent-title="发货方信息"
                                  request-url="rest/authen/invoicesAddress/get.json"
                                  scope-data-prefix="invoices"
                                  form-data="formData"
                                  modify-modal-url="views/invoicesAddress/contact/edit.html"
                                  modify-modal-title="编辑发货方信息"
                                  create-modal-url="views/invoicesAddress/contact/edit.html"
                                  create-modal-title="添加发货方信息"
                                  create-address-type="销售"
                                  logistics-center-id="{{formData.logisticsCenterId}}"
                                  set-default-address-requesturl="rest/authen/invoicesAddress/contact/setDefaultContactId"
                                  del-this-address-requesturl="rest/authen/invoicesAddress/contact/delete">
        </address-manage-component>

        <!-- 备注 -->
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
          <h1 class="text-bold color-3 font-size-14">备注</h1>
          <textarea class="pr-textarea mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note" onkeydown="if(window.event.keyCode==13) return true;"></textarea>
        </div>


        <!-- 发票信息  start ---------------------------------->
        <!-- <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l"
             ng-init="invoiceList=[]"
             ajax-url="rest/authen/confirmOrder/getInvoicesById?id={{mainStatus.pageParams.id}}"
             scope-data="invoiceList">

          <header class="text-n color-3 text-bold">发票信息
            <span class="tools pull-right">
              <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
            </span>
          </header>
          <div class="panel-body invoice-list"  style="display:none; margin-top: 10px; padding:15px 0 0 0;">
            <div class="sales-invoice">
              <h1 class="text-bold color-3 mgb text-center">采购发票</h1>

              <div
                      ng-repeat="item in invoiceList"
                      ng-if="item.source == '采购发票'"
                      class="invoice-item"
                      modal-img-show
                      ng-src="{{  item.attachments[0].attachmentUrl ?   'http://pangu1656.oss-cn-shanghai.aliyuncs.com/'+item.attachments[0].attachmentUrl : ''}}"
              >
                <div  handle-this-click
                      title="删除"
                      dialog-title="确认删除?"
                      dialog-content="删除后将无法恢复,确认删除?"
                      dialog-template="pr-dialog-submit.html"
                      params="{'id':'{{mainStatus.pageParams.id}}','invoiceId':'{{item.id}}'}"
                      request-url="rest/authen/confirmOrder/delInvoice"
                      callback="invoiceList.splice($index,1)"
                      ng-click="$event.stopPropagation();" class="del-invoice-icon"></div>
                <div class="invoice-item-title">{{item.billingDate  || '暂无' | date :'yyyy-MM-dd' }}</div>
                <p class="invoice-supplier-name" title="{{item.seller.name || '暂无'}}">{{item.seller.name || '暂无'}}</p>
                <p class="invoice-num">{{item.code  || '暂无'}}</p>
              </div>


              <div class="add-invoice"
                   modal-right="50%"
                   modal-scope="this"
                   modal-data='{
                              "orderId":"{{mainStatus.pageParams.id}}",
                              "choiceInvoiceList":{{invoiceList}},
                              "invoiceSource":"采购发票"
                            }'
                   modal-url="views/confirmOrder/invoice-dialog.html"
              >
                <div class="add-invoice-border">
                  <div class="add-invoice-icon">+</div>
                </div>
              </div>

            </div>

            <div class="sales-invoice" style="border: none">
              <h1 class="text-bold color-3 mgb text-center">销售发票</h1>

              <div
                      ng-repeat="item in invoiceList"
                      ng-if="item.source == '销售发票'"
                      class="invoice-item"
                      modal-img-show
                      ng-src="{{  item.attachments[0].attachmentUrl ?   'http://pangu1656.oss-cn-shanghai.aliyuncs.com/'+item.attachments[0].attachmentUrl : ''}}"
              >
                <div

                        handle-this-click
                        title="删除"
                        dialog-title="确认删除?"
                        dialog-content="删除后将无法恢复,确认删除?"
                        dialog-template="pr-dialog-submit.html"
                        params="{'id':'{{mainStatus.pageParams.id}}','invoiceId':'{{item.id}}'}"
                        request-url="rest/authen/confirmOrder/delInvoice"
                        callback="invoiceList.splice($index,1)"
                        ng-click="$event.stopPropagation();" class="del-invoice-icon"></div>
                <div class="invoice-item-title">{{item.billingDate | date :'yyyy-MM-dd'  || '暂无'}}</div>
                <p class="invoice-supplier-name" title="{{item.purchaser.name || '暂无'}}">{{item.purchaser.name || '暂无'}}</p>
                <p class="invoice-num">{{item.code  || '暂无' }}</p>
              </div>


              <div class="add-invoice"
                   modal-right="50%"
                   modal-scope="this"
                   modal-data='{
                                      "orderId":"{{mainStatus.pageParams.id}}",
                                      "choiceInvoiceList":{{invoiceList}},
                                      "invoiceSource":"销售发票"
                                    }'
                   modal-url="views/confirmOrder/invoice-dialog.html"
              >
                <div class="add-invoice-border">
                  <div class="add-invoice-icon">+</div>
                </div>
              </div>

            </div>

          </div>
        </div> -->
        <!-- 发票信息  end ---------------------------------->


      </div>
    </div>
    <!-- 流程图 -->
    <business-flow-show business-key="{{formData.id}}" business-type="销售单"></business-flow-show>
    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <a ng-if="changeFlag" href="javascript:;" class="mgr-l"
           handle-this-click
           dialog-title="确认返回?"
           dialog-content="该销售单存在未保存数据，是否保存?"
           dialog-template="pr-dialog-return.html"
           nosave-callback="goTo({tabHref:'#/confirmOrder/query.html',tabName:'销售单'})"
           save-callback="submitForm('confirmOrder_editForm','exit')">返回销售单
        </a>

        <a class="mgr-l" ng-if="!changeFlag" tab-nav tab-name="销售单" tab-href="#/confirmOrder/query.html?id={{formData.relId}}" >返回销售单</a>

        <!--<span ng-if="$root.hasAuthor('销售单删除')&&formData.id">-->
          <!--<a ng-if="formData.orderStatus=='未提交' &&formData.inputUserId==mainStatus.id&&formData.id"-->
             <!--href="javascript:;"-->
             <!--class="pr-color-red mgr"-->
             <!--handle-this-click-->
             <!--dialog-title="确认删除?"-->
             <!--dialog-content="您确认删除这条销售单吗?"-->
             <!--dialog-template="pr-dialog-confirm.html"-->
             <!--request-url="rest/authen/confirmOrder/delete?id={{formData.id}}"-->
             <!--callback="$root.goTo({tabHref:'#/confirmOrder/query.html',tabName:'销售单'})">删除-->
          <!--</a>-->
         <!--</span>-->


        <a ng-if="formData.inputUserId==mainStatus.id&&formData.id"
           href="javascript:;"
           class="pr-color-red mgr-l"
           handle-this-click
           dialog-title="确认删除?"
           dialog-content="您确认删除这条销售单吗?"
           dialog-template="pr-dialog-confirm.html"
           request-url="rest/authen/confirmOrder/delete?id={{formData.id}}"
           callback="$root.goTo({tabHref:'#/confirmOrder/query.html',tabName:'销售单'})">删除
        </a>



        <!-- <button type="button"
                class="pr-btn-save-glodbg mgr"
                ng-click="submitForm('confirmOrder_editForm','create')">智能匹配
        </button> -->

        <button type="button"
                class="pr-btn-save-glodbg mgr"
                ng-click="submitForm('confirmOrder_editForm','print')">打印预览
        </button>

        <button type="button"
                class="pr-btn-save-glodbg mgr"
                ng-disabled="!changeFlag"
                ng-click="submitForm('confirmOrder_editForm','save')">保存
        </button>

        <button ng-if="formData.orderBusinessType=='普通销售'&&(formData.orderStatus=='未提交'||formData.orderStatus=='未通过')&&numberingPolicy!='auto'"
                type="button"
                class="pr-btn-save-glodbg mgr"
                ng-disabled="($root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)<0) ||
                             ($root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)>100000) ||
                             !confirmOrder_editForm.$valid ||
                             !formData.customerId ||
                             !formData.orderMedicalNos.length ||
                             formData.contactsNull ||
                             !formData.orderCode ||
                             quantityConfirmOrderError || quantityError ||!canNextStep(formData)"
                ng-click="submitForm('confirmOrder_editForm','submit')">提交
        </button>

        <button ng-if="formData.orderBusinessType=='普通销售'&&(formData.orderStatus=='未提交'||formData.orderStatus=='未通过')&&numberingPolicy=='auto'"
                type="button"
                class="pr-btn-save-glodbg mgr"
                ng-disabled="($root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)<0) ||
                             ($root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)>100000) ||
                             !confirmOrder_editForm.$valid ||
                             !formData.customerId ||
                             !formData.orderMedicalNos.length ||
                             formData.contactsNull ||
                             quantityConfirmOrderError || quantityError ||!canNextStep(formData)"
                ng-click="submitForm('confirmOrder_editForm','submit')">提交
        </button>

        <button ng-if="formData.orderBusinessType=='直发销售'&&(formData.orderStatus=='未提交'||formData.orderStatus=='未通过')&&numberingPolicy!='auto'"
                type="button"
                class="pr-btn-save-glodbg mgr"
                ng-disabled="$root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)>100000 ||
                             !confirmOrder_editForm.$valid ||
                             !formData.customerId ||
                             !formData.orderMedicalNos.length ||
                             formData.contactsNull ||
                             !formData.orderCode ||
                             quantityConfirmOrderError || quantityError ||!canNextStep(formData)"
                ng-click="submitForm('confirmOrder_editForm','submit')">提交
        </button>
        <div ng-if="!canNextStep(formData)" class="btn-tips">
          单据存在不符合交易要求的因素，不能提交。
          <div class="triangle-down"></div>
        </div>
        <button ng-if="formData.orderBusinessType=='直发销售'&&(formData.orderStatus=='未提交'||formData.orderStatus=='未通过')&&numberingPolicy=='auto'"
                type="button"
                class="pr-btn-save-glodbg mgr"
                ng-disabled="$root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)>100000 ||
                             !confirmOrder_editForm.$valid ||
                             !formData.customerId ||
                             !formData.orderMedicalNos.length ||
                             formData.contactsNull ||
                             quantityConfirmOrderError || quantityError ||!canNextStep(formData)"
                ng-click="submitForm('confirmOrder_editForm','submit')">提交
        </button>

      </div>

      <div ng-if="formData.orderBusinessType=='普通销售'" class="price-area relative fl-r mgr-l" style="font-size:18px;color:#c7a77b;">
        总计：￥{{formData.totalPrice || '0.00' | number:2}}</div>
      <div ng-if="formData.orderBusinessType=='直发销售'" class="price-area relative fl-r mgr-l" style="font-size:18px;color:#c7a77b;">
        总计：￥{{formData.totalPrice || '0.00' | number:2}}</div>
    </div>
  </form>
</div>
