body {
    background-color: #424f63;
    font-family: 'Microsoft YaHei', '新宋体';
    color: #7a7676;
    line-height: 20px;
    overflow-x: hidden;
    font-size: 14px;
}

input, select, textarea {
    font-family: 'Microsoft YaHei', '新宋体';
    color: #767676;
}

a {
    color: #65CEA7;
    cursor: pointer;
    white-space: nowrap;
}

a:focus, a:active, a:hover {
    outline: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    color: #353F4F;
}

h1, h2, h3, h4, h5 {
    font-family: 'Microsoft YaHei', '新宋体';
}

.mtop10 {
    margin-top: 10px;
}

hr {
    border-color: #ddd;
}

.checkbox input[type=checkbox], .radio input[type=radio] {
    outline: none;
}

.checkbox label, .radio label {
    padding-left: 0;
}
