<div class="content-wrapper first-medical-application"
     ng-controller="QualificationApplyCtrl"
     ajax-url="rest/authen/otherCustomerApplication/get.json?id={{mainStatus.pageParams.id}}"
     scope-data="showData"
     alert-error>
  <div class="page-header-info">
    <p class="mgb">管理中心 / <em class="color-custom-orange">客户管理</em></p>
    <h1>经销商/零售商资格申请</h1>
  </div>
  <!-- 主体内容 -->
  <div class="content-wrapper-main mgt">

      <!-- 单号 -->
      <div class="panel pr-panel pr-panel-height mgb color-9 flex-column bb-line">
        <div class="flex-item-8">
          <span class="mgr-l">申请单：<em class="color-6">{{showData.orderNo}}</em></span>
          <span class="mgr-l">申请人：<em class="color-custom-orange">{{showData.proposerName}}</em></span>
          <span>申请时间：{{showData.createAt | date : 'yyyy-MM-dd HH:mm'}}</span>
        </div>
        <span class="current-status flex-item-4 text-right">
          <a modal-center="1000px"
             modal-data='{"businessKey":"{{showData.id}}"}'
             modal-scope="this"
             modal-url="views/workflowTask/getOfDialog.html">
            <strong>状态：{{showData.orderStatus}}</strong>
          </a>
        </span>
      </div>
      <!-- 审核信息 -->
      <div ng-if="showData.orderStatus=='待审批'" class="panel pr-panel pr-panel-height mgb color-9" style="position:relative;top:-10px;">

        <span class="mgr-l"   ng-repeat="eventRecord in showData.eventRecords">
          {{eventRecord.event.id}}：<em class="color-6">{{eventRecord.event.status}}</em>
        </span>

      </div>
      <!-- 基本信息 -->
      <div class="panel pr-panel pr-panel-height mgb">
        <h1 class="pr-font-18 mgb">基本信息</h1>
        <!-- 经销商/零售商信息 -->
        <div class="">
          <h1 class="pr-font-14 bb-line pd-v text-bold mgb">医院信息：</h1>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">企业类别：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.type}}</span>
            </div>
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">客户全称：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.fullName}}</span>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">企业地址：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.address}}</span>
            </div>
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">企业简称：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.shortName}}</span>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">法人代表/身份证号：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.legalRepresentative}}&nbsp;&nbsp;{{showData.customer.credentialsNo}}</span>
            </div>
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">GMP/GSP证书号：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.gspCertificateNo}}</span>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">经营许可证号：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.productionLicenseNo}}</span>
            </div>
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">注册资金：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.registeredCapital}}</span>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">税号：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.taxNo}}</span>
            </div>
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">营业执照号：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.businessLicenseNo}}</span>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">营业期限：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.busnissAllotedTime}}</span>
            </div>
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">开户银行：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.accountBank}}</span>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">开户账号：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.accountNumber}}</span>
            </div>
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">开户名称：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.accountName}}</span>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">付款方式：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.paymentMethod}}</span>
            </div>
          </div>
        </div>
        <!-- 收货员信息 -->
        <div class="">
          <h1 class="pr-font-14 bb-line pd-v text-bold mgb">经销商/零售商收货员信息：</h1>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">收货员/身份证号：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.consignee}}&nbsp;&nbsp;{{showData.customer.consigneeIdentityNo}}</span>
            </div>
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">联系电话：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.consigneePhone}}</span>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">Email：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.consigneeEmail}}</span>
            </div>
          </div>
        </div>
        <!-- 采购员信息 -->
        <div class="">
          <h1 class="pr-font-14 bb-line pd-v text-bold mgb">经销商/零售商采购员信息：</h1>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">采购员/身份证号：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.purchaser}}&nbsp;&nbsp;{{showData.customer.purchaserIdentityNo}}</span>
            </div>
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">联系电话：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.purchaserPhone}}</span>
            </div>
          </div>
          <div class="flex-column mgb">
            <div class="flex-item-6 flex-column">
              <span class="flex-item-2 text-right">Email：</span>
              <span class="flex-item-10 pr-indent-10">{{showData.customer.purchaserEmail}}</span>
            </div>
          </div>
        </div>
        <!-- 拟售产品 -->
        <div class="">
          <h1 class="pr-font-14 bb-line pd-v text-bold mgb">拟售产品：</h1>
          <p class="mgb">{{showData.customer.saleProducts}}</p>
        </div>
      </div>
      <!-- 申请原因 -->
      <div class="panel pr-panel pr-panel-height mgb">
        <h1 class="pr-font-18 mgb">申请原因</h1>
        <span>{{showData.applyReason}}</span>
      </div>
      <!-- 审核资料 -->
      <div class="panel pr-panel pr-panel-height mgb">
        <h1 class="pr-font-18 mgb">审核资料</h1>
        <table class="table table-striped">
          <thead>
            <tr>
              <th>序号</th>
              <th>资料名称</th>
              <th>上传人</th>
              <th>上传日期</th>
              <th>有效日期</th>
              <th>附件</th>
              <th>备注</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in showData.attachments">
              <td>{{$index + 1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.uploadUserName}}</td>
              <td>{{item.uploadTime | date : 'yyyy-MM-dd HH:mm'}}</td>
              <td>{{item.guaranteePeriod | date : 'yyyy-MM-dd HH:mm'}}</td>
              <td>
                <img ng-if="item.attachmentUrl" ng-src="{{item.attachmentUrl}}" alt="" style="width:120px;height:120px;" />
              </td>
              <td>{{item.note}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- 审批 -->
      <div ng-if="showData.orderStatus!='未提交'"
           class="panel pr-panel pr-panel-height mgb">
        <div class="mgb-l">
          <h1 class="pr-font-18 mgb">审批意见</h1>
          <div class="mgb" ng-repeat="item in showData.eventRecords">
            <span class="mgr-xl" ng-if="item.event.status!='待审批'">{{item.event.name}} : <em ng-class="{'color-6':item.event.status=='待审批','color-green':item.event.status=='已通过','color-red':item.event.status=='未通过'}">{{item.event.status}}</em> </span>
            <span class="mgr-xl" ng-if="item.event.status!='待审批'"><em class="color-9">审批人：</em> <em>{{item.inputUser}}</em></span>
            <span class="mgr-xl" ng-if="item.event.status!='待审批'"><em class="color-9">审批时间：</em> <em>{{item.createAt | date:'yyyy-MM-dd HH:mm'}}</em></span>
            <p ng-if="item.event.status!='待审批'"><span class="color-9">原因说明：</span> <span>{{item.key}}</span></p>
          </div>
        </div>
        <div class="mgb-l"></div>
      </div>

      <div ng-if="showData.didateFilter.buttons.length>0 && showData.orderStatus=='待审批' && $root.utils.getcustomMenuByKeyOfArr(showData.didateFilter.buttons,'通过')"
           workflow-task-run-with-attchments
           custom-menu-arr="{{showData.didateFilter.buttons}}"
           return-button='{"buttonName":"返回申请单列表","requestUrl":"#/otherCustomerApplication/query.html"}'
           attchment-usege="经销商/零售商资格申请">
      </div>

      <div ng-if="!(showData.orderStatus=='未提交') && !(showData.didateFilter.buttons.length>0)" class="mgb text-right">
        <span class="mgl"><a href="#/otherCustomerApplication/query.html">返回申请单列表</a></span>
      </div>
    </div>

    <div ng-if="showData.orderStatus=='未提交'" class="mgb text-right">
      <span class="mgl"><a href="#/otherCustomerApplication/edit-step-3.html?id={{showData.id}}">返回修改</a></span>
      <span class="mgl">
        <a ng-if="showData.id && showData.proposerName==mainStatus.name"
           href="javascript:;"
           class="color-red"
           handle-this-click
           dialog-title="确认删除?"
           dialog-content="删除后将无法恢复,确认删除?"
           dialog-template="pr-dialog-submit.html"
           callback="$root.goTo('#/otherCustomerApplication/query.html')"
           params='{"id":showData.id}'
           request-url="rest/authen/otherCustomerApplication/delete">删除</a>
      </span>
      <span class="mgl">
        <button class="pr-btn-save-glodbg"
                type="button"
                ajax-url-submit="rest/authen/otherCustomerApplication/proposerUpdateStatus"
                params='{"id":showData.id,"orderStatus":"待审批"}'
                alert-error
                scope-data="showData"
                callback="$root.utils.refreshHref()">提交审批
        </button>
      </span>
    </div>
</div>
