<div   ng-controller="pageCtrl" class="pd-c-xxxl"
  ng-init="listParams.type=mainStatus.pageParams.type"
><!-- pageCtrl-->
<!-- page heading start-->
<div class="page-heading">
    <h3>部门管理</h3>
    <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active"> 部门管理 </li>
    </ul>
</div>
<!-- page heading end-->
<ul>


  <li><a href="#/manageDepartment/query.html"><i class="fa fa-home active"></i> <span>部门管理(列表展示)</span></a></li>
    <li><a href="#/manageDepartment/queryOfTree.html"><i class="fa fa-home"></i> <span>部门管理(树形展示)</span></a></li>
</ul>
<!--body wrapper start-->
<table-list list-data="rest/authen/manageDepartment/query.json" list-params="listParams">
  <div class="mg-m col-lg-12 col-sm-12">
    <div class="col-lg-1">
      <button type="button" class="btn btn-primary" modal-right="700" modal-scope="this"   modal-data='{"organizationId":"{{listParams.organizationId}}"}' modal-url="views/manageDepartment/edit.html"><i
              class="fa fa-plus"></i> 新建
      </button>
    </div>
    <div class="form-group col-lg-2">
      <label class="col-lg-2 col-sm-2 control-label">类型</label>
      <div class="col-lg-10 col-sm-10">
        <select class="ipt pr-short-ipt" ng-model="listParams.type" ng-init="listParams.type='经销商'">
          <option value="经销商" ng-selected="true">经销商</option>
          <option value="医疗机构">医疗机构</option>
        </select>
      </div>
    </div>
    <div class="form-group col-lg-2">
      <label class="col-lg-2 col-sm-2 control-label">机构</label>
      <div class="col-lg-10 col-sm-10">
        <select class="ipt pr-short-ipt"
                data-placeholder="选择机构"
                chosen
                ng-model="listParams.organizationId"
                select-source="rest/authen/manageUser/queryOrganization?type={{listParams.type}}">
        </select>
      </div>
    </div>
    <div class="form-group col-lg-2">
      <input type="text" class="form-control" placeholder="输入查询..." ng-model="listParams.q">
    </div>
  </div>

  <div class="wrapper">
    <div class="loader" ng-if="status.isLoading">
        <div class="loader-inner pacman">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>
    <div ng-if="!status.isLoading">
      <div class="empty-wrap" ng-if="tbodyList.length==0">
        <span><i class="fa fa-inbox"><em>什么也没有</em></i></span>
      </div>
      <div ng-if="tbodyList.length">

        <table class="table table-hover table-striped">
            <thead>
              <tr>
                  <th><input type="checkbox" class="selectAll"></th>
                  <th>序号</th>
                  <th>名称</th>

                  <th>创建时间</th>
                  <th>机构编码</th>
                  <th>操作</th>
                  <th></th>
              </tr>
            </thead>
              <tbody>
                <tr ng-repeat="tr in tbodyList" ng-click="selectThis()">
                    <td class="select-td"><input type="checkbox" class="selectOne" value="{{tr.id}}"></td>
                    <td>{{$index + 1}}</td>
                    <td>{{tr.name}}</td>

                    <td>{{tr.createAt | date : 'yyyy-MM-dd HH:mm'}}</td>
                    <td>{{tr.organizationId}}</td>
                    <td>
                        <!-- <button type="button" class="btn btn-default" modal-right="400" modal-scope="this" modal-url="views/list-view.html"><i
                                class="fa fa-folder-open-o"></i> 查看
                        </button> -->
                        <button type="button" class="btn btn-primary"  modal-right="700" modal-scope="this" modal-url="views/manageDepartment/edit.html?id={{tr.id}}"><i
                                class="fa fa-edit"></i> 编辑
                        </button>
                        <button type="button" class="btn btn-danger"
                                ng-click="deleteThis('rest/authen/manageDepartment/delete', tr.id)">
                                <i class="fa fa-trash-o"></i> 删除</button>
                    </td>
                </tr>
              </tbody>
          </table>
        <div class="clearfix">
            <div class="fr">
                <pagination status="status"></pagination>
            </div>
        </div>
      </div>
    </div>
  </div>
</table-list>
<!--body wrapper end-->
</div><!-- pageCtrl-->
