<!-- page heading start-->

<div ng-init="listParams={pageSize:10000};listParams.type=mainStatus.pageParams.type||'经销商'">
<div class="page-heading">
    <h3>部门管理</h3>
    <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active"> 部门管理</li>
    </ul>
</div>
<!-- page heading end-->
<ul>

  <li><a href="#/manageDepartment/query.html?type={{listParams.type}}"><i class="fa fa-home "></i> <span>部门管理(列表展示)</span></a></li>
    <li><a href="#/manageDepartment/queryOfTree.html?type={{listParams.type}}"><i class="fa fa-home active"></i> <span>部门管理(树形展示)</span></a></li>
</ul>
<!--body wrapper start-->

<div class="mg-m col-lg-12 col-sm-12">
  <div class="col-lg-1">
    <button type="button" class="btn btn-primary" modal-right="700" modal-scope="this"  modal-data='{"organizationId":"{{listParams.organizationId}}"}'
     modal-url="views/manageDepartment/edit.html"><i class="fa fa-plus"></i> 新建
    </button>
  </div>

  <div class="form-group col-lg-2">
    <label class="col-lg-2 col-sm-2 control-label">机构</label>
    <div class="col-lg-10 col-sm-10">
      <select class="ipt pr-short-ipt"
              data-placeholder="选择机构"
              chosen
              chosen-ajax
              ng-model="listParams.organizationId"
              select-source="rest/authen/organization/queryForSelectOption?type={{listParams.type}}">
      </select>
    </div>
  </div>

</div>

<div class="tree-org"  style="margin-top:75px;height:800px" tree-list2="rest/authen/manageDepartment/query.json" list-params="listParams" pid-key="parentId">
  <!-- <div class="mg-m">
    <div>
      <button type="button" class="btn btn-primary" modal-right="700" modal-scope="this" modal-url="views/manageDepartment/edit.html"><i
              class="fa fa-plus"></i> 新建
      </button>
    </div>
  </div> -->

  <script id="recursion" type="text/ng-template">

    <li ng-repeat="tr in treeList_recursion" ng-init="isOpen=tree_index<2" class="{{isOpen?'fold':''}}">
      <span class="name">
          <span class="text-bold" modal-right="800" modal-scope="this" modal-url="views/manageDepartment/edit.html?id={{::tr.id}}"   modal-data='{{listParams}}'>{{tr.name}}  <span class="text-s text-muted text-italic label">{{tr.descript}}  </span> </span>
            <span ng-if="tree_index>0&&tr.nodes.length" class="extend iconfont"   ng-click="extendTree($event)" ></span>
             <span class="operate">
                   <i class="iconfont icon-plus" modal-right="800" modal-scope="this" modal-url="views/manageDepartment/edit.html?parentId={{::tr.id}}"></i>
                             <i class="iconfont icon-settings" modal-right="800" modal-scope="this" modal-url="views/manageDepartment/edit.html?id={{::tr.id}}"></i>
                          <i class="iconfont icon-delete" ng-click="deleteTree($event, 'manageDepartment/delete?id='+tr.id)"></i>
                      </span>
      </span>
        <ul ng-if="tr.nodes.length" style="display: {{isOpen?'':'none'}}" ng-include="'recursion'"  ng-init="treeList_recursion=tr.nodes;tree_index=tree_index+1"></ul>
    </li>

  </script>
  <ul>
    <li  class="isOpen">
      <span class="name"  ajax-url="rest/authen/distributor/get.json?id={{$root.curUser.additional.Organization.organizationId}}"  scope-data="formData">


          <span class="text-bold">{{formData.name?formData.name:"公司"}}  <span class="text-s text-muted text-italic label"></span> </span>
            <span ng-if="tree.nodes.length" class="extend iconfont"   ng-click="extendTree($event)" ></span>
                     <span class="operate">
                           <i class="iconfont icon-plus" modal-right="800" modal-scope="this" modal-url="/manageDepartment/edit.html?parentId="></i>

                              </span>
      </span>
        <ul ng-if="treeList.length"  ng-include="'recursion'"  ng-init="treeList_recursion=treeList;tree_index=1"></ul>
    </li>
  </ul>
</div>

<!--body wrapper end-->
</div>
