/**
  全局Button 样式
 */

button[class^="ibtn"] {
    border: 0;
}

button[class^="ibtn"]:disabled{
    background: #666666;
    box-shadow: 0 1px 2px 0 #666666;
    color: #999999;
    cursor: not-allowed;
}


.ibtn-del-small{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    text-align: center;
    background: rgba(255,57,57,0.90);
    box-shadow: 0 1px 2px 0 #F54440;
    color: #fff;
}

.ibtn-del-radius{
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    background: rgba(255,57,57,0.95);
    box-shadow: 0 1px 4px 0 #F54440;
}

.ibtn-green,.ibtn-red,.ibtn-orange{
    border-radius: 2px;
    height: 36px;
    width: 100px;
    text-align: center;
    line-height:36px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
}

.ibtn-green{
    background: rgba(90,195,0,0.80);
    box-shadow: 0 0 4px 0 rgba(121,205,49,0.80);
}
.ibtn-red{
    background: rgba(255,0,0,0.80);
    box-shadow: 0 0 4px 0 #DE3F3E;
}

.ibtn-orange{
    background: rgba(255,140,0,0.80);
    box-shadow: 0 0 4px 0 #FFA91B;
}

.ibtn-radius{
    height:32px;
    line-height: 32px;
    text-align: center;
    width: 160px;
    font-family: PingFangSC-Regular;
    font-size: 12px;
    color: #FFFFFF;
    background: #C7A77B;
    box-shadow: 0 0 12px 0 rgba(199,167,123,0.50);
    border-radius: 100px;
}

.ibtn-radius-small-default,.ibtn-radius-small-red{
    width: 87.8px;
    height: 36px;
    text-align: center;
    line-height: 36px;
    color: #fff;
    border-radius: 100px;

}
.ibtn-radius-small-default{
    background: #C7A77B;
    border-radius: 100px;
}

.ibtn-radius-small-red{
    background: rgba(255,18,18,0.80);
    border-radius: 100px;
}









