/*
 *  项目各组件样式库
 *  样式命名空间规则： 组件标识名 + [Manage] + Component
 */

/* 主内容区域页头组件样式 */
.page-main-header-component {
  min-height: 40px;
  background: -webkit-linear-gradient(rgba(230, 226, 215, .6) 20%, rgba(230, 226, 215, .9) 80%);
  background: -o-linear-gradient(rgba(230, 226, 215, .6) 20%, rgba(230, 226, 215, .9) 80%);
  background: -moz-linear-gradient(rgba(230, 226, 215, .6) 20%, rgba(230, 226, 215, .9) 80%);
  background: linear-gradient(rgba(230, 226, 215, .6) 20%, rgba(230, 226, 215, .9) 80%);
}

.page-main-header-component .crumbs {
  border-bottom: 1px solid rgba(226,222,202,.9);
  background: rgba(234, 230, 219, 0.8);
}

.page-main-header-component .order-status-btn > div {
  text-align: right;
  padding: 0;
  z-index: 0;
}
