<div ng-controller="invoicesOrderCtrl"
     ng-init="outstockOrderForm={}"
     ng-app=""
     class="content-wrapper invoices-order"
     ajax-url="rest/authen/invoicesOrder/get.json?id={{mainStatus.pageParams.id}}"
     scope-data="showData"
     callback="formData=showData.distributionInfo;formData.id=showData.id;outstockOrderForm.invoicesId=showData.id"
     alert-error>
  <!-- 主内容头部 -->
  <div class="content-wrapper-heading mgt-m mgb-m">
    <h1 class="pr-title-color pr-font-24">发货单</h1>
  </div>
  <!-- 主内容区域 -->
  <div class="content-wrapper-main pr-bg-white pr-fuzzy-boundary text-s">
    <!-- 单据信息 -->
    <div class="flex-column pd-c-xl pdt-l pdb-l bb-line">
      <form   form-validator
            action="rest/authen/outstockOrder/save.json"
             alert-error
             form-data="outstockOrderForm"
               scope-data="outstockOrder"
            callback="goTo('#/outstockOrder/get.html?id='+outstockOrder.id)"
          >
      <div class="flex-item-10">
        <span class="mgr-m">发货单：{{showData.orderNo}}</span>
        <span class="mgr-m">创建时间：{{showData.createAt | date: 'yyyy-MM-dd HH:mm'}}</span>
        <span class="mgr-m">对应订单：缺字段</span>
        <span>对应出库单：{{showData.outStockOrderNo}}
                <button ng-if="showData.orderStatus=='已发货'&&!showData.outStockOrderNo" class="pr-btn-save-glodbg"   type="submit">生成出库单</button>

        </span>
      </div>
        </form>
      <div class="flex-item-2 text-right">
        <span>状态：{{showData.orderStatus}}</span>
      </div>
    </div>
    <!-- 用户信息 -->
    <div class="pd-c-xl pdt-l pdb-l bb-line">
      <p class="flex-column mgb">
        <span class="flex-item-6">客户名：{{showData.address.name}}</span>
        <span class="flex-item-6 text-right"><em class="mgr-m">销售人员：{{showData.saleUser.n}}</em> 期望到货时间：{{showData.expectDate | date: 'yyyy-MM-dd'}}</span>
      </p>
      <p>收货人信息：{{showData.address.name}} {{item.prov}}{{item.city}}{{item.area}}{{showData.address.address}} {{showData.address.tel}}</p>
    </div>
    <!-- 商品列表 -->
    <div class="pd-c-xl">
      <!-- 可发货 -->
      <div class="confirm-order bb-line pdb-l">
        <h1 class="pdt-l color-6 text-m pr-fw-500">订购清单</h1>

        <div order-medicals  ng-model="showData.orderMedicalNos"></div>

      </div>
      <div class="pd-v-xl">
        <p>备注：{{showData.note}}</p>
      </div>
    </div>
  </div>
  <!-- 配送信息 -->
  <div class="panel pr-panel pr-fuzzy-boundary pd-l">
      <h1 class="pdb-l">配送信息</h1>
      <div class="flex-column bb-line text-s">
        <div class="flex-item-3">
          <div class="form-group">
            <label class="mgr">发货方式</label>
            {{formData.type}}
          </div>
        </div>
        <div class="flex-item-3">
          <div class="form-group">
            <label class="mgr">原件</label>
            {{formData.originalParts}}
          </div>
        </div>
        <div class="flex-item-3">
          <div class="form-group">
            <label class="mgr">散件</label>
            {{formData.spareParts}}
          </div>
        </div>
        <div class="flex-item-3">
          <div class="form-group">
            <label class="mgr">备货位</label>
            {{formData.storageLocation}}
          </div>
        </div>
      </div>
      <h1 class="pdt-l pdb-l">附件</h1>
      <div class="flex-column text-s">
        <div class="flex-item-7">
          <div class="flex-column bb-line">
            <div class="flex-item-6">
              <div class="form-group">
                <label class="mgr">发票</label>
                {{formData.invoiceNo}}
              </div>
            </div>
            <div class="flex-item-6">
              <div class="form-group">
                <label class="mgr">检测报告</label>
                <a ng-if="formData.attachment" href="{{formData.attachment}}" >下载</a>

              </div>
            </div>
          </div>
          <div class="flex-column mgt">
            <div class="flex-item-12">
              <div class="form-group">
                <label class="mgr">备注</label>
                  {{formData.note}}
              </div>
            </div>
          </div>
        </div>
        <div class="flex-item-5" style="text-aligncenter;">
          <div>
            <img src="images/temp/tiaoxingma.jpg" alt="" style="height:135px;margin-left:100px;width:450px">
          </div>
        </div>
      </div>
      <!-- 提交按钮 -->
      <div class="pd-c-xl pdb-xxl text-right">
        <button   class="pr-btn-create-glodbg">打印</button>
        <span class="mgr-l"><a href="#/invoicesOrder/query.html">返回发货中心</a></span>
        <span class="mgr-l"><a href="#/confirmOrder/query.html">返回订单列表</a></span>
      </div>

    </div><!-- 配送信息 -->
</div>
