<div class="content-wrapper">
  <div class="content-wrapper-main">
    <div class="text-center order-done">
      <p><i></i><span class="text-l text-bold color-6">发货单提交成功</span></p>
      <p class="mg-l">您的发货单已提交成功,请等待发货...</p>
      <p>
        <a href="#/invoicesOrder/get.html?id={{mainStatus.pageParams.id}}" class="mgr-xl">查看发货单</a>
        <a href="#/invoicesOrder/query.html">返回发货单中心</a>
      </p>

      <div class="pd-c-xl pdb-xxl text-right">
        <span class="mgr-l"><a href="#/invoicesOrder/confirm-order.html?id={{mainStatus.pageParams.id}}">库房主管视角</a></span>

      </div>
    </div>
  </div>
</div>
