<div class="content-wrapper invoices-order" >
  <table-list list-data="{{mainStatus.requestPath}}rest/authen/invoicesOrder/query.json" list-params="listParams" search-mode="noCaseSensitive" search-param="q">
    <!-- 主内容头部 -->
    <div class="content-wrapper-heading h-l mgb-m mgt-m pdb-s line-b mgr-m relative">
      <!-- 新建按钮及状态按钮 -->
      <div class="full-width">
        <div class="pos-abs order-create-btn">
          <!-- <a href="#/salesOrder/edit.html" title="新建订单"><i></i><span class="text-s"></span></a> -->
        </div>
        <div class="order-status-btn pos-tr text-right"
             ajax-url="rest/authen/invoicesOrder/countByOrderStatus.json"
             scope-data="countByOrderStatus"
             alert-error>
            <div class=""></div>
            <div class="btn btn-group"   scope-data="statusList">
              <button order-status-choise type="button" class="btn pr-btn-transparentbg pr-btn-bg-gold" ng-click="listParams.orderStatus=''">全部</button>


                <!-- <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-repeat="tr in statusList" ng-click="listParams.orderStatus=tr.value">{{tr.value}}
                  <span class="pj-badge" ng-if='countByOrderStatus[tr.value]'>{{countByOrderStatus[tr.value]}}</span>
                </button> -->
              <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='未提交'">未提交
                <span class="pj-badge" ng-if='countByOrderStatus["未提交"]'>{{countByOrderStatus["未提交"]}}</span>
              </button>
              <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='待发货'">待发货
                <span class="pj-badge" ng-if='countByOrderStatus["待发货"]'>{{countByOrderStatus["待发货"]}}</span>
              </button>
              <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='已发货'">已发货
                <span class="pj-badge" ng-if='countByOrderStatus["已发货"]'>{{countByOrderStatus["已发货"]}}</span>
              </button>
              <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='已收货'">已收货</button>
            </div>
            <div class="inline-block relative">
              <button order-status-choise type="button" class="btn pr-btn-transparentbg">异常发货单</button>
            </div>
            <div class="inline-block relative">
              <button order-status-choise type="button" class="btn pr-btn-transparentbg" ng-click="listParams.orderStatus='已作废'">作废发货单</button>
            </div>
        </div>
      </div>
      <!-- 右侧搜索 -->
      <div class="text-right order-list-search pos-rb">
        <input type="text" class="ipt pdr-xxl" placeholder="客户名/订单编号/负责人" ng-model="listParams.q">
        <i class=""></i>
      </div>

    </div>
    <!-- 主内容区域 -->
    <div class="content-wrapper-main">
      <ul class="">
        <li class="pdr-m relative" ng-repeat="tr in tbodyList">
          <div class="mgb-xl pr-bg-white pr-fuzzy-boundary relative">
            <div>
              <form   form-validator  ng-init="outstockOrderForm={invoicesId:tr.id}"
                    action="rest/authen/outstockOrder/save.json"
                     alert-error
                     form-data="outstockOrderForm"
                     scope-data="outstockOrder"
                     no-close-dialog
                      alert-ok
                    callback="$root.goTo('#/outstockOrder/get.html?id='+outstockOrder.id)"
                  >
              <div class="flex-column mgb">
                <span class="flex-item-6 title-states">{{tr.orderStatus}}
                  <i ng-if="tr.orderStatus=='已收货'" class="circle-icon-green mgl-m"></i>
                  <i ng-if="tr.orderStatus=='待发货'" class="circle-icon-red mgl-m"></i>
                </span>

                <span class="flex-item-3 text-right">
                  <button  ng-if="!tr.outStockOrderId&&tr.orderStatus=='已发货'"   type="submit"   class="btn btn-primary pr-btn-xsm pr-btn-bg-gold">出库</button>
                </span>


                <span  ng-if="tr.orderStatus!='未提交'" class="flex-item-3 text-right"><a href="#/invoicesOrder/get.html?id={{tr.id}}">查看详情</a></span>
                <span  ng-if="tr.orderStatus=='未提交'" class="flex-item-3 text-right"><a href="#/invoicesOrder/edit.html?id={{tr.id}}">编辑</a></span>
              </div>
                  </form>
              <!-- <div class="text-s mgb-m">{{tr.type}}</div> -->
              <div class="flex-column qurey text-s color-9">
                <span class="flex-item-6 mgb">
                  创建时间：<strong class="color-6 text-normal">{{tr.createAt | date : 'yyyy-MM-dd HH:mm'}}</strong>
                </span>
                <span class="flex-item-6 text-right">
                  发货单编号：<strong class="color-6 text-normal">{{tr.orderNo}}</strong>
                </span>
                <span class="flex-item-6 mgb">
                  销售人员：<strong class="color-6 text-normal">{{tr.saleUser.n}}</strong>
                </span>
                <span class="flex-item-6 text-right">
                  电话：<strong class="color-6 text-normal">{{tr.address.tel}}</strong>
                </span>
              </div>
            </div>
            <div class="flex-column text-s">
              <div class="flex-item-6 br-line" style="min-height:220px;">
                <p class="mgt-m">发票：<em>{{tr.distributionInfo.invoiceNo || '无'}}</em></p>
                <p class="mgt-m">备货位：<em>{{tr.distributionInfo.storageLocation || '无'}}</em></p>
                <p  ng-if="tr.outStockOrderId" class="mgt-m">出库单：<em>
                   <a href="#/outstockOrder/get.html?id={{tr.outStockOrderId}}" >{{tr.outStockOrderNo|| '无'}}</a></em>
                  </p>

              </div>
              <div class="flex-item-6 pd">
                <h1 class="pd-v bb-line">物流信息</h1>
                <div class="flex-column mgt"  ng-repeat="kuaidi in tr.kuaidiSet">
                  <span class="flex-item-5 mgr-0">{{kuaidi.type}}</span>
                  <span class="flex-item-7">
                    <p class="pr-color">{{kuaidi.nu}}</p>
                  </span>
                </div>
              </div>
            </div>

          </div>
        </li>
      </ul>
  </table-list>
</div>
