<div class="modal-content pr-modal-content" ng-controller="editCtrl"  >

  <form class="add-medical-form form-horizontal"
        action="rest/authen/manageRole/save"
         ajax-url="rest/authen/manageRole/getOfEdit.json?id={{tr.id}}" parameter-body scope-data="formData" alert-error
        form-validator>
    <div class="modal-header">
        <!-- <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button> -->
        <h4 class="modal-title">{{formData&&formData.id?"编辑":"添加"}}角色</h4>
    </div>
    <div class="modal-body">

      <div class="form-group">
        <label class="col-lg-2 col-sm-2 control-label">所属机构</label>
        <div class="col-lg-10 col-sm-10">
          <select class="ipt pr-short-ipt" data-placeholder="选择机构" chosen default-empty="无" ng-model="formData.organizationId" select-source="rest/index/distributor/queryForSelectOption">

          </select>
        </div>
      </div>
        <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">角色名称</label>
          <div class="col-lg-10 col-sm-10">
            <input type="text" class="form-control" placeholder="" ng-model="formData.name" />
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">角色类型</label>
          <div class="col-lg-10 col-sm-10">
            <select class="ipt pr-short-ipt" data-placeholder="选择角色类型" chosen  ng-model="formData.type" select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_RoleType">

            </select>
          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label">权限集</label>
          <div class="col-lg-10 col-sm-10">



            <div class="form-ctrl"
             ajax-url="rest/index/queryAuthoritys"  scope-data="authoritys" alert-error>

              <fieldset  class="fieldset">
                  <legend>
                      权限  <label class="">
                        <input type="checkbox" onclick=" $('[name=authorityItem_name]').click();"/>
                        反选</label>
                  </legend>

                    <label class="" ng-repeat="authorityItem in authoritys">
                       <input type="checkbox" name="authorityItem_name" value="{{authorityItem.value}}"
                     checkbox-group="formData.authoritys" /> {{authorityItem.text}}</label>
              </fieldset>

            </div>
            <!--end Authoritys -->

          </div>
        </div>
        <div class="form-group">
          <label class="col-lg-2 col-sm-2 control-label"></label>
          <div class="col-lg-10 col-sm-10">
            <input type="submit" class="btn pr-btn-create-glodbg" value="提交">
          </div>
        </div>

    </div>

    </form>
</div>
