
<div class="create-new-order allocate-order  collarApplicationOrder-edit purchase-plan-order"
     ng-controller="salesChangeOrderEditCtrl"
     ajax-url="rest/authen/salesChangeOrder/getOfEdit?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="formData"
     callback="initFlag=true;
               formData.relIds=formData.relIds?formData.relIds:[];
               changeFlag=watchFormChange('formData');
               choisedMedicals=false;
               calcTotalPrice(formData.orderMedicalNos);
               quantityError=false;
               canSubmit=false;
               comfirmQuantity(formData.orderMedicalNos);getPrecision();">
  <!--setCurrentMakeOrderUserInfo(formData,'saleUserId','salesDepartmentId')-->

  <form id="salesChangeOrder_editForm"
         name="salesChangeOrder_editForm"
         form-validator
         parameter-body
         action="rest/authen/salesChangeOrder/save"
         alert-error
         alert-ok
         scope-error-msg="errorMsg"
         scope-data="formData"
         callback="submitFormAfter();watchFormChange('formData')"
         novalidate="true">

     <!--<page-main-header-component list-params="listParams"-->
                                 <!--crumbs-nav='[{"name":"销售中心","link":"","style":""},{ "name":"销售换货单","tabName":"销售换货单","link":"#/salesChangeOrder/query.html","style":"color-custom-orange"},{"name":"新建销售换货单","link":"","style":""}]'-->
                                 <!--component-title="销售换货单-{{formData&&formData.id?'编辑':'新建'}}">-->
     <!--</page-main-header-component>-->

    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs pd-c-xxl crumbs-" style="top: 72px;">销售中心 >
        <a tab-nav tab-name="销售换货单" tab-href="#/salesChangeOrder/query.html">
          <em class="color-custom-orange">销售换货单</em>
        </a>
        <em>>新建销售换货单</em>
      </p>
      <div class="pd-c-xxl pdt-l pdb-l pdt-xxl">
        <!-- 标题 -->
        <div class="mgb-m" style="margin-top:33px;">
          <h1 class="color-black pr-font-20">{{!formData.id?'新建':'编辑'}}销售换货单</h1>
        </div>
      </div>
    </div>



     <div class="content-wrapper">
       <div ng-if="formData.operationFlowSet.message||formData.operationFlowSet.key" class="pr-panel pr-panel-height mgb pr-bg-pink1">
         <em class="color-red">原因:</em>
         <p class="inline-block-important color-red">
           <em ng-model="formData.operationFlowSet.key">{{formData.operationFlowSet.key}}</em>
           <em ng-model="formData.operationFlowSet.message">{{formData.operationFlowSet.message}}</em>
         </p>
       </div>

       <!--预入物流中心-->
       <div class="purchaseOrder-edit">
         <!--客户名-->
         <div class="inline-block" ng-if="initFlag">
           <div class="inline-block mgr">
             <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="min-height:88px;">
               <div class="inline-block customer-name "></div>
               <div class="inline-block">
                 <p class="mgb-s">客户名</p>
                 <p class="mgb-s color-3 text-m">{{formData.customerName || "暂无"}}</p>
               </div>
             </div>
           </div>

         </div>

         <!--退回预入物流中心-->
         <div class="inline-block mgr" ng-if="initFlag">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="min-height:88px;">
             <div class="inline-block logistics-center"></div>
             <div class="inline-block">
               <p class="mgb-s">退回物流中心</p>
               <p class="text-m color-3">
                 <!--<select class="ipt pr-long-ipt color-6">-->
                 <!--</select>-->
                 <select class="ipt ipt-new-select color-3"
                         data-placeholder="请选择"
                         chosen
                         ng-model="formData.logisticsCenterId"
                         is-disabled-this="{{!formData.customerId}}"
                         select-source="rest/authen/logisticsCenter/queryForSelectOption.json">
                 </select>
               </p>
             </div>
           </div>
         </div>

         <!--出货物流中心-->
         <div class="inline-block" ng-if="initFlag" >
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="min-height:88px;">
             <div class="inline-block logistics-center"></div>
             <div class="inline-block">
               <p class="mgb-s">出货物流中心</p>
               <p class="text-m color-3">
                 <select class="ipt ipt-new-select color-3"
                         data-placeholder=" "
                         chosen
                         ng-model="formData.outlogisticsCenterId"
                         is-disabled-this="{{!formData.customerId}}"
                         select-source="rest/authen/logisticsCenter/queryForSelectOption.json">
                 </select>
               </p>
             </div>
           </div>
         </div>
       </div>

       <!--   自动打开右侧弹窗  modal-open-auto="{{!formData.orderMedicalNos.length}}" -->


       <div class="pos-rel-tl order-create-btn mgb-m">
         <a
             modal-right="1000"
             modal-scope="this"
             modal-data='{"relId":"{{formData.relId}}"}'
             modal-url="views/salesChangeOrder/choice-dialog.html">
           <i></i>
           <span> {{formData.receiveOrderMedicalNos.length < 1 ? '添加':'修改'}}换货条目</span>
         </a>
       </div>
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n">
         <!-- 列表 -->
         <div class="bt-line">
           <div class="flex-row color-9 pd-c-l pdt-m pdb-m bb-dashed-line">
             <div class="flex-item-6" ng-init="numberingPolicy='auto'">

               <!--自动获取单号-->
               <span ng-if="initFlag&&numberingPolicy!='auto'" class="mar-r20">单据编号：
                 <input type="text"
                        class="inline ipt pr-ipt-60 text-center"
                        style="width:100px;"
                        ng-model="formData.orderCode" />
                  <em ng-if="initFlag&&!formData.orderCode" class="color-red">（必填）</em>
               </span>
               <span ng-if="initFlag&&numberingPolicy=='auto'" class="mar-r20">单据编号：<em class="color-3">{{formData.orderCode || '暂无'}}</em></span>

               <span class="mgr">单据日期: </span>

                <date ng-model="formData.orderDate"></date>

               <!--<div class="date-icon-outside">-->
                 <!--<input type="text"-->
                        <!--datepicker-->
                        <!--class="ipt-date ipt color-3"-->
                        <!--ng-readonly="true"-->
                        <!--placeholder=""-->
                        <!--ng-model="formData.orderDate">-->
                 <!--<span icon-click class="date-icon"></span>-->
               <!--</div>-->

               <span class="mgr mgl-l">发货单编号:

                 <!--<a ng-if="formData.relOrderNo" tab-nav tab-name="发货单" tab-href="#/invoicesOrder/get.html?id={{formData.relId}}"  class="color-orange">{{formData.relOrderCode || '暂无'}}</a>-->
                 <a2 ng-if="formData.relOrderNo" tab-name="发货单" url="#/invoicesOrder/get.html?id={{formData.relId}}"  class="color-orange">{{formData.relOrderCode || '暂无'}}</a2>

                 <span ng-if="!formData.relOrderNo" class="color-3">暂无</span>
               </span>

               <!--<br>-->
               <!--关联原订单ID:{{formData.relId}}<br>-->
               <!--关联原订单号:{{formData.relOrderNo}}<br>-->
               <!--关联原订编号:{{formData.relOrderCode}}<br>-->

             </div>
             <div class="flex-item-6 text-right">
               <!--<span class="mgr">系统编号：<em class="color-3">{{formData.orderNo || "暂无"}}</em></span>-->
               <span class="mgr">状态：<em class="color-3">{{formData.orderStatus || "暂无" }}</em></span>
             </div>
           </div>


           <div class="pd-c-l pdt-m pdb-m color-9">

             <span class="mgr">业务部门:</span>
             <select class="ipt pr-short-ipt color-3" style="width:100px;"

                     data-placeholder=" "
                     no-first-select-source="true"
                     chosen
                     no-first-select-source="true"
                     ng-model="formData.salesDepartmentId"
                     select-source="rest/authen/department/queryForSelectOption">
             </select>

             <span class="mgr" style="margin-left: 20px;">业务人员:</span>
             <select class="ipt pr-short-ipt color-3" style="width:125px; margin-right: 20px;"
                     data-placeholder=" "
                     no-first-select-source="true"
                     chosen
                     no-first-select-source="true"
                     ng-model="formData.saleUserId"
                     select-source="rest/authen/organizationAndUser/queryForSelectOption?departmentId={{formData.salesDepartmentId}}&isReturnNullOfNoCondition=true">
             </select>

             <span class="mar-l20">要求到货日期:</span>
             <date ng-model="formData.expectDate"></date>
             <!--<div class="date-icon-outside">-->
               <!--<input type="text"-->
                      <!--datepicker-->
                      <!--class="ipt-date ipt color-3"-->
                      <!--ng-readonly="true"-->
                      <!--placeholder=""-->
                      <!--ng-model="formData.expectDate">-->
               <!--<span icon-click class="date-icon"></span>-->
             <!--</div>-->

           </div>

           <!--退回-->
           <div class="pd-c-l pdt-m pdb-m color-9" style="margin-bottom: 15px; border-top: 1px solid rgba(0,0,0,0.10);">
             <span class="color-3" style="font-weight: bold; float: left">退回</span>
           </div>

           <!-- 退回-商品列表 -->
           <div class="">
             <table class="table pr-table pr-new-table mgb-n">
               <thead>
               <tr>
                 <th class="text-center">序号</th>
                 <th class="text-center">商品编号</th>
                 <th class="text-left">商品通用名</th>
                 <th class="text-center">类型/分类</th>
                 <th class="text-center">规格／型号</th>
                 <th class="text-center">单位</th>

                 <th class="text-center">可换数量</th>
                 <th class="text-center">换货数量</th>
                 <th class="text-center">预入库房</th>

                 <th class="text-center">批号</th>
                 <th class="text-center">灭菌批号</th>
                 <th class="text-center">失效日期</th>
                 <th class="text-center">含税单价</th>
                 <th class="text-center">价税合计</th>

               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="tr in formData.receiveOrderMedicalNos" table-item-handlebtn-component>
                 <td class="text-center" style="line-height:2.4">{{$index+1}}
                   <div  class="table-item-handle-btn" style="left:1800px;">
                     <div class="table-item-confirm-del-area bg-white">
                       <p class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                       <p class="pdt-s">
                         <a href="javascript:;" class="cancelHandle" ng-click="cancelDel();">取消</a>
                         <a href="javascript:;" class="confirm-del-this pr-btn-best-small pr-btn-bg-gold mgl delete-btn"
                            ng-click="deleteMedcal($index)">

                           确认</a>
                       </p>
                     </div>
                   </div>
                 </td><!-- 序号 -->
                 <td class="text-center" style="line-height:2.4">{{tr.code}}</td><!-- 商品编码 -->
                 <td class="text-left"   style="line-height:2.4">
                  <span class="lend-order-goods-info"
                        ng-init="showInfoArea=false"
                        style="position: relative"
                        ng-mouseenter="showInfoArea=true"
                        ng-mouseleave="showInfoArea=false">
                    <div class=" color-orange cur-pot " title="{{tr.approvedName}}"> {{tr.approvedName}}</div>
                    <!--<div class="autocut color-orange cur-pot " title="{{tr.name}}"> {{tr.name}}</div>-->
                    <show-info-modal ng-show="showInfoArea"
                                     get-data-type="local"
                                     template-url="tpl/showInfoModalLendOrder"
                                     info-object="{{tr}}"
                                     info-title="商品信息">
                    </show-info-modal>
                  </span>
                 </td><!-- 商品全名 -->

                 <td class="text-center" style="line-height:2.4">{{tr.dosageForms}}</td><!-- 类型/分类 -->
                 <td class="text-center" style="line-height:2.4">{{tr.specificationAndModelType}}</td><!-- 规格／型号 -->
                 <td class="text-center" style="line-height:2.4">{{tr.unit}}</td><!-- 单位 -->

                 <td class="text-right" style="line-height:2.4" ng-init="tr.planReturnCount= tr.planReturnCount ? tr.planReturnCount : tr.outgoingQuantity">{{tr.planReturnCount}}</td><!-- 可换数量 -->
                 <td class="text-center relative" style="white-space: nowrap;" ng-init="tr.stayCount = tr.stayCount ?  tr.stayCount : tr.outgoingQuantity">
                   <div class="order-goods-num">
                     <button type="button" class="inline-block left" ng-click="tr.quantity=$root.utils.transformToNumber(tr.quantity)-1; updateMedcalInfo($index,tr);" ng-class="{'disabled':(!tr.quantity)}" ng-disabled="!tr.quantity">-</button>
                     <span class="inline-block">
                          <input type="number"
                                 min="1"
                                 name="quantity{{$index}}"
                                 required
                                 class="inline ipt pr-ipt-60 text-center item-planQuantity"
                                 style="width:60px;"
                                 ng-model="tr.quantity"
                                 ng-class="{'pr-bg-pink': medicalStockMap[item.relId].quantity<item.quantity}"
                                 ng-pattern="/^\+?[1-9][0-9]{0,5}$/"
                                 invalid-popover
                                 valid-value="{{!salesChangeOrder_editForm['quantity'+$index].$valid}}"
                                 popover-show="checkQuantity(tr)"
                                 popover-options='{"content":"换货数量不能大于可换数量或小于1", "placement":"top", "trigger":"manual"}'
                                 onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                 ng-change="updateMedcalInfo($index,tr);"
                          >
                        </span>
                     <button ng-disabled="tr.quantity==tr.planReturnCount"
                             type="button" class="inline-block right"
                             ng-click="tr.quantity=$root.utils.transformToNumber(tr.quantity)+1;
                             updateMedcalInfo($index,tr);">+</button>
                   </div>
                 </td><!-- 换货数量 -->

                 <td class="text-center">

                   <!--{{tr.packingAttribute.name}}-->
                   <!--ajax-url="rest/authen/warehouse/queryForSelectOption?logisticsCenterId={{formData.logisticsCenterId}}&type=虚拟库"-->

                   <select class="pr-select pd-s"
                           style="width:115px;"
                           ng-model="tr.warehouseId"
                           ajax-url="rest/authen/warehouse/queryForSelectOption?logisticsCenterId={{formData.logisticsCenterId}}&type=正常库"
                           scope-data="warehouseList"
                           callback="tr.warehouseId = tr.warehouseId ? tr.warehouseId : warehouseList[0].value;"
                   >
                     <option ng-repeat="option in warehouseList" value="{{option.value}}">{{option.text}}</option>
                   </select>



                 </td><!-- 预入仓库 -->

                 <td class="text-center" style="line-height:2.4">{{tr.productionBatch}}</td><!-- 批号 -->
                 <td class="text-center" style="line-height:2.4">{{tr.sterilizationBatchNumber}}</td><!-- 灭菌批号 -->
                 <td class="text-center" style="line-height:2.4">{{tr.validTill || '暂无' | date:'yyyy-MM-dd'}}</td><!-- 失效日期 -->
                 <td class="text-right" style="line-height:2.4">￥{{tr.strike_price | number:precision}}</td><!-- 含税单价 -->
                 <td class="text-right" style="line-height:2.4">￥{{tr.strike_price * tr.stayCount | number:2}}</td><!-- 价税合计 -->
               </tr>
               </tbody>
             </table>
           </div>
           <div class="pr-bg-white" ng-if="!formData.receiveOrderMedicalNos.length">
             <div class="empty-table clearfix">
               <div>&nbsp;</div>
               <div>&nbsp;</div>
               <div>&nbsp;</div>
             </div>
           </div>



           <!--重新发货-->
           <div class="pd-c-l pdt-m pdb-m color-9" style="margin-top: 25px; margin-bottom: 15px; border-top: 1px solid rgba(0,0,0,0.10);">
             <span class="color-3" style="font-weight: bold; float: left">重新发货</span>
           </div>
           <!--重新发货-商品列表 -->
           <div class="">
             <table class="table pr-table pr-new-table mgb-n">
               <thead>
               <tr>
                 <th class="text-center">序号</th>
                 <th class="text-center">商品编号</th>
                 <th class="text-left">商品通用名</th>
                 <th class="text-center">类型/分类</th>
                 <th class="text-center">规格／型号</th>
                 <th class="text-center">单位</th>

                 <th class="text-center">换货数量</th>
                 <th class="text-center">批号／数量</th>

                 <th class="text-center">含税单价</th>
                 <th class="text-center">价税合计</th>
                 <th class="text-center">灭菌批号</th>
                 <th class="text-center">仓库</th>
                 <th class="text-center">失效日期</th>


               </tr>
               </thead>
               <tbody>
               <tr ng-repeat="tr in formData.orderMedicalNos" table-item-handlebtn-component>
                 <td class="text-center" style="line-height:2.4">{{$index+1}}
                   <div  class="table-item-handle-btn" style="left:1800px;">
                     <div class="table-item-confirm-del-area bg-white">
                       <p class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                       <p class="pdt-s">
                         <a href="javascript:;" class="cancelHandle" ng-click="cancelDel();">取消</a>
                         <a href="javascript:;" class="confirm-del-this pr-btn-best-small pr-btn-bg-gold mgl delete-btn"
                            ng-click="deleteMedcal($index);">确认</a>
                       </p>
                     </div>
                   </div>
                 </td><!-- 序号 -->
                 <td class="text-center" style="line-height:2.4">{{tr.code}}</td><!-- 商品编码 -->
                 <td class="text-left"   style="line-height:2.4">
                  <span class="lend-order-goods-info"
                        ng-init="showInfoArea=false"
                        style="position: relative"
                        ng-mouseenter="showInfoArea=true"
                        ng-mouseleave="showInfoArea=false">
                    <div class=" color-orange cur-pot " title="{{tr.approvedName}}"> {{tr.approvedName}}</div>
                    <!--<div class="autocut color-orange cur-pot " title="{{tr.name}}"> {{tr.name}}</div>-->
                    <show-info-modal ng-show="showInfoArea"
                                     get-data-type="local"
                                     template-url="tpl/showInfoModalLendOrder"
                                     info-object="{{tr}}"
                                     info-title="商品信息">
                    </show-info-modal>
                  </span>
                 </td><!-- 商品全名 -->

                 <td class="text-center" style="line-height:2.4">{{tr.dosageForms}}</td><!-- 类型/分类 -->
                 <td class="text-center" style="line-height:2.4">{{tr.specificationAndModelType}}</td><!-- 规格／型号 -->
                 <td class="text-center" style="line-height:2.4">{{tr.unit}}</td><!-- 单位 -->

                 <td class="text-right" style="line-height:2.4">{{tr.stayCount}}</td><!-- 换货数量 -->
                 <td class="text-center relative" style="padding:0 0 10px 0;width:200px;"
                     ng-init="tr.stockBatchs = tr.stockBatchs ? tr.stockBatchs : []"
                 >

                   <!-- 已选批号列表 -->
                   <div ng-repeat="batch in tr.stockBatchs" ng-init="showDelIcon=false"
                        ng-if="batch.batchNumber!='' || batch.batchNumber!=null"
                        class="ipt-div relative"
                        style="width:180px; margin: 0 auto; margin-top:10px;"
                        ng-mouseenter="showDelIcon=true" ng-mouseleave="showDelIcon=false">
                     <div class="inline-block text-ellips-s"
                          style="width:118px;height:30px;margin-top:-1px"
                          ng-class="{'pr-bg-green2 br-line':(batch.batchNumber)}">{{batch.productionBatch}}
                     </div>
                     <input type="number"
                            class="in_ipt"
                            name="batchNum{{$index}}"
                            ng-model="batch.quantity"
                            onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                            ng-change="confirmOrderCalculaTotal(formData.orderMedicalNos, formData.orderBusinessType)">
                     <input type="hidden" ng-model="batch.id">
                     <span ng-if="showDelIcon" class="circle-s" ng-click="tr.stockBatchs.splice($index,1)"><i class="fa fa-times-circle"></i></span>
                   </div>

                   <!-- 批号选择 ng-if="getAllBatchTotal(tr.stockBatchs)<tr.stayCount"-->
                   <div
                      ng-if="getAllBatchTotal(tr.stockBatchs,'quantity')<tr.stayCount"
                      class="ipt-div relative"  style="width:180px; margin: 0 auto; margin-top:10px;">
                     <i class="addImg left150"
                        modal-right="50%"
                        modal-scope="this"
                        modal-data='{
                                        "medicalName":"{{tr.name}}",
                                        "id":"{{tr.relId}}",
                                        "logisticsCenterId":"{{formData.logisticsCenterId}}",
                                        "quantity":{{tr.stayCount}},
                                        "index":{{$index}},
                                        "choisedBatchList":{{tr.stockBatchs}}
                                      }'
                        modal-url="views/versionFlow/choice-stockbatch-dialog.html">
                     </i>
                   </div>
                   <!-- 待选择数 -->
                   <p ng-if="getAllBatchTotal(tr.stockBatchs,'quantity')<tr.stayCount" class="text-right color-red pdr relative">待选择：{{tr.stayCount-getAllBatchTotal(tr.stockBatchs,'quantity')}}</p>
                 </td><!-- 批号/数量 -->

                 <td class="text-right" style="line-height:2.4">

                   <!--<div ng-repeat="warehouse in tr.stockBatchs" style="margin-top:12px;margin-bottom:12px;">{{warehouse.warehouseName}}</div>-->

                   ￥{{tr.strike_price   | number:precision}}</td><!-- 含税单价 -->

                 <td class="text-right" style="line-height:2.4">￥{{tr.strike_price * tr.stayCount  | number:2}}</td><!-- 价税合计 -->
                 <td class="text-center" style="line-height:2.4">

                   <!--{{tr.sterilizationBatchNumber}}-->

                   <div ng-repeat="item in tr.stockBatchs" style="margin-bottom:12px;">{{item.sterilizationBatchNumber}}</div>
                 </td><!-- 灭菌批号 -->
                 <td class="text-center" style="line-height:2.4">
                   <div ng-repeat="warehouse in tr.stockBatchs" style="margin-bottom:12px;">{{warehouse.warehouseName}}</div>
                 </td>  <!--仓库-->
                 <td class="text-center" style="line-height:2.4">
                   <div ng-repeat="batch in tr.stockBatchs" style="margin-bottom:12px;">{{batch.validTill || '暂无' | date : 'yyyy-MM-dd' }}</div>

                 </td><!-- 失效日期 -->
               </tr>
               </tbody>
             </table>
           </div>


           <div class="pr-bg-white" ng-if="!formData.orderMedicalNos.length">
             <div class="empty-table clearfix">
               <div>&nbsp;</div>
               <div>&nbsp;</div>
               <div>&nbsp;</div>
             </div>
           </div>


           <!-- 制单人信息 -->
           <div class="flex-row color-9 pd-c-l pdt-m pdb-m" style="border-top: 1px solid rgba(209,143,0,0.20);">
             <div class="flex-item-6 text-right"></div>
             <div class="flex-item-6 text-right">
               <span class="mgr-l">制单部门：<em class="color-3">{{formData.departmentName || '暂无'}}</em></span>
               <span class="mgr-l">制单人：<em class="color-3">{{formData.inputUser.n || '暂无'}}</em></span>
               <span class="mgr">制单时间：<em class="color-3">{{formData.createAt || '暂无' | date:'yyyy-MM-dd HH:mm'}}</em></span>
             </div>
           </div>


         </div>
       </div>





       <!-- 运输／仓储 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
         <h1 class="text-bold color-3 inline-block font-size-14" style="border-right: 1px solid rgba(0,0,0,0.15); padding-right: 20px; margin-right: 20px;">运输／仓储</h1>
         <!--ng-disabled="formData.id"-->
         <span class="mgr">运输方式：</span>
         <select class="ipt pr-short-ipt color-3" style="width:100px;"
                 data-placeholder=" "
                 no-first-select-source="true"
                 chosen
                 ng-model="formData.payAndDelivery.transportType"
                 select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_TransportType">
         </select>
         <!--ng-disabled="formData.id"-->
         <span class="mgr" style="margin-left: 30px;">承运公司：</span>
         <select class="ipt pr-short-ipt color-3" style="width:100px;"

                 data-placeholder=" "
                 no-first-select-source="true"
                 chosen
                 ng-model="formData.payAndDelivery.kuaidiType"
                 select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_KuaidiType">
         </select>

       </div>

       <!-- 收货方信息 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb"

            ajax-url="rest/authen/invoicesOrder/get?id={{formData.relId}}"
            scope-data="customerContactsInfo"
            callback="formData.customerContacts=customerContactsInfo.invoicesContacts;
            formData.invoicesContacts=customerContactsInfo.customerContacts;

            formData.customerId= customerContactsInfo.customerId;
            formData.customerName= customerContactsInfo.customerName;
            formData.customerCode= customerContactsInfo.customerCode;"
       >
         <header class="text-n color-3 text-bold">收货方信息（供应商）
           <span class="tools pull-right">
              <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
            </span>
         </header>
         <div class="panel-body" style="display:none;padding:15px 0 0 0;">
           <p class="">
             {{formData.customerContacts.name}}&nbsp;&nbsp;{{formData.customerContacts.tel}}&nbsp;&nbsp;{{formData.customerContacts.prov}}&nbsp;&nbsp;{{formData.customerContacts.city}}&nbsp;&nbsp;{{formData.customerContacts.area}}&nbsp;&nbsp;{{formData.customerContacts.address}}
           </p>
         </div>
       </div>

       <!-- 发货方信息 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
         <header class="text-n color-3 text-bold">发货方信息（客户）
           <span class="tools pull-right">
              <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
            </span>
         </header>
         <div class="panel-body" style="display:none;padding:15px 0 0 0;"

         >
           <h1 class="mgb">
             <p class="">
               {{formData.invoicesContacts.name}}&nbsp;&nbsp;{{formData.invoicesContacts.tel}}&nbsp;&nbsp;{{formData.invoicesContacts.prov}}&nbsp;&nbsp;{{formData.invoicesContacts.city}}&nbsp;&nbsp;{{formData.invoicesContacts.area}}&nbsp;&nbsp;{{formData.invoicesContacts.address}}
             </p>
         </div>
       </div>

       <!-- 备注 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l mar-t20">
         <h1 class="text-bold color-3 inline-block font-size-14">备注</h1>
         <textarea class="pr-textarea mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note"></textarea>
       </div>
     </div>
     <!-- 流程图 -->

     <!-- <business-flow-show business-key="{{formData.id}}" business-type="采购单"></business-flow-show> -->
    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <span class="mgr-l">
          <a ng-if="changeFlag"
             href="javascript:;"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="有修改数据还未保存，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo({tabName:'销售换货单',tabHref:'#/salesChangeOrder/query.html'})"
             save-callback="submitForm('salesChangeOrder_editForm','exit')">返回销售换货单列表
          </a>

          <a ng-if="!changeFlag" tab-nav tab-name="销售换货单" tab-href="#/salesChangeOrder/query.html" >返回销售换货单列表</a>
        </span>
        <span class="mgr-l mgt" ng-if="$root.hasAuthor('销售换货单删除')">
          <a ng-if="formData.orderStatus=='未提交'&&formData.id"
             href="javascript:;"
             handle-this-click
             class="pr-color-red"
             dialog-title="确认删除 ?"
             dialog-content="您确认删除这条销售换货单吗?"
             dialog-template="pr-dialog-confirm.html"
             request-url="rest/authen/salesChangeOrder/delete?id={{formData.id}}"
             callback="goTo({tabName:'销售换货单',tabHref:'#/salesChangeOrder/query.html'})">删除
          </a>
        </span>
        <!---->
        <span class="mgt">
          <button class="pr-btn-save-glodbg mgr"
                  type="button"
                  ng-disabled="!changeFlag"
                  ng-click="submitForm('salesChangeOrder_editForm','save')">保存
          </button>
        </span>

        <span>
          <!---->
          <button class="pr-btn-create-glodbg mgt"
                  type="button"
                  handle-this-click
                  dialog-title="确认提示"
                  dialog-content="确认提交?"
                  dialog-template="pr-dialog-submit.html"
                  callback="submitForm('salesChangeOrder_editForm','submit')"
                  ng-disabled="!formData.customerId || !formData.orderMedicalNos.length || !checkCanSubmit() || !salesChangeOrder_editForm.$valid"
                   >提交
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
