<div class="modal-content right-side-new pr-bg-black4" ng-controller="editCtrl">
  <form class="add-customerAddress-form form-horizontal"
        ajax-url="rest/authen/versionFlow/query?businessKey={{dialogData.id}}"
        scope-data="showData"
        alert-error>
              <!-- ajax-url="{{dialogData.requestUrl}}" -->
    <div class="bb-line-gold pr-bg-black2 min-h-l">
       <h1 class="pr-indent-20 pdb-m" style="line-height:50px;max-height:35px;">操作记录</h1>
     </div>
    <div>
        <table class="full-width another-table" >
          <thead>
            <tr class="bb-line-gold">
              <th class="text-center" class="text-left pr-indent-20" style="width:100px;">操作人</th>
              <th class="text-center" style="width:200px;">操作时间</th>
              <th class="text-center" class="text-left" style="width:100px;">操作内容</th>
              <th class="text-center" class="text-left">原因</th>
            </tr>
          </thead>
          <tbody class="bg-white">
            <tr ng-repeat="item in showData" class="pr-bg-black3">
              <!-- ng-repeat="item in formData" -->
              <td class="text-center pr-indent-20 color-white" style="width:100px;"> {{item.inputUser.n}}</td>
              <td class="color-white text-center" style="width:200px;">{{item.createAt | date:'yyyy-MM-dd HH:mm'}}</td>
              <td  class="text-center color-white" style="width:100px;">{{item.key}}</td>
              <td class="text-left color-white">
                <div class="autocut text-center" style="width:450px;" title="{{item.message}}">
                    {{item.message}}
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
  </form>
</div>
