
<div class="api_demo" ng-controller="salesOrderEditCtrl" >
  <div class="page-main"    ajax-url="rest/authen/salesOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}"  scope-data="formData" alert-error
 >
          <div class="mgb-l"><span class="text-l">表单元素</span></div>
          <form id="addSalesOrderForm"

 form-validator  parameter-body action="rest/authen/salesOrder/save.json"
           alert-error alert-ok scope-error-msg="errorMsg">


            <div class="form-tr">
                <div class="form-th">订单类型</div>
                <div class="form-td">

                    <select class="select" ng-model="formData.type">
                        <option value="1">普通订单</option>
                        <option value="2">紧急订单</option>
                    </select>

                </div>
            </div>

              <div class="form-tr">
                  <div class="form-th">客户名</div>
                  <div class="form-td">
                    <select class="select select-w" data-placeholder="选择一个..." chosen  ng-model="formData.customerId" select-source="rest/authen/customer/queryByDistributorIdForSelectOption.json"></select>

                  </div>
              </div>
              <div class="form-tr">
                  <div class="form-th">联系人</div>
                  <div class="form-td" ng-init="formData.inputUser.id='123'">
                      <input type="text" class="ipt" ng-model="formData.inputUser.id" />
                  </div>
                  <div class="form-th">收货地址 </div>
                  <div class="form-td">
                      <input type="text" class="ipt" ng-model="formData.address.address" />
                  </div>
                  <div class="form-th">收货人</div>
                  <div class="form-td">
                      <input type="text" class="ipt" ng-model="formData.address.name" />
                  </div>
                  <div class="form-th">收货电话 </div>
                  <div class="form-td">
                      <input type="text" class="ipt" ng-model="formData.address.tel" />
                  </div>
              </div>
              <div class="form-tr">
                  <div class="form-th">期望日期</div>
                  <div class="form-td" ng-init="formData.expectDate=''">
                      <input type="date" class="ipt" convert-to-date ng-model="formData.expectDate" />
                  </div>
              </div>
              <div class="form-tr">
                  <div class="form-th">备注</div>
                  <div class="form-td" ng-init="formData.note=''">
                    <textarea ng-model="formData.note"></textarea>
                  </div>
              </div>


              <!-- 订单列表 -->
              <div class="form-tr"  ng-init="formData.orderMedicalNos=[{relId:'1',quantity:50},{relId:'2',quantity:150}]">
                  <div class="form-th">订单列表</div>

                  <table class="table-list">
                      <thead>
                      <tr>
                          <th><input type="checkbox" class="selectAll"></th>
                          <th >药品</th>
                          <th >牌子</th>
                          <th>基准单位</th>
                          <th>价格</th>
                          <th>数量</th>
                            <th>操作</th>
                      </tr>
                      </thead>
                      <tbody>
                      <tr ng-repeat="tr in formData.orderMedicalNos" ng-click="selectThis()">
                          <td class="select-td"><input type="checkbox" class="selectOne" value="{{tr.id}}"></td>
                          <td>

                            {{tr.name}}
                          </td>
                          <td>{{tr.brand}}</td>
                          <td>{{tr.unit}}</td>
                          <td>{{tr.price}}</td>
                          <td>
                              <input type="text" class="ipt" ng-model="tr.quantity" />
                          </td>

                          <td>
                              <button type="button" class="btn btn-s btn-white" modal-right="400" modal-scope="this" modal-url="views/list-view.html"><i
                                      class="iconfont icon-delete"></i> 查看
                              </button>

                              <button type="button" class="btn btn-s btn-orange" ng-click="formData.orderMedicalNos.splice($index,1)"><i class="iconfont icon-delete"></i> 删除</button>
                          </td>
                      </tr>
                      </tbody>
                  </table>
              </div>

                  <!-- 订单列表 -->

                  <!-- 添加订单 -->
                  <div class="form-tr"  ng-init="addDataItem={}">

                      <table class="table-list">
                          <thead>
                          <tr>
                              <th >药名</th>
                              <th >厂家</th>
                              <th>规格</th>
                                <th>单位</th>
                              <th>参考价格</th>
                              <th>购买数量</th>
                                <th>操作</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr >
                              <td>
                                <select class="select select-w" data-placeholder="选择一个..." chosen select-call-back="selectRelIdCallBack"
                                ng-model="formData.orderMedicalNos[$index].relId"
                                select-source="rest/authen/medical/queryByDistributorIdForSelectOption.json"></select>
                              </td>
                              <td>{{addDataItem.brand}}</td>
                              <td>规格</td>
                              <td>{{addDataItem.unit}}</td>
                              <td>{{addDataItem.price}}</td>
                              <td>
                                  <input type="text" class="ipt" ng-model="addDataItem.quantity" />
                              </td>

                              <td>
                                  <button type="button" class="btn btn-s btn-white" modal-right="400"  ng-click="addDataItemClick()"><i
                                          class="iconfont icon-add"></i> 添加
                                  </button>

                                  <button type="button" class="btn btn-s btn-orange"  modal-scope="this" modal-url="views/list-view.html"><i class="iconfont icon-delete"></i> 导入</button>
                              </td>
                          </tr>
                          </tbody>
                      </table>
                  </div>

                      <!-- 添加订单-->
              <div class="form-tr">
                  <div class="form-th"></div>
                  <div class="form-td">
                      <button type="button" class="btn btn-l"  ng-click="submitForm('addSalesOrderForm','save')">保存草稿</button>
                        <button type="button" class="btn btn-l" ng-click="submitForm('addSalesOrderForm','submit')">生成订单</button>
                          <button type="button" class="btn btn-l" ng-click="cancelForm()">取消</button>
                  </div>
              </div>
          </form>
      </div>
</div>
