
<div class="api_demo" ng-controller="pageCtrl" >
  <div class="page-main">
          <div class="mgb-l"><span class="text-l">表单元素</span></div>
          <form name="myForm" form-validator action="../data/formValidator.json" alert-error alert-ok scope-error-msg="errorMsg">


            <div class="form-tr">
                <div class="form-th">订单类型</div>
                <div class="form-td">

                    <select class="select" ng-model="formData.type">
                        <option value="1">普通订单</option>
                        <option value="2">紧急订单</option>
                    </select>

                </div>
            </div>

              <div class="form-tr">
                  <div class="form-th">客户名</div>
                  <div class="form-td">
                    <select class="select select-w" data-placeholder="选择一个..." chosen chosen-ajax ng-model="formData.customerId" select-source="rest/authen/customer/myCompanyOfSelect.json></select>

                  </div>
              </div>
              <div class="form-tr">
                  <div class="form-th">联系人</div>
                  <div class="form-td" ng-init="formData.inputUser.id='2016-01-16'">
                      <input type="text" class="ipt" ng-model="formData.inputUser.id" />
                  </div>
              </div>

              <div class="form-tr">
                  <div class="form-th"></div>
                  <div class="form-td">
                      <button type="submit" class="btn btn-l">提交</button>
                  </div>
              </div>
          </form>
      </div>
</div>
