<div class="content-wrapper"
     ajax-url="rest/authen/salesOrder/get.json?id={{mainStatus.pageParams.id}}"
     scope-data="showData"
     callback="formData={};formData.id=showData.id"
     alert-error>
<!-- 主内容头部 -->
<div class="content-wrapper-heading mgt-m mgb-m">
  <h1 class="pr-title-color pr-font-20">购需单</h1>
</div>
<!-- 主内容区域 -->
<div class="content-wrapper-main pr-bg-white pr-fuzzy-boundary text-s">
  <!-- 单据信息 -->
  <div class="flex-column pd-c-m pdt pdb bb-line">
    <div class="flex-item-4">
      <span class="mgr-m color-9">购需单号：<span class="color-6">{{showData.orderNo}}</span></span>
    </div>
    <div class="flex-item-8 text-right">
      <span class="mgr-xl color-9">创建时间：<span class="color-6">{{showData.createAt | date: 'yyyy-MM-dd HH:mm'}}</span></span>
      <span class="color-9">状态：<span class="color-6">{{showData.orderStatus}}</span></span>
    </div>
  </div>
  <!-- 用户信息 -->
  <div class="pd-c-m pdt pdb bb-line">
    <p class="flex-column mgb">
      <span class="flex-item-6 color-9">客户名：<span class="color-6">{{showData.customerName}}</span></span>
      <!-- <span class="flex-item-6 text-right color-9"><em class="mgr-m">销售人员：<span class="color-6">{{showData.saleUser.n}}</span></em> 期望到货时间：<span class="color-6">{{showData.expectDate | date: 'yyyy-MM-dd'}}</span></span> -->
    </p>
    <p class="color-9">收货人信息：<span class="color-6">{{showData.address.prov}} {{showData.address.city}} {{showData.address.area}} {{showData.address.address}} {{showData.address.name}} {{showData.address.tel}}</span></p>
  </div>
  <!-- 商品列表 -->
  <div class="pd-c-m">
    <!-- 可发货 -->
    <div class="confirm-order bb-line pdb-l" ng-if="showData.orderMedicalNos.length>0">
      <h1 class="pdt-l color-6 text-m pr-fw-500">药械清单</h1>
      <div order-medicals  ng-model="showData.orderMedicalNos"></div>
    </div>
    <div class="pd-v color-9">
      <p>备注：{{showData.note}}</p>
    </div>

  </div>
</div>
<!-- 已生成订单部分 -->


  <!-- 附属信息 -->
  <table-list  ng-if="formData.id" list-data="rest/authen/confirmOrder/getListByRelId.json?relId={{formData.id}}">
  <div ng-if="tbodyList.length>0" class="mgt mgb-l pd-m content-wrapper-main pr-bg-white pr-fuzzy-boundary">
    <!-- 标题 -->
    <h1 class="pdb-m text-n text-bold">已生成销售单部分</h1>
    <div ng-repeat="tr in tbodyList">
      <div class="flex-column text-s">
        <div class="flex-item-8 color-9">
          <span class="mgr-l">销售单号：<a href="#/confirmOrder/get.html?id={{showData.id}}">{{tr.orderNo}}</a>
            </span>
          <span>创建时间：<em class="text-normal"><span class="color-6">{{tr.createAt | date : 'yyyy-MM-dd HH:mm'}}</span></em></span>
        </div>
        <div class="flex-item-4 text-right color-9">
          <span ng-if="showData.orderStatus!='已作废'">状态：<em><span class="color-6">{{tr.orderStatus}}</span></em></span>
          <span ng-if="showData.orderStatus=='已作废'">状态：<em style="color:red;">{{tr.orderStatus}}</em></span>
        </div>
      </div>
      <div class="order-details pdb-l mgt">
        <table class="table pr-table pr-new-table mgb-n">
          <thead>
            <tr>
              <th class="text-center">商品编号</th>
              <th>商品全名</th>
              <th class="text-center">规格/型号</th>
              <th class="text-center">单位</th>
              <th class="text-center">数量</th>
              <th class="text-center w-110">批号要求</th>
              <th class="text-center w-160">生产批号/灭菌批号</th>
              <th class="text-center">含税单价</th>
              <th class="text-center">税率</th>
              <th class="text-center">折扣额</th>
              <th class="text-center">折扣率</th>
              <th class="text-center">无税单价</th>
              <th class="text-center">无税金额</th>
              <th class="text-center">税额</th>
              <th class="text-center">价税合计</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in tbodyList[$index].orderMedicalNos">
              <td class="text-center">{{item.code}}</td>
              <td>{{item.name}}</td>
              <td class="text-center">{{item.specificationAndModelType}}</td>
              <td class="text-center">{{item.unit}}</td>
              <td class="text-center">{{item.quantity}}</td>
              <td class="text-center">{{item.batchRequirement}}</td>
              <td class="text-center">{{item.productionBatch}}</td>
              <td class="text-center">{{item.price | currency:'￥'}}</td>
              <td class="text-center">{{item.taxRate*100}}%</td>
              <td class="text-center">￥{{item.discountPrice | number:2}}</td>
              <td class="text-center">{{item.discountRate}}%</td>
              <td class="text-center">￥{{item.price*(1-item.taxRate)-item.discountPrice | number:2}}</td>
              <td class="text-center">￥{{(item.price*(1-item.taxRate)-item.discountPrice)*item.quantity | number:2}}</td>
              <td class="text-center">￥{{item.price*item.quantity*item.taxRate | number:2}}</td>
              <td class="text-center">￥{{item.price*item.quantity | number:2}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <table-list>

</div>
<div class="content-wrapper">
  <!-- 流程图 -->
  <div ng-if="showData.id" class="modal-content pr-modal-content pr-modal-process"
         ajax-url="rest/authen/businessFlow/getByBusinessKey.json?businessKey={{showData.id}}"
         scope-data="businessFlowData"
         callback="businessFlowDataInitFlag=true;"
         error-callback="businessFlowDataInitFlag=true;">
     <canvas ng-if="businessFlowDataInitFlag"  id="canvas" canvas-business-flow ng-model="businessFlowData"   cur-rel-id="{{showData.id}}"
             width="{{$root.utils.getMainBodyWidth()}}"
             height="300" base-image-url="images/canvasBusinessFlow/"
             spacing-height="80" spacing-width="40">
     </canvas>
   </div>

  <div class="text-right mgr-m mgb">
   <a href="#/salesOrder/query.html">返回购需单列表</a>
  </div>
</div>
