<div class="content-wrapper">
  <table-list list-data="{{mainStatus.requestPath}}rest/authen/salesOrder/query.json" list-params="listParams">
    <!-- 主内容头部 -->
    <div class="content-wrapper-heading mgb-l row">
      <div class="col-lg-2 order-create-btn">
        <a href="#"><i></i><span>新建</span></a>
      </div>
      <div class="col-lg-10 order-status-btn">
        <div>
          <div class="btn btn-group">
            <button type="button" class="btn btn-default">全部</button>
            <button type="button" class="btn btn-default"><span class="badge">5</span>待发货</button>
            <button type="button" class="btn btn-default">已发货</button>
            <button type="button" class="btn btn-default">已收货</button>
            <button type="button" class="btn btn-default">未收款</button>
            <button type="button" class="btn btn-default">已完成</button>
          </div>
          <div class="inline-block">
            <button type="button" class="btn btn-default">预测订单</button>
          </div>
          <div class="inline-block">
            <button type="button" class="btn btn-default">异常订单</button>
          </div>
        </div>
        <div class="col-lg-4 col-lg-offset-8">
          <input type="text" class="form-control" placeholder="客户名/订单编号/负责人">
        </div>
      </div>
    </div>
    <!-- 主内容区域 -->
    <div class="content-wrapper-main row">
      <div class="loader" ng-if="status.isLoading">
          <div class="loader-inner pacman">
              <div></div>
              <div></div>
              <div></div>
              <div></div>
              <div></div>
          </div>
      </div>
      <div ng-if="!status.isLoading">
        <div class="empty-wrap" ng-if="tbodyList.length==0">
          <span><i class="fa fa-inbox"><em>什么也没有</em></i></span>
        </div>
        <div ng-if="tbodyList.length">
          <ul>
            <li class="col-lg-3 mgb-l" ng-repeat="tr in tbodyList">
              <div>
                <div class="order-heading col-lg-12">
                  <div class="col-lg-9">
                    <h2>普通订单</h2>
                    <p>订单编号：1000000234</p>
                    <p>创建日期：{{tr.createAt | date : 'yyyy-MM-dd hh:mm'}}</p>
                  </div>
                  <div class="col-lg-3">
                    <span class="block text-center color-white text-s">订单状态</span>
                    <span class="block text-center text-l">部分发货</span>
                  </div>
                </div>
                <div class="order-content col-lg-12">
                  <h1 class="pr-bg-white text-center pdt-l pdb-l text-l text-bold bt-line">四川大学华西医院</h1>
                  <p class="clearfix bt-line pr-bg-white pdb-m pdt-m pdl pdr">
                    <span class="fl">负责人：{{tr.customerName}}</span>
                    <span class="fr">期望到货时间：2016-09-21</span>
                  </p>
                  <div class="pr-bg-white bt-line pd">
                    <h2 class="pdb text-bold">发货信息：</h2>
                    <p class="pdb">关联发货单：F20160921-1</p>
                    <p class="pdb">物流状态：<span>圆通速递</span> 88272727272101</p>
                  </div>
                </div>
                <div class="order-footer col-lg-12">
                  <p class="clearfix pr-bg-white bt-line pdt pdb pdl pdr">
                    <span class="fl"><a href="#" class="color-orange">查看详情</a></span>
                    <span class="fr">总价：<strong class="text-l">￥5960.00</strong></span>
                  </p>
                </div>
              </div>
            </li>
          </ul>
          <div class="clearfix">
              <div class="fr">
                  <pagination status="status"></pagination>
              </div>
          </div>
        </div>
      </div>
    </div>
  </table-list>
</div>
