<div style='width:712px;height: 100%; font-family: "Microsoft YaHei";'
>
<!--
http://localhost:3000/src/indexOfPrint.html#/print/index_debug.html?key=confirmOrderPrint&id=58c277e6e4b070f25854cdf9
-->
<div>
<span style="float:right;position:relative;right:10px;top:0px;font-size:9px;"> 第<span  tdata="PageNO" format="0">##</span>页</span>
&nbsp; &nbsp; &nbsp; &nbsp;
<p style="text-align:center;font-size:16px;padding:10px;font-weight:bold;">
   盘点表
</p>
</div>
  <table style="text-align:left;font-size:14px;border-collapse:collapse;width:100%;"
  ajax-url="rest/authen/inventoryOrder/get.json?id={{mainStatus.pageParams.id}}"
  scope-data="scopeData">
<tbody>
   <tr class="firstRow">
       <td style="text-align:right;">
         计划盘点时间：
       </td>
       <td colspan="3" style="text-align:left;">
         {{scopeData.planDateBeg | date:'yyyy-MM-dd HH:mm'}}&nbsp;&nbsp;到&nbsp;&nbsp;{{scopeData.planDateEnd | date:'yyyy-MM-dd HH:mm'}}
       </td>
       <td style="text-align:left;">
           盘点方式：
       </td>
       <td style="text-align:right;">
         {{scopeData.inventoryType}}
       </td>
   </tr>

   <tr class="firstRow">
     <td style="text-align:right;">
        审核结果：
     </td>
     <td style="text-align:left;">
       {{scopeData.orderStatus}}
     </td>
     <td style="text-align:right;">
        创建人：
     </td>
     <td style="text-align:left;">
       {{scopeData.inputUser.n}}
     </td>
     <td style="text-align:right;">
        创建时间：
     </td>
     <td style="text-align:left;">
      {{scopeData.createAt | date:'yyyy-MM-dd HH:mm'}}
     </td>

   </tr>
</tbody>
</table>
<table style="text-align:center;font-size:14px;width:100%;border:1px solid #000000;border-collapse:collapse;" border="1"
  ajax-url="rest/authen/inventoryMedicalNo/query.json?inventoryOrderId={{mainStatus.pageParams.id}}"
  scope-data="showData">
<thead>
   <tr class="firstRow">
       <td style="text-align:left;max-width:5%;">
           区域名称
       </td>
       <td style="text-align:left;max-width:5%;">
           货位名称
       </td>
       <td style="text-align:left;max-width:5%;">
           商品编码
       </td>
       <td style="text-align:left;max-width:5%;">
           商品名称
       </td>
       <td style="text-align:left;max-width:5%;">
           规格/型号
       </td>
       <td style="text-align:left;max-width:5%;">
           批号
       </td>
       <td style="text-align:left;max-width:5%;">
           基本单位
       </td>
       <td style="text-align:left;max-width:5%;">
           账面数量
       </td>
       <td style="text-align:left;max-width:5%;">
           实盘数量
       </td>
       <td style="text-align:left;max-width:5%;">
           盘点说明
       </td>
       <td style="text-align:left;max-width:5%;">
           盈亏数量
       </td>
       <td style="text-align:left;max-width:5%;">
           盘点人
       </td>
       <td style="text-align:left;max-width:5%;">
           盘点时间
       </td>
   </tr>
</thead>
<tbody>
   <tr ng-repeat="tr in showData">
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.regionName}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.goodsLocationName}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.code}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.name}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.specificationAndModelType}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.productionBatch}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.packingAttribute.name}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.systemQuantity}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.actualQuantity}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.note}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.gainLossQuantity}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.inventoryer.n}}
       </td>
       <td style="text-align:left;max-width:5%;word-wrap:break-word;">
           {{tr.inventoryDate | date:'yyyy-MM-dd HH:mm'}}
       </td>
   </tr>
</tbody>
</table>
</div>
