<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">地址选择组件</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">地址选择组件</h1>
  <div class="pd-c-l">
    <div class="">
      <address-manage-component compnent-title="发货方信息"
                                request-url="rest/authen/invoicesAddress/get.json"
                                scope-data-prefix="invoices"
                                form-data="formData"
                                modify-modal-url="views/invoicesAddress/contact/edit.html"
                                create-modal-url="views/invoicesAddress/contact/edit.html"
                                set-default-address-requesturl="rest/authen/invoicesAddress/contact/setDefaultContactId"
                                del-this-address-requesturl="rest/authen/invoicesAddress/contact/delete">
      </address-manage-component>
    </div>

    <div class="">
      <h1 class="mgb">Code:</h1>
      <textarea class="pr-textarea" style="width:100%;min-height:300px;">
        /**
         *  地址选择组件，组件名：address-manage-component
         *  属性：component-title: 名称
         *       request-url: 组件初始化时请求数据地址
         *       scope-data-preifx： 初始化数据请求后返回数据体所绑定变量名的前缀
         *       form-data: 需兼容的父级作用域的数据集合体
         *       modify-modal-url: 修改地址详情指向的模板url
         *       create-modal-url: 创建地址详情指向的模板url
         *       set-default-address-requesturl: 设置某地址列表为默认地址的请求url
         *       del-this-address-requesturl：删除地址列表请求url
         */
        <address-manage-component compnent-title="发货方信息"
                                  request-url="rest/authen/invoicesAddress/get.json"
                                  scope-data-prefix="invoices"
                                  form-data="formData"
                                  modify-modal-url="views/invoicesAddress/contact/edit.html"
                                  create-modal-url="views/invoicesAddress/contact/edit.html"
                                  set-default-address-requesturl="rest/authen/invoicesAddress/contact/setDefaultContactId"
                                  del-this-address-requesturl="rest/authen/invoicesAddress/contact/delete">
        </address-manage-component>
      </textarea>
    </div>
  </div>
</div>
