<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">自动补齐</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">自动补齐</h1>
  <div class="pd-c-l">

    <ul>
      <li>
        <div class="panel">
          <div class="panel-heading">
            <span class="tools pull-right">
              <a href="javascript:;" class="fa fa-chevron-up" toggle-panel></a>
              <a href="javascript:;" class="fa fa-times"></a>
            </span>
            <div class="form-tr">
                <div class="form-th">自动补全-药械批次</div>

            </div>
          </div>
          <div class="panel-body">
            <div class="form-td">
                <span angucomplete-medical-stock-batch placeholder="输入" style="width:320px"
                 url="data/autocomplete_stockBatch.json" class="inline-block"
                  ng-model="angucomplete_data2"></span>


                  <p>    angucomplete_data2={{angucomplete_data2}}</p>
            </div>
            <textarea class="form-control" style="min-height:200px;" readonly="true">
              <span angucomplete-medical placeholder="输入"     title-field="name"
               url="data/medicalStockList.json" class="inline-block"

                ng-model="angucomplete_data"></span>
            </textarea>
          </div>
        </div>
      </li>


      <ul>
        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              <div class="form-tr">
                  <div class="form-th">自动补全-药械定制</div>
                  <div class="form-td">

                      <span angucomplete-medical placeholder="输入"     title-field="name"
                       url="data/medicalStockList.json" class="inline-block"
                         ng-model="angucomplete_data"
                       add-data-callback-fn="flashAddDataCallbackFn(angucomplete_data)"
                      ></span>

                        <p>    angucomplete_data={{angucomplete_data}}</p>
                  </div>
              </div>
            </div>
            <div class="panel-body" style="display:none;">

              <textarea class="form-control" style="min-height:200px;" readonly="true">
                <span angucomplete-medical placeholder="输入"     title-field="name"
                 url="data/medicalStockList.json" class="inline-block"

                  ng-model="angucomplete_data"></span>
              </textarea>
            </div>
          </div>
        </li>


        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              <div class="form-tr">
                  <div class="form-th">自动补全</div>
                  <div class="form-td">
                    <span angucomplete placeholder="输入"
                    title-field="text"
                     url="data/autocomplete.json" class="inline-block"
                      ng-model="angucomplete_data1"></span>                </div>
              </div>
            </div>
            <div class="panel-body" style="display:none;">

              <textarea class="form-control" style="min-height:200px;" readonly="true">
                <span angucomplete placeholder="输入"
                 title-field="text" //显示属性名
                 url="data/data.json" class="inline-block"
                  ng-model="angucomplete_data1"></span>
              </textarea>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>
