<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">首页</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">API常用Button速查表</h1>
  <div class="pd-c-l">
      <ul>
        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-up" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              <button class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgr"
                      type="button"
                      handle-this-click
                      dialog-title="确认通过?"
                      dialog-content="审批通过后，销售单将生效。确认通过?"
                      dialog-template="pr-dialog-submit.html"
                      request-url="rest/authen/confirmOrder/updateStatus.json?id={{tr.id}}&status=待发单"
                      call-back="listParams.refreshId=tr.id">审批通过
              </button>
            </div>
            <div class="panel-body" style="display:none;">
              <textarea class="form-control" style="min-height:200px;" readonly="true">
                <button class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgr"
                        type="button"
                        handle-this-click
                        dialog-title="确认通过?"
                        dialog-content="审批通过后，销售单将生效。确认通过?"
                        dialog-template="pr-dialog-submit.html"
                        request-url="rest/authen/confirmOrder/updateStatus.json?id={{tr.id}}&status=待发单"
                        call-back="listParams.refreshId=tr.id">审批通过
                </button>
              </textarea>
            </div>
          </div>
        </li>
        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-up" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              <button class="pr-add-item-whitebg"
                      modal-right="600"
                      modal-data='{"invoicesOrderId":"{{showData.id}}","formData":{},"addFlag":true}'
                      modal-scope="this"
                      modal-url="views/invoicesOrder/kuaidi/edit.html">添加...
              </button>
            </div>
            <div class="panel-body" style="display:none;">
              <textarea class="form-control" style="min-height:200px;" readonly="true">
                <button class="pr-add-item-whitebg"
                        modal-right="600"
                        modal-data='{"invoicesOrderId":"{{showData.id}}","formData":{},"addFlag":true}'
                        modal-scope="this"
                        modal-url="views/invoicesOrder/kuaidi/edit.html">添加...
                </button>
              </textarea>
            </div>
          </div>
        </li>





        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-up" toggle-panel> 弹出框，并传值</a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              <span
                    class="mgr-l"
                    ng-init="rejectObj={url:'rest/authen/confirmOrder/updateStatus.json',typeCode:'订单驳回理由',msg:'驳回后，该销售单将作废。确认驳回?',formData:{id:mainStatus.pageParams.id,status:'已作废',key:'缺货'},goUrl:'#/confirmOrder/get.html?t=1&id='+mainStatus.pageParams.id}">
                <a href="javascript:;"
                   modal-center
                   modal-scope="this"
                   modal-url="views/public/dialog-check-reject.html"

                   >驳回</a>
              </span>
            </div>
            <div class="panel-body" style="display:none;">
              <textarea class="form-control" style="min-height:200px;" readonly="true">
                <span ng-if="showData.orderStatus=='待审批' && $root.hasAuthor('订单审核')"
                      class="mgr-l"
                      ng-init="rejectObj={url:'rest/authen/confirmOrder/updateStatus.json',typeCode:'订单驳回理由',msg:'驳回后，该销售单将作废。确认驳回?',formData:{id:mainStatus.pageParams.id,status:'已作废',key:'缺货'},goUrl:'#/confirmOrder/get.html?t=1&id='+mainStatus.pageParams.id}">
                  <a href="javascript:;"
                     modal-center
                     modal-scope="this"
                     modal-url="views/public/dialog-check-reject.html">驳回</a>
                </span>
              </textarea>
            </div>
          </div>
        </li>


      </ul>
    </div>
</div>
