<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">chosen下拉组件</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">chosen下拉组件</h1>
  <div class="pd-c-l">
      <ul>
        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-up" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              同步下拉
              <select id="addDataItem_relId"
                      chosen

                      class="select pr-table-select mgb-s"
                      data-placeholder="药械名"
                      ng-model="addDataItem.relId"
                      clear-watch-scope="addDataItem.relId"
                      select-source="rest/authen/medicalStock/queryForSelectOption.json"></select>
            </div>
            <div class="panel-body" style="display:none;">

              <textarea class="form-control" style="min-height:200px;" readonly="true">
                <select id="addDataItem_relId"
                        chosen
                        chosen-ajax
                        class="select pr-table-select mgb-s"
                        data-placeholder="药械名"
                        ng-model="addDataItem.relId"
                        clear-watch-scope="addDataItem.relId"
                        select-source="rest/authen/medicalStock/queryForSelectOption.json"></select>
                        参数说明：chosen-ajax 表示根据输入词，从服务器获取数据。


                    满足条件执行用ajax-if-eval="formData.organizationId"
                    <select class="select select-w"
                            data-placeholder="选择一个..."
                            chosen
                            ng-model="formData.departmentId"
                            ajax-if-eval="formData.organizationId"
                            default-empty
                            alert-error
                            params='{"DistributorId":"{{formData.organizationId}}"}'
                            select-source="rest/index/department/queryForSelectOption.json">

              </textarea>
            </div>
          </div>
        </li>

      </ul>
    </div>
</div>
