<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">首页</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">自定义菜单指令</h1>
  <div class="pd-c-l">
      <ul>
        <li>
          <div class="panel">
            <div class="panel-heading" ng-init='tr.didateFilter.buttons=[{"type":"通过","buttonName":"审批通过"}]'>
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              查询页面，快速审查：指定显示菜单
              <!--工作流控制菜单 -->
                <button  workflow-pass-button custom-menu="{{$root.utils.getcustomMenuByKeyOfArr(tr.didateFilter.buttons,'通过')}}" ></button>


            </div>
            <div class="panel-body" style="display:none;">
              <pre class="pre-scrollable">
              "buttons": [
                  {
                      "type": "通过",
                      "buttonName": "审批通过",
                      "requestMethod": "POST",
                      "requestUrl": "rest/authen/workflowTask/runWithAttchments.json",
                      "requestParam": "KeyValue",
                      "alertTitle": null,
                      "alertMsg": null,
                      "alertSelect": null,
                      "params": {
                          "conditionType": "通过",
                          "type": "采购单",
                          "businessKey": "583ea236a01f988925e7a4d2"
                      },
                      "callBackUrl": null
                  },
                  {
                      "type": "驳回",
                      "buttonName": "驳回",
                      "requestMethod": "POST",
                      "requestUrl": "rest/authen/workflowTask/runWithAttchments.json",
                      "requestParam": "KeyValue",
                      "alertTitle": null,
                      "alertMsg": null,
                      "alertSelect": null,
                      "params": {
                          "conditionType": "驳回",
                          "type": "采购单",
                          "businessKey": "583ea236a01f988925e7a4d2"
                      },
                      "callBackUrl": null
                  }
              ]

            </pre>
              <textarea class="form-control" style="min-height:200px;" readonly="true">
                                r异步请求，保存：
                                <button class="pr-btn-save-glodbg"
                                        type="button"
                                        ajax-url-submit="rest/authen/arrivalNoticeOrder/updateNote"
                                        params="formData"
                                        alert-error
                                        callback="showData.note=formData.note"
                                        ng-disabled="!formData.id||formData.note==showData.note">异步请求，保存
                                </button>
              </textarea>
            </div>
          </div>
        </li>
        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>

              详细页面审批：
              <button class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgr"
                      type="button"
                      handle-this-click
                      dialog-title="确认通过?"
                      dialog-content="审批通过后，销售单将生效。确认通过?"
                      dialog-template="pr-dialog-submit.html"
                      request-url="rest/authen/confirmOrder/updateStatus.json?id={{tr.id}}&status=待发单"
                      call-back="listParams.refreshId=tr.id">审批通过
              </button>

              <button
                      class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgr mgl"
                      handle-this-click
                      dialog-title="确认通过?"
                      dialog-content="审核通过后,采购单将生效,是否通过?"
                      dialog-template="pr-dialog-submit.html"
                      emitted="reloadList"
                      params='{"id":tr.id,"status":"待采购"}'
                      request-url="rest/authen/purchaseOrder/updateStatus.json">立即审批
              </button>

            </div>
            <div class="panel-body" style="display:none;">
              <textarea class="form-control" style="min-height:200px;" readonly="true">
                                request-url 在IE中不能待中文。建议用：
                              <button
                                      class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgr mgl"
                                      handle-this-click
                                      dialog-title="确认通过?"
                                      dialog-content="审核通过后,采购单将生效,是否通过?"
                                      dialog-template="pr-dialog-submit.html"
                                      emitted="reloadList"
                                      params='{"id":tr.id,"status":"待采购"}'
                                      request-url="rest/authen/purchaseOrder/updateStatus.json">立即审批
                              </button>
                              不推荐：
                              <button class="btn btn-primary pr-btn-xsm pr-btn-bg-gold mgr"
                                      type="button"
                                      handle-this-click
                                      dialog-title="确认通过?"
                                      dialog-content="审批通过后，销售单将生效。确认通过?"
                                      dialog-template="pr-dialog-submit.html"
                                      request-url="rest/authen/confirmOrder/updateStatus.json?id={{tr.id}}&status=待发单"
                                      call-back="listParams.refreshId=tr.id">审批通过
                              </button>
              </textarea>
            </div>
          </div>
        </li>
        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              待附件审批指令

            </div>

            <div class="panel-body" style="display:none;">

                    <!-- 审批 -->
                    <div   workflow-task-run-with-attchments
                    custom-menu-arr="{{showData.didateFilter.buttons}}"
                    return-button='{"buttonName":"返回申请单列表","requestUrl":"#/firstMedicalApplication/query.html"}'
                    attchment-usege="首营品种申请"
                    ></div>

              <textarea class="form-control" style="min-height:200px;" readonly="true">

                      <!-- 审批 -->
                      <div ng-if="showData.didateFilter.buttons"  workflow-task-run-with-attchments
                      custom-menu-arr="{{showData.didateFilter.buttons}}"
                      return-button='{"buttonName":"返回申请单列表","requestUrl":"#/firstMedicalApplication/query.html"}'
                      attchment-usege="首营品种申请"
                      ></div>
              </textarea>
            </div>
          </div>
        </li>




      </ul>
    </div>
</div>
