<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">首页</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">API常用日期选择器速查表</h1>
  <div class="pd-c-l">
      <ul>

        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              日期控件(毫秒) datepicker：ng-model={{formData.expectDate}}
              <input type="text" class="ipt pr-short-ipt color-6" placeholder="期望到货时间"
              readonly="true" datepicker   ng-model="formData.expectDate">


            </div>
            <div class="panel-body" style="display:none;">
              <textarea class="form-control" style="min-height:200px;" readonly="true">
                                日期控件
                                <input type="text" class="ipt pr-short-ipt color-6" placeholder="期望到货时间"
                                readonly="true"
                                datepicker   ng-model="formData.expectDate">
              </textarea>
            </div>
          </div>
        </li>
        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              日期控件(年-月-日) datepicker：ng-model={{formData.expectDate2}}
              <input type="text" class="ipt pr-short-ipt color-6" placeholder="期望到货时间"
              readonly="true" datepicker   no-parser="true"  ng-model="formData.expectDate2">


            </div>
            <div class="panel-body" style="display:none;">
              <textarea class="form-control" style="min-height:200px;" readonly="true">
                                日期控件
                                <input type="text" class="ipt pr-short-ipt color-6" placeholder="期望到货时间"
                                readonly="true" datepicker   no-parser="true"  ng-model="formData.expectDate2">
              </textarea>
            </div>
          </div>
        </li>
      </ul>
    </div>
</div>
