<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">echart</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">echart</h1>
  <div class="pd-c-l">
      <ul>
        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              <div class="form-tr">
                  <div class="form-th">echart</div>
                  <div class="form-td">
                  echart

                  </div>
              </div>
            </div>
            <div class="panel-body" style="display:;">
              <div chart="rest/authen/confirmOrder/countByInputUser4Echarts.json?dateRangeType=year&isOnlyCurrentDepartment=false"
               ng-model-data-key="userId"  ng-model="confirmOrder_saleUserId" style="height: 400px;width:600px"></div>

              <textarea class="form-control" style="min-height:200px;" readonly="true">
                <div chart="rest/authen/confirmOrder/countByInputUser4Echarts?dateRangeType=year&isOnlyCurrentDepartment=false" ng-model-data-key="userId"  ng-model="confirmOrder_saleUserId" style="height: 300px;"></div>

              </textarea>
            </div>
          </div>
        </li>


      </ul>
    </div>
</div>
