<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">打印</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">打印</h1>
  <div class="pd-c-l">
      <ul>
        <li>
          <div class="panel">
            <div class="panel-heading">
              <span class="tools pull-right">
                <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                <a href="javascript:;" class="fa fa-times"></a>
              </span>
              <div class="form-tr">
                  <div class="form-th">打印</div>
                  <div class="form-td">
                    <object  id="LODOP_OB" classid="clsid:2105C259-1E0C-4534-8141-A753534CB4CA" width=0 height=0>
                       <embed id="LODOP_EM" type="application/x-print-lodop" width=0 height=0></embed>
                </object>

                  </div>
              </div>
            </div>
            <div class="panel-body" style="display:;">
              <div lodop-funcs style="height: 400px;width:600px"></div>

              <textarea class="form-control" style="min-height:200px;" readonly="true">
                
              </textarea>
            </div>
          </div>
        </li>


      </ul>
    </div>
</div>
