  <div ng-controller="mainCtrl"
  ajax-url="rest/authen/confirmOrder/getThisAndSalesOrder.json"
  scope-data="scopeData"
  callback="showData=scopeData.confirmOrder"
  alert-error
  ng-init="$root.OPrinter.init();$root.OPrinter.setPrintDivId('Print_Div_id')"
  >
  <!--按钮区 -->
  <li><a href="#OPrinter-query-stock.html">药械明细打印预览</a></li>
  <li><a href="#OPrinter-query-stock-edit.html">药械明细打印预览（任意编辑）</a></li>

  <div>

      <button  ng-click="$root.OPrinter.preview(null,'templateName1')">打印预览</button>
        <button  ng-click="$root.OPrinter.print(null)">打印</button>
          <button  ng-click="$root.OPrinter.printSetup(null,'templateName1')">打印设置</button>
              <button  ng-click="$root.OPrinter.printDesign(null,'templateName1')">打印设计</button>
  </div>




  <!--打印内容区 -->
      <div id="Print_Div_id">
    <div order-medicals ng-model="showData.orderMedicalNos"></div>
      </div>
  <!--打印内容区 -->
</div>
