<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">树形展示</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">树形展示</h1>
  <div class="pd-c-l">





    <!--body wrapper start-

    -->

      <div class="tree-org" tree-list2="rest/authen/department/query.json?pageSize=1000" pid-key="parentId">
        <div class="mg-m">
          <div>
            <button type="button" class="btn btn-primary" modal-right="700" modal-scope="this" modal-url="views/department/edit.html"><i
                    class="fa fa-plus"></i> 新建
            </button>
          </div>
        </div>
        <!--递归模版 -->
        <script id="recursion" type="text/ng-template">

            <li ng-repeat="tr in treeList_recursion" ng-init="isOpen=tree_index<2" class="{{isOpen?'fold':''}}">
              <span class="name">
                  <span class="text-bold" modal-right="800" modal-scope="this" modal-url="views/department/edit.html?id={{::tr.id}}">{{tr.name}}  <span class="text-s text-muted text-italic label">{{tr.descript}}  </span> </span>
                    <span ng-if="tree_index>0&&tr.nodes.length" class="extend iconfont"   ng-click="extendTree($event)" ></span>
                     <span class="operate">
                           <i class="iconfont icon-plus" modal-right="800" modal-scope="this" modal-url="views/department/edit.html?parentId={{::tr.id}}"></i>
                                     <i class="iconfont icon-settings" modal-right="800" modal-scope="this" modal-url="views/department/edit.html?id={{::tr.id}}"></i>
                                  <i class="iconfont icon-delete" ng-click="deleteTree($event, 'department/delete?id='+tr.id)"></i>
                              </span>
              </span>
                <ul ng-if="tr.nodes.length" style="display: {{isOpen?'':'none'}}" ng-include="'recursion'"  ng-init="treeList_recursion=tr.nodes;tree_index=tree_index+1"></ul>
            </li>

        </script>
        <ul>
        <li  class="isOpen">
          <span class="name" ng-init="formData.name='根节点'" scope-data="formData">


              <span class="text-bold">{{formData.name?formData.name:"公司"}}  <span class="text-s text-muted text-italic label"></span> </span>
                <span ng-if="tree.nodes.length" class="extend iconfont"   ng-click="extendTree($event)" ></span>
                         <span class="operate">
                               <i class="iconfont icon-plus" modal-right="800" modal-scope="this" modal-url="/department/edit.html?parentId="></i>

                                  </span>
          </span>
             <!--启动递归-->
            <ul ng-if="treeList.length"  ng-include="'recursion'"  ng-init="treeList_recursion=treeList;tree_index=1"></ul>
        </li>
      </ul>


      </div>
    </div>

    <!--body wrapper end-->

    <textarea class="form-control" style="min-height:200px;" readonly="true">
      tree-list2 表示获取数据生成树形结构体。
      pid-key： 表示生成树形结构的 属性名


      <div class="tree-org" tree-list2="rest/authen/department/query.json?pageSize=1000" pid-key="parentId">
        <div class="mg-m">
          <div>
            <button type="button" class="btn btn-primary" modal-right="700" modal-scope="this" modal-url="views/department/edit.html"><i
                    class="fa fa-plus"></i> 新建
            </button>
          </div>
        </div>
        <!--递归模版 -->
        <script id="recursion" type="text/ng-template">

            <li ng-repeat="tr in treeList_recursion" ng-init="isOpen=tree_index<2" class="{{isOpen?'fold':''}}">
              <span class="name">
                  <span class="text-bold" modal-right="800" modal-scope="this" modal-url="views/department/edit.html?id={{::tr.id}}">{{tr.name}}  <span class="text-s text-muted text-italic label">{{tr.descript}}  </span> </span>
                    <span ng-if="tree_index>0&&tr.nodes.length" class="extend iconfont"   ng-click="extendTree($event)" ></span>
                     <span class="operate">
                           <i class="iconfont icon-plus" modal-right="800" modal-scope="this" modal-url="views/department/edit.html?parentId={{::tr.id}}"></i>
                                     <i class="iconfont icon-settings" modal-right="800" modal-scope="this" modal-url="views/department/edit.html?id={{::tr.id}}"></i>
                                  <i class="iconfont icon-delete" ng-click="deleteTree($event, 'department/delete?id='+tr.id)"></i>
                              </span>
              </span>
                <ul ng-if="tr.nodes.length" style="display: {{isOpen?'':'none'}}" ng-include="'recursion'"  ng-init="treeList_recursion=tr.nodes;tree_index=tree_index+1"></ul>
            </li>

        </script>
        <ul>
        <li  class="isOpen">
          <span class="name" ng-init="formData.name='根节点'" scope-data="formData">


              <span class="text-bold">{{formData.name?formData.name:"公司"}}  <span class="text-s text-muted text-italic label"></span> </span>
                <span ng-if="tree.nodes.length" class="extend iconfont"   ng-click="extendTree($event)" ></span>
                         <span class="operate">
                               <i class="iconfont icon-plus" modal-right="800" modal-scope="this" modal-url="/department/edit.html?parentId="></i>

                                  </span>
          </span>
             <!--启动递归-->
            <ul ng-if="treeList.length"  ng-include="'recursion'"  ng-init="treeList_recursion=treeList;tree_index=1"></ul>
        </li>
      </ul>


      </div>
    </div>


    </textarea>
    </div>
</div>
