<div class="page-main-content text-n">
  <div class="page-heading">
      <h3>主面板</h3>
      <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">html编辑器</li>
      </ul>
  </div>
  <h1 class="pd-c-l pdt-m pdb-m">html编辑器</h1>
  <div class="pd-c-l">


<script id="editor" type="text/plain" style="width:1024px;height:500px;" umeditor ng-model="content1"></script>



    <!--body wrapper end-->

    <textarea class="form-control" style="min-height:200px;"  readonly="true">

      <script id="editor" type="text/plain" style="width:1024px;height:500px;" umeditor ng-model="content1"></script>


content1={{content1}}
    </textarea>
    </div>
</div>
