<div class="sale-return-order"
     ng-controller="returnOrderEditCtrl"
     ajax-url="rest/authen/saleReturnOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}"
     scope-data="formData"
     callback='initFlag=true;watchFormChange("formData");quantityError=false;'
     alert-error>
  <form id="saleReturnEditForm"
        name="saleReturnEditForm"
        form-validator
        parameter-body
        action="rest/authen/saleReturnOrder/save"
        alert-error
        scope-response="scopeResponse"
        scope-error-msg="errorMsg"
        scope-data="formData"
        callback="submitFormAfter(scopeResponse);$root.watchFormChange('formData',this)"
        novalidate="true">
    <!-- 头部信息 -->
    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs pd-c-xxl">销售中心 >
         <a href="#/confirmOrder/query.html">销售退货单</a>
         > 新建销售退货单
      </p>
      <div class="pd-c-xxl pdt-l pdb-l">
        <!-- 标题 -->
        <div>
          <h1 class="pr-font-20 color-black">新建销售退货单</h1>
        </div>
      </div>
    </div>

    <!-- 单据基本信息 -->
    <div class="content-wrapper">
      <div class="pos-rel-tl order-create-btn z-index-l mgb-m">
        <a ng-if="initFlag"
           modal-right="1000"
           modal-open-auto="{{!formData.orderMedicalNos.length}}"
           modal-scope="this"
           modal-url="views/saleReturnOrder/edit-right-side.html">
          <i></i>
          <span ng-if="!formData.orderMedicalNos.length">增加退货条目</span>
          <span ng-if="formData.orderMedicalNos.length">修改退货条目</span>
        </a>
      </div>

      <div class="panel pr-panel pd-n pr-fuzzy-boundary pr-panel-height mgb">
        <div class="empty-panel clearfix" ng-if="!formData.orderMedicalNos.length">
            <div>&nbsp;</div>
            <div>&nbsp;</div>
            <div>&nbsp;</div>
        </div>
        <div ng-if="formData.orderMedicalNos.length">
          <div class="flex-column mgb pd bb-dashed-line">
            <div class="flex-item-6">
              <span class="mgr-l">单据编号：<em class="color-black">{{formData.orderNo || '暂无'}}</em></span>
              <span class="mgr-l">制单人：<em class="color-black">{{formData.inputUser.n || '暂无'}}</em></span>
              <span class="mgr-l">审核人：<em class="color-black">{{'暂无'}}</em></span>
            </div>
            <div class="flex-item-6 text-right">
              <span class="mgl-l">录单日期：<em class="color-black">{{formData.createAt || '暂无' | date : 'yyyy-MM-dd' }}</em></span>
              <span class="mgl-l">状态：<em class="color-black">{{formData.orderStatus || '暂无'}}</span>
            </div>
          </div>

          <div class="flex-column mgb pd">
            <span class="mgr-l">销售部门：<em class="color-black">{{formData.salesDepartmentName || '暂无'}}</em></span>
            <span class="mgr-l">业务人员：<em class="color-orange">{{formData.inputUser.n || '暂无'}}</em></span>
            <span class="mgr-l">业务类型：<em class="color-black">{{formData.orderBusinessType || '暂无'}}</em></span>
            <span class="mgr-l">销售类型：<em class="color-black">{{formData.salesType || '暂无'}}</em></span>
          </div>
      </div>
        <div class="outside-table-d">
          <table class="table pr-table pr-new-table table-wid" >
            <thead>
              <tr>
                <th class="text-center">商品编号</th>
                <th class="text-left">商品全名</th>
                <th class="text-center">规格/型号</th>
                <th class="text-center">单位</th>
                <th class="text-center">数量</th>
                <th class="text-center w-110">批号要求</th>
                <th class="text-center ">生产批号</th>
                <th class="text-center ">灭菌批号</th>
                <th class="text-center">含税单价</th>
                <th class="text-center">税率</th>
                <th class="text-center">折扣额</th>
                <th class="text-center">折扣率</th>
                <th class="text-center">无税单价</th>
                <th class="text-center">无税金额</th>
                <th class="text-center">税额</th>
                <th class="text-center">价税合计</th>
                <th class="text-center">报价</th>
                <th class="text-center">产地</th>
                <th class="text-center">失效日期</th>
                <th class="text-center">退补标志</th>
                <th class="text-center">保存温度</th>
                <th class="text-center">品牌</th>
                <th class="text-center">产地注册证号</th>
                <th class="text-center">注册证有效期</th>
                <th class="text-center">医保编码</th>
                <th class="text-center">院内编码</th>
              </tr>
            </thead>
            <tbody class="bg-white">
              <tr ng-repeat="item in formData.orderMedicalNos" ng-controller="saleReturnMedicalItemController" table-item-handlebtn-component>
                <td class="text-center">{{item.code}}
                  <div class="table-item-handle-btn">
                    <div class="table-item-confirm-del-area">
                      <p class="bb-line color-red pd-v">确认删除本条数据?</p>
                      <p class="pdt">
                        <a href="javascript:;" class="cancelHandle" ng-click="cancelHandle()">取消</a>
                        <a href="javascript:;" class="confirm-del-this btn btn-primary pr-btn-xsm pr-btn-bg-gold mgl" ng-click="formData.orderMedicalNos.splice($index,1);">确认</a>
                      </p>
                    </div>
                  </div>
                </td>
                <td class="text-left">{{item.name}}</td>
                <td class="text-center">{{item.specificationAndModelType}}</td>
                <td class="text-center">{{item.unit}}</td>
                <td class="text-center">
                  <input type="number"
                         style="width:60px;"
                         class="ipt pr-ipt-60 text-right"
                         name="quantity{{$index}}"
                         ng-model="item.quantity"
                         required
                         ng-pattern="/^[1-9]{1,10}?$/"
                         invalid-popover
                         valid-value="{{!saleReturnEditForm['quantity'+$index].$valid}}"
                         popover-show
                         popover-options='{"content":"数量不能小于0且不能过大或格式不正确", "placement":"right", "trigger":"manual"}'/>
                  <p class="mgt-s color-red" ng-if="quantityError">退货数量不能大于当前发货数量:{{item.outgoingQuantity||item.planQuantity}}</p>
                </td>
                <td class="text-center">{{item.batchRequirement}}</td>
                <td class="text-center">{{item.productionBatch}}</td>
                <td class="text-center">{{item.sterilizationBatchNumber}}</td>
                <td class="text-right">{{item.price | currency:'￥'}}</td>
                <td class="text-right">{{item.taxRate}}%</td>
                <td class="text-right">￥{{item.discountPrice | number:2}}</td>
                <td class="text-right">{{item.discountRate}}%</td>
                <td class="text-right">￥{{$root.saleOrderUtils.getWuSuiDanJian(item) | number:2}}</td>
                <td class="text-right">￥{{$root.saleOrderUtils.getWuSuiJinE(item) | number:2}}</td>
                <td class="text-right">￥{{$root.saleOrderUtils.getSuiE(item) | number:2}}</td>
                <td class="text-right">￥{{$root.saleOrderUtils.getJiaSuiHeJi(item) | number:2}}</td>
                <td class="text-right">￥{{item.price}}</td>
                <td class="text-center">{{item.productionPlace}}</td>
                <td class="text-center" ajax-url="rest/authen/medicalStock/getStockBatch?relMedicalStockId={{item.relId}}&p_and_s={{item.productionBatch}}"
                    scope-data="validTilldata">
                    {{validTilldata.validTill | date : 'yyyy-MM-dd'}}
                </td>
                <td class="text-center">{{item.withdrawalSign}}</td>
                <td class="text-center">{{item.storedTemperature}}</td>
                <td class="text-center">{{item.brand}}</td>
                <td class="text-center">{{item.drugAdministrationCode}}</td>
                <td class="text-center">{{item.drugAdministrationCodeGuaranteePeriod}}</td>
                <td class="text-center">{{item.medicalInsuranceCode}}</td>
                <td class="text-center">{{item.hospitalCode}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="empty-table clearfix" ng-if="!formData.orderMedicalNos.length">
              <div>&nbsp;</div>
              <div>&nbsp;</div>
              <div>&nbsp;</div>
          </div>
      </div>
      <!-- 其他信息 -->
      <div class="relative panel pr-panel pr-fuzzy-boundary pr-panel-height mgb pd-c-l" style="margin-bottom:60px;">
        <!-- 备注 -->
        <div class='mgb'>
          <h1>备注</h1>
          <textarea class="pr-textarea mgb-l mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note"></textarea>
        </div>
      </div>

        <!-- 流程图 -->
      <business-flow-show business-key="{{formData.id}}" business-type="销售单"></business-flow-show>
    </div>

    <!-- 功能按钮 -->
    <div class="handle-btn-area relative">
      <div class="btn-area">
          <a ng-if="changeFlag" href="javascript:;" class="mgr-l"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="该申请单存在未保存数据，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo('#/saleReturnOrder/query.html')"
             save-callback="submitForm('editForm','exit');
             $root.goTo('#/saleReturnOrder/query.html')">返回销售退货单列表
          </a>

          <a class="mgr-l" ng-if="!changeFlag" href="#/saleReturnOrder/query.html" >返回销售退货单列表</a>
          <a ng-if="formData.orderNo && formData.inputUserId==mainStatus.id"
             href="javascript:;"
             class="pr-color-red mgr"
             handle-this-click
             dialog-title="确认删除?"
             dialog-content="您确认删除这条销售退货单吗?"
             dialog-template="dialog-confirm.html"
             request-url="rest/authen/saleReturnOrder/delete?id={{formData.id}}"
             callback="$root.goTo('#/saleReturnOrder/query.html')">删除
          </a>


          <button type="submit"
                  class="pr-btn-save-glodbg mgr"
                  ng-click="submitForm_type='save';formData.validFlag=false;submitForm1();"
                  ng-disabled="!changeFlag || !saleReturnEditForm.$valid || quantityError">保存
          </button>

          <button class="pr-btn-save-glodbg"
                  type="button"
                  handle-this-click
                  dialog-title="确认提交退货单"
                  dialog-content="提交后,对应的销售出库单(红字)将由WMS自动生成"
                  dialog-template="pr-dialog-submit.html"
                  confirm-btn-txt="确定"
                  callback="submitForm_type='submit';formData.validFlag=true;submitForm1();"
                  ng-disabled="!saleReturnEditForm.$valid || quantityError ||!formData.orderMedicalNos.length">提交
          </button>

      </div>
    </div>
  </form>
</div>
