<div   ng-controller="pageCtrl"><!-- pageCtrl-->
<!-- page heading start-->
<div class="page-heading">
    <h3>分类属性管理</h3>
    <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active"> 分类属性管理</li>
    </ul>
</div>
<!-- page heading end-->
<ul>

  <li><a href="#/medicalAttribute/query.html"><i class="fa fa-home "></i> <span>分类属性管理(列表展示)</span></a></li>
    <li><a href="#/medicalAttribute/queryOfTree.html"><i class="fa fa-home active"></i> <span>分类属性管理(树形展示)</span></a></li>
</ul>
<!--body wrapper start-->

  <div class="tree-org" tree-list2="rest/authen/medicalAttribute/query.json?pageSize=1000" pid-key="parentId">
    <div class="mg-m">
      <div>
        <button type="button" class="btn btn-primary" modal-right="700" modal-scope="this" modal-url="views/medicalAttribute/edit.html"><i
                class="fa fa-plus"></i> 新建
        </button>
      </div>
    </div>

    <script id="recursion" type="text/ng-template">

        <li ng-repeat="tr in treeList_recursion" ng-init="isOpen=tree_index<2" class="{{isOpen?'fold':''}}">
          <span class="name">
              <span class="text-bold" modal-right="800" modal-scope="this" modal-url="views/medicalAttribute/edit.html?id={{::tr.id}}">{{tr.name}}  <span class="text-s text-muted text-italic label">{{tr.descript}}  </span> </span>
                <span ng-if="tree_index>0&&tr.nodes.length" class="extend iconfont"   ng-click="extendTree($event)" ></span>
                 <span class="operate">
                       <i class="iconfont icon-plus" modal-right="800" modal-scope="this" modal-url="views/medicalAttribute/edit.html?parentId={{::tr.id}}"></i>
                                 <i class="iconfont icon-settings" modal-right="800" modal-scope="this" modal-url="views/medicalAttribute/edit.html?id={{::tr.id}}"></i>
                              <i class="iconfont icon-delete" ng-click="deleteTree($event, 'medicalAttribute/delete?id='+tr.id)"></i>
                          </span>
          </span>
            <ul ng-if="tr.nodes.length" style="display: {{isOpen?'':'none'}}" ng-include="'recursion'"  ng-init="treeList_recursion=tr.nodes;tree_index=tree_index+1"></ul>
        </li>

    </script>
    <ul>
    <li  class="isOpen">
      <span class="name"  ajax-url="rest/authen/distributor/get.json?id={{$root.curUser.additional.Organization.organizationId}}"  scope-data="formData">


          <span class="text-bold">{{formData.name?formData.name:"公司"}}  <span class="text-s text-muted text-italic label"></span> </span>
            <span ng-if="tree.nodes.length" class="extend iconfont"   ng-click="extendTree($event)" ></span>
                     <span class="operate">
                           <i class="iconfont icon-plus" modal-right="800" modal-scope="this" modal-url="/medicalAttribute/edit.html?parentId="></i>

                              </span>
      </span>
        <ul ng-if="treeList.length"  ng-include="'recursion'"  ng-init="treeList_recursion=treeList;tree_index=1"></ul>
    </li>
  </ul>


  </div>
</div>

<!--body wrapper end-->
