<div class="content-wrapper"
     ajax-url="rest/authen/confirmOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}"
     scope-data="showData"
     callback="formData={};formData.id=showData.id">
  <div class="content-wrapper-main">
    <div class="text-center order-done">
      <p><i></i><span class="text-l text-bold color-6">订单审批通过</span></p>
      <p class="mg-l">订单<i class="font-normal"> {{showData.orderNo}} </i>已经通过审批</p>
      <p>
        <a href="#/confirmOrder/query.html" class="mgr-xl">进入订单列表</a>
        <a href="#/salesOrder/query.html">返回购需单中心</a>
      </p>

      <div class="pd-c-xl pdb-xxl text-right">
        <span class="mgr-l"><a href="#/invoicesOrder/confirm-order.html?id={{mainStatus.pageParams.id}}">库房主管视角</a></span>

      </div>
    </div>
  </div>
</div>
