<div class="salesOrder-edit"
     ng-controller="confirmOrderEditCtrl"
     ajax-url="rest/authen/confirmOrder/getOfEdit.json?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}"
     scope-data="formData"
     callback="initFlag=true;$root.watchFormChange('formData',this)"
     alert-error>

  <form id="editForm"
        name="editForm"
        form-validator
        parameter-body
        action="rest/authen/confirmOrder/save.json"
        alert-error
        alert-ok
        scope-error-msg="errorMsg"
        scope-data="formData"
        onkeydown="if(window.event.keyCode==13) return false;"
        callback="submitFormAfter();$root.watchFormChange('formData',this)"
        novalidate="true">
    <!-- 头部信息 -->
    <div class="header-info relative mgb-l">
      <p class="pdb-s pdt-s crumbs pd-c-xxl">销售中心 >
         <a href="#/confirmOrder/query.html">
             <em class="color-custom-orange">销售单</em>
         </a>
      <em>
      >新建销售单
    </em>

      </p>
      <div class="pd-c-xxl pdt-l pdb-l">
        <!-- 标题 -->
        <div class="mgb-l">
          <h1 class="pr-font-20 color-black">新建销售单</h1>
        </div>
        <!-- 客户列表 -->
        <div>
          <select ng-if="initFlag"
                  class="ipt pr-long-ipt color-6"
                  data-placeholder="客户名"
                  chosen
                  chosen-ajax
                  ng-model="formData.customerId"
                  select-source="rest/authen/customerAddress/queryForSelectOption.json">
          </select>
          <span class="color-red mgl" ng-if="!formData.customerId">请先选择客户名</span>
        </div>
      </div>
    </div>
    <!-- 主内容区域 -->
    <div class="content-wrapper">
      <!-- 药械列表 -->
      <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n">
          <!-- 信息 -->
          <div flash-add-medical
               ng-model="data1"
               class="pd-c-l pdt-m"
               ajax-url="rest/authen/medicalStock/query?hospitalId={{formData.customerId}}"
               add-data-callback-fn="flashAddDataCallbackFn(data1)">
          </div>
          <!-- 列表 -->
          <div class="">
            <div class="flex-column color-9 pd-c-l pdt-m pdb-m bt-line bb-dashed-line">
              <div class="flex-item-6">
                <span class="mgr">单据编号：<em class="color-3">{{formData.orderNo}}</em></span>
                <span class="mgr">制单人：<em class="color-3">{{formData.inputUser.n}}</em></span>
                <span class="mgr">审核人：<em class="color-3">暂无</em></span>
              </div>
              <div class="flex-item-6 text-right">
                <span class="mgr">录单日期：<em class="color-3">{{formData.createAt | date:'yyyy-MM-dd'}}</em></span>
                <span class="mgr">状态：<em class="color-3">{{formData.orderStatus}}</em></span>
              </div>
            </div>

            <div class="pd-c-l pdt-m pdb-m color-9">
              <span class="mgr">销售部门：
                <select class="ipt pr-short-ipt color-3" style="width:100px;"
                        data-placeholder=" "
                        chosen
                        ng-model="formData.salesDepartmentId"
                        select-source="rest/authen/department/queryForSelectOption">
                </select>
              </span>
              <span class="mgr">业务人员：
                <select class="ipt pr-short-ipt color-3" style="width:90px;"
                        data-placeholder=" "
                        chosen
                        ng-model="formData.saleUserId"
                        select-source="rest/authen/organizationAndUser/queryForSelectOption?departmentId={{formData.salesDepartmentId}}">
                </select>
              </span>
              <span class="mgr">业务类型：
                <select class="ipt pr-short-ipt color-3" style="width:90px;"
                        data-placeholder=" "
                        chosen
                        ng-model="formData.orderBusinessType"
                        select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType"
                        ng-change="chgOrderBusinessType(formData.orderBusinessType)">
                </select>
              </span>
              <span class="mgr">销售类型：
                <select class="ipt pr-short-ipt color-3" style="width:90px;"
                        data-placeholder=" "
                        chosen
                        ng-model="formData.salesType"
                        select-source="rest/baseData/queryForSelectOptionByType?type=销售类型">
                </select>
              </span>
              <span class="mgr">付款条件：
                <select class="ipt pr-short-ipt color-3" style="width:90px;"
                        data-placeholder=" "
                        chosen
                        ng-model="formData.paymentType"
                        select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_PaymentType">
                </select>
              </span>
              <span class="mgr">币种：
                <select class="ipt pr-short-ipt color-3" style="width:90px;"
                        data-placeholder=" "
                        chosen
                        ng-model="formData.currencyType"
                        select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Order_CurrencyType">
                </select>
              </span>
              <span class="mgr">汇率：<em class="color-6">1.00</em>
              </span>
              <span class="mgr">预发货日期：
                <input type="text"
                       datepicker
                       class="ipt pr-short-ipt color-3"
                       style="width:90px;"
                       placeholder=""
                       ng-readonly="true"
                       ng-model="formData.expectDate" />
              </span>
            </div>

            <div class="">
              <table class="table pr-table pr-new-table mgb-n">
                <thead>
                  <tr>
                    <th>
                      <input type="checkbox" class="selectAll" ng-init="isChoiseAll=false" ng-model="isChoiseAll" ng-click="handleChoiseAllEvent()">
                    </th>
                    <th class="text-center">商品编号</th>
                    <th>商品全名</th>
                    <th class="text-center">规格/型号</th>
                    <th class="text-center">单位</th>
                    <th class="text-center">数量</th>
                    <th class="text-center w-110">批号要求</th>
                    <th class="text-center w-160">生产批号/灭菌批号</th>
                    <th class="text-center">报价</th>
                    <th class="text-center">税率</th>
                    <th class="text-center">折扣额</th>
                    <th class="text-center">折扣率</th>
                    <th class="text-center">含税单价</th>
                    <th class="text-center">无税单价</th>
                    <th class="text-center">无税金额</th>
                    <th class="text-center">税额</th>
                    <th class="text-center">价税合计</th>
                  </tr>
                </thead>
                <tbody ng-if="formData.orderBusinessType=='普通销售'">
                  <tr ng-repeat="item in formData.orderMedicalNos" ng-controller="ConfirmOrderMedicalController">
                    <td class="select-td">
                      <input type="checkbox" class="selectOne" ng-model="item.handleFlag" ng-click="handleItemClickEvent(item);">
                    </td>
                    <td class="text-center">{{item.code}}</td>
                    <td class="text-left">{{item.name}}</td>
                    <td class="text-center">{{item.specificationAndModelType}}</td>
                    <td class="text-center">{{item.unit}}</td>
                    <td class="text-center">
                      <div class="order-goods-num">
                        <button type="button" class="inline-block left" ng-click="item.planQuantity=$root.utils.transformToNumber(item.planQuantity)-1" ng-disabled="item.planQuantity==1">-</button>
                        <span class="inline-block">
                          <input type="text"
                                 name="planQuantity{{$index}}"
                                 class="inline ipt pr-ipt-60 text-center item-planQuantity"
                                 style="width:60px;"
                                 ng-model="item.planQuantity"
                                 ng-class="{'pr-bg-pink': medicalStockMap[item.relId].planQuantity<item.planQuantity}"
                                 ng-pattern="/^[1-9]\d*$/"
                                 invalid-popover
                                 valid-value="{{!editForm['planQuantity'+$index].$valid}}"
                                 popover-show
                                 popover-options='{"content":"数量不正确或数额过大", "placement":"top", "trigger":"manual"}'>
                        </span>
                        <button type="button" class="inline-block right" ng-click="item.planQuantity=$root.utils.transformToNumber(item.planQuantity)+1">+</button>
                      </div>
                    </td>
                    <td class="text-center">
                      <select class="select pr-select pr-select-sm text-left"
                              chosen
                              width="90px"
                              ng-model="item.batchRequirement"
                              select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_BatchRequirementStatus">
                      </select>
                    </td>
                    <td class="text-center">
                      <div ng-repeat="stockBatchsItem in item.stockBatchs" class="mgb">
                        <select class="select pr-select pr-select-sm text-left"
                                chosen
                                default-empty
                                data-placeholder=" "
                                select-data="selectData"
                                suffix-connection="/"
                                suffix-key="note.salesQuantity"
                                ng-model="stockBatchsItem.batchNumber"
                                callback="choiseProductionBatch(item,stockBatchsItem,selectData)"
                                callback-filter-return-data="getProductionBatchValueArray(item.stockBatchs)"
                                select-source="rest/authen/medicalStock/queryStockBatchForSelectOption?relMedicalStockId={{item.relId}}">
                        </select>
                        <p class="mgt-s text-right relative" ng-if="stockBatchsItem.batchNumber">
                          <input type="number"
                                 class="ipt pr-short-ipt color-6 text-right"
                                 ng-model="stockBatchsItem.quantity"
                                 data-content="该批号总量只有：{{selectData.note.salesQuantity}}"
                                 invalid-popover="{{selectData&&(stockBatchsItem.quantity>selectData.note.salesQuantity)}}" />
                                 <span class="circle-s" ng-click="item.stockBatchs.splice($index,1)"><i class="fa fa-times-circle"></i></span>
                        </p>
                      </div>
                      <p class="text-right color-red pdr-s mgt-s" ng-if="item.planQuantity>item.quantity">待选择：{{item.planQuantity-item.quantity}}</p>
                    </td>
                    <td class="text-center">￥
                      <input type="text"
                             class="ipt pr-ipt-60 text-right"
                             name="price{{$index}}"
                             ng-model="item.price"
                             required
                             ng-pattern="/^[0-9]{1,10}(\.[0-9]{1,3})?$/"
                             invalid-popover
                             valid-value="{{!editForm['price'+$index].$valid}}"
                             popover-show
                             popover-options='{"content":"单价不能小于0且不能过大或格式不正确", "placement":"right", "trigger":"manual"}' />
                    </td>
                    <td class="text-center" >
                      <select class="ipt pr-short-ipt"
                              chosen
                              width="60px"
                              ng-model="item.taxRate"
                              select-source="rest/baseData/queryForSelectOptionByType?type=税率可选项">
                      </select> %
                    </td>
                    <td class="text-center">￥
                      <input type="text"
                             class="ipt pr-ipt-60 text-right"
                             name="discountPrice{{$index}}"
                             ng-model="item.discountPrice"
                             ng-pattern="/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)|(0))$/"
                             required
                             invalid-popover
                             valid-value="{{!editForm['discountPrice'+$index].$valid}}"
                             popover-show
                             popover-options='{"content":"必须为数字", "placement":"top", "trigger":"manual"}'
                             ng-keyup="item.discountRate=(item.price-item.discountPrice)/item.price*100"/>
                    </td>
                    <td class="text-center">
                      <input type="text"
                             class="ipt pr-ipt-60 text-right"
                             name="discountRate{{$index}}"
                             ng-model="item.discountRate"
                             ng-pattern="/^(0|100|(\d{1,2})|(\d*\.\d*))$/"
                             required
                             invalid-popover
                             valid-value="{{!editForm['discountRate'+$index].$valid}}"
                             popover-show
                             popover-options='{"content":"百分比格式不正确", "placement":"top", "trigger":"manual"}'
                             ng-keyup="item.discountPrice=item.price*(1-item.discountRate/100)"/> %
                    </td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getHanShuiDanJian(item) | number:2}}</td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getWuSuiDanJian(item) | number:2}}</td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getWuSuiJinE(item) | number:2}}</td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getSuiE(item) | number:2}}</td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getJiaSuiHeJi(item) | number:2}}
                    </td>
                  </tr>
                </tbody>
                <tbody ng-if="formData.orderBusinessType=='直运销售'">
                  <tr ng-repeat="item in formData.orderMedicalNos" ng-controller="ConfirmOrderMedicalController">
                    <td class="select-td">
                      <input type="checkbox" class="selectOne" ng-model="item.handleFlag" ng-click="handleItemClickEvent(item);">
                    </td>
                    <td class="text-center">{{item.code}}</td>
                    <td class="text-left">{{item.name}}</td>
                    <td class="text-center">{{item.specificationAndModelType}}</td>
                    <td class="text-center">{{item.unit}}</td>
                    <td class="text-center">
                      <div class="order-goods-num">
                        <button type="button" class="inline-block left" ng-click="item.planQuantity=$root.utils.transformToNumber(item.planQuantity)-1" ng-disabled="item.planQuantity==1">-</button>
                        <span class="inline-block">
                          <input type="text"
                                 name="planQuantity{{$index}}"
                                 class="inline pr-table-input text-center item-planQuantity"
                                 style="width:60px;background-color:transparent;"
                                 ng-model="item.planQuantity"
                                 ng-class="{'pr-bg-pink': medicalStockMap[item.relId].planQuantity<item.planQuantity}"
                                 ng-pattern="/^[1-9]\d*$/"
                                 invalid-popover
                                 valid-value="{{!editForm['planQuantity'+$index].$valid}}"
                                 popover-show
                                 popover-options='{"content":"数量不正确或数额过大", "placement":"top", "trigger":"manual"}'>
                        </span>
                        <button type="button" class="inline-block right" ng-click="item.planQuantity=$root.utils.transformToNumber(item.planQuantity)+1">+</button>
                      </div>
                    </td>
                    <td class="text-center">
                      <select class="select pr-select pr-select-sm text-left"
                              chosen
                              width="90px"
                              ng-model="item.batchRequirement"
                              select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_BatchRequirementStatus">
                      </select>
                    </td>
                    <td class="text-center">
                      <div ng-repeat="stockBatchsItem in item.stockBatchs" class="mgb">
                        <select ng-disabled="true" class="select pr-select pr-select-sm text-left"
                                chosen
                                default-empty
                                data-placeholder=" "
                                select-data="selectData"
                                suffix-connection="/"
                                suffix-key="note.salesQuantity"
                                ng-model="stockBatchsItem.batchNumber"
                                callback="choiseProductionBatch(item,stockBatchsItem,selectData)"
                                callback-filter-return-data="getProductionBatchValueArray(item.stockBatchs)"
                                select-source="rest/authen/medicalStock/queryStockBatchForSelectOption?relMedicalStockId={{item.relId}}">
                        </select>
                      </div>
                    </td>
                    <td class="text-center">￥
                      <input type="text"
                             class="ipt pr-ipt-60 text-right"
                             name="price{{$index}}"
                             ng-model="item.price"
                             required
                             ng-pattern="/^[0-9]{1,10}(\.[0-9]{1,3})?$/"
                             invalid-popover
                             valid-value="{{!editForm['price'+$index].$valid}}"
                             popover-show
                             popover-options='{"content":"单价不能小于0且不能过大或格式不正确", "placement":"right", "trigger":"manual"}' />
                    </td>
                    <td class="text-center">
                      <select class="ipt pr-short-ipt"
                              chosen
                              width="60px"
                              ng-model="item.taxRate"
                              select-source="rest/baseData/queryForSelectOptionByType?type=税率可选项">
                      </select> %
                    </td>
                    <td class="text-center">￥
                      <input type="text"
                             class="ipt pr-ipt-60 text-right"
                             name="discountPrice{{$index}}"
                             ng-model="item.discountPrice"
                             ng-pattern="/^(([0-9]+\.[0-9]*[1-9][0-9]*)|([0-9]*[1-9][0-9]*\.[0-9]+)|([0-9]*[1-9][0-9]*)|(0))$/"
                             required
                             invalid-popover
                             valid-value="{{!editForm['discountPrice'+$index].$valid}}"
                             popover-show
                             popover-options='{"content":"必须为数字", "placement":"top", "trigger":"manual"}'
                             ng-keyup="item.discountRate=(item.price-item.discountPrice)/item.price*100"/>
                    </td>
                    <td class="text-center">
                      <input type="text"
                             class="ipt pr-ipt-60 text-right"
                             name="discountRate{{$index}}"
                             ng-model="item.discountRate"
                             ng-pattern="/^(0|100|(\d{1,2})|(\d*\.\d*))$/"
                             required
                             invalid-popover
                             valid-value="{{!editForm['discountRate'+$index].$valid}}"
                             popover-show
                             popover-options='{"content":"百分比格式不正确", "placement":"top", "trigger":"manual"}'
                             ng-keyup="item.discountPrice=item.price*(1-item.discountRate/100)"/> %
                    </td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getHanShuiDanJian(item) | number:2}}</td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getWuSuiDanJian(item) | number:2}}</td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getWuSuiJinE(item, formData.orderBusinessType) | number:2}}</td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getSuiE(item, formData.orderBusinessType) | number:2}}</td>
                    <td class="text-center">￥{{$root.saleOrderUtils.getJiaSuiHeJi(item, formData.orderBusinessType) | number:2}}</td>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="pr-bg-white" ng-if="!formData.orderMedicalNos.length">
              <div class="empty-table clearfix">
                <div>&nbsp;</div>
                <div>&nbsp;</div>
                <div>&nbsp;</div>
              </div>
            </div>
          </div>
        </div>
      <!-- 其他信息 -->
      <div class="relative">
        <!-- 收货方信息 -->
        <address-manage-component ng-if="formData.customerId"
                                  compnent-title="收货方信息"
                                  request-url="rest/authen/customerAddress/get.json?id={{formData.customerId}}&t={{$root.reloadTime}}"
                                  scope-data-prefix="customer"
                                  address-model="formData.customerContacts"
                                  address-source-id-model="formData.customerId"
                                  form-data="formData"
                                  modify-modal-url="views/customerAddress/contact/edit.html"
                                  create-modal-url="views/customerAddress/contact/edit.html"
                                  create-address-type="销售"
                                  set-default-address-requesturl="rest/authen/customerAddress/contact/setDefaultContactId"
                                  del-this-address-requesturl="rest/authen/customerAddress/contact/delete">
        </address-manage-component>

        <address-manage-component compnent-title="发货方信息"
                                  request-url="rest/authen/invoicesAddress/get.json"
                                  scope-data-prefix="invoices"
                                  form-data="formData"
                                  modify-modal-url="views/invoicesAddress/contact/edit.html"
                                  create-modal-url="views/invoicesAddress/contact/edit.html"
                                  create-address-type="销售"
                                  set-default-address-requesturl="rest/authen/invoicesAddress/contact/setDefaultContactId"
                                  del-this-address-requesturl="rest/authen/invoicesAddress/contact/delete">
        </address-manage-component>

        <!-- 备注 -->
        <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
          <h1 class="text-bold color-3">备注</h1>
          <textarea class="pr-textarea mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note"></textarea>
        </div>
      </div>
    </div>
    <!-- 流程图 -->
    <business-flow-show business-key="{{formData.id}}" business-type="销售单"></business-flow-show>

    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <a ng-if="changeFlag" href="javascript:;" class="mgr-l"
           handle-this-click
           dialog-title="确认返回?"
           dialog-content="该销售单存在未保存数据，是否保存?"
           dialog-template="pr-dialog-return.html"
           nosave-callback="goTo('#/confirmOrder/query.html')"
           save-callback="submitForm('editForm','exit')">返回销售单
        </a>

        <a class="mgr-l" ng-if="!changeFlag" ng-href="#/confirmOrder/query.html?id={{formData.relId}}" >返回销售单</a>

        <a ng-if="formData.orderStatus=='待审核' && formData.inputUserId==mainStatus.id"
           href="javascript:;"
           class="pr-color-red mgr"
           handle-this-click
           dialog-title="确认删除?"
           dialog-content="您确认删除这条购需单吗?"
           dialog-template="dialog-confirm.html"
           request-url="rest/authen/confirmOrder/delete?id={{formData.id}}"
           call-back="$root.goTo('#/confirmOrder/query.html')">删除
        </a>

        <button
                type="button"
                class="pr-btn-save-glodbg mgr"
                ng-disabled="!changeFlag"
                ng-click="submitForm('editForm','save')">保存
        </button>

        <button
                type="button"
                class="pr-btn-save-glodbg mgr"
                ng-click="submitForm('editForm','print')">打印预览
        </button>
        <button ng-if="formData.orderBusinessType=='普通销售'&&(formData.orderStatus=='未提交'||formData.orderStatus=='未通过')"
                type="button"
                class="pr-btn-save-glodbg mgr"
                ng-disabled="($root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)<0) ||
                             ($root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)>100000)"
                ng-click="submitForm('editForm','submit')">提交
        </button>

        <button ng-if="formData.orderBusinessType=='直运销售'&&(formData.orderStatus=='未提交'||formData.orderStatus=='未通过')"
                type="button"
                class="pr-btn-save-glodbg mgr"
                ng-disabled="$root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)>100000"
                ng-click="submitForm('editForm','submit')">提交
        </button>
      </div>
      <div ng-if="formData.orderBusinessType=='普通销售'" class="price-area relative fl-r mgr-l" style="height:100%;line-height:3.3;font-size:18px;color:#c7a77b;">总计：
        <em class="color-white" invalid-popover popover-show="$root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],'handleFlag',true)>100000"
        popover-options='{"content": "每单总计金额不能超过10万", "placement": "top", "trigger": "manual"}'>
          ￥{{$root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','quantity'],"handleFlag",true) | number:2}}
        </em>

      </div>

      <div ng-if="formData.orderBusinessType=='直运销售'"
           class="price-area relative fl-r mgr-l"
           style="height:100%;line-height:3.3;font-size:18px;color:#c7a77b;">总计：
        <em class="color-white">
          ￥{{$root.utils.sumTotalByArrayMul(formData.orderMedicalNos,['price','planQuantity']) | number:2}}
        </em>
      </div>
    </div>
  </form>
</div>
