<div class="content-wrapper"
     ajax-url="rest/authen/confirmOrder/getThisAndSalesOrder.json?id={{mainStatus.pageParams.id}}"
     scope-data="scopeData"
     callback="showData=scopeData.confirmOrder"
     alert-error>

  <!-- 主内容头部 -->
  <div class="content-wrapper-heading mgt-l mgb-xl">
    <h1 class="pr-title-color pr-font-24">销售单</h1>
  </div>

  <!-- 主内容区域 -->
  <div class="content-wrapper-main">
    <!-- 订单信息 -->
    <div class="panel pr-panel pr-panel-height flex-column mgb">
      <div class="flex-item-10">
        <span class="mgr-xl">订单编号：<em>{{showData.orderNo}}</em></span>
        <span class="mgr-xl">创建时间：<em>{{showData.createAt | date: 'yyyy-MM-dd HH:mm'}}</em></span>
        <span class="mgr-xl">对应购需单：<em class="color-custom-orange">
          <a href="#/salesOrder/get.html?id={{showData.relId}}">{{showData.relOrderNo}}</a>
         </em></span>
      </div>
      <div class="flex-item-2 text-right">
          <span ng-if="showData.orderStatus!='已作废'">订单状态：<em>{{showData.orderStatus}}</em></span>
            <span ng-if="showData.orderStatus=='已作废'">订单状态：<em style="color:red;">{{showData.orderStatus}}</em></span>
      </div>
    </div>

    <!-- 作废原因： -->
        <div class="panel pr-panel pr-panel-height flex-column mgb" ng-if="showData.orderStatus=='已作废'">
              <span class="mgr-xl" ng-init="operItem=showData.operationFlowSet[showData.operationFlowSet.length-1]">作废原因：<em style="color:red">[{{operItem.inputUser}}]{{operItem.key}} {{operItem.message}}</em></span>
        </div>




    <!-- 用户信息 -->
    <div class="panel pr-panel pr-panel-height mgb">
      <div class="flex-column mgb">
        <div class="flex-item-6">
          <span class="color-9">客户名：<em class="color-6 font-normal">{{showData.customerName}}</em></span>
        </div>
        <div class="flex-item-6 text-right">
          <span class="color-9 mgr-xl">销售人员：<em class="color-6 font-normal">{{showData.saleUser.n}}</em></span>
          <span class="color-9">期望到货时间：<em class="color-6 font-normal">{{showData.expectDate | date: 'yyyy-MM-dd'}}</em></span>
        </div>
      </div>
      <div class="">
        <span class="color-9">收货人信息：<em class="color-6">{{showData.address.name}}&nbsp;&nbsp;&nbsp;
          {{showData.address.prov}}{{showData.address.city}}{{showData.address.area}}{{showData.address.address}}&nbsp;&nbsp;&nbsp;{{showData.address.tel}}</em></span>
      </div>
    </div>

    <!-- 订单清单 -->
    <div class="panel pr-panel pr-panel-height mgb-n">
      <h1 class="text-l">订购清单</h1>
      <div class="confirm-order">
        <div order-medicals  ng-model="showData.orderMedicalNos"></div>


    <!-- 商品列表 -->
    <div class="pd-c-xxxxl">
      <!-- 可发货 -->
      <!--
      <div class="confirm-order bb-line pdb-l">
        <h1 class="pdt-l color-6 text-m pr-fw-500">药械详细</h1>
        <div order-medicals  ng-model="showData.orderMedicalNos"></div>
      </div>
      -->
      <p class="pd-v-l">客服备注：{{showData.note}}</p>
    </div>

    <!-- 总价 -->
    <div class="panel pr-panel pr-panel-height text-right">
      <span class="text-l text-right">合计：￥{{showData.totalPrice | number:2}}</span>
      <button  ng-if="showData.orderStatus=='待发单'" class="pr-btn-save-glodbg"
              type="button"
              handle-this-click
              dialog-title="确认生成发货单?"
              dialog-content="是否生成发货单?"
              dialog-template="pr-dialog-submit.html"
              params='{"id":showData.id,"status":"待发货"}'
              request-url="rest/authen/confirmOrder/updateStatus.json"
              call-back="$root.goTo('#/invoicesOrder/edit.html?confirmOrderId={{mainStatus.pageParams.id}}')">生成发货单</button>
    </div>

    <!-- 暂不可转入订单部分 -->
    <div  ng-if="scopeData.salesOrder&&showData.confirmOrder.orderStatus=='已作废'" class="panel pr-panel pr-bg-grey">
      <h1 class="text-l">暂不可转入订单部分</h1>
      <div ng-if="scopeData.salesOrder" class="confirm-order">
        <div order-medicals  ng-model="scopeData.salesOrder.orderMedicalNos"></div>

      </div>
      <div class="text-right pdb-xxl pdt-xxl">
        <span class="color-custom-orange">请等待库存补足后，即可另外生成销售订单。可在购需单{{showData.salesOrder.orderNo}}跟踪此部分最新状态</span>
      </div>
    </div>
    <!-- 按钮   ng-if="showData.orderStatus=='待审批'" -->
    <div  class="text-right mgb-l">

      <span ng-if="showData.orderStatus=='待审批' && $root.hasAuthor('订单审核')"
            class="mgr-l"
            ng-init="rejectObj={url:'rest/authen/confirmOrder/updateStatus.json',typeCode:'订单驳回理由',msg:'驳回后，该销售单将作废。确认驳回?',formData:{id:mainStatus.pageParams.id,status:'已作废',key:'缺货'},goUrl:'#/confirmOrder/get.html?t=1&id='+mainStatus.pageParams.id}">
        <a href="javascript:;"
           modal-center="490"
           modal-scope="this"
           modal-url="views/public/dialog-check-reject.html">驳回</a>
      </span>

      <button ng-if="showData.orderStatus=='待审批' && $root.hasAuthor('订单审核')"
              class="pr-btn-save-glodbg"
              type="button"
              handle-this-click
              dialog-title="确认通过?"
              dialog-content="审核通过后,销售单将生效,是否通过?"
              dialog-template="pr-dialog-submit.html"
              params='{"id":showData.id,"status":"待发单"}'
              request-url="rest/authen/confirmOrder/updateStatus.json"
              call-back="$root.goTo('#/confirmOrder/confirm-order-done.html?id={{mainStatus.pageParams.id}}')">审核通过
      </button>

      <a href="javascript:;" class="mgl-l" ng-click="$root.goTo('#/confirmOrder/query.html')">返回销售单中心</a>
    </div>



  </div>
</div>
