/*
 *  项目各组件样式库
 *  样式命名空间规则： 组件标识名 + Manage + Component
 */

/* 快递信息组件样式 */
.express-manage-component .woutstock-order-express {
	padding: 0 35px;
}
.express-manage-component .woutstock-order-express ul,
.confirm-order-edit .woutstock-order-express ul,
.invoices-order .woutstock-order-express ul {
  padding: 0;
}
.express-manage-component .woutstock-order-express ul > li.express-list,
.confirm-order-edit .woutstock-order-express ul > li.express-list,
.invoices-order .woutstock-order-express ul > li.express-list
 {
	float: left;
  display: inline-block;
  width: 160px;
  min-height: 120px;
  background-color: #fff;
  text-indent: 0;
	margin-bottom: 10px;
}
.express-manage-component .woutstock-order-express ul > li.express-list{
	border-right: 1px dashed #e2e2e2;
	  min-height: 120px;
}
.express-manage-component .woutstock-order-express ul > li.add-btn,
.confirm-order-edit .woutstock-order-express ul > li.add-btn,
.invoices-order .woutstock-order-express ul > li.add-btn
 {
  background-color: #ECECEC;
  color: #fff;
  position: relative;
  /*top: -69px;
  left: -4px;*/
}
.express-manage-component .woutstock-order-express ul > li.add-btn a,
.confirm-order-edit .woutstock-order-express ul > li.add-btn a,
.invoices-order  .woutstock-order-express ul > li.add-btn a
{
  display: block;
  width: 100%;
  height: 100%;
}
.express-manage-component .woutstock-order-express ul > li.add-btn span.fa-plus,
.confirm-order-edit .woutstock-order-express ul > li.add-btn span.fa-plus,
.invoices-order  .woutstock-order-express ul > li.add-btn span.fa-plus
{
  position: absolute;
  /*top: 65%;
  left: 50%;*/
  font-size: 50px;
  /*transform: translateX(-50%) translateY(-35%);*/
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
}
.express-manage-component .woutstock-order-express ul > li.add-btn span.fa-plus:before {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.express-manage-component .woutstock-order-express ul > li a,
.confirm-order-edit .woutstock-order-express ul > li a,
.invoices-order  .woutstock-order-express ul > li a
 {
  height: 100%;
  /*margin-right: 5px;*/
}
.express-manage-component .woutstock-order-express ul > li a em.circle,
.confirm-order-edit .woutstock-order-express ul > li a em.circle,
.invoices-order .woutstock-order-express ul > li a em.circle
 {
  position: relative;
  width: 4px;
  height: 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  background-color: #ff8c00;
}
.express-manage-component .woutstock-order-express ul > li.express-info,
.confirm-order-edit .woutstock-order-express ul > li.express-info,
.invoices-order  .woutstock-order-express ul > li.express-info
 {
  background-color: #fff;
  position: relative;
  /*top: -18px;
  left: -4px;*/
  padding: 5px;
  border-left: 1px solid #ececec;
  text-align: center;
}
.express-manage-component .woutstock-order-express ul > li.express-info input,
.confirm-order-edit .woutstock-order-express ul > li.express-info input,
.invoices-order .woutstock-order-express ul > li.express-info input
 {
  width: 100%
}
.express-manage-component .woutstock-order-express ul > li div.edit-del-btn,
.confirm-order-edit .woutstock-order-express ul > li div.edit-del-btn,
.invoices-order  .woutstock-order-express ul > li div.edit-del-btn
 {
  /*display: none;*/
  position: absolute;
  top: 18px;
	left: -14px;
  width: 60px;
  height: auto;
	background: rgba(255,255,255,0.90);
	box-shadow: 0px 0px 6px 0px ;
	border-radius: 4px;
  text-align: center;
}
.express-manage-component .woutstock-order-express ul > li div.edit-del-btn:before,
.confirm-order-edit .woutstock-order-express ul > li div.edit-del-btn:before,
.invoices-order .woutstock-order-express ul > li div.edit-del-btn:before {
  content: '';
  display: block;
  width: 6px;
  height: 6px;
  transform: rotate(-45deg);
  background-color: white;
  position: absolute;
  right: 25px;
  top: -2px;
}
/* 没有物流信息时添加按钮状态 */
.express-manage-component .woutstock-order-express ul > li.express-info-empty {
  background-color: #ECECEC;
  color: #fff;
  position: relative;
  top: 0;
}
