
/*表格固定表头css*/
 /*custom-table-fixed-meter 表格主类。*/
/**
   *
  	* @Description: 表格固定表头组件的css定义
  	* @author songjuan
  	* @date 2017年9月8日 下午2:32:59
   */
   /*table外的第一层div*/
   .outside-table-fixed-meter{
     /*position: relative;*/
     height:auto;
     overflow-x: hidden;
   }
   .custom-table-fixed-meter
   {
     /*position: absolute;*/
     top: 40px;
     height: auto;
   }
   .th-div{
     position: fixed;
     top: 200px;
     display:inline-block;
     color:#333;
     border-left: 1px solid rgba(209,143,0,0.20);
     border-bottom: 1px solid rgba(209,143,0,0.20);
     width:auto;
     overflow:hidden;
     height:42px;
   }
   .th-div>div>div{
     display: inline-block;
     color: #484848;
     font-weight: bold;
     border-right: 1px solid rgba(209,143,0,0.20);
     border-top: 1px solid rgba(209,143,0,0.20);
   }
  .custom-table-fixed-meter th,
  .custom-table-fixed-meter td
  {
    width: auto;
    white-space: nowrap;
    height: 50px;
  }
  /*出现横向滚动条的表格*/
  .fixed-meter-scoller{
    position: relative;
    top: 40px;
    overflow: auto;

  }

/*不用出现横向滚动条的表格，即字段固定的表格*/
.fixed-meter-hidden{
  border-left:1px solid rgba(239,165,0,0.25);
  border-bottom:1px solid rgba(239,165,0,0.25);
}

.fixed-meter-hidden td{
  overflow: hidden;
  text-overflow: ellipsis;
}
