
/*表格固定表头css*/
 /*custom-table-fixed-meter 表格主类。*/
/**
   *
  	* @Description: 表格固定表头组件的css定义
  	* @author songjuan
  	* @date 2017年9月8日 下午2:32:59
   */
   /*最外层div*/
   .outside-table-fixed-meter{
     /*position: relative;*/
     /*width: 100%;*/
     /*height: 350px;*/
     overflow-x: hidden;
     overflow-y: scroll;
   }
   .custom-table-fixed-meter{
     /*position: absolute;*/
     top: 0px;
     /*height: 100%;*/
   }
  .custom-table-fixed-meter th,
  .custom-table-fixed-meter td
  {
    width: auto;
    white-space: nowrap;
    height: 50px;
  }
  /*出现横向滚动条的表格*/
  /*.fixed-meter-scoller thead{
    position: fixed;
    top: 200px;
  }*/

/*不用出现横向滚动条的表格，即字段固定的表格*/
.fixed-meter-hidden{
  border-left:1px solid rgba(239,165,0,0.25);
}
.fixed-meter-hidden td{
  overflow: hidden;
  text-overflow: ellipsis;
}
