
/*表格固定表头css*/
 /*custom-table-fixed-meter 表格主类。*/
/**
   *
  	* @Description: 表格固定表头组件的css定义
  	* @author songjuan
  	* @date 2017年9月8日 下午2:32:59
   */
   /*table外的第一层div*/
   .outside-table-fixed-meter{
     top:50px;
     position:relative;
     white-space: nowrap;
     /*height:300px;*/
     overflow-x: hidden;

   }
   /*表格底部的border*/
   .table-fixed-meter>table,
   .fixed-meter-hidden>table
   {
     border-bottom: 1px solid rgba(209,143,0,0.20);
   }
   /*出现横向滚动条的表格*/
   .fixed-meter-scoller{
     position: relative;
     width: 100%;
     height: auto;
   }
   /*放横向滚动条的div*/
   .analog-scroll-bar{
     position: relative;
     top: -25px;
     display: inline-block;
     height: 20px;
     overflow-y:hidden;
   }
   /*模拟横向滚动中的内容，即表格的内容。*/
   .analog-scroll-content-bar{
     height: 100%;
   }
   /*底部出现合计和横向滚动条的容器*/
  .bottom-div{
    font-size:0px;
    position:relative;
    height:56px;
    white-space:nowrap;
    /*margin-top:40px;*/
    margin-right:10px;
    border-top: 1px solid rgba(209,143,0,0.20);
  }
  /*显示合计两个字*/
  .bottom-div>div>span{
    height: auto;
    line-height:56px;
    position:relative;
    right: 50px;
  }
  /*显示合计的内容*/
  .show-total-text{
    display: inline-block;
    position: relative;
    right: 28px;
    font-size: 0px;
    color: #333;
    width: auto;
    height: 100%;
  }
  /*每个合计模拟单元格*/
  .show-total-text>div{
    display: inline-block;
    font-size: 12px;
    border-right: 1px solid rgba(209,143,0,0.20);
    height: 100%;
    padding: 0px 10px;
    text-align: right;
  }
   .custom-table-fixed-meter
   {
     position: relative;
     height: auto;
   }
  .th-div-inScoller{
    display: inline-block;
    width: auto;
    height: 48px;
  }

  /*对两个表格的统一处理*/
   .th-div-scoller,
   .th-div-noScoller
   {
     position: fixed;
     top: 202px;
     padding: 0px;
     margin: 0px;
     display:inline-block;
     color:#333;
     border-bottom: 1px solid rgba(209,143,0,0.20);
     overflow:hidden;
     height:50px;
   }
   .th-div-scoller
   {
    border-left: 1px solid rgba(209,143,0,0.20);
   }
   .th-div-noScoller
   {
          width:auto;
   }
    .th-div-inScoller>div,
    .th-div-noScoller>div
    {
     display: inline-block;
     height:48px;
     line-height: 48px;
     font-size: 12px;
     color: #484848;
     font-weight: bold;
     border-right: 1px solid rgba(209,143,0,0.20);
     border-top: 1px solid rgba(209,143,0,0.20);
   }
  .custom-table-fixed-meter th,
  .custom-table-fixed-meter td
  {
    white-space: nowrap;
    height: 50px;
  }

.fixed-meter-hidden td{
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
/*表格没有数据时，显示的表头样式*/
.no-table-data-scoller{

}
/*没有数据时，固定的表头*/
.no-table-data-hidden{
  width: auto;
}
.no-table-data-hidden>div>span,
.no-table-data-scoller>div>div>span
{
  display: inline-block;
  width: auto;
  padding: 0px 10px;
}
