/* 全局进度条组件样式 */
#progress-bar {
  font-size: 18px;
  color: #999;
}
#progress-bar .progress-bar-show {
  height: 22px;
  background: #F4F4F4;
  border-radius: 100px;
}
#progress-bar .progress-bar-show .progress-bar-current-state {
  display: inline-block;
  width: 0px;
  height: 22px;
  background-image:-webkit-linear-gradient(90deg, #FF5B33 0%, #FFBD5A 99%);
  background-image: linear-gradient(90deg, #FF5B33 0%, #FFBD5A 99%);
  box-shadow: 0 2px 4px 0 rgba(255,94,52,0.37);
  -moz-border-radius: 15px; /* Firefox */
  -webkit-border-radius: 15px; /* Safari 和 Chrome */
  border-radius: 15px; /* Opera 10.5+, 以及使用了IE-CSS3的IE浏览器 */
}
#progress-bar span.progress-bar-percent {
  font-size: 18px;
  color: #999;
  text-align: right;
}
