<!-- page heading start-->
<div class="page-heading">
    <h3>Echarts</h3>
    <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active">Echarts</li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper">
    <div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Echarts
                    <span class="tools pull-right">
                        <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                        <a href="javascript:;" class="fa fa-times"></a>
                     </span>
            </header>
            <div class="panel-body">
              <div class="row">
                <div class="col-lg-2">饼状图</div>
                <div class="col-lg-5">
                  <div chart="../../data/pie-chart.json?id=1"
                       click-to-url="#/chart.html?id={{formData.chart.id}}"
                       ng-model="formData.chart" style="height: 300px;">
                  </div>
                </div>
                <div class="col-lg-5">
                  <div chart="../../data/pie-chart.json?id=2"
                       click-to-dialog="dialog-chart.html?id={{formData.chart2.id}}"
                       ng-model="formData.chart2" style="height: 300px;">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2">雷达图</div>
                <div class="col-lg-5">
                  <div chart="../../data/radar-chart.json" style="height: 400px;"></div>
                </div>
                <div class="col-lg-5">
                  <div chart="../../data/line-chart2.json" style="height: 400px;"></div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2">柱状图</div>
                <div class="col-lg-10">
                  <div chart="../../data/bar-chart.json"
                       click-to-dialog="dialog-table.html?id={{formData.chart4.id}}"
                       ng-model="formData.chart4" style="height: 400px;">
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-2">线状图</div>
                <div class="col-lg-10">
                  <div chart="../../data/line-chart.json"
                       click-to-url="dialog-table.html?id={{formData.chart5.id}}"
                       ng-model="formData.chart5" style="height: 400px;">
                  </div>
                </div>
              </div>
            </div>
        </section>
    </div>
</div>
<!--body wrapper end-->
