<div id="page-side" class="left-side sticky-left-side" left-menu-collapse>
    <!--logo start-->
    <div class="logo">
        <a href="#login.html"><img src="images/logo-pangu-350x78.png" alt="盘谷医疗"></a>
    </div>

    <div class="logo-icon text-center">
            <a href="index.html"><img src="" alt="盘谷医疗"></a>
        </div>
    <!--logo end-->

    <div class="left-side-inner">
        <!-- 在小型设备上显示 -->
        <div class="visible-xs hidden-sm hidden-md hidden-lg">
            <div class="media logged-user">
                <img alt="" src="images/user-avatar.jpg" class="media-object">
                <div class="media-body">
                    <h4><a href="#">盘谷管理员</a></h4>
                    <span>"他什么都没写..."</span>
                </div>
            </div>

            <h5 class="left-nav-title">账号信息</h5>
            <ul class="nav nav-pills nav-stacked custom-nav">
              <li><a href="#"><i class="fa fa-user"></i> <span>概览</span></a></li>
              <li><a href="#"><i class="fa fa-cog"></i> <span>设置</span></a></li>
              <li><a href="#"><i class="fa fa-sign-out"></i> <span>登出</span></a></li>
            </ul>
        </div>

        <!-- 侧边栏导航 start-->
          <!-- <ul class="nav nav-pills nav-stacked custom-nav">
              <li><a href="#ajaxUrl.html"> ajaxUrl</a></li>
                <li><a href="#formValidator.html"> formValidator</a></li>
            </ul> -->



        <ul class="nav nav-pills nav-stacked custom-nav">
            <li class="active"><a href="#/main.html"><i class="fa fa-home"></i> <span>主面板</span></a></li>
            <li class="menu-list"><a href=""><i class="fa fa-laptop"></i> <span>布局</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#/blank_page.html"> 空白页</a></li>
                    <li><a href="#/boxed_view.html"> 盒模型页</a></li>
                    <li><a href="#/leftmenu_collapsed_view.html"> 侧边栏收缩</a></li>
                    <li><a href="#/horizontal_menu.html"> 横向菜单</a></li>

                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-book"></i> <span>UI组件</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#/general.html"> 常规</a></li>
                    <li><a href="#/buttons.html"> 按钮</a></li>
                    <li><a href="#/tabs-accordions.html"> 标签页和手风琴</a></li>
                    <li><a href="#/typography.html"> 排版</a></li>
                    <li><a href="#/slider.html"> Slider</a></li>
                    <li><a href="#/panels.html"> 面板</a></li>
                </ul>
            </li>
            <li class="menu-list"><a href=""><i class="fa fa-cogs"></i> <span>组件</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#/grids.html"> 栅格</a></li>
                    <li><a href="#/gallery.html"> 媒体库</a></li>
                    <li><a href="#/calendar.html"> 日历</a></li>
                    <li><a href="#/tree_view.html"> 树型菜单</a></li>
                    <li><a href="#/nestable.html"> 嵌套</a></li>

                </ul>
            </li>

            <li><a href="#/fontawesome.html"><i class="fa fa-bullhorn"></i> <span>Fontawesome</span></a></li>

            <!--
            <li class="menu-list"><a href=""><i class="fa fa-envelope"></i> <span>Mail</span></a>
                <ul class="sub-menu-list">
                    <li><a href="mail.html"> Inbox</a></li>
                    <li><a href="mail_compose.html"> Compose Mail</a></li>
                    <li><a href="mail_view.html"> View Mail</a></li>
                </ul>
            </li>
            -->

            <li class="menu-list"><a href=""><i class="fa fa-tasks"></i> <span>表单</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#/form_basic.html"> 基础表单</a></li>
                    <li><a href="#/form_layouts.html"> 表单布局</a></li>
                    <li><a href="#/form_advanced_components.html"> 高级组件</a></li>
                    <li><a href="#/form_wizard.html"> 表单向导</a></li>
                    <li><a href="#/form_validation.html"> 表单验证</a></li>
                    <li><a href="#/editors.html"> 编辑器</a></li>
                    <li><a href="#/inline_editors.html"> 在线编辑器</a></li>
                    <li><a href="#/pickers.html"> 采集</a></li>
                    <!--
                    <li><a href="dropzone.html"> Dropzone</a></li>
                    <li><a href="http://www.weidea.net"> More</a></li>
                    -->
                </ul>
            </li>

            <!--
            <li class="menu-list"><a href=""><i class="fa fa-bar-chart-o"></i> <span>Charts</span></a>
                <ul class="sub-menu-list">
                    <li><a href="flot_chart.html"> Flot Charts</a></li>
                    <li><a href="morris.html"> Morris Charts</a></li>
                    <li><a href="chartjs.html"> Chartjs</a></li>
                    <li><a href="c3chart.html"> C3 Charts</a></li>
                </ul>
            </li>
            -->
            <li class="menu-list"><a href="#"><i class="fa fa-th-list"></i> <span>数据表格</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#/basic_table.html"> 基础表格</a></li>
                    <li><a href="#/dynamic_table.html"> 高级表格</a></li>
                    <li><a href="#/responsive_table.html"> 响应式表格</a></li>
                    <li><a href="#/editable_table.html"> 可编辑表格</a></li>
                </ul>
            </li>

            <!--
            <li class="menu-list"><a href="#"><i class="fa fa-map-marker"></i> <span>Maps</span></a>
                <ul class="sub-menu-list">
                    <li><a href="google_map.html"> Google Map</a></li>
                    <li><a href="vector_map.html"> Vector Map</a></li>
                </ul>
            </li>
            -->
            <li class="menu-list"><a href=""><i class="fa fa-file-text"></i> <span>其他页面</span></a>
                <ul class="sub-menu-list">
                    <li><a href="#/profile.html"> 常规</a></li>
                    <!-- <li><a href="invoice.html"> Invoice</a></li>
                    <li><a href="pricing_table.html"> Pricing Table</a></li>
                    <li><a href="timeline.html"> Timeline</a></li>
                    <li><a href="blog_list.html"> Blog List</a></li>
                    <li><a href="blog_details.html"> Blog Details</a></li>
                    <li><a href="directory.html"> Directory </a></li>
                    <li><a href="chat.html"> Chat </a></li> -->
                    <li><a href="404.html"> 404 错误页面</a></li>
                    <li><a href="500.html"> 500 错误页面</a></li>
                    <li><a href="registration.html"> 注册页面</a></li>
                    <!-- <li><a href="lock_screen.html"> Lockscreen </a></li> -->
                </ul>
            </li>
            <li><a href="login.html"><i class="fa fa-sign-in"></i> <span>登录页面</span></a></li>

        </ul>
        <!--侧边栏导航 end-->

    </div>
</div>
