<!-- page heading start-->
<div class="page-heading">
    <h3>盘谷视觉规范</h3>
    <ul class="breadcrumb">
        <li><a href="#">主面板</a></li>
        <li class="active"> 盘谷视觉规范 </li>
    </ul>
</div>
<!-- page heading end-->

<!--body wrapper start-->
<div class="wrapper visual-norm">
  <div class="row">
    <div class="col-sm-6">
      <section class="panel">
        <header class="panel-heading">
            颜色
                <span class="tools pull-right">
                    <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
                    <a href="javascript:;" class="fa fa-times"></a>
                 </span>
        </header>
        <div class="panel-body color-panel-body">
          <div class="col-sm-1">重要</div>
          <div class="col-sm-11">
            <div class="color-norm">
              <span class="col-lg-4" style="background-color:#7F4F21;"></span>
              <span class="col-lg-4">#7F4F21</span>
              <span class="col-lg-4">用于重要文字信息，标题</span>
            </div>
            <div class="color-norm">
              <span class="col-sm-4" style="background-color:#C7A77B;"></span>
              <span class="col-sm-4">#C7A77B</span>
              <span class="col-sm-4">用于特别强调的文字和标题</span>
            </div>
            <div class="color-norm">
              <span class="col-sm-4" style="background-color:#EAE4D1;"></span>
              <span class="col-sm-4">#EAE4D1</span>
              <span class="col-sm-4">用于侧边栏背景</span>
            </div>
            <div class="color-norm">
              <span class="col-sm-4" style="background-color:#F3F1EC;"></span>
              <span class="col-sm-4">#F3F1EC</span>
              <span class="col-sm-4">用于页面背景色</span>
            </div>
            <div class="color-norm">
              <span class="col-sm-4" style="background-color:#FF8C00;"></span>
              <span class="col-sm-4">#FF8C00</span>
              <span class="col-sm-4">用于链接文字</span>
            </div>
          </div>
        </div>
        <div class="panel-body color-panel-body">
          <div class="col-sm-1">一般</div>
          <div class="col-sm-11">
            <div class="color-norm">
              <span class="col-lg-4" style="background-color:#666666;"></span>
              <span class="col-lg-4">#666666</span>
              <span class="col-lg-4">用于普通级段落信息，用户名等</span>
            </div>
            <div class="color-norm">
              <span class="col-sm-4" style="background-color:#999999;"></span>
              <span class="col-sm-4">#999999</span>
              <span class="col-sm-4">用于辅助，次要的信息</span>
            </div>
            <div class="color-norm">
              <span class="col-sm-4" style="background-color:#B2B2B2;"></span>
              <span class="col-sm-4">#B2B2B2</span>
              <span class="col-sm-4">用于辅助，次要的信息</span>
            </div>
            <div class="color-norm">
              <span class="col-sm-4" style="background-color:#E5E5E5;"></span>
              <span class="col-sm-4">#E5E5E5</span>
              <span class="col-sm-4">用于失效链接，按钮等</span>
            </div>
          </div>
        </div>
        <div class="panel-body color-panel-body">
          <div class="col-sm-1">较弱</div>
          <div class="col-sm-11">
            <div class="color-norm">
              <span class="col-lg-4" style="background-color:#ffffff;border:1px solid #ccc;"></span>
              <span class="col-lg-4">#FFFFFF</span>
              <span class="col-lg-4">用于内容区域底色</span>
            </div>
            <div class="color-norm">
              <span class="col-sm-4" style="background-color:rgba(0,0,0,0.1);"></span>
              <span class="col-sm-4">#000000(10%)</span>
              <span class="col-sm-4">用于分割线</span>
            </div>
            <div class="color-norm">
              <span class="col-sm-4" style="background-color:#FF491F;"></span>
              <span class="col-sm-4">#FF491F</span>
              <span class="col-sm-4">用于提醒气泡背景</span>
            </div>
          </div>
        </div>
      </section>
    </div>
    <div class="col-sm-6">
      <section class="panel">
        <header class="panel-heading">
          字体
              <span class="tools pull-right">
                  <a href="javascript:;" class="fa fa-chevron-down"></a>
                  <a href="javascript:;" class="fa fa-times"></a>
               </span>
        </header>
        <div class="panel-body font-color-panel-body">
          <h1 style="height:50px;line-height:50px;font-size:22px;margin-bottom:25px;"><span class="col-sm-6">中文字体： 微软雅黑</span> <span class="col-sm-6">英文字体： 微软雅黑</span></h1>
          <table class="table">
            <thead>
              <th>样式</th>
              <th>字号</th>
              <th>建议行距</th>
              <th>使用场景</th>
            </thead>
            <tbody>
              <tr>
                <td style="font-size:32px;">标准字</td>
                <td style="font-size:32px;">32px</td>
                <td style="font-size:32px;">40px</td>
                <td>用于页面标题</td>
              </tr>
              <tr>
                <td style="font-size:24px;">标准字</td>
                <td style="font-size:24px;">24px</td>
                <td style="font-size:24px;">32px</td>
                <td>用于文章、段落标题</td>
              </tr>
              <tr>
                <td style="font-size:14px;">标准字</td>
                <td style="font-size:14px;">14px</td>
                <td style="font-size:14px;">18px</td>
                <td>用于大多数文字</td>
              </tr>
              <tr>
                <td style="font-size:12px;">标准字</td>
                <td style="font-size:12px;">12px</td>
                <td style="font-size:12px;">16px</td>
                <td>用于辅助性文字</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </div>
    <div class="col-sm-6">
      <section class="panel">
        <header class="panel-heading">
          Logo
              <span class="tools pull-right">
                  <a href="javascript:;" class="fa fa-chevron-down"></a>
                  <a href="javascript:;" class="fa fa-times"></a>
               </span>
        </header>
        <div class="panel-body logo-color-panel-body">
          <div class="col-lg-12">
            <img src="../ui-api/images/logo-use-1.png" alt="" style="display:block;margin:60px auto;" />
            <img src="../ui-api/images/logo-use-2.png" alt="" style="display:block;margin:60px auto;" />
            <img src="../ui-api/images/logo-use-3.png" alt="" style="display:block;margin:60px auto;" />
          </div>
        </div>
      </section>
    </div>
    <div class="col-sm-6">
      <section class="panel">
        <header class="panel-heading">
          图片
              <span class="tools pull-right">
                  <a href="javascript:;" class="fa fa-chevron-down"></a>
                  <a href="javascript:;" class="fa fa-times"></a>
               </span>
        </header>
        <div class="panel-body logo-color-panel-body">
          <img src="../ui-api/images/pic-use-1.png" alt="" style="display:block;margin:60px auto;" class="img-responsive" />
          <img src="../ui-api/images/pic-use-2.png" alt="" style="display:block;margin:60px auto;" class="img-responsive" />
        </div>
      </section>
    </div>
    <div class="col-sm-6">
      <section class="panel">
        <header class="panel-heading">
          按钮
              <span class="tools pull-right">
                  <a href="javascript:;" class="fa fa-chevron-down"></a>
                  <a href="javascript:;" class="fa fa-times"></a>
               </span>
        </header>
        <div class="panel-body logo-color-panel-body">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="button1" class="col-sm-2 control-label">正常(大)</label>
              <div class="col-sm-10">
                <button type="button" name="button" class="btn btn-block pj-btn">登 录</button>
              </div>
            </div>
            <div class="form-group">
              <label for="button1" class="col-sm-2 control-label">悬停(大)</label>
              <div class="col-sm-10">
                <button type="button" name="button" class="btn btn-block pj-btn pj-btn-hover">登 录</button>
              </div>
            </div>
            <div class="form-group">
              <label for="button1" class="col-sm-2 control-label">按下(大)</label>
              <div class="col-sm-10">
                <button type="button" name="button" class="btn btn-block pj-btn pj-btn-active">登 录</button>
              </div>
            </div>
            <div class="form-group">
              <label for="button1" class="col-sm-2 control-label">正常(小)</label>
              <div class="col-sm-10">
                <button type="button" name="button" class="btn pj-btn">登 录</button>
              </div>
            </div>
            <div class="form-group">
              <label for="button1" class="col-sm-2 control-label">悬停(小)</label>
              <div class="col-sm-10">
                <button type="button" name="button" class="btn pj-btn pj-btn-hover">登 录</button>
              </div>
            </div>
            <div class="form-group">
              <label for="button1" class="col-sm-2 control-label">按下(小)</label>
              <div class="col-sm-10">
                <button type="button" name="button" class="btn pj-btn pj-btn-active">登 录</button>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
    <div class="col-sm-6">
      <section class="panel">
        <header class="panel-heading">
          头像
              <span class="tools pull-right">
                  <a href="javascript:;" class="fa fa-chevron-down"></a>
                  <a href="javascript:;" class="fa fa-times"></a>
               </span>
        </header>
        <div class="panel-body logo-color-panel-body">
          <img src="../ui-api/images/face-use-1.png" alt="" style="display:block;margin:60px auto;" class="img-responsive" />
          <img src="../ui-api/images/face-use-2.png" alt="" style="display:block;margin:60px auto;" class="img-responsive" />
        </div>
      </section>
    </div>
    <div class="col-sm-6">
      <section class="panel">
        <header class="panel-heading">
          提醒气泡
              <span class="tools pull-right">
                  <a href="javascript:;" class="fa fa-chevron-down"></a>
                  <a href="javascript:;" class="fa fa-times"></a>
               </span>
        </header>
        <div class="panel-body logo-color-panel-body">
          <h1 style="height:75px;line-height:55px;font-size:22px;">数量提醒气泡(小)</h1>
          <div class="col-lg-12 col-sm-12">
            <div class="col-lg-4 col-sm-4">
              <span class="pj-bubble">6</span>
            </div>
            <div class="col-lg-4 col-sm-4">
              <span class="pj-bubble pj-bubble-double">25</span>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="col-lg-4 col-sm-4">
                <span class="pj-bubble pj-bubble-three">256</span>
              </div>
            </div>
          </div>
        </div>

        <div class="panel-body logo-color-panel-body">
          <h1 style="height:75px;line-height:55px;font-size:22px;">数量提醒气泡(大)</h1>
          <div class="col-lg-12 col-sm-12">
            <div class="col-lg-4 col-sm-4">
              <span class="pj-big-bubble">6</span>
            </div>
            <div class="col-lg-4 col-sm-4">
              <span class="pj-big-bubble pj-big-bubble-double">25</span>
            </div>
            <div class="col-lg-4 col-sm-4">
              <div class="col-lg-4 col-sm-4">
                <span class="pj-big-bubble pj-big-bubble-three">256</span>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
<!--body wrapper end-->
