<!-- 主内容头部 -->
<page-main-header-component list-params="listParams"
                            crumbs-nav='[{"name":"发票管理","link":"","style":""},{"name":"采购发票","link":"","style":"color-custom-orange"}]'
                            component-title="采购发票"
                            is-show-create-btn="新建采购发票"
                            create-new-url="#/invoice/edit.html"
                            get-status-num-url="rest/authen/invoice/countByStatus.json?source=采购发票"
                            status-group-data='[["未提交-true","已完成-true"]]'
                            is-show-date-filter=true
                            is-show-key-filter=true
                            search-placeholder-info="发票编号"
                            show-date-name="开票日期："
                            is-show-business-btn-group=true
                            is-show-user-filter=true
                            get-user-list-url="rest/authen/user/queryForSelectOption"
                            is-show-invoice-type-filter=true
                            get-invoice-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_InvoiceType"
                            get-business-type-url="rest/index/queryBasicdataForSelectOption?basicDataType=Order_OrderBusinessType">
</page-main-header-component>

<div class="content-wrapper sales-order" ng-init="listParams.orderStatus=mainStatus.pageParams.orderStatus">
  <table-list list-data="rest/authen/invoice/query.json?source=采购发票"
              list-params="listParams"
              search-mode="noCaseSensitive"
              search-param="q">
    <!-- 主内容区域 -->
    <div class="content-wrapper-main">
      <div ng-if="!status.isLoading">
        <div ng-if="tbodyList.length==0">
          <p class="empty-data text-center"><span class="empty-data-icon"></span></p>
          <p class="text-center">嘿，这里暂时什么内容都没有哦...</p>
        </div>
        <ul ng-if="tbodyList.length">
          <li class="pdr-m pdl-m relative confirm-order-list" ng-repeat="tr in tbodyList">
            <div class="mgb-xxl pr-bg-white pr-fuzzy-boundary relative">
              <div class="relative">
                <div class="flex-column">
                  <span class="flex-item-6 title-states text-bold color-3 pd-m">{{tr.orderStatus}}</span>
                    <span class="flex-item-6 text-right">
                      <span ng-if="tr.orderStatus=='未提交'" >

                        <a href="#/invoice/edit.html?id={{tr.id}}" class="btn-link pd-m rect-s " title="编辑">
                        <span class="edit-link-icon">&nbsp;</span></a>
                        <a ng-if="tr.orderStatus=='未提交'"
                           href="javascript:;"
                           class="btn-link pd-m rect-s"
                           title="删除"
                           handle-this-click
                           dialog-title="确认删除 ?"
                           dialog-content="您确认删除这条采购发票吗?"
                           dialog-template="pr-dialog-confirm.html"
                           request-url="rest/authen/invoice/delete?id={{tr.id}}"
                           callback="$root.utils.refreshHref()">
                          <span class="delete-link-icon">&nbsp;</span>
                        </a>
                      </span>
                      <span ng-if="tr.orderStatus!='未提交'" class=" text-right">
                        <a ng-if="tr.orderStatus!='待审核'&&tr.orderStatus!='未提交'"
                         href="#/invoice/get.html?id={{tr.id}}" class="btn-link pd-m rect-s " title="查看详情">
                        <span class="watch-detail-icon">&nbsp;</span>
                        </a>
                        <a ng-if="tr.orderStatus=='待审核' && $root.utils.getcustomMenuByKeyOfArr(tr.didateFilter.buttons,'通过')"
                           ng-href="#/invoice/get.html?id={{tr.id}}"
                           title="立即审核"
                           class="btn-link pd-m rect-s "
                           >
                          <span class="examine-approve">&nbsp;</span>
                         </a>
                      </span>
                </div>
              <div class="card-new">
                  <div class="bt-line">
                    <h1 class="text-center text-m color-3 text-ellips-s">{{tr.seller.name || '暂无'}}</h1>
                  </div>
                  <div class="flex-column qurey text-s color-9 bt-dashed-line">
                    <span class="flex-item-6">发票编号</span>
                    <span class="flex-item-6 text-right pr-indent-10"><strong class="color-black text-normal">{{tr.code}}</strong></span>
                  </div>
                  <div class="flex-column qurey text-s color-9 bt-dashed-line">
                    <span class="flex-item-6 text-left">开票日期</span>
                    <span class="flex-item-6 text-right">
                        <strong class="color-black text-normal">{{tr.billingDate || '暂无' | date : 'yyyy-MM-dd'}}</strong>
                    </span>
                  </div>
                  <div class="flex-column qurey text-s color-9 bt-dashed-line">
                    <span class="flex-item-6 text-left">制单人</span>
                    <!-- <span class="flex-item-6 text-right"> -->
                      <span class="flex-item-6 text-right purchaseorder-buyer-info-outside">
                        <strong run-popovers class="color-custom-orange cur-pot text-normal pr-color"
                        style="position:relative;height:25px;">{{tr.inputUser.n}}</strong>
                        <span class="purchaseorder-buyer-info" style="top:242px;right:-62px">
                          <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{tr.inputUser.p}}</em></i>
                          <i class="block pdb-s text-normal">
                            <em class="fa fa-comment-o mgl"></em>
                            <em class="inline-block pdl pdr pdt">
                              <a href="javascript:;"
                                 modal-center="340"
                                 modal-data='{"toUser":{"n":"{{tr.inputUser.n}}"},"userIds":["{{tr.inputUser.id}}}"]}'
                                 modal-url="views/notice/sendToUser.html">发送消息
                              </a>
                            </em>
                          </i>
                        </span>
                      </span>
                        <!-- <strong class="color-black text-normal">{{tr.applicant.n || '暂无'}}</strong>
                    </span> -->
                  </div>
                  <div class="flex-column qurey text-s color-9 bt-dashed-line">
                    <span class="flex-item-12 text-right text-m ">
                      <em>合计：</em>
                        <em class="color-3">￥{{tr.totalPrice|number : 2}}</em>
                    </span>
                  </div>
                  <div class="flex-column qurey text-s color-9 bt-line">
                    <p
                    title="{{tr.note}}"
                    class="text-ellips-s">
                      <span >备注：</span><span class="color-6">{{tr.note}}</span>
                    </p>
                  </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    <!-- 导航 -->
    <div class="clearfix pd-c-m" ng-if="tbodyList.length">
        <div class="fr">
            <pagination status="status"></pagination>
        </div>
    </div>
  </table-list>
</div>
