<div class="modal-content pr-modal-content" ng-controller="editCtrl">
  <form class="add-customerAddress-form form-horizontal"
        name="editForm"
        ng-init="formData=dialogData.contact;formData.invoicesAddressId=dialogData.invoicesAddressId"
        action="rest/authen/invoicesAddress/contact/save"
        alert-error
        callback="$root.reloadTime=$root.utils.getNowTime();$root.modal.closeAll();"
        form-validator>
    <div class="modal-header">
        <h4 class="modal-title">{{formData&&formData.id?"编辑":"添加"}}收货人信息</h4>
    </div>
    <div class="modal-body">
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label text-left">收货人</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text" class="form-control" placeholder="请填写收货人姓名" ng-model="formData.name"/>
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">手机</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text"
                     class="form-control"
                     placeholder="请填写联系手机号码"
                     ng-model="formData.tel"
                     maxlength="11"
                     name="tel"
                     ng-pattern="/^1(3|4|5|7|8)\d{9}$/"
                     data-content="请输入11位手机号码"
                     invalid-popover="{{editForm.tel.$invalid}}"
                     placement="top" />
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">省/市/区</label>
          <div class="col-lg-10 col-sm-10">
            <input class="form-control"
                   ng-init="province_city_area=formData.prov+' '+formData.city+' '+formData.area"
                   select-address p="formData.prov" c="formData.city" a="formData.area" d="d" ng-model="province_city_area" placeholder="请选择省/市/区" type="text"
                   required/>
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">详细地址</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text" class="form-control" placeholder="详细收货地址" ng-model="formData.address"/>
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label"></label>
          <div class="col-lg-10 col-sm-10">
            <input type="submit"
                   class="btn pr-btn-create-glodbg"
                   value="提交"
                   ng-disabled="!formData.name || !formData.tel || !formData.address || !province_city_area">
            <button ng-if="dialogData.contact.id"
                    type="button"
                    class="btn btn-warning pr-btn-xsm mgr mgl"
                    ng-disabled="!formData.id&&!formData.customerAddressId"
                    handle-this-click
                    dialog-title="确认删除?"
                    dialog-content="确认删除?"
                    dialog-template="pr-dialog-submit.html"
                    callback="$root.reloadTime=$root.utils.getNowTime();$root.modal.closeAll();"
                    params='{"contactId":formData.id}'
                    request-url="rest/authen/invoicesAddress/contact/delete">删除
            </button>
          </div>
      </div>
    </div>
  </form>
</div>
