<div class="sale-return-order right-side pr-bg-black3" >
  <div class="sale-bg">
    <!-- 头部信息 -->
      <form class="form-horizontal"
            id="businessScope_editForm1"
            name="businessScope_editForm1"
            form-validator
            parameter-body
            action="rest/authen/qualificationCertificate/save"
            alert-error
            alert-ok
            scope-error-msg="errorMsg"
            scope-data="formData"
            novalidate="true"
            callback="listObject.reloadTime=$root.utils.getNowTime()">
    <div class="relative ">
      <div class="mgb-l pd-c-l pdt pdb pr-font-14 color-light-brown entry-detailed-btm">新增资质证照</div>

      <div class="pr-panel-height select-bg" style="padding:15px 0;">
        <label class="flex-item-2 text-right pdr-s mgl-s">证照类型</label>
        <select class="ipt ipt-new-select color-3"
                data-placeholder=" "
                default-empty="全部"
                chosen
                style="width:220px"
                ng-model="formData.logisticsCenterId"
                select-source="rest/index/queryBasicdataForSelectOption?basicDataType=License_SystemPresetLicenseType">
        </select>
          <!-- <div class="mgl-s text-left"
               angucomplete-supplier
               placeholder=""
               title-field="value"
               search-fields="{{licenseData.value}}"
               url="rest/index/queryBasicdataForSelectOption?basicDataType=License_SystemPresetLicenseType"
               ng-model="tmp_customer"
               ng-model-id="filterObject.value"
               class="inline-block text-s" style="height:28px;">
          </div> -->
      </div>
    </div>




        <div class="flex-column mgt">
            <label class="flex-item-2 text-right pdr-s mgl-s">是否预警</label>
            <div class="mgl-s text-left">
                <select class="ipt pr-short-ipt ipt-new-s "
                        chosen
                        default-empty="-请选择-"
                        ng-model="filterObject.salesDepartmentId"
                        select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_BooleanType">
                </select>
            </div>
        </div>
        <div class="flex-column mgt">
            <label class="flex-item-2 text-right pdr-s mgl-s">证照过期控制</label>
            <div class="mgl-s text-left">
                <select class="ipt pr-short-ipt ipt-new-s "
                        data-placeholder=" "
                        chosen
                        default-empty="-请选择-"
                        ng-model="filterObject.saleUserId"
                        select-source="rest/index/queryBasicdataForSelectOption?basicDataType=License_ControllType"
                >
                </select>
            </div>
        </div>


      <div class="mgb-l pd-c-l pr-font-12 color-light-brown flex-column pr-fw-700 mgt-m">关联企业类型
          <div class="form-ctrl license-file-300 mgl-s"
               ajax-url="rest/index/queryBasicdataForSelectOption?basicDataType=License_SystemPresetCompanyType"
               scope-data="departments"
               alert-error>
              <fieldset>
                  <label class="quali-selection relative"  ng-repeat="item in departments track by $index" title="{{item.value}}">
                      <input type="checkbox"
                             value="{{item.id}}"
                             class="click-reverse-selection3 mgl-m quali-position">{{item.value}}
                  </label>
              </fieldset>
          </div>
          <!--<p ng-if="groupFlag" class="color-red pdl-xl">分组条件至少选择一种!</p>-->
          <!--<p ng-if="yearMonthGroupFlag" class="color-red pdl-xl">不能对月进行单独分组查询，必须带年分组查询!</p>-->
      </div>
        <!-- 备注 -->
        <div class="mgb-l pr-font-12 color-light-brown flex-column">
            <h1 class="quali-pd-l pr-fw-700">备注</h1>
            <div class="panel pr-fuzzy-boundary pr-panel-height mgb-l ">
                <!--<input type="text" class="">-->
                <textarea class="pr-textarea" maxlength="240" style="height:92px;min-width: 320px;" placeholder="" ng-model="formData.note" onkeydown="if(window.event.keyCode==13) return true;"></textarea>
            </div>
        </div>
      <!-- 功能按钮 -->
      <div class="sales-btn-area-2nd relative">
          <div class="btn-area full-width text-center">

          <button type="submit"
                  class="pr-btn-save-glodbg mgr-l"
                  ng-disabled=""
                  style="width:160px;">确定
          </button>
          </div>
      </div>

      </form>
  </div>
</div>
