<div class="modal-content pr-modal-content" ng-controller="editCtrl">
  <form class="add-customerAddress-form form-horizontal"
        name="editForm"
        ng-init="formData=dialogData.contact;formData.customerAddressId=dialogData.customerAddressId"
        action="rest/authen/customerAddress/contact/save"
        alert-error
        callback="$root.reloadTime=$root.utils.getNowTime();$root.modal.closeAll();"
        form-validator>
    <div class="modal-header">
        <h4 class="modal-title">{{dialogData.title}}</h4>
    </div>
    <div class="modal-body">
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label text-left">联系人</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text"
                     class="form-control"
                     placeholder="请填写联系人姓名"
                     ng-model="formData.name"
                     name="name"
                     ng-pattern="/^.{1,9}$/"
                     data-content="最多10个字符"
                     invalid-popover="{{editForm.name.$invalid}}"
                     placement="top"/>
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">手机</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text" class="form-control" placeholder="请填写联系手机号码"  ng-model="formData.tel"
              maxlength="11"
               name="tel"
              ng-pattern="/^1(3|4|5|7|8)\d{9}$/"
              data-content="请输入11位手机号码"
              invalid-popover="{{editForm.tel.$invalid}}"
              placement="top" />
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">省/市/区</label>
          <div class="col-lg-10 col-sm-10">
            <input class="form-control"
                   ng-init="province_city_area=formData.prov+' '+formData.city+' '+formData.area"
                   select-address p="formData.prov" c="formData.city" a="formData.area" d="d" ng-model="province_city_area" placeholder="请选择省/市/区" type="text"
                   required/>
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">详细地址</label>
          <div class="col-lg-10 col-sm-10">
              <!-- <input type="text" class="form-control" placeholder="详细收货地址" ng-model="formData.address"/> -->
              <input type="text"
                     class="form-control"
                     placeholder="详细收货地址"
                     ng-model="formData.address"
                     name="address"
                     ng-pattern="/^.{1,50}$/"
                     data-content="详细地址信息过长"
                     invalid-popover="{{editForm.address.$invalid}}"
                     placement="top"/>
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">邮编</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text" class="form-control" placeholder="请填写邮编"  ng-model="formData.zipCode"/>
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">座机号码</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text" class="form-control" placeholder="请填写座机号码"  ng-model="formData.telephone"/>
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">传真号码</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text" class="form-control" placeholder="请填写传真号码"  ng-model="formData.fax" />
          </div>
      </div>
      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label">电子邮箱</label>
          <div class="col-lg-10 col-sm-10">
              <input type="text" class="form-control" placeholder="请填写电子邮箱" name="email"  ng-model="formData.email"

               name="email"
              ng-pattern="/^([a-zA-Z0-9_-])+@([a-zA-Z0-9_-])+(.[a-zA-Z0-9_-])+/ "
              data-content="请填写正确的电子邮箱"
              invalid-popover="{{editForm.email.$invalid}}"
              placement="top" />
          </div>
      </div>

      <div class="form-group mgb">
          <label class="col-lg-2 col-sm-2 control-label"></label>
          <div class="col-lg-10 col-sm-10">
            <input type="submit"
                   class="btn pr-btn-create-glodbg"
                   value="提交"
                   ng-disabled="!formData.name || !formData.tel || !formData.address || !province_city_area">
            <!-- <button ng-if="dialogData.contact.id && (dialogData.defaultContactId!==formData.id)"
                    type="button"
                    class="btn btn-warning pr-btn-xsm mgr mgl"
                    ng-disabled="!formData.id&&!formData.customerAddressId"
                    handle-this-click
                    dialog-title="确认删除?"
                    dialog-content="确认删除?"
                    dialog-template="pr-dialog-submit.html"
                    callback="$root.reloadTime=$root.utils.getNowTime();$root.modal.closeAll();"
                    params='{"customerAddressId":formData.customerAddressId,"contactId":formData.id}'
                    request-url="rest/authen/customerAddress/contact/delete">删除
            </button> -->
          </div>
      </div>
    </div>
  </form>
</div>
