<!--      alert-error   -->
<div class="create-new-order allocate-order  collarApplicationOrder-edit purchase-plan-order"
     ng-controller="returnOrderCtrl"
     ajax-url="rest/authen/returnOrder/getOfEdit?lendOrderId={{mainStatus.pageParams.lendOrderId}}&id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="formData"
     callback="formData.relIds = formData.relIds ? formData.relIds : [];  initFlag=true;watchFormChange('formData');choisedMedicals=false;calcTotalPrice(formData.orderMedicalNos);quantityError=false;canSubmit=false;comfirmQuantity(formData.orderMedicalNos);"
   >
  <form id="editForm"
         name="editForm"
         form-validator
         parameter-body
         action="rest/authen/returnOrder/save"
         alert-error
         alert-ok
         scope-error-msg="errorMsg"
         scope-data="formData"
         callback="submitFormAfter();watchFormChange('formData')"
         novalidate="novalidate">

     <page-main-header-component list-params="listParams"
                                 crumbs-nav='[{"name":"库存管理","link":"","style":""},{"name":"归还单","link":"","style":"color-custom-orange"},{"name":"新建归还单","link":"","style":""}]'
                                 component-title="归还单-{{formData&&formData.id?'编辑':'新建'}}">
     </page-main-header-component>

     <div class="content-wrapper">
       <div ng-if="formData.operationFlowSet.message||formData.operationFlowSet.key" class="pr-panel pr-panel-height mgb pr-bg-pink1">
         <em class="color-red">原因:</em>
         <p class="inline-block color-red">
           <em ng-model="formData.operationFlowSet.key">{{formData.operationFlowSet.key}}</em>
           <em ng-model="formData.operationFlowSet.message">{{formData.operationFlowSet.message}}</em>
         </p>
       </div>


       <!--预入物流中心-->
       <div class="">
         <div class="inline-block">
           <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height" style="padding:15px;min-height:88px;min-width:412px;">
             <div class="inline-block logistics-center"></div>
             <div class="inline-block">
               <p class="mgb-s">预入物流中心</p>
               <p class="text-m color-3">

                 <!--<select ng-if="!formData.customerId"-->
                         <!--class="ipt-new-select"-->
                         <!--ng-disabled="true">-->
                 <!--</select>-->

                 <select class="ipt pr-long-ipt color-6"
                         data-placeholder=" "
                         chosen
                         ng-disabled="formData.id"
                         ng-model="formData.logisticsCenterId"
                         is-disabled-this="{{formData.customerId}}"
                         select-source="rest/authen/logisticsCenter/queryForSelectOption.json">
                 </select>
               </p>
             </div>
           </div>
         </div>
       </div>

       <!--   自动打开右侧弹窗  modal-open-auto="{{!formData.medicalNos.length}}" -->
       <div class="pos-rel-tl order-create-btn mgb-m">
         <a
                 modal-right="1000"
                 modal-scope="this"
                 modal-data='{"relId":"{{formData.relId}}"}'
                 modal-url="views/returnOrder/choice-dialog.html">
           <i></i>
           <span>增加归还条目</span>
         </a>
       </div>


       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n">

         <!-- 列表 -->
         <div class="bt-line">
           <div class="flex-column color-9 pd-c-l pdt-m pdb-m bb-dashed-line">
             <div class="flex-item-6">
               <!--自动获取单号-->
               <span ng-if="numberingPolicy!='auto'" class="mgr">单据编号：
                 <input type="text"
                        class="inline ipt pr-ipt-60 text-center"
                        style="width:100px;"
                        ng-model="formData.orderCode" />
                  <em ng-if="!formData.orderCode" class="color-red">（必填）</em>
               </span>
               <span ng-if="numberingPolicy=='auto'" class="mgr">单据编号：<em class="color-3">{{formData.orderCode}}</em></span>

               <span class="mgr" style="margin-left: 10px;">单据日期:</span>
               <div class="date-icon-outside" style="top: 0; margin-right: 15px;">
                 <input type="text"
                        style="top:0px;"
                        datepicker
                        class="ipt-date ipt color-3"
                        ng-readonly="true"
                        placeholder=""
                        ng-model="formData.orderDate">
                 <span class="date-icon"></span>
               </div>

               <br>
               关联原订单ID:{{formData.relId}}<br>
               关联原订单号:{{formData.relOrderNo}}<br>
               关联原订编号:{{formData.relOrderCode}}<br>





             </div>
             <div class="flex-item-6 text-right">
               <span class="mgr">状态：<em class="color-3">{{formData.orderStatus || "暂无" }}</em></span>
             </div>
           </div>


           <div class="pd-c-l pdt-m pdb-m color-9">

             <span class="mgr">业务部门:</span>
             <select class="ipt pr-short-ipt color-3" style="width:100px;"

                     data-placeholder=" "
                     no-first-select-source="true"
                     chosen
                     ng-model="formData.businessDepartmentId"
                     select-source="rest/authen/department/queryForSelectOption">
             </select>

             <span class="mgr" style="margin-left: 20px;">业务人员:</span>
             <select class="ipt pr-short-ipt color-3" style="width:125px; margin-right: 20px;"
                     data-placeholder=" "
                     no-first-select-source="true"
                     chosen
                     ng-model="formData.saleUser.id"
                     select-source="rest/authen/organizationAndUser/queryForSelectOption?departmentId={{formData.businessDepartmentId}}">
             </select>

             <span class="mgr" style="margin-left: 10px;">计划到货日期:</span>
             <div class="date-icon-outside" style="top: 0; margin-right: 15px;">
               <input type="text"
                      style="top:0px;"
                      datepicker
                      class="ipt-date ipt color-3"
                      ng-readonly="true"
                      placeholder=""
                      ng-model="formData.expectDate">
               <span class="date-icon"></span>
             </div>

           </div>

           <div class=""><!-- class="outside-table-d" -->
             <table class="table pr-table pr-new-table" >
               <thead>
                <tr>

                  <th class="text-center">序号</th>
                  <th class="text-center">借出单编号</th>
                  <th class="text-center">商品编码</th>
                  <th class="text-left">商品名称</th>
                  <th class="text-center">剂型／分类</th>
                  <th class="text-center">商品规格</th>
                  <th class="text-center">基本单位</th>

                  <th class="text-center">借出数量</th>
                  <th class="text-center">待还数量</th>
                  <th class="text-center">计划归还数量</th>
                  <th class="text-center">预入仓库</th>

               </tr>
               </thead>
               <tbody class="bg-white">
                 <tr ng-repeat="tr in formData.medicalNos"
                     table-item-handlebtn-component
                     class="relative">

                   <td class="text-center" style="line-height:2.4">{{$index+1}}
                     <div class="table-item-handle-btn">
                       <div class="table-item-confirm-del-area bg-white">
                         <p class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                         <p class="pdt">
                           <a href="javascript:;" class="cancelHandle" ng-click="cancelHandle()">取消</a>
                           <a href="javascript:;" class="confirm-del-this btn btn-primary pr-btn-best-small pr-btn-bg-gold mgl" ng-click="formData.medicalNos.splice($index,1);formData.relIds.splice($index,1);">确认</a>
                         </p>
                       </div>
                     </div>
                   </td><!-- 序号 -->
                   <td class="text-center" style="line-height:2.4">{{tr.relOrderCode}}</td>  <!-- 借出单编号 -->
                   <td class="text-center" style="line-height:2.4">{{tr.code}}</td><!-- 商品编码 -->
                   <td class="text-left" style="line-height:2.4">
                     <span
                             class="color-orange cur-pot lend-order-goods-info"
                             ng-init="showInfoArea=false"
                             ng-mouseenter="showInfoArea=true"
                             ng-mouseleave="showInfoArea=false"
                             title="{{tr.name}}"
                     > {{tr.name}}
                      <show-info-modal ng-show="showInfoArea"
                                       get-data-type="local"
                                       template-url="tpl/showInfoModalLendOrder"
                                       info-object="{{tr}}"
                                       info-title="商品信息">
                      </show-info-modal>
                    </span>

                   </td><!-- 商品全名 -->
                   <td class="text-center" style="line-height:2.4">{{tr.specificationAndModelType}}</td> <!--剂型／分类 -->
                   <td class="text-center" style="line-height:2.4">{{tr.specificationAndModelType}}</td><!-- 商品规格 -->
                   <td class="text-center" style="line-height:2.4">{{tr.packingAttribute.name}}</td><!-- 基本单位 -->

                   <td class="text-center">{{tr.planQuantity}}</td><!-- 借出数量 -->
                   <td class="text-center">{{tr.planQuantity - tr.cumulativeReturnCount}}</td><!-- 待还数量 -->

                   <td class="text-center" style="white-space: nowrap;" ng-init="tr.planReturnCount =tr.planReturnCount ? tr.planReturnCount :(tr.planQuantity - tr.cumulativeReturnCount)">
                     <div class="order-goods-num">
                       <button type="button" class="inline-block left" ng-click="tr.planReturnCount=$root.utils.transformToNumber(tr.planReturnCount)-1;" ng-disabled="item.quantity==1">-</button>
                       <span class="inline-block">
                          <input type="number"
                                 name="quantity{{$index}}"
                                 class="inline ipt pr-ipt-60 text-center item-planQuantity"
                                 style="width:60px;"
                                 ng-model="tr.planReturnCount"
                                 ng-class="{'pr-bg-pink': medicalStockMap[item.relId].quantity<item.quantity}"
                                 ng-pattern="/^\+?[1-9][0-9]{0,5}$/"
                                 invalid-popover
                                 valid-value="{{!editForm['quantity'+$index].$valid}}"
                                 popover-show="checkQuantity(tr)"
                                 popover-options='{"content":"计划归还数量不能大于待还数量或小于1", "placement":"top", "trigger":"manual"}'
                                 onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                                 >
                        </span>
                       <button type="button" class="inline-block right" ng-click="tr.planReturnCount=$root.utils.transformToNumber(tr.planReturnCount)+1;">+</button>
                     </div>
                   </td><!-- 计划归还数量 -->

                   <td class="text-center">{{tr.packingAttribute.name}}</td><!-- 预入仓库 -->

                 </tr>
               </tbody>
             </table>
           </div>
           <div class="pr-bg-white" ng-if="!formData.medicalNos.length">
             <div class="empty-table clearfix">
               <div>&nbsp;</div>
               <div>&nbsp;</div>
               <div>&nbsp;</div>
             </div>
           </div>
           <!-- 制单人信息 -->
           <div class="flex-column color-9 pd-c-l pdt-m pdb-m" style="border-top: 1px solid rgba(209,143,0,0.20);">
             <div class="flex-item-6 text-right"></div>
             <div class="flex-item-6 text-right">
               <span class="mgr">制单部门：<em class="color-3">{{scopeData.departmentName || '暂无'}}</em></span>
               <span class="mgr">制单人：<em class="color-3">{{scopeData.inputUser.n || '暂无'}}</em></span>
               <span class="mgr">录单日期：<em class="color-3">{{scopeData.createAt || '暂无' | date:'yyyy-MM-dd hh:mm'}}</em></span>
             </div>
           </div>
         </div>
       </div>

       <!-- 运输／仓储 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
         <h1 class="text-bold color-3 inline-block" style="border-right: 1px solid rgba(0,0,0,0.15); padding-right: 20px; margin-right: 20px;">运输／仓储</h1>
         <!--ng-disabled="formData.id"-->
         <span class="mgr">运输方式：</span>
         <select class="ipt pr-short-ipt color-3" style="width:100px;"
                 data-placeholder=" "
                 no-first-select-source="true"
                 chosen
                 ng-model="formData.payAndDelivery.transportType"
                 select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_TransportType">
         </select>
         <!--ng-disabled="formData.id"-->
         <span class="mgr" style="margin-left: 30px;">承运公司：</span>
         <select class="ipt pr-short-ipt color-3" style="width:100px;"

                 data-placeholder=" "
                 no-first-select-source="true"
                 chosen
                 ng-model="formData.payAndDelivery.kuaidiType"
                 select-source="rest/index/queryBasicdataForSelectOption?basicDataType=Basic_KuaidiType">
         </select>

       </div>

       <!-- 收货方信息 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
         <header class="text-n color-3 text-bold">收货方信息
           <span class="tools pull-right">
              <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
            </span>
         </header>
         <div class="panel-body" style="display:none;padding:15px 0 0 0;">
           <p class="">
             {{scopeData.customerContacts.name}}&nbsp;&nbsp;{{scopeData.customerContacts.tel}}&nbsp;&nbsp;{{scopeData.customerContacts.prov}}&nbsp;&nbsp;{{scopeData.customerContacts.city}}&nbsp;&nbsp;{{scopeData.customerContacts.area}}&nbsp;&nbsp;{{scopeData.customerContacts.address}}
           </p>
         </div>
       </div>
       <!-- 发货方信息 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
         <header class="text-n color-3 text-bold">发货方信息
           <span class="tools pull-right">
              <a href="javascript:;" class="fa fa-chevron-down" toggle-panel></a>
            </span>
         </header>
         <div class="panel-body" style="display:none;padding:15px 0 0 0;">
           <h1 class="mgb">
             <p class="">
               {{scopeData.invoicesContacts.name}}&nbsp;&nbsp;{{scopeData.invoicesContacts.tel}}&nbsp;&nbsp;{{scopeData.invoicesContacts.prov}}&nbsp;&nbsp;{{scopeData.invoicesContacts.city}}&nbsp;&nbsp;{{scopeData.invoicesContacts.area}}&nbsp;&nbsp;{{scopeData.invoicesContacts.address}}
             </p>
         </div>
       </div>

       <!-- 备注 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb">
         <h1 class="text-bold color-3 inline-block">备注</h1>
         <textarea class="pr-textarea mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note"></textarea>
       </div>
     </div>
     <!-- 流程图 -->

     <!-- <business-flow-show business-key="{{formData.id}}" business-type="采购单"></business-flow-show> -->
    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <span>
          <a ng-if="changeFlag"
             href="javascript:;"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="有修改数据还未保存，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo('#/returnOrder/query.html')"
             save-callback="submitForm('editForm','exit')">返回归还单列表
          </a>

          <a ng-if="!changeFlag" href="#/returnOrder/query.html" >返回归还单列表</a>
        </span>
        <span class="mgl mgt">
          <a ng-if="formData.inputUserId==mainStatus.id"
             href="javascript:;"
             handle-this-click
             class="pr-color-red"
             dialog-title="确认删除 ?"
             dialog-content="您确认删除这条采购单吗?"
             dialog-template="dialog-confirm.html"
             request-url="rest/authen/returnOrder/delete?id={{formData.id}}"
             callback="goTo('#/returnOrder/query.html')">删除
          </a>
        </span>
        <!---->
        <span class="mgl mgt">
          <button class="pr-btn-save-glodbg mgr-l"
                  type="button"
                  ng-disabled="!changeFlag"
                  ng-click="submitForm('editForm','save')"
              >保存
          </button>
        </span>

        <span>
          <button class="pr-btn-create-glodbg mgt"
                  type="button"
                  handle-this-click
                  dialog-title="确认提交?"
                  dialog-content="提交后，将无法修改。确认提交?"
                  dialog-template="pr-dialog-submit.html"
                  callback="submitForm('editForm','submit')"
                  ng-disabled="!formData.orderCode || !formData.medicalNos.length || !checkCanSubmit()"
                   >提交
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
