<div class="pr-page-dialog-wrap"
  ng-controller="inventoryOrderEditCtrl"
  ng-init="previewMessage(dialogData.id);">
  <div class="pr-page-dialog-title bb-line">
    <span class="mgl-l">{{dialogData.text}}</span>
  </div>
  <div class="pr-page-dialog-content bb-line">
      <div class="mgb-l" style="color:{{contextColor}}">{{messageText}}</div>
  </div>
  <div class="pr-page-dialog-footer text-center mg-m">
    <button type="button" class="pr-btn-save-glodbg btn-new-wid-hei" ng-click="sendMessage(dialogData.id)">发送</button>
  </div>
</div>
