<div class="create-new-order allocate-order  collarApplicationOrder-edit purchase-plan-order"
     ng-controller="collarReturnOrderCtrl"
     ajax-url="rest/authen/collarReturnOrder/getOfEdit?id={{mainStatus.pageParams.id}}&copyId={{mainStatus.pageParams.copyId}}&businessKey={{mainStatus.pageParams.businessKey}}"
     scope-data="formData"
     callback="formData.relIds = formData.relIds ? formData.relIds : [];   ;initFlag=true;watchFormChange('formData');choisedMedicals=false;calcTotalPrice(formData.orderMedicalNos);quantityError=false;canSubmit=false;comfirmQuantity(formData.orderMedicalNos);"
     alert-error>
  <form id="editForm"
         name="editForm"
         form-validator
         parameter-body
         action="rest/authen/collarReturnOrder/save"
         alert-error
         alert-ok
         scope-error-msg="errorMsg"
         scope-data="formData"
         callback="submitFormAfter();watchFormChange('formData')"
         novalidate="novalidate">

     <page-main-header-component list-params="listParams"
                                 crumbs-nav='[{"name":"我要领用","link":"","style":""},{"name":"领退申请单","link":"","style":"color-custom-orange"},{"name":"新建领退申请单","link":"","style":""}]'
                                 component-title="领退申请单-{{formData&&formData.id?'编辑':'新建'}}">
     </page-main-header-component>

     <div class="content-wrapper">
       <div ng-if="formData.operationFlowSet.message||formData.operationFlowSet.key" class="pr-panel pr-panel-height mgb pr-bg-pink1">
         <em class="color-red">原因:</em>
         <p class="inline-block color-red">
           <em ng-model="formData.operationFlowSet.key">{{formData.operationFlowSet.key}}</em>
           <em ng-model="formData.operationFlowSet.message">{{formData.operationFlowSet.message}}</em>
         </p>
       </div>

       <div class="pos-rel-tl order-create-btn mgb-m">
         <a ng-if="initFlag"
            modal-right="1000"
            modal-open-auto="{{!formData.orderMedicalNos.length}}"
            modal-scope="this"
            modal-data='{"pageParamsId":"{{mainStatus.pageParams.id}}"}'
            modal-url="views/collarReturnOrder/choice-dialog.html">
           <i></i>
           <span ng-if="!formData.orderMedicalNos.length">增加退货条目</span>
           <span ng-if="formData.orderMedicalNos.length" >修改退货条目</span>
         </a>
       </div>

       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height pd-n">


         <!-- 列表 -->
         <div class="bt-line">
           <div class="flex-column color-9 pd-c-l pdt-m pdb-m bb-dashed-line">
             <div class="flex-item-6">
               <!--"formData.relIds":{{formData.relIds}}-->
               <span class="mgr">单据编号：
                 <input type="text"
                      class="inline ipt pr-ipt-60 text-center"
                      style="width:100px;"
                      ng-model="formData.orderCode" />
                <span ng-if="!formData.orderCode" class="color-red">（必填）</span>
               </span>

               <span class="mgr">审核人：<em class="color-3">{{formData.approver.approverUser.n || '暂无'}}</em></span>

               <span class="mgr">制单人：
                 <span class="purchaseorder-buyer-info-outside">
                   <strong run-popovers class="color-custom-orange cur-pot text-normal pr-color"
                   style="position:relative;height:25px;">{{formData.inputUser.n}}</strong>
                   <span class="purchaseorder-buyer-info" style="top:158px;right:1255px">
                     <i class="block bb-line pdb-s text-normal"><em class="fa fa-mobile-phone mgl text-m"></em><em class="inline-block pdl pdr pdt">{{formData.inputUser.p}}</em></i>
                     <i class="block pdb-s text-normal">
                       <em class="fa fa-comment-o mgl"></em>
                       <em class="inline-block pdl pdr pdt">
                         <a href="javascript:;"
                            modal-center="340"
                            modal-data='{"toUser":{"n":"{{formData.inputUser.n}}"},"userIds":["{{formData.inputUser.id}}}"]}'
                            modal-url="views/notice/sendToUser.html">发送消息
                         </a>
                       </em>
                     </i>
                   </span>
                 </span>
               </span>


             </div>
             <div class="flex-item-6 text-right">
               <span class="mgr">录单日期：<em class="color-3">{{formData.createAt || '暂无' | date:'yyyy-MM-dd'}}</em></span>
               <span class="mgr">状态：<em class="color-3">{{formData.orderStatus}}</em></span>
             </div>


           </div>


           <div class="pd-c-l pdt-m pdb-m color-9">
             <span class="mgr" >
               <!-- {{formData.departmentId}} -->
               <span class="mgr">申请人:</span>
               <select ng-if="initFlag" class="ipt pr-short-ipt color-3" style="width:90px;"
                       ng-disabled="formData.id"
                       data-placeholder=" "
                       no-first-select-source="true"
                       chosen
                       ng-model="formData.applicant.id"
                       select-source="rest/authen/organizationAndUser/queryForSelectOption?departmentId={{formData.departmentId}}">
               </select>

               </span>
             <span class="mgr">申请日期:</span>
             <div class="date-icon-outside">
               <input type="text"
                      style="top:0px;"
                      datepicker
                      class="ipt-date ipt color-3"
                      ng-readonly="true"
                      placeholder=""
                      ng-model="formData.createAt">
                     <span class="date-icon"></span>
             </div>


             申请部门：{{formData.departmentName}}



             <!--<select class="ipt pr-short-ipt color-3" style="width:100px;"-->
                     <!--ng-disabled="formData.id"-->
                     <!--data-placeholder=" "-->
                     <!--no-first-select-source="true"-->
                     <!--chosen-->
                     <!--ng-model="formData.departmentId"-->
                     <!--select-source="rest/authen/department/queryForSelectOption">-->
             <!--</select>-->
           </div>
           <div class="outside-table-d">
             <table class="table pr-table pr-new-table" >
               <thead>
                <tr>

                  <th class="text-center">序号</th>
                  <th class="text-center">领用单编号</th>
                  <th class="text-center">商品编码</th>
                  <th class="text-left">商品名称</th>
                  <th class="text-center">可退数量</th>
                  <th class="text-center">生产批号/数量</th>
                  <th class="text-center">商品规格</th>
                  <th class="text-center">基本单位</th>

               </tr>
               </thead>
               <tbody class="bg-white">
                 <tr ng-repeat="tr in formData.orderMedicalNos"
                     table-item-handlebtn-component
                     class="relative">

                   <td class="text-center" style="line-height:2.4">{{$index+1}}
                     <div class="table-item-handle-btn">
                       <div class="table-item-confirm-del-area bg-white">
                         <p class="bb-line color-red pd-v-s">确认删除本条数据?</p>
                         <p class="pdt">
                           <a href="javascript:;" class="cancelHandle" ng-click="cancelHandle()">取消</a>
                           <a href="javascript:;" class="confirm-del-this btn btn-primary pr-btn-best-small pr-btn-bg-gold mgl" ng-click="formData.orderMedicalNos.splice($index,1);formData.relIds.splice($index,1);">确认</a>
                         </p>
                       </div>
                     </div>
                   </td><!-- 序号 -->

                   <td class="text-center" style="line-height:2.4">{{tr.relOrderCode}}</td>  <!-- 领用单编号 -->
                   <td class="text-center" style="line-height:2.4">{{tr.code}}</td><!-- 商品编码 -->
                   <td class="text-left" style="line-height:2.4">
                     <div class="autocut" title="{{tr.name}}">
                        {{tr.name}}
                      </div>
                   </td><!-- 商品全名 -->

                   <td class="text-center" style="white-space: nowrap;">{{tr.returnTotal}}</td><!-- 可退数量 -->


                   <!-- 生产批号/数量 -->
                   <td ng-init="tr.stockBatchs = tr.stockBatchs ? tr.stockBatchs : []" class="text-center" style="width:180px">

                     <!-- 已选批号列表 -->
                     <div ng-repeat="batch in tr.stockBatchs" ng-init="showDelIcon=false"
                          class="ipt-div relative mgb"
                          ng-mouseenter="showDelIcon=true" ng-mouseleave="showDelIcon=false">
                       <div class="inline-block text-ellips-s"
                            style="width:118px;height:100%;"
                            ng-class="{'pr-bg-green2 br-line':(batch.batchNumber)}">{{batch.productionBatch}}
                       </div>
                       <input type="number"
                              class="in_ipt"
                              name="batchNum{{$index}}"
                              ng-model="batch.quantity"
                              onKeypress="return(/[\d]/.test(String.fromCharCode(event.keyCode)))"
                              ng-change="batchsNumOverload(formData.orderMedicalNos);changeQuantity(formData.orderMedicalNos);">
                       <input type="hidden" required ng-model="batch.id">
                       <span ng-if="showDelIcon" class="circle-s" ng-click="tr.stockBatchs.splice($index,1)"><i class="fa fa-times-circle"></i></span>
                     </div>

                     <!-- 批号选择    ng-if="calculaBatchsTotal(item,item.goodsCount)<item.goodsCount" -->
                     <div class="ipt-div relative" style="width:100%;">
                       <i class="addImg"
                          style="left:85%"
                          modal-right="60%"
                          modal-scope="this"
                          modal-data='{
                                    "index":{{$index}},
                                    "medicalName":"{{tr.name}}",
                                    "relMedicalStockId":"{{tr.relMedicalStockId}}",
                                    "orderId":"{{tr.relId}}",
                                    "goodsCount":{{tr.goodsCount || 0}}
                                  }'
                          modal-url="views/collarReturnOrder/choice-batchs-dialog.html">
                       </i>
                     </div>

                   </td>

                   <td class="text-center" style="line-height:2.4">{{tr.specificationAndModelType}}</td><!-- 商品规格 -->
                   <td class="text-center" style="line-height:2.4">{{tr.packingAttribute.name}}</td><!-- 商品单位 -->

                 </tr>
               </tbody>
             </table>
           </div>
           <div class="pr-bg-white" ng-if="!formData.orderMedicalNos.length">
             <div class="empty-table clearfix">
               <div>&nbsp;</div>
               <div>&nbsp;</div>
               <div>&nbsp;</div>
             </div>
           </div>
         </div>
       </div>
       <!-- 备注 -->
       <div class="panel pr-panel pr-fuzzy-boundary pr-panel-height mgb-l">
         <h1 class="text-bold color-3 inline-block">备注</h1>
         <textarea class="pr-textarea mgt" maxlength="240" style="height:92px;" placeholder="" ng-model="formData.note"></textarea>
       </div>
     </div>
     <!-- 流程图 -->



     <!-- <business-flow-show business-key="{{formData.id}}" business-type="采购单"></business-flow-show> -->
    <!-- 功能按钮 -->
    <div class="handle-btn-area">
      <div class="btn-area" style="background:rgba(54,48,44,0.30);">
        <span>
          <a ng-if="changeFlag"
             href="javascript:;"
             handle-this-click
             dialog-title="确认返回?"
             dialog-content="有修改数据还未保存，是否保存?"
             dialog-template="pr-dialog-return.html"
             nosave-callback="goTo('#/collarReturnOrder/query.html')"
             save-callback="submitForm('editForm','exit')">返回领退申请单列表
          </a>

          <a ng-if="!changeFlag" href="#/collarReturnOrder/query.html" >返回领退申请单列表</a>
        </span>
        <span class="mgl mgt">
          <a ng-if="formData.inputUserId==mainStatus.id"
             href="javascript:;"
             handle-this-click
             class="pr-color-red"
             dialog-title="确认删除 ?"
             dialog-content="您确认删除这条采购单吗?"
             dialog-template="dialog-confirm.html"
             request-url="rest/authen/collarReturnOrder/delete?id={{formData.id}}"
             callback="goTo('#/collarReturnOrder/query.html')">删除
          </a>
        </span>
        <!--ng-disabled="!changeFlag"-->
        <span class="mgl mgt">
          <button class="pr-btn-save-glodbg mgr-l"
                  type="button"
                  ng-click="submitForm('editForm','save')"
              >保存
          </button>
        </span>
        <span>


          <!--ng-disabled="quantityError || canSubmit ||!formData.orderCode ||!formData.storeRoomId ||!formData.orderMedicalNos.length "-->

          <button class="pr-btn-create-glodbg mgt"
                  type="button"
                  handle-this-click
                  dialog-title="确认提交?"
                  dialog-content="提交后，将无法修改。确认提交?"
                  dialog-template="pr-dialog-submit.html"
                  callback="submitForm('editForm','submit')"
                   >提交
          </button>
        </span>
      </div>
    </div>
  </form>
</div>
